﻿<div class="box">
    <div class="box-header">
        <h4>
            {{'LanguageContents.Res_1701.Caption'|translate}}(s)
        </h4>
        <div class="pull-right">
            <span class="currencyIndicator">{{'LanguageContents.Res_1713.Caption'|translate}}: {{DefaultSettings.CurrencyFormat.Name}}</span>
        </div>
    </div>
    <div class="box-content">
        <div id="CostCenterContainer">
            <div class="CostCenterContainer financialBoxesHeader">
                <table class="table table-normal-both" id="CostCenterTableheader">
                    <thead>
                        @*
                        <tr>
                            <th>
                                <span>
                                    <label class="checkbox checkbox-custom pull-right">
                                        <input id="CheckAllCostCenter" type="checkbox"><i class="checkbox" />
                                    </label>
                                </span>
                            </th>
                            <th class="ccName"><span>{{'LanguageContents.Res_254.Caption'|translate}}</span></th>
                            <th><span class="currency">{{'LanguageContents.Res_1702.Caption'|translate}}</span></th>
                            <th><span class="currency">{{'LanguageContents.Res_1703.Caption'|translate}}</span></th>
                            <th><span class="currency">{{'LanguageContents.Res_1704.Caption'|translate}}.</span></th>
                            <th><span></span></th>
                        </tr>*@
                    </thead>
                </table>
            </div>
            <div id="CostCentertableHolder">
                <table class="table table-normal-both" id="CostCenterTable">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box-footer ">
        @if (addEntityPermission)
        {
        <a class="btn btn-primary btn-small" ng-show="FinancialRequestControl && IsLock == false" ng-model="FinancialRequest" ng-click="FinancialFundingRequestShow()" id="FinancialRequest">
            <span>{{RequestPlannedFundsText}}</span>
        </a>
        }
        <a class="btn btn-primary btn-small" ng-show="ReleaseFundsControl && IsLock == false" ng-model="ReleaseFunds" id="ReleaseFunds">
            <span>{{'LanguageContents.Res_1706.Caption'|translate}}</span>
        </a>
        <a class="btn btn-primary btn-small" ng-show="AddlevelCostCenterControl && IsLock == false" ng-model="AddlevelCostCenter" id="AddlevelCostCenter" ng-click="MakeCCtoallsublevelplansDefault()" href="javascript:void(0)">
            <span>{{'LanguageContents.Res_1708.Caption'|translate}}</span>
        </a>
        <a class="btn btn-primary btn-small" ng-show="MoneyTransferControl && IsLock == false" ng-model="MoneyTransfer" id="MoneyTransfer" ng-click="setfromcostcenter()" href="#MoneyTransferModal" data-toggle="modal">
            <span>{{'LanguageContents.Res_1707.Caption'|translate}}</span>
        </a>
    </div>
</div>