﻿<div class="box">
    <div class="box-header">
        <h4>
            {{'LanguageContents.Res_1211.Caption'|translate}}
        </h4>
        <div class="pull-right">
            <span class="currencyIndicatorSelect">
                <span>{{'LanguageContents.Res_1713.Caption'|translate}}:</span> @*{{DefaultSettings.CurrencyFormat.Name}}*@
                <select class="currencySelector" ui-select2 ng-model="SelectedCostCentreCurrency.TypeId" ng-click="ChangeCostCentreCurrencyType();" data-placeholder="--Select--">
                    <option ng-repeat="item in CurrencyFormatsList" value="{{item.Id}}">{{item.ShortName}}</option>
                </select>
            </span>
        </div>
    </div>
    <div class="box-content">
        <div class="box-content-margin">
            <div id="financialchart">
            </div>
        </div>
    </div>
</div>