/*#region LOGIN THEME*/

.loginThemed {
    background-color: #cfe2f3;
     background: url(../../../assets/img/Temp/f5a06431-afac-4545-a792-37b4ca41559b.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .loginThemed .loginBlock,
    .loginThemed .forgotPasswordBlock {
        height: 350px;
        width: 330px;
        padding: 10px;
    }

/*#region LOGO IN*/
/*When Logo is In then below CSS*/
.loginThemed .loginBlock,
.loginThemed .forgotPasswordBlock {
    height: 334px;
    border: 6px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
}

    .loginThemed .loginBlock .header,
    .loginThemed .forgotPasswordBlock .header {
        text-align: left;
    }

	.loginThemed .loginBlock .header > img#loginpageTitle,
    .loginThemed .forgotPasswordBlock .header > img#loginpageTitle {
        margin: 0 12px;
    }

    .loginThemed .loginBlock fieldset,
    .loginThemed .forgotPasswordBlock fieldset {
        border-color: transparent;
        border-radius: 0 !important;
		background-color: transparent;
        box-shadow: none;
    }
/*#endregion*/


/*#endregion*/

/*#endregion*/
