/*#region UserRegistration */

.loginThemed .userRegistration {
    background-color: #d9d2e9;
     background: url(../UserRegBackGroundImage.jpg?504750) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.userRegistration .contentBlock .header {
	 text-align: center;
	}

/*#endregion*/
