﻿<!--<div ng-controller="mui.planningtool.calender.calendercreationCtrl" class="calenderCreation">-->


<!--<div id="CalenderMetadataModel" class="modal newCalenderModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="850" style="display: none;">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancelCalenderModal()" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 my-qtip2 qtip-content="{{Calender.ngCalenderName}}">{{'LanguageContents.Res_4500.Caption'|translate}} : {{Calender.ngCalenderName}}</h3>
</div>
<div class="modal-body">
    <div id="CalenderWizard" class="wizard" ng-click="changeTab($event)">
        <ul class="steps" id="CalenderentitywizardStepClass">
            <li data-target="#stepCal_1" class="active"><span class="badge badge-info">1</span>{{'LanguageContents.Res_38.Caption'|translate}}<span class="chevron"></span></li>
            <!-- <li data-target="#step2" ng-click="changeObjectiveTab2($event)"><span class="badge">2</span>{{LanguageContents.Res_517}}<span class="chevron"></span></li>-->
            <li data-target="#stepCal_2" id="tabStep_stepCal_2" ng-click="changeTab2($event)"><span class="badge">2</span>{{'LanguageContents.Res_1221.Caption'|translate}}<span class="chevron"></span></li>
            <li data-target="#stepCal_3" ng-click="changeTab2($event)"><span id="spanstep2member" class="badge">3</span>{{'LanguageContents.Res_11.Caption'|translate}}<span class="chevron"></span></li>
        </ul>
    </div>
    <div class="step-content">
        <div class="row-fluid">
            <div class="step-pane active" id="stepCal_1">
                <form class="MetadataBlock notvalidate form-horizontal" id="CalenderTablMetadata">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="CalenderName">{{'LanguageContents.Res_1.Caption'|translate}}</label>
                            <div class="controls">
                                <input type="text" ng-model="Calender.ngCalenderName" id="CalenderName">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="CalenderOwner">{{'LanguageContents.Res_702.Caption'|translate}}</label>
                            <div class="controls">
                                <input type="text" dirownernameautopopulate ng-model="Calender.ngCalenderOwner" id="CalenderOwner">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="CalenderDescription">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                            <div class="controls">
                                <textarea class="small-textarea" rows="3" ng-model="Calender.ngCalenderDescription" id="CalenderDescription"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="CalenderPublishedOn">{{'LanguageContents.Res_4669.Caption'|translate}}</label>
                            <div class="controls">
                                <input ng-model="Calender.ngCalenderPublishedOn" id="CalenderPublishedOn" type="text" ng-click="Calanderopen($event,calanderopened)" datepicker-popup="{{format}}" is-open="calanderopened" min-date="minDate" max="" date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="" />
                            </div>
                        </div>
                        <div class="control-group period">
                            <label class="control-label" for="CalenderVisPeriod">{{'LanguageContents.Res_4902.Caption'|translate}}</label>
                            <div class="controls">
                                <input type="text" class="dateTbx" ng-model="Calender.ngCalenderVisPeriod" id="CalenderVisPeriod" />
                                <select ui-select2 ng-model="Calender.ngCalenderVisType" data-placeholder="--Select--">
                                    <option value="0" ng-selected="true">{{'LanguageContents.Res_4201.Caption'|translate}}</option>
                                    <option value="1">{{'LanguageContents.Res_4904.Caption'|translate}}</option>
                                    <option value="2">{{'LanguageContents.Res_4489.Caption'|translate}}</option>
                                    <option value="3">{{'LanguageContents.Res_4914.Caption'|translate}}</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox checkbox-custom " for="CalenderisExternal">
                                            <input type="checkbox" name="isexternal" id="CalenderisExternal" ng-model="Calender.ngCalenderisExternal"><i class="checkbox"></i>
                                            <span>{{'LanguageContents.Res_4454.Caption'|translate}}</span>
                                        </label>
                                    </div>
                                </div>-->
                        <div class="newCalender-step1-options">
                            <h4 class="heading">{{'LanguageContents.Res_4819.Caption'|translate}}</h4>
                            <ul>
                                <li ng-repeat="item in TabCollectionsList">
                                    <label class="checkbox checkbox-custom ">
                                        <input type="checkbox" id="{{item.Id}}" data-exturl="{{item.ExternalUrl}}" ng-click="selectTabs(item.Id,$event);"><i class="checkbox"></i>
                                        <span>{{item.Name}}</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <input style="display: none;" type="submit" id="btnTemp1" class="ng-scope" invisible>
                    </div>
                </form>
            </div>
            <div class="step-pane" id="stepCal_2">
                <div class="MetadataBlock">
                    <form class="form-inline" id="CalenderFulfillTab">
                        <div class="CalenderFullFillMent">
                            <div id="CalenderFulfillmentMetadatatbody" ng-click="LoadCalenderFulfillmentMetadatatbody($event)">
                                <div id="container0" data-control="main" data-holder="holder" data-uniquekey="container0" data-id="0">
                                    <ul class="repeter">
                                        <li class="form-inline">
                                            <div class="coverFill"></div>
                                            <label class="control-label" for="CalenderCondition">{{'LanguageContents.Res_810.Caption'|translate}}</label>
                                            <select ui-select2 id="CalConditionType0" ng-model="dummymodule_ConditionType_0">
                                                <option value="">-- {{'LanguageContents.Res_811.Caption'|translate}} -- </option>
                                                <option value="1">{{'LanguageContents.Res_813.Caption'|translate}} </option>
                                                <option value="2" ng-selected="true">{{'LanguageContents.Res_812.Caption'|translate}} </option>
                                            </select>
                                            <label>{{'LanguageContents.Res_807.Caption'|translate}}</label>
                                            <select ui-select2 id="CalEntityType0" ng-model="dummymodule_EntityType_0" data-role="EntityType">
                                                <option value="0">-- {{'LanguageContents.Res_39.Caption'|translate}} --</option>
                                            </select>
                                            <label>{{'LanguageContents.Res_808.Caption'|translate}}</label>
                                            <select ui-select2 id="CalEntityAttributes0" ng-model="dummymodule_Attributes_0" data-role="Attributes">
                                                <option value="0">-- {{'LanguageContents.Res_39.Caption'|translate}} --</option>
                                            </select>
                                            <label>{{'LanguageContents.Res_809.Caption'|translate}}</label>
                                            <select ui-select2 multiple="multiple" id="CalAttributeOptions0" ng-model="dummymodule_Options_0" data-role="Equals">
                                                <option value="0">-- {{'LanguageContents.Res_39.Caption'|translate}} --</option>
                                            </select>
                                            <button class="btn" data-role="Add"><i class="icon-plus" data-role="Add"></i></button>
                                            <button class="btn" data-role="Remove"><i class="icon-remove" data-role="Remove"></i></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="align-right">
                            <button ng-click="getEntities()" class="btn btn-primary">{{'LanguageContents.Res_4431.Caption'|translate}}</button>
                        </div>
                        <div class="CalenderFullFillMent-EntitiesTable" id="availentitiesTable" style="display: none;">
                            <h4>{{'LanguageContents.Res_4120.Caption'|translate}}</h4>
                            <table class="table table-normal-left tableheader">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="checkbox checkbox-custom">
                                                <!--<input id="Checkbox1" type="checkbox" ng-click="selectAllEntities($event);">-->
                                                <input id="Checkbox1" type="checkbox" ng-click="selectAllEntities();">
                                                <i class="checkbox" id="iconselectallentities"></i>
                                            </label>
                                        </th>
                                        <th>{{'LanguageContents.Res_69.Caption'|translate}}</th>
                                        <th>{{'LanguageContents.Res_1.Caption'|translate}}</th>
                                        <th>{{'LanguageContents.Res_702.Caption'|translate}}</th>
                                        <th class="last"></th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="tablecontent">
                                <table class="table table-normal-left">
                                    <tbody>
                                        <tr ng-repeat="item in FulfillEntites">
                                            <td>
                                                <label class="checkbox checkbox-custom">
                                                    <!-- <input type="checkbox" ng-click="selectEntity(item.EntityID,$event);">-->
                                                    <input type="checkbox">
                                                    <i class="checkbox" id="entity{{item.EntityID}}"></i>
                                                </label>
                                            </td>
                                            <td>{{item.EntityID}}</td>
                                            <td>{{item.Name}}</td>
                                            <td>{{item.OwnerName}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <input style="display: none;" type="submit" id="btnTemp2" class="ng-scope" invisible>
                    </form>
                </div>
            </div>
            <div class="step-pane" id="stepCal_3">
                <div class="MetadataBlock">
                    <div class="MemberBlockContainer">
                        <form class="form-inline">
                            <input type="text" id="Text1" autocomp ng-model="fields.usersID" />
                            <select ng-model="fields.userRoles" ui-select2 id="userRole">
                                <option value="" ng-selected="true">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                                <option value="{{item.ID}}" ng-repeat="item in Roles">{{item.Caption}}</option>
                            </select>
                            <button ng-click="addUsers()" ng-model="fillgrid" class="btn btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                        </form>
                        <table class="table table-normal-both table-normal-both-big-left">
                            <thead>
                                <tr>
                                    <th><span></span></th>
                                    <th><span>{{'LanguageContents.Res_32.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_259.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_33.Caption'|translate}}</span></th>
                                    <td><span>{{QuickInfo1AttributeCaption}}</span></td>
                                    <td><span>{{QuickInfo2AttributeCaption}}</span></td>
                                    <th><span></span></th>
                                </tr>
                            </thead>
                        </table>
                        <div class="MemberBlock">
                            <table class="table table-normal-both table-normal-both-big-left">
                                <tbody id="Tbody1">
                                    <tr ng-repeat="item in OwnerList" userid="{{item.Userid}}">
                                        <td>
                                            <span>
                                                <img class="avatar" src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="ownerimg" />
                                            </span>
                                        </td>
                                        <td><span>{{item.UserName}}</span></td>
                                        <td><span>{{item.RoleName}}</span></td>
                                        <td><span>{{item.UserEmail}}</span></td>
                                        <td><span>{{item.QuickInfo1}}</span></td>
                                        <td><span>{{item.QuickInfo2}}</span></td>
                                        <td><span></span></td>
                                    </tr>
                                </tbody>
                                <tbody id="CreateNewMember">
                                    <tr ng-repeat="item in MemberLists" userid="{{item.Userid}}">
                                        <td>
                                            <span>
                                                <img class="avatar" src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="memberimg" />
                                            </span>
                                        </td>
                                        <td><span>{{item.UserName}}</span></td>
                                        <td><span>{{item.RoleName}}</span></td>
                                        <td><span>{{item.UserEmail}}</span></td>
                                        <td><span>{{item.QuickInfo1}}</span></td>
                                        <td><span>{{item.QuickInfo2}}</span></td>
                                        <td>
                                            <span>
                                                <i ng-click="deleteMemberOptions(item)" ng-show="item.FromGlobal==0" class="icon-remove"></i>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="btnWizardCalenderFinish" ng-click="CreateNewCalender()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
    <button type="button" id="btnWizardCalenderNext" ng-click="changeNextCalendertab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_5.Caption'|translate}}</button>
    <button type="button" id="btnWizardCalenderPrev" ng-click="changePrevCalenderTab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_6.Caption'|translate}}</button>
    <button type="button" ng-click="cancelCalenderModal()" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
</div>
<!--</div>-->
<!--</div>-->
