﻿@model Presentation.Controllers.ViewController.UserAccessModule

@{                                  
    bool addEntityPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.CalenderEdit);
    bool addDuplicatePermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Duplicate, Presentation.Controllers.ViewController.UserAccessModule.Operations.Create);
    bool addDeleteEntityPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.CalenderEdit);
    bool addListViewPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.ListView, Presentation.Controllers.ViewController.UserAccessModule.Operations.Allow);
    bool addEditAllPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.CalenderEdit, Presentation.Controllers.ViewController.UserAccessModule.Operations.Allow);
    bool addViewAllPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.ViewAll, Presentation.Controllers.ViewController.UserAccessModule.Operations.Allow);
    string GanttList = "ganttview";      
}
@*@if (addListViewPermission)
{
    GanttList = "listview";
}*@
<!-- Planning tool will not have specific html. it will just load the appropriate content-->
<div ng-controller="mui.planningtool.calender.listCtrl">
    <div id="Div_Objlist"></div>
    <div id="FilterSettingsModal" ng-include src="'views/mui/planningtool/calender/detail/filtersettings.html'"></div>
    <div>
        <div id="left">
            <div class="ActionBtnArea">
                <h2 class="container-padding-left floatLeft">{{'LanguageContents.Res_4137.Caption'|translate}}</h2>
            </div>
            <div class="title">
                <ul class="header">
                    <li>
                        <a href="javascript:void();">
                            <i class="icon-"></i>
                            <span>{{'LanguageContents.Res_1.Caption'|translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav">
                <ul id="treeHolder">
                    <li ng-repeat="item in CalendersList"><a data-over="true" href='#' data-id="{{item.Id}}"><i class="icon-"></i><span class="eicon"></span>{{item.Name}}</a></li>
                </ul>
            </div>
        </div>
        <div id="content" data-calendereditpermission="@addDeleteEntityPermission">
            <div class="container-fluid container-nopadding">
                <!-- Here we can put the title-->
                <div class="row-fluid">
                    <div class="span12" id="fixedHeight">
                        <div class="row-fluid contentHeader">
                            <div class="span12">
                                <div class="ActionBtnHolder pull-right container-padding-right">
                                    @if (addDeleteEntityPermission)
                                    {
                                        <button ng-model="TrashIcon" class="btn btn-danger btn-small" ng-click="DeleteEntity();" type="button"><i class="icon-trash icon-large"></i></button>
                                    }
                                    <button class="btn btn-small" type="button" data-viewtype="@GanttList" id="ViewSelect">{{'LanguageContents.Res_17.Caption'|translate}}</button>
                                    @if (addEntityPermission)
                                    {
                                        <span class="floatRight"><a ng-show="Isfromcalender_mui" class=" btn btn-primary btn-small color-white" data-viewtype="Calendar" id="createcalender" ng-click="OpenCalenderCreationPopup();">{{'LanguageContents.Res_4.Caption'|translate}}</a></span>
                                    }
                                    @if (addEditAllPermission)
                                    {
                                        <div data-toggle="buttons-radio" class="btn-group">
                                            <button id="btnParticipated" ng-disabled="DisablePart" class="btn btn-small" my-qtip2 qtip-content="List Participated" type="button" ng-click="ShowAll(false)">{{'LanguageContents.Res_638.Caption'|translate}}</button>
                                            <button id="btnViewAll" ng-disabled="!DisablePart" class="btn btn-small" my-qtip2 qtip-content="List All" type="button" ng-click="ShowAll(true)">{{'LanguageContents.Res_61.Caption'|translate}}</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="ListContainerHeader">
                                    <table class="table table-list table-list-left2X" id="ListColumn">
                                        <thead>
                                            <tr>
                                                <th><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div ng-show="noData" class="noDataAvailable">
                                    {{'LanguageContents.Res_4847.Caption'|translate}}
                                </div>
                                <div class="list_rightblock" id="ListContainer">
                                    <table class="table table-list table-list-left2X">
                                        <tr ng-repeat="item in CalendersList">

                                            <td><span class="ng-binding">{{item.Description}}</span></td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="820" tabindex="-1" class="modal hide fade" id="newObjectiveControls" style="display: none;">
                            <a ng-include="'views/mui/planningtool/calender/calendercreation.html' " class="btn"></a>
                            <div ng-include src="'views/mui/planningtool/calender/calendercreation.html'"></div>
                        </div>*@
                        <!--/row-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
