﻿<!--<div ng-controller="mui.planningtool.costcentre.costcentrecreationCtrl">
    <div aria-labelledby="myModalLabel" id="entityMetadataModel">-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closecostcentrecreationPopup()">×</button>
    <h3 my-qtip2 qtip-content="{{fields.TextSingleLine_68}}">{{'LanguageContents.Res_1103.Caption'|translate}}:{{fields.TextSingleLine_68}}</h3>
</div>
<div class="modal-body">
    <div id="MyWizard" class="wizard" ng-click="changeTab()">
        <ul class="steps" id="costcenterentitywizardStepClass">
            <li data-target="#step1" class="active"><span class="badge badge-info">1</span>{{'LanguageContents.Res_251.Caption'|translate}}<span class="chevron"></span></li>
            <li data-target="#step2" ng-click="changeCostcentreTab2($event)"><span class="badge">2</span>{{'LanguageContents.Res_10.Caption'|translate}}<span class="chevron"></span></li>
            <li data-target="#step3" ng-click="changeCostcentreTab2($event)"><span class="badge">3</span>{{'LanguageContents.Res_11.Caption'|translate}}<span class="chevron"></span></li>
        </ul>
    </div>
    <div class="step-content">
        <div class="step-pane active" id="step1">
            <form id="EntityMetadata" class="form-horizontal MetadataBlock"></form>
        </div>
        <div class="step-pane" id="step2">
            <div class="MetadataBlock">
                <form class="form-float">
                    <div class="control-group">
                        <label class="control-label" for="EntityID">{{'LanguageContents.Res_262.Caption'|translate}}:</label>
                        <div class="controls assgndAmnt">
                            <input type="text" class="currencyTextbox nomargin" ng-model="ngfinancialAmount" id="ngfinancialAmount">
                            <!--<span>{{DefaultSettings.CurrencyFormat.Name}}</span>-->
                            <select ui-select2 ng-model="SelectedCostCentreCurrency.TypeId" ng-click="GetCostCentreCurrencyRateById();" data-placeholder="--Select--">
                                <option ng-repeat="item in CurrencyFormatsList" value="{{item.Id}}">{{item.ShortName}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="step-pane" id="step3">
            <div class="MetadataBlock">
                <div class="MemberBlockContainer">
                    <form class="form-inline">
                        <input type="text" id="Text1" autocomp ng-model="fields.usersID" />
                        <select ng-model="fields.userRoles" ui-select2 id="ddlrole">
                            <!--ng-options="item as item.Caption for item in Roles"-->
                            <option value="">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                            <option ng-repeat="item in Roles" value="{{item.ID}}">{{item.Caption}}</option>
                        </select>
                        <button ng-click="addUsers()" ng-model="fillgrid" class="btn btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                    </form>
                    <table class="table table-normal-both table-normal-both-big-left">
                        <thead>
                            <tr>
                                <th><span></span></th>
                                <th><span>{{'LanguageContents.Res_32.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_259.Caption'|translate}}</span></th>
                                <!--<th><span>{{LanguageContents.Res_260}}</span></th>
                                    <th><span>{{LanguageContents.Res_261}}</span></th>-->
                                <th><span>{{'LanguageContents.Res_33.Caption'|translate}}</span></th>
                                <td><span>{{QuickInfo1AttributeCaption}}</span></td>
                                <td><span>{{QuickInfo2AttributeCaption}}</span></td>
                                <th><span></span></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="MemberBlock">
                        <table class="table table-normal-both table-normal-both-big-left">
                            <tbody id="Tbody1">
                                <tr ng-repeat="item in OwnerList" userid="{{item.Userid}}">
                                    <td>
                                        <span>
                                            <img class="avatar" ng-src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="ownerimg" />
                                        </span>
                                    </td>
                                    <td><span>{{item.UserName}}</span></td>
                                    <td><span>{{item.RoleName}}</span></td>
                                    <!--<td><span>{{item.DepartmentName}}</span></td>
                                        <td><span>{{item.Title}}</span></td>-->
                                    <td><span>{{item.UserEmail}}</span></td>
                                    <td><span>{{item.QuickInfo1}}</span></td>
                                    <td><span>{{item.QuickInfo2}}</span></td>
                                    <td><span></span></td>
                                </tr>
                            </tbody>
                            <tbody id="CreateNewMember">
                                <tr ng-repeat="item in MemberLists" userid="{{item.Userid}}">
                                    <td>
                                        <span>
                                            <img class="avatar" ng-src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="memberimg" />
                                        </span>
                                    </td>
                                    <td><span>{{item.UserName}}</span></td>
                                    <td><span>{{item.RoleName}}</span></td>
                                    <!--<td><span>{{item.DepartmentName}}</span></td>
                                        <td><span>{{item.Title}}</span></td>-->
                                    <td><span>{{item.UserEmail}}</span></td>
                                    <td><span>{{item.QuickInfo1}}</span></td>
                                    <td><span>{{item.QuickInfo2}}</span></td>
                                    <td>
                                        <span>
                                            <i ng-click="deleteOptions(item)" class="icon-remove"></i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="saveCostcentreEntity()" id="btnWizardFinish" ng-model="saveEntity" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
    <button type="button" id="btnWizardNext" ng-click="changenexttab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_5.Caption'|translate}}</button>
    <button type="button" id="btnWizardPrev" ng-click="changePrevTab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_6.Caption'|translate}}</button>
    <button type="button" data-dismiss="modal" class="btn btn-small" ng-click="closecostcentrecreationPopup()">{{'LanguageContents.Res_14.Caption'|translate}}</button>
</div>
<!--    </div>-->
<div id="filescontaineroo" style="display: none;">
    <button id="pickfilesUploaderAttr" class="pickFiles" type="submit"></button>
</div>
<!--</div>-->
