﻿<!--<div id="WorkTaskModal" aria-labelledby="myModalLabel" data-width="960" class="ccFundRequestActionPopup FundingRequestPopup">-->
<div class="modal-header">
    <div class="row-fluid">
        <div class="span4">
            <h3>{{TaskBriefDetails.taskTypeName}}</h3>
        </div>
        <div class="span8">
            <div class="entityInfo">
                <span class="softText">{{'LanguageContents.Res_4415.Caption'|translate}} {{FromEntityTypeName}}</span>
                <span class="rootLevelEntityName">{{FromEntityName}}</span>
            </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" ng-click="Closeccfundreqpopup()" aria-hidden="true">×</button>
    </div>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span12">
            <div class="tabbable tabbable-bordered">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" data-target="#TaskOverviewFinReq">{{'LanguageContents.Res_9.Caption'|translate}}</a></li>
                    <li class=""><a data-toggle="tab" data-target="#ActiveTaskMembersFinReq">{{'LanguageContents.Res_11.Caption'|translate}}</a></li>
                </ul>
                <!--/nav-tabs -->
                <div class="tab-content">
                    <div id="TaskOverviewFinReq" class="tab-pane fade in active">
                        <div class="tab-line"></div>
                        <div class="row-fluid row-desktop">
                            <div class="span6">
                                <div class="row-fluid">
                                    <div class="span2">
                                        <img src="Handlers/UserImage.ashx?id={{TaskBriefDetails.ownerId}}&time={{DefaultImageSettings.ImageSpan}}" alt="no image" class="userimg">
                                    </div>
                                    <div class="span5">
                                        <span class="softText">{{'LanguageContents.Res_1016.Caption'|translate}}</span><br />
                                        <a href="JavaScript: void(0);" class="breakWord">{{TaskBriefDetails.taskOwner}}</a>
                                    </div>
                                    <div class="span5">
                                        <span class="softText">{{'LanguageContents.Res_254.Caption'|translate}}</span><br />
                                        <span class="breakWord">{{DecodedTextName(TaskBriefDetails.CostCentreName)}}</span>
                                    </div>
                                </div>
                                <div class="row-fluid requestBlock">
                                    <div class="span6">
                                        <div>{{'LanguageContents.Res_1703.Caption'|translate}}:</div>
                                        <div ng-show="TaskBriefDetails.IsCCOwner" class="softText">{{'LanguageContents.Res_1106.Caption'|translate}}</div>
                                        <div ng-show="TaskBriefDetails.IsCCOwner" class="softText">{{'LanguageContents.Res_1107.Caption'|translate}}</div>
                                    </div>
                                    <div class="span6">
                                        <div class="align-right ng-binding">{{TaskBriefDetails.InRequests}} {{DefaultSettings.CurrencyFormat.Name}}</div>
                                        <div ng-show="TaskBriefDetails.IsCCOwner" class="align-right softText">{{TaskBriefDetails.TotalApprovedForthis}} {{DefaultSettings.CurrencyFormat.Name}}</div>
                                        <div ng-show="TaskBriefDetails.IsCCOwner" class="align-right softText">{{TaskBriefDetails.TotalEntittApproveAmount}} {{DefaultSettings.CurrencyFormat.Name}}</div>
                                    </div>
                                </div>
                                <div ng-show="TaskBriefDetails.IsCCOwner" class="row-fluid requestBlock">
                                    <div class="span6">
                                        <div class="softText">{{'LanguageContents.Res_1109.Caption'|translate}}:</div>
                                        <div class="softText">{{'LanguageContents.Res_72.Caption'|translate}}:</div>
                                        <div>{{'LanguageContents.Res_1108.Caption'|translate}}:</div>
                                    </div>
                                    <div class="span6">
                                        <div class="align-right softText">{{TaskBriefDetails.CCAvailable}} {{DefaultSettings.CurrencyFormat.Name}}</div>
                                        <div class="align-right softText">-{{TaskBriefDetails.InRequests}} {{DefaultSettings.CurrencyFormat.Name}}</div>
                                        <div class="align-right ng-binding">{{TaskBriefDetails.AfterApproval}} {{DefaultSettings.CurrencyFormat.Name}}</div>
                                    </div>
                                </div>
                                <div class="row-fluid detailBlock">
                                    <div class="span3">
                                        <span class="softText">{{'LanguageContents.Res_1007.Caption'|translate}}</span><br />
                                        <span class="{{Property.Status}}">{{TaskBriefDetails.dueIn}} {{'LanguageContents.Res_1556.Caption'|translate}}</span>
                                    </div>
                                    <div class="span3">
                                        <span class="softText">{{'LanguageContents.Res_23.Caption'|translate}}</span><br />
                                        <span>{{TaskBriefDetails.dueDate}}</span>
                                    </div>
                                    <div class="span3">
                                        <span class="softText">{{'LanguageContents.Res_1802.Caption'|translate}}</span><br />
                                        <span>{{TaskBriefDetails.status}} <i class="cursor-auto" ng-class="{'icon-arrow-right icon-large pending':TaskBriefDetails.statusID==8, 'icon-ok icon-large approved':TaskBriefDetails.statusID==11,'icon-remove icon-large rejected':TaskBriefDetails.statusID==12}"></i></span>
                                    </div>
                                    <div class="span3">
                                        <span class="softText">{{'LanguageContents.Res_74.Caption'|translate}}</span><br />
                                        <a href="JavaScript: void(0);" class="breakWord">{{TaskBriefDetails.taskOwnerFundRequest}}</a>
                                    </div>
                                </div>
                                <br />
                                <div class="row-fluid" class="detailBlock">
                                    <div class="span12">
                                        <span class="softText">{{'LanguageContents.Res_22.Caption'|translate}}</span><br />
                                        {{DecodedTextName(TaskBriefDetails.Description)}}
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="newsFeedBlock">
                                    <div class="newsFeedSection">
                                        <div class="newComment">
                                            <div class="userAvatar">
                                                <img ng-src="Handlers/UserImage.ashx?id={{CCFundRegObj.OwnerID}}&time={{DefaultImageSettings.ImageSpan}}" data-role="user-avatar" />
                                            </div>
                                            <div data-role="textarea" class="textarea-wrapper">
                                                <div id="costcentrefundingreqfeedcomment" contenteditable="true" class="textarea" tabindex="0" ngfocus="if(document.getElementById('costcentrefeedtextholder').innerHTML.replace(/ /g,'').length > 0){setTimeout(function(){document.getElementById('costcentrefundingreqfeedcomment').innerHTML = ''},1)};" ngblur="if(document.getElementById('costcentrefundingreqfeedcomment').innerHTML.replace(/(<([^>]+)>)/ig,'').replace(/ /g,'').length == 0){document.getElementById('costcentrefundingreqfeedcomment').innerHTML = '<span id=\'costcentrefeedtextholder\' class=\'placeholder\'>{{'LanguageContents.Res_1202.Caption'|translate}}..</span>'};">
                                                    <span id="costcentrefeedtextholder" class="placeholder">{{'LanguageContents.Res_1202.Caption'|translate}}...</span>
                                                </div>
                                            </div>
                                            <div class="newsFeedPersonFilter">
                                                <select class="multiselect" multiple="multiple" multiselect-dropdown ng-options="opt.Userid as opt.UserName for opt in  EntityUserList" data-placeholder="Select Users" ng-model="PersonalUserIds"></select>
                                            </div>
                                            <button class="btn btn-small btn-primary" ng-click="AddfundingreqNewsFeed()" type="submit">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
                                        </div>
                                        <ul class="mainComment" id="fundingrequestfeeddivFinReq"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ActiveTaskMembersFinReq" class="tab-pane fade">
                        <div class="tab-line"></div>
                        <br>
                        <div class="row-fluid row-desktop">
                            <div class="box box-noborder" ng-repeat="group in TaskMembergroups">
                                <div class="box-header">
                                    <h4>{{ group.rolename }}</h4>
                                </div>
                                <!-- BEGIN: Inner ngRepeat. -->
                                <div class="box-content">
                                    <div class="box-content-margin">
                                        <div userid="friend.Userid" class="memberBlock" ng-repeat="friend in group.friends">
                                            <div class="member">
                                                <div class="row-fluid">
                                                    <div class="span3">
                                                        <img src="Handlers/UserImage.ashx?id={{friend.Userid}}&time={{DefaultImageSettings.ImageSpan}}" alt="no image" class="avatar" />
                                                    </div>
                                                    <div class="span9">
                                                        <div class="name">{{ friend.UserName }}</div>
                                                        <div class="info">{{ friend.DepartmentName }}</div>
                                                        <div class="">{{ friend.Title }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="CloseIcon"><i ng-hide="true" ng-click="deleteEntityMember(friend.Id,friend.UserName)" class="icon-remove"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END: Inner ngRepeat. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-left">
        <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,65)" id="withdrawtask" ng-show="ShowWithdrawBtn" ng-model="WithdrawTask" class="btn btn-small btn-danger">{{'LanguageContents.Res_76.Caption'|translate}}</button>
    </div>
    <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,10)" id="unabletocomplete" ng-show="ShowUnabletoCompleteBtn" ng-model="UnabletoComplete" class="btn btn-small">{{'LanguageContents.Res_84.Caption'|translate}}</button>
    <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,11)" id="ApproveTask" ng-show="ShowApproveBtn" ng-model="ApproveTask" class="btn btn-small btn-primary">{{'LanguageContents.Res_559.Caption'|translate}}</button>
    <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,12)" id="rejectRequest" ng-show="ShowRejectedBtn" ng-model="rejectRequest" class="btn btn-small btn-danger">{{'LanguageContents.Res_560.Caption'|translate}}</button>
    <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,9)" id="approveRequest" ng-show="ShowCompleteBtn" ng-model="approveRequest" class="btn btn-small btn-primary">{{'LanguageContents.Res_75.Caption'|translate}}</button>
    <button data-dismiss="modal" ng-click="Closeccfundreqpopup()" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
</div>
<!--</div>-->
