﻿<div aria-labelledby="myModalLabel" id="FundingRequestApprovalModal" data-width="960">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="span4">
                <h3>{{'LanguageContents.Res_1733.Caption'|translate}}</h3>
            </div>
            <div class="span8">
                <div class="entityInfo">
                    <span class="softText">{{'LanguageContents.Res_4415.Caption'|translate}} {{EntityBreadCrumTypeName}}</span><br>
                    <span class="rootLevelEntityName">{{RootLevelEntityName}}</span>
                </div>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="tabbable tabbable-bordered">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#TaskOverview1">{{'LanguageContents.Res_9.Caption'|translate}}</a></li>
                        <li class=""><a data-toggle="tab" href="#TaskMembers">{{'LanguageContents.Res_11.Caption'|translate}}</a></li>
                    </ul>
                    <!--/nav-tabs -->
                    <div class="tab-content">
                        <div id="TaskOverview1" class="tab-pane fade in active">
                            <div class="tab-line"></div>
                            <div class="row-fluid row-desktop">
                                <div class="span6">
                                    <div class="row-fluid">
                                        <div class="span2">
                                            <img ng-src="Handlers/UserImage.ashx?id={{Property.CostCenterOwnerID}}&time={{DefaultImageSettings.ImageSpan}}" alt="no image" class="userimg" />
                                        </div>
                                        <div class="span5">
                                            <span class="softText">{{'LanguageContents.Res_1016.Caption'|translate}}</span><br />
                                            <a href="JavaScript: void(0);" class="breakWord">{{Property.CostCenterOwner}}</a>
                                        </div>
                                        <div class="span5">
                                            <span class="softText">{{'LanguageContents.Res_1101.Caption'|translate}}</span><br />
                                            <span class="breakWord">{{Property.CostCenterName}}</span>
                                        </div>
                                    </div>
                                    <div class="row-fluid requestBlock">
                                        <div class="span6">
                                            <div>{{'LanguageContents.Res_1703.Caption'|translate}}:</div>
                                            <div ng-show="Property.IsCCOwner" class="softText">{{'LanguageContents.Res_1106.Caption'|translate}}</div>
                                            <div ng-show="Property.IsCCOwner" class="softText">{{'LanguageContents.Res_1107.Caption'|translate}}</div>
                                        </div>
                                        <div class="span6">
                                            <div class="align-right ng-binding">{{Property.RequestAmount}} {{SelectedCostCentreCurrency.ShortName}}</div>
                                            <div ng-show="Property.IsCCOwner" class="align-right softText">{{Property.EntityprevApprovedAmount}} {{SelectedCostCentreCurrency.ShortName}}</div>
                                            <div ng-show="Property.IsCCOwner" class="align-right softText">{{Property.TotalEntittApproveAmount}} {{SelectedCostCentreCurrency.ShortName}}</div>
                                        </div>
                                    </div>
                                    <div ng-show="Property.IsCCOwner" class="row-fluid requestBlock">
                                        <div class="span6">
                                            <div class="softText">{{'LanguageContents.Res_1109.Caption'|translate}}:</div>
                                            <div class="softText">{{'LanguageContents.Res_72.Caption'|translate}}:</div>
                                            <div>{{'LanguageContents.Res_1108.Caption'|translate}}:</div>
                                        </div>
                                        <div class="span6">
                                            <div class="align-right softText">{{Property.beforeapproval}} {{SelectedCostCentreCurrency.ShortName}}</div>
                                            <div class="align-right softText">-{{Property.RequestAmount}} {{SelectedCostCentreCurrency.ShortName}}</div>
                                            <div class="align-right ng-binding">{{Property.AfterApproval}} {{SelectedCostCentreCurrency.ShortName}}</div>
                                        </div>
                                    </div>
                                    <div class="row-fluid detailBlock">
                                        <div class="span2">
                                            <span class="softText">{{'LanguageContents.Res_1007.Caption'|translate}}</span><br />
                                            <span class="{{Property.Status}}">{{Property.DueDays}} {{'LanguageContents.Res_1556.Caption'|translate}}</span>
                                        </div>
                                        <div class="span2">
                                            <span class="softText">{{'LanguageContents.Res_23.Caption'|translate}}</span><br />
                                            <span>{{Property.DueDate}}</span>
                                        </div>
                                        <div class="span3">
                                            <span class="softText">{{'LanguageContents.Res_1802.Caption'|translate}}</span><br />
                                            <span>{{Property.StatusName}} <i class="cursor-auto" ng-class="{'icon-arrow-right icon-large pending':Property.Statusid==1, 'icon-ok icon-large approved':Property.Statusid==2,'icon-remove icon-large rejected':Property.Statusid==3}"></i></span>
                                        </div>
                                        <div class="span3">
                                            <span class="softText">{{'LanguageContents.Res_1736.Caption'|translate}}</span><br />
                                            <a href="JavaScript: void(0);" class="breakWord">{{Property.RequestUser}}</a>
                                        </div>
                                        <div class="span2">
                                            <span class="softText">{{'LanguageContents.Res_4697.Caption'|translate}}</span><br />
                                            <span>{{Property.RequestDate}}</span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row-fluid" class="detailBlock">
                                        <div class="span12">
                                            <span class="softText">{{'LanguageContents.Res_22.Caption'|translate}}</span><br />
                                            {{Property.Description}}
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="newsFeedBlock">
                                        <div class="newsFeedSection">
                                            <div class="newComment">
                                                <div class="userAvatar">
                                                    <!--<img ng-src="Handlers/UserImage.ashx?id={{userimg}}&time={{DefaultImageSettings.ImageSpan}}" data-role="user-avatar" />-->
                                                    <img src="{{NewUserImgSrc}}" data-role="user-avatar" />
                                                </div>
                                                <div data-role="textarea" class="textarea-wrapper">
                                                    <div id="fundingreqfeedcomment" contenteditable="true" class="textarea" tabindex="0" ngfocus="if(document.getElementById('financialfeedtextholderwork').innerHTML.replace(/ /g,'').length > 0){setTimeout(function(){document.getElementById('fundingreqfeedcomment').innerHTML = ''},1)};" ngblur="if(document.getElementById('fundingreqfeedcomment').innerHTML.replace(/(<([^>]+)>)/ig,'').replace(/ /g,'').length == 0){document.getElementById('fundingreqfeedcomment').innerHTML = '<span id=\'financialfeedtextholderwork\' class=\'placeholder\'>{{'LanguageContents.Res_1202.Caption'|translate}}...</span>'};">
                                                        <span id="financialfeedtextholderwork" class="placeholder">{{'LanguageContents.Res_1202.Caption'|translate}}...</span>
                                                    </div>
                                                </div>
                                                <div class="newsFeedPersonFilter">
                                                    <select class="multiselect" multiple="multiple" multiselect-dropdown ng-options="opt.Userid as opt.UserName for opt in  EntityUserListInFundReq" data-placeholder="Select Users" ng-model="PersonalUserIdsInFundReq"></select>
                                                </div>
                                                <button class="btn btn-small btn-primary" type="submit" ng-click="AddfundingreqNewsFeed()">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
                                            </div>
                                            <ul class="mainComment" id="fundingrequestInfinancialfeeddiv_1"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="TaskMembers" class="tab-pane fade">
                            <div class="tab-line"></div>
                            <div class="row-fluid row-desktop">
                                <div class="box box-noborder" ng-repeat="group in groups">
                                    <div class="box-header">
                                        <h4>{{ group.rolename }}</h4>
                                    </div>
                                    <!-- BEGIN: Inner ngRepeat. -->
                                    <div class="box-content">
                                        <div class="box-content-margin">
                                            <div userid="friend.Userid" class="memberBlock" ng-repeat="friend in group.friends">
                                                <div class="member">
                                                    <div class="row-fluid">
                                                        <div class="span3">
                                                            <img ng-src="Handlers/UserImage.ashx?id={{friend.Userid}}&time={{DefaultImageSettings.ImageSpan}}" alt="no image" class="avatar" />
                                                        </div>
                                                        <div class="span9">
                                                            <div class="name">{{ friend.UserName }}</div>
                                                            <div class="info">{{ friend.DepartmentName }}</div>
                                                            <div class="">{{ friend.Title }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="CloseIcon"><i ng-hide="true" ng-click="deleteEntityMember(friend.Id, friend.UserName)" class="icon-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END: Inner ngRepeat. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="UpdateTaskStatus(3)" id="rejectRequest" ng-show="showActionBtn" ng-model="rejectRequest" class="btn btn-small btn-danger">{{'LanguageContents.Res_560.Caption'|translate}}</button>
        <button ng-click="UpdateTaskStatus(2)" id="approveRequest" ng-show="showActionBtn" ng-model="approveRequest" class="btn btn-small btn-primary">{{'LanguageContents.Res_559.Caption'|translate}}</button>
        <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>
