﻿@model Presentation.Controllers.ViewController.UserAccessModule

@{                                  
    bool addEntityPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.CostCenter, Presentation.Controllers.ViewController.UserAccessModule.Operations.Create);
    bool addDeleteEntityPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.CostCenter, Presentation.Controllers.ViewController.UserAccessModule.Operations.Delete);
    bool addApproveBudgetPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.ApproveBudget, Presentation.Controllers.ViewController.UserAccessModule.Operations.Allow);
    bool addListViewPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.ListView, Presentation.Controllers.ViewController.UserAccessModule.Operations.Allow);
    bool addEditAllPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.ViewEditAll, Presentation.Controllers.ViewController.UserAccessModule.Operations.Allow);
    bool addViewAllPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.ViewAll, Presentation.Controllers.ViewController.UserAccessModule.Operations.Allow);
    string GanttList = "ganttview";
}
@if (addListViewPermission)
{
    GanttList = "listview";
}
<!-- Planning tool will not have specific html. it will just load the appropriate content-->
<div ng-controller="mui.planningtool.costcentre.listCtrl">
    <div id="Div_listCC"></div>
    <div id="FilterSettingsModalCC" ng-include src="'views/mui/planningtool/filtersettings.html'"></div>
    <div>
        <div id="left">
            <div class="ActionBtnArea">
                <h2 class="container-padding-left floatLeft">{{'LanguageContents.Res_1101.Caption'|translate}}</h2>
            </div>
            <div class="title">
                <ul class="header">
                    <li>
                        <a ng-click="sort('68')" href="javascript:void(0);">
                            <i class="icon-"></i>
                            <span>{{'LanguageContents.Res_1101.Caption'|translate}}</span>
                            <span ng-show="sort_order=='68' && is_desc==true"><i class="icon-arrow-down"></i></span><span ng-show="sort_order=='68' && is_desc==false"><i class="icon-arrow-up"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav">
                <ul id="treeHolder"></ul>
            </div>
        </div>
        <div id="content">
            <div class="container-fluid container-nopadding">
                <!-- Here we can put the title-->
                <div class="row-fluid">
                    <div class="span12" id="fixedHeight">
                        <div class="row-fluid contentHeader">
                            <div class="span12">
                                <div class="ActionBtnHolder pull-right container-padding-right">
                                    @if (addDeleteEntityPermission)
                                    {
                                        <button ng-model="TrashIcon" class="btn btn-danger btn-small" ng-click="DeleteEntity();" type="button"><i class="icon-trash icon-large"></i></button>
                                    }
                                    <a ng-click="DetailFilterCreation()" class=" btn btn-primary btn-small" href="javascript:void(0);">{{AddEditFilter}}</a>
                                    <div class="btn-group" id="Filtersettingdiv">
                                        <button data-toggle="dropdown" ng-click="filtersettingsreset();" class="btn dropdown-toggle btn-small">{{appliedfilter}}<span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right" id="rootlevelfilters">
                                            <li></li>
                                            <li><a ng-click="ApplyFilter(0, 'No filter applied')" href="javascript:void(0);">{{'LanguageContents.Res_401.Caption'|translate}}</a></li>
                                            <li ng-repeat="item in filterValues">
                                                <a ng-click="ApplyFilter(item.FilterID, item.FilterName)" href="javascript:void(0);" data-toggle="modal" data-id="{{item.FilterID}}">
                                                    <span>{{item.FilterName}}</span>
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-small" type="button" data-viewtype="@GanttList" id="ViewSelect">{{'LanguageContents.Res_17.Caption'|translate}}</button>
                                    @if (addApproveBudgetPermission)
                                    {
                                        <button class="btn btn-small" type="button" ng-click="UpdateCostCentreApprovedBudget()" id="UpdateCostCentreApprovedBudget">{{'LanguageContents.Res_1104.Caption'|translate}}</button>
                                    }
                                    @if (addEntityPermission)
                                    {
                                        <a class="btn btn-primary btn-small" id="rootLevelEntity" href="javascript:void(0);" data-toggle="modal" ng-click="createCostCentre()">
                                            <span>{{'LanguageContents.Res_4.Caption'|translate}}</span>
                                        </a>
                                    }
                                    @if (addViewAllPermission || addEditAllPermission)
                                    {
                                        <div data-toggle="buttons-radio" class="btn-group">
                                            <button id="btnParticipated" ng-disabled="DisablePart" class="btn btn-small" my-qtip2 qtip-content="List Participated" type="button" ng-click="ShowAll(false)">{{'LanguageContents.Res_638.Caption'|translate}}</button>
                                            <button id="btnViewAll" ng-disabled="!DisablePart" class="btn btn-small" my-qtip2 qtip-content="List All" type="button" ng-click="ShowAll(true)">{{'LanguageContents.Res_61.Caption'|translate}}</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="ListContainerHeader">
                                    <table class="table table-list table-list-left2X" id="ListColumn">
                                        <thead>
                                        </thead>
                                    </table>
                                </div>
                                <div ng-show="noData" class="noDataAvailable">
                                    {{'LanguageContents.Res_1110.Caption'|translate}}
                                </div>
                                <div class="list_rightblock" id="ListContainer">
                                    <table id="ListHolder" class="table table-list table-list-left2X"></table>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="760" tabindex="-1" class="modal hide fade" id="costcentredynamicControls" ng-click="createcostcentre()" style="display: none;">
                            @*<div ng-include src="'views/mui/planningtool/costcentre/costcentrecreation.html'"></div>*@
                        </div>
                        <!--/row-->
                    </div>
                </div>
            </div>
        </div>

        <ul class="dropdown-menu contexMenu" style="display: none;" id="moduleContextCCRootmenu">
            <li ng-repeat="item in CostCentreEntityType">
                <a href="javascript:void(0);" data-role='EntityCreation' data-caption="{{item.Caption}}" data-id="{{item.Id}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" data-toggle="modal" ng-click="createcostcentre()">{{'LanguageContents.Res_8.Caption'|translate}} {{item.Caption}}
                <i class="icon-"></i>
                    <span ng-style="set_color(item.ColorCode)" style="background-color: #{{item.ColorCode.trim()}}" class="eicon">{{item.ShortDescription}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
