﻿<!--<div ng-controller="mui.planningtool.costcentre.subcostcentrecreationCtrl">
    <div aria-labelledby="myModalLabel" id="subcostcentremodal">-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="closeSubcostcentrecreationPopup()" aria-hidden="true">×</button>
    <h3>{{'LanguageContents.Res_1103.Caption'|translate}}:{{fields.TextSingleLine_68}}</h3>
</div>
<div class="modal-body">
    <div id="MysubWizard" class="wizard" ng-click="changeTab()">
        <ul class="steps" id="subcostcenterwizardStepClass">
            <li data-target="#substep1" class="active"><span class="badge badge-info">1</span>{{'LanguageContents.Res_251.Caption'|translate}}<span class="chevron"></span></li>
            <li data-target="#substep2" ng-click="changeCostcentreTab2($event)"><span class="badge">2</span>{{'LanguageContents.Res_10.Caption'|translate}}<span class="chevron"></span></li>
            <li data-target="#substep3" ng-click="changeCostcentreTab2($event)"><span class="badge">3</span>{{'LanguageContents.Res_11.Caption'|translate}}<span class="chevron"></span></li>
        </ul>
    </div>
    <div class="step-content">
        <div class="step-pane active" id="substep1">
            <form id="SubCostCentreMetadata" class="form-horizontal MetadataBlock"></form>
        </div>
        <div class="step-pane" id="substep2">
            <form class="form-float MetadataBlock">
                <div class="control-group">
                    <label class="control-label" for="EntityID">{{'LanguageContents.Res_262.Caption'|translate}}:</label>
                    <div class="controls assgndAmnt">
                        <input type="text" class="currencyTextbox nomargin" ng-model="ngfinancialAmount" id="ngsubfinancialAmount">
                        <!--<span>{{DefaultSettings.CurrencyFormat.Name}}</span>-->
                        <select ui-select2 ng-model="SelectedCostCentreCurrency.TypeId" ng-click="GetCostCentreCurrencyRateById();" data-placeholder="--Select--">
                            <option ng-repeat="item in CurrencyFormatsList" value="{{item.Id}}">{{item.ShortName}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="step-pane" id="substep3">
            <br />
            <div class="MemberBlockContainer">
                <form class="form-inline">
                    <input type="text" id="subText1" autocomp ng-model="fields.usersID" />
                    <select ng-model="fields.userRoles" ui-select2 id="ddlsubrole">
                        <!--ng-options="item as item.Caption for item in Roles"-->
                        <option value="">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                        <option ng-repeat="item in Roles" value="{{item.ID}}">{{item.Caption}}</option>
                    </select>
                    <button ng-click="addUsers()" ng-model="fillgrid" class="btn btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                </form>
                <table class="table table-normal-both table-normal-both-big-left">
                    <thead>
                        <tr>
                            <th><span></span></th>
                            <th><span>{{'LanguageContents.Res_32.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_259.Caption'|translate}}</span></th>
                            <!--<th><span>{{LanguageContents.Res_260}}</span></th>
                                    <th><span>{{LanguageContents.Res_261}}</span></th>-->
                            <th><span>{{'LanguageContents.Res_33.Caption'|translate}}</span></th>
                            <td><span>{{QuickInfo1AttributeCaption}}</span></td>
                            <td><span>{{QuickInfo2AttributeCaption}}</span></td>
                            <th><span></span></th>
                        </tr>
                    </thead>
                </table>
                <div class="MemberBlock">
                    <table class="table table-normal-both table-normal-both-big-left">
                        <tbody id="Tsubbody1">
                            <tr ng-repeat="item in OwnerList" userid="{{item.Userid}}">
                                <td>
                                    <span>
                                        <img class="avatar" ng-src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="ownersubimg" />
                                    </span>
                                </td>
                                <td><span>{{item.UserName}}</span></td>
                                <td><span>{{item.RoleName}}</span></td>
                                <!--<td><span>{{item.DepartmentName}}</span></td>
                                        <td><span>{{item.Title}}</span></td>-->
                                <td><span>{{item.UserEmail}}</span></td>
                                <td><span>{{item.QuickInfo1}}</span></td>
                                <td><span>{{item.QuickInfo2}}</span></td>
                                <td><span></span></td>
                            </tr>
                        </tbody>
                        <tbody id="CreatesubNewMember">
                            <tr ng-repeat="item in MemberLists" userid="{{item.Userid}}">
                                <td>
                                    <span>
                                        <img class="avatar" ng-src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="membersubimg" />
                                    </span>
                                </td>
                                <td><span>{{item.UserName}}</span></td>
                                <td><span>{{item.RoleName}}</span></td>
                                <!--<td><span>{{item.DepartmentName}}</span></td>
                                        <td><span>{{item.Title}}</span></td>-->
                                <td><span>{{item.UserEmail}}</span></td>
                                <td><span>{{item.QuickInfo1}}</span></td>
                                <td><span>{{item.QuickInfo2}}</span></td>
                                <td>
                                    <span>
                                        <i ng-click="deleteOptions(item)" class="icon-remove"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" ng-click="closeSubcostcentrecreationPopup()" data-dismiss="modal" class="btn btn-small btn-primary">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    <button type="button" id="btnsubWizardPrev" ng-click="changePrevTab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_6.Caption'|translate}}</button>
    <button type="button" id="btnsubWizardNext" ng-click="changenexttab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_5.Caption'|translate}}</button>
    <button ng-click="saveCostcentreEntity()" id="btnsubWizardFinish" ng-model="saveEntity" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
</div>
<!--    </div>
</div>-->
