﻿@model Presentation.Controllers.ViewController.UserAccessModule
@{
    bool financialPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Financials);
    bool taskPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Task);
    bool workflowPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Workflow);
}
<div id="Overview" ng-class="{ 'tab-pane fade in active': ( subview == 'overview' ) }" ng-controller="mui.planningtool.default.detail.overviewCtrl">
    <div class="tab-line"></div>
