﻿<div class="unknown100">
        <div class="modal-body" id="filescontainer100">
            <button id="pickfiles100" style="visibility: hidden" type="submit"></button>
        </div>
        <div id="UserProfilePic100" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                &nbsp;
            </div>
            <div class="modal-body">
                <div class="cropContainer">
                    <div class="cropBG">
                        <img src="" id="userpic100" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a aria-hidden="true" data-dismiss="modal" class="btn">Close</a>
                <a class="btn btn-primary" data-dismiss="modal" ng-click="SaveUploadedImage100();" href="JavaScript:void(0);">Save</a>
            </div>
        </div>
    </div>
</div>