﻿<div class="box">
                <div class="box-header">
                    <h4>
                        {{'LanguageContents.Res_1201.Caption'|translate}}
                    </h4>
                    <div class="pull-right">
                        <div class="btn-group">
                            <span class="filterName">{{'LanguageContents.Res_411.Caption'|translate}}</span>
                            <select class="multiselect" ng-change="FeedgroupFilterByOptionChange()" data-placeholder="Select filter" ng-model="Newsfilter.FeedgroupMulitipleFilterStatus" ng-options="item.ID as item.Name for item in Feedglist" multiple="multiple" multiselectpartial></select>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="newsFeedBlock">
                            <div class="newsFeedSection">
                                <div class="newComment">
                                    <div class="userAvatar">
                                        @*<span class="user">*@
                                        <img src="{{NewUserImgSrc}}" data-role="user-avatar">
                                        @* </span>*@
                                    </div>
                                    <div data-role="textarea" class="textarea-wrapper">
                                        <div id="feedcomment" contenteditable="true" class="textarea" tabindex="0" ngfocus="if(document.getElementById('feedtextholder').innerHTML.replace(/ /g,'').length > 0){setTimeout(function(){document.getElementById('feedcomment').innerHTML = ''},1)};" ngblur="if(document.getElementById('feedcomment').innerHTML.replace(/(
                                            <([^>
                                                ]+)>)/ig,'').replace(/ /g,'').length == 0){document.getElementById('feedcomment').innerHTML = '<span id=\'feedtextholder\' class=\'placeholder\'>Write a comment...</span>'};">
                                                <span id="feedtextholder" class="placeholder">{{'LanguageContents.Res_1202.Caption'|translate}}...</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" ng-click="AddNewsFeed()" type="submit">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
                                </div>
                                <ul class="mainComment" id="EntityFeedsdiv"></ul>
                                <div id="FeedContentdiv">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>