﻿<div class="box">
                <div class="box-header">
                    <h4>Status</h4>
                </div>
                <div class="box-content">
                    <div ng-hide="LoadStatusblock" class="loadingInProgress">
                        <img src="assets/img/loading.gif" />
                        <span>Loading...</span>
                    </div>
                    <div class="box-content-margin">
                        <form ng-show="LoadStatusblock" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputCountry">{{'LanguageContents.Res_1214.Caption'|translate}}</label>
                                <div class="controls">
                                    <select ui-select2 id="OverAllEntityStats" ng-model="OverAllEntityStatus" name="OverAllEntityStatus" data-placeholder="Entity Status" ng-click="UpdateEntityOverAllStatus();">
                                        <option ng-repeat="Aitem in EntityStatusResult" value="{{Aitem.ID}}">{{Aitem.StatusOptions}}</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-repeat="item in StatusAttributeData">
                                <div class="control-group">
                                    <label class="control-label" for="intimestatus">{{item.levelcaption}}</label>
                                    <div class="controls">
                                        <div class="btn-group">
                                            <button id="btn_{{item.levelid}}" ng-disabled="updatecommnet==false" ng-click="getSelectedOptionvalue(item.levelid,item.selectvalue,item.selectid,item.optioncolorcode)" type="button" style="background-color:{{item.optioncolorcode}} !important; border-color: {{ item .optioncolorcode; }} !important;" class="btn dropdown-toggle btn-small onTimeStatus-Btn" data-toggle="dropdown">
                                                {{item.selectvalue}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="option in item.leveloptions">
                                                    <a class="onTimeStatus-Btn" href="JavaScript:void(0);" ng-click="changestatusoption(item.attributeid,option.Id,option.Caption,item.optioncomment,option.Level,'option',item.levelid,option.ColorCode)" style="background-color:{{option.ColorCode}} !important; border-color: {{ option .ColorCode; }} !important;">{{option.Caption}} </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputCountryMultiSelect">{{item.levelcaption}} comment</label>
                                    <div class="controls">
                                        <div ng-show="updatecommnet==true">
                                            <a class="ng-pristine ng-valid ng-binding editable editable-click" ng-href="javascript:void(0);" ng-click="setfocusonComment(item.levelid,item.optioncomment);editable = 'name'" ng-hide="editable == 'name'">{{item.optioncomment}}</a>
                                        </div>
                                        <div ng-hide="updatecommnet==true">
                                            <label class="control-label">{{item.optioncomment}}</label>
                                        </div>
                                        <span ng-show="editable == 'name'">
                                            <div class="form-inline">
                                                <input id="statuscomment_{{item.levelid}}" type="text" ng-model="item.optioncomment" name="name" size="30" class="ng-valid ng-valid-required ng-dirty overview1TimeComment-editable">
                                                <button ng-show="updatecommnet" class="btn btn-primary editable-submit" ng-click="changestatusoption(item.attributeid,item.selectid,item.selectvalue,item.optioncomment,2,'comment',item.levelid,item.optioncolorcode); editable = ''"><i class="icon-ok icon-white"></i></button>
                                                <button ng-show="cancelcommnet" class="btn editable-cancel" ng-click="ClearEntityComment(item.attributeid,item.levelid,'comment');editable = ''"><i class="icon-remove"></i></button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>