﻿            @if (taskPermission)
            {
                <div class="box" id="tasksSummary">
                    <div class="box-header">
                        <h4>{{'LanguageContents.Res_1213.Caption'|translate}}</h4>
                    </div>
                    <div class="box-content">

                        <div class="box-content-margin" ng-show="ShowLoadedTaskSummary">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1217.Caption'|translate}}</label>
                                    <div class="controls">
                                        <div class="stripe">
                                            <span id="taskinprg"></span>
                                            {{TasksInprgress}}
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1218.Caption'|translate}}</label>
                                    <div class="controls">
                                        <div class="stripe">
                                            <span id="unassign"></span>
                                            {{Unassigned}}
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1219.Caption'|translate}}</label>
                                    <div class="controls">
                                        <div class="stripe">
                                            <span id="overduetask"></span>
                                            {{Overduetasks}}
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="inputEditable" class="control-label">{{'LanguageContents.Res_84.Caption'|translate}}</label>
                                    <div class="controls">
                                        <div class="stripe">
                                            <span id="unabletocomplete"></span>
                                            {{Unabletocomplete}}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="box-content-margin" ng-show="ShowEmptyTaskSummary">
                            {{'LanguageContents.Res_1223.Caption'|translate}}
                        </div>

                    </div>
                </div>
            }
       @if (workflowPermission)
            {
                <div class="box">
                    <div class="box-header">
                        <h4>{{'LanguageContents.Res_1205.Caption'|translate}}</h4>
                    </div>
                    <div class="box-content">
                        <div class="box-content-margin">
                            <form class="form-horizontal">
                                <div class="control-group" id="WorkFlowSummaryBlock"></div>
                            </form>
                        </div>
                    </div>
                </div>
            }