﻿@if (financialPermission)
            {
                <div class="box">
                    <div class="box-header">
                        <h4>{{'LanguageContents.Res_1211.Caption'|translate}}</h4>
                    </div>
                    <div class="box-content">
                        <div class="box-content-margin">
                            <form class="form-horizontal">
                                <div class="control-group" id="financialchart"></div>
                            </form>
                        </div>
                    </div>
                </div>
            }