﻿<div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_38.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div ng-show="detailsLoader" class="loadingInProgress">
                        <img src="assets/img/loading.gif" />
                        <span>Loading...</span>
                    </div>
                    <div class="box-content-margin" ng-show="detailsData">
                        <form class="form-horizontal" id="overviewDetialblock">
                            <div class="control-group" id="dynamicdetail">
                            </div>
                            <div>
                                <attributegroup-indetailblock item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupDetailBlock"></attributegroup-indetailblock>
                                @*<label class="control-label">To do</label><br />*@
                                <attribute-grouplistviewindetail item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupListDetailBlock"></attribute-grouplistviewindetail>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <attribute-group item-index="{{$index}}" item-imagecrop="getgroupid" item-imagefilename="{{attrgrpImagefileName}}" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupNotDetailBlock"></attribute-group>
            <attribute-grouplistview item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupListNotDetailBlock"></attribute-grouplistview>
            <div id="UplaodImagediv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="ngUplaodImagediv" data-width="750px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="H1">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
                </div>
                <div class="modal-body" id="filescontainer">
                    <div class="attachmentContainer">
                        <div id="filelist">
                        </div>
                    </div>
                    <div class="attachment-dragfiles" id="dragfiles">
                        <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
                        <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
                        <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
                        <div><a href="JavaScript:void(0);" id="pickfiles" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="attachment-progress" id="overViewUploaderTotalProgress" class="pull-left">
                    </div>
                    <a id="clearUploader" href="JavaScript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
                    <a id="pickfilesAlternate" href="JavaScript:void(0);" class="btn btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a>
                    <a id="uploadfiles" href="JavaScript:void(0);" class="btn btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a>
                </div>
            </div>