﻿<div class="row-fluid" ng-controller="mui.planningtool.calender.detail.ganttviewCtrl">
    <div class="row-fluid" id="CalendarGanttView">
        <div class="span12">
            <div class="row-fluid contentHeader">
                <div class="span12">
                    <div class="ActionBtnHolder container-padding-left btn-group">
                        <button class="btn btn-small ganttLockBtn" ng-click="SetGanttLockObj()">
                            <i class="icon-lock" id="ObjGanttLock"></i>
                            Lock
                        </button>
                        <button data-toggle="dropdown" class="btn dropdown-toggle btn-small capitalize nomargin" ng-click="OnganttPeriodChange()">
                            {{settings.Mode}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="DrawHeaderBar('monthly')">{{'LanguageContents.Res_1401.Caption'|translate}}</a></li>
                            <li><a ng-click="DrawHeaderBar('daily')">{{'LanguageContents.Res_1402.Caption'|translate}}</a></li>
                            <li><a ng-click="DrawHeaderBar('quarterly')">{{'LanguageContents.Res_1403.Caption'|translate}}</a></li>
                            <li><a ng-click="DrawHeaderBar('weekly')">{{'LanguageContents.Res_1404.Caption'|translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="ganttChart">
                <div class="ganttview">
                    <div class="ganttview-left">
                        <div class="ganttview-list">
                            <div class="ganttview-list-container">
                                <table class="table table-gantt">
                                    <thead>
                                        <tr id="ganttviewDataHeader"></tr>
                                    </thead>
                                </table>
                                <div class="ganttview-list-container-data">
                                    <table id="GanttDataContainer" class="table table-gantt">
                                        <tbody data-page="4"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ganttview-right">
                        <div class="ganttview-slide-container">
                            <div class="ganttview-header">
                                <div class="ganttview-header-mains"></div>
                                <div class="ganttview-header-subs"></div>
                                <div class="ganttview-header-block"></div>
                            </div>
                            <div class="ganttview-grid">
                                <div class="ganttview-grid-row" style="height: 0px;"></div>
                            </div>
                        </div>
                        <div class="ganttview-data">
                            <div class="ganttview-data-blocks" id="GanttBlockContainer">
                                <div data-page="0" class="ganttview-data-blocks-page"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='modal ganttViewDateChangePopup' id='moduleContextGantt' aria-hidden='true' aria-labelledby='myModalLabel' role='dialog' tabindex='-1' data-width="600px" style='display: none;'>
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="H1">{{'LanguageContents.Res_4150.Caption'|translate}} {{CaptionforPeriod}}</h3>
                </div>
                <div class="modal-body">
                    <ul class="gv-dc-header">
                        <li>
                            <label class="label1" for="GanttStartrange">{{'LanguageContents.Res_802.Caption'|translate}}</label>
                            <label class="label2" for="GanttDescription">{{'LanguageContents.Res_1204.Caption'|translate}}:</label>
                        </li>
                    </ul>
                    <ul class="gv-dc-content">
                        <li ng-repeat="item in GanttCurrentDateCollections">
                            <div class="control-group">
                                  <div class="controls input-append">
                                    <input type="text" class="dateBox" placeholder="--StartDate--" value="" ng-model="item.Startdate" ng-click="Calanderopen($event,'Startdate',item)" datepicker-popup="{{format}}" is-open="item.s_IsOpened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close">
                                </div>
                                <div class="controls input-append">
                                    <input type="text" class="dateBox" placeholder="--EndDate--" value="" ng-model="item.EndDate" ng-click="Calanderopen($event,'Enddate',item)" datepicker-popup="{{format}}" is-open="item.e_IsOpened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <input class="cmntBox" type="text" ng-model="item.Description">
                                </div>
                            </div>
                            <button class="btn btnEnd" ng-click="AddNextDate($index)"><i class="icon-plus"></i></button>
                            <button class="btn btnEnd" ng-click="RemoveDate($index,item.Id)"><i class="icon-remove"></i></button>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button ng-click="GanttsaveDetail()" ng-show="GanttCurrentDateCollections.length>0" ng-model="GanttSave" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
