﻿@model Presentation.Controllers.ViewController.UserAccessModule

@{
    bool overViewPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Overview);
    bool financialPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Financials);
    bool taskPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Task);
    bool workflowPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Workflow);
    bool memberPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Member);
    bool objectivePermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Objective);
    bool calenderPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.CalenderEdit);
    bool attachmentPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Attachments);
    bool presentationPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Presentation);
    var tabActiveClass = "active";
}
<div id="calSection" class="row-fluid" ng-controller="mui.planningtool.calender.detail.sectionCtrl">
    <div class="span12">
        <div class="row-fluid contentHeader">
            <div class="span12">
                <ul class="breadcrumb container-padding-left" id="breadcrumul">
                    <li ng-repeat="item in array"><a ng-if="$index<array.length-1" ng-style="set_color(item.mystyle)" style="color: #{{item.mystyle}};" id="breadcrumlink" href="{{item.activeitem}}" data-uniquekey="{{item.UniqueKey}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" data-typeid="{{item.TypeID}}" ng-click="BreadCrumOverview(item.ID)">{{DecodedTaskName(item.Name)}}</a><span ng-if="$index==array.length-1" class="divider">{{DecodedTaskName(item.Name)}}</span><span ng-hide="$index==array.length-1" class="divider">/</span></li>
                </ul>
                <h3 class="title"><span ng-style="set_bgcolor(EntityColorcode)" style="background-color: #{{EntityColorcode}}">{{EntityShortText}}</span> {{DecodedTaskName(RootLevelEntityName)}}</h3>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="tabbable tabbable-bordered">
                    <ul class="nav nav-tabs" id="SectionTabs">
                        <li id="{{currentdata.ControleID}}" ng-class="BindClass($index,currentdata.ControleID,currentdata.Id)" ng-repeat="currentdata in TabCollectionsList"><a data-toggle="tab" my-qtip2 qtip-content="{{currentdata.Name}}" ng-click="CustomTabLoad(currentdata.Id,currentdata.ExternalUrl,currentdata.IsSytemDefined,currentdata.ControleID,currentdata.AddEntityID)">{{currentdata.Name}}</a></li>
                    </ul>
                    <div class="tab-content">
                        @* <div ng-switch="subview">
                            @if (overViewPermission)
                            {
                                <div ng-switch-when="overview"><div ng-include=" 'views/mui/planningtool/calender/detail/section/overview.html' "></div></div>
                            }
                            @if (memberPermission)
                            {
                                <div ng-switch-when="member"><div ng-include=" 'views/mui/planningtool/calender/detail/section/member.html' "></div></div>
                            }
                            @if (attachmentPermission)
                            {
                                <div ng-switch-when="attachment"><div ng-include=" 'views/mui/planningtool/default/detail/section/attachment.html' "></div></div>
                            }
                            @if (presentationPermission)
                            {
                                <div ng-switch-when="presentation"><div ng-include=" 'views/mui/planningtool/calender/detail/section/presentation.html' "></div></div>
                            }
                            @if (taskPermission)
                            {
                                <div ng-switch-when="task"><div ng-include=" 'views/mui/planningtool/default/detail/section/Task.html' "></div></div>
                            }
                            <div ng-switch-when="customtab"><div ng-include=" 'views/mui/planningtool/calender/detail/section/customtab.html' "></div></div></div>*@
                        <div id="container">
                            <div ui-butterbar></div>
                            <div ui-view></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
