﻿<div ng-controller="mui.admin.muiadminacclockCntrl">
    <div class="row-fluid">
        <div class="span12">
            <div class="AdminMargin adminForm">
                <div class="pageHeader">
                    <h3>Login & Password</h3>
                </div>
                <div class="pageInfo"></div>
                <div class="pageContent">
                    <div class="lockAccountPage">
                        <form class="form-horizontal" name="horizontalform">
                            <div class="draggableTable">
                                <div class="FilterPanel">
                                    <div class="fP_right">
                                        <span class="btnPane">
                                            <button type="button" my-qtip2 qtip-content="Save" class="btn btn-small btn-primary" data-target="" href="" ng-click="SavePwdDetails()" data-toggle="modal">
                                                {{'LanguageContents.Res_15.Caption'|translate}}
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="dT_Table">
                                    <table id="passwordandlogin">
                                        <thead>
                                            <tr>
                                                <th class="col5p align-center"><span>{{'LanguageContents.Res_69.Caption'|translate}}</span></th>
                                                <th><span>{{'LanguageContents.Res_4545.Caption'|translate}}</span></th>
                                                <th><span>{{'LanguageContents.Res_5539.Caption'|translate}}</span></th>
                                                <th><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="col5p align-center"><span>1</span></td>
                                                <td><span>{{'LanguageContents.Res_5540.Caption'|translate}}</span></td>
                                                <td class="colControls xs"><span>
                                                    <input type="text" id="lockouttime" name="lockouttime" ng-model="lockouttime" ng-readonly="notifyadmin" /></span></td>
                                                <td><span>{{'LanguageContents.Res_5540.Description'|translate}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="col5p align-center">2</td>
                                                <td><span>{{'LanguageContents.Res_5533.Caption'|translate}}</span></td>
                                                <td class="colControls xs"><span>
                                                    <input type="text" id="attempts" name="attempts" ng-model="attempts" /></span></td>
                                                <td><span>{{'LanguageContents.Res_5533.Description'|translate}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="col5p align-center">3</td>
                                                <td><span>{{'LanguageContents.Res_5534.Caption'|translate}}</span></td>
                                                <td class="colControls xs"><span>
                                                    <input type="text" id="monthlyrepetition" name="monthlyrepetition" ng-model="monthlyrepetition" /></span></td>
                                                <td><span>{{'LanguageContents.Res_5534.Description'|translate}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="col5p align-center">4</td>
                                                <td><span>{{'LanguageContents.Res_5535.Caption'|translate}}</span></td>
                                                <td class="colControls xs"><span>
                                                    <input type="text" id="repetitiontime" name="repetitiontime" ng-model="repetitiontime" /></span></td>
                                                <td><span>{{'LanguageContents.Res_5535.Description'|translate}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="col5p align-center">5</td>
                                                <td><span>{{'LanguageContents.Res_5536.Caption'|translate}}</span></td>
                                                <td class="colControls xs"><span>
                                                    <input type="text" id="monthlyexpiration" name="monthlyexpiration" ng-model="monthlyexpiration" ng-readonly="!expirevalidation" /></span></td>
                                                <td><span>{{'LanguageContents.Res_5536.Description'|translate}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="col5p align-center">6</td>
                                                <td><span>{{'LanguageContents.Res_5537.Caption'|translate}}</span></td>
                                                <td class="colControls xs"><span>
                                                    <label class="checkbox checkbox-custom">
                                                        <input type="checkbox" ng-model="expirevalidation" name="expirevalidation" id="expirevalidation"><i class="checkbox" ng-class="{'checkbox checked':expirevalidation, 'checkbox': !expirevalidation}"></i></label></span></td>
                                                <td><span>{{'LanguageContents.Res_5537.Description'|translate}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="col5p align-center">7</td>
                                                <td><span>{{'LanguageContents.Res_5538.Caption'|translate}}</span></td>
                                                <td class="colControls xs"><span>
                                                    <label class="checkbox checkbox-custom">
                                                        <input type="checkbox" ng-model="notifyuser" name="notifyuser" id="notifyuser"><i class="checkbox" ng-class="{'checkbox checked':notifyuser, 'checkbox': !notifyuser}"></i></label></span></td>
                                                <td><span>{{'LanguageContents.Res_5538.Description'|translate}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="col5p align-center">8</td>
                                                <td><span>{{'LanguageContents.Res_5547.Caption'|translate}}</span></td>
                                                <td class="colControls xs"><span>
                                                    <label class="checkbox checkbox-custom">
                                                        <input type="checkbox" ng-model="notifyadmin" name="notifyadmin" id="notifyadmin"><i class="checkbox" ng-class="{'checkbox checked':notifyadmin, 'checkbox': !notifyadmin}"></i></label></span></td>
                                                <td><span>{{'LanguageContents.Res_5547.Description'|translate}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br />
                            <div><span>
                                <h4>Statistics</h4>
                            </span></div>
                            <div class="accountLockTable">
                                <table id="Table1" class="table table-bordered table-striped">
                                    <tr>
                                        <th class="checkboxtd"><span>
                                            <label class="checkbox checkbox-custom pull-right">
                                                <input type="checkbox" ng-model="selectedAllusers" ng-click="checkAllUsers()" id="Checkbox3"><i class="checkbox" ng-class="{'checkbox checked':selectedAllusers, 'checkbox': !selectedAllusers}"></i></label></span></th>
                                        <th>{{'LanguageContents.Res_51.Caption'|translate}}</th>
                                        <th>{{'LanguageContents.Res_52.Caption'|translate}}</th>
                                        <th>{{'LanguageContents.Res_53.Caption'|translate}}</th>
                                        <th>{{'LanguageContents.Res_55.Caption'|translate}}</th>
                                        <th>{{'LanguageContents.Res_5549.Caption'|translate}}</th>
                                        <th>{{'LanguageContents.Res_5550.Caption'|translate}}</th>
                                        <th>{{'LanguageContents.Res_5551.Caption'|translate}}</th>
                                    </tr>
                                    <tr ng-repeat="api in LockedUserList">
                                        <td><span>
                                            <label class="checkbox checkbox-custom pull-right">
                                                <input id="{{api.ID}}" type="checkbox" ng-click="RemoveCheckallSelection(api,$event)" ng-model="api.Selected"><i class="checkbox" ng-class="{'checkbox checked':api.Selected, 'checkbox': !api.Selected}"></i></label></span></td>
                                        <td><span>{{api.ID}}</span></td>
                                        <td><span>{{api.FirstName}}</span></td>
                                        <td><span>{{api.LastName}}</span></td>
                                        <td><span>{{api.Email}}</span></td>
                                        <td><span>{{api.LastLoginTime}}</span></td>
                                        <td><span>{{api.Unlockedby}}</span></td>
                                        <td><span>{{api.UnlockedTime}}</span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="lockAccount-btnPane">
                                <button class="btn btn-small" type="button">Cancel</button>
                                <button class="btn btn-small btn-primary" type="button" id="UnlockRequestBtn" ng-click="UnlockRequest()">Unlock</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
