﻿<div ng-controller="mui.admin.additionalsettingsCntrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_536.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group nomargin">
                                        <label class="control-label" for="ddlDateFormat">{{'LanguageContents.Res_537.Caption'|translate}}</label><div class="controls">
                                            <input type="text" ng-model="adminemailid" id="adminemailid" placeholder="adminemailid" />
                                            <button class="btn btn-small btn-primary" ng-model="Approve" ng-click="saveadminemail()" type="submit">{{'LanguageContents.Res_4741.Caption'|translate}}</button>
                                        </div>
                                        <span class="info">({{'LanguageContents.Res_538.Caption'|translate}}) </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_539.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group nomargin">
                                        <label class="control-label" for="ddlDateFormat">{{'LanguageContents.Res_36.Caption'|translate}}</label><div class="controls">
                                            <select name="DateFormat" ng-model="DateFormat">
                                                <option ng-repeat="item in DateFormatsList" value="{{item.name}}">{{item.name}}</option>
                                            </select>
                                            <button ng-click="UpdateFormat('DateFormat')" class="btn btn-small btn-primary">{{'LanguageContents.Res_4741.Caption'|translate}}</button>
                                        </div>
                                        <span class="info">({{'LanguageContents.Res_540.Caption'|translate}})</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_237.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group nomargin">
                                        <label class="control-label" for="ddlDateFormat">{{'LanguageContents.Res_236.Caption'|translate}}</label><div class="controls">
                                            <select name="ExpiryTime" ng-model="Time">
                                                <option ng-repeat="options in Timelist" value="{{options.name}}">{{options.name}}</option>
                                            </select>
                                            <button ng-click="UpdateExpirytime()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4741.Caption'|translate}}</button>
                                        </div>
                                        <span class="info">({{'LanguageContents.Res_235.Caption'|translate}})</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_234.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group nomargin">
                                        <label class="control-label" for="ddlDateFormat">{{'LanguageContents.Res_233.Caption'|translate}}</label><div class="controls">
                                            <select name="PopularTag" ng-model="PopularTagWords">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                            </select>
                                            <button ng-click="UpdatePopularTagWords()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4741.Caption'|translate}}</button>
                                        </div>
                                        <span class="info">({{'LanguageContents.Res_232.Caption'|translate}})</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_197.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group nomargin">
                                        <label class="control-label" for="ddlDateFormat">{{'LanguageContents.Res_196.Caption'|translate}}</label><div class="controls">
                                            <input type="text" ng-model="notifytimeid" id="notifytimeid" placeholder="Seconds" />
                                            <button class="btn btn-small btn-primary" ng-model="ntidset" ng-click="savenotifytimesetbyuser()" type="submit">{{'LanguageContents.Res_4741.Caption'|translate}}</button>
                                        </div>
                                        <span class="info">({{'LanguageContents.Res_198.Caption'|translate}}) </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>Notification refresh cycle</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group nomargin">
                                        <label class="control-label" for="ddlDateFormat">Duration</label><div class="controls">
                                            <input type="text" ng-model="notifycycletimeid" id="notifycycletimeid" placeholder="Seconds" />
                                            <button class="btn btn-small btn-primary" ng-model="ntifyrecycletidset" ng-click="savenotifycycletimesetbyuser()" type="submit">{{'LanguageContents.Res_4741.Caption'|translate}}</button>
                                        </div>
                                        <span class="info">(Specify how long time (ms) should take for the each notification refresh cycle) </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_5526.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddlDecimalPlacest">{{'LanguageContents.Res_5527.Caption'|translate}}</label><div class="controls">
                                            <select name="DecimalPlaces" ng-model="DecimalValueForFinancial">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                            <button ng-click="SetDecimalPlaces('financial')" class="btn btn-small btn-primary">{{'LanguageContents.Res_4741.Caption'|translate}}</button>
                                            <span class="info">({{'LanguageContents.Res_5528.Caption'|translate}}) </span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddlDecimalPlacest">{{'LanguageContents.Res_5529.Caption'|translate}}</label><div class="controls">
                                            <select name="DecimalPlaces" ng-model="DecimalValueForObjective">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                            <button ng-click="SetDecimalPlaces('objective')" class="btn btn-small btn-primary">{{'LanguageContents.Res_4741.Caption'|translate}}</button>
                                            <span class="info">({{'LanguageContents.Res_5530.Caption'|translate}}) </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>Entity Default Folder </h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddlDecimalPlacest">Enable Default Folder</label><div class="controls">
                                            <select ui-select2 name="DefaultFolderEnable" ng-model="IsdefaultfolderEnable">
                                                <option value="0">No</option>
                                                <option value="1">Yes</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="IsdefaultfolderEnable==1">
                                        <label class="control-label" for="ddlDecimalPlacest">Default folder name</label><div class="controls">
                                            <input type="text" name="DefaultFolderName" ng-model="defaultFolderName" placeholder="Default Folder Name"></input>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="IsdefaultfolderEnable==1">
                                        <label class="control-label" for="ddlDecimalPlacest">Default folder description</label><div class="controls">
                                            <input type="text" name="DefaultFolderDesc" ng-model="defaultFolderDesc" placeholder="Default Folder Description"></input>
                                        </div>
                                    </div>
                                    <button ng-click="saveDefaultFolderInfo()" class="btn btn-small btn-primary">Save default folder settings</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>Personal News Feed Settings </h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group nomargin">
                                        <label class="control-label">Editor</label><div class="controls">
                                            <input type="checkbox" ng-click="SetnewsFeedConfig($event, 2);" ng-model="checkEditornewsFeedConfig" id="checkEditornewsFeedConfig" class="ng-pristine ng-valid">
                                            <i ng-class="{'checkbox checked':checkEditornewsFeedConfig ,'checkbox':!checkEditornewsFeedConfig}"></i>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Owner</label><div class="controls">
                                            <input type="checkbox" ng-click="SetnewsFeedConfig($event, 1);" ng-model="checkownernewsFeedConfig" id="checkownernewsFeedConfig" class="ng-pristine ng-valid"><i ng-class="{'checkbox checked':checkownernewsFeedConfig ,'checkbox':!checkownernewsFeedConfig}"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_5717.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group nomargin">
                                        <label class="control-label" for="label">{{'LanguageContents.Res_653.Caption'|translate}}</label>
                                        <div class="controls">
                                            <select ui-select2 id="addSingleSelection" name="addSingleSelection" ng-selected="" ng-model="startpageid" ng-change="changeStartPage();">
                                                <option value="">{{'LanguageContents.Res_39.Caption'|translate}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>Manage Cache Settings </h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Metadasettings applychanges status </label>
                                        <div class="controls">
                                            <select ui-select2 name="metadataApplyStatus" ng-model="metadataApplyStatus">
                                                <option value="1">Locked</option>
                                                <option value="0">Unlocked</option>
                                            </select>
                                            <button class="btn btn-small btn-primary" ng-click="setmetadataLockStatus()" type="submit">Set</button>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddlDecimalPlacest">Clear all XML cache</label><div class="controls">
                                            <button class="btn btn-small btn-primary" ng-click="clearCache()" type="submit">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
