﻿<div class="row-fluid" ng-controller="mui.admin.apiuserCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4077.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="horizontalform">
                            <div id="APIuserDisplay">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th><span>{{'LanguageContents.Res_4886.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_4076.Caption'|translate}}</span></th>
                                        <th><span>
                                            <label class="checkbox checkbox-custom">
                                                <input type="checkbox" ng-model="selectedAllAPIusers" ng-click="checkAllAPIUsers()" id="Checkbox2"><i class="checkbox" ng-class="{'checkbox checked':selectedAllAPIusers, 'checkbox': !selectedAllAPIusers}"></i></label></span></th>
                                    </tr>
                                    <tr ng-repeat="api in APIList">
                                        <td><span>{{api.UserID}}</span></td>
                                        <td><span>{{api.FirstName}} {{api.LastName}}</span></td>
                                        <td><span>{{api.APIGuid}}</span></td>
                                        <td>
                                            <label class="checkbox checkbox-custom">
                                                <input id="Checkbox1" type="checkbox" ng-click="RemoveCheckallAPISelection(api,$event)" ng-model="api.Selected"><i class="checkbox" ng-class="{'checkbox checked':api.Selected, 'checkbox': !api.Selected}"></i></label></td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <a class="btn btn-small btn-primary" ng-click="generateGuid()" id="generateBtn">{{'LanguageContents.Res_4992.Caption'|translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
