﻿<div ng-controller="mui.admin.applicationsettingsCtrl">
    <div class="row-fluid">
        <div class="span3">
            <div class="containerHeading">
                <h3>{{'LanguageContents.Res_89.Caption'|translate}}</h3>
            </div>
        </div>
    </div>
</div>
