﻿<div id="taskPredefinedflow" ng-controller="mui.admin.taskPredefinedFlowCtrl">
    <div id="approvalflowTempPopup" class="modal approvalflowTempPopup" aria-hidden="false" aria-labelledby="myModalLabel1" role="dialog" tabindex="-1" data-width="800" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3>Workflow: Brand Campaign asset</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <form class="form-horizontal">
                    <div class="initialForm">
                        <div class="control-group">
                            <label class="control-label">Name:</label><div class="controls">
                                <input type="text" ng-model="TaskTemplateName" placeholder="Name" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Description:</label><div class="controls">
                                <input type="text" ng-model="TaskTemplateDescription" placeholder="Description" />
                            </div>
                        </div>
                        <hr />
                        <button type="button" class="btn btn-small btn-primary" ng-click="OpenCreateTaskTemplatePhasePopup()">{{'LanguageContents.Res_5578.Caption'|translate}}</button>
                    </div>
                    <div class="layout-Draggable" ng-repeat="phases in templateData.PhaseData.AllPhaseList">
                        <div class="taskPhase-block adminTaskBlock dropzone">
                            <ul class="phaseList" dnd-list="phases" dnd-allowed-types="['containerType']" dnd-external-sources="true"
                                dnd-dragover="dragoverCallback(event, index, external, type)"
                                dnd-drop="dropCallback(event, index, item, external, type, 'containerType')">
                                <li ng-repeat="phase in phases" dnd-draggable="phase"
                                    dnd-type="'containerType'"
                                    dnd-effect-allowed="copyMove"
                                    dnd-dragstart="logEvent('Started to drag a container', event)"
                                    dnd-moved="phases.splice($index, 1); logEvent('Container moved', event)"
                                    dnd-copied="logEvent('Container copied', event)">
                                    <div class="phase-block container-element layout-Draggable">
                                        <div class="phase-header">
                                            <div class="phsName"><span class="nm">{{phase.Name}}</span><span class="dur">({{phase.maxduration}} days)</span></div>
                                            <button ng-click="AddNewStep(phase.ID)" type="button" class="btn btn-mini btn-primary">{{'LanguageContents.Res_5576.Caption'|translate}}</button>
                                        </div>
                                        <ul class="phaseStepList dropzone" dnd-list="phase.StepsData"
                                            dnd-allowed-types="['itemType']"
                                            dnd-horizontal-list="true"
                                            dnd-external-sources="true"
                                            dnd-dragover="dragoverCallback(event, index, external, type)"
                                            dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"
                                            class="itemlist">
                                            <li ng-repeat="step in phase.StepsData"
                                                dnd-draggable="step"
                                                dnd-type="'itemType'"
                                                dnd-effect-allowed="copyMove"
                                                dnd-dragstart="logEvent('Started to drag an item', event)"
                                                dnd-moved="phase.StepsData.splice($index, 1); logEvent('Item moved', event)"
                                                dnd-copied="logEvent('Item copied', event)">
                                                <div ng-class="{'phaseStep-block selected':step.isopened,'phaseStep-block':!step.isopened}">
                                                    <div class="phaseStep-header">
                                                        <span class="expcolIcon"><i ng-click="step.isopened=!step.isopened" ng-hide="step.isopened" class="icon-chevron-right"></i><i ng-click="step.isopened=!step.isopened" ng-show="step.isopened" class="icon-chevron-down"></i></span>
                                                        <h3 ng-click="step.isopened=!step.isopened" class="headText"><a>{{step.Name}}</a></h3>
                                                        <span class="IcnSet"><span class="rmvIcon" ng-click="DeleteStep(step)"><i class="icon-remove"></i></span></span>
                                                    </div>
                                                    <div class="phaseStep-content">
                                                        <div class="control-group">
                                                            <label class="control-label">Duration:</label><div class="controls">
                                                                <select ui-select2 ng-model="step.Duration">
                                                                    <option value="">Select duration</option>
                                                                    <option ng-repeat="dur in PhaseDuration" value="{{dur.ID}}">{{dur.Caption}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label">Min Approval:</label><div class="controls">
                                                                <select ui-select2 ng-model="step.MinApproval">
                                                                    <option value="">Select min approval</option>
                                                                    <option ng-repeat="i in PhaseMinApproval" value="{{i}}">{{i}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label">Roles:</label><div class="controls">
                                                                <select ui-select2 ng-model="step.Roles">
                                                                    <option value="">Select roles</option>
                                                                    <option ng-repeat="role in templateData.UserRoles" value="{{role.Id}}">{{role.Caption}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="control-group" ng-hide="true">
                                                            <label class="control-label">Is Mandatory:</label><div class="controls">
                                                                <label class="checkbox checkbox-custom inlineBlock">
                                                                    <input type="checkbox" ng-model="step.IsMandatory" name="TaskTemplateIsMandatory" id="Checkbox2"><i class="checkbox" ng-class="{'checkbox checked':step.IsMandatory, 'checkbox': !step.IsMandatory}"></i><span class="va-middle">User can not remove stage</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li class="blank">
                                    <h1></h1>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small" data-dismiss="modal">Close</button>
            <button class="btn btn-small btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="InsertUpdateTaskTemplate()">Save</button>
        </div>
    </div>
    <ul id="thumbnailActionMenu" style="display: none; position: fixed; left: 699px; top: 316px; z-index: 999999;" class="dropdown-menu contexMenu">
        <li><a tabindex="-1" ng-click="UpdateStep()" href="javascript:void(0)" class="ng-binding">Edit</a></li>
        <li ng-show="div" class="divider"></li>
        <li><a tabindex="-1" ng-click="DeleteStep()" href="javascript:void(0)" class="ng-binding">Delete</a></li>
        <li ng-show="div" class="divider"></li>
    </ul>
    <div class="AdminMargin adminForm approvalFlowTemplateSettings">
        <div class="pageHeader">
            <h3>Approval flow template</h3>
        </div>
        <div class="pageInfo" ng-hide="true">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button><h4>Information</h4>
                Using Approval flow template setting we can ........................
            </div>
        </div>
        <div class="pageContent">
            <div class="width5x margin-bottom20x">
                <table class="table table-normal table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="colFirst"><span>ID</span></th>
                            <th><span>Name</span></th>
                            <th><span>Description</span></th>
                            <th class="colEdit"></th>
                            <th class="colDelete"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="temp in templateData.templateSrcData">
                            <td class="colFirst"><span>{{temp.ID}}</span></td>
                            <td><span>{{temp.Name}}</span></td>
                            <td><span>{{temp.Description}}</span></td>
                            <td class="colEdit"><a class="iconLink" data-toggle="modal"><i ng-click="EditApprovalTemplate(temp.ID)" class="icon-edit"></i></a></td>
                            <td class="colDelete"><a class="iconLink"><i class="icon-remove" ng-click="DeleteApprovalTemplate(temp.ID)"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pageFooter">
            <button class="btn btn-small btn-primary" ng-click="TaskTemplatemodal()">Add</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="TaskTemplatemodal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">{{'LanguageContents.Res_5577.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="tasktemplatename">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                            <input type="text" ng-model="TaskTemplateName" id="tasktemplatename" placeholder="Name" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="tasktemplatedesc">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                            <textarea class="small-textarea" ng-model="TaskTemplateDescription" id="tasktemplatedesc" placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="InsertUpdateTaskTemplate()" ng-model="addtasktemplate" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="NewTaskTemplatePhase" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H1">{{'LanguageContents.Res_5581.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="tasktemplatename">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                            <input type="text" ng-model="Phasename" id="Text1" placeholder="Name" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="tasktemplatedesc">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                            <textarea class="small-textarea" ng-model="Phasedescription" id="Textarea1" placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="AddNewPhase()" ng-model="addtasktemplatephase" class="btn btn-small btn-primary">{{'LanguageContents.Res_4.Caption'|translate}}</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="NewTaskTemplateStep" style="display: none;">
        <div class="modal-header">
            <button ng-click="CloseAddTask()" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="H2">{{stagecreateandedit}}</h3>
        </div>
        <div class="modal-body">
            <div>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label align-left">Name:</label><div class="controls">
                            <input id="Text2" ng-model="TaskTemplateStepName" name="NewTaskName" type="text" placeholder="Name" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label align-left">Description:</label><div class="controls">
                            <textarea class="small-textarea" ng-model="TaskTemplateStepDescription" name="TaskDescription" placeholder="Description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label align-left">Duration:</label><div class="controls">
                            <select ui-select2 ng-model="TaskTemplateStepduration">
                                <option value="">Select duration</option>
                                <option ng-repeat="dur in PhaseDuration" value="{{dur.ID}}">{{dur.Caption}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label align-left">Min Approval:</label><div class="controls">
                            <select ui-select2 ng-model="TaskTemplateStepMinApproval">
                                <option value="">Select min approval</option>
                                <option ng-repeat="i in PhaseMinApproval" value="{{i}}">{{i}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label align-left">Roles:</label><div class="controls">
                            <select ui-select2 ng-model="TaskTemplateSteproles">
                                <option value="">Select roles</option>
                                <option ng-repeat="role in templateData.UserRoles" value="{{role.Id}}">{{role.Caption}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group" ng-hide="true">
                        <label class="control-label align-left">Is Mandatory:</label><div class="controls">
                            <label class="checkbox checkbox-custom inlineBlock">
                                <input type="checkbox" ng-model="TaskTemplateIsMandatory" name="TaskTemplateIsMandatory" id="Checkbox1"><i class="checkbox" ng-class="{'checkbox checked':TaskTemplateIsMandatory, 'checkbox': !TaskTemplateIsMandatory}"></i><span class="va-middle">User can not remove stage</span></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-show="!IsUpdate" type="button" class="btn btn-small btn-primary" ng-click="AddStep(1)">Save</button>
            <button ng-show="IsUpdate" type="button" class="btn btn-small btn-primary" ng-click="AddStep(2)">Save</button>
            <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
</div>
