﻿<div ng-controller="mui.admin.approvalroleCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_5602.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="AssetList">
                            <form class="form-inline">
                                <input type="text" ng-model="wizard.newOption" size="20" />
                                <button ng-click="addOptions()" ng-show="EnableOptionAdd" ng-model="fillgrid" class="btn btn-small btn-primary">{{'LanguageContents.Res_616.Caption'|translate}}</button>
                                <button ng-click="EditOptions()" ng-show="EnableOptionUpdate" ng-model="updateOption" class="btn btn-small btn-primary">{{'LanguageContents.Res_617.Caption'|translate}}</button>
                            </form>
                            <div class="ulStripedListContainer">
                                <ul class="ul-striped width3x" bnsortable>
                                    <li class="cursor-move ng-scope" ng-repeat="option in optionsLists" data-handle="true" ng-style="set_BGColor(alternateColor($index))" style="background-color: #{{alternateColor($index)}};">
                                        <span class="span10 ng-binding">{{option.Caption}}</span>
                                        <span class="span1">
                                            <a class="iconLink" ng-click="GetOptionbyID(option)">
                                                <i class="icon-edit nopadding"></i>
                                            </a>
                                        </span>
                                        <span class="span1">
                                            <a class="iconLink" ng-click="deleteOptions(option)">
                                                <i class="icon-remove nopadding font14"></i>
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="handleNext()" ng-show="false" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
