﻿<div class="row-fluid" ng-controller="mui.admin.assettypefileextensionrelationCtrl">
    <div class="AdminMargin adminForm fileExMapSettings">
        <div class="pageHeader">
            <h3>File Extension Mapping</h3>
        </div>
        <div class="pageInfo">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>Information</h4>
                Using file extension mapping we can define which asset type will auto populate for which file extension.
            </div>
        </div>
        <div class="pageContent">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th><span>File Extension</span></th>
                        <th><span>Asset type category</span></th>
                        <th><span>Asset type</span></th>
                        <th class="colLast"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in AssettypeFileExt">
                        <td><span>{{item.Extension}}</span></td>
                        <td><span>{{item.AssetCategoryPath}}</span></td>
                        <td><span class="eicon" style="vertical-align: middle; margin-top: -4px; background-color: #{{item.ColorCode}};">{{item.ShortDescription}}</span><span>{{item.AssetType}}</span></td>
                        <td class="colLast">
                            <span>
                                <button type="button" ng-click="EditAssetTypeFileExt(item.AssetTypeID,item.ID,item.Extension,item.AssetCategoryPath)" class="btn btn-small btn-primary margin-right5x" data-toggle="modal" data-target="#addFileExtensionPopup">Edit</button>
                                <button ng-click="DeleteAssetTypeFileExt(item.ID)" class="btn btn-small btn-danger">Delete</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pageFooter">
            <button data-target="#addFileExtensionPopup" ng-click="ClearScope()" class="btn btn-small btn-primary" data-toggle="modal">Add</button>
        </div>
    </div>
    <div id="addFileExtensionPopup" class="modal addFileExtensionPopup" aria-hidden="false" aria-labelledby="myModalLabel1" role="dialog" tabindex="-1" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Add File Extension</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <form>
                    <div class="control-group">
                        <label class="control-label">Extension:</label><div class="controls">
                            <input type="text" ng-model="FileExtension" id="FileExtensionid" placeholder="Extension" />
                        </div>
                    </div>
                    <div class="control-group assetTypeField">
                        <label class="control-label">Asset Type:</label><div class="controls">
                            <a ng-click="AssetTypeTreePopUp()">
                                <p>{{CategoryPath}}</p>
                            </a>
                            <input id="ddlChildren" type="hidden" ui-select2="tagAllOptions" ng-model="tempHolder" />
                            <span class="imgTypeSection"><span class="imgTypeEditIcon" ng-click="AssetTypeTreePopUp();">
                                <img src="assets/img/treeIcon.png" /></span>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="InsertAssetTypeFileExtension()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button class="btn btn-small" data-dismiss="modal">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal dynamicTreePopup" id="AssetCategoryTree" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H1">{{'LanguageContents.Res_4734.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div id="dynamicAssetTypeTree"></div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true">{{'LanguageContents.Res_14.Caption'|translate}}
            </a>
        </div>
    </div>
</div>

