﻿<div class="row-fluid" ng-controller="mui.admin.assetrolesCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>Asset roles</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form id="entitytypeformPage2" class="notvalidate">
                            <div class="row-fluid">
                                <div class="entypeAttrbtTable span5">
                                    <table id="entitytypeattrrelationlist" class="table table-bordered table-striped">
                                        <tr id="0">
                                            <th class="span2"><span>Member access</span></th>
                                            <th>Roles</th>
                                        </tr>
                                        <tr ng-repeat="role in globalrolesData" id="{{role.Id}}">
                                            <td>
                                                <input class="checkForCount" type="checkbox" ng-checked="role.IsAssetAccess" ng-model="chk_isenable" ng-click="UpdateUserVisibility(role)" /></td>
                                            <td>{{role.Caption}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
