﻿<div class="row-fluid" ng-controller="mui.admin.assetcategoryCtrl">
    <div class="row-fluid">
        <div class="span12">
            <div class="AdminMargin adminForm">
                <div class="pageHeader">
                    <h3>{{'LanguageContents.Res_5111.Caption'|translate}}</h3>
                </div>
                <div class="pageInfo">
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>{{'LanguageContents.Res_194.Caption'|translate}}</h4>
                        {{'LanguageContents.Res_5112.Caption'|translate}}
                    </div>
                </div>
                <div class="margin-bottom20x">
                    <button class="btn btn-small btn-primary" href="javascript:void(0)" ng-click="OpenEditCategoryPopUp()">{{'LanguageContents.Res_4228.Caption'|translate}}</button>
                </div>
                <div class="pageContent">
                    <table class="table table-striped table-condensed width3x">
                        <thead>
                            <tr>
                                <th>{{'LanguageContents.Res_2507.Caption'|translate}}</th>
                                <th>{{'LanguageContents.Res_4148.Caption'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in assetTypedata" id="Tr1">
                                <td>{{item.AssetTypeCaption}}</td>
                                <td><a href="javascript:void(0)" ng-click="LaodAssetCategoryRelByID(item)">{{item.CategoryName}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal dynamicTreePopup" id="modalCategory" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H1">{{'LanguageContents.Res_4148.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div id="AssetCategoryTree">
                    <ul class="dynamicTreeContainer" bnsortable>
                        <li ng-repeat="data in tree" ng-include="'views/mui/admin/node.html'" ng-hide="data.IsDeleted"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="SaveAndUpdateCategory()" ng-model="buttonText" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal dynamicTreePopup" id="AssetCategoryRel" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H2">{{'LanguageContents.Res_4148.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div id="dynamicTree"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
