﻿<div ng-controller="mui.admin.assetsnippetCtrl">
    <div class="row-fluid">
        <div id="snippetSettings" class="AdminMargin adminForm">
            <div class="pageHeader">
                <h3>{{'LanguageContents.Res_1167.Caption'|translate}}</h3>
            </div>
            <div class="pageInfo">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>{{'LanguageContents.Res_194.Caption'|translate}}</h4>
                    {{'LanguageContents.Res_1168.Caption'|translate}}
                </div>
            </div>
            <div class="pageContent">
                <div class="tabbable tabbable-bordered">
                    <ul class="nav nav-tabs" id="SectionTabs">
                        <li id="li-searchBox" class="active">
                            <a href="#tab-searchBox" data-toggle="tab">{{'LanguageContents.Res_1169.Caption'|translate}}</a></li>
                        <li id="li-searchResult">
                            <a href="#tab-searchResult" data-toggle="tab">{{'LanguageContents.Res_1170.Caption'|translate}}</a></li>
                        <li id="li-looknfeel">
                            <a href="#tab-looknfeel" data-toggle="tab">{{'LanguageContents.Res_1171.Caption'|translate}}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-line"></div>
                        <div class="tab-pane active" id="tab-searchBox">
                            <div class="snip-searchBox">
                                <div class="noteBox">
                                    <p>{{'LanguageContents.Res_1172.Caption'|translate}}</p>
                                    <p>{{'LanguageContents.Res_1173.Caption'|translate}}</p>
                                </div>
                                <div class="codeBox">
                                    <p class="codeBoxScript">
                                        <xmp>{{searchboxcode}}</xmp>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-searchResult">
                            <div class="snip-searchResult">
                                <div class="noteBox">
                                    <p>{{'LanguageContents.Res_1172.Caption'|translate}}</p>
                                    <p>{{'LanguageContents.Res_1173.Caption'|translate}}</p>
                                </div>
                                <div class="codeBox">
                                    <div class="codeBoxScript">
                                        <xmp>{{searchresultcode}}</xmp>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-looknfeel">
                            <div class="snip-looknfeel">
                                <table class="table adminFormTable">
                                    <tbody>
                                        <tr class="blockHeader">
                                            <td>
                                                <h4>{{'LanguageContents.Res_1174.Caption'|translate}}</h4>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="colLabel">
                                                <blockquote>
                                                    <p>{{'LanguageContents.Res_1175.Caption'|translate}}</p>
                                                    <small>{{'LanguageContents.Res_1176.Caption'|translate}}</small>
                                                </blockquote>
                                            </td>
                                            <td class="colControl">
                                                <div>
                                                    <div class="controls colorPickerContainer">
                                                        <input type="text" maxlength="6" name="colorcode" ng-model="assetSnippetdata.assetSnippetdata.refineSearchBckForeColor" id="refineSearchBckForeColor" required>
                                                        <uicolorpicker ng-model="assetSnippetdata.assetSnippetdata.refineSearchBckForeColor" options="ColorOptions"></uicolorpicker>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="colLabel">
                                                <blockquote>
                                                    <p>{{'LanguageContents.Res_1177.Caption'|translate}}</p>
                                                    <small>{{'LanguageContents.Res_1178.Caption'|translate}}</small>
                                                </blockquote>
                                            </td>
                                            <td class="colControl">
                                                <div>
                                                    <div class="controls colorPickerContainer">
                                                        <input type="text" maxlength="6" name="colorcode" ng-model="assetSnippetdata.assetSnippetdata.pagebckgroundcolor" id="pagebckgroundcolor" required>
                                                        <uicolorpicker ng-model="assetSnippetdata.assetSnippetdata.pagebckgroundcolor" options="ColorOptions"></uicolorpicker>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="colLabel">
                                                <blockquote>
                                                    <p>{{'LanguageContents.Res_1179.Caption'|translate}}</p>
                                                    <small>{{'LanguageContents.Res_1180.Caption'|translate}}</small>
                                                </blockquote>
                                            </td>
                                            <td class="colControl">
                                                <div>
                                                    <div class="controls colorPickerContainer">
                                                        <input type="text" maxlength="6" name="colorcode" ng-model="assetSnippetdata.assetSnippetdata.imgbordercolor" id="imgbordercolor" required>
                                                        <uicolorpicker ng-model="assetSnippetdata.assetSnippetdata.imgbordercolor" options="ColorOptions"></uicolorpicker>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="colLabel">
                                                <blockquote>
                                                    <p>{{'LanguageContents.Res_184.Caption'|translate}}</p>
                                                    <small>{{'LanguageContents.Res_1185.Caption'|translate}}.</small>
                                                </blockquote>
                                            </td>
                                            <td class="colControl">
                                                <div>
                                                    <div class="controls colorPickerContainer">
                                                        <input type="text" maxlength="6" name="colorcode" ng-model="assetSnippetdata.assetSnippetdata.imgbackgroundcolor" id="imgbackgroundcolor" required>
                                                        <uicolorpicker ng-model="assetSnippetdata.assetSnippetdata.imgbackgroundcolor" options="ColorOptions"></uicolorpicker>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="colLabel">
                                                <blockquote>
                                                    <p>{{'LanguageContents.Res_1182.Caption'|translate}}</p>
                                                    <small>{{'LanguageContents.Res_1183.Caption'|translate}}</small>
                                                </blockquote>
                                            </td>
                                            <td class="colControl">
                                                <div>
                                                    <div class="controls colorPickerContainer">
                                                        <input type="text" maxlength="6" name="colorcode" ng-model="assetSnippetdata.assetSnippetdata.assetMouseoverbordercolor" id="assetMouseoverbordercolor" required>
                                                        <uicolorpicker ng-model="assetSnippetdata.assetSnippetdata.assetMouseoverbordercolor" options="ColorOptions"></uicolorpicker>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="colLabel">
                                                <blockquote>
                                                    <p>{{'LanguageContents.Res_1184.Caption'|translate}}</p>
                                                    <small>{{'LanguageContents.Res_1185.Caption'|translate}}</small>
                                                </blockquote>
                                            </td>
                                            <td class="colControl">
                                                <div>
                                                    <div class="controls colorPickerContainer">
                                                        <input type="text" maxlength="6" name="colorcode" ng-model="assetSnippetdata.assetSnippetdata.assetMouseoverbckgrndcolor" id="assetMouseoverbckgrndcolor" required>
                                                        <uicolorpicker ng-model="assetSnippetdata.assetSnippetdata.assetMouseoverbckgrndcolor" options="ColorOptions"></uicolorpicker>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="colLabel">
                                                <blockquote>
                                                    <p>{{'LanguageContents.Res_1186.Caption'|translate}}</p>
                                                    <small>{{'LanguageContents.Res_1187.Caption'|translate}}</small>
                                                </blockquote>
                                            </td>
                                            <td class="colControl">
                                                <div>
                                                    <div class="controls colorPickerContainer">
                                                        <input type="text" maxlength="6" name="colorcode" ng-model="assetSnippetdata.assetSnippetdata.basecolor" id="basecolor" required>
                                                        <uicolorpicker ng-model="assetSnippetdata.assetSnippetdata.basecolor" options="ColorOptions"></uicolorpicker>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pageFooter">
                <a ng-click="Saveandregeneratecode();" class="btn btn-small btn-primary">{{'LanguageContents.Res_1188.Caption'|translate}}</a>
                <a href="SnippetPreview.html" id="snippetlivepreview" class="btn btn-small btn-primary">{{'LanguageContents.Res_1189.Caption'|translate}}</a>
            </div>
        </div>
    </div>
</div>
