﻿<div ng-controller="mui.admin.attributegrouptooltipCntrl">
    <div class="span12">
        <div class="AdminMargin" id="tabLayoutSettings">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>Attribute Group Tooltip</h4>
                </div>
                <div class="box-content">
                    <div class="draggableTable">
                        <div class="FilterPanel">                            
                            <div class="controls">
                                <select ui-select2 id="attributegrouptypeId" ng-click="loadattributes(item)" ng-model="AttributeGrouptype" data-placeholder="--Select--">
                                    <option value="0">--Select Type--</option>
                                    <option ng-repeat="item in attributeRelationarr" value="{{item.Id}}">{{item.Caption}}</option>
                                </select>
                            </div>
                            <div class="table table-right">
                            <table id="damviewsettingslist">
                                <thead>
                                    <tr>
                                        <th class="prime"><span>{{'LanguageContents.Res_44.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_4748.Caption'|translate}}</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in groupattribtues" class="findchkbox">
                                        <td class="prime" data-id="{{item.ID}}"><span>{{item.Caption}}</span></td>
                                        <td class="chkbx col10p">
                                            <label class="checkbox checkbox-custom">
                                                <input type="checkbox" ng-click="GetChckedView(item,'IsToolTip')" />
                                                <i ng-class="{'checkbox':item.IsToolTip == false, 'checkbox checked':item.IsToolTip == true}"></i>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
