﻿<div ng-controller="mui.admin.attributegroupCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_2053.Caption'|translate}}</h4>
                    <h4 class="floatRight">{{CurrentMetadataVersionInfo.ID}} - {{CurrentMetadataVersionInfo.Name}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="AttributeGroupForm">
                            <input type="text" placeholder="Filter" class="pull-right" ng-model="filterOptions.filterText" /><br />
                            <div class="gridStyle" ng-grid="gridattributegroup"></div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right" ng-show="IsOlderMetadataVersion.IsOlderVersion">
                    <a class="btn btn-small btn-primary" ng-click="addNewAttributeGroup()" href="javascript:void(0)">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                </div>
            </div>
        </div>
        <div data-width="910" data-height="450px" aria-hidden="true" style="display: none;" aria-labelledby="myModalLab el1" role="dialog" tabindex="-1" class="modal" id="attributegroupModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3>{{'LanguageContents.Res_2054.Caption'|translate}} : {{attrgrp.attributegroupCaption}}</h3>
            </div>
            <div class="modal-body">
                <form id="attributegroupPage1" class="notvalidate">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group span3">
                                <label class="control-label" for="AttributeGroupCaption">{{'LanguageContents.Res_2053.Caption'|translate}}</label>
                                <div class="controls">
                                    <input id="attrgrpcaption" type="text" ng-model="attrgrp.attributegroupCaption" placeholder="Attribute Group Caption">
                                </div>
                            </div>
                            <div class="control-group span9">
                                <label class="control-label" for="AttributeGroupShortdescription">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                                <div class="controls">
                                    <input id="attrgrpdesc" type="text" ng-model="attrgrp.attributegroupDescription" placeholder="Description" />
                                </div>
                            </div>
                            <div class="checkbox-right">                                    
                                <!--<span>-->
                                    <label class="checkbox checkbox-custom ">
                                        <input type="checkbox" id="checkpredefined" ng-click="setPredefinedchanges($event)" />
                                        <i ng-class="{'checkbox':attrgrp.IsPredefined == false, 'checkbox checked':attrgrp.IsPredefined == true}"></i>
                                    </label>
                                    <label class="bolder">populate value from predefined data</label>
                                <!--</span>-->
                            </div>
                            <h4>{{'LanguageContents.Res_587.Caption'|translate}}</h4>
                            <hr />
                        </div>
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label" for="AttributeID">{{'LanguageContents.Res_587.Caption'|translate}}</label>
                                <div class="controls">
                                    <select ui-select2="attributeOptionsConfig" ng-model="attrgrp.ddlSelectedAttributeID"
                                        data-placeholder="Select Attribute" id="dropdownAttributeID" ng-change="ChangeAttribute();" style="min-width: 150px">
                                        <option value=""></option>
                                        <option ng-repeat="item in optionsSrc" value="{{item.id}}">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="AttributeCaption">{{'LanguageContents.Res_44.Caption'|translate}}</label>
                                <div class="controls">
                                    <input type="text" ng-model="attrgrp.attributerelationCaption" id="AttributeCaption" placeholder="Attribute Caption">
                                </div>
                            </div>
                            <button ng-click="ClearAttributeRelationCtrls()" class="btn btn-small">{{'LanguageContents.Res_414.Caption'|translate}}</button>
                            <button ng-click="addnewAttributeRelationToGrid()" ng-model="AddEntitytypeattributerel" ng-show="EnableAttributeAdd" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                            <button ng-click="UpdateAttributeRelationAndLoadToGrid()" ng-model="AddEntitytypeattributerel" ng-show="EnableAttributeUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
                        </div>
                        <div class="span9 .attributestable">
                            <table id="attributestable" class="table table-bordered table-striped">
                                <tr id="0" class="nodrop nodrag">
                                    <th>{{'LanguageContents.Res_69.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_44.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_613.Caption'|translate}}</th>
                                    <th ng-show="false"></th>
                                    <th ng-show="false"></th>
                                    <th ng-show="attrgrp.IsPredefined">Searchable</th>
                                    <th ng-show="attrgrp.IsPredefined">Show in search result</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr ng-show="(attribs.AttributeID != '71' && attribs.AttributeID != '74' && attribs.AttributeID != '75')" ng-repeat="attribs in attributeRelationarr" id="{{attribs.AttributeID}}">
                                    <td>{{attribs.AttributeID}}</td>
                                    <td>{{attribs.AttributeRelationCaption}}</td>
                                    <td>{{attribs.AttributeCaption}}</td>
                                    <td ng-show="false">{{attribs.AttributeID}}</td>
                                    <td ng-show="false">{{attribs.ID}}</td>
                                    <td class="checkbox-right" ng-show="attrgrp.IsPredefined">
                                        <label class="checkbox checkbox-custom ">
                                            <input type="checkbox" ng-click="setPredefinedSearchable($event, attribs.IsSearchable, attribs.AttributeID)">
                                            <i ng-class="{'checkbox':attribs.IsSearchable == false, 'checkbox checked':attribs.IsSearchable == true}"></i>
                                        </label>
                                    </td>
                                    <td class="checkbox-right" ng-show="attrgrp.IsPredefined">
                                        <label class="checkbox checkbox-custom ">
                                            <input type="checkbox" ng-click="setShowSearchResult($event, attribs.ShowAsColumn, attribs.AttributeID)">
                                            <i ng-class="{'checkbox':attribs.ShowAsColumn == false, 'checkbox checked':attribs.ShowAsColumn == true}"></i>
                                        </label>
                                    </td>
                                    <td class="align-center">
                                        <a data-toggle="modal" href="#" ng-click="LoadAttributeRelationOnGridClick(attribs)" data-toggle="modal">
                                            <i class="icon-edit icon-edit-app"></i>
                                        </a>
                                    </td>
                                    <td class="align-center">
                                        <a data-toggle="modal" href="#" ng-if="attribs.AttributeID != 76" ng-click="DeleteAttributeByID(attribs)" data-toggle="modal">
                                            <i class="icon-remove icon-remove-app"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <input style="display: none" type="submit" id="btnTemp" class="ng-scope" invisible>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-click="saveAttributeGroupAndAttributeRelation()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            </div>
        </div>
    </div>
</div>
