﻿<div ng-controller="mui.admin.attributeCtrl" ng-cloak>
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder" id="Attribute_Screen">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_587.Caption'|translate}}</h4>
                    <h4 class="floatRight">{{CurrentMetadataVersionInfo.ID}} - {{CurrentMetadataVersionInfo.Name}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="horizontalform">
                            <input type="text" placeholder="Filter" class="filterBox pull-right" ng-model="filterSystemdefined.filterText" /><h4>{{'LanguageContents.Res_2145.Caption'|translate}}</h4>
                            <div class="gridStyle" ng-grid="gridOptionssystemdefined"></div>
                            <input type="text" placeholder="Filter" class="filterBox pull-right" ng-model="filterOthers.filterText" /><h4>{{'LanguageContents.Res_2147.Caption'|translate}}</h4>
                            <div class="gridStyle" ng-grid="gridOptionsnonsystemdefined"></div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right" ng-show="IsOlderMetadataVersion.IsOlderVersion">
                    <a class="btn btn-small btn-primary" ng-click="addAttribute()" href="javascript:void(0)">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                </div>
            </div>
            <div aria-hidden="true" style="display: none;" aria-labelledby="myModalLabel1" role="dialog" tabindex="-1" class="modal dynamicTreePopup" id="attributeModal" style="display: none;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{'LanguageContents.Res_587.Caption'|translate}}: {{wizard.Caption}}</h3>
                </div>
                <div class="modal-body">
                    <div ng-switch="getCurrentStep()" class="slide-frame">
                        <div ng-switch-when="Entry">
                            <div class="control-group" ng-show="false">
                                <label class="control-label" for="AttributeId">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="wizard.AttributeId" id="AttributeId" placeholder="ID">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="wizard.Caption" id="Caption" placeholder="Caption" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                    <textarea class="small-textarea" ng-model="wizard.Description" id="Description" rows="3" placeholder="Description" required></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="widgettype">{{'LanguageContents.Res_588.Caption'|translate}}</label><div class="controls">
                                    <select ng-disabled="wizard.IsDisableAttributeType" ui-select2 ng-model="wizard.attributeType" id="attributeType" data-placeholder="Select Attribute" required>
                                        <option value=""></option>
                                        <option ng-repeat="dimen in attributeTypes | orderBy:'Caption'" value="{{dimen.Id}}">{{dimen.Caption}}</option>
                                    </select>
                                </div>
                            </div>
                            <span ng-show="horizontalform.Caption.$dirty && horizontalform.Caption.$invalid"></span>
                            <span ng-show="horizontalform.Description.$dirty && horizontalform.Description.$invalid"></span>
                            <span ng-show="horizontalform.attributeType.$dirty && horizontalform.attributeType.$invalid && horizontalform.attributeType.$error.required"></span>
                        </div>
                        <div ng-switch-when="Sequence">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">Starting Value</label><div class="controls">
                                        <input type="text" ng-model="SequenceObject.StartWithValue" name="StartingNumber" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Pattern</label><div class="controls">
                                        <input type="text" ng-model="SequenceObject.Pattern" name="Pattern" />
                                        <span class="signInfo margin-left5x"><i my-qtip2 qtip-content="{{sequenceTooltip()}}" class="icon-info-sign"></i></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Current number</label><div class="controls">
                                        <label class="control-label align-left">{{SequenceObject.CurrentValue}}</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div ng-switch-when="Option">
                            <form class="form-inline">
                                <input type="text" ng-model="wizard.newOption" size="20" />
                                <button ng-click="addOptions()" ng-show="EnableOptionAdd" ng-model="fillgrid" class="btn btn-small btn-primary">{{'LanguageContents.Res_616.Caption'|translate}}</button>
                                <button ng-click="EditOptions()" ng-show="EnableOptionUpdate" ng-model="updateOption" class="btn btn-small btn-primary">{{'LanguageContents.Res_617.Caption'|translate}}</button>
                            </form>
                            <ul class="ul-striped" bnsortable>
                                <li class="cursor-move ng-scope" ng-repeat="option in optionsLists" data-handle="true" ng-style="set_color(alternateColor($index))" style="background-color: #{{alternateColor($index)}};">
                                    <span style="display: none;" class="ng-binding" ng-show="false">{{option.PId}}</span><span style="display: none;" class="ng-binding" ng-show="false">{{option.ID}}</span><span class="nomargin span4 ng-binding">{{option.Caption}}</span>
                                    <span>
                                        <a class="iconLink" ng-click="GetOptionbyID(option)"><i class="icon-edit"></i></a>
                                    </span>
                                    <span>
                                        <a class="iconLink" ng-click="deleteOptions(option)"><i class="icon-remove"></i></a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div ng-switch-when="TagOption">
                            <form class="form-horizontal">
                                <input type="text" ng-model="wizard.newOption" size="20" />
                            </form>
                            <ul class="ul-striped" bnsortable>
                                <table class="table table-bordered table-striped">
                                    <tr id="0">
                                        <th>Tag</th>
                                        <th>Created By</th>
                                        <th>Created on</th>
                                        <th></th>
                                    </tr>
                                    <tr ng-repeat="attribs in TagOptionsLists" id="{{attribs.AttributeGroupID}}">
                                        <td>
                                            <a ng-click="GetTagOptionbyID(attribs)">{{attribs.Caption}}</a>
                                        </td>
                                        <td>{{attribs.CreatedBy}}</td>
                                        <td>{{attribs.CreatedOn}}</td>
                                        <td>
                                            <a class="iconLink" data-toggle="modal" href="#" ng-click="deleteTagOptions(attribs)" data-toggle="modal"><i class="icon-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </ul>
                        </div>
                        <div ng-switch-when="Tree">
                            <div id="DynamicDropDownTree">
                                <ul bnsortable class="dynamicTreeContainer">
                                    <li ng-repeat="data in tree" ng-include="'views/mui/admin/node.html'" ng-hide="data.IsDeleted"></li>
                                </ul>
                            </div>
                        </div>
                        <div ng-switch-when="Overviewstatus">
                            <div id="DynamicDropDownTree1">
                                <ul bnsortable class="dynamicTreeContainer">
                                    <li ng-repeat="data in tree" ng-include="'views/mui/admin/nodestatus.html'" ng-hide="data.IsDeleted"></li>
                                </ul>
                            </div>
                        </div>
                        <div ng-switch-when="TreeLevel">
                            <h3>{{'LanguageContents.Res_660.Caption'|translate}}</h3>
                            <div>
                                <div ng-repeat="TreeLevel in wizard.TreeLevels">
                                    <div class="control-group">
                                        <label class="control-label" for="Caption">{{'LanguageContents.Res_589.Caption'|translate}} {{TreeLevel.Level}}</label><div class="controls">
                                            <input type="text" ng-model="TreeLevel.Caption" /><span ng-show="wizard.attributeType=='13'"><label class="checkbox checkbox-custom inlineBlock va-textbottom"><input id="Checkbox1" type="checkbox" ng-model="TreeLevel.IsPercentage" /><i class="checkbox" ng-class="{'checkbox checked':TreeLevel.IsPercentage, 'checkbox': !TreeLevel.IsPercentage}"></i><span class="margin-left5x">IsPercentage</span></label></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="handleNext()" class="btn btn-small btn-primary" ng-show="visibleLastStep" ng-disabled="horizontalform.$invalid">{{getNextLabel()}}</button>
                    <a class="btn btn-small" ng-click="handlePrevious()" ng-show="!isFirstStep()">{{'LanguageContents.Res_57.Caption'|translate}}</a>
                </div>
            </div>
            <div id="addEditTagWordsPopup" class="modal addEditTagWordsPopup" style="display: none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="800px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="H3">{{'LanguageContents.Res_587.Caption'|translate}}: Tag Words</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="tagWordsfilter">
                            <input class="margin-right5x pull-left" type="text" ng-model="wizard.newOption" size="20" />
                            <button ng-click="addTagOptions()" ng-show="EnableOptionAdd" ng-model="fillgrid" class="btn btn-small btn-primary">{{'LanguageContents.Res_616.Caption'|translate}}</button>
                            <button ng-click="EditTagOptions()" ng-show="EnableOptionUpdate" ng-model="updateOption" class="btn btn-small btn-primary">{{'LanguageContents.Res_617.Caption'|translate}}</button>
                            <button ng-click="ClearTagOption()" class="btn btn-small">Clear</button>
                            <input class="pull-right" type="text" placeholder="Filter" ng-model="wizard.TagwordsSearch" id="OntagwordSearch" size="20" />
                        </div>
                        <div class="tagWordsTable">
                            <table class="table table-condensed table-normal">
                                <thead>
                                    <tr>
                                        <th class="colTagword">Tag</th>
                                        <th>Created by</th>
                                        <th>Created on</th>
                                        <th class="lastCol"></th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="tagWordsTable-Content">
                                <table class="table table-condensed table-normal">
                                    <tbody>
                                        <tr ng-repeat="attribs in TagOptionsLists  | orderBy:'Caption'" id="Tr1">
                                            <td class="colTagword">
                                                <a ng-click="GetTagOptionbyID(attribs)">{{attribs.Caption}}</a>
                                            </td>
                                            <td>{{attribs.CreatedBy}}</td>
                                            <td>{{attribs.CreatedOn}}</td>
                                            <td class="lastCol">
                                                <a class="iconLink" data-toggle="modal" href="#" ng-click="deleteTagOptions(attribs)" data-toggle="modal"><i class="icon-remove"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-small">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
