﻿<div ng-controller="mui.admin.broadcastmsgCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4130.Caption'|translate}} </h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal">
                            <div class="broadcast">
                                <div class="control-group">
                                    <label class="control-label" for="messages">{{'LanguageContents.Res_4482.Caption'|translate}}</label><div class="controls">
                                        <textarea class="broadcast-textarea" ng-model="broadcastmsg" id="broadcastmsg" rows="3" placeholder="Broadcast Messages"></textarea><span class="sndMsgButton">
                                            <button ng-click="addBroadcastMessage()" ng-model="buttonText" class="btn btn-small btn-primary">{{'LanguageContents.Res_4737.Caption'|translate}}</button></span>
                                    </div>
                                    <span class="info">{{'LanguageContents.Res_4028.Caption'|translate}}</span>
                                </div>
                            </div>
                            <div class="gridStyle" ng-grid="gridOptions"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
