﻿<div class="AdminMargin adminForm" ng-controller="mui.admin.muiadminbusinessdaysCtrl">
    <div class="pageHeader">
        <h3>{{'LanguageContents.Res_5654.Caption'|translate}}</h3>
    </div>
    <div class="pageInfo">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>{{'LanguageContents.Res_194.Caption'|translate}}</h4>
            {{'LanguageContents.Res_5665.Caption'|translate}}
        </div>
    </div>
    <div class="pageContent">
        <div class="nonBusinessDaysContainer">
            <h5>{{'LanguageContents.Res_5666.Caption'|translate}}</h5>
            <br />
            <ul id="listofdays" class="nomargin">
                <li ng-repeat="subitems in days" class="inlineBlock margin-right10x">
                    <label class="checkbox checkbox-custom">
                        <input type="checkbox" name="subitems.Caption" ng-model="subitems.IsChecked" ng-click="SaveNonBusinessDay(subitems);" />
                        <i class="checkbox" ng-class="{'checkbox checked':subitems.IsChecked, 'checkbox': !subitems.IsChecked}"></i>
                        <span>{{subitems.Caption}}</span>
                    </label>
                </li>
            </ul>
        </div>
        <br />
        <br />
        <div class="businessHolidaysContainer">
            <h5>{{'LanguageContents.Res_5667.Caption'|translate}}</h5>
            <br />
            <form class="form-inline inlineBlock">
                <input type="text" class="floatLeft" placeholder="Holiday Name" ng-model="holidayname" />
                <div class="floatLeft margin-left10x input-append">
                    <input ng-model="Setdate" type="text" id="setdate" value="" ng-click="Calanderopen($event,calanderopened)" placeholder="Set Date" datepicker-popup="{{format}}" is-open="calanderopened" min-date="minDate" datepicker-options="dateOptions" close-text="Close" />
                    <button type="button" class="btn" ng-click="Calanderopen($event,calanderopened)" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
            </form>
            <br />
            <br />
            <table class="table table-bordered table-striped width5halfx">
                <thead>
                    <tr>
                        <th><span>{{'LanguageContents.Res_5655.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_5656.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_5657.Caption'|translate}}</span></th>
                        <th class="colEdit"><span></span></th>
                        <th class="colDelete"><span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="days in listOfHolidays">
                        <td><span>{{days.HolidayName}}</span></td>
                        <td><span>{{days.HolidayDate}}</span></td>
                        <td><span>{{days.Day}}</span></td>
                        <td class="colEdit">
                            <a class="iconLink" data-toggle="modal" href="#" ng-click="UpdateHoliday(days)"><i class="icon-edit"></i></a></td>
                        <td class="colDelete">
                            <a class="iconLink" data-toggle="modal" href="#"><i class="icon-remove" ng-click="DeleteHoliday(days)"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page-footer">
        <div class="box-footer align-right">
            <a class="btn btn-small" href="#" ng-click="Clearscope()" data-toggle="modal">Clear</a>
            <a ng-show="!isUpdate" class="btn btn-small btn-primary margin-left5x" href="#" id="saveHoliday" data-toggle="modal" ng-click="SaveHolidayData()" ng-model="AddorUpdate">{{addorupdate}}</a>
        </div>
    </div>
</div>
