﻿<div class="row-fluid" ng-controller="mui.admin.cloudsettingsCtrl">
    <div class="span12">
        <div class="AdminMargin adminForm">
            <div class="pageContent"></div>
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>Cloud Setup </h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddlDecimalPlacest">File System</label>
                                        <div class="controls">
                                            <select ui-select2 name="filesystem" ng-model="filesystemMode">
                                                <option value="0" ng-show="hide">Local storage</option>
                                                <option value="1">Amazon S3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="filesystemMode!=0">
                                        <label class="control-label" for="ddlDecimalPlacest">AWS AccessKey ID</label>
                                        <div class="controls">
                                            <input type="text" name="AWSAccessKeyID" ng-model="accesskeyId" placeholder="AWSAccessKey ID"></input>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="filesystemMode!=0">
                                        <label class="control-label" for="ddlDecimalPlacest">AWS Secret AccessKey</label>
                                        <div class="controls">
                                            <input type="text" name="AWSSecretAccessKey" ng-model="secretacesskey" placeholder="AWSAccessKey ID"></input>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="filesystemMode!=0">
                                        <label class="control-label" for="ddlDecimalPlacest">Bucket Name</label>
                                        <div class="controls">
                                            <input type="text" name="bucketName" ng-model="bucketName" placeholder="Bucket Name"></input>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="filesystemMode!=0">
                                        <label class="control-label" for="ddlDecimalPlacest">Service URL</label>
                                        <div class="controls">
                                            <input type="text" name="ServiceURL" ng-model="serviceurl" placeholder="Service URL"></input>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="filesystemMode!=0">
                                        <label class="control-label" for="ddlDecimalPlacest">Region Endpoint</label>
                                        <div class="controls">
                                            <input type="text" name="RegionEndpoint" ng-model="regionendpoint" placeholder="regionendpoint"></input>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="filesystemMode!=0">
                                        <label class="control-label" for="ddlDecimalPlacest">Uploader URL</label>
                                        <div class="controls">
                                            <input type="text" name="UploaderUrl" ng-model="UploaderUrl" placeholder="Uploader URL"></input>
                                        </div>
                                    </div>
                                    <button ng-click="savecloudsettings()" class="btn btn-small btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
