﻿<div ng-controller="mui.admin.cmscustomfontsettingsCtrl">
    <div class="AdminMargin adminForm customFontSettings">
        <div class="pageHeader">
            <h3>Custom Font</h3>
        </div>
        <div class="pageInfo">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>Information</h4>
                Using custom font setting we can configure additional font to CMS pages.
            </div>
        </div>
        <div class="pageContent">
            <table class="table table-condensed customFontSettingsTable">
                <thead>
                    <tr>
                        <th><span>Font Provider</span></th>
                        <th><span>Font Name</span></th>
                        <th class="colLast"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="itm in ListOfCustomFonts">
                        <td><span>Typekit</span></td>
                        <td class="colFontsList">
                            <ul ng-repeat="fnt in itm">
                                <li>{{fnt.Name}}</li>
                            </ul>
                        </td>
                        <td class="colLast"><span>
                            <button type="button" class="btn btn-small btn-primary margin-right5x" ng-click="EditCustomFont(itm[0])" data-toggle="modal" data-target="#customFontEditPopup">Edit</button>
                            <button class="btn btn-small btn-danger" ng-click="DeleteCustomFont(itm[0].ProviderID)">Delete</button></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pageFooter">
            <button class="btn btn-small btn-primary" ng-click="Clear();" data-toggle="modal" data-target="#customFontEditPopup">Add</button>
        </div>
    </div>
    <div id="customFontEditPopup" class="modal customFontEditPopup" aria-hidden="false" aria-labelledby="myModalLabel1" role="dialog" tabindex="-1" data-width="700px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Custom Font</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="fontForm-Wrapper">
                    <form>
                        <div class="control-group">
                            <label class="control-label">Font provider</label><div class="controls">
                                <select>
                                    <option value="1">TypeKit</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Kit ID</label><div class="controls">
                                <input type="text" ng-model="kitid" placeholder="KitId" class="ng-pristine ng-valid" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="fontsList-Wrapper">
                    <div ng-show="InvalidKit" class="emptyList"><span class="color-danger"><i class="icon-"></i>Invalid KitID or no font associated with the KitID you have provided!</span></div>
                    <div ng-hide="InvalidKit" class="fontsList">
                        <div class="heading"><span>Available Fonts</span></div>
                        <ul id="availableFonts">
                            <li><a>Times New Roman</a>
                                <span class="sampleFont" style="font-family: 'Times New Roman'">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</span></li>
                            <li><a>Arial Rounded MT</a>
                                <span class="sampleFont" style="font-family: 'Arial Rounded MT'">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-success" ng-show="IsValidated == false" ng-click="GetTypeKitFontsFromPlugin()">Validate</button>
            <button class="btn btn-small btn-primary" ng-show="IsValidated == true" ng-click="InsertUpdateCmsCustomFont()">Save</button>
            <button class="btn btn-small" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
