﻿<div ng-controller="mui.admin.cmscustomstylesettingsCtrl">
    <div class="AdminMargin adminForm customstyleSettings">
        <div class="pageHeader">
            <h3>Custom Style</h3>
        </div>
        <div class="pageInfo">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>Information</h4>
                Using custom styles setting we can configure different text styles for CMS pages.
            </div>
        </div>
        <div class="pageContent">
            <table class="table table-condensed customstyleSettingsTable">
                <thead>
                    <tr>
                        <th><span>Class Name</span></th>
                        <th><span>CSS Code</span></th>
                        <th><span>Example</span></th>
                        <th class="colLast"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="itm in ListOfCustomStyle">
                        <td class="colFirst">
                            <span>{{itm.ClassName}}</span>
                        </td>
                        <td class="colHtml">
                            <div class="HTMLsnippet-cont">
                                <xmp>{{itm.CssCode}}</xmp>
                            </div>
                        </td>
                        <td class="colPrev">
                            <span style="{{itm.CssCode}}">{{itm.ClassName}}</span>
                        </td>
                        <td class="colLast"><span>
                            <button type="button" ng-click="EditCustomStyle(itm)" class="btn btn-small btn-primary margin-right5x" data-toggle="modal" data-target="#customStylesEditPopup">Edit</button>
                            <button class="btn btn-small btn-danger" ng-click="DeleteCustomStyle(itm.Id)">Delete</button></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pageFooter">
            <button class="btn btn-small btn-primary" ng-click="Clear();" data-toggle="modal" data-target="#customStylesEditPopup">Add</button>
        </div>
    </div>
    <div id="customStylesEditPopup" class="modal customStylesEditPopup" aria-hidden="false" aria-labelledby="myModalLabel1" role="dialog" tabindex="-1" data-width="700px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Custom Style</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal nomargin">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="control-group">
                            <label class="control-label align-left">Class Name:</label>
                            <div class="controls">
                                <input type="text" ng-model="ClassName" placeholder="Class Name" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label align-left">Code:</label>
                            <div class="controls">
                                <div class="HTMLSnippetBox">
                                    <textarea ng-model="CssCode" id="EntityTypeDescription" rows="3" placeholder="Css Code"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="ryt">
                            <h4 class="margin-top0x">Preview</h4>
                            <div class="sample">
                                <span style="{{CssCode}}">{{ClassName}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary" ng-click="InsertUpdateCmsCustomStyle();">Save</button>
            <button class="btn btn-small" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
