﻿<div ng-controller="mui.admin.cmstreestylesettingsCtrl">
    <div class="AdminMargin adminForm customtreestyleSettings">
        <div class="pageHeader">
            <h3>CMS Tree Style</h3>
        </div>
        <div class="pageInfo">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>Information</h4>
                Using custom styles setting we can configure different text styles for CMS pages.
            
            </div>
        </div>
        <div class="pageContent">
            <table class="table adminFormTable">
                <tbody>
                    <tr>
                        <td class="colLabel">
                            <blockquote>
                                <p>Tree background color</p>
                                <small>Using this property we can set the background color for Tree.</small>
                            </blockquote>
                        </td>
                        <td class="colControl">
                            <div class="controls colorPickerContainer">
                                <input type="text" maxlength="6" name="colorcode" ng-model="BackgroundClr">
                                <uicolorpicker ng-model="BackgroundClr" options="ColorOptions"></uicolorpicker>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="colLabel">
                            <blockquote>
                                <p>Tree foreground color</p>
                                <small>Using this property we can set the foreground color for Tree.</small>
                            </blockquote>
                        </td>
                        <td class="colControl">
                            <div class="controls colorPickerContainer">
                                <input type="text" maxlength="6" name="colorcode" ng-model="ForegroundClr">
                                <uicolorpicker ng-model="ForegroundClr" options="ColorOptions"></uicolorpicker>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="colLabel">
                            <blockquote>
                                <p>Border color</p>
                                <small>Tree item separation border color.</small>
                            </blockquote>
                        </td>
                        <td class="colControl">
                            <div>
                                <div class="controls colorPickerContainer">
                                    <input type="text" maxlength="6" name="colorcode" ng-model="BorderClr">
                                    <uicolorpicker ng-model="BorderClr" options="ColorOptions"></uicolorpicker>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="colLabel">
                            <blockquote>
                                <p>Left Border Highlight color</p>
                                <small>Mousehover left border color.</small>
                            </blockquote>
                        </td>
                        <td class="colControl">
                            <div>
                                <div class="controls colorPickerContainer">
                                    <input type="text" maxlength="6" name="colorcode" ng-model="LeftborderHlghtClr">
                                    <uicolorpicker ng-model="LeftborderHlghtClr" options="ColorOptions"></uicolorpicker>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="colLabel">
                            <blockquote>
                                <p>Selection background color</p>
                                <small>Selected item background color.</small>
                            </blockquote>
                        </td>
                        <td class="colControl">
                            <div>
                                <div class="controls colorPickerContainer">
                                    <input type="text" maxlength="6" name="colorcode" ng-model="SelBackgroundClr">
                                    <uicolorpicker ng-model="SelBackgroundClr" options="ColorOptions"></uicolorpicker>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="colLabel">
                            <blockquote>
                                <p>Mouse over background color</p>
                                <small>Tree item mouseover background color.</small>
                            </blockquote>
                        </td>
                        <td class="colControl">
                            <div>
                                <div class="controls colorPickerContainer">
                                    <input type="text" maxlength="6" name="colorcode" ng-model="MouseOvrBackgroundClr">
                                    <uicolorpicker ng-model="MouseOvrBackgroundClr" options="ColorOptions"></uicolorpicker>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-hide="true">
                    <tr>
                        <td class="colLabel">
                            <blockquote>
                                <p>Tree Font</p>
                                <small>Tree font.</small>
                            </blockquote>
                        </td>
                        <td class="colControl">
                            <div class="controls nomargin ">
                                <select ui-select2 data-placeholder="Select Insite" ng-model="TreeFont" ng-repeat="itm in customstyles">
                                    <option value="itm.Id">itm.ClassName</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <button type="button" ng-click="InsertUpdateCmsTreeStyleSettings()" class="btn btn-small btn-primary">Save</button>
                            <button type="button" ng-click="Restorevalues()" class="btn btn-small btn-primary">Reset</button>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
