﻿<div class="row-fluid" ng-controller="mui.admin.muicmstemplateCtrl">
    <div class="AdminMargin adminForm snippetSettings">
        <div class="pageHeader">
            <h3>HTML Snippet</h3>
        </div>
        <div class="pageInfo">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>Information</h4>
                Using HTML Snippet we can edit existing html Snippet or add new html snippet for CMS.
            </div>
        </div>
        <div class="pageContent">
            <div class="margin-bottom10x">
                <a class="btn btn-small btn-primary" href="javascript:void(0);" ng-click="AddnewSnippet();">Add</a>
            </div>
            <table class="table table-condensed HTMLsnippetSettingsTable">
                <tbody>
                    <tr ng-repeat="item in snippettemplates">
                        <td class="colThumb">
                            <div class="snip-thumb-cont">
                                <img id="img{{item.ID}}" src="" alt="" />
                            </div>
                        </td>
                        <td class="colHtml">
                            <div class="HTMLsnippet-cont">
                                <xmp>
                                    {{item.SnippetContent}}
                                </xmp>
                            </div>
                        </td>
                        <td class="colLast"><span>
                            <button type="button" class="btn btn-small btn-primary margin-right5x" href="javascript:void(0);" ng-click="DuplicateSnippettemplate(item)">Duplicate</button>
                            <button type="button" class="btn btn-small btn-primary margin-right5x" href="javascript:void(0);" ng-click="EditSnippettemplate(item)">Edit</button>
                            <button class="btn btn-small btn-danger" ng-click="DeleteSnippetTemplate(item)">Delete</button></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pageFooter">
            <a class="btn btn-small btn-primary" href="javascript:void(0);" ng-click="AddnewSnippet();">Add</a>
        </div>
    </div>
    <div id="HTMLSnippetEditorPopup" class="modal HTMLSnippetEditorPopup" aria-hidden="false" aria-labelledby="myModalLabel1" role="dialog" tabindex="-1" data-width="900px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3>HTML Snippet</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span9">
                    <div class="lft">
                        <h4>HTML</h4>
                        <div class="HTMLSnippetBox">
                            <textarea ng-model="selectedsnippet" id="selectedsnippet">
                                {{selectedsnippet}}
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="ryt">
                        <h4>Thumbnail</h4>
                        <div class="snippetThumbailBox">
                            <div class="snip-thumb-cont">
                                <img id="newsnippetimage" src="../../img/glyphicons-halflings.png" alt="" />
                            </div>
                            <div id="filescontainer">
                                <a class="btn btn-small btn-block" href="#GeneratePreview" data-toggle="modal" ng-click="OpenPreview();">Generate Preview</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary" ng-click="InsertUpdateSnippetTemplates();">Save</button>
            <button class="btn btn-small" data-dismiss="modal">Close</button>
        </div>
    </div>
    <div id="GeneratePreview" class="modal generateHTMLTemplatePreview" aria-hidden="false" aria-labelledby="myModalLabel1" role="dialog" tabindex="-1" data-width="900px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3>Preview</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div id="PreviewImg" class="contentBuilder-TemplateStyle"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
