﻿<div class="row-fluid" ng-controller="mui.admin.credentialmanagementCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_5009.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal ng-pristine ng-valid notvalidate" name="Credential" id="Credential" autocomplete="off">
                            <div class="control-group" ng-show="false">
                                <label class="control-label" for="ID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="ID" id="ID" placeholder="ID">
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="inputReportUrl" class="control-label">{{'LanguageContents.Res_5010.Caption'|translate}}</label><div class="controls">
                                    <input class="width3x" type="text" required ng-model="inputReportUrl" id="inputReportUrl" placeholder="Report Server URL" value="">
                                </div>
                                <span class="info">({{'LanguageContents.Res_5011.Caption'|translate}})</span>
                            </div>
                            <hr />
                            <div class="control-group">
                                <label for="inputAdminUserName" class="control-label">{{'LanguageContents.Res_5012.Caption'|translate}}</label><div class="controls">
                                    <input type="text" required ng-model="inputAdminUserName" id="inputAdminUserName" placeholder="Admin Username" value="">
                                </div>
                                </br><label for="inputAdminPassword" class="control-label">{{'LanguageContents.Res_5013.Caption'|translate}}</label><div class="controls">
                                    <input type="password" required ng-model="inputAdminPassword" id="inputAdminPassword" placeholder="Admin Password" value="">
                                </div>
                                <span class="info">({{'LanguageContents.Res_5014.Caption'|translate}})</span>
                            </div>
                            <hr />
                            <div class="control-group">
                                <label for="inputViewerUserName" class="control-label">{{'LanguageContents.Res_5015.Caption'|translate}}</label><div class="controls">
                                    <input type="text" required ng-model="inputViewerUserName" id="inputViewerUserName" placeholder="Viewer Username" value="">
                                </div>
                                </br><label for="inputViewerPassword" class="control-label">{{'LanguageContents.Res_5016.Caption'|translate}}</label><div class="controls">
                                    <input type="password" required ng-model="inputViewerPassword" id="inputViewerPassword" placeholder="Viewer Password" value="">
                                </div>
                                <span class="info">({{'LanguageContents.Res_5017.Caption'|translate}})</span>
                            </div>
                            <hr />
                            <div class="control-group" ng-model="Category">
                                <label for="inputReportCategory" class="control-label">{{'LanguageContents.Res_4148.Caption'|translate}}</label><div class="controls">
                                    <select ui-select2 id="Cat" name="CategoryOption" ng-model="SelectedCategory">
                                        <option value="">-- {{'LanguageContents.Res_5018.Caption'|translate}} --</option>
                                        <option ng-repeat="item in CategoryOptions" value="{{item.Id}}">{{item.Name}}</option>
                                    </select>
                                </div>
                                <span class="info">({{'LanguageContents.Res_5019.Caption'|translate}})</span>
                            </div>
                            <div class="control-group" ng-model="DataView">
                                <label for="inputReportDataview" class="control-label">{{'LanguageContents.Res_5020.Caption'|translate}}</label><div class="controls">
                                    <select ui-select2 id="DataviewOptions" ng-model="SelectedDataview">
                                        <option value="">--{{'LanguageContents.Res_5022.Caption'|translate}}--</option>
                                        <option ng-repeat="item in DataviewOption" value="{{item.DataviewID}}">{{item.Dataviewname}}</option>
                                    </select>
                                </div>
                                <span class="info">({{'LanguageContents.Res_5021.Caption'|translate}})</span>
                            </div>
                            <input style="visibility: hidden" type="submit" id="btnTemp1" class="ng-scope" invisible>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button id="uploadReportCredentials" type="submit" ng-click="save()" href="JavaScript: void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_4714.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
