﻿<div ng-controller="mui.admin.currencyconvertersettingsCtrl">
    <div class="span12 currConvertSettings">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4997.Caption'|translate}}</h4>
                    <span class="infotext">{{'LanguageContents.Res_4998.Caption'|translate}}</span>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span7">
                                    <div class="control-group">
                                        <label class="control-label" for="ddlCurrencyFormat">{{'LanguageContents.Res_4999.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Currencytypeid" ng-click="getItemsbyCurrencytype(item)" ng-model="CurrencyType" data-placeholder="--Select--">
                                                <option value="0">--{{'LanguageContents.Res_39.Caption'|translate}}--</option>
                                                <option ng-repeat="item in CurrencyFormatsList" ng-show="DefaultSettings.CurrencyFormat.Id!=item.Id" value="{{item.Id}}">{{item.ShortName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-content-margin Curr">
                        <form class="form-horizontal nomargin" name="Mainhorizontalform">
                            <div id="" class="row-fluid">
                                <table class="table table-bordered table-striped width5x">
                                    <tr class="nodrag nodrop" id="{{item.Id}}">
                                        <th style="display: none">{{'LanguageContents.Res_69.Caption'|translate}}</th>
                                        <th><span>{{'LanguageContents.Res_4765.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_4237.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_4999.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_5007.Caption'|translate}}</span></th>
                                        <th><span></span></th>
                                        <th><span></span></th>
                                    </tr>
                                    <tr ng-repeat=" item in Getconverterresponse" id="Tr1">
                                        <th style="display: none">{{item.Id}}</th>
                                        <td>{{item.Startdate}}</td>
                                        <td>{{item.Enddate}}</td>
                                        <td>{{item.Currencytype}}</td>
                                        <td>{{item.Currencyrate}}</td>
                                        <td class="colDelete"><a class="iconLink" data-toggle="modal" ng-click="UpdateCurrencyconverter(item,$index)"><i class='icon-edit'></i></a></td>
                                        <td class="colDelete"><a class="iconLink" data-toggle="modal" ng-click="DeleteCurrencyconverter(item,$index)"><i class='icon-remove'></i></a></td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="box-content-margin">
                        <div class="controls input-append">
                            <input ng-model="Startdate" type="text" id="startdate" required="StartDate" placeholder="--StartDate--" value="" ng-click="Calanderopen($event,calanderopened)" datepicker-popup="{{format}}" is-open="calanderopened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close">
                            <button type="button" class="btn" data-toggle="datepicker" ng-click="Calanderopen($event,calanderopened)"><i class="icon-calendar"></i></button>
                        </div>
                        <div class="controls input-append">
                            <input ng-model="Enddate" type="text" id="enddate" required="EndDate" placeholder="--EndDate--" value="" ng-click="dynCalanderopen($event,enddate1)" datepicker-popup="{{format}}" is-open="enddate1" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close">
                            <button type="button" class="btn" data-toggle="datepicker" ng-click="dynCalanderopen($event,enddate1)"><i class="icon-calendar"></i></button>
                        </div>
                        <input class="currencynumeric" type="text" placeholder="Currency rate" ng-model="Currencyrate" id="currencyrate" data-v-max="999.999999999" />
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button ng-click="ClearButton();" class="btn btn-small ng-binding">{{'LanguageContents.Res_414.Caption'|translate}}</button>
                    <a class="btn btn-small btn-primary ng-binding" ng-click="SaveCurrencyconverterData();">{{AddOrUpdate}}</a>
                </div>
            </div>
            <div id="UpdatingCurrencyRate" class="modal in operationInProgressModal" tabindex="-1" data-width="450" role="dialog" style="display: none;" aria-labelledby="myModalLabel" aria-hidden="false">
                <div id="Div2" aria-labelledby="myModalLabel">
                    <div class="modal-header">
                        <h2>Updating New Currency Rate</h2>
                    </div>
                    <div class="modal-body">
                        <div class="msgContainer">
                            <span class="bgIcon"></span>
                            <div class="mssg">
                                <div class="mssgHeader">
                                    <span class="headerIcon">
                                        <img src="assets/img/loading.gif" alt="loadingImg" /></span><span class="headerMsg">Updating Currency Rate...</span>
                                </div>
                                <div class="mssgContent"><span class="descMsg">{{'LanguageContents.Res_4851.Caption'|translate}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
