﻿<div ng-controller="mui.admin.customviewCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4192.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal">
                            <div class="gridStyle" ng-grid="gridOptions"></div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right"><a class="btn btn-small btn-primary" ng-click="addView()" data-toggle="modal">{{'LanguageContents.Res_4054.Caption'|translate}}</a></div>
            </div>
            <br />
            <div class="reportSchema-errorMessage" ng-show="reportschemaview">
                <span id="reportschemaerrormessageview"></span>
                <br />
                <br />
                <button class="btn btn-warning" ng-click="ReportServerPushSchema();" data-dismiss="modal">{{'LanguageContents.Res_4675.Caption'|translate}}</button>
            </div>
        </div>
        <div id="sqlEditorPopup" class="modal sqlEditorPopup" aria-hidden="false" aria-labelledby="myModalLabel1" role="dialog" tabindex="-1" data-width="900px" style="display: none;">
            <form class="notvalidate nomargin" name="Customview" id="Customview">
                <div class="modal-header">
                    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 ng-show="EditView">{{'LanguageContents.Res_4232.Caption'|translate}}</h3>
                    <h3 ng-show="AddView">{{'LanguageContents.Res_4064.Caption'|translate}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="sqe-form">
                            <div class="control-group">
                                <label class="control-label">Name</label><div class="controls">
                                    <input type="text" ng-model="Name" id="Name" placeholder="Name" ng-readonly="Namereadonly">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" style="text-indent: 8px;">Description</label><div class="controls">
                                    <textarea class="inlineTblk" ng-model="Description" id="Description" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="info">(All the white space will be removed and a prefix will be added to the name while creating the view. User can only type [a-z][A-Z][ _ ])</div>
                            <input type="text" ng-model="ViewID" id="ViewID" placeholder="ID" ng-show="false">
                        </div>
                        <div class="sqe-section">
                            <div id="sqeditorBlock" class="sqe-sectionblocksettings sqe-editorBlock control-group">
                                <textarea ng-model="Query" id="code1" cols="120" rows="50" class="sqe-editor"></textarea>
                            </div>
                            <div class="sqe-sectionblocksettings sqe-dbSchema">
                                <div class="sqe-dbSchemaBlock">
                                    <div class="sqe-dbSchemaBlockHeader">
                                        <h4>Database Schema</h4>
                                        <span class="headerOptions"><span class="iconSet"><i ng-click="orderbyname=!orderbyname" ng-class="{'icon-sort-by-order':!orderbyname,'icon-sort-by-order-alt':orderbyname}"></i></span></span>
                                    </div>
                                    <div ng-show="ngdbtable" class="sqe-dbSchemaTableList">
                                        <ul>
                                            <li ng-repeat="item in tablewithColumns | orderBy:'TableName':orderbyname">
                                                <div class="sqe-dbSchemaTable">
                                                    <div class="sqe-dbSchemaTableHeader"><span ng-click="getcolumninfo(item.TableName,item.id)"><span class="tableName" ng-click="item.isExpand=!item.isExpand">{{item.TableName}}</span></span></div>
                                                    <div class="sqe-dbSchemaTableColumns" ng-show="item.isExpand">
                                                        <table>
                                                            <tr ng-repeat="column in item.Columns">
                                                                <td class="colLeft"><span>{{column.ColumnName}}</span></td>
                                                                <td class="colRight"><span>{{column.DataType}}</span><span ng-show="column.MaxLength!='0'">({{column.MaxLength}})</span></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div ng-show="ngdbschema" class="sqe-dbSchemaTableInfo">
                                                        <div class="sqe-dbSchemaTableInfoHeader">
                                                            <h4>{{Selecttablename}}</h4>
                                                            <span><span ng-click="hidebschema()"><i class="icon-remove"></i></span></span>
                                                        </div>
                                                        <div class="sqe-dbSchemaTableInfoTable">
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th><span>Name</span></th>
                                                                        <th><span>Description</span></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="column in tablewithselectColumns">
                                                                        <td class="colLeft"><span>{{column.ColumnName}}</span></td>
                                                                        <td class="colRight"><span>{{column.ColumnDescription}}</span></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <span class="executionTime" ng-show="executionTime"><span class="et-label">Query Execution Time:</span><span class="et-value">{{executionTimevalue}}</span><span class="et-unit">miliseconds</span></span>
                            </div>
                        </div>
                        <div class="sqe-btnBlock">
                            <button class="btn btn-small" ng-click="editQuery()" id="RunQuery">Run Query</button>
                        </div>
                        <div class="sqe-resultBlock">
                            <div class="sqe-noResult" id="noResult" ng-show="noResult"><span class="exceptionID">{{noResultmsg}}</span></div>
                            <div class="sqe-result" ng-show="executionTime">
                                <div class="sqe-resultTableContainer" ng-repeat="item in resultblockObj track by item.Id">
                                    <table class="sqe-resultTable">
                                        <thead>
                                            <tr>
                                                <th class="srl"></th>
                                                <th ng-repeat="col in item.Columns track by col.Id"><span>{{col.name}}</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="value in item.Values">
                                                <td class="srl"><span>{{$index+1}}</span></td>
                                                <td ng-repeat="val in value track by val.Id"><span>{{val.res}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input style="display: none" type="submit" id="btnTemp1" class="ng-scope" invisible>
                </div>
                <div class="modal-footer">
                    <button ng-click="updateView()" ng-model="UpdateView" ng-show="EnableUpdate" class="btn btn-small btn-primary" ng-disabled="Customview.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button ng-click="saveView()" ng-model="Addview" ng-show="EnableAdd" class="btn btn-small btn-primary" ng-disabled="Customview.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button ng-click="validateView()" ng-model="Validateview" ng-show="EnableValidate" class="btn btn-small btn-success">Validate</button>
                    <button ng-click="close()" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
