﻿<div ng-controller="mui.admin.customlistCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4190.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="row-fluid">
                            <div class="span6">
                                <table class=" table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="span2">{{'LanguageContents.Res_4753.Caption'|translate}}</th>
                                            <th class="span4">{{'LanguageContents.Res_1.Caption'|translate}}</th>
                                            <th class="span5">{{'LanguageContents.Res_22.Caption'|translate}}</th>
                                            <th class="span1"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="CurrentData in CustomListCollection">
                                            <td>{{$index+1}}</td>
                                            <td>{{CurrentData.Name}}</td>
                                            <td>{{CurrentData.Description}}</td>
                                            <td><i data-toggle="modal" ng-click="CustomListByID($index)" class="icon-edit icon-edit-app"></i></td>
                                            <td><i data-toggle="modal" ng-click="DeleteCustomListByID($index,CurrentData.Id)" class="icon-remove icon-remove-app"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button type="submit" ng-click="OpenAddTabs()" class="btn btn-small btn-primary ng-binding">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="customListPopup" class="modal customListPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="920" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H3">{{'LanguageContents.Res_4050.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    <form>
                        <div class="span4 leftBlock">
                            <div class="control-group displayNone" ng-show="false">
                                <label class="control-label" for="ViewID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="ViewID" id="ViewID" placeholder="ID">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Name">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-readonly="Namereadonly" ng-model="Name" id="Name" placeholder="Name" ng-readonly="Namereadonly"><br />
                                    <span class="info">{{'LanguageContents.Res_4013.Caption'|translate}}</span><br />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                    <textarea class="small-textarea" ng-model="Description" id="Description" placeholder="Description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="horizontalLine"></div>
                        <div class="span9 rightBlock">
                            <div class="span12">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">{{'LanguageContents.Res_4863.Caption'|translate}}</label><ul class="repeter" id="typeholder"></ul>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">{{'LanguageContents.Res_4117.Caption'|translate}}</label><ul class="repeter" id="attrholder">
                                            <li class="form-inline">
                                                <select data-attribute="true">
                                                    <option value="0">{{'LanguageContents.Res_4727.Caption'|translate}}
                                                    </option>
                                                </select>
                                                <button class="btn margin-right5x" data-add><i class="icon-plus"></i></button>
                                                <button class="btn" data-remove><i class="icon-remove"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">{{'LanguageContents.Res_4067.Caption'|translate}}</label><ul class="repeter" id="addholder"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="span12">
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_4186.Caption'|translate}}</label><ul class="repeter" id="criteria"></ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="SaveCustomList()" ng-model="UpdateView" ng-show="EnableUpdate" class="btn btn-small btn-primary" ng-disabled="Customview.$invalid">{{'LanguageContents.Res_4871.Caption'|translate}}</button>
            <button type="submit" ng-click="SaveCustomList()" ng-show="EnableAdd" class="btn btn-small btn-primary ng-binding">{{'LanguageContents.Res_4714.Caption'|translate}}</button>
            <button class="btn btn-small btn-success" ng-show="EnableValidate" ng-click="ValidateCustomList()">{{'LanguageContents.Res_4891.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
