﻿<div ng-controller="mui.admin.dalimuserCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_5616.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="UserDetailsForm" id="UserDetailsForm">
                            <input type="text" placeholder="Filter" class="pull-right" ng-model="filterOptions.filterText" /><br>
                            <br />
                            <div class="gridStyle" ng-grid="gridOptions"></div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <a class="btn btn-small btn-primary" ng-click="dalimUserVar.reset()" href="javascript:void(0);" >{{'LanguageContents.Res_8.Caption'|translate}}</a>
                </div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="dalimuserModal" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="myModalLabel">{{'LanguageContents.Res_5615.Caption'|translate}}</h3>
                </div>
                <div class="modal-body">
                    <form class="nomargin  form-float" name="UserDetailsForm" id="UserDetailsForm123">
                        <div class="row-fluid">
                            <div class="span12">
                                <div id="static_UserDetails">
                                    <div class="control-group">
                                        <label class="control-label" for="Email">{{'LanguageContents.Res_55.Caption'|translate}}</label><div class="controls">
                                            <input type="text" class="expanded" name="Email" ng-model="dalimUserVar.Email" id="Email" placeholder="Email"></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="Password">{{'LanguageContents.Res_54.Caption'|translate}}</label><div class="controls">
                                            <input name="inputCap" ng-model="dalimUserVar.Password" type="password" id="userPassword" placeholder="Password" class="firstShortbox" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="SaveUpdateUser()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button></div>
            </div>
        </div>
    </div>
</div>
