﻿<div ng-controller="mui.admin.muidalimcrentialCntrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_5598.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="versionform">
                            <div class="control-group">
                                <label class="control-label" for="PoPrefix">CustomerID:</label><div class="controls">
                                    <input type="text" ng-model="dalimcustomerId" name="Prefix" id="id_prefix" tabindex="1">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PoDateFormat">Customer Name:</label><div class="controls">
                                    <input type="text" ng-model="dalimcustomername" name="DateFormat" id="id_dateformat" tabindex="1">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PoPrefix">Username:</label><div class="controls">
                                    <input type="text" ng-model="dalimdefaultusername" name="PoPrefix" id="id_dalimdomain" tabindex="1">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PoPrefix">Password:</label><div class="controls">
                                    <input type="text" ng-model="dalimdefaultuserpassword" name="PoPrefix" id="Text1" tabindex="1">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PoPrefix">Organization Unit:</label><div class="controls">
                                    <input type="text" ng-model="dalimorgUnit" name="PoPrefix" id="Text2" tabindex="1">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PoPrefix">User Profile:</label><div class="controls">
                                    <input type="text" ng-model="dalimdefaultprofile" name="PoPrefix" id="Text3" tabindex="1">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PoPrefix">Application URL:</label><div class="controls">
                                    <input type="text" ng-model="dalimexternalUrl" name="url" id="Text6" tabindex="1">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PoPrefix">API URL:</label><div class="controls">
                                    <input type="text" ng-model="dalimDomain" name="PoPrefix" tabindex="1">
                                </div>
                            </div>
                        </form>
                        <div class="control-group">
                            <label class="control-label" for="PoPrefix">Task Flows Templates</label><div class="modal-body">
                                <div class="width5x margin-bottom20x">
                                    <table class="table table-normal table-condensed table-bordered">
                                        <thead>
                                            <tr>
                                                <th data-sort-ignore="true" class="checkboxtd"><span>
                                                    <label class="checkbox checkbox-custom pull-right">
                                                        <input type="checkbox" ng-model="selectedAlltemplates" ng-click="checkAllTemplates()" id="Checkbox3">
                                                        <i class="checkbox" ng-class="{'checkbox checked':selectedAlltemplates, 'checkbox': !selectedAlltemplates}"></i>
                                                    </label>
                                                </span>
                                                </th>
                                                <th class="colFirst"><span>ID</span></th>
                                                <th><span>Name</span></th>
                                                <th><span>Description</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="temp in templateDataList">
                                                <td><span>
                                                    <label class="checkbox checkbox-custom pull-right">
                                                        <input id="{{temp.ID}}" type="checkbox" ng-click="RemoveCheckallSelection(temp,$event)" ng-model="temp.Selected">
                                                        <i class="checkbox" ng-class="{'checkbox checked':temp.Selected, 'checkbox': !temp.Selected}"></i>
                                                    </label>
                                                </span>
                                                </td>
                                                <td class="colFirst"><span>{{temp.ID}}</span></td>
                                                <td><span>{{temp.Name || temp.name}}</span></td>
                                                <td><span>{{temp.Description}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button ng-click="SavedalimRecord()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
