﻿<div ng-controller="mui.admin.DamentitytypeCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_2507.Caption'|translate}}</h4>
                    <h4 class="floatRight">{{CurrentMetadataVersionInfo.ID}} - {{CurrentMetadataVersionInfo.Name}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="EntityTypeForm">
                            <input type="text" placeholder="Filter" class="pull-right" ng-model="filterOptions.filterText" /><br>
                            <div class="gridStyle" style="height: 395px" ng-grid="gridentityattributerelation"></div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right" ng-show="IsOlderMetadataVersion.IsOlderVersion">
                    <a class="btn btn-small btn-primary" ng-click="addEntityTypeAttribute()" href="javascript:void(0)">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                </div>
            </div>
        </div>
        <div data-width="910" aria-hidden="true" style="display: none;" aria-labelledby="myModalLab el1" role="dialog" tabindex="-1" class="modal" id="entitytypeattributerelationModal">
            <div class="modal-header">
                <button type="button" ng-click="closevalidationpopup(this)" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 my-qtip2 qtip-content="{{EntType.EntityTypeCaption}}">{{'LanguageContents.Res_2507.Caption'|translate}} : {{EntType.EntityTypeCaption}}</h3>
            </div>
            <div class="modal-body">
                <div ng-switch="getCurrentStep()" class="slide-frame">
                    <div ng-switch-when="EnityType">
                        <form class="form-float notvalidate ng-dirty ng-valid ng-valid-required" id="entitytypeformPage1">
                            <div class="control-group" ng-show="false">
                                <label class="control-label" for="EntityID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="EntType.EntityID" id="EntityTypeID" placeholder="ID">
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="control-group span3">
                                    <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                        <input type="text" name="Caption" ng-model="EntType.EntityTypeCaption" id="EntityTypeCaption" required>
                                    </div>
                                </div>
                                <div class="control-group span3">
                                    <label class="control-label" for="Shortdescription">{{'LanguageContents.Res_43.Caption'|translate}}</label><div class="controls">
                                        <input type="text" ng-keypress="RestrictShortDesc($event)" name="Shortdescription" ng-model="EntType.Shortdescription" id="Shortdescription" required>
                                    </div>
                                </div>
                                <div class="control-group span3">
                                    <label class="control-label" for="Colourcode">{{'LanguageContents.Res_597.Caption'|translate}}</label><div class="controls colorPickerContainer">
                                        <input type="text" maxlength="6" name="colorcode" ng-model="ColorCodeGlobalObj.colorcode" id="Text2" required><uicolorpicker ng-model="ColorCodeGlobalObj.colorcode" options="ColorOptions"></uicolorpicker><span ng-style="set_color(ColorCodeGlobalObj.colorcode)" style="background-color: #{{ColorCodeGlobalObj.colorcode}};" class="eicon">{{EntType.Shortdescription}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid displayNone">
                                <div class="control-group span3">
                                    <label class="control-label" for="ddlModuleID">{{'LanguageContents.Res_562.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 ng-model="EntType.ddlModuleID" id="ddlModuleID" data-placeholder="Select Module" required>
                                            <option value=""></option>
                                            <option ng-repeat="item in modules" value="{{item.Id}}">{{item.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group span3" style="display: none">
                                    <label class="control-label" for="ddlEntityFeatureID">{{'LanguageContents.Res_543.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 id="ddlEntityFeatureID" multiple="multiple" ng-model="EntType.ddlEntityFeatureID" data-placeholder="Select Features">
                                            <option ng-repeat="item in Features" value="{{item.Id}}">{{item.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group span3" style="display: none" ng-show="EntType.ShowHideRootLevel">
                                    <label class="control-label" for="IsRootLevel">{{'LanguageContents.Res_593.Caption'|translate}}</label><div class="controls">
                                        <input name="isrootlevel" ng-model="EntType.IsRootLevel" type="checkbox" id="IsRootLevel">
                                    </div>
                                </div>
                                <div class="control-group span3" ng-show="EntType.ShowHideChildren">
                                    <label class="control-label" for="ddlParententitytypeId">{{'LanguageContents.Res_594.Caption'|translate}}</label><div class="controls">
                                        <input id="ddlChildren" type="hidden" ui-select2="tagAllOptions" ng-model="EntType.ddlParententitytypeId" />
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="control-group span3">
                                    <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                        <textarea class="small-textarea" ng-model="EntType.EntityTypeDescription" id="EntityTypeDescription" rows="3" placeholder="Description" required></textarea>
                                    </div>
                                </div>
                                <div class="control-group span3" ng-show="false">
                                    <label class="control-label" for="ddlWorkFlow">{{'LanguageContents.Res_34.Caption'|translate}}</label><div class="controls">
                                        <select id="WorkFlowType" ui-select2 name="EntType.ddlWorkFlow" ng-model="EntType.ddlWorkFlow">
                                            <option value="0">{{'LanguageContents.Res_45.Caption'|translate}}</option>
                                            <option ng-repeat="item in workflowList" value="{{item.Id}}">{{item.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group span5" ng-show="ShowEntityTypeRoleAcl">
                                    <div class="multiLabels">
                                        <label class="control-label" for="">Entity Roles</label><label class="control-label" for="">Access</label>
                                    </div>
                                    <div class="rolesBlock controls">
                                        <ul class="unstyled">
                                            <li>
                                                <ul id="Ul1" class="unstyled">
                                                    <li>
                                                        <div class="form-inline" ng-repeat="EntityRole in  DefaultEntityRoleCollection">
                                                            <input class="chkListBox" type="text" ng-model="EntityRole.Caption" ng-disabled="true"><select id="Select2" ui-select2 ng-model="EntityRole.EntityRoleID" ng-disabled="true">
                                                                <option ng-repeat="item in DefaultEntityRoleCollection" value="{{item.EntityRoleID}}">{{item.Caption}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-inline" ng-repeat="EntityRole in  SelctedEntityRoledIDs">
                                                            <input class="chkListBox" type="text" ng-model="EntityRole.Caption"><select id="Select3" ui-select2 ng-model="EntityRole.EntityRoleID" ng-disabled="$index<3">
                                                                <option ng-repeat="item in EntityRoleResultCollection" value="{{item.Id}}">{{item.Caption}}</option>
                                                            </select>
                                                            <button class="btn" ng-click="AddEntityRole($index,EntityRole.ID)" ng-hide="$index<2"><i class="icon-plus"></i></button>
                                                            <button class="btn" ng-click="DeleteEntityRole($index,EntityRole.ID)" ng-hide="$index<3"><i class="icon-remove"></i></button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <span ng-show="EntityTypeForm.EntityTypeCaption.$dirty && horizontalform.EntityTypeCaption.$invalid"></span>
                                <span ng-show="EntityTypeForm.EntityTypeDescription.$dirty && horizontalform.EntityTypeDescription.$invalid"></span>
                                <span ng-show="EntityTypeForm.ddlModuleID.$dirty && EntityTypeForm.ddlModuleID.$invalid && EntityTypeForm.ddlModuleID.$error.required"></span>
                            </div>
                            <input style="display: none" type="submit" id="btnTemp" class="ng-scope" invisible>
                        </form>
                    </div>
                    <div ng-switch-when="EntityTypeAttribute">
                        <h4>{{'LanguageContents.Res_587.Caption'|translate}}</h4>
                        <form id="entitytypeformPage2" class="metadataAttributePage notvalidate">
                            <div class="row-fluid">
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="ddlAttributeID">{{'LanguageContents.Res_587.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2="attributeOptionsConfig" ng-model="EntType.ddlAttributeID" ng-disabled="enabledisableDamattributes"
                                                data-placeholder="Select Attribute" id="ddlAttributeID" ng-change="LoadControl();" style="min-width: 150px">
                                                <option value=""></option>
                                                <option ng-repeat="item in optionsSrc" value="{{item.id}}">{{item.text}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="EntitytperelCaption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                            <input type="text" ng-model="EntType.EntitytperelCaption" id="EntitytpeattrrelCaption" placeholder="Attribute Caption">
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="EnablePlaceHolder">
                                        <label class="control-label" for="Defaultvalue">Place holder</label><div class="controls">
                                            <input type="text" ng-model="EntType.PlaceHolderTextValue" id="txtPlaceHolder">
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="MinValue">
                                        <label class="control-label" for="MinDefaultvalue">{{'LanguageContents.Res_5572.Caption'|translate}}</label><div class="controls">
                                            <input type="number" ng-model="EntType.MinValue" id="txtMinValue" placeholder="No of days">
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="MaxValue">
                                        <label class="control-label" for="MaxDefaultvalue">{{'LanguageContents.Res_5573.Caption'|translate}}</label><div class="controls">
                                            <input type="number" ng-model="EntType.MaxValue" id="txtMaxValue" placeholder="No of days">
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="EnableMultiselectddl">
                                        <label class="control-label" for="Defaultvalue">{{'LanguageContents.Res_46.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="MultiselectddlDefaultvalue" multiple="multiple" ng-model="EntType.MultiselectDefaultvalue" data-placeholder="--Select--">
                                                <option ng-repeat="item in AttributeOptionvalues" value="{{item.Id}}">{{item.Caption}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="EnableSingleSelection">
                                        <label class="control-label" for="Defaultvalue">{{'LanguageContents.Res_46.Caption'|translate}}</label><div class="controls">
                                            <select id="ddlSingleSelection" ui-select2 ng-model="EntType.Defaultvalue" data-placeholder="--Select--">
                                                <option value="">No default value</option>
                                                <option ng-repeat="item in AttributeOptionvalues" value="{{item.Id}}">{{item.Caption}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="Enableinputtxt">
                                        <label class="control-label" for="Defaultvalue">{{'LanguageContents.Res_46.Caption'|translate}}</label><div class="controls">
                                            <input type="text" ng-model="EntType.TextDefaultvalue" id="txtDefaultvalue">
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="EntType.ShowHideInheritFromParent" style="display: none">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox" ng-checked="EntType.Inheritfromparent" ng-model="EntType.Inheritfromparent" id="Inheritfromparent"><span>{{'LanguageContents.Res_595.Caption'|translate}} </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox" ng-checked="EntType.Isreadonly" ng-model="EntType.Isreadonly" id="Isreadonly"><span>{{'LanguageContents.Res_596.Caption'|translate}}</span></label>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="EnableMultiselectFromParent">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox" ng-checked="EntType.Choosefromparentonly" ng-model="EntType.Choosefromparentonly" id="Choosefromparentonly"><span for="Choosefromparentonly">{{'LanguageContents.Res_598.Caption'|translate}}</span></label>
                                        </div>
                                    </div>
                                    <button ng-click="entitytypeattributerel()" ng-model="AddEntitytypeattributerel" ng-show="EnableEntitytypeAttributeAdd" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                                    <button ng-click="entitytypeattributerel()" ng-model="AddEntitytypeattributerel" ng-show="EnableEntitytypeAttributeUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
                                </div>
                                <div class="span9 entypeAttrbtTable">
                                    <ul class="entypeAttrbtTableHeader">
                                        <li id="Li1"><span class="col0"><span class="wrapText">{{'LanguageContents.Res_69.Caption'|translate}}</span></span><span class="col1"><span class="wrapText">{{'LanguageContents.Res_44.Caption'|translate}}</span></span><span class="col2"><span class="wrapText">{{'LanguageContents.Res_613.Caption'|translate}}</span></span><span class="col3"><span class="wrapText">{{'LanguageContents.Res_614.Caption'|translate}}</span></span><span class="col4"><span class="wrapText">{{'LanguageContents.Res_615.Caption'|translate}}</span></span><span class="col5"><span class="wrapText"></span></span><span class="col6"><span class="wrapText"></span></span></li>
                                    </ul>
                                    <ul id="single" dropdragdir="entitytypeattributrearr" class="entypeAttrbtTableContent">
                                        <li id="att{{attribs.AttributeID}}" ng-show="(attribs.AttributeID != '71' && attribs.AttributeID != '74' && attribs.AttributeID != '75')" data-attributeid="{{attribs.AttributeID}}" ng-repeat="attribs in entitytypeattributrearr">
                                            <span class="col0"><span class="wrapText">{{attribs.AttributeID}}</span></span>
                                            <span class="col1"><span class="wrapText">{{attribs.Caption}}</span></span>
                                            <span class="col2"><span class="wrapText">{{attribs.AttributeCaption}}</span></span>
                                            <span class="col3"><span class="wrapText">{{attribs.IsReadOnly}}</span></span>
                                            <span class="col4">
                                                <a class="iconLink" href="javascript:void(0)" ng-click="Validate(attribs)">
                                                    <i id="validation{{attribs.AttributeID}}" ng-show="attribs.isvalidationset == 0" class="icon-ok color-primary"></i>
                                                    <i id="I1" ng-show="attribs.isvalidationset == 1" class="icon-ok "></i></a></span>
                                            <span class="col5"><a class="iconLink" data-toggle="modal" href="#" ng-click="GetAttributeByEntityTypeID(attribs)" data-toggle="modal">
                                                <i class="icon-edit"></i></a></span>
                                            <span class="col6">
                                            <a class="iconLink" ng-show="!attribs.IsSystemDefined" data-toggle="modal" href="#" ng-click="DeleteAttributeByEntityTypeID(this)" data-toggle="modal"><i class="icon-remove"></i></a></span></li>
                                    </ul>
                                </div>
                            </div>
                            <input style="display: none" type="submit" id="btnTemp1" class="ng-scope" invisible>
                        </form>
                    </div>
                    <div ng-switch-when="EntityTypeAttributeGroup">
                        <h4>{{'LanguageContents.Res_2053.Caption'|translate}}</h4>
                        <form id="entitytypeformPage4" class="notvalidate">
                            <div class="row-fluid">
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="AttributeID">{{'LanguageContents.Res_2053.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 ng-model="EntType.ddlAttributeGroupID" data-placeholder="Select Attribute" id="dropdownAttributeGrpID" ng-change="ChangeAttributeGroup();">
                                                <option value=""></option>
                                                <option ng-repeat="item in attributegroupList" value="{{item.Id}}">{{item.Caption}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="AttributeGroupCaption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                            <input type="text" ng-model="EntType.AttributeGroupCaption" id="AttributeGroupCaption" placeholder="Attribute Group Caption">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox" ng-checked="EntType.IsSeparateBlock" ng-model="EntType.IsSeparateBlock" id="IsSeparateBlock"><span>{{'LanguageContents.Res_2056.Caption'|translate}}</span></label>
                                        </div>
                                    </div>
                                    <button ng-click="ClearAttributeGroupCtrls()" class="btn btn-small">{{'LanguageContents.Res_414.Caption'|translate}}</button>
                                    <button ng-click="addnewAttributeGroupToGrid()" ng-show="EntType.EnableAttributeGroupAdd" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                                    <button ng-click="UpdateAttributeGroupAndLoadToGrid()" ng-show="EntType.EnableAttributeGroupUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
                                </div>
                                <div class="span9 ">
                                    <table id="attributegrouptable" class="table table-bordered table-striped">
                                        <tr id="0">
                                            <th>{{'LanguageContents.Res_44.Caption'|translate}}</th>
                                            <th>{{'LanguageContents.Res_2055.Caption'|translate}}</th>
                                            <th>{{'LanguageContents.Res_2056.Caption'|translate}}</th>
                                            <th ng-show="false"></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <tr ng-repeat="attribs in attributegroupGridData" id="{{attribs.AttributeGroupID}}">
                                            <td>{{attribs.Caption}}</td>
                                            <td>{{attribs.AttributeGroupCaption}}</td>
                                            <td>{{attribs.IsSeparateBlock}}</td>
                                            <td ng-show="false">{{attribs.AttributeGroupID}}</td>
                                            <td><a class="iconLink" data-toggle="modal" href="#" ng-click="LoadAttributeGrpToCtrlOnGridClick(attribs)" data-toggle="modal"><i class="icon-edit"></i></a></td>
                                            <td><a class="iconLink" data-toggle="modal" href="#" ng-click="DeleteAttributeGroupByID(attribs)" data-toggle="modal"><i class="icon-remove"></i></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <input style="display: none" type="submit" id="btnTemp4" class="ng-scope" invisible>
                        </form>
                    </div>
                    <div ng-switch-when="AttributeToAttibuteRelations">
                        <h4 class="margin-bottom30x">{{'LanguageContents.Res_587.Caption'|translate}}</h4>
                        <form class="form-inline">
                            <div class="control-group">
                                <div class="ObjectiveFullFillMent">
                                    <div id="AttributeToAttributeRelationsBody" ng-click="AddAttributeRelationsNewRow($event);"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div aria-hidden="true" style="display: none;" aria-labelledby="myModalLabel" data-width="920px" role="dialog" tabindex="-1" class="modal" id="ValidateAttribute">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                            <h3 id="myModalLabel">{{'LanguageContents.Res_525.Caption'|translate}} </h3>
                        </div>
                        <div class="modal-body" id="dynamic_Controls">
                            <form>
                                <div class="row-fluid">
                                    <div class="span3">
                                        <div class="control-group">
                                            <label class="control-label" for="ValidationType">{{'LanguageContents.Res_526.Caption'|translate}}</label><div class="controls">
                                                <select ui-select2 ng-model="ValidationType" data-placeholder="Select Validation Type" id="Select1" ng-change="ValidationValueCheck();">
                                                    <option value=""></option>
                                                    <option ng-repeat="item in ValiadtionOptions" value="{{item.key}}">{{item.Value}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group" ng-show="ShowValue">
                                            <label class="control-label" for="ValidationValue">{{'LanguageContents.Res_48.Caption'|translate}}</label><div class="controls">
                                                <input type="text" ng-model="ValidationValue" id="Text3" placeholder="ValidationValue">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="Defaultvalue">{{'LanguageContents.Res_49.Caption'|translate}}</label><div class="controls">
                                                <input type="text" ng-model="validationErorr" id="Text4">
                                            </div>
                                        </div>
                                        <button ng-click="ValidationAdd()" ng-model="ValidationAdd" ng-show-="EnableValidationSave" class="btn btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                                    </div>
                                    <div class="span9 height2halfx manageOverflow">
                                        <table id="AttributeValidationtbl" class="table table-bordered table-striped">
                                            <tr class="nodrag nodrop" id="Tr2">
                                                <td>{{'LanguageContents.Res_526.Caption'|translate}}</td>
                                                <td>{{'LanguageContents.Res_48.Caption'|translate}}</td>
                                                <td>{{'LanguageContents.Res_49.Caption'|translate}}</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="valattributes in childValidation" id="Tr3">
                                                <td>{{valattributes.ValueType}}</td>
                                                <td>{{valattributes.Value}}</td>
                                                <td>{{valattributes.ErrorMessage}}</td>
                                                <td><a class="iconLink" data-toggle="modal" ng-click="GetEntityAttributeByIndex($index)" data-toggle="modal"><i class="icon-edit"></i></a></td>
                                                <td><a class="iconLink" data-toggle="modal" ng-click="DeleteValidationAttributeByID($index)" data-toggle="modal"><i class="icon-remove"></i></a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" ng-click="closevalidationpopup(this)" class="btn btn-small btn-trash">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                        </div>
                    </div>
                </div>
                <span ng-show="EntityTypeForm.EntitytpeattrrelCaption.$dirty && horizontalform.EntitytpeattrrelCaption.$invalid"></span><span ng-show="EntityTypeForm.ddlAttributeID.$dirty && EntityTypeForm.ddlAttributeID.$invalid && EntityTypeForm.ddlAttributeID.$error.required"></span>
            </div>
            <div class="modal-footer">
                <button ng-click="handleNext()" class="btn btn-small btn-primary" ng-show="visibleLastStep" ng-disabled="EntityTypeForm.$invalid">{{getNextLabel()}}</button>
                <button ng-click="SaveClose()" class="btn btn-small btn-primary">{{'LanguageContents.Res_252.Caption'|translate}}</button>
                <a class="btn btn-small" ng-click="handlePrevious()" ng-show="!isFirstStep()">{{'LanguageContents.Res_57.Caption'|translate}}</a>
            </div>
        </div>
        <div data-width="480" aria-hidden="true" style="display: none;" aria-labelledby="myModalLab el1" role="dialog" tabindex="-1" class="modal duplicatePopup" id="DuplicateEntityTypeModel">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3 id="H1">Duplicate DAM entity Type: {{DuplicateEntityType.EntityCaption}}</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                    <input type="text" name="Caption" ng-model="DuplicateEntityType.EntityCaption" id="duplentitypeCaption" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                    <textarea class="small-textarea" name="Description" ng-model="DuplicateEntityType.Description" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group " style="display: none">
                                <label class="control-label" for="Colourcode">{{'LanguageContents.Res_597.Caption'|translate}}</label><div class="controls">
                                    <div class="pick-a-color margin-bottom10x" id="Duplicateborder-color" data-border-color="{{DuplicateEntityType.EntityTypeColorcode}}">{{DuplicateEntityType.EntityTypeColorcode}}</div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Shortdescription">{{'LanguageContents.Res_43.Caption'|translate}}</label><div class="controls">
                                    <input type="text" name="Description" ng-model="DuplicateEntityType.EntityShortDescription" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-left"></div>
                <button ng-click="CreateDuplicateEntityType()" class="btn btn-small btn-primary">{{'LanguageContents.Res_21.Caption'|translate}}</button>
                <button data-dismiss="modal" class="btn btn-small btn-danger">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            </div>
        </div>
    </div>
</div>
