﻿<div ng-controller="mui.admin.damimageunitsCntrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder nomargin">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_5005.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal nomargin" name="AdminSettingform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group nomargin">
                                        <label class="control-label" for="ddlImageUnitFormat">{{'LanguageContents.Res_5007.Caption'|translate}}</label><div class="controls">
                                            <select name="ImageUnitFormat" ng-model="ImageUnitFormat">
                                                <option ng-repeat="item in ImageUnitFormatList" value="{{item.name}}">{{item.name}}</option>
                                            </select>
                                            <button ng-click="UpdateFormat('ImageUnitFormat')" class="btn btn-small btn-primary">{{'LanguageContents.Res_4741.Caption'|translate}}</button>
                                        </div>
                                        <span class="info">({{'LanguageContents.Res_5006.Caption'|translate}})</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
