﻿<div class="row-fluid" ng-controller="mui.admin.SummaryviewsettingsCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_2501.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <div class="row-fluid">
                                <div class="controls nomargin">
                                    <select ui-select2 name="EntityType" id="Select1" ng-model="entitytype" ng-change="loadattributes()">
                                        <option value="0">{{'LanguageContents.Res_63.Caption'|translate}}</option>
                                        <option ng-repeat="item in Damentitytype" value="{{item.Id}}">{{item.Caption}}</option>
                                    </select></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="listSettingsHeader">
                                        <h5>{{'LanguageContents.Res_575.Caption'|translate}}</h5>
                                    </div>
                                    <div class="draggableContainer">
                                        <ul id="sortableAttribute1" class="nav nav-pills nav-stacked connectedAttributeSortable"></ul>
                                    </div>
                                </div>
                                <div class="span4">
                                    <h5>{{'LanguageContents.Res_576.Caption'|translate}}</h5>
                                    <div class="draggableContainer">
                                        <ul id="sortableAttribute2" class="nav nav-pills nav-stacked connectedAttributeSortable"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer right">
                                <button type="submit" ng-click="save()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
