﻿<div class="row-fluid" ng-controller="mui.admin.damviewsettingsCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4197.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="draggableTable">
                        <div class="FilterPanel">
                            <div class="fP_left">
                                <span class="btnPane">
                                    <select ui-select2 name="EntityType" id="viewtype" ng-model="viewtype" ng-change="loadattributedetails()">
                                        <option value="ThumbnailView" selected>{{'LanguageContents.Res_4858.Caption'|translate}}</option>
                                        <option value="SummaryView">{{'LanguageContents.Res_4812.Caption'|translate}}</option>
                                        <option value="ListView">{{'LanguageContents.Res_1554.Caption'|translate}}</option>
                                    </select>
                                </span>
                                <span class="btnPane">
                                    <input ui-select2="tagAllOptionsEntitytypelist" id="entitytype" ng-model="entitytype" ng-change="loadattributedetails()" name="EntityType" />
                                </span>
                            </div>
                        </div>
                        <div class="dT_Table">
                            <table id="damviewsettingslist">
                                <thead>
                                    <tr>
                                        <th class="prime">
                                            <span>{{'LanguageContents.Res_44.Caption'|translate}}</span>
                                        </th>
                                        <th>
                                            <span>{{'LanguageContents.Res_4747.Caption'|translate}}</span>
                                        </th>
                                        <th>
                                            <span>{{'LanguageContents.Res_4748.Caption'|translate}}</span>
                                        </th>
                                        <th class="repos"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in viewattribtues| orderBy : 'SortOrder'" class="findchkbox">
                                        <td class="prime" data-id="{{item.ID}}">
                                            <span>{{item.DisplayName}}</span>
                                        </td>
                                        <td class="chkbx col10p">
                                            <label class="checkbox  checkbox-custom">
                                                <input type="checkbox" ng-click="GetChckedViewSettings(item,'IsColumn')" />
                                                <i ng-class="{'checkbox':item.IsColumn == false, 'checkbox checked':item.IsColumn == true}"></i>
                                            </label>
                                        </td>
                                        <td class="chkbx col10p">
                                            <label class="checkbox checkbox-custom">
                                                <input type="checkbox" ng-click="GetChckedViewSettings(item,'IsToolTip')" />
                                                <i ng-class="{'checkbox':item.IsToolTip == false, 'checkbox checked':item.IsToolTip == true}"></i>
                                            </label>
                                        </td>
                                        <td class="repos">
                                            <i class="icon-resize-vertical" my-qtip2 qtip-content="Reposition" data-id="{{item.ID}}"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
