﻿<div class="row-fluid" ng-controller="mui.admin.dashboardtemplateCtrl">
    <div ng-switch="DashboardView">
        <div ng-switch-when="DashboardMain">
            <div class="span12">
                <div class="AdminMargin">
                    <div class="box box-noborder">
                        <div class="box-header">
                            <h4>{{'LanguageContents.Res_580.Caption'|translate}}</h4>
                        </div>
                        <div class="box-content">
                            <div class="box-content-margin">
                                <form class="form-horizontal" name="Mainhorizontalform">
                                    <input type="text" placeholder="Filter" class="pull-right" ng-model="filterOptions.filterText" />
                                    <br>
                                    <div class="gridStyle" ng-grid="gridOptions"></div>
                                </form>
                            </div>
                        </div>
                        <div class="box-footer align-right">
                            <a class="btn btn-small btn-primary" ng-click="addModule()" href="javascript:void(0);">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="moduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="myModalLabel">{{'LanguageContents.Res_581.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group" ng-show="false">
                                        <label class="control-label" for="TemplateID">{{'LanguageContents.Res_69.Caption'|translate}}</label>
                                        <div class="controls">
                                            <input type="text" ng-model="dashboard.TemplateID" id="TemplateID" placeholder="ID" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="inputTemplateName" class="control-label">{{'LanguageContents.Res_1.Caption'|translate}}</label>
                                        <div class="controls">
                                            <input type="text" name="TemplateName" ng-model="dashboard.inputTemplateName" id="inputTemplateName" placeholder="Name" value="" required />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="inputTemplateDescription" class="control-label">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                                        <div class="controls">
                                            <textarea class="small-textarea" name="TemplateDescription" ng-model="dashboard.inputTemplateDescription" id="Textarea1" placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddlGlobalRole">{{'LanguageContents.Res_37.Caption'|translate}}</label>
                                        <div class="controls">
                                            <select class="multiselect" multiple="multiple" multiselect-dropdown id="ddlGlobalRole" multiple="multiple" ng-model="dashboard.ddlGlobalRole" ng-options="item.Id as item.Caption for item in GlobalRoles"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span ng-show="Mainhorizontalform.TemplateName.$dirty && Mainhorizontalform.TemplateName.$invalid"></span>
                            <span ng-show="Mainhorizontalform.description.$dirty && Mainhorizontalform.description.$invalid"></span>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="update()" ng-model="UpdateModule" ng-show="EnableUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button ng-click="save()" ng-model="AddModule" ng-show="EnableAdd" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="DashboardCustomize">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{DashboardTemplateName }}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div ng-include=" 'views/mui/dashboard.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
