﻿<div ng-controller="mui.admin.dashboardwidgetCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_579.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="Mainhorizontalform">
                            <input type="text" placeholder="Filter" class="pull-right" ng-model="filterOptions.filterText" /><br>
                            <div class="gridStyle" ng-grid="gridwidgetdata"></div>
                            <div class="box-footer right" ng-show="false">
                                <a class="btn btn-small btn-primary" ng-click="addModule()" href="javascript:void(0);" data-toggle="modal">{{'LanguageContents.Res_590.Caption'|translate}}</a>
                            </div>
                        </form>
                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="moduleModal" style="display: none;">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h3 id="myModalLabel">{{'LanguageContents.Res_578.Caption'|translate}}:{{Widgettype.TypeName}}</h3>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="control-group" ng-show="false">
                                                <label class="control-label" for="ID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                                    <input type="text" ng-model="Widgettype.ID" id="ID" placeholder="ID">
                                                </div>
                                            </div>
                                            <div class="control-group" ng-show="false">
                                                <label class="control-label" for="TypeName" ng-model="Widgettype.TypeName">{{'LanguageContents.Res_578.Caption'|translate}}:{{Widgettype.TypeName}}</label>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="ddlGlobalRole">{{'LanguageContents.Res_37.Caption'|translate}}</label><div class="controls">
                                                    <select class="multiselect" id="ddlGlobalRole" multiple="multiple" ng-model="Widgettype.ddlGlobalRole" multiple="multiple" multiselect-dropdown ng-options="item.Id as item.Caption for item in GlobalRoles"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="update()" ng-model="UpdateModule" ng-show="EnableUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                                <button ng-click="save()" ng-model="AddModule" ng-show="EnableAdd" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                                <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
