﻿<div ng-controller="mui.admin.designlayoutCntrl">
    <div class="span12">
        <div class="AdminMargin" id="tabLayoutSettings">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4461.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="layout-Draggable">
                            <div class="controls nomargin ">
                                <select ui-select2 data-placeholder="Select type" ng-change="RefreshLayout()" ng-model="TabEntityType">
                                    <option ng-repeat="item in TabEntityTypeOptions" value="{{item.Id}}">{{item.Caption}}</option>
                                </select></div>
                            <br />
                            <div class="row-fluid">
                                <div class="controls nomargin ">
                                    <select ui-select2 data-placeholder="Select Tab" ng-change="RefreshBlocks()" ng-model="layoutLocation">
                                        <option ng-repeat="item in layoutLocationOptions | filter:locationFilter" value="{{item.Id}}">{{item.Caption}}</option>
                                    </select></div>
                                <br />
                                <div class="layout-DraggableRow" ng-repeat="dynamic in LayoutData.root.block track by $index">
                                    <div class="row-fluid">
                                        <div class="layout-DraggableRowHeader">
                                            <select ui-select2 ng-change="RepaintBlocks(dynamic,dynamic.lists,dynamic.LayoutStructure)" ng-model="dynamic.LayoutStructure">
                                                <option value="1">{{'LanguageContents.Res_4031.Caption'|translate}}</option>
                                                <option value="2">{{'LanguageContents.Res_4032.Caption'|translate}}</option>
                                                <option value="3">{{'LanguageContents.Res_4033.Caption'|translate}}</option>
                                            </select><span class="layout-DraggableRowHeader-Buttons">
                                                <button class="btn btn-small btn-primary btnaddcls" ng-click="Addnewrow()">{{'LanguageContents.Res_4052.Caption'|translate}}</button>
                                                <button class="btn btn-small btn-danger" ng-show="$index > 0" ng-click="RemoveRow(dynamic,$index)">{{'LanguageContents.Res_4683.Caption'|translate}}</button></span></div>
                                        <div class="Layout-BoxContainer">
                                            <div class="span4 floatleft draggableContainer" ng-repeat="listcollection in dynamic.lists track by $index">
                                                <div class="Layout-BoxContainer-Header">
                                                    <select ui-select2 ng-model="listcollection.BlockWidth" data-placeholder="Select layouts">
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select></div>
                                                <div class="Layout-BoxContainer-Content" ng-show="listName=='list'" ng-repeat="(listName, list) in listcollection">
                                                    <div>
                                                        <div ng-include=" 'views/mui/admin/simple.html' "></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Mainfooter" class="box-footer align-right">
                    <button type="submit" ng-click="updateReportBlock()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button type="submit" ng-click="apply()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4085.Caption'|translate}}</button></div>
            </div>
        </div>
    </div>
</div>
