﻿<div ng-controller="mui.admin.entitystatusCtrl">
    <div class="AdminMargin">
        <div class="box box-noborder">
            <div class="box-header">
                <h4>Entity Overall Status</h4>
            </div>
            <div class="box-content">
                <div class="box-content-margin taskListTemplate EntityListTemplate">
                    <form class="form-horizontal ng-pristine ng-valid" id="dynForm">
                        <ul class="ListHolder" id="entitytempListholder">
                            <li ng-repeat="template in EntityTempConditionResult track by $index ">
                                <h4 class="stepHeader">{{template.ID}}.{{template.Caption}} <span>({{template.Description}})</span>
                                    <i class="pull-right menuIcon icon-remove" ng-click="DeleteTemplate(template.ID)"></i>
                                    <i class="pull-right menuIcon icon-edit" ng-click="UpdateTemplate(template.ID,template.Caption,template.Description)"></i>
                                </h4>
                                <div id="EntityConditonFulFilment_{{template.ID}}" class="taskConditionFulfilment entityConditionFulfilment" ng-show="template.conditions.length>0">
                                    <div class="ObjectiveFullFillMent" ng-repeat="cond in template.conditions">
                                        <div id="EntityFulfillmentMetadatatbody_{{cond.ID}}">
                                            <div data-control="main" data-holder="holder" data-existingid="0" id="container_{{cond.ID}}">
                                                <ul class="repeter">
                                                    <li class="form-inline">
                                                        <label>Condition:</label>
                                                        <select ng-show="(template.editableEntityType==cond.ID && cond.edit!=false)" ui-select2 ng-click="setCurrEntityType(cond.EntityTypeId)" ng-change="getStatus('EntityType',cond,template)" ng-model="cond.EntityTypeId">
                                                            <option value="0">--Select--</option>
                                                            <option ng-repeat="type in EntityTypes" value="{{type.ID}}">{{type.Caption}}</option>
                                                        </select>
                                                        <select disabled ng-show="(template.editableEntityType!=cond.ID||cond.edit==false)" ui-select2 ng-click="setCurrEntityType(cond.EntityTypeId)" ng-model="cond.EntityTypeId">
                                                            <option value="0">--Select--</option>
                                                            <option ng-repeat="type in EntityTypes" value="{{type.ID}}">{{type.Caption}}</option>
                                                        </select>
                                                        <label>Where </label>
                                                        <select ng-show="(template.editableEntityType==cond.ID && cond.edit!=false)" ui-select2 ng-change="getStatus('attribute',cond,template)" ng-model="cond.AttrID">
                                                            <option value="0">--Select--</option>
                                                            <option ng-repeat="attr in template.availableAttributes" value="{{attr.AttributeID}}">{{attr.AttributeCaption}}</option>
                                                        </select>
                                                        <select disabled ng-show="(template.editableEntityType!=cond.ID||cond.edit==false)" ui-select2 ng-model="cond.AttrID">
                                                            <option value="0">--Select--</option>
                                                            <option ng-repeat="attr in template.availableAttributes" value="{{attr.AttributeID}}">{{attr.AttributeCaption}}</option>
                                                        </select>
                                                        <label>Reaches the systems date </label>
                                                        <select ui-select2 ng-model="cond.Days" ng-change="setDays(cond,template)">
                                                            <option ng-repeat="day in template.avilableDays" value="{{day.Days}}">{{day.Caption}}</option>
                                                        </select>
                                                        <label>then status </label>
                                                        <select ui-select2 ng-model="cond.OverallStatus">
                                                            <option value="0">--Select--</option>
                                                            <option ng-repeat="st in template.avilableStatus" value="{{st.ID}}">{{st.StatusOptions}}</option>
                                                        </select>
                                                        <button class="btn btn-small" ng-click="addCondition(template)">
                                                            <i class='icon-plus'></i>
                                                        </button>
                                                        <button class="btn btn-small" ng-click="removeCondition(cond,template.ID)">
                                                            <i class='icon-remove'></i>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#moduleContextEntityCond" data-toggle="modal" data-dismiss="modal" class="btn btn-small ng-binding" ng-hide="true" ng-click="EntityBackward(template.ID)">{{'LanguageContents.Res_7.Caption'|translate}}</a>
                                        <a href="#moduleContextEntityCond" data-toggle="modal" class="btn btn-small btn-primary" ng-click="SaveEntityFulfilment(template.ID)">{{'LanguageContents.Res_64.Caption'|translate}}</a>
                                    </div>
                                </div>
                                <div id="EntityConditontext{{template.ID}}" class="entityConditionText" ng-show="template.conditions.length==0">
                                    <a href="#moduleContextEntityCond" data-toggle="modal" class="btn btn-small btn-primary pull-right" ng-click="createNewCondition(template)">Add criteria</a>
                                </div>
                                <ul id="ListHolderID1" class="sortable-inner">
                                    <li id="{{entitylist.Id}}" data-templateid="{{template.ID}}" class="ListItem InProgress cursor-move" ng-repeat="entitylist in template.EntityListDetails">
                                        <div class="row-fluid">
                                            <div class="span3">{{entitylist.Id}}.{{entitylist.Caption}}</div>
                                            <div class="span6"><span>{{entitylist.Description}}</span></div>
                                            <div class="span2" ng-switch on="0==entitylist.Totalentity">
                                                <span ng-switch-when="false" class="important">{{entitylist.TotalTasks}} {{'LanguageContents.Res_627.Caption'|translate}}</span>
                                                <span ng-switch-default>No EntityType Overall status present</span>
                                            </div>
                                            <div class="span1">
                                                <i class="pull-right menuIcon icon-remove" ng-click="DeleteEntityList(entitylist.Id,template.Id)"></i>
                                                <i class="pull-right menuIcon icon-edit" ng-click="ShowUpdateDialogEntityList(entitylist.Id,entitylist.Caption,entitylist.Description)"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <!--<div class="text-right">
                                        <a href="#EntityListShowModal" role="button" ng-click="ShowEntityListmodal(template.Id)" class="btn btn-small btn-primary" data-toggle="modal">{{'LanguageContents.Res_625.Caption'|translate}}</a>
                                    </div>-->
                                </ul>
                            </li>
                        </ul>
                        <span ng-show="EntityTempConditionResult.length==0">No template is available.</span>
                    </form>
                </div>
            </div>
        </div>
        <div class="box-footer align-right">
            <button type="submit" ng-click="EntityShowTemplatecreationmodel()" class="btn btn-primary btn-small">{{'LanguageContents.Res_606.Caption'|translate}}</button>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="920px" role="dialog" tabindex="-1" class="modal" id="EntityListShowModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">{{'LanguageContents.Res_604.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="dynamic_Controls">
            <div class="row-fluid">
                <div class="span12 height2halfx manageOverflow">
                    <table id="entityListtable" class="table table-bordered table-striped">
                        <tr id="Tr2">
                            <th>{{'LanguageContents.Res_1.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_22.Caption'|translate}}</th>
                            <th>
                                <span>
                                    <label class='checkbox checkbox-custom pull-right'>
                                        <input id='entityListSelectAll' type='checkbox'>
                                        <i class='checkbox'></i>
                                    </label>
                                </span>
                            </th>
                        </tr>
                        <tr ng-repeat="entityList in EntityLibraryList" id="Tr3">
                            <td>{{entityList.LibraryName}}</td>
                            <td>{{entityList.LibraryDescription}}</td>
                            <td>
                                <span>
                                    <label class='checkbox checkbox-custom pull-right'>
                                        <input data-childcheckbox="check" data-id="{{entityList.ID}}" type='checkbox'><i class='checkbox'></i>
                                    </label>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="SelectEntityLists()" ng-model="SelectedentityLists" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="EntitytemplateCreationModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>{{EntityTemplatePopUpText}}</h3>
        </div>
        <div class="modal-body">
            <form id="itemform">
                <div id="myEntityTabRole">
                    <div ng-model="EntityTempTabId" id="EntityTempTab" class="tab-pane fade active in">
                        <div class="control-group" ng-show="false">
                            <label class="control-label" for="EntityTypeID">{{'LanguageContents.Res_69.Caption'|translate}}</label>
                            <div class="controls">
                                <input type="text" ng-model="EntitytemplateID" id="EntityTypeID" placeholder="ID">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label>
                            <div class="controls">
                                <input name="inputcaption" ng-model="TempCaption" type="text" id="Caption" placeholder="Caption" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                            <div class="controls">
                                <textarea class="small-textarea" name="inputdescription" ng-model="TempDescription" id="Textarea1" rows="3" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <span ng-show="itemform.inputcaption.$dirty && itemform.inputcaption.$error.required"></span>
                        <span ng-show="itemform.inputdescription.$dirty && itemform.inputdescription.$error.required"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button ng-click="SaveEntityTempList()" id="AddEntityType" ng-model="AddEntitytemplate" class="btn btn-small btn-primary" ng-disabled="itemform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="EntityListUpdationmodal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>Edit task list</h3>
        </div>
        <div class="modal-body">
            <form id="entityListForm">
                <div class="bs-docs-example">
                    <div id="Div2">
                        <div ng-model="entityListTabId" id="Div3" class="tab-pane fade active in">
                            <div class="control-group" ng-show="false">
                                <label class="control-label" for="EntityListID">{{'LanguageContents.Res_69.Caption'|translate}}</label>
                                <div class="controls">
                                    <input type="text" ng-model="EntityListID" id="Text1" placeholder="ID">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label>
                                <div class="controls">
                                    <input id="inputcaption" name="inputcaption" ng-model="EntityListCaption" type="text" id="Text2" placeholder="Caption" required>
                                </div>

                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                                <div class="controls">
                                    <textarea class="small-textarea" name="inputdescription" ng-model="EntityListDescription" id="Textarea2" rows="3" placeholder="Description" required></textarea>
                                </div>
                            </div>
                            <span ng-show="entityListForm.inputcaption.$dirty && entityListForm.inputcaption.$error.required"></span>
                            <span ng-show="entityListForm.inputdescription.$dirty && entityListForm.inputdescription.$error.required"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button ng-click="UpdateEntityList()" id="Button1" ng-model="UpdateEntityList" class="btn btn-small btn-primary" ng-disabled="entityListForm.$invalid">{{'LanguageContents.Res_64.Caption'|translate}}</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
