﻿<div ng-controller="mui.admin.entitytypehelptextctrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_5611.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="draggableTable">
                        <div class="fileupload fileupload-new pull-right" data-provides="fileupload">
                            <a class="customIcon mini fileupload-new" id="pickexports" ng-click="ImportPopUp()" title="Import" data-toggle="modal">
                                <span class="baseIcon fileupload-new">
                                    <i class="icon-file-text-alt fileupload-new"></i>
                                </span>
                                <span class="foreIcon fileupload-new" href="#">
                                    <i class="icon-double-angle-down fileupload-new"></i>
                                </span>
                            </a>
                            <a class="customIcon mini margin-right10x margin-top2x" href="#ExportInProgress" ng-click="Export()" title="Export" data-toggle="modal">
                                <span class="baseIcon">
                                    <i class="icon-file-text-alt"></i>
                                </span><span class="foreIcon">
                                    <i class="icon-double-angle-up"></i>
                                </span>
                            </a>
                        </div>
                        <div ng-repeat="entitytype in EntityTypeOptionsLists" class="dT_Table">
                            <h4><span>Entity type: {{entitytype.Caption}}</span></h4>
                            <table id="entitytypehelptextlist">
                                <thead>
                                    <tr>
                                        <th class="prime"><span>{{'LanguageContents.Res_44.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_4748.Caption'|translate}}</span></th>
                                        <th><span>Description</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in entitytype.AttributeData" class="findchkbox">
                                        <td class="prime"><span>{{item.Caption}}</span></td>
                                        <td class="chkbx col10p">
                                            <label class="checkbox checkbox-custom">
                                                <input type="checkbox" ng-click="GetChckedEntityTypehelptext(item,'IsHelptextEnabled')" />
                                                <i ng-class="{'checkbox':item.IsHelptextEnabled == false, 'checkbox checked':item.IsHelptextEnabled == true}"></i>
                                            </label>
                                        </td>
                                        <td class="width6x colControls xlTextarea">
                                            <textarea type="text" ng-blur="GetHelptextdescrption(item, item.HelptextDecsription, item.IsHelptextEnabled)" ng-model="item.HelptextDecsription" class="width5halfx nomargin"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button type="submit" ng-click="updateentitytypehelptext()" class="btn btn-small btn-primary ng-binding">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                </div>
                <button id="ImportingVal" hidden="hidden" visible="false"></button>
            </div>
        </div>
        <div id="ExportHelpReportPageModel" class="modal operationInProgressModal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
            <div aria-labelledby="myModalLabel" id="Div4">
                <div class="modal-header">
                    <h2>Exporting Attribute helptext</h2>
                </div>
                <div class="modal-body">
                    <div class="msgContainer">
                        <span class="bgIcon"></span>
                        <div id="Span2" class="mssg">
                            <div class="mssgHeader">
                                <span class="headerIcon">
                                    <img src="assets/img/loading.gif" alt="loadingImg" />
                                </span>
                                <span class="headerMsg">Exporting...</span>
                            </div>
                            <div class="mssgContent">
                                <span class="descMsg">{{'LanguageContents.Res_4851.Caption'|translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="ImportHelpReportPageModel" class="modal operationInProgressModal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
            <div aria-labelledby="myModalLabel" id="Div6">
                <div class="modal-header">
                    <h2>Import Attribute helptext</h2>
                </div>
                <div class="modal-body">
                    <div class="msgContainer">
                        <span class="bgIcon"></span>
                        <div id="Span3" class="mssg">
                            <div class="mssgHeader">
                                <span class="headerIcon">
                                    <img src="assets/img/loading.gif" alt="loadingImg" />
                                </span>
                                <span class="headerMsg">Importing...</span>
                            </div>
                            <div class="mssgContent">
                                <span class="descMsg">{{'LanguageContents.Res_4851.Caption'|translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
