﻿<div ng-controller="mui.admin.fileprofilectrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4394.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="FileProfileForm" id="FileProfileForm">
                            <br>
                            <br />
                            <div class="gridStyle" ng-grid="gridGetProfileFiles"></div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right"><a class="btn btn-small btn-primary" href="#DAMProfilePopup" ng-click="addProfileFiles()" data-toggle="modal">{{'LanguageContents.Res_8.Caption'|translate}}</a></div>
            </div>
        </div>
    </div>
    <div id="DAMProfilePopup" class="modal hide fade DAMProfilePopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="450">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H3">{{'LanguageContents.Res_4387.Caption'|translate}} </h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <form class="form-float">
                    <div class="span12">
                        <div class="control-group double">
                            <label class="control-label">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                                <input type="text" ng-model="Name" />
                            </div>
                        </div>
                    </div>
                    <div class="span12">
                        <div class="control-group half">
                            <label class="control-label">{{'LanguageContents.Res_4435.Caption'|translate}}:</label><div class="controls">
                                <input id="txtfileProfileheight" type="text" ng-model="Height" />
                            </div>
                        </div>
                        <div class="control-group half floatRight">
                            <label class="control-label">{{'LanguageContents.Res_4908.Caption'|translate}}</label><div class="controls">
                                <input id="txtfileProfilewidth" type="text" ng-model="Width" />
                            </div>
                        </div>
                    </div>
                    <div class="span12">
                        <div class="control-group half">
                            <label class="control-label">{{'LanguageContents.Res_1501.Caption'|translate}}:</label><div class="controls">
                                <input id="txtfileProfileExtension" class="txtExtensionFileProfile" type="text" ng-model="Extension" />
                            </div>
                        </div>
                        <div class="control-group half floatRight">
                            <label class="control-label">{{'LanguageContents.Res_4221.Caption'|translate}}</label><div class="controls">
                                <input id="txtfileProfileDPI" type="text" ng-model="DPI" />
                            </div>
                        </div>
                        <div class="controls">
                            <label class="control-label">{{'LanguageContents.Res_4034.Caption'|translate}}</label>
                            <select ui-select2 id="ddlAssetRole" multiple="multiple" ng-model="ddlAssetRole" data-placeholder="Select Global Role">
                                <option ng-repeat="item in AssetRoles" value="{{item.Id}}">{{item.Caption}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary" ng-click="SaveProfileFiles(row)">{{Profilefilesaddbtn}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
