﻿<div class="row-fluid" ng-controller="mui.admin.financialreportCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4193.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <br />
                            <form class="form-inline">
                                <div class="control-group">
                                    <div class="FinancilFullFillMent">
                                        <div id="FinancilFulfillmentMetadatatbody"></div>
                                    </div>
                                </div>
                            </form>
                            <div class="box-footer right">
                                <button type="submit" ng-click="save()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
