﻿<div ng-controller="mui.admin.financialforecastctrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_229.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="checkbox-right">
                            <label class="bolder">{{'LanguageContents.Res_4235.Caption'|translate}}</label><span><label class="checkbox checkbox-custom "><input type="checkbox" data-name="Financialforecastsettings" ng-click="SetIsFinancialStatus($event);" ng-model="CheckFFF" id="CheckFFF" class="ng-pristine ng-valid"><i ng-class="{'checkbox checked':CheckFFF ,'checkbox':!CheckFFF}"></i></label></span>
                        </div>
                    </div>
                    <div class="box-content-margin">
                        <h5>{{'LanguageContents.Res_634.Caption'|translate}}</h5>
                        <div>
                            <form class="form-horizontal" name="itemform">
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_635.Caption'|translate}} :</label><div class="btn-group margin10x">
                                        <button ng-model="aDivisonIdsList" ng-click="" class="btn dropdown-toggle btn-small ng-binding capitalize" data-toggle="dropdown">
                                            {{DivisionSelected.DivisionforecastingName}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="divisons in aDivisonIdsList"><a ng-click="SetDivison(divisons,'division')">{{divisons.DivisionforecastingName}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_228.Caption'|translate}}:</label><div class="controls">
                                        <input type="text" ng-model="xdays" />
                                        <button class="btn btn-small btn-primary" ng-click="UpdateForecastSettings();">{{'LanguageContents.Res_64.Caption'|translate}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="box-content-margin">
                        <h5>{{'LanguageContents.Res_224.Caption'|translate}}:</h5>
                        <div>
                            <form class="form-horizontal" name="itemform">
                                <div class="ng-scope">
                                    <label class="control-label">{{'LanguageContents.Res_227.Caption'|translate}}:</label><div class="btn-group margin10x">
                                        <button ng-model="forcastbasis" ng-click="" class="btn dropdown-toggle btn-small ng-binding capitalize" data-toggle="dropdown">
                                            {{ForecastBasisselected.basisforecastingIdsName}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="item in forcastbasis"><a ng-click="SetDivison(item,'basis')">{{item.basisforecastingIdsName}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="box-content-margin">
                        <h5>{{'LanguageContents.Res_223.Caption'|translate}}</h5>
                        <div>
                            <form class="form-horizontal" name="itemform">
                                <div class="ng-scope">
                                    <label class="control-label">{{'LanguageContents.Res_226.Caption'|translate}} :</label><div class="btn-group margin10x">
                                        <button ng-model="forecastLevelData" ng-click="" class="btn dropdown-toggle btn-small ng-binding capitalize" data-toggle="dropdown">
                                            {{'LanguageContents.Res_225.Caption'|translate}} + {{forecastLevelDataSelected}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a ng-click="SetDivison(0,'level')">{{'LanguageContents.Res_225.Caption'|translate}} + 0</a></li>
                                            <li><a ng-click="SetDivison(1,'level')">{{'LanguageContents.Res_225.Caption'|translate}} + 1</a></li>
                                            <li><a ng-click="SetDivison(2,'level')">{{'LanguageContents.Res_225.Caption'|translate}} + 2</a></li>
                                            <li><a ng-click="SetDivison(3,'level')">{{'LanguageContents.Res_225.Caption'|translate}} + 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
