﻿<div ng-controller="mui.admin.financialhelptextctrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_5596.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="draggableTable">
                        <div class="dT_Table">
                            <table id="financialhelptextlist">
                                <thead>
                                    <tr>
                                        <th class="prime"><span>{{'LanguageContents.Res_44.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_4748.Caption'|translate}}</span></th>
                                        <th><span>Description</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Finattributes" class="findchkbox">
                                        <td class="prime"><span>{{item.Caption}}</span></td>
                                        <td class="chkbx col10p">
                                            <label class="checkbox checkbox-custom">
                                                <input type="checkbox" ng-click="GetChckedFinancialhelptext($event, item,'IsHelptextEnabled')" />
                                                <i ng-class="{'checkbox':item.IsHelptextEnabled == false, 'checkbox checked':item.IsHelptextEnabled == true}"></i>
                                            </label>
                                        </td>
                                        <td class="width4x">
                                            <textarea type="text" class="oneline-textarea width3halfx nomargin" nghelpblur ng-model="item.HelptextDecsription" iterater="{{item.ID}}"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button type="submit" ng-click="updatefinanacialhelptextobj()" class="btn btn-small btn-primary ng-binding">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
