﻿<div ng-controller="mui.admin.financialforecastsettingsctrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_222.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="checkbox-right">
                            <label class="bolder">{{'LanguageContents.Res_4236.Caption'|translate}}</label>
                            <span>
                                <label class="checkbox checkbox-custom ">
                                    <input type="checkbox" data-name="Moneytransfer" ng-model="CheckMoneytransfer" id="CheckMoneytransfer" ng-click="getFFDataByStatus('Moneytransfer',$event);" class="ng-pristine ng-valid">
                                        <i class="checkbox" ng-class="{'checkbox checked':CheckMoneytransfer ,'checkbox':!CheckMoneytransfer}"></i>
                                    </label>
                                </span>
                            </div>
                            <div class="checkbox-right">
                                <label class="bolder">{{'LanguageContents.Res_4465.Caption'|translate}}</label>
                                <span>
                                    <label class="checkbox checkbox-custom ">
                                        <input type="checkbox" data-name="Linkedresource" ng-model="CheckExternalsource" id="CheckExternalsource" ng-click="getFFDataByStatus('Linkedresource',$event);" class="ng-pristine ng-valid" />
                                        <i class="checkbox" ng-class="{'checkbox checked':CheckExternalsource ,'checkbox':!CheckExternalsource}"></i>
                                    </label>
                                </span>
                            </div>
                           <div class="checkbox-right">
                            <label class="bolder">{{'LanguageContents.Res_5671.Caption'|translate}}</label>
                            <span>
                                <label class="checkbox checkbox-custom ">
                                    <input type="checkbox" data-name="Enablefundingrequest" ng-model="CheckEnablefundingrequest" id="CheckEnablefundingrequest" ng-click="getFFDataByStatus('Enablefundingrequest',$event)" class="ng-pristine ng-valid" />
                                    <i class="checkbox" ng-class="{'checkbox checked':CheckEnablefundingrequest ,'checkbox':!CheckEnablefundingrequest}"></i>
                                </label>
                            </span>
                    </div>
                         <div class="checkbox-right">
                            <label class="bolder">{{'LanguageContents.Res_5672.Caption'|translate}}</label>
                            <span>
                                <label class="checkbox checkbox-custom ">
                                    <input type="checkbox" data-name="Enablerequestplannedfunds" ng-model="CheckEnablerequestplannedfunds" id="CheckEnablerequestplannedfunds" ng-click="getFFDataByStatus('Enablerequestplannedfunds',$event)" class="ng-pristine ng-valid" />
                                    <i class="checkbox" ng-class="{'checkbox checked':CheckEnablerequestplannedfunds ,'checkbox':!CheckEnablerequestplannedfunds}"></i>
                                </label>
                            </span>
                        </div>
                              <div class="checkbox-right">
                            <label class="bolder">{{'LanguageContents.Res_5673.Caption'|translate}}</label>
                            <span>
                                <label class="checkbox checkbox-custom ">
                                    <input type="checkbox" data-name="Enablerelasefunds" ng-model="CheckEnablerelasefunds" id="CheckEnablerelasefunds" ng-click="getFFDataByStatus('Enablerelasefunds',$event)" class="ng-pristine ng-valid" />
                                    <i class="checkbox" ng-class="{'checkbox checked':CheckEnablerelasefunds ,'checkbox':!CheckEnablerelasefunds}"></i>
                                </label>
                            </span>
                        </div>
                          <div class="checkbox-right">
                            <label class="bolder">{{'LanguageContents.Res_5674.Caption'|translate}}</label>
                            <span>
                                <label class="checkbox checkbox-custom ">
                                    <input type="checkbox" data-name="Enableadjustapprovedallocations" ng-model="CheckEnableadjustapprovedallocations" id="CheckEnableadjustapprovedallocations" ng-click="getFFDataByStatus('Enableadjustapprovedallocations',$event)" class="ng-pristine ng-valid" />
                                    <i class="checkbox" ng-class="{'checkbox checked':CheckEnableadjustapprovedallocations ,'checkbox':!CheckEnableadjustapprovedallocations}"></i>
                                </label>
                            </span>
                        </div>
                        </div>
                        <div class="box-footer"></div>
                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="currencyTypeFFSettingsModal" style="display: none;">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h3 id="myModalLabel">{{'LanguageContents.Res_632.Caption'|translate}}</h3>
                            </div>
                            <div class="modal-body">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label" for="currencyTypeName">{{'LanguageContents.Res_1.Caption'|translate}}</label>
                                            <div class="controls">
                                                <select ui-select2 ng-model="DefaultCurrencySelected" ng-click="SetDefaultCurrencyValues()" data-placeholder="--Select--">
                                                    <option ng-repeat="item in DefaultCurrency" value="{{item}}">{{item.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="currencyTypeName">{{'LanguageContents.Res_1.Caption'|translate}}</label>
                                            <div class="controls">
                                                <input type="text" ng-model="currencyTypeName" id="currencyTypeName" name="currencyTypeName" ng-class="{error:myModalLabel.Priority.$invalid}" placeholder="Name" required>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="currencyTypeShorttext">{{'LanguageContents.Res_630.Caption'|translate}}</label>
                                                <div class="controls">
                                                    <input type="text" ng-model="currencyTypeShorttext" id="currencyTypeShorttext" name="currencyTypeShorttext" placeholder="Short text" required>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="currencyTypeSymbol">{{'LanguageContents.Res_631.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <input type="text" ng-model="currencyTypeSymbol" id="currencyTypeSymbol" name="currencyTypeSymbol" placeholder="Symbol">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button ng-show="showSave" ng-click="SaveCurrencyTypeFFSettings()" ng-model="SaveCurrencyTypeFFSettings" class="btn btn-small btn-primary" ng-disabled="itemform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                                            <button ng-show="showUpdate" ng-click="UpdateCurrencyTypeFFSettings()" ng-model="SaveCurrencyTypeFFSettings" class="btn btn-small btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
                                            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_7.Caption'|translate}}</button>
                                        </div>
                                    </div>
                                    <div class="box-content-margin">
                                        <form class="form-horizontal nomargin" name="Mainhorizontalform">
                                            <div class="ng-scope">
                                                <h5>{{'LanguageContents.Res_1713.Caption'|translate}}</h5>
                                            </div>
                                            <div id="" class="row-fluid">
                                                <table class="table table-bordered table-striped width4x">
                                                    <tr class="nodrag nodrop" id="{{item.id}}">
                                                        <th style="display: none">{{'LanguageContents.Res_69.Caption'|translate}}</th>
                                                        <th>
                                                            <span>{{'LanguageContents.Res_1.Caption'|translate}}</span>
                                                        </th>
                                                        <th>
                                                            <span>{{'LanguageContents.Res_630.Caption'|translate}}</span>
                                                        </th>
                                                        <th>
                                                            <span>{{'LanguageContents.Res_631.Caption'|translate}}</span>
                                                        </th>
                                                        <th>
                                                            <span></span>
                                                        </th>
                                                        <th>
                                                            <span></span>
                                                        </th>
                                                    </tr>
                                                    <tr ng-repeat=" item in currencyTypeResponse" id="currency_{{item.id}}">
                                                        <th style="display: none">{{item.id}}</th>
                                                        <td>{{item.Name}}</td>
                                                        <td>{{item.ShortName}}</td>
                                                        <td>{{item.Symbol}}</td>
                                                        <td class="colEdit">
                                                            <a class="iconLink" href="javascript:void(0)" ng-click="EditCurrencyTypeList(item)">
                                                                <i class='icon-edit'></i>
                                                            </a>
                                                        </td>
                                                        <td class="colDelete">
                                                            <a class="iconLink" ng-click="DeleteCurrencyTypeList(item)">
                                                                <i class='icon-remove'></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="box-content-margin">
                                        <form class="form-horizontal" name="AdminSettingform">
                                            <div class="row-fluid">
                                                <div class="span7">
                                                    <div class="control-group">
                                                        <label class="control-label width2x" for="ddlDateFormat">{{'LanguageContents.Res_4081.Caption'|translate}}</label>
                                                        <div class="controls">
                                                            <select ui-select2 id="ddlcurrencyformat" ng-model="CurrencyFormat" data-placeholder="Select Date format">
                                                                <option ng-repeat="item in CurrencyFormatsList" value="{{item.ID}}">{{item.Name}}</option>
                                                            </select>
                                                            <button ng-click="UpdateFormat('CurrencyFormat')" class="btn btn-small btn-primary margin-left5x">{{'LanguageContents.Res_4741.Caption'|translate}}</button>
                                                        </div>
                                                        <span class="info nomargin">({{'LanguageContents.Res_542.Caption'|translate}})</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="box-footer align-right">
                                    <a href="javascript:void(0)" ng-click="openCurrencyTypeFFSettings()" class="btn btn-small btn-primary ng-binding">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
