﻿<div class="row-fluid" ng-controller="mui.admin.financialreportsettings">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4 class="ng-binding">{{'LanguageContents.Res_1797.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="row-fluid">
                            <div class="span4">
                                <h4>{{'LanguageContents.Res_4466.Caption'|translate}}</h4>
                                <table ng-show="FinancialReportSettings.length > 0" class="table table-normal-both" id="financialReportSettings">
                                    <tbody>
                                        <tr ng-repeat="report in FinancialReportSettings">
                                            <td><a class="iconLink" ng-click="GetFinancialReportBlock(report)"><i class="icon-edit"></i></a></td>
                                            <td><span>{{DecodedTextName(report.ReportSettingsName)}}</span></td>
                                            <td><span><i ng-click="DeleteReportById(report.ID)" class="icon-remove"></i></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-show="FinancialReportSettings.length == 0"><span>{{'LanguageContents.Res_4518.Caption'|translate}}</span></div>
                                <br />
                                <div class="text-right addchart">
                                    <button ng-click="AddNewReport()" class="btn btn-primary">{{'LanguageContents.Res_4056.Caption'|translate}}</button></div>
                            </div>
                            <div class="span7 offset1" ng-show="reportJSONObject.root.block.length > 0">
                                <h4>{{FinancialFotrecastObj.ReportAction}}</h4>
                                <form class="form-horizontal form-report">
                                    <div class="control-group">
                                        <label class="control-label">
                                            {{'LanguageContents.Res_4688.Caption'|translate}}
                                        </label>
                                        <div class="controls">
                                            <input id="reportCaption" type="text" ng-model="reportJSONObject.root.caption" placeholder="Report name"></div>
                                        <br />
                                        <label class="control-label">{{'LanguageContents.Res_4687.Caption'|translate}}</label><div class="controls">
                                            <img class="noPreview" ng-src="{{reportPreviewImg}}{{FinancialFotrecastObj.imageurl}}"><br />
                                            <button data-toggle="modal" ng-click="UploadImagefile()" ng-model="UploadImage" class="btn btn-small btn-primary margin-top5x">{{'LanguageContents.Res_4877.Caption'|translate}}</button></div>
                                        <br />
                                        <label class="control-label">{{'LanguageContents.Res_4685.Caption'|translate}}</label><div class="controls">
                                            <textarea class="small-textarea" name="reportdescription" ng-model="FinancialFotrecastObj.description" id="reportdescription" rows="3"></textarea></div>
                                    </div>
                                    <ul class="block" reportblocksort>
                                        <li id="{{blocks.uuid}}" ng-repeat="blocks in reportJSONObject.root.block">
                                            <div class="closebtn">
                                                <button ng-click="deleteblock(blocks,reportJSONObject.root.block)" class="close" type="button">×</button></div>
                                            <div class="control-group">
                                                <label class="control-label">{{'LanguageContents.Res_4128.Caption'|translate}}</label><div class="controls">
                                                    <input type="text" ng-model="blocks.caption" placeholder="Block Name"></div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">{{'LanguageContents.Res_4129.Caption'|translate}}</label><div class="controls">
                                                    <select ui-select2 ng-change="changeBlockColumns(blocks.Type,blocks.columns,blocks)"
                                                        ng-model="blocks.Type">
                                                        <option value="">{{'LanguageContents.Res_4734.Caption'|translate}}</option>
                                                        <option ng-repeat="item in blocktypes" value="{{item.ID}}">{{item.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">{{'LanguageContents.Res_42.Caption'|translate}}</label><div ng-switch="blocks.Type==1">
                                                    <div class="controls" ng-switch-when="true">
                                                        <select multiple ui-select2 ng-model="blocks.EntityType" ng-change="UpdateAttributeRelation(blocks.uuid,blocks.EntityType)" data-placeholder="Select type">
                                                            <option ng-repeat="item in entitytyesource" value="{{item.EntityTypeID}}">{{item.EntityTypeCaption}}</option>
                                                        </select></div>
                                                    <div class="controls" ng-switch-default>
                                                        <select multiple ui-select2 ng-model="blocks.EntityType" ng-change="UpdateAttributeRelation(blocks.uuid,blocks.EntityType)" data-placeholder="Select type">
                                                            <option ng-repeat="item in entitytyesource" value="{{item.EntityTypeID}}">{{item.EntityTypeCaption}}</option>
                                                        </select></div>
                                                </div>
                                            </div>
                                            <div ng-show="blocks.Type=='2'" class="control-group">
                                                <label class="control-label">{{'LanguageContents.Res_587.Caption'|translate}}</label><div class="controls">
                                                    <select ui-select2 data-placeholder="Select type" ng-model="blocks.AttributeID">
                                                        <option ng-repeat="item in getOptions(blocks.uuid) track by $index" value="{{item.strAttributeID}}">{{item.AttributeCaption}}</option>
                                                    </select></div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">{{'LanguageContents.Res_4167.Caption'|translate}}</label><div ng-switch="blocks.Type">
                                                    <div class="controls" ng-switch-default>
                                                        <div class="multiCheckBox">
                                                            <ul class="nav nav-pills nav-stacked" ng-repeat="columns in blocks.columns" ng-show="blocks.Type!='3'" reportblocksort>
                                                                <li class="active" ng-repeat="column in columns.column"><a href="JavaScript: void(0);">
                                                                    <label class="checkbox checkbox-custom pull-left">
                                                                        <input id="Checkbox1" ng-click="RemoveCheckColumnSelection(column,$event,blocks.charts)" ng-checked="column.isselected=='1'" type="checkbox"><i class="checkbox" ng-class="{'checkbox checked': column.isselected=='1', 'checkbox': column.isselected=='0'}"></i></label><input type="text" ng-model="column.caption" placeholder="{{column.caption}}" class="input-medium"></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="controls" ng-switch-when="2">
                                                        <div class="multiCheckBox">
                                                            <ul class="nav nav-pills nav-stacked" ng-repeat="columns in blocks.columns" ng-show="blocks.Type!='3'" reportblocksort>
                                                                <li class="active" ng-repeat="column in columns.column"><a href="JavaScript: void(0);">
                                                                    <label class="checkbox checkbox-custom pull-left">
                                                                        <input id="Checkbox2" ng-click="RemoveCheckColumnSelection(column,$event,blocks.charts)" ng-checked="column.isselected=='1'" type="checkbox"><i class="checkbox" ng-class="{'checkbox checked': column.isselected=='1', 'checkbox': column.isselected=='0'}"></i></label><input type="text" ng-model="column.caption" placeholder="{{column.caption}}" class="input-medium"></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="controls" ng-switch-when="3">
                                                        <div class="multiCheckBox">
                                                            <div class="nav nav-pills nav-stacked" id="Ul2" ng-repeat="columns in blocks.columns">
                                                                <ul class="nav nav-pills nav-stacked" detailblockcolumns columncontent="blocks" blockstaticcolumn="Detailwisecolumns" blocktype="blocks.Type" blockentitytype="blocks.EntityType" blockentitytyperelation="attributesource" columnvalue="columns" reportblocksort></ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="chartblock" ng-show="blocks.Type!='3'" ng-repeat="charts in blocks.charts" reportblocksort>
                                                <li ng-repeat="chart in charts.chart">
                                                    <div class="closebtn">
                                                        <button ng-click="deletechartblock(chart,charts.chart)" class="close" type="button">×</button></div>
                                                    <div class="control-group">
                                                        <label class="control-label">{{'LanguageContents.Res_4154.Caption'|translate}}</label><div class="controls">
                                                            <select ui-select2 ng-model="chart.chartType">
                                                                <option value="1">{{'LanguageContents.Res_4167.Caption'|translate}}</option>
                                                                <option value="2">{{'LanguageContents.Res_4124.Caption'|translate}}</option>
                                                                <option value="3">{{'LanguageContents.Res_4558.Caption'|translate}}</option>
                                                            </select></div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">{{'LanguageContents.Res_4167.Caption'|translate}}</label><div ng-switch="blocks.Type!=2">
                                                            <div class="controls" ng-switch-when="true">
                                                                <div>
                                                                    <div class="nav nav-pills nav-stacked" ng-repeat="columns in blocks.columns">
                                                                        <div class="active">
                                                                            <select multiple ui-select2 ng-model="chart.columns" data-placeholder="Select type">
                                                                                <option ng-repeat="item in columns.column | filter:{isselected:'1'} | filter:idFilter" value="{{item.id}}" ng-selected="{{item.id == chart.columns}}">{{item.caption}}</option>
                                                                            </select></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="controls" ng-switch-default>
                                                                <div ng-switch="chart.chartType">
                                                                    <div ng-switch-when="3">
                                                                        <div class="nav nav-pills nav-stacked" ng-repeat="columns in blocks.columns">
                                                                            <div class="active">
                                                                                <select ng-change="showDialog(chart.columns)" ui-select2 ng-model="chart.columns" data-placeholder="Select type">
                                                                                    <option ng-repeat="item in columns.column | filter:{isselected:'1'} | filter:idFilter" value="{{item.id}}" ng-selected="{{item.id == chart.columns}}">{{item.caption}}</option>
                                                                                </select></div>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-switch-default>
                                                                        <div class="nav nav-pills nav-stacked" ng-repeat="columns in blocks.columns">
                                                                            <div class="active">
                                                                                <select multiple ng-change="showDialog(chart.columns)" ui-select2 ng-model="chart.columns" data-placeholder="Select type">
                                                                                    <option ng-repeat="item in columns.column | filter:{isselected:'1'} | filter:idFilter" value="{{item.id}}" ng-selected="{{item.id == chart.columns}}">{{item.caption}}</option>
                                                                                </select></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="text-right addchart">
                                                <button ng-click="addReportBlockChart(blocks)" ng-show="blocks.Type!='3'" class="btn btn-primary">{{'LanguageContents.Res_4044.Caption'|translate}}</button></div>
                                        </li>
                                    </ul>
                                    <div class="text-right addblock">
                                        <button ng-click="addNewReportBlock()" class="btn btn-primary">{{'LanguageContents.Res_4043.Caption'|translate}}</button></div>
                                </form>
                                <div class="text-right addblock">
                                    <button ng-click="updateReportBlock()" class="btn btn-primary">{{'LanguageContents.Res_4714.Caption'|translate}}</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="imgCropper">
        <div class="displayNone">
            <div id="financialsettingsfilescontainer">
                <button id="financialsettingspickfiles" type="submit"></button>
                <div id="financialsettingsuploadprogress" class="progress progress-striped active">
                    <div class="bar"></div>
                    <div id="financialsettingsbarText">10%</div>
                </div>
            </div>
            <div id="financialsettingsReportImage" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display:none;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button></div>
                <div class="modal-body">
                    <div class="imgCropperPopup">
                        <div class="imgDiv nomargin">
                            <img src="" id="financialsettingsCropReportImg" /></div>
                    </div>
                </div>
                <div class="modal-footer"><a class="btn btn-small btn-primary" data-dismiss="modal" ng-click="UploadReportImage();" href="JavaScript:void(0);">{{'LanguageContents.Res_15.Caption'|translate}}</a><a aria-hidden="true" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</a></div>
            </div>
        </div>
    </div>
</div>
