﻿<div ng-controller="mui.admin.financialviewctrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_5701.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="draggableTable">
                        <div class="FilterPanel">
                            <div class="fP_right">
                                <span class="btnPane">
                                    <button type="button" my-qtip2 qtip-content="Add New" class="btn btn-small btn-primary" data-target="#AddFinancialViewsdata" href="javascript:void(0)" ng-click="ActionHandler.addFinancialView()">
                                        <i class="icon-plus-sign"></i>{{'LanguageContents.Res_8.Caption'|translate}}
                                    </button>
                                    <button type="button" my-qtip2 qtip-content="Delete" class="btn btn-small btn-danger" id="DeleteFinancialViews" ng-click="ActionHandler.DeleteFinancialViews()">
                                        <i class="icon-remove"></i>{{'LanguageContents.Res_18.Caption'|translate}}
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="dT_Table">
                            <table id="financialmetadatalist">
                                <thead>
                                    <tr>
                                        <th class="chkbx">
                                            <label class="checkbox checkbox-custom" ng-hide="true">
                                                <input type="checkbox" id="FinMetadataDelete"><i class="checkbox"></i></label></th>
                                        <th class="prime"><span>{{'LanguageContents.Res_44.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_5702.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_5703.Caption'|translate}}</span></th>
                                        <th ng-show="(FinType == 2)"><span>{{tooltipColumnHeading}}</span></th>
                                        <th class="actionBtn"><span></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in financialViewData.list" class="findchkbox">
                                        <td class="chkbx" data-id="{{item.ID}}">
                                            <label class="checkbox checkbox-custom">
                                                <input type="checkbox" ng-click="item.IsChecked=!item.IsChecked">
                                                <i class="checkbox"></i>
                                            </label>
                                        </td>
                                        <td class="prime"><span>{{item.Caption}}</span></td>
                                        <td class="chkbx col10p">
                                            <label class="checkbox  checkbox-custom">
                                                <input type="checkbox" ng-click="item.IsDefault=!item.IsDefault;ActionHandler.selectDefault(item);" />
                                                <i ng-class="{'checkbox':!item.IsDefault, 'checkbox checked':item.IsDefault}"></i>
                                            </label>
                                        </td>

                                        <td class="chkbx col10p">
                                            <label class="checkbox checkbox-custom">
                                                <input type="checkbox" ng-click="ActionHandler.updateIsSelectable(item,$event)" />
                                                <i ng-class="{'checkbox':!item.IsSelectable, 'checkbox checked':item.IsSelectable}"></i>
                                            </label>
                                        </td>
                                        <td class="actionBtn"><span><span class="actBtn_Unbordered edit" my-qtip2 qtip-content="Edit">
                                            <i class="icon-pencil" ng-click="ActionHandler.EditFinancialView(item)" data-target="#AddFinancialViewsdata" data-toggle="modal"></i></span></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button type="submit" ng-click="ActionHandler.updatefinanacialviews()" id="updatefinancialviews" class="btn btn-small btn-primary ng-binding">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="850px" role="dialog" tabindex="-1" class="modal" id="AddFinancialViewsdata" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3 id="H2">{{'LanguageContents.Res_5706.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="divAddFinancialViews">
            <div class="box-content">
                <div class="draggableTable">
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label text-label">{{'LanguageContents.Res_5709.Caption'|translate}}:</label>
                            <div class="controls">
                                <input type="text" ng-model="financialViewData.viewname" />
                            </div>
                        </div>
                    </div>
                    <div class="dT_Table">
                        <table id="financialhelptextlist">
                            <thead>
                                <tr>
                                    <th class="prime"></th>
                                    <th><span>{{'LanguageContents.Res_5707.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_5708.Caption'|translate}}</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in financialViewData.financialviewSrc" class="findchkbox">
                                    <td class="chkbx col10p">
                                        <label class="checkbox checkbox-custom">
                                            <input ng-click="item.IsChecked=!item.IsChecked" type="checkbox" />
                                            <i ng-class="{'checkbox checked':item.IsChecked,'checkbox':!item.IsChecked}"></i>
                                        </label>
                                    </td>
                                    <td class="prime"><span>{{item.Caption}}</span></td>
                                    <td class="width4x">
                                        <textarea type="text" class="oneline-textarea width3halfx nomargin" ng-model="item.Alias"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="ActionHandler.addFinancialViewwithColumns()" id="addFinancialViewwithColumns" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
        </div>
    </div>
</div>
