﻿<div class="row-fluid" ng-controller="mui.admin.ganttviewsettingsCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_571.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <div class="row-fluid">
                                <div class="controls nomargin">
                                    <select ui-select2 ng-model="entitytype" id="EntityType" data-placeholder="Select EntityType" ng-change="loadattributes()">
                                        <option value="0">{{'LanguageContents.Res_63.Caption'|translate}}</option>
                                        <option value="6">{{'LanguageContents.Res_574.Caption'|translate}}</option>
                                        <option value="5">{{'LanguageContents.Res_254.Caption'|translate}}</option>
                                        <option value="10">{{'LanguageContents.Res_4535.Caption'|translate}}</option>
                                    </select></div>
                            </div>
                            <br />
                            <br />
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="listSettingsHeader">
                                        <h5>{{'LanguageContents.Res_575.Caption'|translate}}</h5>
                                        <input type="text" placeholder="Filter" class="pull-right" ng-model="filterOptions.filterText" ng-change="FilterAvailableAttrs()" /></div>
                                    <div class="draggableContainer">
                                        <ul id="sortableAttribute1" class="nav nav-pills nav-stacked connectedAttributeSortable"></ul>
                                    </div>
                                </div>
                                <div class="span4">
                                    <h5>{{'LanguageContents.Res_576.Caption'|translate}}</h5>
                                    <div class="draggableContainer">
                                        <ul id="sortableAttribute2" class="nav nav-pills nav-stacked connectedAttributeSortable"></ul>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div>
                                {{'LanguageContents.Res_4444.Caption'|translate}}
                                <input class="nomargin" type="checkbox" ng-model="IsParentName" id="IsParentName">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button type="submit" ng-click="save()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button></div>
            </div>
        </div>
    </div>
</div>
