﻿<div class="row-fluid" ng-controller="mui.admin.ganttviewheaderbarCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4422.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="horizontalform">
                            <div id="GanttviewHeaderDisplay">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_4765.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_4237.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_597.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr ng-repeat="CurrentData in GanttHeaderList">
                                        <td><span>{{CurrentData.Name}}</span></td>
                                        <td><span ng-bind="CustomDateFormat(CurrentData.Startdate)"></span></td>
                                        <td><span ng-bind="CustomDateFormat(CurrentData.EndDate)"></span></td>
                                        <td><span>{{CurrentData.ColorCode}}</span></td>
                                        <td><span>{{CurrentData.Description}}</span></td>
                                        <td class="colEdit">
                                            <a class="iconLink" href="javascript:void(0);" ng-click="GetGanttHeaderByIndex($index)" ><i class="icon-edit"></i>
                                            </a>
                                        </td>
                                        <td class="colDelete">
                                            <a class="iconLink" data-toggle="modal" ng-click="DeleteGanttHeaderByID($index,CurrentData.Id)" data-toggle="modal"><i class="icon-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <a class="btn btn-small btn-primary" ng-click="OpenGanttHeaderBar()" href="javascript:void(0);" >{{'LanguageContents.Res_8.Caption'|translate}}</a></div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="GanttHeadermodal" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="myModalLabel">{{ScreenText}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="GanttHeadername">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="GanttHeadername" id="GanttHeadername" placeholder="Name" required /></div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="GanttStartrange">{{'LanguageContents.Res_802.Caption'|translate}}</label><div class="controls input-append">
                                    <input type="text" class="sdatePickerTbx" ng-model="GanttStartDate" id="GanttStartDate" required="StartDate" placeholder="--StartDate--" value="" ng-click="Calanderopen($event,calanderopened)" datepicker-popup="{{format}}" is-open="calanderopened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close">
                                    <button type="button" class="btn" ng-click="Calanderopen($event,calanderopened)" data-toggle="datepicker">
                                        <i class="icon-calendar"></i></button>
                                </div>
                                <div class="controls input-append">
                                    <input type="text" class="edatePickerTbx" ng-model="GanttEndDate" id="GanttEndDate" required="EndDate" placeholder="--EndDate--" value="" ng-click="dynCalanderopen($event,GanttEndDate1)" datepicker-popup="{{format}}" is-open="GanttEndDate1" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close">
                                    <button type="button" class="btn" ng-click="dynCalanderopen($event,GanttEndDate1)" data-toggle="datepicker">
                                        <i class="icon-calendar"></i></button>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Colourcode">{{'LanguageContents.Res_597.Caption'|translate}}</label><div class="controls colorPickerContainer">
                                    <input type="text" maxlength="6" name="colorcode" ng-model="ColorCodeGlobalObj.colorcode" id="Text1" required>
                                    <uicolorpicker ng-model="ColorCodeGlobalObj.colorcode" options="ColorOptions"></uicolorpicker></div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="GanttHeadergdesc">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                    <textarea class="small-textarea" ng-model="GanttHeadergdesc" id="GanttHeadergdesc" placeholder="Description"></textarea></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="addGanttHeader(CurrentGanttHeaderID)" ng-model="buttonText" class="btn btn-small btn-primary">{{buttonText}}</button>
                    <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button></div>
            </div>
        </div>
    </div>
</div>
