﻿<div class="row-fluid" ng-controller="mui.admin.ganttviewreportCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4194.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <br />
                            <div class="row-fluid">
                                <div class="span4">
                                    <h5>{{'LanguageContents.Res_575.Caption'|translate}}</h5>
                                    <div class="draggableContainer">
                                        <ul id="sortableAttribute1" class="nav nav-pills nav-stacked connectedAttributeSortable"></ul>
                                    </div>
                                </div>
                                <div class="span4">
                                    <h5>{{'LanguageContents.Res_576.Caption'|translate}}</h5>
                                    <div class="draggableContainer">
                                        <ul id="sortableAttribute2" class="nav nav-pills nav-stacked connectedAttributeSortable"></ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button type="submit" ng-click="save()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button></div>
            </div>
        </div>
    </div>
</div>
