﻿<div ng-controller="mui.admin.languagesettingsCntrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_544.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <div class="ListHeader row-fluid">
                                <div class="span2 padding-left20x">{{'LanguageContents.Res_1.Caption'|translate}}</div>
                                <div class="span5"><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></div>
                                <div class="span2"><span>{{'LanguageContents.Res_31.Caption'|translate}}</span></div>
                                <div class="span3">{{'LanguageContents.Res_545.Caption'|translate}}</div>
                            </div>
                            <ul class="ListHolder">
                                <li>
                                    <ul>
                                        <li ng-class="{'ListItem':item.IsDefaultLanguage == 0, 'ListItem current':item.IsDefaultLanguage == 1}" ng-repeat="item in myDatatobind">
                                            <div class="row-fluid">
                                                <div class="span2">
                                                    {{item.Name}}
                                                </div>
                                                <div class="span5"><span>{{item.Description}}</span></div>
                                                <div class="span2"><span>{{item.AddedOn}}</span></div>
                                                <div class="span3">
                                                    {{item.PendingTranslation}}
                                                    <a class="btn btn-small btn-primary pull-right" ng-click="EditLanguage(item)">{{item.ID == 1 && 'View' || 'View / Edit'}}</a>
                                                    <button class="btn btn-small btn-success pull-right" ng-hide="item.IsDefaultLanguage == 1" ng-click="SetDefaultLanguage(item)">{{'LanguageContents.Res_549.Caption'|translate}}</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="box-footer text-right"><a class="btn btn-small btn-primary" ng-click="addNewLanguage()" href="javascript:void(0);">{{'LanguageContents.Res_551.Caption'|translate}}</a></div>
            </div>
            <div data-width="450" aria-hidden="true" aria-labelledby="myModalLab el1" role="dialog" tabindex="-1" class="modal" id="addlanguageModal" style="display: none;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h3>{{'LanguageContents.Res_641.Caption'|translate}}</h3>
                </div>
                <div class="modal-body">
                    <div class="slide-frame">
                        <div>
                            <form class="form-float">
                                <div class="control-group span3 margin-left0x">
                                    <label class="control-label" for="ddllanguagetype">{{'LanguageContents.Res_552.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 ng-model="languagetype" id="ddllanguagetype">
                                            <option ng-repeat="item in myData" value="{{item.ID}}">{{item.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group span3 margin-left0x">
                                    <label class="control-label" for="Name">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                                        <input type="text" name="Name" ng-model="Name" id="Name">
                                    </div>
                                </div>
                                <div class="control-group span3 margin-left0x">
                                    <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                        <textarea class="small-textarea" ng-model="Description" id="Description" rows="3" placeholder="Description"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="Insertnewanguage()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <a class="btn btn-small" ng-click="closepopup()">{{'LanguageContents.Res_14.Caption'|translate}}</a>
                </div>
            </div>
            <div data-width="950px" aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal modal-overflow in" id="editlanguageModal" style="display: none;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <div id="dynamicName"></div>
                </div>
                <div class="modal-body">
                    <div class="languageFilter">
                        <form class="form-search ng-pristine ng-valid">
                            <select ui-select2 ng-model="editlanguagetype" id="editlanguagetype" ng-change="changelanguagetype(editlanguagetype);">
                                <option ng-repeat="item in myDatatobind" value="{{item.ID}}">{{item.Name}}</option>
                            </select><div class="input-append searchElement">
                                <input type="text" id="OnSearch" class="span2" ng-model="namesearch" placeholder="Filter Keyword"><i class="icon-remove-circle" ng-click="clearlangsearch()"></i>
                                <button type="submit" class="btn" ng-click="startquicksearch()">{{'LanguageContents.Res_642.Caption'|translate}}</button>
                            </div>
                            <div class="fileupload fileupload-new pull-right " data-provides="fileupload">
                                <a class="customIcon btn mini margin-top2x fileupload-new" id="pickexports" ng-click="Import()" my-qtip2 qtip-content="Import" data-toggle="modal"><span class="baseIcon fileupload-new"><i class="icon-file-text-alt fileupload-new"></i></span><span class="foreIcon fileupload-new" id="pickfiles" href="#"><i class="icon-double-angle-down fileupload-new"></i></span></a><a class="customIcon btn mini margin-right10x margin-top2x" href="#ExportInProgress" ng-click="Export()" my-qtip2 qtip-content="Export" data-toggle="modal"><span class="baseIcon"><i class="icon-file-text-alt"></i></span><span class="foreIcon"><i class="icon-double-angle-up"></i></span></a>
                            </div>
                        </form>
                    </div>
                    <div id="Dynamic_Controls">
                        <div class="languageDesc-Header ng-scope">
                            <table class="table table-striped table-language">
                                <colgroup>
                                    <col class="width3x">
                                    <col>
                                    <col class="width1x">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th><a href="#">Caption</a></th>
                                        <th><a href="#">System description</a></th>
                                        <th><a href="#">Created on</a></th>
                                        <th class="nowidth"></th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="languageDesc-Content" when-scrolled="loadMore()">
                                <table class="table table-striped table-language">
                                    <colgroup>
                                        <col class="width3x border-right1x">
                                        <col class="border-right1x">
                                        <col class="width1x border-right1x">
                                    </colgroup>
                                    <tbody>
                                        <tr ng-repeat="Res in Languages | orderBy: Res.Caption | limitTo:totalDisplayed">
                                            <td>
                                                <input ng-show="LangEditID != 1" type="text" value="{{ DecodedLanguage(Res.Caption) }}" ng-model="LanguageContentsResources[Res.id]"><span ng-show="LangEditID == 1">{{ DecodedLanguage(Res.Caption) }}</span></td>
                                            <td>{{DecodedLanguage(Res.Description)}}
                                            </td>
                                            <td>{{Res.LastUpdated}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-small" ng-click="closeeditpopup()">{{'LanguageContents.Res_14.Caption'|translate}}</a>
                    <input ng-show="LangEditID != 1" type="button" ng-click="Insertupdatelanguagecontent()" value="save">
                </div>
            </div>
            <div id="langcontentloadingmodel" class="modal operationInProgressModal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
                <div aria-labelledby="myModalLabel" id="Div2">
                    <div class="modal-header">
                        <h2>Language content list</h2>
                    </div>
                    <div class="modal-body">
                        <div class="msgContainer">
                            <span class="bgIcon"></span>
                            <div id="Span1" class="mssg">
                                <div class="mssgHeader">
                                    <span class="headerIcon">
                                        <img src="assets/img/loading.gif" alt="loadingImg" /></span><span class="headerMsg">Loading...</span>
                                </div>
                                <div class="mssgContent"><span class="descMsg">{{'LanguageContents.Res_4851.Caption'|translate}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ExportTasklistReportPageModel" class="modal operationInProgressModal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
                <div aria-labelledby="myModalLabel" id="Div4">
                    <div class="modal-header">
                        <h2>Exporting language settings</h2>
                    </div>
                    <div class="modal-body">
                        <div class="msgContainer">
                            <span class="bgIcon"></span>
                            <div id="Span2" class="mssg">
                                <div class="mssgHeader">
                                    <span class="headerIcon">
                                        <img src="assets/img/loading.gif" alt="loadingImg" /></span><span class="headerMsg">{{'LanguageContents.Res_4430.Caption'|translate}}...</span>
                                </div>
                                <div class="mssgContent"><span class="descMsg">{{'LanguageContents.Res_4851.Caption'|translate}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ImportTasklistReportPageModel" class="modal operationInProgressModal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
                <div aria-labelledby="myModalLabel" id="Div6">
                    <div class="modal-header">
                        <h2>Import langauge settings</h2>
                    </div>
                    <div class="modal-body">
                        <div class="msgContainer">
                            <span class="bgIcon"></span>
                            <div id="Span3" class="mssg">
                                <div class="mssgHeader">
                                    <span class="headerIcon">
                                        <img src="assets/img/loading.gif" alt="loadingImg" /></span><span class="headerMsg">{{'LanguageContents.Res_4430.Caption'|translate}}...</span>
                                </div>
                                <div class="mssgContent"><span class="descMsg">{{'LanguageContents.Res_4851.Caption'|translate}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
