﻿<div class="row-fluid" ng-controller="mui.admin.LayouttabsettingsCntrl">
    <div class="span12">
        <div class="AdminMargin" id="tabLayoutSettings">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4461.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <div class="row-fluid">
                                <div class="controls nomargin ">
                                    <select ui-select2 ng-model="layout" id="layouts" data-placeholder="Select Tab">
                                        <option id="1" value="1">{{'LanguageContents.Res_4732.Caption'|translate}}</option>
                                        <option value="0">Overview</option>
                                        <option value="6">Financial</option>
                                        <option value="5">{{'LanguageContents.Res_4535.Caption'|translate}}</option>
                                    </select>
                                </div>
                                <br />
                                <div id="LayoutOverview" hidden="hidden">
                                    <div class="tabLayout-RowBlock">
                                        <div class="tl-rowBlockHeader">
                                            <select ui-select2 ng-model="a" id="ColumnLayout">
                                                <option value="1">1 Column layout</option>
                                                <option value="2">2 Column layout</option>
                                                <option value="3">3 Column layout</option>
                                            </select><div class="tl-rh-btnPane" id="dynDiv">
                                                <button class="btn btn-small btn-primary btnaddcls" id="btnadd">Add New Row</button>
                                            </div>
                                        </div>
                                        <div class="tl-rowBlockContent row-fluid">
                                            <div class="span4" id="FirstDiv">
                                                <div class="controls nomargin">
                                                    <select ui-select2 ng-model="spanvaluesOne" id="column1" data-placeholder="Select layouts" class="widthcent">
                                                        <option id="4" value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                                <div class="listSettingsHeader">
                                                    <h5 class="widthcent">{{'LanguageContents.Res_575.Caption'|translate}}</h5>
                                                </div>
                                                <div class="draggableContainer">
                                                    <ul id="sortableAttribute1" class="nav nav-pills nav-stacked connectedAttributeSortable"></ul>
                                                </div>
                                            </div>
                                            <div class="span4" id="SecDiv">
                                                <div class="controls nomargin">
                                                    <select ui-select2 ng-model="spanvaluesTwo" id="column2" data-placeholder="Select layouts" class="widthcent">
                                                        <option id="sec4" value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                                <h5 class="widthcent">{{'LanguageContents.Res_576.Caption'|translate}}</h5>
                                                <div class="draggableContainer">
                                                    <ul id="sortableAttribute2" class="nav nav-pills nav-stacked connectedAttributeSortable"></ul>
                                                </div>
                                            </div>
                                            <div class="span4" id="ThridDiv">
                                                <div class="controls nomargin">
                                                    <select ui-select2 id="column3" ng-model="spanvaluesThree" data-placeholder="Select layouts" class="widthcent">
                                                        <option id="third4" value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                                <h5 class="widthcent">{{'LanguageContents.Res_576.Caption'|translate}}</h5>
                                                <div class="draggableContainer">
                                                    <ul id="sortableAttribute3" class="nav nav-pills nav-stacked connectedAttributeSortable"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="dynamicDivOne" hidden="hidden" class="tabLayout-RowBlock">
                                        <div class="tl-rowBlockHeader">
                                            <select ui-select2 ng-model="DynSelColumn" id="DFirst" class="DynSelect">
                                                <option value="1">1 Column layout</option>
                                                <option value="2">2 Column layout</option>
                                                <option value="3">3 Column layout</option>
                                            </select><div class="tl-rh-btnPane" id="Div1">
                                                <button id="FirstDynRowAddBtn" class="btn btn-small btn-primary">Add New Row</button>
                                                <button class="btn btn-small btn-danger" id="FirstDynRowRemoveBtn" ng-click="FirstRemove()">{{'LanguageContents.Res_4683.Caption'|translate}}</button>
                                            </div>
                                        </div>
                                        <div class="tl-rowBlockContent row-fluid" id="DynamicCount">
                                            <div class="span4" id="row3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="Mainfooter" hidden="hidden" class="box-footer align-right">
                    <button type="submit" ng-click="save()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button type="submit" ng-click="apply()" class="btn btn-small btn-primary">Apply changes</button>
                </div>
            </div>
        </div>
    </div>
</div>


