﻿<div ng-controller="mui.admin.metadataCtrl">
    <div class="row-fluid">
        <div class="span3">
            <div class="containerHeading">
                <h3>{{'LanguageContents.Res_251.Caption'|translate}}</h3>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="well">
                <form class="form-horizontal">
                    <a class="btn btn-primary" ng-click="addEntityType()" href="#entitytypeModal" data-toggle="modal">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                    <div class="gridStyle" ng-grid="gridOptions"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="entitytypeModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="myModalLabel">{{'LanguageContents.Res_42.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="control-group" ng-show="false">
                            <label class="control-label" for="EntityID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                <input type="text" ng-model="EntityID" id="EntityTypeID" placeholder="ID">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                <input type="text" ng-model="EntityTypeCaption" id="Caption" placeholder="Caption">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                <textarea ng-model="EntityTypeDescription" id="Description" rows="3" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ddlModuleID">{{'LanguageContents.Res_562.Caption'|translate}}</label><div class="controls">
                                <select ng-model="ddlModuleID" ng-options="item.ID as item.Caption for item in modules"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="update()" ng-model="UpdateEntityType" ng-show="EnableUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button ng-click="save()" ng-model="AddEntityType" ng-show="EnableAdd" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
