﻿<div class="row-fluid" ng-controller="mui.admin.moduleCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_2132.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal span8">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th><span>{{'LanguageContents.Res_69.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_44.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_563.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_50.Caption'|translate}}</span></th>
                                </tr>
                                <tr ng-repeat="module in myData">
                                    <td><span>{{module.Id}}</span></td>
                                    <td><span>{{module.Caption}}</span></td>
                                    <td><span>{{module.Description}}</span></td>
                                    <td><span>
                                        <a class="iconLink" ng-click="GetEntityTypeByID(module)" href="javascript:void(0)"><i class="icon-edit"></i></a>
                                    </span></td>
                                    <td>
                                        <label class="checkbox" ng-click="updateenable(module)">
                                            <input type="checkbox" ng-checked="module.IsEnable" ng-model="chk_isenable" />
                                            {{module.IsEnable}}
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <div data-width="500" data-height="400" aria-hidden="true" aria-labelledby="myModalLab el1" role="dialog" tabindex="-1" class="modal" id="entitytypeattributerelationModal" style="display: none;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h3>{{'LanguageContents.Res_563.Caption'|translate}}</h3>
                            </div>
                            <div class="modal-body">
                                <div class="manageOverflow">
                                    <div class="row-fluid">
                                        <table class="table table-bordered table-striped">
                                            <tr>
                                                <th><span>{{'LanguageContents.Res_44.Caption'|translate}}</span></th>
                                                <th><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                                <th><span>{{'LanguageContents.Res_50.Caption'|translate}}</span></th>
                                            </tr>
                                            <tr ng-repeat="features in featuresData">
                                                <td><span>{{features.Caption}}</span></td>
                                                <td><span>{{features.Description}}</span></td>
                                                <td>
                                                    <label ng-click="updateenablefeature(features)">
                                                        <input type="checkbox" ng-checked="features.IsEnable" ng-model="chk_isenablefeature" />
                                                        {{module.IsEnable}}
                                                    </label>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal">{{'LanguageContents.Res_14.Caption'|translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
