﻿<div class="row-fluid" ng-controller="mui.admin.navigationCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_509.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="Mainhorizontalform">
                            <table id="MainNavigationTbl" class="table table-bordered table-striped">
                                <tr class="nodrag nodrop" id="{{mainnavig.Id}}">
                                    <th style="display: none">{{'LanguageContents.Res_69.Caption'|translate}}</th>
                                    <th style="display: none">{{'LanguageContents.Res_661.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_44.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_619.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_510.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_22.Caption'|translate}}</th>
                                    <th style="display: none">{{'LanguageContents.Res_665.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_32.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_33.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_51.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_637.Caption'|translate}}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="mainnavig in parentNavigationList" id="{{mainnavig.Id}}">
                                    <th style="display: none">{{mainnavig.Id}}</th>
                                    <td style="display: none">{{mainnavig.Typeid}}</td>
                                    <td>{{mainnavig.Caption}}</td>
                                    <td>{{mainnavig.Url}}</td>
                                    <td class="col-WB">{{mainnavig.ExternalUrl}}</td>
                                    <td>{{mainnavig.Description}}</td>
                                    <td style="display: none">{{mainnavig.IsDefault}}</td>
                                    <td>{{mainnavig.AddUserName}}</td>
                                    <td>{{mainnavig.AddUserEmail}}</td>
                                    <td>{{mainnavig.AddUserID}}</td>
                                    <td>{{mainnavig.AddLanguageCode}}</td>
                                    <td class="colEdit">
                                        <a class="iconLink" href="javascript:void(0);" ng-click="GetMainNavigationById(mainnavig)"><i class="icon-edit"></i></a></td>
                                    <td class="colDelete">
                                        <a class="iconLink" ng-show="!attribs.IsSystemDefined" data-toggle="modal" href="#" ng-click="deleteNavigation(mainnavig)" data-toggle="modal"><i class="icon-remove"></i></a></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right"><a class="btn btn-small btn-primary" ng-click="addModule()" href="javascript:void(0);">{{'LanguageContents.Res_8.Caption'|translate}}</a></div>
            </div>
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_508.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="horizontalform">
                            <table id="SubNavigationTbl" class="table table-bordered table-striped">
                                <tr class="nodrag nodrop" id="{{subnavig.Id}}">
                                    <th style="display: none">{{'LanguageContents.Res_69.Caption'|translate}}</th>
                                    <th style="display: none">{{'LanguageContents.Res_661.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_44.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_619.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_510.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_22.Caption'|translate}}</th>
                                    <th style="display: none">IsDefault</th>
                                    <th>{{'LanguageContents.Res_32.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_33.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_51.Caption'|translate}}</th>
                                    <th>{{'LanguageContents.Res_637.Caption'|translate}}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="subnavig in childNavigationList" id="{{subnavig.Id}}">
                                    <th style="display: none">{{subnavig.Id}}</th>
                                    <td style="display: none">{{subnavig.Typeid}}</td>
                                    <td>{{subnavig.Caption}}</td>
                                    <td>{{subnavig.Url}}</td>
                                    <td class="col-WB">{{subnavig.ExternalUrl}}</td>
                                    <td>{{subnavig.Description}}</td>
                                    <td style="display: none">{{subnavig.IsDefault}}</td>
                                    <td>{{subnavig.AddUserName}}</td>
                                    <td>{{subnavig.AddUserEmail}}</td>
                                    <td>{{subnavig.AddUserID}}</td>
                                    <td>{{subnavig.AddLanguageCode}}</td>
                                    <td class="colEdit">
                                        <a class="iconLink" href="javascript:void(0);" ng-click="GetSubNavigationByID(subnavig)"><i class="icon-edit"></i></a></td>
                                    <td class="colDelete">
                                        <a class="iconLink" ng-show="!attribs.IsSystemDefined" data-toggle="modal" href="#" ng-click="deleteNavigation(subnavig)" data-toggle="modal"><i class="icon-remove"></i></a></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <a class="btn btn-small btn-primary" ng-click="addsubModule()" href="javascript:void(0);">{{'LanguageContents.Res_8.Caption'|translate}}</a></div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal mainNavigationPopup" id="moduleModal" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="myModalLabel">{{'LanguageContents.Res_507.Caption'|translate}}</h3>
                </div>
                <div class="modal-body">
                    <form class="nomargin" id="frmMainNavigation">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group" ng-show="false">
                                    <label class="control-label" for="NavigationID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                        <input type="text" ng-model="NavigationID" id="NavigationID" placeholder="ID">
                                    </div>
                                </div>
                                <div class="control-group" ng-show="false">
                                    <label class="control-label" for="ddlNavigationType">{{'LanguageContents.Res_644.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 ng-model="ddlNavigationType" id="ddlNavigationType" data-placeholder="Select Navigation Type" required>
                                            <option value=""></option>
                                            <option ng-repeat="navtype in navigationtypes" value="{{navtype.FeatureID}}">{{navtype.FeatureName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputCaption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                        <input name="inputCap" ng-model="inputCaption" type="text" id="inputCaption" placeholder="Caption" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ddlModule">{{'LanguageContents.Res_562.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 name="moduleddl" id="ddlModule" ng-model="ddlModule" ng-change="getFeatures()" data-placeholder="Select Module" required>
                                            <option value=""></option>
                                            <option ng-repeat="navmodule in Modules" value="{{navmodule.Id}}">{{navmodule.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Features">{{'LanguageContents.Res_543.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 ng-model="ddlFeature" name="ddlFeature" id="Feature" data-placeholder="Select Feature" required>
                                            <option value=""></option>
                                            <option ng-repeat="item in features" value="{{item.Id}}">{{item.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputDescription">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                        <textarea class="small-textarea" name="description" ng-model="inputDescription" id="inputDescription" rows="3" placeholder="Description" required></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ddlModule">{{'LanguageContents.Res_199.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 name="searchtype" id="searchSelect1" ng-model="ssltype" data-placeholder="Search" required>
                                            <option ng-repeat="options in SearchOptions" value="{{options.id}}">{{options.Lable}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span6 chkbx-grp">
                                <div class="control-group">
                                    <label class="control-label" for="inputRoutes">{{'LanguageContents.Res_619.Caption'|translate}}</label><div class="controls">
                                        <input name="routes" ng-model="inputRoutes" type="text" id="inputRoutes" placeholder="URL" required>
                                    </div>
                                </div>
                                <div class="control-group" ng-show="ddlFeature==17">
                                    <label class="control-label" for="inputExternalurl">{{'LanguageContents.Res_510.Caption'|translate}}</label><div class="controls">
                                        <input ng-model="inputExternalurl" type="text" value="" id="inputExternalurl" placeholder="External Url">
                                    </div>
                                </div>
                                <div class="control-group" ng-show="false">
                                    <label class="checkbox">
                                        <input name="isdefault" ng-model="inlineCheckboxIsDefault" type="checkbox" id="inlineCheckboxIsDefault" placeholder="IsDefault">{{'LanguageContents.Res_47.Caption'|translate}}
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="UserName" ng-model="inlineCheckboxUserName" type="checkbox" id="UserName" placeholder="UserName">{{'LanguageContents.Res_599.Caption'|translate}}
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="UserEmail" ng-model="inlineCheckboxUserEmail" type="checkbox" id="UserEmail" placeholder="UserEmail">{{'LanguageContents.Res_512.Caption'|translate}}
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="AddUserID" ng-model="inlineCheckboxAddUserID" type="checkbox" id="AddUserID" placeholder="AddUserID">{{'LanguageContents.Res_513.Caption'|translate}}
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="AddLanguageCode" ng-model="inlineCheckboxAddLanguageCode" type="checkbox" id="AddLanguageCode" placeholder="AddLanguageCode">{{'LanguageContents.Res_514.Caption'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input style="display: none" type="submit" id="btnTempMainNav" class="ng-scope" invisible><span ng-show="Mainhorizontalform.featureddl.$dirty && Mainhorizontalform.featureddl.$invalid && Mainhorizontalform.featureddl.$error.required"></span><span ng-show="Mainhorizontalform.moduleddl.$dirty && Mainhorizontalform.moduleddl.$invalid && Mainhorizontalform.moduleddl.$error.required"></span><span ng-show="Mainhorizontalform.inputCap.$dirty && Mainhorizontalform.inputCap.$invalid"></span><span ng-show="Mainhorizontalform.description.$dirty && Mainhorizontalform.description.$invalid"></span><span ng-show="Mainhorizontalform.routes.$dirty && Mainhorizontalform.routes.$invalid"></span>
                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="update()" ng-model="UpdateModule" ng-show="EnableUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button ng-click="save()" ng-model="AddModule" ng-show="EnableAdd" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal subNavigationPopup" id="modulesubModal" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="H1">{{'LanguageContents.Res_508.Caption'|translate}}</h3>
                </div>
                <div class="modal-body">
                    <form class="nomargin" id="frmsubNavigation">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group" ng-show="false">
                                    <label class="control-label" for="NavigationID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                        <input type="text" ng-model="NavigationID" id="subNavigationID" placeholder="ID">
                                    </div>
                                </div>
                                <div class="control-group" ng-show="false">
                                    <label class="control-label" for="ddlsubFeature">{{'LanguageContents.Res_517.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 name="feature" ng-model="subddlFeature" data-placeholder="Select Type" required ng-change="subExternal();">
                                            <option value=""></option>
                                            <option ng-repeat="navtype1 in features" value="{{navtype1.FeatureID}}">{{navtype1.FeatureName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputsubCaption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                        <input name="inputsub" ng-model="inputsubCaption" type="text" id="inputsubCaption" placeholder="Caption" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ddlParent">{{'LanguageContents.Res_645.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 name="parent" ng-model="ddlParent" id="ddlParent" data-placeholder="Select ParentID" required>
                                            <option value=""></option>
                                            <option ng-repeat="navparnt in parentNavigationList" value="{{navparnt.Id}}">{{navparnt.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ddlModule">{{'LanguageContents.Res_562.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 name="moudle" ng-model="ddlsubModule" id="ddlsubModule" ng-change="getSubFeatures()" data-placeholder="Select" required>
                                            <option value=""></option>
                                            <option ng-repeat="navmodule1 in Modules" value="{{navmodule1.Id}}">{{navmodule1.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ddlsubFeature">{{'LanguageContents.Res_543.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 ng-model="ddlsubFeature" id="ddlsubFeature" data-placeholder="Select Feature" required>
                                            <option value=""></option>
                                            <option ng-repeat="item in subfeatures" value="{{item.Id}}">{{item.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputDescription">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                        <textarea class="small-textarea" name="description" ng-model="inputsubDescription" id="Textarea1" rows="3" placeholder="Description" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="span6 chkbx-grp">
                                <div class="control-group">
                                    <label class="control-label" for="inputRoutes">{{'LanguageContents.Res_619.Caption'|translate}}</label><div class="controls">
                                        <input name="routes" ng-model="inputSubRoutes" type="text" id="inputSubRoutes" placeholder="URL" required>
                                    </div>
                                </div>
                                <div class="control-group" ng-show="ddlsubFeature==17">
                                    <label class="control-label" for="inputRoutes">{{'LanguageContents.Res_510.Caption'|translate}}</label><div class="controls">
                                        <input ng-model="inputSubExternalurl" type="text" id="inputSubExternalurl" placeholder="External Url">
                                    </div>
                                </div>
                                <div class="control-group" ng-show="false">
                                    <label class="checkbox">
                                        <input name="isdefaultsub" ng-model="inlineCheckboxsubIsDefault" type="checkbox" id="inlineCheckboxsubIsDefault" placeholder="IsDefaultsub">
                                        Default
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="UserName" ng-model="inlineCheckboxsubUserName" type="checkbox" id="Checkbox2" placeholder="UserName">
                                        {{'LanguageContents.Res_599.Caption'|translate}}
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="UserEmail" ng-model="inlineCheckboxsubUserEmail" type="checkbox" id="Checkbox3" placeholder="UserEmail">
                                        {{'LanguageContents.Res_512.Caption'|translate}}
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="AddUserID" ng-model="inlineCheckboxsubAddUserID" type="checkbox" id="Checkbox4" placeholder="AddUserID">
                                        {{'LanguageContents.Res_513.Caption'|translate}}
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="AddLanguageCode" ng-model="inlineCheckboxsubAddLanguageCode" type="checkbox" id="Checkbox5" placeholder="AddLanguageCode">
                                        {{'LanguageContents.Res_514.Caption'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input style="display: none" type="submit" class="ng-scope" id="btnTempsubNav" invisible>
                        <span ng-show="horizontalform.parent.$dirty && horizontalform.parent.$invalid && horizontalform.parent.$error.required"></span>
                        <span ng-show="horizontalform.feature.$dirty && horizontalform.feature.$invalid && horizontalform.feature.$error.required"></span>
                        <span ng-show="horizontalform.moudle.$dirty && horizontalform.moudle.$invalid && horizontalform.moudle.$error.required"></span>
                        <span ng-show="horizontalform.inputsub.$dirty && horizontalform.inputsub.$error.required"></span>
                        <span ng-show="horizontalform.description.$dirty && horizontalform.description.$error.required"></span>
                        <span ng-show="horizontalform.routes.$dirty && horizontalform.routes.$error.required"></span>
                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="updatesubmodule()" ng-model="UpdatesubModule" ng-show="EnablesubUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button ng-click="savesubmenu()" ng-model="AddsubModule" ng-show="EnablesubAdd" class="btn btn-small btn-primary" ng-disabled="horizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
