﻿<div ng-controller="mui.admin.newsfeedfiltersettingsCntrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4502.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="itemform">
                            <div class="gridStyle" ng-grid="gridGetFeedFilterGroup"></div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right"><a class="btn btn-small btn-primary" ng-click="addNewFeedFilterGroup()" href="javascript:void(0);">{{'LanguageContents.Res_8.Caption'|translate}}</a></div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="FeedFilterModal" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="H1">{{'LanguageContents.Res_4502.Caption'|translate}}</h3>
                </div>
                <div class="modal-body">
                    <div class="bs-docs-example">
                        <div id="myTabnewsfeedfilter">
                            <div ng-model="newsfeedfiltergroupId" id="newsfeedfiltergroupId" class="tab-pane fade active in">
                                <div class="control-group" ng-show="false">
                                    <label class="control-label" for="Id">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                        <input type="text" ng-model="Id" id="Id" placeholder="ID">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                        <input name="inputcaption" ng-model="FeedGroup" type="text" id="Caption" placeholder="Caption" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="NewsFeedTemplates">{{'LanguageContents.Res_4504.Caption'|translate}}</label><div class="controls">
                                        <select class="multiselect" data-placeholder="Select filter" ng-change="SelectFeedActions()" ng-model="MulitipleFeedFilterStatus" ng-options="item.Id as item.Action for item in feedactions" multiple="multiple" multiselect-dropdown></select>
                                    </div>
                                </div>
                                <span ng-show="itemform.inputcaption.$dirty && itemform.inputcaption.$error.required"></span>
                                <span ng-show="itemform.inputdescription.$dirty && itemform.inputdescription.$error.required"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="SaveNewsFeedFilterGroup()" ng-model="UpdateNewsFeedFilterGroup" ng-show="groupupdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
                    <button ng-click="SaveNewsFeedFilterGroup()" ng-model="SaveNewsFeedFilterGroup" ng-show="groupadd" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
