﻿<div class="node" ng-hide="data.IsDeleted"><span class="node-actions"><i ng-hide="data.Caption=='Root' || data.Caption=='Categories'" class="icon-caret-right"></i>
    <form class="form-inline TreeNodeEditorRowForm" name="TreeNodeEditorRowhorizontalform">
        <input data-isdeleted="{{data.IsDeleted}}" type="text" class="NodeValueTxt" ng-model="data.Caption" ng-disabled="data.Caption=='Root' || data.Caption=='Categories'">
        <button ng-hide="data.Level > 1" class="btn btn-small btn-primary" ng-click="AddtreeOptionsNewChild(data)">+</button>
        <button class="btn btn-small" ng-hide="data.Caption=='Root' || data.Caption=='Categories'" ng-click="deletetreeOptionsNewChild($parent.data,$parent.$parent.data)">-</button>
        <uicolorpicker ng-show="data.Level > 1" ng-model="data.ColorCode" options="ColorOptions"></uicolorpicker>
        <i ng-hide="data.Caption=='Root' || data.Caption=='Categories'" class='icon-move'></i>
        <ul bnsortable>
            <li ng-repeat="data in data.Children" ng-include="'views/mui/admin/nodestatus.html'" ng-hide="data.IsDeleted"></li>
        </ul>
    </form>
</span>
    <ul class="subtree" bnsortable ng-repeat="tree in tree.Children">
        <li ng-include src="'views/mui/admin/nodestatus.html'" ng-hide="tree.IsDeleted"></li>
    </ul>
</div>
