﻿<div ng-controller="mui.admin.notificationfiltersettingsCntrl">
    <div id="notificatinseting" class="box box-noborder AdminMargin">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_4531.Caption'|translate}}</h4>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <table class="table table-noborder">
                    <thead class="border-bottom1x">
                        <tr>
                            <th>{{'LanguageContents.Res_4035.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_4079.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_4080.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_4470.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_4471.Caption'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listofsubscriptionsForAdminSettings">
                            <td>
                                <p style="display: none" ng-model="SubscriptionID">{{item.Id}}</p>
                                <span ng-model="SubscriptionCaption">{{item.Caption}}</span></td>
                            <td>
                                <label class="checkbox checkbox-custom">
                                    <input type="checkbox" ng-click="UpdateCheckedStatus(item,$event)" ng-model="item.isAppDefault">
                                    <i class="checkbox" ng-class="{'checkbox checked':item.isAppDefault, 'checkbox': !item.isAppDefault}"></i></label></td>
                            <td>
                                <label class="checkbox checkbox-custom">
                                    <input type="checkbox" ng-click="UpdateCheckedStatus(item,$event)" ng-model="item.isAppMandatory">
                                    <i class="checkbox" ng-class="{'checkbox checked':item.isAppMandatory, 'checkbox': !item.isAppMandatory}"></i></label></td>
                            <td>
                                <label class="checkbox checkbox-custom">
                                    <input type="checkbox" ng-click="UpdateCheckedStatus(item,$event)" ng-model="item.isMailDefault">
                                    <i class="checkbox" ng-class="{'checkbox checked':item.isMailDefault, 'checkbox': !item.isMailDefault}"></i></label></td>
                            <td>
                                <label class="checkbox checkbox-custom">
                                    <input type="checkbox" ng-click="UpdateCheckedStatus(item,$event)" ng-model="item.isMailMandatory">
                                    <i class="checkbox" ng-class="{'checkbox checked':item.isMailMandatory, 'checkbox': !item.isMailMandatory}"></i></label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer align-right">
            <div class="btn-group">
                <button class="btn btn-primary ng-binding" type="button" ng-click="SaveAdminNotificationSettings()">{{'LanguageContents.Res_15.Caption'|translate}}</button></div>
        </div>
    </div>
</div>
