﻿<div class="row-fluid" ng-controller="mui.admin.optimakerCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4477.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="horizontalform">
                            <div id="mediaGeneratorGrid">
                                <table id="mediaGenTbl" class="table table-bordered table-striped footable" data-before-filtering="filteringmediaGenEventHandler">
                                    <thead>
                                        <tr>
                                            <th id="1_th0" ng-click="sortEnable('1_th0')"><span>{{'LanguageContents.Res_4753.Caption'|translate}}</span></th>
                                            <th id="1_th1" ng-click="sortEnable('1_th1')"><span>{{'LanguageContents.Res_4841.Caption'|translate}}</span></th>
                                            <th id="1_th2" ng-click="sortEnable('1_th2')"><span>{{'LanguageContents.Res_5574.Caption'|translate}}</span></th>
                                            <th id="1_th3" ng-click="sortEnable('1_th3')"><span>{{'LanguageContents.Res_2507.Caption'|translate}}</span></th>
                                            <th data-sort-ignore="true" ng-show="IsSuperAdmin.access"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="CurrentData in OptimakerSettingCollection| filter:mediaGenFilter" class="OptimakerSettingCollection" footablefooter>
                                            <td><span>{{$index+1}}</span></td>
                                            <td><span>{{CurrentData.Name}}</span></td>
                                            <td><span>{{CurrentData.TemplateEngineType}}</span></td>
                                            <td><span class="eicon-s" ng-style="set_bgcolor(CurrentData.ColorCode)">{{CurrentData.ShortDescription}}</span><span class="margin-left5x">{{CurrentData.AssetTypeName}}</span></td>
                                            <td class="colEdit" ng-show="IsSuperAdmin.access">
                                                <a class="iconLink" data-toggle="modal" ng-click="GetOptimakerSettingByIndex($index)" data-toggle="modal"><i class="icon-edit"></i></a></td>
                                            <td class="colDelete" ng-show="IsSuperAdmin.access">
                                                <a class="iconLink" data-toggle="modal" ng-click="DeleteOptimakerSettingsByID($index,CurrentData.ID)" data-toggle="modal"><i class="icon-remove"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <a class="btn btn-small btn-primary" href="javascript:void(0)" ng-click="OpenOptimakerSettingPopUp()">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                    <a class="btn btn-small btn-primary" href="javascript:void(0)" ng-click="OpenOptimakerCategoryPopUp()">{{'LanguageContents.Res_4228.Caption'|translate}}</a>
                </div>
            </div>
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4909.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="horizontalform">
                            <div class="searchBox margin-bottom10x">
                                <input class="ng-pristine ng-valid" type="text" placeholder="Filter" ng-model="wordTempFilter" ng-change="wordTempfilt()" />
                                <i class="icon-remove-circle clear-filter" ng-click="clearFilter()"></i>
                            </div>
                            <div id="wordTemplateGrid">
                                <table id="wordTemplateTbl" class="table table-bordered table-striped footable" data-before-filtering="filteringEventHandler" data-page-size="5">
                                    <tr>
                                        <th id="2_th0" ng-click="sortEnable('2_th0')"><span>{{'LanguageContents.Res_254.Caption'|translate}}</span></th>
                                        <th id="2_th1" ng-click="sortEnable('2_th1')"><span>{{'LanguageContents.Res_4841.Caption'|translate}}</span></th>
                                        <th id="2_th2" ng-click="sortEnable('2_th2')"><span>{{'LanguageContents.Res_4148.Caption'|translate}}</span></th>
                                        <th id="2_th3" ng-click="sortEnable('2_th3')"><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                        <th ng-show="IsSuperAdmin.access"></th>
                                        <th ng-show="IsSuperAdmin.access"></th>
                                    </tr>
                                    <tr ng-repeat="CurrentData in Wordtemplates|filter:wordTempFilter" class="wordTemplate" footablefooter>
                                        <td><span>{{$index+1}}</span></td>
                                        <td><span>{{CurrentData.Name}}</span></td>
                                        <td><span ng-bind="SelectCatagoryName(CurrentData.CategoryID)"></span></td>
                                        <td><span>{{CurrentData.Description}}</span></td>
                                        <td class="colEdit" ng-show="IsSuperAdmin.access">
                                            <a class="iconLink" data-toggle="modal" ng-click="GetWordTemplateByIndex($index)" data-toggle="modal"><i class="icon-edit"></i></a></td>
                                        <td class="colDelete" ng-show="IsSuperAdmin.access">
                                            <a class="iconLink" data-toggle="modal" ng-click="DeleteWordTemplateByID($index,CurrentData.ID)" data-toggle="modal"><i class="icon-remove"></i></a></td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <a class="btn btn-small btn-primary" href="javascript:void(0)" ng-click="OpenWordtemplatePopUp()">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                </div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal dynamicTreePopup" id="modalCategory" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="H1">{{'LanguageContents.Res_4148.Caption'|translate}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div id="DynamicDropDownTree">
                            <ul class="dynamicTreeContainer" bnsortable>
                                <li ng-repeat="data in tree" ng-include="'views/mui/admin/node.html'" ng-hide="data.IsDeleted"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="SaveAndUpdateCategory()" ng-model="buttonText" class="btn btn-small btn-primary">{{buttonText}}</button>
                    <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal optimakerSettingsPopup" id="OptimakerSettings" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="myModalLabel">{{ScreenText}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="tempEngineType">{{'LanguageContents.Res_5563.Caption'|translate}}</label><div class="controls">
                                    <select ui-select2 id="templEnginType" ng-model="templEnginType">
                                        <option ng-hide="true" value="0"></option>
                                        <option value="1">{{'LanguageContents.Res_5566.Caption'|translate}}</option>
                                        <option value="2">{{'LanguageContents.Res_5567.Caption'|translate}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="OptSettingname">Category</label><div class="controls">
                                    <select ui-select2 id="OptCategory" name="OptCategory" ng-selected="" ng-model="OptCategory">
                                        <option ng-repeat="item in OptimakerCatagories" value="{{item.id}}">{{AddSpace(item.ParentKey.length,item.Caption)}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="assetType">{{'LanguageContents.Res_2507.Caption'|translate}}</label><div class="controls">
                                    <input ui-select2="tagAllOptionsEntitytypelist" id="entitytype" ng-model="AssetType" ng-change="loadattributes(entitytype)" name="EntityType" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="OptSettingname">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="OptSettingname" id="OptSettingname" placeholder="Name" required />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="ServerURL">{{'LanguageContents.Res_5565.Caption'|translate}}</label><div class="controls">
                                    <select ui-select2 id="Select2" ng-model="ServerURL">
                                        <option ng-hide="true" value="0"></option>
                                        <option ng-repeat="optiUrl in optimakerServerUrls" value="{{optiUrl.ServerURL}}" ng_show="templEnginType==1">{{optiUrl.Description}}</option>
                                        <option ng-repeat="ImUrl in ImagineServerUrls" value="{{ImUrl.ServerURL}}" ng_show="templEnginType==2">{{ImUrl.Description}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PrevImage">{{'LanguageContents.Res_4655.Caption'|translate}}</label><div class="controls">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div id="Div2" class="fileupload-preview thumbnail">
                                            <div class="previewImgContainer">
                                                <img id="Img1" ng-src="ImgPath" src="{{ImgPath}}" />
                                            </div>
                                            <div class="inProgress" ng-show="PrevShow">
                                                <span>
                                                    <img src="../../../assets/img/loading.gif" /><br />
                                                    Loading...
                                                </span>
                                            </div>
                                        </div>
                                        <br />
                                        <button class="btn btn-small" id="mediapickfiles">{{'LanguageContents.Res_4879.Caption'|translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="TemplateId">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="Templatedesc" id="Templatedesc" placeholder="{{'LanguageContents.Res_22.Caption'|translate}}" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="DocId">{{'LanguageContents.Res_4211.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="DocId" id="Text1" placeholder="Document id" required />
                                </div>
                            </div>
                            <div class="control-group" ng-show="templEnginType==1">
                                <label class="control-label" for="DeptId">{{'LanguageContents.Res_4207.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="DeptId" id="Text2" placeholder="Department id" required />
                                </div>
                            </div>
                            <div class="control-group" ng-show="templEnginType==1">
                                <label class="control-label" for="DocType">{{'LanguageContents.Res_4213.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="DocType" id="Text3" placeholder="Document type" required />
                                </div>
                            </div>
                            <div class="control-group" ng-show="templEnginType==1">
                                <label class="control-label" for="DocversionId">{{'LanguageContents.Res_4214.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="DocversionId" id="Text4" placeholder="Document version id" required />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="checkbox ng-binding">
                                    <input name="AutoApprove" ng-model="AutoApproval" type="checkbox" id="AutoApprove" placeholder="AutoApproval" class="ng-pristine ng-valid">
                                    {{'LanguageContents.Res_5555.Caption'|translate}}
                                </label>
                            </div>
                            <div class="control-group">
                                <label class="checkbox ng-binding">
                                    <input name="EnableHighResPDF" ng-checked="EnableHighResPDF" type="checkbox" id="EnableHighResPDF" placeholder="Enable High Resolution PDF" class="ng-pristine ng-valid">
                                    {{'LanguageContents.Res_5594.Caption'|translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="SaveOptimakerSettings(0)" ng-disabled="BtnSaveShow" ng-model="buttonText" class="btn btn-small btn-primary">{{buttonText}}</button>
                    <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal wordTemplateSettingsPopup" id="WordtemplateSettings" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="H2">{{ScreenText}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="OptSettingname">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="OptSettingname" id="Text5" placeholder="Name" required />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="OptSettingname">{{'LanguageContents.Res_4148.Caption'|translate}}</label><div class="controls">
                                    <select ui-select2 id="Select1" name="OptCategory" ng-selected="" ng-model="OptCategory">
                                        <option ng-repeat="item in OptimakerCatagories" value="{{item.id}}">{{AddSpace(item.ParentKey.length,item.Caption)}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PrevImage">{{'LanguageContents.Res_4655.Caption'|translate}}</label><div class="controls">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div id="ImageUpload" class="fileupload-preview thumbnail">
                                            <div class="previewImgContainer">
                                                <img id="TitleLogoimg" ng-src="ImgPath" src="{{ImgPath}}" />
                                            </div>
                                            <div class="inProgress" ng-show="PrevShow">
                                                <span>
                                                    <img src="../../../assets/img/loading.gif" /><br />
                                                    {{'LanguageContents.Res_68.Caption'|translate}}...
                                                </span>
                                            </div>
                                        </div>
                                        <br />
                                        <button class="btn btn-small" id="wordpickfiles">{{'LanguageContents.Res_4879.Caption'|translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="TemplateId">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                    <textarea class="small-textarea" ng-model="Templatedesc" id="Textarea1" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="DocPath">{{'LanguageContents.Res_4210.Caption'|translate}}</label><div class="controls">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div id="Div3" class="fileupload-preview thumbnail">
                                            <div class="previewImgContainer">
                                                <img id="Img2" ng-src="ImgPath" src="{{DocPath}}" />
                                            </div>
                                            <div class="inProgress" ng-show="DocShow">
                                                <span>
                                                    <img src="../../../assets/img/loading.gif" /><br />
                                                    Loading...
                                                </span>
                                            </div>
                                        </div>
                                        <br />
                                        <button class="btn btn-small" id="docfiles">{{'LanguageContents.Res_4878.Caption'|translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="SaveWordTemplateSettings(0)" ng-disabled="BtnSaveShow" ng-model="buttonText" class="btn btn-small btn-primary">{{buttonText}}</button>
                    <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
