﻿<div ng-controller="mui.admin.passwordpolicyCntrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4 class="ng-binding">{{'LanguageContents.Res_4551.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form name="AdminSettingform" class="form-horizontal ng-pristine ng-valid">
                            <div class="row-fluid">
                                <div class="control-group ng-binding">
                                    <label class="control-label ng-binding" for="lblminlength">{{'LanguageContents.Res_4487.Caption'|translate}}</label><div class="controls">
                                        <input type="text" class="ng-pristine ng-valid" ng-model="minlength" id="minlength" placeholder="min length"></div>
                                    <span class="info">{{'LanguageContents.Res_4921.Caption'|translate}}</span></div>
                                <div class="control-group ng-binding">
                                    <label class="control-label ng-binding" for="lblmaxlength">{{'LanguageContents.Res_4475.Caption'|translate}}</label><div class="controls">
                                        <input type="text" class="ng-pristine ng-valid" ng-model="maxlength" id="maxlength" placeholder="max length"></div>
                                    <span class="info">{{'LanguageContents.Res_4020.Caption'|translate}}</span></div>
                                <div class="control-group ng-binding">
                                    <label class="control-label ng-binding" for="lblnumlength">{{'LanguageContents.Res_4532.Caption'|translate}}</label><div class="controls">
                                        <input type="text" class="ng-pristine ng-valid" ng-model="numlength" id="numlength" placeholder="number length"></div>
                                    <span class="info">{{'LanguageContents.Res_4023.Caption'|translate}}</span></div>
                                <div class="control-group ng-binding">
                                    <label class="control-label ng-binding" for="lblupperlength">{{'LanguageContents.Res_4882.Caption'|translate}}</label><div class="controls">
                                        <input type="text" class="ng-pristine ng-valid" ng-model="upperlength" id="upperlength" placeholder="uppercase length"></div>
                                    <span class="info">{{'LanguageContents.Res_4025.Caption'|translate}}</span></div>
                                <div class="control-group ng-binding">
                                    <label class="control-label ng-binding" for="lblbarwidth">{{'LanguageContents.Res_4125.Caption'|translate}}</label><div class="controls">
                                        <input type="text" class="ng-pristine ng-valid" ng-model="barwidth" id="barwidth" placeholder="Bar Width"></div>
                                    <span class="info">{{'LanguageContents.Res_4026.Caption'|translate}}</span></div>
                                <div class="control-group ng-binding">
                                    <label class="control-label ng-binding" for="lblspecialcharacter">{{'LanguageContents.Res_4756.Caption'|translate}}</label><div class="controls">
                                        <input type="text" class="ng-pristine ng-valid" ng-model="specialcharacter" id="specialcharacter" placeholder="special character"></div>
                                    <span class="info">{{'LanguageContents.Res_4024.Caption'|translate}}</span></div>
                                <div class="control-group ng-binding">
                                    <label class="control-label ng-binding" for="lblcolors">{{'LanguageContents.Res_4492.Caption'|translate}}</label><div class="controls">
                                        <select name="colors" id="colors" ng-model="colors">
                                            <option value="1">{{'LanguageContents.Res_4001.Caption'|translate}}</option>
                                            <option value="0">{{'LanguageContents.Res_4000.Caption'|translate}}</option>
                                        </select></div>
                                    <span class="info">{{'LanguageContents.Res_4022.Caption'|translate}}</span></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button class="btn btn-small btn-primary" ng-model="Update" ng-click="UpdatePasswordPolicy()" type="submit">{{'LanguageContents.Res_4871.Caption'|translate}}</button></div>
            </div>
        </div>
    </div>
</div>
