﻿<div ng-controller="mui.admin.pendinguserCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_557.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div>
                            <h5>{{'LanguageContents.Res_558.Caption'|translate}}.</h5>
                        </div>
                        <form class="form-horizontal" name="horizontalform">
                            <table id="Pendinguerstable" class="table table-bordered table-striped">
                                <tr class="nodrag nodrop" id="Tr2">
                                    <th class="checkboxtd">
                                        <span>
                                            <label class="checkbox checkbox-custom pull-right">
                                                <input ng-model="chkall" ng-click="checkAllUsers()" type="checkbox">
                                                    <i class="checkbox" ng-class="{'checkbox checked':chkall, 'checkbox': !chkall}"></i>
                                                </label>
                                            </span>
                                        </th>
                                        <th style="display: none;">{{'LanguageContents.Res_69.Caption'|translate}}</th>
                                        <th>{{'LanguageContents.Res_52.Caption'|translate}}</th>
                                        <th>{{'LanguageContents.Res_53.Caption'|translate}}</th>
                                        <th>{{'LanguageContents.Res_55.Caption'|translate}}</th>
                                        <th>{{'LanguageContents.Res_56.Caption'|translate}}</th>
                                    </tr>
                                    <tr ng-repeat="item in pendinguserlistdata" id="Tr3">
                                        <td>
                                            <span>
                                                <label class="checkbox checkbox-custom pull-right">
                                                    <input ng-model="item.Selected" ng-click="RemoveCheckallSelection(item,$event)" type="checkbox">
                                                        <i class="checkbox" ng-class="{'checkbox checked':item.Selected, 'checkbox': !item.Selected}"></i>
                                                    </label>
                                                </span>
                                            </td>
                                            <td style="display: none;">{{item.Id}}</td>
                                            <td>{{item.FirstName}}</td>
                                            <td>{{item.LastName}}</td>
                                            <td>{{item.Email}}</td>
                                            <td>{{item.Language}}</td>
                                        </tr>
                                    </table>
                                    <input class="btn" type="button" ng-model="Reject" ng-click="ApproveRejectUser(false)" value={{'LanguageContents.Res_560.Caption'|translate}} />
                                    <input class="btn btn-primary" type="button" ng-model="Approve" ng-click="ApproveRejectUser(true)" value={{'LanguageContents.Res_559.Caption'|translate}} />
                                    <h4 class="margin-top20x">{{'LanguageContents.Res_561.Caption'|translate}}</h4>
                                    <table id="Table1" class="table table-bordered table-striped">
                                        <tr class="nodrag nodrop" id="Tr1">
                                            <th style="display: none;">{{'LanguageContents.Res_69.Caption'|translate}}</th>
                                            <th>{{'LanguageContents.Res_52.Caption'|translate}}</th>
                                            <th>{{'LanguageContents.Res_53.Caption'|translate}}</th>
                                            <th>{{'LanguageContents.Res_55.Caption'|translate}}</th>
                                            <th>{{'LanguageContents.Res_56.Caption'|translate}}</th>
                                            <th>{{'LanguageContents.Res_24.Caption'|translate}}</th>
                                        </tr>
                                        <tr ng-repeat="item in ApprovedRejectedlistdata" id="Tr4">
                                            <td style="display: none;">{{item.Id}}</td>
                                            <td>{{item.FirstName}}</td>
                                            <td>{{item.LastName}}</td>
                                            <td>{{item.Email}}</td>
                                            <td>{{item.Language}}</td>
                                            <td>{{item.ActivationStatus}}</td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
