﻿<div class="row-fluid" ng-controller="mui.admin.plantabsettingsCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4560.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <div class="row-fluid">
                                <div class="span4">
                                    <h5>{{'LanguageContents.Res_4750.Caption'|translate}}
                                    </h5>
                                    <div class="box-content-margin">
                                        <div class="checkbox-right" ng-repeat="CurrentData in PlanTabCollectionsList">
                                            <label class="bolder">{{CurrentData.Name}}</label>
                                            <span>
                                                <label class="checkbox checkbox-custom ">
                                                    <input type="checkbox" ng-model="CurrentData.Value" id="tabInclude" class="ng-pristine ng-valid">
                                                    <i ng-class="addClass(CurrentData.Value)"></i>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button ng-click="UpdatePlanTabs()" class="btn btn-small btn-primary ng-pristine ng-valid ng-binding">{{'LanguageContents.Res_64.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
