﻿<div ng-controller="mui.admin.financialmetadatactrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4649.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="draggableTable">
                        <div class="FilterPanel">
                            <div class="fP_right">
                                <span class="btnPane">
                                    <button type="button" my-qtip2 qtip-content="Add New" class="btn btn-small btn-primary" data-target="#AddFinancialMetadata" href="javascript:void(0)" ng-click="addAttribute()">
                                        <i class="icon-plus-sign"></i>{{'LanguageContents.Res_8.Caption'|translate}}
                                    </button>
                                    <button type="button" my-qtip2 qtip-content="Delete" class="btn btn-small btn-danger" ng-click="deleteAttribute()">
                                        <i class="icon-remove"></i>{{'LanguageContents.Res_18.Caption'|translate}}
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="dT_Table">
                            <table id="financialmetadatalist">
                                <thead>
                                    <tr>
                                        <th class="chkbx">
                                            <label class="checkbox checkbox-custom" ng-hide="true">
                                                <input type="checkbox" id="FinMetadataDelete"><i class="checkbox"></i></label></th>
                                        <th><span>{{'LanguageContents.Res_69.Caption'|translate}}</span></th>
                                        <th class="prime"><span>{{'LanguageContents.Res_44.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_4747.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_4748.Caption'|translate}}</span></th>
                                        <th ng-show="(FinType == 1)"><span>{{tooltipColumnHeading}}</span></th>
                                        <th class="actionBtn"><span></span></th>
                                        <th class="repos"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Finattributes" ng-show="(item.FinTypeID == FinType)" class="findchkbox">
                                        <td class="chkbx" data-id="{{item.ID}}">
                                            <label class="checkbox checkbox-custom findchkboxes">
                                                <input type="checkbox"><i class="checkbox" ng-hide="item.IsSystemDefined"></i></label></td>
                                        <td class="col5p"><span>{{item.ID}}</span></td>
                                        <td class="prime"><span>{{item.Caption}}</span></td>
                                        <td class="chkbx col10p">
                                            <label class="checkbox  checkbox-custom">
                                                <input type="checkbox" ng-click="GetChckedFinancialMetadata(item,'IsColumn')" /><i ng-class="{'checkbox':item.IsColumn == false, 'checkbox checked':item.IsColumn == true}"></i></label></td>
                                        <td class="chkbx col10p">
                                            <label class="checkbox checkbox-custom">
                                                <input type="checkbox" ng-click="GetChckedFinancialMetadata(item,'IsTooltip')" /><i ng-class="{'checkbox':item.IsTooltip == false, 'checkbox checked':item.IsTooltip == true}"></i></label></td>
                                        <td class="chkbx col10p" ng-show="(FinType == 1)">
                                            <label class="checkbox checkbox-custom">
                                                <input type="checkbox" ng-click="GetChckedFinancialMetadata(item,'IsCommitTooltip')" /><i ng-class="{'checkbox':item.IsCommitTooltip == false, 'checkbox checked':item.IsCommitTooltip == true}"></i></label></td>
                                        <td class="actionBtn"><span><span class="actBtn_Unbordered edit" my-qtip2 qtip-content="Edit"><i class="icon-pencil" ng-click="EditMetadata(item)" data-target="#AddFinancialMetadata" data-toggle="modal" ng-hide="item.IsSystemDefined"></i></span></span></td>
                                        <td class="repos"><i class="icon-resize-vertical" my-qtip2 qtip-content="Reposition" data-id="{{item.ID}}"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="400px" role="dialog" tabindex="-1" class="modal" id="AddFinancialMetadata" style="display: none;">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3 id="H2">{{'LanguageContents.Res_4055.Caption'|translate}}</h3>
            </div>
            <div class="modal-body" id="divAddFinMetadata">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group" ng-show="false">
                            <label class="control-label" for="AttributeId">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                <input type="text" ng-model="wizard.AttributeId" id="AttributeId" placeholder="ID">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="inputAttributeCaption" class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                <input type="text" name="AttributeCaption" ng-model="wizard.Caption" id="AttributeCaption" placeholder="Caption" value="" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                <textarea class="small-textarea" ng-model="wizard.Description" id="Description" rows="3" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="widgettype">{{'LanguageContents.Res_588.Caption'|translate}}</label><div class="controls">
                                <select ng-disabled="wizard.IsDisableAttributeType" ng-change="OnAttributeSelect()" ui-select2 ng-model="wizard.attributeType" id="attributeType" data-placeholder="Select Attribute" required>
                                    <option value=""></option>
                                    <option ng-repeat="dimen in attributeTypes | orderBy:'Caption'" ng-show="(dimen.Id == '1' || dimen.Id == '2' || dimen.Id == '3' || dimen.Id == '4')" value="{{dimen.Id}}">{{dimen.Caption}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div ng-switch="AttrType">
                        <div ng-switch-when="Option">
                            <form class="form-inline">
                                <input type="text" ng-model="wizard.newOption" size="20" />
                                <button ng-click="addOptions()" ng-show="EnableOptionAdd" ng-model="fillgrid" class="btn btn-small btn-primary">{{'LanguageContents.Res_616.Caption'|translate}}</button>
                                <button ng-click="EditOptions()" ng-show="EnableOptionUpdate" ng-model="updateOption" class="btn btn-small btn-primary">{{'LanguageContents.Res_617.Caption'|translate}}</button>
                            </form>
                            <ul class="ul-striped" bnsortable>
                                <li class="cursor-move ng-scope" ng-repeat="option in optionsLists" data-handle="true" ng-style="set_color(alternateColor($index))" style="background-color: #{{alternateColor($index)}};"><span style="display: none;" class="ng-binding" ng-show="false">{{option.PId}}</span><span style="display: none;" class="ng-binding" ng-show="false">{{option.ID}}</span><span class="nomargin span5 ng-binding">{{option.Caption}}</span><span><a class="iconLink" ng-click="GetOptionbyID(option)"><i class="icon-edit"></i></a></span><span><a class="iconLink" ng-click="deleteOptions(option)"><i class="icon-remove"></i></a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="updateFinancialMetadata()" ng-show="showupdate" id="updateFinancialMetadata" class="btn btn-small btn-primary">{{'LanguageContents.Res_4871.Caption'|translate}}</button>
                <button ng-click="addFinancialMetadata()" ng-show="showadd" id="AddFinancialMetdata" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                <button data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
            </div>
        </div>
    </div>
</div>
