﻿<div ng-controller="mui.admin.PoNumberCntrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_528.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="versionform">
                            <div class="control-group">
                                <label class="control-label" for="PoPrefix">{{'LanguageContents.Res_529.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="id_prefix" name="Prefix" id="id_prefix" tabindex="1" value="">
                                    <label class="" for="exforPoPrefix">{{'LanguageContents.Res_60.Caption'|translate}}: PO- ,  XXX ,..</label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PoDateFormat">{{'LanguageContents.Res_59.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="id_dateformat" name="DateFormat" id="id_dateformat" tabindex="1" value="">
                                    <label class="" for="exforDateFormat">{{'LanguageContents.Res_60.Caption'|translate}}: yyyy , y, yyyy-MM-dd </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="poNoDigits">{{'LanguageContents.Res_532.Caption'|translate}}</label><div class="controls">
                                    <input type="text" min="1" max="8" ng-model="id_numberofdigits" name="Random" id="id_numberofdigits" tabindex="1" value="0">
                                    <label class="" for="exforNumberofDigits">{{'LanguageContents.Res_60.Caption'|translate}}: 1, 2 , max 8 </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PoRandom">{{'LanguageContents.Res_533.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="id_randomnumber" name="Random" id="id_randomnumber" tabindex="1" value="0">
                                    <label class="" for="exforPoRandom">{{'LanguageContents.Res_60.Caption'|translate}}: 1, 2,1001,5001 .. </label>
                                </div>
                            </div>
                            <div class="control-group" id="div_POFormat" ng-show="myValue" ng-model="div_POFormat">
                                <label class="control-label" for="PoRandom">{{'LanguageContents.Res_534.Caption'|translate}}</label><div class="controls">
                                    <label class="" for="PoRandom">{{format}}</label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PoRandom">{{'LanguageContents.Res_530.Caption'|translate}}</label><div class="controls">
                                    <label class="control-label" for="exforPoRandom">{{CurrentRunningPOnumber}}</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button ng-click="GenerateNumber()" ng-model="GenerateNumber" class="btn btn-small btn-primary">{{'LanguageContents.Res_1305.Caption'|translate}}</button>
                    <button ng-click="SavePoFormat()" ng-disabled="disableforExternalsource" ng-model="SavePoFormat" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
