﻿<div ng-controller="mui.admin.predefinedworktaskCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_518.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="Mainhorizontalform">
                            <input type="text" placeholder="Filter" class="pull-right" ng-model="filterOptions.filterText" /><br>
                            <div class="gridStyle" ng-grid="gridOptions"></div>
                            <div class="box-footer right">
                                <a class="btn btn-small btn-primary" ng-click="addModule()" href="#PredefinedWorkTaskModal" data-toggle="modal">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                            </div>
                        </form>
                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="PredefinedWorkTaskModal" style="display: none;">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h3 id="myModalLabel">{{'LanguageContents.Res_519.Caption'|translate}}</h3>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="control-group" ng-show="false">
                                                <label class="control-label" for="TemplateID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                                    <input type="text" ng-model="varPredfworkflow.PredfID" id="PredefinedWrkFlID" placeholder="ID">
                                                </div>
                                            </div>
                                            <div class="control-group underline">
                                                <label for="inputPreDefinedWrkflwName" class="control-label">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                                                    <input type="text" name="PreDefinedWrkflwName" ng-model="varPredfworkflow.PredfName" id="PredefinedWrkFlName" placeholder="Name" value="" required>
                                                </div>
                                            </div>
                                            <div class="control-group underline">
                                                <label for="inputPreDefinedWrkflwDescription" class="control-label">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                                    <input type="text" name="PreDefinedWrkflwDescription" ng-model="varPredfworkflow.PredfDescription" id="PredefinedWrkFlDescription" placeholder="Description" value="">
                                                </div>
                                            </div>
                                            <div class="control-group underline">
                                                <label for="inputPreDefinedWrkflwName" class="control-label">{{'LanguageContents.Res_520.Caption'|translate}}</label><div class="controls">
                                                    <select ui-select2 ng-model="varPredfworkflow.wrkflwtypeid" data-placeholder="Select Workflow Type" required>
                                                        <option value=""></option>
                                                        <option ng-repeat="item in WorkFlowTypeData" value="{{item.id}}">{{item.workflowtypeName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <a href="#attachmentPopup" role="button" class="btn btn-primary btn-small" data-toggle="modal" ng-click="fnTimeOut();">{{'LanguageContents.Res_67.Caption'|translate}}</a>
                                        </div>
                                    </div>
                                    <div class="box">
                                        <div class="box-header">
                                            <h4>{{'LanguageContents.Res_35.Caption'|translate}}</h4>
                                            <div style="display: none;" class="box-icon">
                                                <a onclick="$('#listview').show(); $('#thumnailview').hide();" class="btn btn-small" href="JavaScript:void(0);"><i class="icon-reorder"></i></a><a onclick="$('#listview').hide(); $('#thumnailview').show();" class="btn btn-small" href="JavaScript:void(0);"><i class="icon-th"></i></a>
                                            </div>
                                        </div>
                                        <div class="box-content">
                                            <div class="box-content-margin">
                                                <div id="listview">
                                                    <table id="predefinedfilesattchedTable" class="table table-bordered table-striped">
                                                        <tr id="{{attribs.ID}}">
                                                            <th>{{'LanguageContents.Res_1.Caption'|translate}}</th>
                                                            <th>{{'LanguageContents.Res_31.Caption'|translate}}</th>
                                                            <th></th>
                                                        </tr>
                                                        <tr ng-repeat="filesattch in listPredfWorkflowFilesAttch" id="predefinedfilesattchedval">
                                                            <td>{{filesattch.Name}}</td>
                                                            <td>{{filesattch.Createdon}}</td>
                                                            <td>
                                                                <a class="iconLink" data-toggle="modal" ng-click="DeletePredFileAttchByID(filesattch)" data-toggle="modal">
                                                                    <i class="icon-remove"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="updatePredfWorkflow()" ng-model="UpdateModule" ng-show="EnableUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                                <button ng-click="savePredfWorkflow()" ng-model="AddModule" ng-show="EnableAdd" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                                <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="attachmentPopup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H1">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="filescontainer">
            <div class="attachmentContainer">
                <div id="filelist"></div>
            </div>
            <div class="attachment-dragfiles" id="dragfiles">
                <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
                <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
                <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
                <div>
                    <a href="JavaScript:void(0);" id="pickfiles" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="attachment-progress pull-left" id="totalProgress"></div>
            <a id="uploadfiles" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a>
            <a id="pickfilesAlternate" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a>
            <a id="clearUploader" href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
    </div>
</div>
