﻿<div ng-controller="mui.admin.muiproofhqcrentialCntrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4665.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="versionform">
                            <div class="control-group">
                                <label class="control-label" for="PoPrefix">{{'LanguageContents.Res_55.Caption'|translate}}:</label><div class="controls">
                                    <input type="text" ng-model="proofHQusermailid" name="Prefix" id="id_prefix" tabindex="1"></div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="PoDateFormat">{{'LanguageContents.Res_54.Caption'|translate}}:</label><div class="controls">
                                    <input type="text" ng-model="proofHQpassword" name="DateFormat" id="id_dateformat" tabindex="1"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button ng-click="SaveProofRecord()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button></div>
            </div>
        </div>
    </div>
</div>
