﻿<div ng-controller="mui.admin.publishaccessCtrl">
    <div class="AdminMargin" id="tabLayoutSettings">     
        <div class="box-header">
            <h4>Publish access</h4>
        </div>
        <div class="box-content">
            <div class="box-content-margin">              
                <table class="table table-border">
                    <thead>
                        <tr>
                            <th class="prime"><span>ID</span></th>
                            <th><span>Caption</span></th>
                            <th><span>Description</span></th>
                            <th><span>Publish access</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in getroles" class="findchkbox">
                            <td class="prime" data-id="{{item.ID}}"><span>{{item.ID}}</span></td>
                            <td class="prime" data-id="{{item.Caption}}"><span>{{item.Caption}}</span></td>
                            <td class="prime" data-id="{{item.Description}}"><span>{{item.Description}}</span></td>
                            <td class="chkbx col10p">
                                <label class="checkbox checkbox-custom" ng-hide="{{item.ID == 1}}">
                                    <input type="checkbox" ng-click="GetChckedView(item,'IsToolTip')" />
                                    <i ng-class="{'checkbox':item.AccessPermission == false, 'checkbox checked':item.AccessPermission == true}"></i>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer align-right">
                <button class="btn btn-small btn-primary" ng-click="updatepublishaccess()">Save</button>
            </div>         
        </div>
    </div>
</div>


