﻿<div class="row-fluid" ng-controller="mui.admin.reportsCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4691.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th class="displayNone"><span>{{'LanguageContents.Res_4754.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_69.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_44.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                    <th class="width2x"><span>{{'LanguageContents.Res_4654.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_4749.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_4773.Caption'|translate}}</span></th>
                                    <th class="displayNone"><span>{{'LanguageContents.Res_4149.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_4253.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_4777.Caption'|translate}}</span></th>
                                </tr>
                                <tr ng-repeat="reports in myData" class="height2halfx" id="{{reports.OID}}">
                                    <td class="displayNone"><span>{{reports.ID}}</span></td>
                                    <td><span>{{reports.OID}}</span></td>
                                    <td><span>{{reports.Name}}</span></td>
                                    <td><span><a class="nopadding" xeditablereports href="javascript:;" ng-click="reportcontrolclick()" isidcaption="1" iscaption="{{reports.Caption}}" isid="{{reports.Id}}" isoid="{{reports.OID}}" isname="{{reports.Name}}" isdescription="{{reports.Description}}" ispreview="{{reports.Preview}}" isshow="{{reports.Show}}" isentitylevel="{{reports.EntityLevel}}" issublevel="{{reports.SubLevel}}" id="ReportCaption_{{reports.OID}}" iscategoryid="{{reports.CategoryId}}" data-ng-model="Caption" data-type="text" data-original-title="Caption">{{DecodedTextName(reports.Caption)}}</a></span></td>
                                    <td><span><a class="nopadding" xeditablereports href="javascript:;" ng-click="reportcontrolclick()" isidcaption="0" iscaption="{{reports.Caption}}" isid="{{reports.Id}}" isoid="{{reports.OID}}" isname="{{reports.Name}}" isdescription="{{reports.Description}}" ispreview="{{reports.Preview}}" isshow="{{reports.Show}}" isentitylevel="{{reports.EntityLevel}}" issublevel="{{reports.SubLevel}}" id="ReportDescription_{{reports.OID}}" iscategoryid="{{reports.CategoryId}}" data-ng-model="Description" data-type="text" data-original-title="Description">{{DecodedTextName(reports.Description)}}</a></span></td>
                                    <td>
                                        <img class="noPreview" id="reportPrv_{{reports.OID}}" src="{{ReportImgPath}}{{reports.Preview}}">
                                        <button id="report_{{reports.OID}}" data-reportid="report_{{reports.OID}}" data-toggle="modal" ng-click="UploadImagefile(reports.OID,reports.Name)" ng-model="UploadImage" class="btn btn-small btn-primary margin-top5x">Upload</button></td>
                                    <td><span ng-click="update(reports,1)">
                                        <input type="checkbox" ng-checked="reports.Show" name="Show" ng-model="chk_show" /></span></td>
                                    <td><span>{{reports.Status}}</span>
                                    <td style="display: none"><span>{{reports.CategoryId}}</span></td>
                                    <td><span ng-click="update(reports,2)">
                                        <input type="checkbox" ng-checked="reports.EntityLevel" name="EntityLevel" ng-model="chk_EntityLevel" /></span></td>
                                    <td><span ng-click="update(reports,3)">
                                        <input type="checkbox" ng-checked="reports.SubLevel" name="SubLevel" ng-model="chk_SubLevel" /></span></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="imgCropper">
            <div>
                <div id="filescontainer">
                    <button id="pickfiles" class="pickFiles" type="submit"></button>
                    <div id="uploadprogress" class="progress progress-striped active uploadProgress">
                        <div class="bar"></div>
                        <div id="barText" class="BarText">10%</div>
                    </div>
                </div>
                <div id="ReportImage" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display: none;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        &nbsp;
                    </div>
                    <div class="modal-body">
                        <div class="imgCropperPopup">
                            <div class="imgDiv">
                                <img src="" id="CropReportImg" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a aria-hidden="true" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</a>
                        <a class="btn btn-small btn-primary" data-dismiss="modal" ng-click="UploadReportImage();" href="JavaScript:void(0);">{{'LanguageContents.Res_15.Caption'|translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
