﻿<div ng-controller="mui.admin.searchengineCntrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_583.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="versionform">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="padding10x">
                                            <button ng-click="UpdateSearch()" ng-model="syncdb" class="btn btn-warning btn-large">{{'LanguageContents.Res_584.Caption'|translate}}</button><br />
                                            <br />
                                            <div ng-show="loadimage">
                                                <img class="loadingImg" src="assets/img/loading.gif">
                                                {{'LanguageContents.Res_68.Caption'|translate}}...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right"></div>
            </div>
        </div>
    </div>
</div>
