﻿<div class="row-fluid" ng-controller="mui.admin.seacrhcriteriaCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_240.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <div class="row-fluid">
                                <div class="controls nomargin">
                                    <select ui-select2 name="EntityType" id="Select1" ng-model="entitytype" ng-change="loadattributesfrSearchCriteria();">
                                        <option value="1">{{'LanguageContents.Res_4659.Caption'|translate}}</option>
                                        <option value="2">{{'LanguageContents.Res_4836.Caption'|translate}}</option>
                                        <option value="3">{{'LanguageContents.Res_12.Caption'|translate}}</option>
                                        <option value="4">{{'LanguageContents.Res_217.Caption'|translate}}</option>
                                        <option value="5">{{'LanguageContents.Res_5107.Caption'|translate}}s</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="listSettingsHeader">
                                        <h5>{{'LanguageContents.Res_575.Caption'|translate}}</h5>
                                    </div>
                                    <div class="draggableContainer">
                                        <ul id="sortableAttribute1" class="nav nav-pills nav-stacked connectedAttributeSortable"></ul>
                                    </div>
                                </div>
                                <div class="span4">
                                    <h5>{{'LanguageContents.Res_576.Caption'|translate}}</h5>
                                    <div class="draggableContainer">
                                        <ul id="sortableAttribute2" class="nav nav-pills nav-stacked connectedAttributeSortable"></ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="control-group nomargin" ng-show="entitytype==4">
                            <span>{{'LanguageContents.Res_5720.Caption'|translate}}</span>
                            <input type="checkbox" id="autoExpand" class="ng-pristine ng-valid" ng-model="enableAutoExp" ng-click="autoExp($event);">
                            <i ng-class="{'checkbox checked':enableAutoExp ,'checkbox':!enableAutoExp}"></i>
                        </div>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button type="submit" ng-click="searchsave();" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
