<ul dnd-list="list"><li class="DragableItem" ng-repeat="item in list"
        dnd-draggable="item"
        dnd-moved="list.splice($index, 1)"
        dnd-effect-allowed="move"><a>{{item.label}}</a></li></ul>
