﻿<div ng-controller="mui.admin.SSOCntrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4 class="ng-binding">{{'LanguageContents.Res_4759.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form name="AdminSettingform" class="form-horizontal ng-pristine ng-valid">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblkey">{{'LanguageContents.Res_4457.Caption'|translate}}</label><div class="controls">
                                            <input type="text" class="ng-pristine ng-valid" ng-model="key" id="key" placeholder="key">
                                        </div>
                                        <span class="info">{{'LanguageContents.Res_4018.Caption'|translate}}</span>
                                    </div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblIV">IV</label><div class="controls">
                                            <input type="text" class="ng-pristine ng-valid" ng-model="IV" id="IV" placeholder="IV">
                                        </div>
                                        <span class="info">{{'LanguageContents.Res_4019.Caption'|translate}}</span>
                                    </div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblAlgorithm">{{'LanguageContents.Res_4074.Caption'|translate}}</label><div class="controls">
                                            <select name="Algorithm" id="Algorithm" ng-model="Algorithm">
                                                <option>--Select--</option>
                                                <option ng-repeat="aitem in Algorithms">{{aitem}}</option>
                                            </select>
                                        </div>
                                        <span class="info">{{'LanguageContents.Res_4017.Caption'|translate}}</span>
                                    </div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblPaddingMode">{{'LanguageContents.Res_4548.Caption'|translate}}</label><div class="controls">
                                            <select name="PaddingMode" id="PaddingMode" ng-model="PaddingMode">
                                                <option>--Select--</option>
                                                <option ng-repeat="pmitem in PaddingModes">{{pmitem}}</option>
                                            </select>
                                        </div>
                                        <span class="info">{{'LanguageContents.Res_4021.Caption'|translate}}</span>
                                    </div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblCipherMode">{{'LanguageContents.Res_4160.Caption'|translate}}</label><div class="controls">
                                            <select name="CipherMode" id="CipherMode" ng-model="CipherMode">
                                                <option>--Select--</option>
                                                <option ng-repeat="cmitem in CipherModes">{{cmitem}}</option>
                                            </select>
                                        </div>
                                        <span class="info">{{'LanguageContents.Res_4014.Caption'|translate}}</span>
                                    </div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding widthauto" for="lblSSOTimeDifference">{{'LanguageContents.Res_4761.Caption'|translate}}</label><div class="controls">
                                            <input type="text" class="ng-pristine ng-valid" ng-model="SSOTimeDifference" id="SSOTimeDifference" placeholder="SSOTimeDifference">
                                        </div>
                                        <span class="info">{{'LanguageContents.Res_4030.Caption'|translate}}</span>
                                    </div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblSSOTokenMode">{{'LanguageContents.Res_4762.Caption'|translate}}</label><div class="controls">
                                            <select name="SSOTokenMode" id="SSOTokenMode" ng-model="SSOTokenMode">
                                                <option>--Select--</option>
                                                <option ng-repeat="item in SSOTokenModes">{{item}}</option>
                                            </select>
                                        </div>
                                        <span class="info">{{'LanguageContents.Res_4027.Caption'|translate}}</span>
                                    </div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblSSOTokenMode">{{'LanguageContents.Res_4760.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 multiple="multiple" allowclear="true" id="ddlusergroup" name="UserGroups" ng-model="usergroup">
                                                <option ng-repeat="item in Usergroups" value="{{item.Id}}">{{item.Caption}}</option>
                                            </select>
                                        </div>
                                        <span class="info">{{'LanguageContents.Res_4016.Caption'|translate}}</span>
                                    </div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblSSOTokenMode">SSO global access</label><div class="controls">
                                            <select ui-select2 multiple="multiple" allowclear="true" id="ddlglobalAccess" name="globalAccess" ng-model="globalaccess">
                                                <option ng-repeat="item in SSOaccessRoles" value="{{item.ID}}">{{item.Role}}</option>
                                            </select>
                                        </div>
                                        <span class="info">{{'LanguageContents.Res_4016.Caption'|translate}}</span>
                                    </div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="ClientIntranetUrl">{{'LanguageContents.Res_4164.Caption'|translate}}</label><div class="controls">
                                            <input type="text" class="ng-pristine ng-valid" ng-model="ClientIntranetUrl" id="ClientIntranetUrl" placeholder="Client Intranet Url">
                                        </div>
                                        <span class="info">{{'LanguageContents.Res_4015.Caption'|translate}}</span>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">SAML Roles</label><div class="controls">
                                            <!-- <tags-input ng-model="SAMLroles"></tags-input>-->
                                            <input type="hidden" ui-select2="select2Options" ng-model="SAMLroles" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button class="btn btn-small btn-primary" ng-model="Update" ng-click="UpdateSSoSettings()" type="submit">{{'LanguageContents.Res_4871.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
