﻿<div ng-controller="mui.admin.statisticsCtrl">
    <div class="box statsBox">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_4868.Caption'|translate}}</h4>
            <div class="box-icon">
                <div class="box-icon"><a class="btn btn-small " ng-click="addModule('Uniqueuserchart')" href="javascript:void(0);"><i class="icon-cog"></i></a></div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div id="Uniqueuserchart"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="moduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="myModalLabel">{{'LanguageContents.Res_4869.Caption'|translate}} </h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddlyear">{{'LanguageContents.Res_4913.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="ddlyear" ng-model="statistics.ddlyear">
                                                <option ng-repeat="item in years" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddlMonth">{{'LanguageContents.Res_4488.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="ddlMonth" ng-model="statistics.ddlMonth">
                                                <option ng-repeat="item in Months" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddltype">{{'LanguageContents.Res_4903.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="ddltype" ng-model="statistics.ddltype">
                                                <option ng-repeat="item in types" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="SaveUniqueuser()" ng-model="AddModule" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box statsBox">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_4082.Caption'|translate}}</h4>
            <div class="box-icon">
                <div class="box-icon">
                    <a class="btn btn-small " ng-click="addModule('Applicationuserchart')" href="javascript:void(0);"><i class="icon-cog"></i></a>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div id="Applicationuserchart"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="ApplicationusermoduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="H1">{{'LanguageContents.Res_4082.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddlyear">{{'LanguageContents.Res_4913.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select1" ng-model="statistics.ddlyear">
                                                <option ng-repeat="item in years" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddlMonth">{{'LanguageContents.Res_4488.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select2" ng-model="statistics.ddlMonth">
                                                <option ng-repeat="item in Months" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddltype">{{'LanguageContents.Res_4903.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select3" ng-model="statistics.ddltype">
                                                <option ng-repeat="item in types" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="SaveApplicationuser()" ng-model="AddModule" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box statsBox">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_4131.Caption'|translate}}</h4>
            <div class="box-icon">
                <div class="box-icon">
                    <a class="btn btn-small " ng-click="addModule('Browsersyschart')" href="javascript:void(0);"><i class="icon-cog"></i></a>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div id="Browsersyschart"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="BrowsermoduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="H2">{{'LanguageContents.Res_4132.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddlyear">{{'LanguageContents.Res_4913.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select4" ng-model="statistics.ddlyear">
                                                <option ng-repeat="item in years" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddlMonth">{{'LanguageContents.Res_4488.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select5" ng-model="statistics.ddlMonth">
                                                <option ng-repeat="item in Months" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddltype">{{'LanguageContents.Res_4903.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select6" ng-model="statistics.ddltype">
                                                <option ng-repeat="item in types" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="SaveBrowser()" ng-model="AddModule" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box statsBox">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_4133.Caption'|translate}}</h4>
            <div class="box-icon">
                <div class="box-icon">
                    <a class="btn btn-small " ng-click="addModule('BrowserVersionsyschart')" href="javascript:void(0);"><i class="icon-cog"></i></a>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div id="BrowserVersionsyschart"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="BrowserVersionmoduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="H3">{{'LanguageContents.Res_4134.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddlyear">{{'LanguageContents.Res_4913.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select7" ng-model="statistics.ddlyear">
                                                <option ng-repeat="item in years" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddlMonth">{{'LanguageContents.Res_4488.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select8" ng-model="statistics.ddlMonth">
                                                <option ng-repeat="item in Months" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddltype">{{'LanguageContents.Res_4903.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select9" ng-model="statistics.ddltype">
                                                <option ng-repeat="item in types" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="SaveBrowserVersion()" ng-model="AddModule" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box statsBox">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_4888.Caption'|translate}}</h4>
            <div class="box-icon">
                <div class="box-icon">
                    <a class="btn btn-small " ng-click="addModule('UserTypeschart')" href="javascript:void(0);"><i class="icon-cog"></i></a>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div id="UserTypeschart"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="UserTypesmoduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="H4">{{'LanguageContents.Res_4889.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddltype">{{'LanguageContents.Res_4903.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select12" ng-model="statistics.ddltype">
                                                <option ng-repeat="item in types" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="SaveUserTypes()" ng-model="AddModule" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box statsBox">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_4543.Caption'|translate}}</h4>
            <div class="box-icon">
                <div class="box-icon">
                    <a class="btn btn-small " ng-click="addModule('OperatingSystemchart')" href="javascript:void(0);"><i class="icon-cog"></i></a>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div id="OperatingSystemchart"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="OSmoduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="H5">{{'LanguageContents.Res_4544.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddltype">{{'LanguageContents.Res_4903.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select10" ng-model="statistics.ddltype">
                                                <option ng-repeat="item in types" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="SaveOS()" ng-model="AddModule" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box statsBox">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_4768.Caption'|translate}}</h4>
            <div class="box-icon">
                <div class="box-icon">
                    <a class="btn btn-small " ng-click="addModule('StartPagechart')" href="javascript:void(0);"><i class="icon-cog"></i></a>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div id="StartPagechart"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="StartPagemoduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="H6">{{'LanguageContents.Res_4770.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddltype">Visual type</label><div class="controls">
                                            <select ui-select2 id="Select11" ng-model="statistics.ddltype">
                                                <option ng-repeat="item in types" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="SaveStartPage()" ng-model="AddModule" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box statsBox">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_4712.Caption'|translate}}
            </h4>
            <div class="box-icon">
                <div class="box-icon">
                    <a class="btn btn-small " ng-click="addModule('Roleschart')" href="javascript:void(0);"><i class="icon-cog"></i></a>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div id="Roleschart"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="RolesmoduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="H7">{{'LanguageContents.Res_4713.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddltype">Visual type</label><div class="controls">
                                            <select ui-select2 id="Select13" ng-model="statistics.ddltype">
                                                <option ng-repeat="item in types" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="SaveRolesFilter()" ng-model="AddModule" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box statsBox">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_4244.Caption'|translate}}</h4>
            <div class="box-icon">
                <div class="box-icon">
                    <a class="btn btn-small " ng-click="addModule('EntityCountchart')" href="javascript:void(0);"><i class="icon-cog"></i></a>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div id="EntityCountchart"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="EntityCountmoduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="H8">{{'LanguageContents.Res_4245.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddltype">{{'LanguageContents.Res_4903.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select14" ng-model="statistics.ddltype">
                                                <option ng-repeat="item in types" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="SaveEntityCountFilter()" ng-model="AddModule" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box statsBox">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_4246.Caption'|translate}}</h4>
            <div class="box-icon">
                <div class="box-icon">
                    <a class="btn btn-small " ng-click="addModule('EntityCreationchart')" href="javascript:void(0);"><i class="icon-cog"></i></a>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div id="EntityCreationchart"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="EntityCreationmoduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="H9">{{'LanguageContents.Res_4247.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddlyear">{{'LanguageContents.Res_4913.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select15" ng-model="statistics.ddlyear">
                                                <option ng-repeat="item in years" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddlMonth">{{'LanguageContents.Res_4488.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select16" ng-model="statistics.ddlMonth">
                                                <option ng-repeat="item in Months" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddltype">{{'LanguageContents.Res_4903.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select17" ng-model="statistics.ddltype">
                                                <option ng-repeat="item in types" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="SaveEntityCreationFilter()" ng-model="AddModule" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box statsBox">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_4122.Caption'|translate}}</h4>
            <div class="box-icon">
                <div class="box-icon">
                    <a class="btn btn-small " ng-click="addModule('bandwidthchart')" href="javascript:void(0);"><i class="icon-cog"></i></a>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div id="bandwidthchart"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="bandwidthmoduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="H10">{{'LanguageContents.Res_4123.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddlyear">{{'LanguageContents.Res_4913.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select18" ng-model="statistics.ddlyear">
                                                <option ng-repeat="item in years" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddlMonth">{{'LanguageContents.Res_4488.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select19" ng-model="statistics.ddlMonth">
                                                <option ng-repeat="item in Months" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddltype">{{'LanguageContents.Res_4903.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="Select20" ng-model="statistics.ddltype">
                                                <option ng-repeat="item in types" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="SaveBandwidth()" ng-model="AddModule" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box statsBox">
        <div class="box-header">
            <h4 class="ng-binding">{{'LanguageContents.Res_5110.Caption'|translate}}
            </h4>
            <div class="box-icon">
                <div class="box-icon">
                    <a class="btn btn-small " ng-click="addModule('PIdets')" href="javascript:void(0);"><i class="icon-cog"></i></a>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div id="PIdets"></div>
                </form>
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="PImoduleModal" style="display: none;">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h3 id="H11">{{'LanguageContents.Res_4713.Caption'|translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddltype">Visual type</label><div class="controls">
                                            <select ui-select2 id="Select21" ng-model="statistics.ddltype">
                                                <option ng-repeat="item in types" value="{{item.ID}}">{{item.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="SaveProofInitiatorFilter()" ng-model="AddModule" class="btn btn-small btn-primary" ng-disabled="Mainhorizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
