﻿<div ng-controller="mui.admin.superadminCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_620.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="itemform">
                            <div class="gridStyle" ng-grid="gridGlobalRole"></div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right"></div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="globalrolesModal" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="H1">{{'LanguageContents.Res_620.Caption'|translate}}</h3>
                </div>
                <div class="modal-body">
                    <div class="bs-docs-example">
                        <div id="myTabRole">
                            <div ng-model="GlobalRoleTab" id="GlobalRoleTab" class="tab-pane fade active in">
                                <div class="control-group" ng-show="false">
                                    <label class="control-label" for="GlobalRoleID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                        <input type="text" ng-model="GlobalRoleID" id="GlobalRoleID" placeholder="ID">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                        <input name="inputcaption" ng-model="Caption" type="text" id="Caption" placeholder="Caption" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                        <textarea class="small-textarea" name="inputdescription" ng-model="Description" id="Textarea1" rows="3" placeholder="Description" required></textarea>
                                    </div>
                                </div>
                                <span ng-show="itemform.inputcaption.$dirty && itemform.inputcaption.$error.required"></span><span ng-show="itemform.inputdescription.$dirty && itemform.inputdescription.$error.required"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    <button ng-click="SaveGlobalRole()" ng-model="AddGlobalRole" ng-show="EnableGloabalRoleAdd" class="btn btn-small btn-primary" ng-disabled="itemform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button ng-click="UpdateGlobalRole()" ng-model="UpdateGlobalRole" ng-show="EnableGlobalRoleUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                </div>
            </div>
            <div aria-hidden="true" data-width="550" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="globalaccessModal" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="H2">{{'LanguageContents.Res_2141.Caption'|translate}}: {{GlobalRoleCaption}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <form>
                            <div class="gra_modulesList">
                                <div class="gra_Module" ng-repeat="module in ModuleforEntityTypeAccess">
                                    <h4>{{module.Name}}</h4>
                                    <div class="gra_featuresList">
                                        <div class="gra_feature" ng-repeat="features in globalaccessData">
                                            <div ng-if="features.MenuID == module.MenuID">
                                                <div class="span10">
                                                    <span class="gra_featureName">{{features.Name}}</span><div class="info">{{features.Name}}</div>
                                                </div>
                                                <div class="span1">
                                                    <label class="checkbox checkbox-custom">
                                                        <input type="checkbox" ng-model="features.IsChecked" ng-disabled="ShowChatOption(features)" /><i class="checkbox" ng-class="{'checkbox checked':features.IsChecked, 'checkbox': !features.IsChecked}"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-small btn-primary" ng-click="SaveUpdateRoleFeatures()">Save</button>
                    <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
            <div aria-hidden="true" data-width="550" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="globalaccessModalmetadata" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="H4">{{'LanguageContents.Res_2141.Caption'|translate}}: {{GlobalRoleCaptionMetadata}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <form>
                            <div class="gra_modulesList">
                                <div class="gra_Module">
                                    <h4>Metadata </h4>
                                    <div class="gra_featuresList">
                                        <div class="gra_feature" ng-repeat="features in globalaccessData">
                                            <div>
                                                <div class="span10">
                                                    <div class="info">
                                                        <div>{{features.Name}}</div>
                                                    </div>
                                                </div>
                                                <div class="span1">
                                                    <label class="checkbox checkbox-custom">
                                                        <input type="checkbox" ng-model="features.IsChecked" ng-disabled="ShowChatOption(features)" />
                                                        <i class="checkbox" ng-class="{'checkbox checked':features.IsChecked, 'checkbox': !features.IsChecked}"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-small btn-primary" ng-click="SaveUpdateRoleFeatures()">Save</button>
                    <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
