﻿<div class="row-fluid" ng-controller="mui.admin.tableaureportsettings">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4 class="ng-binding">Tableau Report Settings</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="row-fluid">
                            <div class="span4">
                                <h4>{{'LanguageContents.Res_4466.Caption'|translate}}</h4>
                                <table ng-show="tableauReportSettings.length > 0" class="table table-normal-both" id="tableauReportSettings">
                                    <tbody>
                                        <tr ng-repeat="report in tableauReportSettings">
                                            <td><a class="iconLink" ng-click="GettableauReportBlock(report)"><i class="icon-edit"></i></a></td>
                                            <td><span>{{DecodedTextName(report.ReportSettingsName)}}</span></td>
                                            <td><span><i ng-click="DeleteReportById(report.ID)" class="icon-remove"></i></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-show="tableauReportSettings.length == 0"><span>{{'LanguageContents.Res_4518.Caption'|translate}}</span></div>
                                <br />
                                <div class="text-right addchart">
                                    <button ng-click="AddNewReport()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4056.Caption'|translate}}</button>
                                </div>
                            </div>
                            <div class="span7 offset1" ng-show="ShowCreateReport">
                                <h4>{{tableauFotrecastObj.ReportAction}}</h4>
                                <form class="form-horizontal form-report">
                                    <div class="control-group">
                                        <label class="control-label">
                                            {{'LanguageContents.Res_4688.Caption'|translate}}
                                        </label>
                                        <div class="controls">
                                            <input id="reportCaption" type="text" ng-model="tableauReportCaption" placeholder="Report name">
                                        </div>
                                        <br />
                                        <label class="control-label">{{'LanguageContents.Res_4687.Caption'|translate}}</label><div class="controls">
                                            <img class="noPreview" ng-src="{{reportPreviewImg}}{{tableauReportUploadImage}}"><br />
                                            <button data-toggle="modal" ng-click="UploadImagefile()" ng-model="tableauReportUploadImage" class="btn btn-small btn-primary margin-top5x">{{'LanguageContents.Res_4877.Caption'|translate}}</button>
                                        </div>
                                        <br />
                                        <label class="control-label">{{'LanguageContents.Res_4685.Caption'|translate}}</label><div class="controls">
                                            <textarea class="small-textarea" name="reportdescription" ng-model="tableauReportDescription" id="reportdescription" rows="3"></textarea>
                                        </div>
                                         <br />
                                         <label class="control-label">Report Url </label>
                                         <div class="controls">
                                            <input id="tabulaeuurl" type="text" ng-model="tableauReportUrl" placeholder="Report Url">
                                        </div>
                                    </div>
                                </form>
                                <div class="text-right addblock">
                                     <button ng-click="ClearScopevariables()" class="btn btn-small btn-primary">Close</button>
                                    <button ng-click="updateReportBlock()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4714.Caption'|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="imgCropper">
        <div class="displayNone">
            <div id="tableausettingsfilescontainer">
                <button id="tableausettingspickfiles" type="submit"></button>
                <div id="tableausettingsuploadprogress" class="progress progress-striped active">
                    <div class="bar"></div>
                    <div id="tableausettingsbarText">10%</div>
                </div>
            </div>
            <div id="tableausettingsReportImage" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display: none;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="imgCropperPopup">
                        <div class="imgDiv nomargin">
                            <img src="" id="tableausettingsCropReportImg" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><a class="btn btn-small btn-primary" data-dismiss="modal" ng-click="UploadReportImage();" href="JavaScript:void(0);">{{'LanguageContents.Res_15.Caption'|translate}}</a><a aria-hidden="true" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</a></div>
            </div>
        </div>
    </div>
</div>
