﻿<div ng-controller="mui.admin.tabsettingCntrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4 class="ng-binding">{{'LanguageContents.Res_4818.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form name="AdminSettingform" class="form-horizontal ng-pristine ng-valid">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblkey">{{'LanguageContents.Res_4457.Caption'|translate}}</label><div class="controls">
                                            <input type="text" class="ng-pristine ng-valid" ng-model="key" id="key" placeholder="key"></div>
                                        <span class="info">{{'LanguageContents.Res_4018.Caption'|translate}}</span></div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblIV">IV</label><div class="controls">
                                            <input type="text" class="ng-pristine ng-valid" ng-model="IV" id="IV" placeholder="IV"></div>
                                        <span class="info">{{'LanguageContents.Res_4019.Caption'|translate}}</span></div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblAlgorithm">{{'LanguageContents.Res_4074.Caption'|translate}}</label><div class="controls">
                                            <select name="Algorithm" id="Algorithm" ng-model="Algorithm">
                                                <option>--Select--</option>
                                                <option ng-repeat="aitem in Algorithms">{{aitem}}</option>
                                            </select></div>
                                        <span class="info">{{'LanguageContents.Res_4017.Caption'|translate}}</span></div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblPaddingMode">{{'LanguageContents.Res_4548.Caption'|translate}}</label><div class="controls">
                                            <select name="PaddingMode" id="PaddingMode" ng-model="PaddingMode">
                                                <option>--Select--</option>
                                                <option ng-repeat="pmitem in PaddingModes">{{pmitem}}</option>
                                            </select></div>
                                        <span class="info">{{'LanguageContents.Res_4021.Caption'|translate}}</span></div>
                                    <div class="control-group ng-binding">
                                        <label class="control-label ng-binding" for="lblCipherMode">{{'LanguageContents.Res_4160.Caption'|translate}}</label><div class="controls">
                                            <select name="CipherMode" id="CipherMode" ng-model="CipherMode">
                                                <option>--Select--</option>
                                                <option ng-repeat="cmitem in CipherModes">{{cmitem}}</option>
                                            </select></div>
                                        <span class="info">{{'LanguageContents.Res_4014.Caption'|translate}}</span></div>
                                </div>
                            </div>
                            <button class="btn btn-small btn-primary" ng-model="Update" ng-click="UpdateSSoSettings()" type="submit">{{'LanguageContents.Res_4871.Caption'|translate}}</button></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
