﻿<div class="row-fluid" ng-controller="mui.admin.tabsCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4819.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal ng-pristine ng-valid">
                            <div class="row-fluid">
                                <div class="controls nomargin">
                                    <select ui-select2 ng-model="EntityType" id="EntityType" data-placeholder="Select EntityType" ng-click="GetAllTabCollections()">
                                        <option value="6">{{'LanguageContents.Res_1457.Caption'|translate}}</option>
                                        <option value="5">{{'LanguageContents.Res_254.Caption'|translate}}</option>
                                        <option value="10">{{'LanguageContents.Res_4535.Caption'|translate}}</option>
                                        <option value="35">{{'LanguageContents.Res_4136.Caption'|translate}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <h5>{{'LanguageContents.Res_4121.Caption'|translate}}</h5>
                                    <div class="draggableContainer admintabsdraggable">
                                        <ul id="sortableAttribute1" class="nav nav-pills nav-stacked connectedAttributeSortable">
                                            <li class="DragableItem InProgress" data-id="{{CurrentData.Id}}" ng-repeat="CurrentData in TabCollectionsList">
                                                <div>
                                                    <a class="adminTabs" ng-class="ChangeCss(CurrentData.IsSytemDefined)"><span class="tabName">{{CurrentData.Name}}</span><span class="tabActions" ng-show="CurrentData.IsSytemDefined==false"><i data-toggle="modal" ng-click="TabByID($index)" class="icon-edit icon-edit-app"></i><i data-toggle="modal" ng-click="DeleteTabByID($index,CurrentData.Id)" class="icon-remove icon-remove-app"></i></span></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <button type="submit" href="javascript:void(0);" ng-click="AddTabs()" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                </div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal editTabsPopup" id="Tabmodal" data-width="700px" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="myModalLabel">{{ScreenText}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <form class="form-horizontal">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="tabname">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                                        <input type="text" ng-model="tabname" id="tabname" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="tabexternalurl">{{'LanguageContents.Res_510.Caption'|translate}}</label><div class="controls">
                                        <input type="url" ng-model="tabexternalurl" id="tabexternalurl" placeholder="External URL" required>
                                    </div>
                                </div>
                                <div class="control-group" ng-hide="hideentitytypefrCalender">
                                    <label class="control-label" for="ddlParententitytypeId">{{'LanguageContents.Res_63.Caption'|translate}}</label><div class="controls">
                                        <input id="ddlChildren" type="hidden" ui-select2="tagAllOptions" ng-model="EntitytypeId" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Defaultvalue">{{'LanguageContents.Res_620.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 multiple="multiple" ng-model="GlobalRolevalue" data-placeholder="--Select--">
                                            <option ng-repeat="item in globalrolesData" value="{{item.Id}}">{{item.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span6 chkbx-grp">
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="tabaddUserID" ng-model="tabaddUserID" type="checkbox" id="tabaddUserID" />
                                        {{'LanguageContents.Res_4449.Caption'|translate}}
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="tabaddUserName" ng-model="tabaddUserName" type="checkbox" id="tabaddUserName" />
                                        {{'LanguageContents.Res_4450.Caption'|translate}}
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="tabaddUseremail" ng-model="tabaddUseremail" type="checkbox" id="tabaddUseremail" />
                                        {{'LanguageContents.Res_4447.Caption'|translate}}
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="tabaddlanguagecode" ng-model="tabaddlanguagecode" type="checkbox" id="tabaddlanguagecode" />
                                        {{'LanguageContents.Res_4442.Caption'|translate}}
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input name="tabaddentityid" ng-model="tabaddentityid" type="checkbox" id="tabaddentityid" />
                                        {{'LanguageContents.Res_4440.Caption'|translate}}
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="segregate">
                        <h4>{{'LanguageContents.Res_4817.Caption'|translate}}</h4>
                    </div>
                    <div class="row-fluid infoControls">
                        <form class="form-horizontal" id="tabsEncryptionform">
                            <div class="span6">
                                <div class="control-group ng-binding">
                                    <label class="control-label ng-binding" for="lblkey">{{'LanguageContents.Res_4457.Caption'|translate}}</label><div class="controls">
                                        <input type="text" class="ng-pristine ng-valid" ng-model="Encryptionkey" id="key" placeholder="key">
                                        <span class="info">{{'LanguageContents.Res_4018.Caption'|translate}}</span>
                                    </div>
                                </div>
                                <div class="control-group ng-binding">
                                    <label class="control-label ng-binding" for="lblIV">IV</label><div class="controls">
                                        <input type="text" class="ng-pristine ng-valid" ng-model="InitialVector" id="InitialVector" placeholder="IV">
                                        <span class="info">{{'LanguageContents.Res_4019.Caption'|translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group ng-binding">
                                    <label class="control-label ng-binding" for="lblAlgorithm">{{'LanguageContents.Res_4074.Caption'|translate}}</label><div class="controls">
                                        <select name="Algorithm" id="Algorithm" ng-model="Algorithm">
                                            <option>--Select--</option>
                                            <option ng-repeat="aitem in Algorithms">{{aitem}}</option>
                                        </select><span class="info">{{'LanguageContents.Res_4017.Caption'|translate}}</span>
                                    </div>
                                </div>
                                <div class="control-group ng-binding">
                                    <label class="control-label ng-binding" for="lblPaddingMode">{{'LanguageContents.Res_4548.Caption'|translate}}</label><div class="controls">
                                        <select name="PaddingMode" id="PaddingMode" ng-model="PaddingMode">
                                            <option>--Select--</option>
                                            <option ng-repeat="pmitem in PaddingModes">{{pmitem}}</option>
                                        </select><span class="info">{{'LanguageContents.Res_4021.Caption'|translate}}</span>
                                    </div>
                                </div>
                                <div class="control-group ng-binding">
                                    <label class="control-label ng-binding" for="lblCipherMode">{{'LanguageContents.Res_4160.Caption'|translate}}</label><div class="controls">
                                        <select name="CipherMode" id="CipherMode" ng-model="CipherMode">
                                            <option>--Select--</option>
                                            <option ng-repeat="cmitem in CipherModes">{{cmitem}}</option>
                                        </select><span class="info">{{'LanguageContents.Res_4014.Caption'|translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <input style="display: none" type="submit" id="btnTemp4" class="ng-scope" invisible>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="SaveTabDetails()" ng-model="buttonText" class="btn btn-small btn-primary">{{buttonText}}</button>
                    <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
