﻿<div ng-controller="mui.admin.taskflagCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_601.Caption'|translate}}</h4>
                    <div class="control-group pull-right width1x">
                        <label for="taskflagnamesettings" class="control-label inline">{{'LanguageContents.Res_4234.Caption'|translate}}</label><span class="pull-right"><label class="checkbox checkbox-custom ">
                            <input type="checkbox" ng-model="enabledisabletaskflag" id="enabledisabletaskflag" ng-click="enabledisable($event)" class="ng-pristine ng-valid"><i class="checkbox"></i></label></span>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="horizontalform">
                            <div class="row-fluid">
                                <div class="span9 height3x manageOverflow">
                                    <table id="taskListtable" class="table table-bordered table-striped">
                                        <tr id="Tr2">
                                            <th>{{'LanguageContents.Res_1.Caption'|translate}}</th>
                                            <th>{{'LanguageContents.Res_597.Caption'|translate}}</th>
                                            <th>{{'LanguageContents.Res_22.Caption'|translate}}</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <tr ng-repeat="tasflag in TaskFlagList" id="Tr3">
                                            <td>{{tasflag.Caption}}</td>
                                            <td class="upper"><span class="margin-right5x cursor-pointer" data-toggle="tooltip" my-qtip2 qtip-content="sample flag" ng-style="set_color(tasflag.ColorCode)"><i class="icon-large icon-flag" data-role="TaskFlagOption" data-taskid="{{task.Id}}" data-tasklist="{{item.ID}}" context="context3"></i></span>
                                                {{tasflag.ColorCode}}
                                            </td>
                                            <td>{{tasflag.Description}}</td>
                                            <td class="colEdit">
                                                <a class="iconLink" data-toggle="modal" ng-click="updatetaskflag(tasflag.Id,$index)" data-toggle="modal"><i class="icon-edit"></i></a></td>
                                            <td class="colDelete">
                                                <a class="iconLink" data-toggle="modal" ng-click="DeleteTaskFlag(tasflag.Id,$index)" data-toggle="modal"><i class="icon-remove"></i></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <a class="btn btn-small btn-primary" ng-click="OpenTaskmodalFlag()" href="javascript:void(0)">{{'LanguageContents.Res_8.Caption'|translate}}</a></div>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="TaskFlagmodal" class="modal" style="display: none;">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3 id="myModalLabel">{{ScreenText}}</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="taskflagname">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                                <input type="text" ng-model="taskflagname" id="taskflagname" placeholder="Name" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="taskflagcolorcode">{{'LanguageContents.Res_597.Caption'|translate}}</label><div class="controls colorPickerContainer">
                                <input type="text" maxlength="6" name="colorcode" ng-model="ColorCodeGlobalObj.colorcode" id="Text2" required><uicolorpicker ng-model="ColorCodeGlobalObj.colorcode" options="ColorOptions"></uicolorpicker>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="taskflagdesc">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                <textarea class="small-textarea" ng-model="taskflagdesc" id="taskflagdesc" placeholder="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="addtaskflag()" ng-model="addtaskflag" class="btn btn-small btn-primary">{{buttonText}}</button>
                <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            </div>
        </div>
    </div>
</div>
