﻿<div class="tasklistLibrary" ng-controller="mui.admin.tasklistlibraryCtrl">
    <div class="AdminMargin">
        <div class="box box-noborder">
            <div class="box-header">
                <h4>{{'LanguageContents.Res_602.Caption'|translate}}</h4>
                <button class="btn btn-link pull-right" ng-click="ExpandCollapseTasks()" type="button">{{ExpandCollpase}}</button>
            </div>
            <div class="box-content">
                <div class="box-content-margin taskListTemplate">
                    <form class="form-horizontal ng-pristine ng-valid">
                        <ul class="ListHolder" id="ListHolderID">
                            <li ng-repeat="item in TaskLibraryList" id="{{item.ID}}" class="cursor-move">
                                <h4 class="stepHeader"><span id="tasklist{{item.ID}}" data-isload="true" class="{{ item.TaskCount>0?'icon-caret-right':''}}" ng-click="GetAdminTasksbyTaskListID(item.ID,item.TaskCount,$index)"></span><span data-handle="true">{{item.ID}}.{{item.LibraryName}}<span class="font11"> ({{item.LibraryDescription}})</span></span><div class="fileupload fileupload-new pull-right" data-provides="fileupload"><a class="customIcon mini fileupload-new" id="pickexports" ng-click="ImportPopUp(item.ID,$index)" title="Import" data-toggle="modal"><span class="baseIcon fileupload-new"><i class="icon-file-text-alt fileupload-new"></i></span><span class="foreIcon fileupload-new" href="#"><i class="icon-double-angle-down fileupload-new"></i></span></a><a class="customIcon mini margin-right10x margin-top2x" href="#ExportInProgress" ng-click="Export(item.ID,item.TaskCount,$index)" title="Export" data-toggle="modal"><span class="baseIcon"><i class="icon-file-text-alt"></i></span><span class="foreIcon"><i class="icon-double-angle-up"></i></span></a></div>
                                    <i class="pull-right menuIcon icon-remove" ng-click="DeleteTaskList(item.ID)"></i><i class="pull-right menuIcon icon-edit" ng-click="GetTaskByID(item.ID)"></i></h4>
                                <ul class="tasklistLibraryUL" id="TaskHolder{{item.ID}}" style="display: none;">
                                    <li class="ListItem InProgress" id="{{task.Id}}" ng-repeat="task in item.TaskList ">
                                        <div class="row-fluid">
                                            <div class="span3"><span data-subhandle="true"><i class="icon-cog ListItemIcon"></i><span ng-style="set_color(task.ColorCode)" class="eicon-s margin-right5x ListItem-eIcon">{{task.ShortDesc}}</span><span class="txt tskName">{{task.Caption}}</span></span></div>
                                            <div class="span2"><span class="txt">{{task.TaskTypeName}}</span></div>
                                            <div class="span4"><span class="txt">{{task.Description}}</span></div>
                                            <div ng-show="task.TotalTaskAttachment > 0" class="span2"><span class="important" data-toggle="tooltip" my-qtip2 qtip-content="{{task.AttachmentCollection}}"><span class="txt">{{task.TotalTaskAttachment}} {{'LanguageContents.Res_623.Caption'|translate}}</span></span></div>
                                            <div ng-hide="task.TotalTaskAttachment > 0" class="span2"><span class="txt">{{'LanguageContents.Res_624.Caption'|translate}}</span></div>
                                            <div class="span1"><i class="pull-right menuIcon icon-remove" ng-click="DeleteAdminTask(task.TaskListID,task.Id)"></i><i ng-click="EditTask(task.Id,task.TaskListID)" class="pull-right menuIcon icon-edit"></i></div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="text-right"><a ng-click="addNewTask(item.ID)" role="button" class="btn btn-small btn-primary">{{'LanguageContents.Res_1009.Caption'|translate}}</a></div>
                            </li>
                        </ul>
                        <span ng-show="TaskLibraryList.length==0">{{'LanguageContents.Res_4520.Caption'|translate}}</span>
                        <button id="ImportingVal" hidden="hidden" visible="false"></button>
                    </form>
                </div>
            </div>
            <div class="box-footer align-right"><a class="btn btn-primary btn-small" ng-click="addTaskList()" href="javascript:void(0)">{{'LanguageContents.Res_625.Caption'|translate}}</a></div>
        </div>
    </div>
    <div id="addTask" class="modal addTaskPopup addTasklistLibrary TaskPopupTabbed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="990px" style="display: none;">
        <div class="modal-header">
            <div class="row-fluid">
                <div class="span7">
                    <h3 id="H1">{{TaskActionCaption}}</h3>
                </div>
                <div class="span5">
                    <div ng-show="TaskBriefDetails.Totalassetcount > 0" class="taskPopup-AssetCount"><span ng-show="TaskBriefDetails.Totalassetcount > 0" class="count">{{TaskBriefDetails.Totalassetcount}} Assets</span><span ng-show="TaskBriefDetails.Totalassetcount > 0">|</span><span ng-show="TaskBriefDetails.Totalassetcount > 0" class="size">{{TaskBriefDetails.Totalassetsize}}</span></div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CloseDampopup();">×</button>
            </div>
        </div>
        <div class="modal-body overflowHide" ng-switch="TaskType">
            <div class="row-fluid">
                <ul class="nav nav-tabs">
                    <li class="active" id="litask-MetaData-admin"><a href="#task-MetaData-admin" ng-click="SetCurrentTabid('task-MetaData-admin','task-Attachments-admin')" data-toggle="tab">{{'LanguageContents.Res_4825.Caption'|translate}}</a></li>
                    <li id="litask-Attachments-admin"><a href="#task-Attachments-admin" ng-click="SetCurrentTabid('task-Attachments-admin','task-MetaData-admin')" data-toggle="tab">{{'LanguageContents.Res_12.Caption'|translate}}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-line"></div>
                    <div class="tab-pane active" id="task-MetaData-admin">
                        <div class="row-fluid">
                            <div id="lftSideForm" class="span4 leftSection">
                                <form id="adminTaskDynamicMetadata">
                                    <div class="control-group">
                                        <label>{{'LanguageContents.Res_648.Caption'|translate}}</label><input ui-select2="tagAllOptionsTasktypelist" id="TaskType" data-ng-model="TaskType" ng-change="createAdmindynamicControls(TaskType)" ng-disabled="updatetask" name="TaskType" />
                                    </div>
                                    <div class="control-group">
                                        <label>{{'LanguageContents.Res_1.Caption'|translate}}</label><input id="taskCaption" ng-model="NewTaskName" name="NewTaskName" type="text" placeholder="Name" maxlength="200">
                                    </div>
                                    <div class="control-group">
                                        <label>{{'LanguageContents.Res_22.Caption'|translate}}</label><textarea class="small-textarea" ng-model="TaskDescription" name="TaskDescription" rows="3"></textarea>
                                    </div>
                                    <div id="adminTaskDynamic-metadata"></div>
                                    <div id="admintaskDynamicTaskControls"></div>
                                    <div class="control-group">
                                        <label class="ng-binding" ng-show="ChecklistVisible">{{'LanguageContents.Res_4155.Caption'|translate}}</label><ul class="repeter" ng-show="ChecklistVisible">
                                            <li ng-repeat="item in AdminTaskCheckList">
                                                <input type="text" class="margin-right10x nomargin width1x" ng-model="item.NAME" />
                                                <button class="btn" ng-click="AddCheckList($index)"><i class="icon-plus"></i></button>
                                                <button class="btn" ng-click="RemoveCheckList($index,item.ID)"><i class="icon-remove"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                            <div id="rytSideAttachments" class="span8 rightSection">
                                <div ng-show="rytSideApprovalButtonPane" id="rytSideApprovalButtonPane" class="optBtnpane nomargin pull-left">
                                    <button type="button" class="btn btn-small" ng-click="OpenCreateTaskTemplatePhasePopup()">{{'LanguageContents.Res_5578.Caption'|translate}}</button>
                                </div>
                                <div class="row-fluid">
                                    <form class="form-horizontal">
                                        <div class="layout-Draggable" ng-repeat="phases in templateData.PhaseData.AllPhaseList">
                                            <div class="taskPhase-block adminTaskBlock dropzone">
                                                <ul class="phaseList" dnd-list="phases" dnd-allowed-types="['containerType']" dnd-external-sources="true"
                                                    dnd-dragover="dragoverCallback(event, index, external, type)"
                                                    dnd-drop="dropCallback(event, index, item, external, type, 'containerType')">
                                                    <li class="blank">
                                                        <h1></h1>
                                                    </li>
                                                    <li ng-repeat="phase in phases" dnd-draggable="phase"
                                                        dnd-type="'containerType'"
                                                        dnd-effect-allowed="copyMove"
                                                        dnd-dragstart="logEvent('Started to drag a container', event)"
                                                        dnd-moved="phases.splice($index, 1); logEvent('Container moved', event)"
                                                        dnd-copied="logEvent('Container copied', event)">
                                                        <div class="phase-block container-element">
                                                            <div class="phase-header">
                                                                <div class="phsName"><span class="nm">{{phase.Name}}</span><span class="dur" ng-show="phase.maxduration==1">({{phase.maxduration}} day)</span><span class="dur" ng-show="phase.maxduration!=1">({{phase.maxduration}} days)</span></div>
                                                                <span class="optnIcon" data-toggle="dropdown" ng-click="phaseContextmenuAdmin(phase)" context="phaseAdminAction" data-toggle='modal' data-role="PhaseMenuOption"><i class="icon-reorder"></i></span>
                                                            </div>
                                                            <ul class="phaseStepList" dnd-list="phase.StepsData"
                                                                dnd-allowed-types="['itemType']"
                                                                dnd-horizontal-list="true"
                                                                dnd-external-sources="true"
                                                                dnd-dragover="dragoverCallback(event, index, external, type)"
                                                                dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"
                                                                class="itemlist">
                                                                <li class="blank">
                                                                    <h1></h1>
                                                                </li>
                                                                <li ng-repeat="step in phase.StepsData"
                                                                    dnd-draggable="step"
                                                                    dnd-type="'itemType'"
                                                                    dnd-effect-allowed="copyMove"
                                                                    dnd-dragstart="logEvent('Started to drag an item', event)"
                                                                    dnd-moved="phase.StepsData.splice($index, 1); logEvent('Item moved', event)"
                                                                    dnd-copied="logEvent('Item copied', event)">
                                                                    <div ng-class="{'phaseStep-block selected':step.isopened,'phaseStep-block':!step.isopened}">
                                                                        <div class="phaseStep-header">
                                                                            <span class="expcolIcon"><i ng-click="step.isopened=!step.isopened" ng-hide="step.isopened" class="icon-chevron-right"></i><i ng-click="step.isopened=!step.isopened" ng-show="step.isopened" class="icon-chevron-down"></i></span>
                                                                            <h3 ng-click="step.isopened=!step.isopened" class="headText"><a>{{step.Name}}</a></h3>
                                                                            <span class="optnIcon"><i id="I1" class="icon-reorder pull-right menuIcon" data-toggle="dropdown" data-role="" ng-click="menuclick(step)" contextmenuoptions="thumbnailActionMenu"></i></span>
                                                                        </div>
                                                                        <div class="phaseStep-content">
                                                                            <div class="control-group">
                                                                                <label class="control-label">Duration:</label><div class="controls">
                                                                                    <select ui-select2 ng-model="step.Duration">
                                                                                        <option ng-repeat="dur in PhaseDuration" value="{{dur.ID}}">{{dur.Caption}}</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="control-group">
                                                                                <label class="control-label">Min Approval:</label><div class="controls">
                                                                                    <select ui-select2 ng-model="step.MinApproval">
                                                                                        <option ng-repeat="i in PhaseMinApproval" value="{{i}}">{{i}}</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="control-group">
                                                                                <label class="control-label">Roles:</label><div class="controls">
                                                                                    <select ui-select2 ng-model="step.Roles">
                                                                                        <option value="0">Select Approval Role</option>
                                                                                        <option ng-repeat="role in templateData.UserRoles" value="{{role.Id}}">{{role.Caption}}</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="control-group" ng-hide="true">
                                                                                <label class="control-label">Is Mandatory:</label><div class="controls">
                                                                                    <label class="checkbox checkbox-custom inlineBlock">
                                                                                        <input type="checkbox" ng-model="step.IsMandatory" name="TaskTemplateIsMandatory" id="Checkbox2"><i class="checkbox" ng-class="{'checkbox checked':step.IsMandatory, 'checkbox': !step.IsMandatory}"></i><span class="va-middle">User can not remove step</span></label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="blank">
                                                                    <h1></h1>
                                                                </li>
                                                            </ul>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </li>
                                                    <li class="blank">
                                                        <h1></h1>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane assetsTab" id="task-Attachments-admin">
                        <div ng-switch="AssetfileTemplateLoading">
                            <div class="btnHeader">
                                <div id="rytSide" class="btn-toolbar nomargin align-right">
                                    <button data-toggle="dropdown" class="btn btn-small btn-primary dropdown-toggle" context="contextAssetAttachmentsInTaskPopup" data-toggle='modal' data-role="TaskFileAttachmentMenuOption">
                                        {{'LanguageContents.Res_1572.Caption'|translate}}
                                        <span class="caret"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="rightSection">
                                <div class="upload_box">
                                    <div class="attachmentContainer" id="assetscontainerTaskadmin">
                                        <div id="assetlistActivityTaskadmin" class="assetlistActivity"></div>
                                        <div id="assetlistActivityTaskadminexisting" class="assetlistActivity">
                                        </div>
                                        <div class="loadIcon-large" ng-show="uploadingInProgress"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="attachment-progress pull-left" id="totalAssetActivityAttachProgresstaskadmin" ng-show="adminaddfromComputer"></div>
            <button id="admintempTaskCreation" ng-show="ngShowadmintempTaskCreation" class="btn btn-small btn-primary"></button>
            <button id="UpdateTaskBtn" ng-disabled="TaskUpdate" ng-click="UpdateTask()" ng-show="ngShowTaskUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
            <button id="CreateNewTaskBtn" ng-disabled="TaskSave" ng-click="CreateNewTask()" ng-show="ngShowTaskCreation" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button class="btn btn-small" ng-click="CloseDampopup();">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal" role="dialog" tabindex="-1" id="TaskCreationModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3>{{'LanguageContents.Res_604.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="bs-docs-example">
                <div id="myTabRole">
                    <div ng-model="TaskListAddEdit" id="TaskListTab" class="tab-pane fade active in">
                        <div class="control-group">
                            <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                <input name="inputcaption" ng-model="Caption" type="text" id="Caption" placeholder="Caption" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                <textarea class="small-textarea" name="inputdescription" ng-model="Description" id="Textarea1" rows="3" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <span ng-show="itemform.inputcaption.$dirty && itemform.inputcaption.$error.required"></span><span ng-show="itemform.inputdescription.$dirty && itemform.inputdescription.$error.required"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="SaveTaskList()" id="UpdateTaskLibrary" ng-model="UpdateTaskLibrary" ng-show="EnableTaskListUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
            <button ng-click="SaveTaskList()" id="AddTaskLibrary" ng-model="AddTaskLibrary" ng-show="EnableTaskListAdd" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
    <div id="attachmentPopup" class="modal" tabindex="-1" style="display: none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="myModalLabel">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="filescontainer">
            <div class="attachmentContainer">
                <div id="filelistWorkFlow"></div>
            </div>
            <div class="attachment-dragfiles" id="dragfilesAttachment">
                <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
                <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
                <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
                <div><a href="JavaScript:void(0);" id="pickfiles" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="attachment-progress pull-left" id="totalProgress"></div>
            <a id="uploadfiles" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a><a id="pickfilesAlternate" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a><a id="clearUploader" href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
    </div>
    <div id="addLinkPopup" class="modal AddLink" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="H7">{{'LanguageContents.Res_1504.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group linkURL">
                    <label class="control-label">{{'LanguageContents.Res_1576.Caption'|translate}}</label><div class="controls">
                        <input type="text" id="Text1" ng-model="addtxtLinkName" placeholder="Link Name" class="linkName" /><select class="linkType" ui-select2 ng-model="addLinkType" id="addLinkType" name="LinkType" data-placeholder="Select link Type"><option ng-repeat="item in DefaultSettings.LinkTypes" value="{{item.Id}}">{{item.Type}}</option>
                        </select><br />
                        <input class="linkURL" type="text" id="addtxtLinkURL" ng-model="addtxtLinkURL" placeholder="URL" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer"><a id="addLink" href="JavaScript:void(0);" ng-click="AttachLink()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</a><a href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a></div>
    </div>
    <div id="EditLinkPopup" aria-hidden="false" data-width="750px" style="display: none;" class="modal AddLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="H2">{{'LanguageContents.Res_4231.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group linkURL">
                    <label class="control-label">{{'LanguageContents.Res_1576.Caption'|translate}}</label><div class="controls">
                        <input type="text" id="adminAddTasktxtLinkName" ng-model="txtLinkName" placeholder="Link Name" class="linkName" /><select class="linkType" ui-select2 ng-model="linkType" id="tskdrplinktype" name="LinkType" data-placeholder="Select link Type"><option ng-repeat="item in DefaultSettings.LinkTypes" value="{{item.Id}}">{{item.Type}}</option>
                        </select><br />
                        <input class="linkURL" type="text" id="edittxtLinkURL" ng-model="txtLinkURL" placeholder="URL" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer"><a id="a1" href="JavaScript:void(0);" ng-click="SaveLinkObject()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4871.Caption'|translate}}</a><a href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a></div>
    </div>
    <div data-width="580px" aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal in editAttachment" id="EditAttachementPopup" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3>{{'LanguageContents.Res_4227.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <table id="EditAttachmentFileHolder" class="table table-normal">
                <thead>
                    <tr>
                        <td>{{'LanguageContents.Res_4217.Caption'|translate}}:</td>
                        <td>{{'LanguageContents.Res_4414.Caption'|translate}}</td>
                        <td>{{'LanguageContents.Res_22.Caption'|translate}}:</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="modal-footer"><a id="changeLinkFriendlyName" href="JavaScript:void(0);" ng-click="SaveFileObject()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4871.Caption'|translate}}</a><a ng-click="Clear();" aria-hidden="true" data-dismiss="modal" class="btn btn-small ng-binding" href="JavaScript:void(0);">{{'LanguageContents.Res_14.Caption'|translate}}</a></div>
    </div>
    <ul id="contextAssetAttachmentsInTaskPopup" style="display: none;" class="dropdown-menu contexMenu">
        <li><a href="JavaScript:void(0);" id="pickassetsAlternatetaskadmin">{{'LanguageContents.Res_4040.Caption'|translate}}</a></li>
    </ul>
    <div id="ExportTasklistReportPageModel" class="modal operationInProgressModal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
        <div aria-labelledby="myModalLabel" id="Div4">
            <div class="modal-header">
                <h2>{{'LanguageContents.Res_4257.Caption'|translate}}</h2>
            </div>
            <div class="modal-body">
                <div class="msgContainer">
                    <span class="bgIcon"></span>
                    <div id="Span2" class="mssg">
                        <div class="mssgHeader">
                            <span class="headerIcon">
                                <img src="assets/img/loading.gif" alt="loadingImg" /></span><span class="headerMsg">{{'LanguageContents.Res_4430.Caption'|translate}}...</span>
                        </div>
                        <div class="mssgContent"><span class="descMsg">{{'LanguageContents.Res_4851.Caption'|translate}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ImportTasklistReportPageModel" class="modal operationInProgressModal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
        <div aria-labelledby="myModalLabel" id="Div6">
            <div class="modal-header">
                <h2>Import task list</h2>
            </div>
            <div class="modal-body">
                <div class="msgContainer">
                    <span class="bgIcon"></span>
                    <div id="Span3" class="mssg">
                        <div class="mssgHeader">
                            <span class="headerIcon">
                                <img src="assets/img/loading.gif" alt="loadingImg" /></span><span class="headerMsg">{{'LanguageContents.Res_4430.Caption'|translate}}...</span>
                        </div>
                        <div class="mssgContent"><span class="descMsg">{{'LanguageContents.Res_4851.Caption'|translate}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal dynamicTreePopup" id="AssetCategoryInLibrary" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3 id="H8">{{'LanguageContents.Res_4734.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div id="dynamicAssetTypeTreeInLibrary"></div>
            </div>
        </div>
        <div class="modal-footer"><a href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true">{{'LanguageContents.Res_14.Caption'|translate}}</a></div>
    </div>
    <div id="filescontainerfrTask" style="display: none;">
        <button id="pickfilesUploaderAttrTask" class="pickFiles" type="submit"></button>
    </div>
    <div id="filescontainerooTaskCreate" style="display: none;">
        <button id="pickfilesUploaderAttrTaskCreate" class="pickFiles" type="submit"></button>
    </div>
    <ul ng-show="showPhaseAdminContext" id="phaseAdminAction" class="dropdown-menu contexMenu">
        <li><a id="DeletePhase" href="JavaScript:void(0);" ng-click="RemovePhase(CurrPhaseObj)">Delete Phase</a></li>
        <li><a id="addStage" href="JavaScript:void(0);" ng-click="AddNewStep(CurrPhaseObj.ID)">Add Stage </a></li>
    </ul>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="NewTaskTemplatePhase" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3 id="H3">{{'LanguageContents.Res_5581.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="tasktemplatename">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                            <input type="text" ng-model="Phasename" id="Text2" placeholder="Name" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="tasktemplatedesc">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                            <textarea class="small-textarea" ng-model="Phasedescription" id="Textarea2" placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="AddNewPhase()" ng-model="addtasktemplatephase" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="NewTaskTemplateStep" style="display: none;">
        <div class="modal-header">
            <button ng-click="CloseAddTask()" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button><h3 id="H6">{{'LanguageContents.Res_5576.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label align-left">Name:</label><div class="controls">
                            <input id="Text4" ng-model="TaskTemplateStepName" name="NewTaskName" type="text" placeholder="Name" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label align-left">Description:</label><div class="controls">
                            <textarea class="small-textarea" ng-model="TaskTemplateStepDescription" name="TaskDescription" placeholder="Description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label align-left">Duration:</label><div class="controls">
                            <select ui-select2 ng-model="TaskTemplateStepduration">
                                <option ng-repeat="dur in PhaseDuration" value="{{dur.ID}}">{{dur.Caption}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label align-left">Min Approval:</label><div class="controls">
                            <select ui-select2 ng-model="TaskTemplateStepMinApproval">
                                <option ng-repeat="i in PhaseMinApproval">{{i}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label align-left">Roles:</label><div class="controls">
                            <select ui-select2 ng-model="TaskTemplateSteproles">
                                <option value="0">Select Approval Role</option>
                                <option ng-repeat="role in templateData.UserRoles" value="{{role.Id}}">{{role.Caption}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group" ng-hide="true">
                        <label class="control-label align-left">Is Mandatory:</label><div class="controls">
                            <label class="checkbox checkbox-custom inlineBlock">
                                <input type="checkbox" ng-model="TaskTemplateIsMandatory" name="TaskTemplateIsMandatory" id="Checkbox1"><i class="checkbox" ng-class="{'checkbox checked':TaskTemplateIsMandatory, 'checkbox': !TaskTemplateIsMandatory}"></i><span class="va-middle">User can not remove step</span></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-small btn-primary" ng-click="AddStep(1)">Save</button>
            <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
    <div id="selectApproverPopup" class="modal selectApproverPopup" data-width="750px" aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
        <div class="modal-header">
            <button ng-click="CloseAddTask()" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button><h3 id="H4">Members</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="blockContainer">
                    <span class="block margin-bottom10x">Members who are already presented in the entity</span><table class="table table-condensed table-normal-left">
                        <thead>
                            <tr>
                                <th></th>
                                <th><span>Member</span></th>
                                <th><span>Role in entity</span></th>
                                <th><span>Approval role</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label class="checkbox checkbox-custom">
                                        <input type="checkbox" /><i class="checkbox"></i></label></td>
                                <td><span>Prabhudutta Tripathy</span></td>
                                <td><span>Editor</span></td>
                                <td><span>BudgetApprover</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkbox checkbox-custom">
                                        <input type="checkbox" /><i class="checkbox"></i></label></td>
                                <td><span>Prabhudutta Tripathy</span></td>
                                <td><span>Editor</span></td>
                                <td><span>BudgetApprover</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="blockContainer">
                    <span class="block margin-bottom10x">Choose global users to assign the task and add it to the entity with specific role</span><div class="fltrPane">
                        <input type="text" placeholder="Filter" /><select><option>Budget Approver</option>
                        </select>
                    </div>
                    <table class="table table-condensed table-normal-left widthcent">
                        <thead>
                            <tr>
                                <th></th>
                                <th><span>User</span></th>
                                <th><span>Approval role</span></th>
                                <th><span>Role in entity</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label class="checkbox checkbox-custom">
                                        <input type="checkbox" /><i class="checkbox"></i></label></td>
                                <td><span>Prabhudutta Tripathy</span></td>
                                <td><span>BudgetApprover</span></td>
                                <td><span>
                                    <select>
                                        <option ng-repeat="role in templateData.UserRoles" value="{{role.Id}}">{{role.Caption}}</option>
                                    </select></span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkbox checkbox-custom">
                                        <input type="checkbox" /><i class="checkbox"></i></label></td>
                                <td><span>Prabhudutta Tripathy</span></td>
                                <td><span>BudgetApprover</span></td>
                                <td><span>
                                    <select>
                                        <option ng-repeat="role in templateData.UserRoles" value="{{role.Id}}">{{role.Caption}}</option>
                                    </select></span></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkbox checkbox-custom">
                                        <input type="checkbox" /><i class="checkbox"></i></label></td>
                                <td><span>Prabhudutta Tripathy</span></td>
                                <td><span>BudgetApprover</span></td>
                                <td><span>
                                    <select>
                                        <option ng-repeat="role in templateData.UserRoles" value="{{role.Id}}">{{role.Caption}}</option>
                                    </select></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary">Save & Close</button>
            <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
    <ul id="thumbnailActionMenu" style="display: none; position: fixed; left: 699px; top: 316px; z-index: 999999;" class="dropdown-menu contexMenu">
        <li><a tabindex="-1" ng-click="UpdateStep()" href="javascript:void(0)" class="ng-binding">Edit</a></li>
        <li ng-show="div" class="divider"></li>
        <li ng-hide="true"><a tabindex="-1" ng-click="AddStep(2)" href="javascript:void(0)" class="ng-binding">Update</a></li>
        <li ng-show="div" class="divider"></li>
        <li><a tabindex="-1" ng-click="DeleteStep()" href="javascript:void(0)" class="ng-binding">Delete</a></li>
        <li ng-show="div" class="divider"></li>
    </ul>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="existingTemplatePopup" class="modal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3 id="H5">Approval flow templates</h3>
        </div>
        <div class="modal-body">
            <div class="width5x margin-bottom20x">
                <table class="table table-normal table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th data-sort-ignore="true" class="checkboxtd"><span>
                                <label class="checkbox checkbox-custom pull-right">
                                    <input type="checkbox" ng-model="selectedAlltemplates" ng-click="checkAllTemplates()" id="Checkbox3"><i class="checkbox" ng-class="{'checkbox checked':selectedAlltemplates, 'checkbox': !selectedAlltemplates}"></i></label></span></th>
                            <th class="colFirst"><span>ID</span></th>
                            <th><span>Name</span></th>
                            <th><span>Description</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="temp in templateData.templateSrcData">
                            <td><span>
                                <label class="checkbox checkbox-custom pull-right">
                                    <input id="{{temp.ID}}" type="checkbox" ng-click="RemoveCheckallSelection(temp,$event)" ng-model="temp.Selected"><i class="checkbox" ng-class="{'checkbox checked':temp.Selected, 'checkbox': !temp.Selected}"></i></label></span></td>
                            <td class="colFirst"><span>{{temp.ID}}</span></td>
                            <td><span>{{temp.Name}}</span></td>
                            <td><span>{{temp.Description}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary pull-right" ng-click="AddExistingTemplate()" data-toggle="modal">Add</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
