﻿<div ng-controller="mui.admin.tasktemplateCtrl">
    <div class="AdminMargin">
        <div class="box box-noborder">
            <div class="box-header">
                <h4>{{'LanguageContents.Res_639.Caption'|translate}}</h4>
            </div>
            <div class="box-content">
                <div class="box-content-margin taskListTemplate">
                    <form class="form-horizontal ng-pristine ng-valid" id="dynForm">
                        <ul class="ListHolder" id="tasltempListholder">
                            <li ng-repeat="template in TaskTempConditionResult ">
                                <h4 class="stepHeader">{{template.Id}}.{{template.Name}} <span>({{template.Description}})</span><i class="pull-right menuIcon icon-remove" ng-click="DeleteTemplate(template.Id)"></i><i class="pull-right menuIcon icon-edit" ng-click="UpdateTemplate(template.Id,template.Name,template.Description)"></i></h4>
                                <div id="TaskConditontext{{template.Id}}" class="taskConditionText">
                                    <span ng-bind-html="renderHtml(DefaultCriteria(template.TemplateCriteria))"></span>
                                    <a href="#moduleContextTaskCond" data-toggle="modal" class="btn btn-small btn-primary pull-right" ng-click="AddTaskCondition(template.Id)">{{'LanguageContents.Res_603.Caption'|translate}}</a>
                                </div>
                                <div id="TaskConditonFulFilment{{template.Id}}" class="taskConditionFulfilment" style="display: none;">
                                    <div class="ObjectiveFullFillMent">
                                        <div id="TaskFulfillmentMetadatatbody{{template.Id}}"></div>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#moduleContextTaskCond" data-toggle="modal" data-dismiss="modal" class="btn btn-small ng-binding" ng-click="Backward(template.Id)">{{'LanguageContents.Res_7.Caption'|translate}}</a>
                                        <a href="javascript:void(0)" class="btn btn-small btn-primary" ng-click="SaveTaskFulfilment(template.Id)">{{'LanguageContents.Res_64.Caption'|translate}}</a>
                                    </div>
                                </div>
                                <ul id="ListHolderID1" class="sortable-inner">
                                    <li id="{{tasklist.Id}}" data-templateid="{{template.Id}}" class="ListItem InProgress cursor-move" ng-repeat="tasklist in template.TaskListDetails">
                                        <div class="row-fluid">
                                            <div class="span3">{{tasklist.Id}}.{{tasklist.Caption}}</div>
                                            <div class="span6"><span>{{tasklist.Description}}</span></div>
                                            <div class="span2" ng-switch on="0==tasklist.TotalTasks"><span ng-switch-when="false" class="important">{{tasklist.TotalTasks}} {{'LanguageContents.Res_627.Caption'|translate}}</span><span ng-switch-default>{{'LanguageContents.Res_628.Caption'|translate}}</span></div>
                                            <div class="span1"><i class="pull-right menuIcon icon-remove" ng-click="DeleteTaskList(tasklist.Id,template.Id)"></i><i class="pull-right menuIcon icon-edit" ng-click="ShowUpdateDialogTaskList(tasklist.Id,tasklist.Caption,tasklist.Description)"></i></div>
                                        </div>
                                    </li>
                                    <div class="text-right">
                                        <a href="javascript:void(0)" role="button" ng-click="ShowTaskListmodal(template.Id)" class="btn btn-small btn-primary">{{'LanguageContents.Res_625.Caption'|translate}}</a>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                        <span ng-show="TaskTempConditionResult.length==0">{{'LanguageContents.Res_4521.Caption'|translate}}</span>
                    </form>
                </div>
            </div>
            <div class="box-footer align-right">
                <button type="submit" ng-click="ShowTemplatecreationmodel()" class="btn btn-primary btn-small">{{'LanguageContents.Res_606.Caption'|translate}}</button>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="920px" role="dialog" tabindex="-1" class="modal" id="TaskListShowModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">{{'LanguageContents.Res_604.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="dynamic_Controls">
            <div class="row-fluid">
                <div class="span12 height2halfx manageOverflow">
                    <table id="taskListtable" class="table table-bordered table-striped">
                        <tr id="Tr2">
                            <th>{{'LanguageContents.Res_1.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_22.Caption'|translate}}</th>
                            <th><span>
                                <label class='checkbox checkbox-custom pull-right'>
                                    <input id='TaskListSelectAll' type='checkbox'><i class='checkbox'></i></label></span></th>
                        </tr>
                        <tr ng-repeat="taskList in TaskLibraryList" id="Tr3">
                            <td>{{taskList.LibraryName}}</td>
                            <td>{{taskList.LibraryDescription}}</td>
                            <td><span>
                                <label class='checkbox checkbox-custom pull-right'>
                                    <input data-childcheckbox="check" data-id="{{taskList.ID}}" type='checkbox'><i class='checkbox'></i></label></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="SelectTaskLists()" ng-model="SelectedtaskLists" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="TasktemplateCreationModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>{{TaskTemplatePopUpText}}</h3>
        </div>
        <div class="modal-body">
            <form id="itemform">
                <div id="myTabRole">
                    <div ng-model="TaskTempTabId" id="TaskTempTab" class="tab-pane fade active in">
                        <div class="control-group" ng-show="false">
                            <label class="control-label" for="TaskListID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                <input type="text" ng-model="TasktemplateID" id="TaskListID" placeholder="ID">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                <input name="inputcaption" ng-model="TempCaption" type="text" id="Caption" placeholder="Caption" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                <textarea class="small-textarea" name="inputdescription" ng-model="TempDescription" id="Textarea1" rows="3" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <span ng-show="itemform.inputcaption.$dirty && itemform.inputcaption.$error.required"></span><span ng-show="itemform.inputdescription.$dirty && itemform.inputdescription.$error.required"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button ng-click="SaveTaskTempList()" id="AddTaskLibrary" ng-model="AddTasktemplate" class="btn btn-small btn-primary" ng-disabled="itemform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="TaskListUpdationmodal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>Edit task list</h3>
        </div>
        <div class="modal-body">
            <form id="taskListForm">
                <div class="bs-docs-example">
                    <div id="Div2">
                        <div ng-model="TaskListTabId" id="Div3" class="tab-pane fade active in">
                            <div class="control-group" ng-show="false">
                                <label class="control-label" for="TaskListID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                    <input type="text" ng-model="TaskListID" id="Text1" placeholder="ID">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label><div class="controls">
                                    <input id="inputcaption" name="inputcaption" ng-model="TaskListCaption" type="text" id="Text2" placeholder="Caption" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                    <textarea class="small-textarea" name="inputdescription" ng-model="TaskListDescription" id="Textarea2" rows="3" placeholder="Description" required></textarea>
                                </div>
                            </div>
                            <span ng-show="taskListForm.inputcaption.$dirty && taskListForm.inputcaption.$error.required"></span><span ng-show="taskListForm.inputdescription.$dirty && taskListForm.inputdescription.$error.required"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button ng-click="UpdateTaskList()" id="Button1" ng-model="UpdateTaskList" class="btn btn-small btn-primary" ng-disabled="taskListForm.$invalid">{{'LanguageContents.Res_64.Caption'|translate}}</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
