﻿<div class="row-fluid" ng-controller="mui.admin.TemplateEnginesCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>Template Engines</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="horizontalform">
                            <div id="TemplateEngines">
                                <table id="templateEngineTbl" class="table table-bordered table-striped footable" data-before-filtering="filteringTempEngEventHandler">
                                    <thead>
                                        <tr>
                                            <th id="th0" ng-click="sortEnable('th0')" class="widthhalfx"><span>{{'LanguageContents.Res_4753.Caption'|translate}}</span></th>
                                            <th id="th1" ng-click="sortEnable('th1')" class="width1x"><span>{{'LanguageContents.Res_5563.Caption'|translate}}</span></th>
                                            <th id="th2" ng-click="sortEnable('th2')" class="width1halfx"><span>{{'LanguageContents.Res_5564.Caption'|translate}}</span></th>
                                            <th id="th3" ng-click="sortEnable('th3')"><span>{{'LanguageContents.Res_5565.Caption'|translate}}</span></th>
                                            <th data-sort-ignore="true" ng-hide="true"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="tempEngine in templateEngineList| filter:templEnginFilter" class="OptimakerSettingCollection" footablefooter>
                                            <td><span>{{$index+1}}</span></td>
                                            <td><span>{{tempEngine.EngineType}}</span></td>
                                            <td><span>{{tempEngine.Description}}</span></td>
                                            <td><span>{{tempEngine.ServerURL}}</span></td>
                                            <td class="colEdit">
                                                <a class="iconLink" ng-click="tempEngineEdit(tempEngine.ID)"><i class="icon-edit"></i></a>
                                            </td>
                                            <td class="colDelete">
                                                <a class="iconLink" data-toggle="modal" ng-click="tempEngineDelete(tempEngine.ID)"><i class="icon-remove"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <a class="btn btn-small btn-primary" href="javascript:void(0);" ng-click="OpenTempEngineDetailsPopUp()">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                </div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="tempEngineDetails" data-width="350px" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3 id="myModalLabel">{{popupName}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div>
                            <div class="control-group">
                                <label class="control-label" for="tempEngineType">{{'LanguageContents.Res_5563.Caption'|translate}}</label><div class="controls">
                                    <select ui-select2 id="templEnginType" ng-model="templEnginType">
                                        <option value="0"></option>
                                        <option value="1">{{'LanguageContents.Res_5566.Caption'|translate}}</option>
                                        <option value="2">{{'LanguageContents.Res_5567.Caption'|translate}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="TemplateId">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                    <textarea class="small-textarea" ng-model="Templatedesc" id="Textarea1" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="serverUrl">{{'LanguageContents.Res_5565.Caption'|translate}}</label><div class="controls">
                                    <input type="text" id="serverurl" class="inputBlock" placeholder="{{'LanguageContents.Res_5565.Caption'|translate}}" ng-model="ServerUrl" ng-change="getResourceUrl(ServerUrl)" />
                                </div>
                            </div>
                            <div class="control-group" ng-show="showResourceUrl">
                                <label class="control-label" for="resourceUrl">{{'LanguageContents.Res_5575.Caption'|translate}}</label><div class="controls">
                                    <textarea class="small-textarea" ng-model="ResourceUrl" id="resourceUrl" ng-disabled="true"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="saveUpdateTemplateEngine(tempEngineID)" ng-disabled="BtnSaveShow" ng-model="buttonText" ng-model="tempEngineID" class="btn btn-small btn-primary">{{buttonText}}</button>
                    <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
