﻿<div ng-controller="mui.admin.themesettingsCntrl">
    <div class="row-fluid">
        <div class="span12">
            <div class="AdminMargin adminForm">
                <div class="pageHeader">
                    <h3>{{'LanguageContents.Res_195.Caption'|translate}}</h3>
                </div>
                <div class="pageInfo">
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button><h4>{{'LanguageContents.Res_194.Caption'|translate}}</h4>
                        {{'LanguageContents.Res_193.Caption'|translate}}
                    </div>
                </div>
                <div class="pageContent">
                    <table class="table adminFormTable">
                        <tbody class="noBorderBlock">
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_195.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_192.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div class="controls nomargin ">
                                        <select ui-select2 data-placeholder="Select Theme" ng-change="RefreshTheme()"
                                            ng-model="Themedata.root.ThemeDataBlck.Theme" id="Theme">
                                            <option value="0">{{'LanguageContents.Res_191.Caption'|translate}}</option>
                                            <option ng-repeat="item in ThemeDataBlcks  track by $index" value="{{item.ID}}">{{item.NAME}}</option>
                                        </select>
                                    </div>
                                    <div class="controls margin-top5x colorPickerContainer">
                                        <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.ThemeDataBlck.ThemeColor" id="ThemeColor" required>
                                        <uicolorpicker ng-model="Themedata.root.ThemeDataBlck.ThemeColor" options="ColorOptions"></uicolorpicker>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_191.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_192.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <input type="text" ng-model="Themedata.root.ThemeDataBlck.ThemeName" id="ThemeName" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr class="blockHeader">
                                <td>
                                    <h4>Application base theme</h4>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_1186.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_1198.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <div class="controls colorPickerContainer">
                                            <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.Aplbasetheme.BaseColor" id="BaseColor" required>
                                            <uicolorpicker ng-model="Themedata.root.Aplbasetheme.BaseColor" options="ColorOptions" ng-change="shadeColor(Themedata.root.Aplbasetheme.BaseColor, 0, 'baseAppColor')"></uicolorpicker>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_1199.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_1200.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <div class="controls colorPickerContainer">
                                            <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.Aplbasetheme.lftblkcloro" id="lftblkcloro" required>
                                            <uicolorpicker ng-model="Themedata.root.Aplbasetheme.lftblkcloro" options="ColorOptions" ng-change="shadeColor(Themedata.root.Aplbasetheme.lftblkcloro, 0, 'lftBlockBaseBG')"></uicolorpicker>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr class="blockHeader">
                                <td>
                                    <h4>{{'LanguageContents.Res_176.Caption'|translate}}</h4>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_184.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_183.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <div class="controls colorPickerContainer">
                                            <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.TopNavBlck.BckGrdColor" id="BckgrdColor" required>
                                            <uicolorpicker ng-model="Themedata.root.TopNavBlck.BckGrdColor" options="ColorOptions" ng-change="shadeColor(Themedata.root.TopNavBlck.BckGrdColor, -10, 'darkenTopNavBG')"></uicolorpicker>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_182.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_181.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <div class="controls colorPickerContainer">
                                            <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.TopNavBlck.BckGrdMouseOverColor" id="BckMouseColor" required>
                                            <uicolorpicker ng-model="Themedata.root.TopNavBlck.BckGrdMouseOverColor" options="ColorOptions" ng-change="shadeColor(Themedata.root.TopNavBlck.BckGrdMouseOverColor, -10, 'darkenTopNavFG')"></uicolorpicker>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_180.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_179.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <div class="controls colorPickerContainer">
                                            <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.TopNavBlck.Foregroundcolour" id="BckForeColor" required>
                                            <uicolorpicker ng-model="Themedata.root.TopNavBlck.Foregroundcolour" options="ColorOptions"></uicolorpicker>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_178.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_177.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <div class="controls colorPickerContainer">
                                            <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.TopNavBlck.ForegroundmouseOverColor" id="BckForeMouseColor" required>
                                            <uicolorpicker ng-model="Themedata.root.TopNavBlck.ForegroundmouseOverColor" options="ColorOptions"></uicolorpicker>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr class="blockHeader">
                                <td>
                                    <h4>{{'LanguageContents.Res_175.Caption'|translate}}</h4>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_184.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_174.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <div class="controls colorPickerContainer">
                                            <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.LogoBar.LogoBckGrdColor" id="LogoBckGrndColor" required>
                                            <uicolorpicker ng-model="Themedata.root.LogoBar.LogoBckGrdColor" options="ColorOptions" ng-change="shadeColor(Themedata.root.LogoBar.LogoBckGrdColor, -10, 'darkenTopLogoBG')"></uicolorpicker>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_180.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_173.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <div class="controls colorPickerContainer">
                                            <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.LogoBar.LogoForegroundColor" id="LogoForeGrdColor" required>
                                            <uicolorpicker ng-model="Themedata.root.LogoBar.LogoForegroundColor" options="ColorOptions" ng-change="shadeColor(Themedata.root.LogoBar.LogoForegroundColor, -10, 'darkenTopLogoFG')"></uicolorpicker>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_178.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_172.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <div class="controls colorPickerContainer">
                                            <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.LogoBar.LogoForegroundmouseOverColor" id="LogoForeMouseColor" required>
                                            <uicolorpicker ng-model="Themedata.root.LogoBar.LogoForegroundmouseOverColor" options="ColorOptions"></uicolorpicker>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr class="blockHeader">
                                <td>
                                    <h4>{{'LanguageContents.Res_171.Caption'|translate}}</h4>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_170.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_169.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <div class="controls colorPickerContainer">
                                            <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.Buttonlink.Primarbtncolour" id="PrmyBtnColor" required>
                                            <uicolorpicker ng-model="Themedata.root.Buttonlink.Primarbtncolour" options="ColorOptions" ng-change="shadeColor(Themedata.root.Buttonlink.Primarbtncolour, -10, 'darkenbtnPrimBG')"></uicolorpicker>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_168.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_167.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <div class="controls colorPickerContainer">
                                            <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.Buttonlink.Defaultbtncolour" id="DefltBtnColor" required>
                                            <uicolorpicker ng-model="Themedata.root.Buttonlink.Defaultbtncolour" options="ColorOptions" ng-change="shadeColor(Themedata.root.Buttonlink.Defaultbtncolour, -10, 'darkenbtnBG')"></uicolorpicker>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_166.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_165.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <div class="controls colorPickerContainer">
                                            <input type="text" maxlength="6" name="colorcode" ng-model="Themedata.root.Buttonlink.Linkcolour" id="LnkColor" required>
                                            <uicolorpicker ng-model="Themedata.root.Buttonlink.Linkcolour" options="ColorOptions" ng-change="shadeColor(Themedata.root.Buttonlink.Linkcolour, -10, 'darkenlinkFG')"></uicolorpicker>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr class="blockHeader">
                                <td>
                                    <h4>{{'LanguageContents.Res_164.Caption'|translate}}</h4>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="colLabel">
                                    <blockquote>
                                        <p>{{'LanguageContents.Res_163.Caption'|translate}}</p>
                                        <small>{{'LanguageContents.Res_162.Caption'|translate}}</small>
                                    </blockquote>
                                </td>
                                <td class="colControl">
                                    <div>
                                        <select ui-select2 data-placeholder="Select font size" ng-model="Themedata.root.Font.Fontsize" id="themefontsize">
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <button type="button" ng-click="updateThemeBlock()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                                    <button type="button" ng-click="Restorevalues()" class="btn btn-small btn-primary">{{'LanguageContents.Res_161.Caption'|translate}}</button></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
