﻿<div ng-controller="mui.admin.updatesCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>Updates</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="updateVersion">
                            <form class="form-horizontal">
                                <div class="row-fluid">
                                    <div class="control-group">
                                        <label class="control-label">
                                            {{'LanguageContents.Res_4004.Caption'|translate}}
                                        </label>
                                        <label class="control-label fieldValue">
                                            {{CurrentVersion}}
                                        </label>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">
                                            {{'LanguageContents.Res_4163.Caption'|translate}}
                                        </label>
                                        <label class="control-label fieldValue">
                                            {{Client}}
                                        </label>
                                    </div>
                                    <div class="control-group" style="display: none;">
                                        <label class="control-label">
                                            {{'LanguageContents.Res_4463.Caption'|translate}}
                                        </label>
                                        <label class="control-label fieldValue">
                                            {{License}}
                                        </label>
                                    </div>
                                    <!--<div class="control-group" ng-show="AvailableUpdates.length > 0">
                                        <label class="control-label">New Updates Available</label><table class="table table-hover table-bordered tableNewVersion">
                                            <thead>
                                                <tr>
                                                    <th class="col1">{{'LanguageContents.Res_4894.Caption'|translate}}</th>
                                                    <th class="col2">{{'LanguageContents.Res_4905.Caption'|translate}}</th>
                                                    <th class="col3">{{'LanguageContents.Res_4876.Caption'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in AvailableUpdates">
                                                    <td class="col1">{{item.NewVersion}}</td>
                                                    <td class="col2"><span ng-repeat="feature in availfeatures | filter:filterfeature(item)">{{feature.feature}}<br />
                                                    </span>
                                                        <div class="downloadImg" ng-show="item.DocPath != ''">
                                                            <img ng-src="{{TenantFileInfo}}DAMFiles/StaticPreview/ZIP.png" alt="Download as compressed file" my-qtip2 qtip-content="Download as compressed file" ng-click="Downloadpdf(item.DocPath,$event)" /></div>
                                                    </td>
                                                    <td class="col3">
                                                      <a class="btn btn-success btnupdagrade" id="iframenewversion" href="javascript:void(0)" data-updateid="{{item.Id}}" ng-click="redirecttoUpgradeTool(item.Id)"><i class="icon-download-alt"></i>
                                                        {{'LanguageContents.Res_4162.Caption'|translate}}!
                                                    </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>-->

                                    <div class="control-group" ng-show="PreviousUpdates.length > 0">
                                        <label class="control-label">{{'LanguageContents.Res_4656.Caption'|translate}}</label><table class="table table-hover table-bordered tableNewVersion">
                                            <thead>
                                                <tr>
                                                    <th class="col1">{{'LanguageContents.Res_4894.Caption'|translate}}</th>
                                                    <th class="col2">{{'LanguageContents.Res_563.Caption'|translate}}</th>
                                                    <th class="col3">{{'LanguageContents.Res_4773.Caption'|translate}}</th>
                                                    <th class="col4">{{'LanguageContents.Res_4873.Caption'|translate}}</th>
                                                    <th class="col5">{{'LanguageContents.Res_814.Caption'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item1 in PreviousUpdates">
                                                    <td class="col1">{{item1.Version}}</td>
                                                    <td class="col2"><span ng-repeat="feature in prevFeatures | filter:filterfeature(item1)">{{feature.feature}}<br />
                                                    </span>
                                                        <div ng-show="item1.DocPath != ''" class="downloadImg">
                                                            <img ng-src="{{TenantFileInfo}}DAMFiles/StaticPreview/ZIP.png" alt="Download as compressed file" my-qtip2 qtip-content="Download as compressed file" ng-click="Downloadpdf(item1.DocPath,$event)" /></div>
                                                    </td>
                                                    <td class="col3">{{item1.Status}}</td>
                                                    <td class="col4">{{item1.username}}</td>
                                                    <td class="col5">{{item1.date}}
                                                       <!-- <div ng-show="item1.showbutton">
                                                            {{'LanguageContents.Res_4029.Caption'|translate}}
                                                            <br />
                                                            <button class="btn btn-danger btnupdagrade" id="btnrevert" data-updateid="{{item1.Id}}" ng-click="redirecttoUpgradeToolrevert(item1.Id)">
                                                                <i class="icon-undo"></i>
                                                                {{'LanguageContents.Res_4706.Caption'|translate}}
                                                            </button>
                                                        </div>-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
