﻿<div class="row-fluid" ng-controller="mui.admin.userregistrationlogoCtrl">
    <div class="span12">
        <div class="AdminMargin adminForm">
            <div class="pageHeader">
                <h3>User registration settings</h3>
            </div>
           <!-- <div class="pageInfo">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>{{'LanguageContents.Res_194.Caption'|translate}}</h4>
                    <span>{{'LanguageContents.Res_1111.Caption'|translate}}</span>
                </div>
            </div>-->
            <div class="pageContent">
                <table class="table adminFormTable">
                    <tbody>
                       <!-- <tr>
                            <td class="colLabel">
                                <blockquote>
                                    <p>{{'LanguageContents.Res_261.Caption'|translate}}</p>
                                    <small>{{'LanguageContents.Res_1112.Caption'|translate}}</small>
                                </blockquote>
                            </td>
                            <td class="colControl">
                                <div>
                                    <input type="text" ng-model="inputtitle" id="inputTitle" placeholder="Title" value="">
                                </div>
                            </td>
                        </tr>-->
                        <tr>
                            <td class="colLabel">
                                <blockquote>
                                    <p>{{'LanguageContents.Res_506.Caption'|translate}}</p>
                                    <small>{{'LanguageContents.Res_1113.Caption'|translate}}</small>
                                </blockquote>
                            </td>
                            <td class="colControl">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="controls">
                                        <div id="ImageUpload" class="fileupload-preview thumbnail logo">
                                            <img id="UserRegLogoimg" />
                                        </div>
                                        <div>
                                            <span class="btn btn-file btn-small">
                                                <span class="fileupload-new" id="pickfiles" href="#">{{'LanguageContents.Res_4729.Caption'|translate}}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!--<tr>
                            <td class="colLabel">
                                <blockquote>
                                    <p>{{'LanguageContents.Res_189.Caption'|translate}}</p>
                                    <small>{{'LanguageContents.Res_188.Caption'|translate}}</small>
                                </blockquote>
                            </td>
                            <td class="colControl">
                                <div class="controls nomargin ">
                                    <select ui-select2 data-placeholder="Select Insite" ng-model="Titledata.root.TitleBlock.LoginPosition">
                                        <option value="1">{{'LanguageContents.Res_187.Caption'|translate}}</option>
                                        <option value="2">{{'LanguageContents.Res_157.Caption'|translate}}</option>
                                    </select>
                                </div>
                            </td>
                        </tr>-->
                        <tr>
                            <td class="colLabel">
                                <blockquote>
                                    <p>{{'LanguageContents.Res_186.Caption'|translate}}</p>
                                    <small>{{'LanguageContents.Res_185.Caption'|translate}}</small>
                                </blockquote>
                            </td>
                            <td class="colControl">
                                <intentbuttons-radio data-toggle="buttons-radio" model='data.root.UserRegBlock.LogoAlign' changeselection="btntypetracker(id)" options='intentOptions'></intentbuttons-radio>
                            </td>
                        </tr>
                        <!--<tr class="blockHeader">
                            <td>
                                <h4>{{'LanguageContents.Res_190.Caption'|translate}}</h4>
                            </td>
                            <td></td>
                        </tr>-->
                        <tr>
                            <td class="colLabel">
                                <blockquote>
                                    <p>Background color</p>
                                    <small>We can set a default color code for the user registration page which will be used before loading the background image or in case of no background image present</small>
                                </blockquote>
                            </td>
                            <td class="colControl">
                                <div class="controls colorPickerContainer">
                                    <input type="text" maxlength="6" name="colorcode" ng-model="data.root.UserRegBlock.BackGrdColor" id="BackGrdColor" required>
                                    <uicolorpicker ng-model="data.root.UserRegBlock.BackGrdColor" options="ColorOptions"></uicolorpicker>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="colLabel">
                                <blockquote>
                                    <p>Background image</p>
                                    <small>We can choose a background image which will be visible in User registration page</small>
                                </blockquote>
                            </td>
                            <td class="colControl">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="controls">
                                        <div id="UserRegBgImage" class="fileupload-preview thumbnail loginBG">
                                            <img id="BackGrdImg" />
                                        </div>
                                        <div class="btnCell">
                                            <span class="btn btn-file btn-small">
                                                <span class="fileupload-new" id="BgPickImg" href="#">{{'LanguageContents.Res_4729.Caption'|translate}}</span>
                                            </span>
                                            <button id="btnDelete" type="submit" ng-click="Delete()" class="btn btn-small btn-danger margin-left5x">{{'LanguageContents.Res_18.Caption'|translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <button id="uploadfiles" type="submit" ng-click="save()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                            </td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="saving" id="savinguserreglogo" style="display: none">
        <div class="InProgress">
            <img src="assets/img/loading.gif" />
            <span>{{'LanguageContents.Res_5517.Caption'|translate}}...</span>
        </div>
    </div>
</div>
