﻿<div ng-controller="mui.admin.userCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_2130.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="UserDetailsForm" id="UserDetailsForm">
                            <input type="text" placeholder="Filter" class="pull-right" ng-model="filterOptions.filterText" /><br>
                            <br />
                            <div class="gridStyle" ng-grid="gridOptions"></div>
                        </form>
                    </div>
                </div>
                <div class="box-footer align-right">
                    <a class="btn btn-small btn-primary" ng-click="addUser()" href="javascript:void(0)">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                </div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal  editUserPopup" id="userModal" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="myModalLabel">{{'LanguageContents.Res_554.Caption'|translate}}</h3>
                </div>
                <div class="modal-body">
                    <form class="nomargin  form-float" name="UserDetailsForm" id="UserDetailsForm123">
                        <div class="row-fluid">
                            <div class="span12">
                                <h4 class="blockTitle">{{'LanguageContents.Res_4126.Caption'|translate}}</h4>
                                <div id="static_UserDetails">
                                    <div class="control-group" ng-show="false">
                                        <label class="control-label" for="UserID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                            <input type="text" ng-model="UserID" id="UserID" placeholder="ID">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="FirstName">{{'LanguageContents.Res_52.Caption'|translate}}</label><div class="controls">
                                            <input type="text" ng-model="FirstName" id="FirstName" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="LastName">{{'LanguageContents.Res_53.Caption'|translate}}</label><div class="controls">
                                            <input type="text" ng-model="LastName" id="LastName" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="control-group expanded">
                                        <label class="control-label" for="Email">{{'LanguageContents.Res_55.Caption'|translate}}</label><div class="controls">
                                            <input class="expanded" name="Email" ng-model="Email" type="email" id="Email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="control-group expanded" ng-show="UpdHide">
                                        <label class="control-label" for="Password">{{'LanguageContents.Res_54.Caption'|translate}}  <i class="icon-info-sign infoIcon" id="passwordPolicy"></i></label>
                                        <div class="controls">
                                            <input name="inputCap" ng-model="Password" type="password" id="userPassword" placeholder="Password" class="firstShortbox" />
                                            <input type="password" id="confirmpassword" ng-model="confirmpassword" placeholder="Confirm Password" class="secondShortbox" />
                                            <div class="psswdValidateStatus"></div>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="false">
                                        <label class="control-label" for="Language">{{'LanguageContents.Res_56.Caption'|translate}}</label><div class="controls">
                                            <input name="routes" ng-model="Language" type="text" id="Language" placeholder="Language">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="TemplateID">{{'LanguageContents.Res_62.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="TimeZone" name="TimeZone" ng-selected="" ng-model="TimeZone">
                                                <option value="">----{{'LanguageContents.Res_39.Caption'|translate}}----</option>
                                                <option value="-12:00">(UTC-12:00) International Date Line West</option>
                                                <option value="-11:00">(UTC-11:00) Coordinated Universal Time-11</option>
                                                <option value="-10:00">(UTC-10:00) Hawaii</option>
                                                <option value="-09:00">(UTC-09:00) Alaska</option>
                                                <option value="-08:00">(UTC-08:00) Pacific Time (US & Canada)</option>
                                                <option value="-07:00">(UTC-07:00) Arizona, Chihuahua, La Paz, Mazatlan</option>
                                                <option value="-06:00">(UTC-06:00) Central America, Central Time (US & Canada)</option>
                                                <option value="-05:00">(UTC-05:00) Bogota, Lima, Quito, Eastern Time (US & Canada)</option>
                                                <option value="-04:30">(UTC-04:30) Caracas</option>
                                                <option value="-04:00">(UTC-04:00) Asuncion, Atlantic Time (Canada)</option>
                                                <option value="-03:30">(UTC-03:30) Newfoundland, Buenos Aires</option>
                                                <option value="-02:00">(UTC-02:00) Mid-Atlantic, Azores</option>
                                                <option value="-00:00">(UTC) Coordinated Universal Time, Dublin, Edinburgh, Lisbon, London</option>
                                                <option value="+01:00">(UTC+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                                                <option value="+02:00">(UTC+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius, Athens, Bucharest, Istanbul</option>
                                                <option value="+03:00">(UTC+03:00) Moscow, St. Petersburg, Volgograd</option>
                                                <option value="+03:30">(UTC+03:30) Tehran</option>
                                                <option value="+04:00">(UTC+04:00) Abu Dhabi, Muscat</option>
                                                <option value="+04:30">(UTC+04:30) Kabul</option>
                                                <option value="+05:00">(UTC+05:00) Ekaterinburg, Islamabad, Karachi</option>
                                                <option value="+05:30">(UTC+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                                                <option value="+06:00">(UTC+06:00) Astana, Novosibirsk</option>
                                                <option value="+06:30">(UTC+06:30) Yangon (Rangoon)</option>
                                                <option value="+07:00">(UTC+07:00) Bangkok, Hanoi, Jakarta</option>
                                                <option value="+08:00">(UTC+08:00) Beijing, Chongqing, Hong Kong, Urumqi, Kuala Lumpur, Singapore</option>
                                                <option value="+09:00">(UTC+09:00) Osaka, Sapporo, Tokyo</option>
                                                <option value="+09:30">(UTC+09:30) Darwin</option>
                                                <option value="+10:00">(UTC+10:00) Brisbane</option>
                                                <option value="+11:00">(UTC+11:00) Magadan</option>
                                                <option value="+12:00">(UTC+12:00) Auckland, Wellington,Fiji</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="StartPage">{{'LanguageContents.Res_556.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="StartPage" name="StartPage" ng-selected="" ng-model="StartPage">
                                                <option value="">{{'LanguageContents.Res_39.Caption'|translate}}</option>
                                                <option ng-repeat="item in StartPages" value="{{item.Featureid}}">{{item.Caption}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="AssetAccess">{{'LanguageContents.Res_4034.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="AssetAccess" multiple="multiple" data-placeholder="Select Asset Access" ng-model="AssetAccess">
                                                <option ng-repeat="item in AssetAccessSrc" value="{{item.ID}}">{{item.Role}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="false">
                                        <label class="control-label" for="TemplateID">DashboardTemplateID</label><div class="controls">
                                            <select ui-select2 id="DashboardTemplateID" name="DashboardTemplateID" ng-selected="" ng-model="DashboardTemplateID">
                                                <option value="">{{'LanguageContents.Res_39.Caption'|translate}}</option>
                                                <option value="1">0</option>
                                                <option value="2">1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddlGlobalRole">{{'LanguageContents.Res_620.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="ddlGlobalRole" multiple="multiple" ng-model="ddlGlobalRole" data-placeholder="Select Global Role">
                                                <option ng-repeat="item in GlobalRoles" value="{{item.Id}}">{{item.Caption}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddlGlobalRole">{{'LanguageContents.Res_5601.Caption'|translate}}</label><div class="controls">
                                            <select ui-select2 id="ddlApprovalRole" form="ddlApprovalRole" multiple="multiple" ng-model="ddlApprovalRole" data-placeholder="Select Approval Role">
                                                <option ng-repeat="item in ApprovalRoles" value="{{item.ID}}">{{item.Caption}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group cg-chkbx" ng-show="IsSSO">
                                        <label class="control-label" for="SSOUser">{{'LanguageContents.Res_4764.Caption'|translate}}</label><div class="controls chkbx">
                                            <label class="checkbox">
                                                <input name="SSOUser" ng-model="inlineCheckboxSSOUserid" type="checkbox" id="SSOUser" placeholder="SSOUser" /></label>
                                        </div>
                                    </div>
                                    <div class="control-group cg-chkbx">
                                        <label class="control-label" for="IsApiUser">{{'LanguageContents.Res_4077.Caption'|translate}}</label><div class="controls chkbx">
                                            <label class="checkbox">
                                                <input name="IsApiUser" ng-model="inlineCheckboxIsApiUser" type="checkbox" id="IsApiUser" /></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span12">
                                <h4 class="blockTitle">{{'LanguageContents.Res_4068.Caption'|translate}}</h4>
                                <div id="dynamic_UserDetails"></div>
                            </div>
                        </div>
                        <input style="display: none" type="submit" id="btnTempUser123" class="ng-scope" invisible>
                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="updateUser()" ng-model="UpdateUser" ng-show="EnableUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button ng-click="saveUser()" ng-model="AddUser" ng-show="EnableAdd" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
