﻿<div ng-controller="mui.admin.userdetailsCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4885.Caption'|translate}}</h4>
                    <h4 class="floatRight">{{CurrentMetadataVersionInfo.ID}} - {{CurrentMetadataVersionInfo.Name}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-inline nomargin">
                            <label class="margin-right5x" for="ddlAttributeID">{{'LanguageContents.Res_587.Caption'|translate}}</label><select ui-select2="attributeOptionsConfig" ng-model="EntType.ddlAttributeID"
                                data-placeholder="Select Attribute" id="ddlAttributeID" ng-change="LoadControl();" style="min-width: 150px"><option value=""></option>
                                <option ng-repeat="item in optionsSrc" value="{{item.id}}">{{item.text}}</option>
                            </select>
                            <label class="margin-right5x" for="EntitytperelCaption">{{'LanguageContents.Res_44.Caption'|translate}}</label>
                            <input type="text" class="margin-right20x" ng-model="EntType.EntitytperelCaption" id="EntitytpeattrrelCaption" placeholder="Attribute Caption">
                            <button ng-click="clearattribtue()" ng-model="AddEntitytypeattributerel" class="btn btn-small">{{'LanguageContents.Res_414.Caption'|translate}}</button>
                            <button ng-click="entitytypeattributerel()" ng-model="AddEntitytypeattributerel" ng-show="EnableEntitytypeAttributeAdd" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                            <button ng-click="entitytypeattributerel()" ng-model="AddEntitytypeattributerel" ng-show="EnableEntitytypeAttributeUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
                        </form>
                        <div id="entitytypeattributerelationModal">
                            <h4>{{'LanguageContents.Res_587.Caption'|translate}}</h4>
                            <form id="entitytypeformPage2" class="notvalidate">
                                <div class="row-fluid">
                                    <div class="userDetailsTable">
                                        <table id="entitytypeattrrelationlist" class="table table-bordered table-striped">
                                            <tr id="0">
                                                <th class="width1x"><span>{{'LanguageContents.Res_2083.Caption'|translate}}</span></th>
                                                <th>{{'LanguageContents.Res_69.Caption'|translate}}</th>
                                                <th>{{'LanguageContents.Res_44.Caption'|translate}}</th>
                                                <th>{{'LanguageContents.Res_613.Caption'|translate}}</th>
                                                <th class="widthhalfx">{{'LanguageContents.Res_615.Caption'|translate}}</th>
                                                <th>{{'LanguageContents.Res_92.Caption'|translate}}</th>
                                                <th>{{'LanguageContents.Res_93.Caption'|translate}}</th>
                                                <th ng-show="false"></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            <tr ng-repeat="attribs in entitytypeattributrearr" id="{{attribs.AttributeID}}" ng-show="(attribs.AttributeID != '71' && attribs.AttributeID != '74' && attribs.AttributeID != '75')">
                                                <td class="colChkbx">
                                                    <input class="checkForCount" type="checkbox" ng-checked="attribs.IsEnable" ng-model="chk_isenable" ng-click="UpdateUserVisibility(attribs)" /></td>
                                                <td>{{attribs.AttributeID}}</td>
                                                <td>{{attribs.Caption}}</td>
                                                <td>{{attribs.AttributeCaption}}</td>
                                                <td ng-show="false">{{attribs.AttributeID}}</td>
                                                <td id="att{{attribs.AttributeID}}"><a class="iconLink" href="javascript:void(0)" ng-click="Validate(attribs)"><i id="validation{{attribs.AttributeID}}" ng-show="attribs.isvalidationset == 0" class="icon-ok color-primary"></i><i id="I1" ng-show="attribs.isvalidationset == 1" class="icon-ok "></i></a></td>
                                                <td class="colChkbx">
                                                    <input type="checkbox" ng-click="UpdateInhertReadOnly(attribs,'ReadOnly')" ng-checked="attribs.IsReadOnly" ng-model="attribs.IsReadOnly" /></td>
                                                <td class="colChkbx">
                                                    <input type="checkbox" ng-click="UpdateInhertReadOnly(attribs,'Inherit')" ng-checked="attribs.InheritFromParent" ng-model="attribs.InheritFromParent" /></td>
                                                <td class="colEdit">
                                                    <a class="iconLink" data-toggle="modal" href="#" ng-click="GetAttributeByEntityTypeID(attribs)" data-toggle="modal"><i class="icon-edit"></i></a></td>
                                                <td class="colDelete">
                                                    <a class="iconLink" ng-show="!attribs.IsSystemDefined" data-toggle="modal" href="#" ng-click="DeleteAttributeByEntityTypeID(this)" data-toggle="modal"><i class="icon-remove"></i></a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <input style="display: none" type="submit" id="btnTemp1" class="ng-scope" invisible>
                            </form>
                        </div>
                        <div aria-hidden="true" style="display: none;" aria-labelledby="myModalLabel" data-width="920px" role="dialog" tabindex="-1" class="modal" id="ValidateAttribute">
                            <div class="modal-header">
                                <button aria-hidden="true" ng-click="closevalidationpopup(this)" data-dismiss="modal" class="close" type="button">×</button><h3 id="myModalLabel">{{'LanguageContents.Res_525.Caption'|translate}} </h3>
                            </div>
                            <div class="modal-body" id="dynamic_Controls">
                                <form>
                                    <div class="row-fluid">
                                        <div class="span3">
                                            <div class="control-group">
                                                <label class="control-label" for="ValidationType">{{'LanguageContents.Res_526.Caption'|translate}}</label><div class="controls">
                                                    <select ui-select2 ng-model="ValidationType" data-placeholder="Select Validation Type" id="Select1" ng-change="ValidationValueCheck();">
                                                        <option value=""></option>
                                                        <option ng-repeat="item in ValiadtionOptions" value="{{item.key}}">{{item.Value}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control-group" ng-show="ShowValue">
                                                <label class="control-label" for="ValidationValue">{{'LanguageContents.Res_48.Caption'|translate}}</label><div class="controls">
                                                    <input type="text" ng-model="ValidationValue" id="Text3" placeholder="ValidationValue">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="Defaultvalue">{{'LanguageContents.Res_49.Caption'|translate}}</label><div class="controls">
                                                    <input type="text" ng-model="validationErorr" id="Text4">
                                                </div>
                                            </div>
                                            <button ng-click="ValidationAdd()" ng-model="ValidationAdd" ng-show-="EnableValidationSave" class="btn btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                                        </div>
                                        <div class="span9 height2halfx manageOverflow">
                                            <table id="AttributeValidationtbl" class="table table-bordered table-striped">
                                                <tr class="nodrag nodrop" id="Tr2">
                                                    <td>{{'LanguageContents.Res_526.Caption'|translate}}</td>
                                                    <td>{{'LanguageContents.Res_48.Caption'|translate}}</td>
                                                    <td>{{'LanguageContents.Res_49.Caption'|translate}}</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr ng-repeat="valattributes in childValidation" id="Tr3">
                                                    <td>{{valattributes.ValueType}}</td>
                                                    <td>{{valattributes.Value}}</td>
                                                    <td>{{valattributes.ErrorMessage}}</td>
                                                    <td>
                                                        <a class="iconLink" data-toggle="modal" ng-click="GetEntityAttributeByIndex($index)" data-toggle="modal"><i class="icon-edit"></i></a></td>
                                                    <td>
                                                        <a class="iconLink" data-toggle="modal" ng-click="DeleteValidationAttributeByID($index)" data-toggle="modal"><i class="icon-remove"></i></a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" ng-click="SaveValidation()" class="btn-primary btn btn-small btn-trash">Save</button>
                                <button data-dismiss="modal" ng-click="closevalidationpopup(this)" class="btn btn-small btn-trash">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
