﻿<div ng-controller="mui.admin.versionCntrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4895.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="versionform">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="ddlActiveVersion">{{'LanguageContents.Res_4039.Caption'|translate}}</label><div class="controls">
                                            <select ng-options="Aitem.ID as Aitem.value for Aitem in ActiveVersions.versions" name="AVersion" ng-model="AVersion">
                                                <option value="">{{'LanguageContents.Res_4723.Caption'|translate}}</option>
                                            </select>
                                            <button ng-click="saveAversion()" ng-model="updateAVersion" class="btn btn-small btn-primary">{{'LanguageContents.Res_4036.Caption'|translate}}</button>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ddlWorkingVersion">{{'LanguageContents.Res_4419.Caption'|translate}}</label><div class="controls">
                                            <select ng-options="Witem.ID as Witem.value for Witem in WorkingVersions.versions" name="WVersion" ng-model="WVersion">
                                                <option value="">{{'LanguageContents.Res_4735.Caption'|translate}}</option>
                                            </select>
                                            <button ng-click="saveWversion()" ng-model="updateWVersion" class="btn btn-small btn-primary">{{'LanguageContents.Res_4418.Caption'|translate}}</button>
                                            <button ng-click="saveCurrentVersion()" ng-model="updateWVersion" class="btn btn-small btn-primary">{{'LanguageContents.Res_4037.Caption'|translate}}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="padding10x">
                                            <button ng-click="SyncDB()" ng-model="syncdb" class="btn btn-warning btn-large">{{'LanguageContents.Res_4815.Caption'|translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer right"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
