﻿<div ng-controller="mui.admin.workflowCtrl">
    <div class="span12">
        <div class="AdminMargin">
            <div class="box box-noborder">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_42.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" name="EntityTypeForm">
                            <input type="text" placeholder="Filter" class="pull-right" ng-model="filterOptions.filterText" /><br>
                            <div class="gridStyle" ng-grid="gridentityattributerelation"></div>
                            <div class="box-footer right">
                                <a class="btn btn-small btn-primary" ng-click="addEntityTypeAttribute()" href="#entitytypeattributerelationModal" data-toggle="modal">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                            </div>
                        </form>
                        <div data-width="910" aria-hidden="true" aria-labelledby="myModalLab el1" role="dialog" tabindex="-1" class="modal hide fade" id="entitytypeattributerelationModal" style="display: none;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h3 my-qtip2 qtip-content="{{WorkFlowGlobal.WorkFlowName}}">{{'LanguageContents.Res_522.Caption'|translate}} : {{WorkFlowGlobal.WorkFlowName}}</h3>
                            </div>
                            <div class="modal-body">
                                <div ng-switch="getCurrentStep()" class="slide-frame">
                                    <div ng-switch-when="WorkFlowType">
                                        <form class="form-float height3halfx manageOverflow">
                                            <div class="control-group" ng-show="false">
                                                <label class="control-label" for="EntityID">{{'LanguageContents.Res_69.Caption'|translate}}</label><div class="controls">
                                                    <input type="text" ng-model="WorkFlowGlobal.WorkFlowID" id="WorkFlowID" placeholder="WorkFlowID">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="Name">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                                                    <input type="text" name="Name" ng-model="WorkFlowGlobal.WorkFlowName" id="WorkFlowName" required>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls">
                                                    <textarea ng-model="WorkFlowGlobal.description" id="description" rows="3" placeholder="Description" required></textarea>
                                                </div>
                                            </div>
                                            <span ng-show="EntityTypeForm.WorkFlowName.$dirty && horizontalform.WorkFlowName.$invalid"></span><span ng-show="EntityTypeForm.description.$dirty && horizontalform.description.$invalid"></span>
                                        </form>
                                    </div>
                                    <div ng-switch-when="WorkFlowStep">
                                        <h4>Step</h4>
                                        <form>
                                            <div class="row-fluid">
                                                <div class="span3">
                                                    <div class="control-group">
                                                        <label class="control-label" for="WorkFlowStepName">{{'LanguageContents.Res_1.Caption'|translate}}</label><div class="controls">
                                                            <input type="text" ng-model="WorkFlowGlobal.WorkFlowStepName" id="WorkFlowStepName" placeholder="Step Name">
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label" for="WorkFlowStepHelpText">{{'LanguageContents.Res_523.Caption'|translate}}</label><div class="controls">
                                                            <textarea ng-model="WorkFlowGlobal.WorkFlowStepHelpText" id="WorkFlowStepHelpText" rows="3" placeholder="WorkFlowStepHelpText"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label" for="PredefWorkFlow">{{'LanguageContents.Res_524.Caption'|translate}}</label><div class="controls">
                                                            <select ui-select2 multiple="multiple" ng-model="WorkFlowGlobal.PredefinedWorkFlow" data-placeholder="Select Predefined WorkFlow">
                                                                <option ng-repeat="item in listPredfWorkflow" value="{{item.Id}}">{{item.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <button ng-click="PushWorkFlowSteps()" ng-model="AddEntitytypeattributerel" ng-show="EnableEntitytypeAttributeAdd" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                                                    <button ng-click="PushUpdatedWorkFlowSteps()" ng-model="AddEntitytypeattributerel" ng-show="EnableEntitytypeAttributeUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
                                                </div>
                                                <div class="span9 height3x manageOverflow">
                                                    <table id="WorkFlowStepsTable" class="table table-bordered table-striped">
                                                        <tr id="{{attribs.ID}}">
                                                            <th>{{'LanguageContents.Res_1.Caption'|translate}}</th>
                                                            <th>{{'LanguageContents.Res_523.Caption'|translate}}</th>
                                                            <th></th>
                                                        </tr>
                                                        <tr ng-repeat="step in WorkFlowStepsObj" id="WorkFlowStepsArr">
                                                            <td>{{step.Name}}</td>
                                                            <td>{{step.HelpText}}</td>
                                                            <td>
                                                                <a class="iconLink" data-toggle="modal" ng-click="GetAttributeByStepID(step)" data-toggle="modal"><i class="icon-edit"></i></a></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="920px" role="dialog" tabindex="-1" class="modal hide fade" id="ValidateAttribute" style="display: none;">
                                        <div class="modal-header">
                                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                            <h3 id="myModalLabel">{{'LanguageContents.Res_525.Caption'|translate}}</h3>
                                        </div>
                                        <div class="modal-body" id="dynamic_Controls">
                                            <form>
                                                <div class="row-fluid">
                                                    <div class="span3">
                                                        <div class="control-group">
                                                            <label class="control-label" for="ValidationType">{{'LanguageContents.Res_526.Caption'|translate}}</label><div class="controls">
                                                                <select ui-select2 ng-model="ValidationType" data-placeholder="Select Validation Type" id="Select1">
                                                                    <option value=""></option>
                                                                    <option ng-repeat="item in ValiadtionOptions" value="{{item.key}}">{{item.Value}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label" for="ValidationValue">{{'LanguageContents.Res_48.Caption'|translate}}</label><div class="controls">
                                                                <input type="text" ng-model="ValidationValue" id="Text3" placeholder="ValidationValue">
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label" for="Defaultvalue">{{'LanguageContents.Res_49.Caption'|translate}}</label><div class="controls">
                                                                <input type="text" ng-model="validationErorr" id="Text4">
                                                            </div>
                                                        </div>
                                                        <button ng-click="ValidationAdd()" ng-model="ValidationAdd" ng-show-="EnableValidationSave" class="btn btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                                                    </div>
                                                    <div class="span9 height2halfx manageOverflow">
                                                        <table id="AttributeValidationtbl" class="table table-bordered table-striped">
                                                            <tr class="nodrag nodrop" id="Tr2">
                                                                <td>{{'LanguageContents.Res_526.Caption'|translate}}</td>
                                                                <td>{{'LanguageContents.Res_48.Caption'|translate}}</td>
                                                                <td>{{'LanguageContents.Res_49.Caption'|translate}}</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr ng-repeat="valattributes in AtributeValueList" id="Tr3">
                                                                <td>{{valattributes.ValueType}}</td>
                                                                <td>{{valattributes.Value}}</td>
                                                                <td>{{valattributes.ErrorMessage}}</td>
                                                                <td>
                                                                    <a class="iconLink" data-toggle="modal" ng-click="GetEntityAttributeByIndex($index)" data-toggle="modal"><i class="icon-edit"></i></a></td>
                                                                <td>
                                                                    <a class="iconLink" data-toggle="modal" ng-click="DeleteValidationAttributeByID($index)" data-toggle="modal"><i class="icon-remove"></i></a></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button ng-click="ValidationSave()" ng-model="ValidationSave" ng-show-="EnableValidationSave" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                                            <button data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
                                        </div>
                                    </div>
                                </div>
                                <span ng-show="EntityTypeForm.EntitytpeattrrelCaption.$dirty && horizontalform.EntitytpeattrrelCaption.$invalid"></span><span ng-show="EntityTypeForm.ddlAttributeID.$dirty && EntityTypeForm.ddlAttributeID.$invalid && EntityTypeForm.ddlAttributeID.$error.required"></span>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="handleNext()" class="btn btn-small btn-primary" ng-disabled="EntityTypeForm.$invalid">{{getNextLabel()}}</button>
                                <a class="btn btn-small" ng-click="handlePrevious()" ng-show="!isFirstStep()">{{'LanguageContents.Res_57.Caption'|translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
