﻿<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/Help">Help Page</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Marcom Public APIs</h1>
                
            </hgroup>
            
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        
    </section>
</div>
