﻿ <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_38.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                     <div ng-show="detailsLoader">
                        <img style="width: 22px; margin-top: -5px;" src="assets/img/loading.gif">
                    </div>

                    <div class="box-content-margin" ng-show="detailsData">
                        <form class="form-horizontal">
                            <div class="control-group" id="dynamicdetail">
                            </div>
                        </form>
                    </div>
                </div>
            </div>