﻿<div id="Overview" ng-class="{ 'tab-pane fade in active': ( subview == 'overview' ) }" ng-controller="mui.planningtool.objective.detail.overviewCtrl">
    <div class="tab-line"></div>
    <div id="ObjectiveOverviewDiv">