﻿<div class="box">
    <div class="box-header">
        <h4>{{'LanguageContents.Res_701.Caption'|translate}}</h4>
    </div>
    <div class="box-content">
        <div class="box-content-margin" id="objectivesAssignmentstypeDiv">
            <form class="form-horizontal">
                <div class="control-group ng-scope">
                    <label for="label" class="control-label">Overall status</label>
                    <div class="controls bgDropdown">
                        <select ui-select2="select2Config" id="OverAllEntityStats" ng-model="OverAllEntityStatus" ng-click="UpdateEntityOverAllStatus(OverAllEntityStatus)" data-placeholder="Entity Status">
                            <option value=""></option>
                            <option ng-repeat="Aitem in EntityStatusResult" value="{{Aitem.ID}}">{{Aitem.StatusOptions}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>