﻿<div class="box">
    <div class="box-header">
        <h4>{{'LanguageContents.Res_38.Caption'|translate}}</h4>
    </div>
    <div class="box-content">
        <div ng-show="detailsLoader" class="loadIcon-small">
            <img alt="Loading" src="assets/img/loading.gif" />
            <span>{{'LanguageContents.Res_68.Caption'|translate}}...</span>
        </div>
        <div class="box-content-margin" ng-show="detailsData">
            <form class="form-horizontal" id="detailsDiv"></form>
            			<div>
                <attributegroup-indetailblock item-pagesize="{{group.PageSize}}" item-predefined="{{group.Ispredefined}}" item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupDetailBlock"></attributegroup-indetailblock>
                <attribute-grouplistviewindetail item-pagesize="{{group.PageSize}}" item-predefined="{{group.Ispredefined}}" item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupListDetailBlock"></attribute-grouplistviewindetail>
            </div>
        </div>
    </div>
</div>
<attribute-group item-pagesize="{{group.PageSize}}" item-predefined="{{group.Ispredefined}}" item-index="{{$index}}" item-imagecrop="getgroupid" item-imagefilename="{{attrgrpImagefileName}}" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupNotDetailBlock"></attribute-group>
<attribute-grouplistview item-pagesize="{{group.PageSize}}" item-predefined="{{group.Ispredefined}}" item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupListNotDetailBlock"></attribute-grouplistview>