<div id="Overview" ng-class="{ 'tab-pane fade in active': ( subview == 'overview' ) }" ng-controller="mui.planningtool.objective.detail.overviewCtrl">
    <div class="tab-line"></div>
    <div id="ObjectiveOverviewDiv" class="row-fluid">
        <div class="span4">
            <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_701.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin" id="objectivesAssignmentstypeDiv">
                       <form class="form-horizontal">
                            <div class="control-group ng-scope">
                                <label for="label" class="control-label">Overall status</label>
                                <div class="controls bgDropdown">
                                    <select ui-select2="select2Config" id="OverAllEntityStats" ng-model="OverAllEntityStatus" ng-click="UpdateEntityOverAllStatus(OverAllEntityStatus)" data-placeholder="Entity Status">
                                        <option value=""></option>
                                        <option ng-repeat="Aitem in EntityStatusResult" value="{{Aitem.ID}}">{{Aitem.StatusOptions}}</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <div class="box">
                <div class="box-header">
                    <h4>
                        {{'LanguageContents.Res_1201.Caption'|translate}}
                    </h4>
                    <div class="pull-right">
                        <div class="btn-group nomargin">
                            <span class="filterName">{{'LanguageContents.Res_411.Caption'|translate}}</span>
                            <select class="multiselect" ng-change="FeedgroupFilterByOptionChange()" data-placeholder="Select filter" ng-model="Newsfilter.FeedgroupMulitipleFilterStatus" ng-options="item.ID as item.Name for item in Feedglist" multiple="multiple" multiselectpartial></select>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="newsFeedBlock">
                            <div class="newsFeedSection">
                                <div class="newComment">
                                    <div class="userAvatar">
                                        <img src="{{NewUserImgSrc}}" data-role="user-avatar">
                                    </div>
                                    <div data-role="textarea" class="textarea-wrapper">
                                        <div id="feedcomment" contenteditable="true" class="textarea" tabindex="0" ngfocus="if(document.getElementById('feedtextholder').innerHTML.replace(/ /g,'').length > 0){setTimeout(function(){document.getElementById('feedcomment').innerHTML = ''},1)};" ngblur="if(document.getElementById('feedcomment').innerHTML.replace(/(
                                            <([^>
                                                ]+)>)/ig,'').replace(/ /g,'').length == 0){document.getElementById('feedcomment').innerHTML = '<span id=\'feedtextholder\' class=\'placeholder\'>Write a comment...</span>'};">
                                                <span id="feedtextholder" class="placeholder">{{'LanguageContents.Res_1202.Caption'|translate}}...</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" ng-click="AddNewsFeed()" type="submit">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
                                </div>
                                <ul class="mainComment" id="EntityFeedsdiv"></ul>
                                <div id="FeedContentdiv"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="box" id="tasksSummary">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_1213.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin" ng-show="ShowLoadedTaskSummary">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1217.Caption'|translate}}</label>
                                <div class="controls">
                                    <div class="stripe">
                                        <span id="taskinprg"></span>
                                        {{TasksInprgress}}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1218.Caption'|translate}}</label>
                                <div class="controls">
                                    <div class="stripe">
                                        <span id="unassign"></span>
                                        {{Unassigned}}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1219.Caption'|translate}}</label>
                                <div class="controls">
                                    <div class="stripe">
                                        <span id="overduetask"></span>
                                        {{Overduetasks}}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="inputEditable" class="control-label">{{'LanguageContents.Res_84.Caption'|translate}}</label>
                                <div class="controls">
                                    <div class="stripe">
                                        <span id="unabletocomplete"></span>
                                        {{Unabletocomplete}}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-content-margin" ng-show="ShowEmptyTaskSummary">
                        {{'LanguageContents.Res_1223.Caption'|translate}}
                    </div>
                </div>
            </div>           <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_38.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div ng-show="detailsLoader" class="loadingInProgress">
                        <img src="assets/img/loading.gif" />
                        <span>Loading...</span>
                    </div>
                    <div class="box-content-margin" ng-show="detailsData">
                        <form class="form-horizontal" id="detailsDiv"></form>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_1221.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" id="fulfillmentDiv"></form>
                    </div>
                </div>
                <div class="box-footer right">
                    <!--<button ng-click="ObjectiveFulfillEdit()" ng-show="IsLock == false" ng-model="ObjectiveFulfillEdit" href="#EditObjectiveFulfillment" data-toggle="modal" class="btn btn-primary">{{'LanguageContents.Res_20.Caption'|translate}}</button>-->
                    <button ng-click="ObjectiveFulfillEdit()" ng-show="IsLock == false" ng-model="ObjectiveFulfillEdit" href="javascript:void(0)" class="btn btn-primary">{{'LanguageContents.Res_20.Caption'|translate}}</button>
                </div>
            </div>            <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_1222.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" id="objectiveAssignmentssummaryDiv"></form>
                    </div>
                </div>
                <div class="box-footer right">
                    <!--<button ng-click="ObjectiveSummaryEdit()" ng-show="IsLock == false" ng-model="ObjectiveSummaryEdit" href="#EditObjectiveSummary" data-toggle="modal" class="btn btn-primary">{{'LanguageContents.Res_20.Caption'|translate}}</button>-->
                    <button ng-click="ObjectiveSummaryEdit()" ng-show="IsLock == false" ng-model="ObjectiveSummaryEdit" href="javascript:void(0)" class="btn btn-primary">{{'LanguageContents.Res_20.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="EditObjectiveSummary" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>{{'LanguageContents.Res_1220.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div id="numericQuantitativediv" ng-show="numericqunatitativedisplay">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="ObjectiveNumericUnits">{{'LanguageContents.Res_708.Caption'|translate}}:</label>
                            <div class="controls">
                                <select ui-select2 ng-model="Objective.ngObjectiveNumericUnits" data-placeholder="Select Units">
                                    <option value=""></option>
                                    <option ng-repeat="item in ObjectiveUnitsData" value="{{item.Id}}">{{item.Caption}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ObjectiveNumericUnits">{{'LanguageContents.Res_709.Caption'|translate}}:</label>
                            <div class="controls">
                                <input class="currencyTextbox" type="text" ng-model="Objective.ngObjectiveNumericGlobalbaseline" id="ObjectiveNumericGlobalbaseline" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ObjectiveNumericUnits">{{'LanguageContents.Res_710.Caption'|translate}}:</label>
                            <div class="controls">
                                <input class="currencyTextbox" type="text" ng-model="Objective.ngObjectiveNumericGlobaltarget" id="ObjectiveNumericGlobaltarget" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ObjectiveNumericDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                            <div class="controls">
                                <textarea class="small-textarea" rows="3" ng-model="Objective.ngObjectiveNumericDescriptionInstructions" id="Textarea1"></textarea>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label class="control-label" for="ObjectiveNumericEnableComments">
                                <input type="checkbox" ng-model="Objective.ngObjectiveNumericEnableCommentsCheck" id="ObjectiveNumericEnableCommentsCheck" />
                                {{'LanguageContents.Res_711.Caption'|translate}}
                            </label>
                        </div>
                    </div>
                    <div class="span6"></div>
                </div>
            </div>
            <div id="nonNumericQuantitativediv" ng-show="nonNumericQuantivedisplay">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="ObjectivenonNumericUnits">{{'LanguageContents.Res_708.Caption'|translate}}:</label>
                            <div class="controls">
                                <select ui-select2 ng-model="Objective.ngObjectivenonNumericUnits" data-placeholder="Select Units">
                                    <option value=""></option>
                                    <option ng-repeat="item in ObjectiveUnitsData" value="{{item.Id}}">{{item.Caption}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ObjectivenonNumericDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                            <div class="controls">
                                <textarea class="small-textarea" rows="3" ng-model="Objective.ngObjectivenonNumericDescriptionInstructions" id="Textarea2"></textarea>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label class="control-label" for="ObjectivenonNumericEnableComments">
                                <input type="checkbox" ng-model="Objective.ngObjectivenonNumericEnableCommentsCheck" id="Checkbox1" />
                                {{'LanguageContents.Res_711.Caption'|translate}}
                            </label>
                        </div>
                    </div>
                    <div class="span6"></div>
                </div>
            </div>
            <div id="qualititativediv" ng-show="qualitativedisplay">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="ObjectiveQulaitativeDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                            <div class="controls">
                                <textarea class="small-textarea" rows="3" ng-model="Objective.ngObjectiveQulaitativeDescriptionInstructions" id="ObjectiveQulaitativeDescriptionInstructions"></textarea>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label class="control-label" for="ObjectiveQulaitativeEnableComments">
                                <input type="checkbox" ng-model="Objective.ngObjectiveQulaitativeEnableCommentsCheck" id="ObjectiveQulaitativeEnableCommentsCheck" />
                                {{'LanguageContents.Res_711.Caption'|translate}}
                            </label>
                        </div>
                    </div>
                    <div class="span6"></div>
                </div>
            </div>
            <div id="ratingsdiv" ng-show="ratingsdisplay">
               <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label" for="ObjectiveRatingDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" ng-model="Objective.ngObjectiveRatingDescriptionInstructions" id="ObjectiveRatingDescriptionInstructions"></textarea>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label class="control-label" for="ObjectiveRatingEnableComments">
                            <input type="checkbox" ng-model="Objective.ngObjectiveRatingEnableCommentsCheck" id="ObjectiveRatingEnableCommentsCheck" />
                            {{'LanguageContents.Res_711.Caption'|translate}}
                        </label>
                    </div>
                    <div class="control-group">
                        <ul class="unstyled">
                            <li class="margin-bottom5x" ng-repeat="item in ratingItems">
                                <div ng-show="item.IsRemoved == false">
                                    <span>                                                   
                                        <input class="nomargin" type="text" id="item.ObjectiveRatingID" maxlength="30" ng-model="item.RatingCaption" >
                                    </span>
                                    <button class="btn" ng-click="AddRatings(item.ObjectiveRatingID)" ng-model="AddRatings"><i class="icon-plus"></i></button>
                                    <button ng-show="item.RatingCount == false" class="btn" ng-click="RemoveRatings(item.ObjectiveRatingID, this)" ng-model="RemoveRatings"><i class="icon-remove"></i></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="" data-dismiss="modal" class="btn">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            <button ng-click="updateObjectiveSummary()" ng-show="IsLock == false" ng-model="UpdateObjectiveSummary" class="btn btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" data-width="820" id="EditObjectiveFulfillment" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>{{'LanguageContents.Res_1224.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-inline">
                <div class="control-group">
                <label class="control-label" for="ObjectiveDaterange">{{'LanguageContents.Res_802.Caption'|translate}}</label>
                <div class="controls input-append">
                    <input type="text" class="dateBox" id="ObjectiveStatDaterange" ng-model="Objective.ngObjectiveStatDaterange" required="StartDate" value="" datepicker-popup="{{format}}" datepicker-options="dateOptions"  close-text="Close" />                                  
                </div>
                <div class="controls input-append">
                    <input type="text" class="dateBox" id="ObjectiveEndDaterange" ng-model="Objective.ngObjectiveEndDaterange" required="EndDate" value="" datepicker-popup="{{format}}" datepicker-options="dateOptions"  close-text="Close" />                                  
                </div>
            </div>
            </form>
            <form class="form-inline">
                <div class="control-group">
                    <label class="control-label" for="ObjectiveDaterule">{{'LanguageContents.Res_815.Caption'|translate}}:</label>
                    <span>{{'LanguageContents.Res_726.Caption'|translate}}</span>
                    <select ui-select2 ng-model="Objective.ngObjectiveDaterule">
                        <option value="1">starts & ends</option>
                        <option value="2">are active</option>
                    </select>
                    <span>{{'LanguageContents.Res_727.Caption'|translate}}.</span>
                </div>
            </form>
            <form class="form-inline">
                <div class="control-group">
                    <label class="control-label" for="ObjectiveMandatory">{{'LanguageContents.Res_806.Caption'|translate}}:</label>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="Objective.ngObjectiveMandatoryCheck" id="ObjectiveMandatoryCheck">
                    </label>
                </div>
            </form>
            <form class="form-inline">
                <div class="control-group">
                    <div class="ObjectiveFullFillMent">
                        <div id="ObjectiveFulfillmentMetadatatbody">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button ng-click="" data-dismiss="modal" class="btn">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            <button id="fullfilmentbtn" ng-show="IsLock == false" ng-click="updateObjectiveFulFillment()" ng-model="updateObjectiveFulFillment" class="btn btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
        </div>
    </div>
</div>
    </div>
</div>