/*#region LOGIN THEME*/

.loginThemed {
    background-color: #ffffff;
    background: url() no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .loginThemed .loginBlock,
    .loginThemed .forgotPasswordBlock {
        height: 350px;
        width: 330px;
        padding: 10px;
    }

/*#region LOGO OUT*/
/*When Logo is Out then below CSS*/

.loginThemed .loginBlock,
.loginThemed .forgotPasswordBlock {
    border-color: transparent;
}

    .loginThemed .loginBlock .header,
    .loginThemed .forgotPasswordBlock .header {
        text-align: left;
    }
/*#endregion*/

/*#endregion*/

/*#endregion*/