﻿<!-- Planning tool will not have specific html. it will just load the appropriate content-->
<div id="app" ng-controller="mbmuiCtrl">
    <!--used to refer the assetedit page from MUI-->
    <div class="assetedit" ng-include=" 'views/mui/DAM/assetedit.html' "></div>

    <div id="header">
        <div class="navbar navbar-inverse navbar-static-top navbar-mui-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-collapse collapse" id="topnav">
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-static-top navbar-mui-main">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="brand">
                        <img id="pageheadertitle" alt="BrandSystems" ng-src="{{logosrc}}">
                    </div>
                    <div>

                        <ul class="nav pull-right" ng-show="false">
                            <li class="dropdown">
                                <form class="navbar-search pull-right">
                                    <input type="text" placeholder="Search" data-toggle="dropdown" ng-model="searchtext" class="search-query animated" ng-change="LoadSearch()" ng-click="LoadSearch()" />
                                    <i class="icon-search"></i>
                                </form>
                                <ul id="searchlist" class="searchs dropdown-menu ">
                                    <li ng-repeat="item in myData" ng-click="searchloadactivity($event,item.ID,item.TypeID,item.ParentID,item.Level,item.ThumbnailUrl)">
                                        <a ng-if="item.TypeID !='4'" data-id="{{item.ID}}" data-typeid="{{item.TypeID}}" data-parentid="{{item.ParentID}}">
                                            <span ng-if="item.ColorCode !='' && item.ThumbnailUrl != 'DAM'" class="icon color-white" ng-style="set_color(item.ColorCode)" style="background-color: #{{item.ColorCode}}">{{item.ShortDescription}}</span>
                                            <div ng-if="item.ThumbnailUrl == 'DAM'" class="search-imgPrev">
                                                <div class="s-ip-container">
                                                    <img ng-if="item.Extension == 'jpg'" ng-src="{{TenantFileInfo}}DAMFiles/Original/{{item.Path}}.jpg" alt="regr" />
                                                    <img ng-if="item.Extension != 'jpg'" ng-src="{{TenantFileInfo}}DAMFiles/StaticPreview/{{item.Extension}}.png" alt="regr" />
                                                </div>
                                            </div>
                                            <span class="header">
                                                <span class="name">{{item.Name}}
                                                </span>
                                            </span>
                                            <span class="content">{{item.Description}}
                                            </span>
                                        </a>
                                        <a ng-if="item.TypeID =='4'" data-id="{{item.ID}}" data-typeid="{{item.TypeID}}" data-parentid="{{item.ParentID}}" data-target="download.aspx?FileID={{item.Path}}&amp;FileFriendlyName={{item.Name}}&amp;Ext={{item.ThumbnailUrl}}" target="_blank" href="download.aspx?FileID={{item.Path}}&amp;FileFriendlyName={{item.Name}}&amp;Ext={{item.ThumbnailUrl}}">
                                            <span ng-if="item.ColorCode !=''" class="icon color-white" ng-style="set_color(item.ColorCode)" style="background-color: #{{item.ColorCode}}">{{item.ShortDescription}}</span>
                                            <span class="header">
                                                <span class="name">{{item.Name}}
                                                </span>
                                            </span>
                                            <span class="content">{{item.Description}}</span>
                                        </a>
                                    </li>
                                    <li class="dropdown-menu-footer" ng-class="{ active: ( subview == 'searchresult' ) }" ng-click="loadresultpage($event)">
                                        <span>
                                            <a href="" target="_self">{{'LanguageContents.Res_658.Caption'|translate}}</a>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #header -->
    <div id="container" ng-switch="subview">
        <div ng-switch-when="mediabank">
            <div ng-include=" 'views/mui/mediabank.html' "></div>
        </div>
    </div>
    <div id="footer">
        <footer>
            <span><span id="footercopyright"></span>
                <a href="javascript:void(0);" ng-click="popMe('Help/PrivacyStatement.htm','PrivacyStatement',650,500);">{{'LanguageContents.Res_4658.Caption'|translate}}</a> - 
                <a href="javascript:void(0);" ng-click="popMe('Help/SecurityStatement.htm','SecurityStatement',650,500);">Security Statement</a></span>
        </footer>
    </div>

</div>
