﻿<div id="app" ng-controller="muiCtrl">
    <div id="header">
        <div class="navbar navbar-inverse navbar-static-top navbar-mui-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-collapse collapse" id="topnav"></div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-static-top navbar-mui-main">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="brand">
                        <img id="pageheadertitle" alt="BrandSystems" ng-src="{{logopath}}" />
                    </div>
                    <div>
                        <ul class="nav full pull-right" id="topLogobarUsersettings">
                            <li class="dropdown user-avatar">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span>
                                        <img id="headeruserimg" class="menu-avatar" />
                                        <span>{{Username}}
                                            <i class="icon-caret-down"></i>
                                        </span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu-header">
                                        <span>{{'LanguageContents.Res_1601.Caption'|translate}}</span>
                                    </li>
                                    <li>
                                        <a href="#/mui/mypage">
                                            <i class="icon-cog icon-large"></i>
                                            <span>{{'LanguageContents.Res_586.Caption'|translate}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="Logout()" href="JavaScript: void(0);">
                                            <i class="icon-off icon-large"></i>
                                            <span>{{'LanguageContents.Res_4468.Caption'|translate}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav pull-right" id="topLogobarNotification">
                            <li class="dropdown">
                                <form class="form-search pull-right muiSearch">
                                    <div class="input-append">
                                        <div class="padded-row search-query inlineBlock">
                                            <div class="inlineBlock" clickhandler="handlersearchtext(message)" control="focusinControl" angucomplete-alt id="ex5" placeholder="Search" searchtype="searchObject.SearchText" on-select="searchtextchange(text)" pause="10" selected-object="selectedProject" remote-url="marcom" remote-url-request-formatter="remoteUrlRequestFn" remote-url-data-field="items" search-fields="name,description" title-field="name" description-field="description" minlength="1" input-class="form-control form-control-small" match-class="highlight"></div>
                                        </div>
                                        <i class="icon-remove-circle" ng-click="clearSearchTerm($event)"></i>
                                        <div class="inline">
                                            <a class="btn dropdown-toggle b-radiusNone" data-toggle="modal" href="javascript:void(0);">{{searchObject.SearchText}}
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" ng-show="slistdisplay">
                                                <li ng-repeat="item in searchObject.SearchOptions" ng-class="{'active':searchObject.SearchText==item.Lable}" ng-show="item.isshow" ng-click="setSearchType(item)">
                                                    <a>{{item.Lable}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="submit" ng-click="loadresultpage($event)" class="btn btnSearch">
                                            <i class="icon-search"></i>
                                        </button>
                                    </div>
                                </form>
                                <ul id="searchlist" class="searchs dropdown-menu ">
                                    <li ng-repeat="item in myData" ng-click="searchloadactivity($event,item.ID,item.TypeID,item.ParentID,item.Level,item.ThumbnailUrl)">
                                        <a ng-if="item.TypeID !='4'" data-id="{{item.ID}}" data-typeid="{{item.TypeID}}" data-parentid="{{item.ParentID}}">
                                            <span ng-if="item.ColorCode !='' && item.ThumbnailUrl != 'DAM'" class="icon color-white" ng-style="set_color(item.ColorCode)" style="background-color: #{{item.ColorCode}}">{{item.ShortDescription}}</span>
                                            <div ng-if="item.ThumbnailUrl == 'DAM'" class="search-imgPrev">
                                                <div class="s-ip-container">
                                                    <img ng-if="item.Extension == 'jpg'" ng-src="{{TenantFileInfo}}DAMFiles/Original/{{item.Path}}.jpg" alt="regr" />
                                                    <img ng-if="item.Extension != 'jpg'" ng-src="{{TenantFileInfo}}DAMFiles/StaticPreview/{{item.Extension}}.png" alt="regr" />
                                                </div>
                                            </div>
                                            <span class="header">
                                                <span class="name">{{item.Name}}</span>
                                            </span>
                                            <span class="content">{{item.Description}}</span>
                                        </a>
                                        <a ng-if="item.TypeID =='4'" data-id="{{item.ID}}" data-typeid="{{item.TypeID}}" data-parentid="{{item.ParentID}}" data-target="download.aspx?FileID={{item.Path}}&amp;FileFriendlyName={{item.Name}}&amp;Ext={{item.ThumbnailUrl}}" target="_blank" href="download.aspx?FileID={{item.Path}}&amp;FileFriendlyName={{item.Name}}&amp;Ext={{item.ThumbnailUrl}}">
                                            <span ng-if="item.ColorCode !=''" class="icon color-white" ng-style="set_color(item.ColorCode)" style="background-color: #{{item.ColorCode}}">{{item.ShortDescription}}</span>
                                            <span class="header">
                                                <span class="name">{{item.Name}}</span>
                                            </span>
                                            <span class="content">{{item.Description}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="divider-vertical"></li>
                            <li class="dropdown" id="mailicon" ng-click="IsViewStateUpdate(0)">
                                <a href="#" data-toggle="dropdown" ng-click="AdjustNotificationBlockHeight()" class="dropdown-toggle navbar-link">
                                    <i class="icon-bell-alt icon-2x notificationBell"></i>
                                    <span class="badge badge-important">{{UnreadNotification}}</span>
                                </a>
                                <ul class="dropdown-menu notification">
                                    <li class="dropdown-menu-header">
                                        <span>{{'LanguageContents.Res_1606.Caption'|translate}}</span>
                                    </li>
                                </ul>
                                <ul id="notifyul" class="dropdown-menu notification">
                                    <li id="nonotification" style="display: none;">
                                        <span>{{'LanguageContents.Res_87.Caption'|translate}}</span>
                                    </li>
                                    <li ng-repeat="item in notifications" ng-class="SetUnreadClass(item.Isviewed)">
                                        <a href="JavaScript:void(0);">
                                            <span class="avatar">
                                                <img alt="Avatar" ng-src="Handlers/UserImage.ashx?id={{item.UserId}}&time={{DefaultImageSettings.ImageSpan}}" />
                                            </span>
                                            <span class="header">
                                                <span class="actor">{{item.UserName}}</span>
                                                <span class="time">{{item.NotificationHappendTime}}</span>
                                            </span>
                                            <span class="content" compile="item.NotificationText"></span>
                                        </a>
                                    </li>
                                </ul>
                                <ul id="notifyulfooter" class="dropdown-menu notification">
                                    <li class="dropdown-menu-footer" ng-click="IsViewStateUpdate(1)">
                                        <span>
                                            <a ui-sref="mui.mynotification">{{'LanguageContents.Res_659.Caption'|translate}}</a>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li class="divider-vertical"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#header-->
    <div id="container" ng-switch="subview">
        <div ng-switch-when="planningtool">
            <div ng-include=" 'views/mui/planningtool.html' "></div>
        </div>
        <div ng-switch-when="dashboard">
            <div ng-include=" 'views/mui/dashboard.html' "></div>
        </div>
        <div ng-switch-when="support">
            <div ng-include=" 'dynamicviews/mui/support' "></div>
        </div>
        <div ng-switch-when="admin">
            <div ng-include=" 'views/mui/admin.html' "></div>
        </div>
        <div ng-switch-when="mypage">
            <div ng-include=" 'views/mui/MyPage.html' "></div>
        </div>
        <div ng-switch-when="searchresult">
            <div ng-include=" 'views/mui/searchresult.html' "></div>
        </div>
        <div ng-switch-when="customsearchresult">
            <div ng-include=" 'views/mui/customsearchresult.html' "></div>
        </div>
        <div ng-switch-when="customsearchresults">
            <div ng-include=" 'views/mui/customresultalt.html' "></div>
        </div>
        <div ng-switch-when="metadatasettings">
            <div ng-include=" 'views/mui/MetadataSettings.html' "></div>
        </div>
        <div ng-switch-when="metadataconfiguration">
            <div ng-include=" 'views/mui/MetadataConfiguration.html' "></div>
        </div>
        <div ng-switch-when="mytask">
            <div ng-include=" 'views/mui/mytask.html' "></div>
        </div>
        <div ng-switch-when="mybrief">
            <div ng-include=" 'views/mui/mybrief.html' "></div>
        </div>
        <div ng-switch-when="myfundingrequest">
            <div ng-include=" 'views/mui/myFundingRequest.html' "></div>
        </div>
        <div ng-switch-when="mynotification">
            <div ng-include=" 'views/mui/mynotification.html' "></div>
        </div>
        <div ng-switch-when="workspaces">
            <div ng-include=" 'views/mui/planningtool/myworkspaces.html' "></div>
        </div>
        <div ng-switch-when="mediabank">
            <div ng-include=" 'views/mui/mediabank.html' "></div>
        </div>
        <div ng-switch-when="marcommediabank1">
            <div ng-include=" 'views/mui/mediabank1.html' "></div>
        </div>
        <div ng-switch-when="marcommediabank">
            <div ng-include=" 'views/mui/mediabank.html' "></div>
        </div>
        <div ng-switch-when="cmsfullpage">
            <div ng-include=" 'views/mui/cmsfullpage.html' "></div>
        </div>
        <div ng-switch-when="cms">
            <div ng-include=" 'views/mui/cms.html' "></div>
        </div>
    </div>
    <div id="footer">
        <footer>
            <span>
                <span id="footercopyright"></span>
                <a href="javascript:void(0);" ng-click="popMe('Help/PrivacyStatement.htm','PrivacyStatement',650,500);">{{'LanguageContents.Res_4658.Caption'|translate}}</a>-
                <a href="javascript:void(0);" ng-click="popMe('Help/SecurityStatement.htm','SecurityStatement',650,500);">Security Statement</a>
            </span>
        </footer>
    </div>
    <div id="systemBroadcastMessage" class="modal hide fade sysBroadcastMsg" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="800px">
        <div class="modal-body">
            <div class="msgIcon">
                <i class="icon-info-sign"></i>
            </div>
            <div class="msgText">
                <h4>{{'LanguageContents.Res_4816.Caption'|translate}}</h4>
                <ul class="mssgList">
                    <li ng-repeat="bm in broadcastmsglist">
                        <span class="dt">{{bm.Createdate}}</span>
                        <span class="mssg">{{bm.Messages}}</span>
                    </li>
                </ul>
                <!--<span class="mssg">{{broadcastMessage}}</span>-->
            </div>
            <div class="msgCloseBtn">
                <i class="icon-remove-sign close" data-id="UpdateMsgStatus" data-dismiss="modal" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" data-width="600" class="modal hide fade duplicatePopup" id="DuplicateModels" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">{{'LanguageContents.Res_150.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="dupContainer">
                <h4>{{'LanguageContents.Res_2059.Caption'|translate}}</h4>
                <div class="dupSection">
                    <div class="changeOptions">
                        <form class="form-inline">
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input id="chkentitytype" ng-model="varDuplicate.IsEntity" ng-checked="varDuplicate.IsEntity" type="checkbox" />
                                        </label>
                                    </div>
                                    <label id="entitytype" class="control-label">{{'LanguageContents.Res_4243.Caption'|translate}}</label>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input id="chktasktype" ng-model="varDuplicate.IsTasks" ng-checked="varDuplicate.IsTasks" type="checkbox" />
                                        </label>
                                    </div>
                                    <label id="tasktype" class="control-label">{{'LanguageContents.Res_4836.Caption'|translate}}</label>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input id="chkcostcentretype" ng-model="varDuplicate.IsCostcentre" ng-checked="varDuplicate.IsCostcentre" type="checkbox" />
                                        </label>
                                    </div>
                                    <label id="costcentretype" class="control-label">{{'LanguageContents.Res_254.Caption'|translate}}</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="changeSection" id="duplicateentity">
                        <span class="changeSectionTitle">{{'LanguageContents.Res_2060.Caption'|translate}}</span>
                        <form class="form-horizontanl">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsEntity" ng-model="varDuplicate.IsEntityStatus" type="checkbox" />{{'LanguageContents.Res_1214.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsEntity" ng-model="varDuplicate.IsMilestone" type="checkbox" />{{'LanguageContents.Res_1212.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsEntity" ng-model="varDuplicate.IsAttachments" ng-checked="varDuplicate.IsAttachments" type="checkbox" />{{'LanguageContents.Res_35.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsEntity" id="DiscardChildDuplicate" ng-model="DiscardChildDuplicate" type="checkbox" />{{'LanguageContents.Res_4445.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsEntity" ng-model="varDuplicate.IsMember" type="checkbox" />{{'LanguageContents.Res_11.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="changeSection" id="duplicatetask">
                        <span class="changeSectionTitle">{{'LanguageContents.Res_2061.Caption'|translate}}</span>
                        <form class="form-horizontanl">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsTasks" ng-model="varDuplicate.IsTaskAttachment" type="checkbox" />{{'LanguageContents.Res_4838.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsTasks" ng-model="varDuplicate.IsTaskCheckList" type="checkbox" />{{'LanguageContents.Res_4155.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="changeSection" id="duplicatecostcentre">
                        <span class="changeSectionTitle">{{'LanguageContents.Res_2062.Caption'|translate}}</span>
                        <form class="form-horizontanl">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsCostcentre" ng-model="varDuplicate.IsPlannedBudget" type="checkbox" />{{'LanguageContents.Res_1715.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="dupSection" id="nooftimes">
                    <span class="dupSectionTitle">{{'LanguageContents.Res_2063.Caption'|translate}}</span>
                    <form class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_2064.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" id="duplicateTimes" ng-model="duplicateTimes" />
                                    </div>
                                </div>
                                <div id="duplicateEnitynames" class="control-group"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="saving" id="showhideprogress" style="display: none">
                <div class="InProgress">
                    <img src="assets/img/loading.gif" />
                    <span>{{'LanguageContents.Res_4720.Caption'|translate}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="CreateDuplicateEntitys()" id="Button1" ng-model="DuplicateEntity" class="btn btn-small btn-primary">{{'LanguageContents.Res_21.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
    <div id="optiMaker-iFramePopup" class="modal hide fade optiMaker-iFramePopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static" data-width="1200px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="LoadassetsfrmOptimaker()">×</button>
            <h3 id="H1">{{selectedTemplateType.type}}</h3>
        </div>
        <div class="modal-body">
            <div id="loadIframeImg" class="loadIcon-large">
                <span>
                    <img src="assets/img/loading.gif" />{{'LanguageContents.Res_4467.Caption'|translate}}
                </span>
            </div>
            <iframe id="optimakeriframe" name="iframe" class="optiMaker-iFrame" src="" style="visibility: hidden"></iframe>
        </div>
        <div class="modal-footer">
            <button id="btnclosepopup" data-dismiss="modal" class="btn" ng-click="LoadassetsfrmOptimaker()">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            <div class="oif-footer-saveWordTemplate" id="SaveWordTemplatefooter" style="display: none;">
                <form class="form-inline">

                    <button id="btnsve" class="btn btn-primary floatRight">{{'LanguageContents.Res_4714.Caption'|translate}}</button>
                    <span class="InProgress" ng-show="processMailFlag">
                        <img src="assets/img/loading.gif" />
                        <span>{{'LanguageContents.Res_4720.Caption'|translate}}</span>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        function getWindowWidth() { return $(window).width(); }
        function getWindowHeight() { return $(window).height(); }
        var popUpHeight = getWindowHeight() - 150; var popUpWidth = getWindowWidth() - 75; $('#optiMaker-iFramePopup').attr("data-width", popUpWidth + 'px'); $('#optiMaker-iFramePopup div.modal-body').css("height", popUpHeight + 'px');
    }); $('#btnsve').click(function () { $('#optimakeriframe').contents().find('#SaveDocFile').click(); });</script>
