<div class="UsrGlobalAccss_entity" ng-show="IsGlobalAccessToShow">
    <div class="box">
        <div class="box-header">
            Shared Entity Access
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <div class="row-fluid">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">Global role</label>
                            <div class="controls">
                                <select id="entityGlobalAccess" ui-select2 id="ddlGlobalRole" multiple="multiple" ng-model="entityGlobalRole" ng-click="InsertUpdateEntityGlobalRole();" data-placeholder="Select Global Role">
                                    <option ng-repeat="item in listglobalrolesdata" value="{{item.Id}}">{{item.Caption}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
