﻿<div class="box" id="MilestonesDiv">
    <div class="box-header">
        <h4>{{'LanguageContents.Res_1206.Caption'|translate}}</h4>
    </div>
    <div class="box-content">
        <div class="box-content-margin" id="MileStoneHolderUnLock">
            <table class="table table-normal-right">
                <thead>
                    <tr>
                        <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_23.Caption'|translate}}</span></th>
                        <th ng-show="false"><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                        <th><span></span></th>
                    </tr>
                </thead>
                <tr ng-repeat="milestone in milestones">
                    <td my-qtip2 qtip-content="{{DecodedText(milestone.Name)}}"><span><a data-toggle="modal" ng-click="GetMilestoneByID(milestone)">{{DecodedText(milestone.Name)}}</a></span></td>
                    <td><span>{{ milestone["Due Date"]}}  {{ milestone["Due date"]}}</span></td>
                    <td ng-show="false"><span>{{DecodedText(milestone["Shortdescription"])}}</span></td>
                    <td><span><a xeditablemilestone href="javascript:;" id="person_name" data-type="milestonestatus" attributename="milestonestatus" data-pk="1" data-name="person_name" milestoneid="{{milestone.MileStoneId}}" milestonename="{{milestone.Name}}" milestoneduedate="{{milestone.DueDate2}}" milestoneshortdescription="{{milestone.Shortdescription}}" data-ng-model="person_name" data-placement="top" data-placeholder="Required" data-showbuttons="true" data-original-title="Status" class="editable editable-click">{{milestone.Status}}</a></span></td>
                    <td><span><a data-toggle="modal" ng-show="MilestoneIsLock" ng-click="DeleteMilestone(this)" href="#" data-toggle="modal"><i class="icon-remove"></i></a></span></td>
                </tr>
            </table>
        </div>
        <div class="box-content-margin" id="MileStoneHolderLock">
            <table class="table table-normal-right">
                <thead>
                    <tr>
                        <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_23.Caption'|translate}}</span></th>
                        <th ng-show="false"><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                        <th><span></span></th>
                    </tr>
                </thead>
                <tr ng-repeat="milestone in milestones">
                    <td><span>{{DecodedText(milestone.Name)}}</span></td>
                    <td><span>{{ milestone["Due Date"]}}  {{ milestone["Due date"]}}</span></td>
                    <td ng-show="false"><span>{{DecodedText(milestone["Shortdescription"])}}</span></td>
                    <td><span>{{milestone.Status}}</span></td>
                    <td><span></span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box-footer right">
        <a class="btn btn-small btn-primary" ng-show="MilestoneIsLock" ng-click="AddMilestone()" href="javascript:void(0)">{{'LanguageContents.Res_8.Caption'|translate}}</a>
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="AddMilestoneModel" style="display:none;">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3 id="myModalLabel">{{'LanguageContents.Res_1212.Caption'|translate}}</h3>
            </div>
            <div class="modal-body">
                <form class="notvalidate" name="EnityMilestone" id="EnityMilestone">
                    <div class="row-fluid" id="milestoneDataDiv"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-click="update()" ng-model="UpdateAddMilestone" ng-show="EnableUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_1210.Caption'|translate}}</button>
                <button ng-click="saveMilestone()" ng-model="AddMilestone" ng-show="EnableAdd" class="btn btn-small btn-primary" ng-disabled="horizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            </div>
        </div>
    </div>
</div>
