﻿@if (financialPermission)
{
    <div class="box" id="FinancialSumryDiv">
        <div class="box-header">
            <h4>{{'LanguageContents.Res_1211.Caption'|translate}}</h4>
            <div class="pull-right">
                <span class="currencyIndicatorSelect">
                    <span>{{'LanguageContents.Res_1713.Caption'|translate}}: </span>
                    <select class="currencySelector" ui-select2 ng-model="SelectedCostCentreCurrency.TypeId" ng-click="ChangeCostCentreCurrencyType();" data-placeholder="--Select--">
                        <option ng-repeat="item in CurrencyFormatsList" value="{{item.Id}}">{{item.ShortName}}</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <form class="form-horizontal">
                    <div class="control-group" id="financialchart"></div>
                </form>
            </div>
        </div>
    </div>
}