﻿<div class="attGrp">
    <div class="attGrpHeader align-right">
        <a class="btn btn-small btn-primary" ng-show="!{{itemPredefined}}" ng-click="AddAttributeValues(undefined, undefined,record[0].SortOrder, itemPredefined)" data-toggle="modal">{{'LanguageContents.Res_8.Caption'|translate}}</a>
        <a class="btn btn-small btn-primary" ng-show="{{itemPredefined}}" ng-click="AddPredefinedAttribteValues(0)">{{'LanguageContents.Res_8.Caption'|translate}}</a>
    </div>
    <div class="attGrp-list">
        <div ng-show="loading" class="loadIcon-small">
            <img alt="Loading" src="assets/img/loading.gif">
            {{'LanguageContents.Res_68.Caption'|translate}}...
        </div>
        <div ng-hide="loading">
            <table class="table table-normal-right attGrpTbl" id="AttributeGroupListHeaders">
                <thead>
                    <tr>
                        <th ng-repeat="record in HeaderCaptions" ng-show="$index <= 4">
                            <span ng-show="$index < 4" ng-if="6 != record.TypeID && 12 != record.TypeID">{{record.Lable}}</span>
                            <span ng-show="$index < 4" ng-if="6 == record.TypeID">
                                <span ng-repeat="itm in record.Lable">
                                    <!--<label class="">-->
                                        {{itm.Label}}
                                    <!--</label>-->
                                </span>
                            </span>
                            <span ng-show="$index < 4" ng-if="12 == record.TypeID">
                                <span ng-repeat="itm in record.Lable">
                                    <!--<label class="">{{itm.Label}}</label>-->
                                    {{itm.Label}}
                                </span>
                            </span>
                            <span class="moreColumns" ng-show="$index == 4">...</span>
                        </th>
                        <th>
                            <span>
                                <a ng-show="AGRecordList.length > 0" ng-click="DeleteAllSelectedAttrRecords()"><i class="icon-remove"></i></a>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in AGRecordList">
                        <td dirattributegrouplistview id="{{record[$index].AttributeRecordID}}" ng-repeat="object in record" ng-show="$index <= 4">
                            <div ng-if="6 != object.TypeID && 12 != object.TypeID" ng-show="$index < 4">
                                <div class="sl-value">
                                    <a id="{{object.AttributeRecordID}}" ng-click="EditAttributeValues($index, record, object.AttributeRecordID,object.SortOrder)" ng-if="11 != object.TypeID && false == IsPredefinedAttrGroup" href="javascript:;" class="editable editable-click">{{object.Caption}}</a>

                                    <span ng-if="11 != object.TypeID && true == IsPredefinedAttrGroup">{{object.Caption}}</span>
                                    <img ng-if="11 == object.TypeID && object.Value == '' && false == IsPredefinedAttrGroup" src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                    <img ng-if="11 == object.TypeID && object.Value == '' && true == IsPredefinedAttrGroup" src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                    <a ng-if="11 == object.TypeID && object.Value == '' && false == IsPredefinedAttrGroup" ng-click="EditAttributeValues($index, record, object.AttributeRecordID,object.SortOrder)" href="javascript:;" class="editable editable-click">{{'LanguageContents.Res_4729.Caption'|translate}}
                                    </a>

                                    <!--<a ng-if="11 == object.TypeID && object.Value == '' && true == IsPredefinedAttrGroup" class="editable editable-click">{{'LanguageContents.Res_4729.Caption'|translate}}
                                    </a>-->
                                    <span ng-if="11 == object.TypeID && object.Value == '' && true == IsPredefinedAttrGroup">-</span>
                                    <a ng-if="11 == object.TypeID && object.Value != '' && false == IsPredefinedAttrGroup" ng-click="EditAttributeValues($index, record, object.AttributeRecordID,object.SortOrder)" href="javascript:;" class="editable editable-click">
                                        <img src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                    </a>
                                    <a ng-if="11 == object.TypeID && object.Value != '' && true == IsPredefinedAttrGroup" class="editable editable-click">
                                        <img src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                    </a>
                                    <img ng-if="11 == object.TypeID && true == object.IsLock && object.Value == ''" src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                    <img ng-if="11 == object.TypeID && true == object.IsLock && object.Value != ''" src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                </div>
                            </div>
                            <div ng-if="6 == object.TypeID" ng-show="$index < 4">
                                <span ng-if="true == IsPredefinedAttrGroup">{{object.Caption}}</span>
                                <div ng-if="false == IsPredefinedAttrGroup" class="sl-value" ng-repeat="item in object.Lable">
                                    <a ng-if="false == IsPredefinedAttrGroup" ng-click="EditAttributeValues($index, record, object.AttributeRecordID,object.SortOrder)" class="editable editable-click">{{object.Value[$index]}}</a>                                    
                                </div>
                            </div>
                            <div ng-if="12 == object.TypeID " ng-show="$index < 4">
                                <span ng-if="true == IsPredefinedAttrGroup">{{object.Caption}}</span>
                                <div ng-if="false == IsPredefinedAttrGroup" class="sl-value" ng-repeat="item in object.Lable">
                                    <a ng-if="false == IsPredefinedAttrGroup" ng-click="EditAttributeValues($index, record, object.AttributeRecordID,object.SortOrder)" class="editable editable-click">{{object.Caption[$index]}}</a>                                    
                                </div>
                            </div>
                            <div class="moreColumns" ng-show="$index == 4">
                                <a ng-if="false == IsPredefinedAttrGroup" ng-click="EditAttributeValues($index, record, object.AttributeRecordID,object.SortOrder)" class="editable editable-click">...</a>
                                <span ng-if="true == IsPredefinedAttrGroup" class="editable editable-click">...</span>
                            </div>
                        </td>
                        <td>
                            <span>
                                <a ng-click="DeleteAttribtueRecord(record[0].AttributeRecordID, $index)" ng-if="false == record[0].IsLock"><i class="icon-remove"></i></a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="InCreationAddAttributesModel{{itemGroupId}}" data-width="500" data-height="360" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">{{itemTitle}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid margin-left10x" id="InCreationAttributeGroup{{itemGroupId}}">
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="SaveAttribtueGroup()" ng-show="ShowHideEditGroup" class="btn btn-small btn-primary savedisable">{{'LanguageContents.Res_64.Caption'|translate}}</button>
            <button ng-click="SaveAttribtueGroup()" ng-show="ShowHideSaveGroup" ng-model="SaveAttribtueGroup" class="btn btn-small btn-primary savedisable">{{'LanguageContents.Res_8.Caption'|translate}}</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="InCreationPredefinedAddAttributesModel{{itemGroupId}}" data-width="800px" data-height="360" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H1">{{itemTitle}}
            </h3>
        </div>
        <div class="modal-body">
            <!--<div ng-show="predefinedloading" class="loadIcon-small">            
                <span>
                    <img src="assets/img/loading.gif" />
                    {{'LanguageContents.Res_68.Caption'|translate}}
                </span>
            </div>-->
            <div>
                <div class="step-pane">
                    <form class="form-horizontal" id="Increationdynamic_Controls1{{itemGroupId}}"></form>
                </div>
            </div>
            <hr />
            <div id="DynamicPredefinedTable{{itemGroupId}}">
                <!--style="width: auto;border-right-width: 0;height: 250px;min-width: 50px;overflow-x: auto;"-->
                <!--<span class="noDataAvailable" ng-show="!IsPredefDataPresent">{{'LanguageContents.Res_5675.Caption'|translate}}</span>-->
                <div>
                    <table class="table table-normal-left" id="InCreationdynPredefinedTable{{itemGroupId}}">
                        <thead>
                            <th ng-show="PredefinedHeaderCaptions.length > 0">
                                <label class="checkbox checkbox-custom">
                                    <span>
                                        <input ng-click="SelectAllPredefinedValues($event, itemGroupId)" ng-model="AllpredefinedvalueChecked" type="checkbox" />
                                        <i class="checkbox"></i>
                                    </span>
                                </label>
                            </th>
                            <th ng-repeat="record in PredefinedHeaderCaptions" ng-click="sort(record)">
                                <span ng-if="6 != record.TypeID && 12 != record.TypeID">
                                    <i class="icon-sort-down" style="font-size: 14px; margin-right: 5px; color: #999;" ng-show="sortKey==record.Lable && AGR.length > 0" ng-class="{'icon-sort-up':reverse,'icon-sort-down':!reverse}"></i>
                                    {{record.Lable}}
                                </span>
                                <span ng-if="6 == record.TypeID">
                                    <span ng-repeat="itm in record.Lable">
                                        <i class="icon-sort-down" style="font-size: 14px; margin-right: 5px; color: #999;" ng-show="sortKey==record.Lable && AGR.length > 0" ng-class="{'icon-sort-up':reverse,'icon-sort-down':!reverse}"></i>
                                        {{itm.Label}}
                                    </span>
                                </span>
                                <span ng-if="12 == record.TypeID">
                                    <span ng-repeat="itm in record.Lable">
                                        <i class="icon-sort-down" style="font-size: 14px; margin-right: 5px; color: #999;" ng-show="sortKey==record.Lable && AGR.length > 0" ng-class="{'icon-sort-up':reverse,'icon-sort-down':!reverse}"></i>
                                        {{itm.Label}}
                                    </span>
                                </span></th>
                        </thead>
                        <tbody>
                            <tr ng-show="IsPredefDataPresent" pagination-id="PreIncreationAttrGrp{{itemGroupId}}" dir-paginate="record in AGR|itemsPerPage: predefinedpagination.PageSize" total-items="predefinedpagination.totalitems" current-page="predefinedpagination.currentPage">
                                <td data-id="{{record[0].AttributeRecordID}}">
                                    <span>
                                        <label class="checkbox checkbox-custom pull-right">
                                            <input ng-click="SelectPredefinedValues($event, itemGroupId, record[0].AttributeRecordID)" ng-model="EntityObjChecked" type="checkbox" />
                                            <i class="checkbox"></i>
                                        </label>
                                    </span>
                                </td>
                                <td ng-repeat="object in record">
                                    <div>
                                        <div class="sl-value">
                                            <span>{{object.Caption}}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        <dir-pagination-controls pagination-id="PreIncreationAttrGrp{{itemGroupId}}"
                            on-page-change="PredefinedpageChanged(newPageNumber)"
                            class="pagination pagination-centered"
                            max-size="5"
                            direction-links="true"
                            boundary-links="true">
				    </dir-pagination-controls>
                    </div>
                    <span class="noDataAvailable" style="font-size: 12px !important;" ng-show="!IsPredefDataPresent">{{'LanguageContents.Res_5675.Caption'|translate}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="SavePredefinedValuesToAttribtueGroup()" ng-show="AGR.length > 0 && IsPredefDataPresent" ng-model="SaveAttribtueGroup" class="btn btn-small btn-primary savedisable">{{'LanguageContents.Res_8.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
