﻿<div class="attGrp">
    <div class="attGrpHeader">
        <h5>{{itemTitle}}</h5>
    </div>
    <div class="attGrpContent">
        <div>
            <div ng-show="loading" class="loadIcon-small">
                <img alt="Loading" src="assets/img/loading.gif" />
                <span>{{'LanguageContents.Res_68.Caption'|translate}}...</span>
            </div>
            <div ng-hide="loading" class="attGrpOvrContent">
                <form class="form-horizontal nomargin">
                    <div>
                        <table class="table table-normal-right attGrpTbl" ng-hide="showHideItemDiv" id="AttrGroupTbl{{itemGroupId}}" data-ng-init="attrGrpList();" data-page-size="{{itemPagesize}}">
                            <thead>
                            </thead>
                            <tbody>
                                <tr pagination-id="AttrGrp{{itemGroupId}}" dir-paginate="record in AGRecordList|itemsPerPage: itemPagesize" class="attGrpOvrContent" total-items="pagination.totalitems">
                                    <td>
                                        <div dirattributegrouplistview id="{{record[$index].AttributeRecordID}}" ng-repeat="object in record" class="control-group">
                                            <div ng-if="6 != object.TypeID && 12 != object.TypeID">
                                                <label class="control-label">{{object.Lable}}</label>
                                                <div class="controls">
                                                    <a id="{{object.AttributeRecordID}}" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" ng-if="11 != object.TypeID && false == object.IsLock && false == IsPredefinedAttrGroup" href="javascript:;" class="editable editable-click">{{object.Caption}}</a>
                                                    <span ng-if="11 != object.TypeID && true == object.IsLock || true == IsPredefinedAttrGroup">{{object.Caption}}</span>
                                                    <img ng-if="11 == object.TypeID && object.Value == '' && false == object.IsLock && false == IsPredefinedAttrGroup" src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                                    <a ng-if="11 == object.TypeID && object.Value == '' && false == object.IsLock && false == IsPredefinedAttrGroup" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" href="javascript:;" class="editable editable-click">{{'LanguageContents.Res_4729.Caption'|translate}}
                                                    </a>
                                                    <a ng-if="11 == object.TypeID && object.Value != '' && false == object.IsLock && false == IsPredefinedAttrGroup" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" href="javascript:;" class="editable editable-click">
                                                        <img src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                                    </a>
                                                    <img ng-if="11 == object.TypeID && true == object.IsLock && object.Value == '' && false == IsPredefinedAttrGroup" src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                                    <img ng-if="11 == object.TypeID && true == object.IsLock && object.Value != '' && false == IsPredefinedAttrGroup" src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                                </div>
                                            </div>
                                            <div ng-if="6 == object.TypeID">
                                                <div ng-repeat="item in object.Lable" class="control-group">
                                                    <label class="control-label">{{item.Label}}</label>
                                                    <div class="controls">
                                                        <a ng-if="false == object.IsLock && false == IsPredefinedAttrGroup" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" class="editable editable-click">{{object.Value[$index]}}</a>
                                                        <span ng-if="true == object.IsLock || true == IsPredefinedAttrGroup">{{object.Value[$index]}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="12 == object.TypeID ">
                                                <div ng-repeat="item in object.Lable" class="control-group">
                                                    <label class="control-label">{{item.Label}}</label>
                                                    <div class="controls">
                                                        <a ng-if="false == object.IsLock && false == IsPredefinedAttrGroup" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" class="editable editable-click">{{object.Caption[$index]}}</a>
                                                        <span ng-if="true == object.IsLock || true == IsPredefinedAttrGroup">{{object.Caption[$index]}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a ng-click="AddPredefinedAttribteValues(record[0].SortOrder)" ng-show="!{{itemIsLock}} && {{itemPredefined}}" data-toggle="modal">{{'LanguageContents.Res_8.Caption'|translate}}
                                                <i class="icon-plus-sign" my-qtip2 qtip-content="Add New"></i>
                                        </a>
                                        <a ng-click="AddAttributeValues(undefined,record[0].SortOrder)" ng-show="!{{itemPredefined}}" data-toggle="modal" ng-if="false == record[0].IsLock">
                                            <i class="icon-plus-sign" my-qtip2 qtip-content="Add New"></i>
                                        </a>
                                        <a ng-click="DeleteAttribtueRecord(record[0].AttributeRecordID)" ng-if="false == record[0].IsLock">
                                            <i class="icon-remove-sign" titmy-qtip2 qtip-contentle="Delete"></i>
                                        </a>
                                    </td>
                                    <!-- <span class="attGrpCtntSeprator">
                            <hr ng-hide="$last" />
                                    </span>-->
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center">
                            <dir-pagination-controls pagination-id="AttrGrp{{itemGroupId}}"
                                on-page-change="pageChanged(newPageNumber)"
                                class="pagination pagination-centered"
                                max-size="5"
                                direction-links="true"
                                boundary-links="true">
				        </dir-pagination-controls>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-show="showAddDiv" class="nomargin attrGrpAddShowHide">
            <span ng-show="ShowHideAddAttributeGroupBtn" class="noAttrGrpPresent">{{'LanguageContents.Res_2051.Caption'|translate}}</span>
            <a ng-show="ShowHideAddAttributeGroupBtn == true && !{{itemPredefined}}" ng-click="AddAttributeValues()" data-toggle="modal">{{'LanguageContents.Res_2052.Caption'|translate}} {{itemTitle}}</a>
            <a ng-show="ShowHideAddAttributeGroupBtn == true && {{itemPredefined}}" ng-click="AddPredefinedAttribteValues(0)" data-toggle="modal">{{'LanguageContents.Res_2052.Caption'|translate}} {{itemTitle}}</a>


            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="AddAttributesModel{{itemGroupId}}" data-width="500" data-height="360" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="myModalLabel">{{itemTitle}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid margin-left10x" id="AttributeGroup{{itemGroupId}}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="SaveAttribtueGroup()" ng-show="ShowHideEditGroup" class="btn btn-small btn-primary savedisable">{{'LanguageContents.Res_64.Caption'|translate}}</button>
                    <button ng-click="SaveAttribtueGroup()" ng-show="ShowHideSaveGroup" ng-model="SaveAttribtueGroup" class="btn btn-small btn-primary savedisable">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                    <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="PredefinedAddAttributesModel{{itemGroupId}}" data-width="800px" data-height="360" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H1">{{itemTitle}}
            </h3>
        </div>
        <div class="modal-body">
            <div>
                <div class="step-pane">
                    <form class="form-horizontal" id="dynamic_Controls1{{itemGroupId}}"></form>
                </div>
            </div>
            <hr />
            <div id="DynamicPredefinedTable{{itemGroupId}}">
                <!--<span class="noDataAvailable" ng-show="!IsPredefDataPresent">{{'LanguageContents.Res_5675.Caption'|translate}}</span>-->
                <div>
                    <table class="table table-normal-left" id="predefinedTable{{itemGroupId}}">
                        <thead>
                            <th ng-show="PredefinedHeaderCaptions.length > 0">
                                <label class="checkbox checkbox-custom">
                                    <span>
                                        <input ng-click="SelectAllPredefinedValues($event, itemGroupId)" ng-model="AllpredefinedvalueChecked" type="checkbox" />
                                        <i class="checkbox"></i>
                                    </span>
                                </label>
                            </th>
                            <th ng-repeat="record in PredefinedHeaderCaptions" ng-click="sort(record)">
                                <span ng-if="6 != record.TypeID && 12 != record.TypeID">
                                    <i class="icon-sort-down" style="font-size: 14px; margin-right: 5px; color: #999;" ng-show="sortKey==record.Lable && AGR.length > 0" ng-class="{'icon-sort-up':reverse,'icon-sort-down':!reverse}"></i>
                                    {{record.Lable}}
                                    <!--<span class="glyphicon sort-icon" ng-show="sortKey==record.Lable" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                </span>
                                <span ng-if="6 == record.TypeID">
                                    <span ng-repeat="itm in record.Lable">
                                        <i class="icon-sort-down" style="font-size: 14px; margin-right: 5px; color: #999;" ng-show="sortKey==record.Lable && AGR.length > 0" ng-class="{'icon-sort-up':reverse,'icon-sort-down':!reverse}"></i>
                                        {{itm.Label}}
                                        <!--<span class="glyphicon sort-icon" ng-show="sortKey==record.Lable" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                    </span>
                                </span>
                                <span ng-if="12 == record.TypeID">
                                    <span ng-repeat="itm in record.Lable">
                                        <i class="icon-sort-down" style="font-size: 14px; margin-right: 5px; color: #999;" ng-show="sortKey==record.Lable && AGR.length > 0" ng-class="{'icon-sort-up':reverse,'icon-sort-down':!reverse}"></i>
                                        {{itm.Label}}

                                        <!--<span class="glyphicon sort-icon" ng-show="sortKey==record.Lable" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                    </span>
                                </span>
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-show="IsPredefDataPresent" pagination-id="PredefinedpagAttrGrp{{itemGroupId}}" dir-paginate="record in AGR|itemsPerPage: predefinedpagination.PageSize" total-items="predefinedpagination.totalitems" current-page="predefinedpagination.currentPage">
                                <td data-id="{{record[0].AttributeRecordID}}">
                                    <span>
                                        <label class="checkbox checkbox-custom pull-right">
                                            <input ng-click="SelectPredefinedValues($event, itemGroupId, record[0].AttributeRecordID)" ng-model="EntityObjChecked" type="checkbox" />
                                            <i class="checkbox"></i>
                                        </label>
                                    </span>
                                </td>
                                <td ng-repeat="object in record">
                                    <div>
                                        <div class="sl-value">
                                            <span>{{object.Caption}}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        <dir-pagination-controls pagination-id="PredefinedpagAttrGrp{{itemGroupId}}"
                            on-page-change="PredefinedpageChanged(newPageNumber)"
                            class="pagination pagination-centered"
                            max-size="5"
                            direction-links="true"
                            boundary-links="true">
				    </dir-pagination-controls>
                    </div>
                    <span class="noDataAvailable" style="font-size: 12px !important;" ng-show="!IsPredefDataPresent">{{'LanguageContents.Res_5675.Caption'|translate}}</span>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button ng-click="SavePredefinedValuesToAttribtueGroup()" ng-show="AGR.length > 0 && IsPredefDataPresent" class="btn btn-small btn-primary savedisable">{{'LanguageContents.Res_8.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
