﻿<div id="AttributegroupInTab" class="attGrpInTab">
    <div>
        <div class="btn-toolbar attGrpInTab-FilterPanel">
            <div ng-show="!{{itemIsLock}}" class="btn-group" data-toggle="buttons-radio">
                <button type="button" ng-click="IsListView=true" class="btn btn-default">{{'LanguageContents.Res_1554.Caption'|translate}}</button>
                <button type="button" ng-click="GanttViewLoad('monthly')" class="btn btn-default">{{'LanguageContents.Res_1553.Caption'|translate}}</button>
            </div>
            <div class="btn-group" ng-show="!IsListView">
                <span class="filterName">{{'LanguageContents.Res_4900.Caption'|translate}}</span>
                <button data-toggle="dropdown" class="btn dropdown-toggle btn-small capitalize">
                    {{settings.Mode}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-click="GanttViewLoad('monthly')"><a>{{'LanguageContents.Res_1401.Caption'|translate}}</a></li>
                    <li ng-click="GanttViewLoad('daily')"><a>{{'LanguageContents.Res_1402.Caption'|translate}}</a></li>
                    <li ng-click="GanttViewLoad('quarterly')"><a>{{'LanguageContents.Res_1403.Caption'|translate}}</a></li>
                    <li ng-click="GanttViewLoad('weekly')"><a>{{'LanguageContents.Res_1404.Caption'|translate}}</a></li>
                </ul>
            </div>
            <div ng-show="!{{itemIsLock}}" class="btnPanelRight">
                <button ng-click="clearImportpopup()" class="btn btn-small" data-toggle="modal" data-target="#attrGrpImportDataPopup">{{'LanguageContents.Res_4438.Caption'|translate}}</button>
                <a class="btn btn-small btn-primary" ng-show="!{{itemPredefined}}" ng-click="AddAttributeValues(undefined,0)" data-toggle="modal">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                <a class="btn btn-small btn-primary" ng-show="{{itemPredefined}}" ng-click="AddPredefinedAttribteValues(0)" data-toggle="modal">{{'LanguageContents.Res_8.Caption'|translate}}</a>
            </div>
        </div>
        <div ng-show="loading" class="loadIcon-small">
            <img alt="Loading" src="assets/img/loading.gif">
            {{'LanguageContents.Res_68.Caption'|translate}}...
        </div>
        <div ng-hide="loading" class="attGrpInTabContent">
            <span class="noDataAvailable" ng-show="showHideItemDiv">{{'LanguageContents.Res_4515.Caption'|translate}}</span>
            <div ng-hide="showHideItemDiv">
                <div class="attGrpInTab-ListView relative" ng-show="IsListView">
                <div>
                        <div>
                            <table id="tableheaer" ng-hide="showHideItemDiv" class="table table-normal-right">
                        <thead>
                        <th ng-repeat="record in HeaderCaptions">
                            <span ng-if="6 != record.TypeID && 12 != record.TypeID">{{record.Lable}}</span>
                            <span ng-if="6 == record.TypeID || 12 == record.TypeID">
                                <span ng-repeat="itm in record.Lable">
                                    <label class="control-label">{{itm.Label}}</label>
                                </span>
                            </span>
                        </th>
                        <th></th>
                        </thead>
                        <tbody>
                                    <tr pagination-id="AttrGrp{{itemGroupId}}" dir-paginate="record in AGRecordList|itemsPerPage: itemPagesize" total-items="pagination.totalitems" class="AttrGrp">
                                <td ng-repeat="object in record">
                                    <div ng-if="6 != object.TypeID && 12 != object.TypeID">
                                        <div>
                                                    <a id="{{object.AttributeRecordID}}" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" ng-if="11 != object.TypeID && false == object.IsLock && false == IsPredefinedAttrGroup" href="javascript:;" class="editable editable-click">{{object.Caption}}</a>
                                                    <span ng-if="11 != object.TypeID && true == object.IsLock || true == IsPredefinedAttrGroup">{{object.Caption}}</span>
                                                    <img ng-if="11 == object.TypeID && object.Value == '' && false == object.IsLock && false == IsPredefinedAttrGroup" src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                                    <a ng-if="11 == object.TypeID && object.Value == '' && false == object.IsLock && false == IsPredefinedAttrGroup" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" href="javascript:;" class="editable editable-click">{{'LanguageContents.Res_4729.Caption'|translate}}
                                            </a>
                                                    <a ng-if="11 == object.TypeID && object.Value != '' && false == object.IsLock && false == IsPredefinedAttrGroup" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" href="javascript:;" class="editable editable-click">
                                                <img src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                            </a>
                                                    <img ng-if="11 == object.TypeID && true == object.IsLock && object.Value == '' && false == IsPredefinedAttrGroup" src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                                    <img ng-if="11 == object.TypeID && true == object.IsLock && object.Value != '' && false == IsPredefinedAttrGroup" src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                        </div>
                                    </div>
                                    <div ng-if="6 == object.TypeID">
                                        <div ng-repeat="item in object.Lable">
                                                    <a ng-if="false == object.IsLock && false == IsPredefinedAttrGroup" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" class="editable editable-click">{{object.Value[$index]}}</a>
                                                    <span ng-if="true == object.IsLock || true == IsPredefinedAttrGroup">{{object.Value[$index]}}</span>
                                        </div>
                                    </div>
                                    <div ng-if="12 == object.TypeID ">
                                        <div ng-repeat="item in object.Lable">
                                                    <a ng-if="false == object.IsLock && false == IsPredefinedAttrGroup" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" class="editable editable-click">{{object.Caption[$index]}}</a>
                                                    <span ng-if="true == object.IsLock || true == IsPredefinedAttrGroup">{{object.Caption[$index]}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span>
                                        <a ng-click="DeleteAttribtueRecord(record[0].AttributeRecordID)" ng-if="false == record[0].IsLock"><i class="icon-remove"></i></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                            <div style="text-align: center">
                                <dir-pagination-controls pagination-id="AttrGrp{{itemGroupId}}"
                                    on-page-change="pageChanged(newPageNumber)"
                                    class="pagination pagination-centered"
                                    max-size="5"
                                    direction-links="true"
                                    boundary-links="true">
				            </dir-pagination-controls>
                </div>
                        </div>
                    </div>
                <div class="attrGrpAddShowHide" ng-show="ShowHideAddAttributeGroupBtn">

                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="AddAttributesModel{{itemGroupId}}" data-width="500" data-height="360" style="display: none;">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h3 id="myModalLabel">{{itemTitle}}
                            </h3>
                        </div>
                        <div class="modal-body">
                            <div class="row-fluid margin-left10x" id="AttributeGroup{{itemGroupId}}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button ng-click="SaveAttribtueGroup()" ng-show="ShowHideEditGroup" class="btn btn-small btn-primary savedisable">{{'LanguageContents.Res_64.Caption'|translate}}</button>
                            <button ng-click="SaveAttribtueGroup()" ng-show="ShowHideSaveGroup" ng-model="SaveAttribtueGroup" class="btn btn-small btn-primary savedisable">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="attGrpInTab-GanttView" ng-show="!IsListView">
                <div id="ganttChart">
                    <div class="ganttview">
                        <div class="ganttview-left">
                            <div class="ganttview-list">
                                <div class="ganttview-list-container">
                                    <table class="table table-gantt">
                                        <thead>
                                            <tr id="ganttviewDataHeader"></tr>
                                        </thead>
                                    </table>
                                    <div class="ganttview-list-container-data">
                                        <table id="GanttDataContainer" class="table table-gantt">
                                            <tbody data-page="4"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ganttview-right">
                            <div class="ganttview-slide-container">
                                <div class="ganttview-header">
                                    <div class="ganttview-header-mains"></div>
                                    <div class="ganttview-header-subs"></div>
                                    <div class="ganttview-header-block"></div>
                                </div>
                                <div class="ganttview-grid">
                                    <div class="ganttview-grid-row" style="height: 0px;"></div>
                                </div>
                            </div>
                            <div class="ganttview-data">
                                <div class="ganttview-data-blocks" id="GanttBlockContainer">
                                    <div data-page="0" class="ganttview-data-blocks-page"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="attrGrpImportDataPopup" class="modal attrGrpImportDataPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="500" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H3">{{'LanguageContents.Res_4438.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div ng-show="showhideimport" class="loadIcon-large">
                <!--ng-show="loading"-->
                <span>
                    <img alt="Loading" src="assets/img/loading.gif">
                    {{LoadingWheelCaption}}
                </span>
            </div>
            <div class="row-fluid">
                <div id="importfile" class="imD-HeaderMessage">
                    <span class="imD-h-noDataSource">{{'LanguageContents.Res_4640.Caption'|translate}}</span>
                    <div class="imD-h-dataSource">
                        <span class="imD-h-label displayNone">{{'LanguageContents.Res_4200.Caption'|translate}}</span>
                        <span class="imD-h-invalid displayNone">{{'LanguageContents.Res_4452.Caption'|translate}}<i class="icon-warning-sign"></i></span>
                        <span class="imD-h-ds-Name">{{ImportFileName}}</span>
                    </div>
                </div>
                <div class="imd-Form">
                    <form class="form-horizontal" ng-hide="IsUploadshow">
                        <div class="control-group imd-Form-Header">
                            <label class="control-label">{{'LanguageContents.Res_587.Caption'|translate}}</label>
                            <div class="controls">
                                <label class="control-label align-left">{{'LanguageContents.Res_4258.Caption'|translate}}</label>
                            </div>
                        </div>
                        <div class="control-group" ng-repeat="lab in BindLabelAndColumn">
                            <label class="control-label">{{lab.AttributeCaption}}</label>
                            <div class="controls">
                                <select ui-select2 ng-model="lab.ColumnName" id="">
                                    <option ng-repeat="itm in ImportDataColumnNames" value="{{itm}}">{{itm}}</option>
                                </select>
                                <input type="text" class="inputFillWith" placeholder="Value" ng-show="lab.ColumnName == 'Fill With'" ng-model="lab.Value" class="ng-pristine ng-valid" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary" ng-hide="IsUploadshow" ng-click="SaveImportedData()">{{'LanguageContents.Res_4437.Caption'|translate}}</button>
            <button class="btn btn-small btn-primary" ng-show="IsUploadshow" id="pickfiles">{{'LanguageContents.Res_4878.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="PredefinedAddAttributesModel{{itemGroupId}}" data-width="800px" data-height="360" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H1">{{itemTitle}}
            </h3>
        </div>
        <div class="modal-body">
            <div>
                <div class="step-pane">
                    <form class="form-horizontal" id="dynamic_Controls1{{itemGroupId}}"></form>
                </div>
            </div>
            <hr />
            <div id="DynamicPredefinedTable{{itemGroupId}}">
                <div>
                    <table class="table table-normal-left" class="table-normal-right table" id="predefinedTable{{itemGroupId}}">
                        <thead>
                            <th ng-show="PredefinedHeaderCaptions.length > 0">
                                <label class="checkbox checkbox-custom">
                                    <span>
                                        <input ng-click="SelectAllPredefinedValues($event, itemGroupId)" ng-model="AllpredefinedvalueChecked" type="checkbox" />
                                        <i class="checkbox"></i>
                                    </span>
                                </label>
                            </th>
                            <th ng-repeat="record in PredefinedHeaderCaptions" ng-click="sort(record)">
                                <span ng-if="6 != record.TypeID && 12 != record.TypeID">
                                    <i class="icon-sort-down" style="font-size: 14px; margin-right: 5px; color: #999;" ng-show="sortKey==record.Lable && AGR.length > 0" ng-class="{'icon-sort-up':reverse,'icon-sort-down':!reverse}"></i>
                                    {{record.Lable}}
                                    <!--<span class="glyphicon sort-icon" ng-show="sortKey==record.Lable" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                </span>
                                <span ng-if="6 == record.TypeID">
                                    <span ng-repeat="itm in record.Lable">
                                        <i class="icon-sort-down" style="font-size: 14px; margin-right: 5px; color: #999;" ng-show="sortKey==record.Lable && AGR.length > 0" ng-class="{'icon-sort-up':reverse,'icon-sort-down':!reverse}"></i>
                                        {{itm.Label}}
                                        <!--<span class="glyphicon sort-icon" ng-show="sortKey==record.Lable" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                    </span>
                                </span>
                                <span ng-if="12 == record.TypeID">
                                    <span ng-repeat="itm in record.Lable">
                                        <i class="icon-sort-down" style="font-size: 14px; margin-right: 5px; color: #999;" ng-show="sortKey==record.Lable && AGR.length > 0" ng-class="{'icon-sort-up':reverse,'icon-sort-down':!reverse}"></i>
                                        {{itm.Label}}
                                        <!--<span class="glyphicon sort-icon" ng-show="sortKey==record.Lable" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                    </span>
                                </span>
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-show="IsPredefDataPresent" pagination-id="PredefinedpagAttrGrp{{itemGroupId}}" dir-paginate="record in AGR|itemsPerPage: predefinedpagination.PageSize" total-items="predefinedpagination.totalitems" current-page="predefinedpagination.currentPage">
                                <td data-id="{{record[0].AttributeRecordID}}">
                                    <span>
                                        <label class="checkbox checkbox-custom pull-right">
                                            <input ng-click="SelectPredefinedValues($event, itemGroupId, record[0].AttributeRecordID)" ng-model="EntityObjChecked" type="checkbox" />
                                            <i class="checkbox"></i>
                                        </label>
                                    </span>
                                </td>
                                <td ng-repeat="object in record">
                                    <div>
                                        <div class="sl-value">
                                            <span>{{object.Caption}}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        <dir-pagination-controls pagination-id="PredefinedpagAttrGrp{{itemGroupId}}"
                            on-page-change="PredefinedpageChanged(newPageNumber)"
                            class="pagination pagination-centered"
                            max-size="5"
                            direction-links="true"
                            boundary-links="true">
				    </dir-pagination-controls>
                    </div>
                    <span class="noDataAvailable" style="font-size: 12px !important;" ng-show="!IsPredefDataPresent">{{'LanguageContents.Res_5675.Caption'|translate}}</span>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button ng-click="SavePredefinedValuesToAttribtueGroup()" ng-show="AGR.length > 0 && IsPredefDataPresent" ng-model="SaveAttribtueGroup" class="btn btn-small btn-primary savedisable">{{'LanguageContents.Res_8.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
