﻿<div>
    <input ng-disabled={{itemIsreadonly}} id="{{itemAttrid}}" value="" />
    <i class="icon-asterisk validationmark margin-right5x ng-hide"></i>
    <span ng-show="itemIsenable" class="signInfo margin-left20x"><i my-qtip2 qtip-content="{{itemAttributehelptext}}" class="icon-info-sign"></i></span>
    <br />
    <div id="poptag_{{itemAttrid}}" class="popularTagsSection">
        <span class="populartagsLabel">Popular tags:</span>
        <span class="populartagsSpan" ng-click="BingPopularTagToTagwords(itm.id)" id="{{itm.id}}{{itemAttrid}}" ng-repeat="itm in PopularTagWordsLists">{{itm.text}}</span>
        <span><a href="javascript:void();" ng-click="LoadTagswordsOnAplhabetClick('All');toggleObject.item = 0;textsearch=''" data-toggle="modal">View all</a></span>
    </div>

    <div id="tagWordsListPopup_{{itemAttrid}}" class="modal tagWordsListPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="850px" style="display: none;">
        <div id="search_{{itemAttrid}}" class="modal-header">
            <button type="button" class="close" ng-click="closetagpopup()" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Tags</h3>
            <span class="searchTagsInput">
                <input type="text" id="Ontextsearch_{{itemAttrid}}" placeholder="Filter" ng-model="textsearch" />
            </span>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <ul class="alphaFilter" id="alphaberlist_{{itemAttrid}}">
                    <li id="alphabetload_{{itemAttrid}}" ng-click="LoadTagswordsOnAplhabetClick(alp); toggleObject.item = $index" ng-class="{'selected' : toggleObject.item == $index}" ng-repeat="alp in alphabet"><a>{{alp}}</a></li>
                </ul>
                <div class="tagWordsList">
                    <span id="tagwrds_{{itemAttrid}}" ng-class="{'selected': true == itmtag.IsChecked}" class="tagWord" ng-repeat="itmtag in TagOptionsListsOnAplhabet">
                        <label class="checkbox checkbox-custom">
                            <input type="checkbox" ng-model="itmtag.IsChecked" />
                            <i class="checkbox" ng-class="{'checkbox checked':itmtag.IsChecked, 'checkbox': !itmtag.IsChecked, 'selected': itmtag.IsChecked, 'selected': !itmtag.IsChecked}"></i>
                            <span class="tagvalue">{{itmtag.text}}</span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary" id="addtag_{{itemAttrid}}" ng-click="AddSelectedTagsToTagWords()">Add</button>
            <button data-dismiss="modal" class="btn btn-small" ng-click="closetagpopup()">Close</button>
        </div>
    </div>
</div>
