﻿<div ng-controller="mui.planningtool.objective.detail.detailfilterCtrl">
    <div id="objectivedetailfiltersettings"></div>
    <div class="FilterHolder" style="display: none;" id="filtersettingsdynamic">
        <div class="row-fluid">
            <div class="span12 dynamicContainer">
                <form class="form-float" id="dynamic_Controls"></form>
            </div>
            <div class="span12 actionPanel nomargin">
                <div class="lftButtons">
                    <input type="text" ng-model="ngsaveasfilter" id="ngsaveasfilter" placeholder="Filter name" class="input-small">
                    <a class=" btn btn-primary btn-small" ng-model='FilterSave' id='FilterSave' ng-show="showSave" ng-click="FilterSave();">{{'LanguageContents.Res_406.Caption'|translate}}</a>
                    <a class=" btn btn-primary btn-small" ng-show="showUpdate" ng-click="FilterUpdate();">{{'LanguageContents.Res_407.Caption'|translate}}</a>
                    <button type="button" ng-show="deletefiltershow" ng-click="DeleteFilter();" class="btn btn-danger btn-small ng-pristine ng-valid" ng-model="TrashIcon"><i class="icon-trash icon-large"></i></button>
                </div>
                <div class="rytButtons">
                    <a class="btn btn-small" ng-click="hideFilterSettings()">{{'LanguageContents.Res_415.Caption'|translate}}</a>
                    <a class="btn btn-small" ng-click="ClearFilterAttributes();">{{'LanguageContents.Res_414.Caption'|translate}}</a>
                    <a class="btn btn-primary btn-small" ng-click="ApplyFilter()">{{'LanguageContents.Res_405.Caption'|translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>