﻿<div ng-controller="mui.planningtool.objective.detail.filtersettingsCtrl">
    <div id="rootlevelfilter"></div>
    <div class="FilterHolder" style="display: none;" id="filtersettingsdynamic">
        <div class="row-fluid">
            <div class="span12 dynamicContainer">
                <form class="form-float" id="Objectivefiltercontrols">
                    <div class="control-group">
                        <span>{{'LanguageContents.Res_24.Caption'|translate}} :</span>
                        <select class="multiselect" data-placeholder="Select status"
                            ng-model="ObjectiveFilter.ngObjectivefilterStatus" ng-options="item.Id as item.FilterStatus for item in ObjFilterStatus"
                            multiple="multiple" multiselect-dropdown>
                        </select>
                    </div>
                    <div class="control-group">
                        <span>{{'LanguageContents.Res_702.Caption'|translate}} :</span>
                        <select class="multiselect" data-placeholder="Select Owner"
                            ng-model="ObjectiveFilter.ngObjectivefilterOwner" id="ObjectivefilterOwner" ng-options="item.Id as (item.FirstName+' '+item.LastName) for item in ObjectiveOwners"
                            multiple="multiple" multiselect-dropdown>
                        </select>
                    </div>
                    <div class="control-group">
                        <span>{{'LanguageContents.Res_517.Caption'|translate}} :</span>
                        <select class="multiselect" data-placeholder="Select Objective type"
                            ng-model="ObjectiveFilter.ngObjectiveType" ng-options="item.Id as item.objType for item in ObjTypeList"
                            multiple="multiple" multiselect-dropdown>
                        </select>
                    </div>
                    <div class="control-group">
                        <span>{{'LanguageContents.Res_728.Caption'|translate}} :</span>
                        <input type='text' ng-model='ObjectiveFilter.ngObjectivefilterKeyword' id='ngObjectivefilterKeyword' placeholder='Filter Keyword'>
                    </div>
                </form>
            </div>
            <div class="span12 actionPanel nomargin">
                <div class="lftButtons">
                    <input type="text" ng-model="ObjectiveFilter.ngObjectivefilterSaveAs" id="ngObjectivefilterSaveAs" placeholder="Filter name" class="input-small">
                    <a class=" btn btn-primary btn-small" ng-show="showSave" ng-click="FilterSave();">{{'LanguageContents.Res_406.Caption'|translate}}</a>
                    <a class=" btn btn-primary btn-small" ng-show="showUpdate" ng-click="FilterUpdate();">{{'LanguageContents.Res_407.Caption'|translate}}</a>
                    <button type="button" ng-show="deletefiltershow" ng-click="DeleteFilter();" class="btn btn-danger btn-small ng-pristine ng-valid" ng-model="TrashIcon"><i class="icon-trash icon-large"></i></button>
                </div>
                <div class="rytButtons">
                    <a class="btn btn-small" ng-click="hideFilterSettings()">{{'LanguageContents.Res_415.Caption'|translate}}</a>
                    <a class="btn btn-small" ng-click="ClearFilterAttributes();">{{'LanguageContents.Res_414.Caption'|translate}}</a>
                    <a class="btn btn-primary btn-small" ng-click="ApplyFilter()">{{'LanguageContents.Res_405.Caption'|translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
