﻿<div class="row-fluid" ng-controller="mui.cms.default.detail.section.contentCtrl">
    <div class="tab-line"></div>
    <div id="cmsContentTab">
        <div id="cmsContentDiv" class="contentTabDiv contentBuilder-TemplateStyle">
            <div id="DivCMSContentBind">

                <!-- <textarea ng-model="htmlEditorText" aria-multiline="true" id="CmsContentEditablePage"></textarea>-->

                <div class="btnPane">
                    <button class="btn btn-small btn-primary ng-binding" ng-show="ShowHideContent" ng-click="EditCmsHtmlContent()">HTML Editor Mode</button>
                    <button class="btn btn-small btn-primary ng-binding" ng-hide="ShowHideContent" ng-click="DragModeContent()">Draggable Mode</button>
                    <button id="contentpickfiles" class="displayNone" type="submit"></button>
                </div>

                <div id="CmsContentEditablePage" class="inlineBlock widthcent box-size-border">
                    <div id="cmsSnippetsContainer" class="span8">
                    </div>
                    <div id="cmsLinksContainer" class="span4 margin-top40x">
                    </div>
                </div>
                <div id="generatesnippet" class="displayNone"></div>
                <div id="onLoadSnippet" class="displayNone"></div>

                <div ng-show="IsEditFeatureEnabled" class="redactorFooter align-right">
                    <!--<button class="btn btn-small">Cancel</button>-->
                    <button class="btn btn-small btn-primary" ng-click="SaveCmsrevContent()">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                </div>
            </div>
            <div class="rightWrapper">
                <attribute-group item-index="{{$index}}" item-imagecrop="getgroupid" item-imagefilename="{{attrgrpImagefileName}}" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupNotDetailBlock"></attribute-group>
                <attribute-grouplistview item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupListNotDetailBlock"></attribute-grouplistview>
            </div>
        </div>
    </div>

    <div id="attachmentsection" class="modal fileUploadPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="1180" style="display:none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H3">Attachment</h3>
        </div>
        <div ng-include=" 'views/mui/DAM/damentityselection.html' "></div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            <!--<button class="btn btn-small btn-primary" ng-click="addfilestoCMS();">Add</button>-->
            <div class="btn-group downloadBtnGrp pull-right">
                <input type="hidden" id="packagedownload_token_id" />
                <a class="btn btn-small btn-primary dropdown-toggle downloadBtn" data-toggle="dropdown" href="javascript:void()">Add
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu align-left">
                    <li><a ng-click="attachFile('link')" href="javascript:void(0)">Get link</a></li>
                    <li><a ng-click="attachFile('image')" href="javascript:void(0)">Get image</a></li>
                    <li><a href="javascript:void(o)" ng-click="attachFile('video')">Get video</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>


    //    $(document).ready(
    //  function () {
    //      $('#htmlEditorText').redactor({
    //          focus: true,
    //          buttonsAdd: ['|', 'token'],
    //          buttonsCustom: {
    //              token: {
    //                  title: 'Attribute Group',
    //                  callback: function (obj) {
    //                      var html = "<pre class='brush:'></pre>";
    //                      obj.execCommand('inserthtml', html);
    //                  }
    //              }
    //          }
    //      });
    //  }
    //);



    //$(document).ready(
    //    function () {
    //        $('#htmlEditorText').redactor({
    //            focus: true,
    //            buttonsAdd: ['|', 'token'],
    //            buttonsCustom: {
    //                token: {
    //                    title: 'Attachment Group',
    //                    dropdown: {
    //                        header: { title: 'Add asset from computer', callback: function (obj) { obj.insertHtml(displaytext()); } },
    //                        footer: { title: 'Add asset from page attachment', callback: function (obj) { obj.insertHtml('Page 4'); } },
    //                        last_name: { title: 'Add asset from asset library', callback: function (obj) { obj.insertHtml('Page 3'); } }

    //                    }
    //                }
    //            }
    //        });
    //    }
    //);



</script>
