﻿<div class="row-fluid" ng-controller="mui.cms.default.detail.list.entitycontentCtrl">
    <div class="row-fluid fullPageContent">
        <div id="htmlEntityContent" class="contentBuilder-TemplateStyle">
        </div>
        <div ng-show="ISFullPages && IsEditFeatureEnabled" class="box-footer align-right">
            <button class="btn btn-small btn-primary" ng-click="EditFullPageCmsrevContent()">{{'LanguageContents.Res_20.Caption'|translate}}</button>
        </div>
    </div>
    <!--<div  ng-show="ShowEntityTemplate" >
        <img src="CMS/Templates/CMSTemplate-1.png" alt="template1"  />
    </div>
     <ul id="cmsEditContextmenu" style="display: none;" class="dropdown-menu contexMenu iv-p-contextMenu">
        <li><a ng-href="#/mui/cms/detail/section/{{ID}}/content" >Edit Content<i class="icon-pencil"></i></a></li>
    </ul>-->
</div>