﻿<div id="Overview" ng-controller="mui.cms.default.detail.overviewCtrl">
    <div class="tab-line"></div>
    <div id="OverviewDiv" class="row-fluid">
        <div class="span7">
            <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_1201.Caption'|translate}}</h4>
                    <div class="pull-right">
                        <div class="btn-group">
                            <span class="filterName">{{'LanguageContents.Res_411.Caption'|translate}}</span>
                            <select class="multiselect" ng-change="FeedgroupFilterByOptionChange()" data-placeholder="Select filter" ng-model="Newsfilter.FeedgroupMulitipleFilterStatus" ng-options="item.ID as item.Name for item in Feedglist" multiple="multiple" multiselectpartial></select>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="newsFeedBlock">
                            <div class="newsFeedSection">
                                <div class="newComment">
                                    <div class="userAvatar">
                                        <img src="{{NewUserImgSrc}}" data-role="user-avatar">
                                    </div>
                                    <div data-role="textarea" class="textarea-wrapper">
                                        <div id="feedcomment" contenteditable="true" class="textarea" tabindex="0" ngfocus="if(document.getElementById('feedtextholder').innerHTML.replace(/ /g,'').length > 0){document.getElementById('feedcomment').innerHTML = ''};" ngblur="if(document.getElementById('feedcomment').innerHTML.replace(/(<([^> ]+)>)/ig,'').replace(/ /g,'').length == 0){document.getElementById('feedcomment').innerHTML = '<span id=\'feedtextholder\' class=\'placeholder\'>Write a comment...</span>'};">
                                            <span id="feedtextholder" class="placeholder">{{'LanguageContents.Res_1202.Caption'|translate}}...</span>
                                        </div>
                                    </div>
                                    <div class="newsFeedPersonFilter">
                                        <select class="multiselect" multiple="multiple" multiselect-dropdown ng-options="opt.Userid as opt.UserName for opt in  EntityUserListInCMS" data-placeholder="Select Users" ng-model="PersonalUserIdsInCMS"></select>
                                    </div>
                                    <button class="btn btn-small btn-primary" ng-click="AddNewsFeed()" type="submit">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
                                </div>
                                <ul class="mainComment" id="CmsPageFeedsdiv"></ul>
                                <div id="FeedContentdiv">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span5">
            <!--   <div class="box">
                 <div class="box-header">
                     <h4>Status</h4>
                 </div>
                 <div class="box-content">
                     <div class="box-content-margin">
                         <form class="form-horizontal">

                             <div class="control-group">
                                 <label class="control-label" for="inputCountry">{{'LanguageContents.Res_1214.Caption'|translate}}</label>
                                 <div class="controls">
                                     <select ui-select2 id="OverAllEntityStats" ng-model="OverAllEntityStatus" name="OverAllEntityStatus" data-placeholder="Entity Status" ng-click="UpdateEntityOverAllStatus();">
                                         <option ng-repeat="Aitem in EntityStatusResult" value="{{Aitem.ID}}">{{Aitem.StatusOptions}}</option>
                                     </select>
                                 </div>
                             </div>
                             <div class="control-group">
                                 <label class="control-label" for="intimestatus">{{'LanguageContents.Res_1215.Caption'|translate}}</label>
                                 <div class="controls">
                                     <div class="btn-group">
                                         <button id="OntimeStatus" type="button" class="btn dropdown-toggle btn-small {{DynamicClass}}" data-toggle="dropdown">
                                             {{Ontime}}
                                             <span></span>
                                             <span class="caret"></span>
                                         </button>
                                         <ul class="dropdown-menu">
                                             <li ng-repeat="item in OntimeStatusLists" ng-model="Ontime">
                                                 <a href="javascript:void(0)" style="{{item.AbgColor}}" ng-click="UpdateOnTimeStatus1(item.Id,item.SelectedClass)">{{item.Name}} </a>
                                             </li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                             <div class="control-group">
                                 <label class="control-label" for="inputCountryMultiSelect">{{'LanguageContents.Res_1216.Caption'|translate}}</label>
                                 <div class="controls">
                                     <label class="control-label" ng-click="setfocusonComment();editable = 'name'" ng-hide="editable == 'name'">{{DynamicTaskListDescriptionObj}}</label>
                                     <span ng-show="editable == 'name'">
                                         <div class="form-inline">
                                             <input id="entitystatuscommentID" type="text" ng-model="DynamicTaskListDescriptionObj" ng:required="" name="name" size="30" class="ng-valid ng-valid-required ng-dirty overview1TimeComment-editable">
                                             <button ng-show="updatecommnet" class="btn btn-primary editable-submit" ng-click="EntityStatusCommentUpdate(); editable = ''"><i class="icon-ok icon-white"></i></button>
                                             <button ng-show="cancelcommnet" class="btn editable-cancel" ng-click="ClearEntityComment();editable = ''"><i class="icon-remove"></i></button>
                                         </div>
                                     </span>
                                 </div>
                             </div>
                         </form>
                     </div>
                 </div>
             </div>

            <div class="box" id="tasksSummary">
                 <div class="box-header">
                     <h4>{{'LanguageContents.Res_1213.Caption'|translate}}</h4>
                 </div>
                 <div class="box-content">

                     <div class="box-content-margin" ng-show="ShowLoadedTaskSummary">
                         <form class="form-horizontal">
                             <div class="control-group">
                                 <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1217.Caption'|translate}}</label>
                                 <div class="controls">
                                     <div class="stripe">
                                         <span id="taskinprg"></span>
                                         {{TasksInprgress}}
                                     </div>
                                 </div>
                             </div>
                             <div class="control-group">
                                 <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1218.Caption'|translate}}</label>
                                 <div class="controls">
                                     <div class="stripe">
                                         <span id="unassign"></span>
                                         {{Unassigned}}
                                     </div>
                                 </div>
                             </div>
                             <div class="control-group">
                                 <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1219.Caption'|translate}}</label>
                                 <div class="controls">
                                     <div class="stripe">
                                         <span id="overduetask"></span>
                                         {{Overduetasks}}
                                     </div>
                                 </div>
                             </div>
                             <div class="control-group">
                                 <label for="inputEditable" class="control-label">{{'LanguageContents.Res_84.Caption'|translate}}</label>
                                 <div class="controls">
                                     <div class="stripe">
                                         <span id="unabletocomplete"></span>
                                         {{Unabletocomplete}}
                                     </div>
                                 </div>
                             </div>
                         </form>
                     </div>
                     <div class="box-content-margin" ng-show="ShowEmptyTaskSummary">
                         {{'LanguageContents.Res_1223.Caption'|translate}}
                     </div>

                 </div>
             </div>


             <div class="box">
                 <div class="box-header">
                     <h4>{{'LanguageContents.Res_1205.Caption'|translate}}</h4>
                 </div>
                 <div class="box-content">
                     <div class="box-content-margin">
                         <form class="form-horizontal">
                             <div class="control-group" id="WorkFlowSummaryBlock"></div>
                         </form>
                     </div>
                 </div>
             </div>

             <div class="box">
                 <div class="box-header">
                     <h4>{{'LanguageContents.Res_1206.Caption'|translate}}</h4>
                 </div>
                 <div class="box-content">
                     <div class="box-content-margin" id="MileStoneHolderUnLock">
                         <table class="table table-normal-right">
                             <thead>
                                 <tr>
                                     <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                                     <th><span>{{'LanguageContents.Res_23.Caption'|translate}}</span></th>
                                     <th ng-show="false"><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                     <th><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                                     <th><span></span></th>
                                 </tr>
                             </thead>
                             <tr ng-repeat="milestone in milestones">
                                 <td>
                                     <span><a data-toggle="modal" ng-click="GetMilestoneByID(milestone)">{{DecodedText(milestone.Name)}}</a></span>
                                 </td>
                                 <td>
                                     <span>{{ milestone["Due Date"]}}  {{ milestone["Due date"]}}</span>
                                 </td>
                                 <td ng-show="false">
                                     <span>{{DecodedText(milestone["Shortdescription"])}}</span>
                                 </td>
                                 <td>
                                     <span>
                                         <a xeditablemilestone href="javascript:;" id="person_name" data-type="milestonestatus" attributename="milestonestatus" data-pk="1" data-name="person_name" milestoneid="{{milestone.MileStoneId}}" milestonename="{{milestone.Name}}" milestoneduedate="{{milestone.DueDate2}}" milestoneshortdescription="{{milestone.Shortdescription}}" data-ng-model="person_name" data-placement="top" data-placeholder="Required" data-showbuttons="true" data-original-title="Status" class="editable editable-click">{{milestone.Status}}</a>
                                     </span>
                                 </td>
                                 <td>
                                     <span>
                                         <a data-toggle="modal" ng-show="MilestoneIsLock" ng-click="DeleteMilestone(this)" href="#" data-toggle="modal"><i class="icon-remove"></i></a>
                                     </span>
                                 </td>
                             </tr>
                         </table>
                     </div>
                     <div class="box-content-margin" id="MileStoneHolderLock">
                         <table class="table table-normal-right">
                             <thead>
                                 <tr>
                                     <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                                     <th><span>{{'LanguageContents.Res_23.Caption'|translate}}</span></th>
                                     <th ng-show="false"><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                     <th><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                                     <th><span></span></th>
                                 </tr>
                             </thead>
                             <tr ng-repeat="milestone in milestones">
                                 <td>
                                     <span>{{DecodedText(milestone.Name)}}</span>
                                 </td>
                                 <td>
                                     <span>{{ milestone["Due Date"]}}  {{ milestone["Due date"]}}

                                     </span>
                                 </td>
                                 <td ng-show="false">
                                     <span>{{DecodedText(milestone["Shortdescription"])}}</span>
                                 </td>
                                 <td>
                                     <span>{{milestone.Status}}</span>
                                 </td>
                                 <td>
                                     <span></span>
                                 </td>
                             </tr>
                         </table>
                     </div>
                 </div>
                 <div class="box-footer right">
                     <a class="btn btn-small btn-primary" ng-show="MilestoneIsLock" ng-click="AddMilestone()" href="#AddMilestoneModel" data-toggle="modal">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                     <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="AddMilestoneModel" style="display: none;">
                         <div class="modal-header">
                             <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                             <h3 id="myModalLabel">{{'LanguageContents.Res_1212.Caption'|translate}}</h3>
                         </div>
                         <div class="modal-body">
                             <form class="notvalidate" name="EnityMilestone" id="EnityMilestone">
                                 <div class="row-fluid" id="milestoneDataDiv"></div>
                             </form>
                         </div>
                         <div class="modal-footer">
                             <button ng-click="update()" ng-model="UpdateAddMilestone" ng-show="EnableUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_1210.Caption'|translate}}</button>
                            <button ng-click="saveMilestone()" ng-model="AddMilestone" ng-show="EnableAdd" class="btn btn-small btn-primary" ng-disabled="horizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                         </div>
                     </div>
                 </div>
             </div>

             <div class="box">
                 <div class="box-header">
                     <h4>{{'LanguageContents.Res_1211.Caption'|translate}}</h4>
                 </div>
                 <div class="box-content">
                     <div class="box-content-margin">
                         <form class="form-horizontal">
                             <div class="control-group" id="financialchart"></div>
                         </form>
                     </div>
                 </div>
             </div> -->
            <!--Publish-->
            <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_5103.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">Status</label>
                                <div class="controls">
                                    <select ui-select2 ng-model="CmsEntityStatus" ng-click="UpdateCmsEntityStatus();">
                                        <option value="1">Published</option>
                                        <option value="0">Un Published</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group nomargin" id="cmspublishblock">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--Related Links-->
            <attribute-group item-pagesize="{{group.PageSize}}" item-predefined="{{group.Ispredefined}}" item-index="{{$index}}" item-imagecrop="getgroupid" item-imagefilename="{{attrgrpImagefileName}}" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupNotDetailBlock"></attribute-group>
            <attribute-grouplistview item-pagesize="{{group.PageSize}}" item-predefined="{{group.Ispredefined}}" item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupListNotDetailBlock"></attribute-grouplistview>

            <!--Details-->
            <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_38.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div ng-show="detailsLoader">
                        <img style="width: 22px; margin-top: -5px;" src="assets/img/loading.gif">
                    </div>

                    <div class="box-content-margin" ng-show="detailsData">
                        <form class="form-horizontal" id="overviewDetialblock">
                            <div class="control-group" id="cmsdynamicdetail">
                            </div>
                            <div>
                                <attributegroup-indetailblock item-pagesize="{{group.PageSize}}" item-predefined="{{group.Ispredefined}}" item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupDetailBlock"></attributegroup-indetailblock>
                                <attribute-grouplistviewindetail item-pagesize="{{group.PageSize}}" item-predefined="{{group.Ispredefined}}" item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupListDetailBlock"></attribute-grouplistviewindetail>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="UplaodImagediv" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="ngUplaodImagediv" data-width="750px" style="display:none;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="H1">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
                </div>
                <div class="modal-body" id="filescontainer">
                    <div class="attachmentContainer">
                        <div id="filelist">
                        </div>
                    </div>
                    <div class="attachment-dragfiles" id="dragfiles">
                        <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
                        <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
                        <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
                        <div><a href="JavaScript:void(0);" id="pickfiles" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="attachment-progress pull-left" id="overViewUploaderTotalProgress"></div>
                    <a id="uploadfiles" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a>
                    <a id="pickfilesAlternate" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a>
                    <a id="clearUploader" href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="unknown100">
        <div class="modal-body" id="filescontainer100">
            <button id="pickfiles100" style="visibility: hidden" type="submit"></button>
        </div>

        <div id="UserProfilePic100" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display:none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                &nbsp;
            </div>
            <div class="modal-body">
                <div class="cropContainer">
                    <div class="cropBG">
                        <img src="" id="userpic100" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-small btn-primary" data-dismiss="modal" ng-click="SaveUploadedImage100();" href="JavaScript:void(0);">Save</a>
                <a aria-hidden="true" data-dismiss="modal" class="btn btn-small">Close</a>
            </div>
        </div>
    </div>
    <div id="Div1" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="ngUplaodImagediv" data-width="750px" style="display:none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H2">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="Div2">
            <div class="attachmentContainer">
                <div id="Div3">
                </div>
            </div>
            <div class="attachment-dragfiles" id="Div4">
                <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
                <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
                <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
                <div><a href="JavaScript:void(o);" id="A1" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="attachment-progress pull-left" id="Div5"></div>
            <a id="A4" href="JavaScript:void(o);" class="btn btn-small btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a>
            <a id="A3" href="JavaScript:void(o);" class="btn btn-small btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a>
            <a id="A2" href="JavaScript:void(o);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
    </div>

    <div class="unknown100">
        <div class="modal-body" id="Div6">
            <button id="Button1" style="visibility: hidden" type="submit"></button>
        </div>

        <div id="Div7" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display:none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                &nbsp;
            </div>
            <div class="modal-body">
                <div class="cropContainer">
                    <div class="cropBG">
                        <img src="" id="Img1" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-small btn-primary" data-dismiss="modal" ng-click="SaveUploadedImage100();" href="JavaScript:void(0);">Save</a>
                <a aria-hidden="true" data-dismiss="modal" class="btn btn-small">Close</a>
            </div>
        </div>
    </div>
</div>
