﻿<div class="box">
    <div class="box-header">
        <h4>{{'LanguageContents.Res_38.Caption'|translate}}</h4>
    </div>
    <div class="box-content">
        <div ng-show="detailsLoader" class="loadIcon-small">
            <img alt="Loading" src="assets/img/loading.gif" />
            <span>{{'LanguageContents.Res_68.Caption'|translate}}...</span>
        </div>
        <div class="box-content-margin" ng-show="detailsData">
            <form class="form-horizontal" id="overviewDetialblockCC">
                <div class="control-group" id="dynamicdetail">
                </div>
            </form>
        </div>
    </div>
</div>
