@model Presentation.Controllers.ViewController.UserAccessModule
@{
    bool financialPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Financials);
    bool taskPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Task);
    bool workflowPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Workflow);
}
<div id="Overview" ng-class="{ 'tab-pane fade in active': ( subview == 'overview' ) }" ng-controller="mui.planningtool.costcentre.detail.overviewCtrl">
    <div class="tab-line"></div>
    <div id="CostcentreOverviewDiv" class="row-fluid">
        <div class="span4">
            <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_38.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div ng-show="detailsLoader">
                        <img style="width: 22px; margin-top: -5px;" src="assets/img/loading.gif">
                    </div>

                    <div class="box-content-margin" ng-show="detailsData">
                        <form class="form-horizontal">
                            <div class="control-group" id="dynamicdetail">
                            </div>
                        </form>
                    </div>
                </div>
            </div> @if (taskPermission)
            {
                <div class="box">
                    <div class="box-header">
                        <h4>{{'LanguageContents.Res_1213.Caption'|translate}}</h4>
                    </div>
                    <div class="box-content">
                        <div class="box-content-margin" ng-show="ShowLoadedTaskSummary">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1217.Caption'|translate}}</label>
                                    <div class="controls">
                                        <div class="stripe">
                                            <span id="taskinprg"></span>
                                            {{TasksInprgress}}
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1218.Caption'|translate}}</label>
                                    <div class="controls">
                                        <div class="stripe">
                                            <span id="unassign"></span>
                                            {{Unassigned}}
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1219.Caption'|translate}}</label>
                                    <div class="controls">
                                        <div class="stripe">
                                            <span id="overduetask"></span>
                                            {{Overduetasks}}
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="inputEditable" class="control-label">{{'LanguageContents.Res_84.Caption'|translate}}</label>
                                    <div class="controls">
                                        <div class="stripe">
                                            <span id="unabletocomplete"></span>
                                            {{Unabletocomplete}}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="box-content-margin" ng-show="ShowEmptyTaskSummary">
                            {{'LanguageContents.Res_1223.Caption'|translate}}
                        </div>
                    </div>
                </div>
            }
            @if (workflowPermission)
            {
                <div class="box">
                    <div class="box-header">
                        <h4>{{'LanguageContents.Res_1205.Caption'|translate}}</h4>
                    </div>
                    <div class="box-content">
                        <div class="box-content-margin">
                            <form class="form-horizontal">
                                <div class="control-group" id="WorkFlowSummaryBlock">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="span4">
            @if (financialPermission)
            {
                <div class="box" id="tasksSummary">
                    <div class="box-header">
                        <h4>{{'LanguageContents.Res_1211.Caption'|translate}}</h4>
                    </div>
                    <div class="box-content">
                        <div class="box-content-margin">
                            <form class="form-horizontal">
                                <div class="control-group" id="financialchart">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="span4">
            <div class="box">
                <div class="box-header">
                    <h4>Status</h4>
                </div>
                <div class="box-content">
                    <div ng-hide="LoadStatusblock" class="loadingInProgress">
                        <img src="assets/img/loading.gif" />
                        <span>Loading...</span>
                    </div>
                    <div class="box-content-margin">
                        <form ng-show="LoadStatusblock" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputCountry">{{'LanguageContents.Res_1214.Caption'|translate}}</label>
                                <div class="controls">
                                    <select ui-select2 id="OverAllEntityStats" ng-model="OverAllEntityStatus" name="OverAllEntityStatus" data-placeholder="Entity Status" ng-click="UpdateEntityOverAllStatus();">
                                        <option ng-repeat="Aitem in EntityStatusResult" value="{{Aitem.ID}}">{{Aitem.StatusOptions}}</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-repeat="item in StatusAttributeData">
                                <div class="control-group">
                                    <label class="control-label" for="intimestatus">{{item.levelcaption}}</label>
                                    <div class="controls">
                                        <div class="btn-group">
                                            <button id="btn_{{item.levelid}}" ng-disabled="updatecommnet==false" ng-click="getSelectedOptionvalue(item.levelid,item.selectvalue,item.selectid,item.optioncolorcode)" type="button" style="background-color:{{item.optioncolorcode}} !important; border-color: {{ item .optioncolorcode; }} !important;" class="btn dropdown-toggle btn-small onTimeStatus-Btn" data-toggle="dropdown">
                                                {{item.selectvalue}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="option in item.leveloptions">
                                                    <a class="onTimeStatus-Btn" href="JavaScript:void(0);" ng-click="changestatusoption(item.attributeid,option.Id,option.Caption,item.optioncomment,option.Level,'option',item.levelid,option.ColorCode)" style="background-color:{{option.ColorCode}} !important; border-color: {{ option .ColorCode; }} !important;">{{option.Caption}} </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputCountryMultiSelect">{{item.levelcaption}} comment</label>
                                    <div class="controls">
                                        <div ng-show="updatecommnet==true">
                                            <a class="ng-pristine ng-valid ng-binding editable editable-click" ng-href="javascript:void(0);" ng-click="setfocusonComment(item.levelid,item.optioncomment);editable = 'name'" ng-hide="editable == 'name'">{{item.optioncomment}}</a>
                                        </div>
                                        <div ng-hide="updatecommnet==true">
                                            <label class="control-label">{{item.optioncomment}}</label>
                                        </div>
                                        <span ng-show="editable == 'name'">
                                            <div class="form-inline">
                                                <input id="statuscomment_{{item.levelid}}" type="text" ng-model="item.optioncomment" name="name" size="30" class="ng-valid ng-valid-required ng-dirty overview1TimeComment-editable">
                                                <button ng-show="updatecommnet" class="btn btn-primary editable-submit" ng-click="changestatusoption(item.attributeid,item.selectid,item.selectvalue,item.optioncomment,2,'comment',item.levelid,item.optioncolorcode); editable = ''"><i class="icon-ok icon-white"></i></button>
                                                <button ng-show="cancelcommnet" class="btn editable-cancel" ng-click="ClearEntityComment(item.attributeid,item.levelid,'comment');editable = ''"><i class="icon-remove"></i></button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="margin10x align-center" ng-show="Showstatus">
                    No status is available
                </div>
            </div><div class="box">
                <div class="box-header">
                    <h4>
                        {{'LanguageContents.Res_1201.Caption'|translate}}
                    </h4>
                    <div class="pull-right">
                        <div class="btn-group nomargin">
                            <span class="filterName">{{'LanguageContents.Res_411.Caption'|translate}}</span>
                            <select class="multiselect" ng-change="FeedgroupFilterByOptionChange()" data-placeholder="Select filter" ng-model="Newsfilter.FeedgroupMulitipleFilterStatus" ng-options="item.ID as item.Name for item in Feedglist" multiple="multiple" multiselectpartial></select>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="newsFeedBlock">
                            <div class="newsFeedSection">
                                <div class="newComment">
                                    <div class="userAvatar">
                                        @* <span class="user">*@
                                        <img src="{{NewUserImgSrc}}" data-role="user-avatar">
                                        @*  </span>*@
                                    </div>
                                    <div data-role="textarea" class="textarea-wrapper">
                                        <div id="feedcomment" contenteditable="true" class="textarea" tabindex="0" ngfocus="if(document.getElementById('feedtextholder').innerHTML.replace(/ /g,'').length > 0){setTimeout(function(){document.getElementById('feedcomment').innerHTML = ''},1)};" ngblur="if(document.getElementById('feedcomment').innerHTML.replace(/(
                                            <([^>
                                                ]+)>)/ig,'').replace(/ /g,'').length == 0){document.getElementById('feedcomment').innerHTML = '<span id=\'feedtextholder\' class=\'placeholder\'>Write a comment...</span>'};">
                                                <span id="feedtextholder" class="placeholder">{{'LanguageContents.Res_1202.Caption'|translate}}...</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" ng-click="AddNewsFeed()" type="submit">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
                                </div>
                                <ul class="mainComment" id="EntityFeedsdiv"></ul>
                                <div id="FeedContentdiv">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>