
.cb-icon-home:before { content: '\e800'; } /* '' */
.cb-icon-fontsize:before { content: '\e900'; } /* '' */
.cb-icon-italic:before { content: '\e901'; } /* '' */
.cb-icon-indent-left:before { content: '\e902'; } /* '' */
.cb-icon-indent-right:before { content: '\e903'; } /* '' */
.cb-icon-unlink:before { content: '\e904'; } /* '' */
.cb-icon-link:before { content: '\e905'; } /* '' */
.cb-icon-align-left:before { content: '\e906'; } /* '' */
.cb-icon-align-center:before { content: '\e907'; } /* '' */
.cb-icon-align-right:before { content: '\e908'; } /* '' */
.cb-icon-align-justify:before { content: '\e909'; } /* '' */
.cb-icon-list-numbered:before { content: '\e90a'; } /* '' */
.cb-icon-list-bullet:before { content: '\e90b'; } /* '' */
.cb-icon-camera:before { content: '\e90c'; } /* '' */
.cb-icon-move:before { content: '\e90d'; } /* '' */
.cb-icon-eraser:before { content: '\e90e'; } /* '' */
.cb-icon-pencil:before { content: '\e90f'; } /* '' */
.cb-icon-underline:before { content: '\e910'; } /* '' */
.cb-icon-bold:before { content: '\e911'; } /* '' */
.cb-icon-strike:before { content: '\e912'; } /* '' */
.cb-icon-code:before { content: '\e913'; } /* '' */
.cb-icon-plus:before { content: '\e914'; } /* '' */
.cb-icon-spin:before { content: '\e915'; } /* '' */
.cb-icon-docs:before { content: '\e916'; } /* '' */
.cb-icon-cancel:before { content: '\e917'; } /* '' */
.cb-icon-color:before { content: '\e918'; } /* '' */
.cb-icon-tint:before { content: '\e919'; } /* '' */
.cb-icon-header:before { content: '\e91a'; } /* '' */
.cb-icon-font:before { content: '\e91b'; } /* '' */
.cb-icon-picture:before { content: '\e91d'; } /* '' */
.cb-icon-superscript:before { content: '\e91e'; } /* '' */
.cb-icon-subscript:before { content: '\e91f'; } /* '' */
.cb-icon-dot:before { content: '\e920'; } /* '' */
.cb-icon-trash:before { content: '\e921'; } /* '' */
.cb-icon-ok:before { content: '\e922'; } /* '' */
.cb-icon-download:before { content: '\e923'; } /* '' */
.cb-icon-doc:before { content: '\e924'; } /* '' */
.cb-icon-cog:before { content: '\e925'; } /* '' */
.cb-icon-off:before { content: '\e926'; } /* '' */
.cb-icon-minus:before { content: '\e927'; } /* '' */
.cb-icon-back:before { content: '\e928'; } /* '' */
.cb-icon-left-open-big:before { content: '\e929'; } /* '' */
.cb-icon-right-open-big:before { content: '\e930'; } /* '' */