/*#region Refine Search Background Color*/
.searchSnippetStyle .SearchResults-DetailedView #left {
    background-color: #ff0000 !important;
}

    .searchSnippetStyle .SearchResults-DetailedView #left .sr-dv-collapsedFilter,
    .searchSnippetStyle .SearchResults-DetailedView #left .sr-dv-collapsedFilter:hover,
    .searchSnippetStyle .SearchResults-DetailedView #left .sr-dv-leftFilter .sr-dv-expandedFilter .sr-dv-filterHeader:hover,
    .searchSnippetStyle .SearchResults-DetailedView #left .sr-dv-leftFilter .sr-dv-expandedFilter .sr-dv-filterContent .sr-dv-filterGroupCollection .sr-dv-filterGroup:hover {
        background-color: #ff0000 !important;
    }
/*#endregion*/


/*#region Page Background Color*/
.searchSnippetStyle #content {
    background-color: #fff2cc !important;
}

.searchSnippetStyle .th-Box {
    border-color: #fff2cc !important;
}

    .searchSnippetStyle .th-Box .th-Selection,
    .searchSnippetStyle .th-sum-Box .th-sum-Selection {
        border-color: #fff2cc !important;
    }

.searchSnippetStyle.iv-Popup,
.searchSnippetStyle.iv-Popup .modal-footer,
.searchSnippetStyle.iv-Popup div[class^="iv-p-ImgShuffleIcon"] {
    background-color: #fff2cc !important;
}

    .searchSnippetStyle.iv-Popup .modal-body .iv-p-Box .iv-p-l .nav-tabs,
    .searchSnippetStyle.iv-Popup .modal-body .iv-p-Box .iv-p-l .nav-pills {
        background-color: #fff2cc !important;
        border-color: #fff2cc !important;
    }
/*#endregion*/


/*#region Image Block Border Color*/
.searchSnippetStyle .th-Box .th-Selection .th-Block .th-ImgBlock,
.searchSnippetStyle .th-sum-Box .th-sum-Selection .th-sum-Block .th-sum-leftSection .th-sum-ImgBlock {
    border-color: #073763 !important;
}
    /*#endregion*/

    /*#region Image Block Background Color*/
    .searchSnippetStyle .th-Box .th-Selection .th-Block .th-ImgBlock .th-ImgContainer,
    .searchSnippetStyle .th-sum-Box .th-sum-Selection .th-sum-Block .th-sum-leftSection .th-sum-ImgBlock .th-sum-ImgContainer {
        background-color: #ff00ff !important;
    }
/*#endregion*/



/*#region Asset Block Selection/Mouse over Border Color*/
.searchSnippetStyle .th-Box:hover .th-Selection,
.searchSnippetStyle .th-Box .th-Selection.selected,
.searchSnippetStyle .th-sum-Box:hover .th-sum-Selection,
.searchSnippetStyle .th-sum-Box .th-sum-Selection.selected {
    border-color: #486900 !important;
}
/*#endregion*/



/*#region Image Block Selection/Mouse over Background Color*/
.searchSnippetStyle .th-Box:hover .th-Selection,
.searchSnippetStyle .th-Box .th-Selection.selected,
.searchSnippetStyle .th-sum-Box:hover .th-sum-Selection,
.searchSnippetStyle .th-sum-Box .th-sum-Selection.selected,
.searchSnippetStyle .ListviewTable > tbody > tr:hover td .searchSnippetStyle .ListviewTable > tbody > tr.selected {
    background-color: #AECF5A !important;
    background-image: none;
}
/*#endregion*/



/*#region Base Color*/
.searchSnippetStyle a,
.searchSnippetStyle a > .caret,
.searchSnippetStyle .nav-tabs > .active > a,
.searchSnippetStyle .iv-Popup .modal-header .iv-p-assetPath ul.breadcrumb li a {
    color: #94B540 !important;
}

    .searchSnippetStyle a:hover,
    .searchSnippetStyle a:focus,
    .searchSnippetStyle a:visited,
    .searchSnippetStyle a:active,
    .searchSnippetStyle a.active,
    .searchSnippetStyle .btn-link:hover,
    .searchSnippetStyle .btn-link:focus,
    .searchSnippetStyle .btn-link:visited,
    .searchSnippetStyle .btn-link:active,
    .searchSnippetStyle .btn-link.active {
        color: #61820D !important;
    }

.searchSnippetStyle .btn-primary {
    border-color: #73e8cb !important;
    background-color: #73e8cb;
    background-image: -moz-linear-gradient(top, #73e8cb, #40B598) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73e8cb), to(#40B598)) !important;
    background-image: -webkit-linear-gradient(top, #73e8cb, #40B598) !important;
    background-image: -o-linear-gradient(top, #73e8cb, #40B598) !important;
    background-image: linear-gradient(to bottom, #73e8cb, #40B598) !important;
}

    .searchSnippetStyle .btn-primary:hover,
    .searchSnippetStyle .btn-primary:focus,
    .searchSnippetStyle .btn-group.open .btn-primary.dropdown-toggle {
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
        background-color: #40B598;
    }

    .searchSnippetStyle .btn-primary:active,
    .searchSnippetStyle .btn-primary.active {
        background-image: none;
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    }

    .searchSnippetStyle .btn-primary[disabled] {
        background-image: none;
        background-color: #40B598;
        box-shadow: none;
        filter: alpha(opacity=65);
        opacity: 0.65;
    }
/*#endregion*/

