﻿<div id="objectivesDiv" class="box">
    <div class="box-header">
        <h4>{{'LanguageContents.Res_717.Caption'|translate}}</h4>
    </div>
    <div class="box-content">
        <div class="box-content-margin">
            <div class="objtableContainer">
                <table class="table  table-condensed objtable noBorder">
                    <thead id="PredefinedObjectiveHeader">
                        <!--<tr>
                            <th><span></span></th>
                            <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_517.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_715.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_716.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_707.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_718.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_708.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                            <th><span></span></th>
                        </tr>-->
                    </thead>
                    <tbody id="PredefineObjectivetbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box-footer right">
        <a class="btn btn-primary btn-small" id="LoadObjectiveEntityToSelect" ng-show="IsLock == false" ng-click="LoadObjectiveEntityToSelect()" href="javascript:void(0);">
            <span>{{'LanguageContents.Res_8.Caption'|translate}}</span>
        </a>
    </div>
</div>