﻿<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="predefinedObjectivesList" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h3>{{'LanguageContents.Res_720.Caption'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div ng-show="noPredefinedData" class="noPredefinedData">
            <span>No predefined objectives</span>
        </div>
        <div ng-show="showhideobjectivetable" class="objectivetable">
            <h5>{{'LanguageContents.Res_721.Caption'|translate}}.</h5>
            <div class="objectivetablediv">
                <table class="table table-normal-left" id="EntityPredefineObjectivestable">
                    <thead>
                        <tr>
                            <th>
                                <span>
                                    <label class="checkbox checkbox-custom pull-right">
                                        <input ng-model="AllEntityObjChecked" type="checkbox" /><i class="checkbox"></i>
                                    </label>
                                </span>
                            </th>
                            <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ObjectiveEntityList">
                            <td data-id="{{item.ObjectiveId}}">
                                <span>
                                    <label class="checkbox checkbox-custom pull-right">
                                        <input ng-model="EntityObjChecked" type="checkbox" /><i class="checkbox"></i>
                                    </label>
                                </span>
                            </td>
                            <td>
                                <span>{{item.ObjectiveName}}</span>
                            </td>
                            <td>
                                <span>{{item.ObjectiveDescription}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-small btn-primary" ng-click="AddEntityObjectives()" ng-show="ObjectiveEntitiesAddbtn" data-toggle="modal">{{'LanguageContents.Res_8.Caption'|translate}}</a>
        <button class="btn btn-small ng-binding" data-dismiss="modal" type="button">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="predefinedObjectiveEditDiv" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4>{{'LanguageContents.Res_701.Caption'|translate}}</h4>
    </div>
    <div class="modal-body">
        <div id="numericQuantitativediv" ng-show="numericqunatitativedisplay">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="Plannedtarget">{{'LanguageContents.Res_715.Caption'|translate}}</label>
                        <div class="controls">
                            <input type="text" ng-model="Objective.ngObjectivePlannedtarget" id="ObjectivePlannedtarget">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="ObjectiveTargetoutcome">{{'LanguageContents.Res_716.Caption'|translate}}</label>
                        <div class="controls">
                            <input type="text" ng-model="Objective.ngObjectiveTargetoutcome" id="ObjectiveTargetoutcome">
                        </div>
                    </div>
                    <div class="control-group" ng-show="numericQuantitativeComments">
                        <label class="control-label" for="ObjectiveComments">{{'LanguageContents.Res_723.Caption'|translate}}</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" ng-model="Objective.ngObjectiveComments" id="ObjectiveComments"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="ObjectiveNumericDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" disabled="disabled" ng-model="Objective.ngObjectiveNumericDescriptionInstructions" id="ngObjectiveNumericDescriptionInstructions"></textarea>
                        </div>
                    </div>
                </div>
               <div class="span6" style="display:none;"></div>
            </div>
        </div>
        <div id="nonNumericQuantitativediv" ng-show="nonNumericQuantivedisplay">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="NonNumPlannedtarget">{{'LanguageContents.Res_715.Caption'|translate}}</label>
                        <div class="controls">
                            <input type="text" ng-model="Objective.ngNonNumObjectivePlannedtarget" id="NonNumObjectivePlannedtarget">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="NonNumObjectiveTargetoutcome">{{'LanguageContents.Res_716.Caption'|translate}}</label>
                        <div class="controls">
                            <input type="text" ng-model="Objective.ngNonNumObjectiveTargetoutcome" id="NonNumObjectiveTargetoutcome">
                        </div>
                    </div>
                    <div class="control-group" ng-show="nonNumericComments">
                        <label class="control-label" for="NonNumObjectiveComments">{{'LanguageContents.Res_723.Caption'|translate}}</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" ng-model="Objective.ngNonNumObjectiveComments" id="NonNumObjectiveComments"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="NonNumObjectiveNumericDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" disabled="disabled" ng-model="Objective.ngNonNumObjectiveNumericDescriptionInstructions" id="ngNonNumObjectiveNumericDescriptionInstructions"></textarea>
                        </div>
                    </div>
                </div>
                <div class="span6" style="display:none;"></div>
            </div>
        </div>
        <div id="qualititativediv" ng-show="qualitativedisplay">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="QulaitativeObjectiveFulfilment">{{'LanguageContents.Res_801.Caption'|translate}}:</label>
                        <div class="controls">
                            <select ui-select2 ng-model="Objective.ngQulaitativeObjectiveFulfilment" data-placeholder="--No Response yet--">
                                <option value="0">--No Response yet--</option>
                                <option value="1">Fulfilled</option>
                                <option value="2">Not Fulfilled</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group" ng-show="ngqualitativeComments">
                        <label class="control-label" for="QulaitativeObjectiveComments">{{'LanguageContents.Res_723.Caption'|translate}}</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" ng-model="Objective.ngQulaitativeObjectiveComments" id="QulaitativeObjectiveComments"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="QulaitativeObjectiveNumericDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" disabled="disabled" ng-model="Objective.ngQulaitativeObjectiveNumericDescriptionInstructions" id="ngQulaitativeObjectiveNumericDescriptionInstructions"></textarea>
                        </div>
                    </div>
                </div>
                <div class="span6" style="display:none;"></div>
            </div>
        </div>
        <div id="ratingsdiv" ng-show="ratingsdisplay">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="RatingObjective">{{'LanguageContents.Res_724.Caption'|translate}}</label>
                        <div class="controls">
                            <select ui-select2 ng-model="Objective.ngRatingObjective">
                                <!-- <option value="0">--No Response yet--</option>-->
                                <option ng-repeat="item1 in PredefineObjectiveRatingsData" value="{{item1.Id}}">{{item1.Caption}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group" ng-show="ngRatingcomments">
                        <label class="control-label" for="RatingObjectiveComments">{{'LanguageContents.Res_723.Caption'|translate}}</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" ng-model="Objective.ngRatingObjectiveComments" id="RatingObjectiveComments"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="RatingObjectiveNumericDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" disabled="disabled" ng-model="Objective.ngRatingObjectiveNumericDescriptionInstructions" id="ngRatingObjectiveNumericDescriptionInstructions"></textarea>
                        </div>
                    </div>
                </div>
                <div class="span6" style="display:none;"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="updatePeredefineObjective()" ng-model="updatePeredefineObjective" id="updatePeredefineObjective" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
        <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="AdditionalObjectiveEditDiv" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <!--  <h4>{{'LanguageContents.Res_731}}</h4>-->
        <!--<div id="Nonnumericaname"></div>-->
        <h4>Edit Addtional Objective</h4>
        <!--Additional Objective-->
    </div>
    <div class="modal-body">
        <div id="AdditionalnonNumericQuantitativediv" ng-show="AdditionalnonNumericQuantivedisplay">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="AdditionalNonNumObjectivename">Name:</label>
                        <input type="text" id="ngnonNumericAdditionalObjectiveName" ng-model=" AdditionalObjective.ngnonNumericAdditionalObjectiveName">
                    </div>


                    <div class="control-group">
                        <label class="control-label" for="AdditionalNonNumObjectiveNumericDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" ng-model="ObjectiveDescription" id="ngAdditionalNonNumObjectiveInstructions"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="ObjectiveStatus">{{'LanguageContents.Res_24.Caption'|translate}}</label>
                        <div class="controls">
                            <select ui-select2 ng-model="AdditionalObjective.ngAdditionalNonNumObjectiveStatus" data-placeholder="--Select--">
                                <option value="">--{{'LanguageContents.Res_39.Caption'|translate}}--</option>
                                <option value="1" ng-selected="true">Active</option>
                                <option value="0">Deactivated</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="ObjectivenonNumericUnits">{{'LanguageContents.Res_708.Caption'|translate}}:</label>
                        <div class="controls">
                            <select ui-select2 ng-model="AdditionalObjective.ngObjectivenonNumericUnits" data-placeholder="Select Units">
                                <option value="0">{{'LanguageContents.Res_39.Caption'|translate}}</option>
                                <option ng-repeat="item in ObjectiveUnitsData" value="{{item.Id}}">{{item.Caption}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="AdditionalNonNumPlannedtarget">{{'LanguageContents.Res_715.Caption'|translate}}</label>
                        <div class="controls">

                            <input type="text" ng-model="AdditionalObjective.ngAdditionalNonNumObjectivePlannedtarget" id="AdditionalNonNumObjectivePlannedtarget">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="AdditionalNonNumObjectiveTargetoutcome">{{'LanguageContents.Res_716.Caption'|translate}}</label>
                        <div class="controls">

                            <input type="text" ng-model="AdditionalObjective.ngAdditionalNonNumObjectiveTargetoutcome" id="AdditionalNonNumObjectiveTargetoutcome">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="AdditionalNonNumObjectiveComments">{{'LanguageContents.Res_723.Caption'|translate}}</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" ng-disabled="IsAdditionalNonNumericQualitiveEnableFeedback" ng-model="AdditionalObjective.ngAdditionalNonNumObjectiveComments" id="AdditionalNonNumObjectiveComments"></textarea>
                        </div>
                    </div>

                </div>
                <div class="span6" style="display:none;">
                </div>
            </div>
        </div>
        <div id="Additionalqualititativediv" ng-show="Additionalqualitativedisplay">
            <div class="row-fluid">
                <div class="span6">

                    <div class="control-group">
                        <label class="control-label" for="ngQualitiveAdditionalObjectiveName">Name:</label>
                        <input type="text" id="ngQualitiveAdditionalObjectiveName" ng-model=" AdditionalObjective.ngQualitiveAdditionalObjectiveName">
                    </div>


                    <div class="control-group">
                        <label class="control-label" for="AdditionalQulaitativeObjectiveInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" ng-model="ObjectiveDescription" id="ngAdditionalQulaitativeObjectiveInstructions"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="ObjectiveStatus">{{'LanguageContents.Res_24.Caption'|translate}}</label>
                        <div class="controls">
                            <select ui-select2 ng-model="AdditionalObjective.ngAdditionalQulaitativeObjectiveStatus" data-placeholder="--Select--">
                                <option value="">--{{'LanguageContents.Res_39.Caption'|translate}}--</option>
                                <option value="1" ng-selected="true">Active</option>
                                <option value="0">Deactivated</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="AdditionalQulaitativeObjectiveFulfilment">{{'LanguageContents.Res_801.Caption'|translate}}:</label>
                        <div class="controls">
                            <select ui-select2 ng-model="AdditionalObjective.ngAdditionalQulaitativeObjectiveFulfilment" data-placeholder="--No Response yet--">
                                <option value="0">--No Response yet--</option>
                                <option value="1">Fulfilled</option>
                                <option value="2">Not Fulfilled</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="AdditionalQulaitativeObjectiveComments">{{'LanguageContents.Res_723.Caption'|translate}}</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" ng-disabled="IsAdditionalQualitiveEnableFeedback" ng-model="AdditionalObjective.ngAdditionalQulaitativeObjectiveComments" id="AdditionalQulaitativeObjectiveComments"></textarea>
                        </div>
                    </div>

                </div>
                <div class="span6" style="display:none;">
                </div>
            </div>
        </div>
        <div id="Additionalratingsdiv" ng-show="Additionalratingsdisplay">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ngRatingAdditionalObjectiveName">Name:</label>
                        <input type="text" id="ngRatingAdditionalObjectiveName" ng-model=" AdditionalObjective.ngRatingAdditionalObjectiveName">
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="AdditionalRatingObjectiveInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" ng-model="ObjectiveDescription" id="ngAdditionalRatingObjectiveInstructions"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="ObjectiveStatus">{{'LanguageContents.Res_24.Caption'|translate}}</label>
                        <div class="controls">
                            <select ui-select2 ng-model="AdditionalObjective.ngAdditionalRatingObjectiveStatus" data-placeholder="--Select--">
                                <option value="">--{{'LanguageContents.Res_39.Caption'|translate}}--</option>
                                <option value="1" ng-selected="true">Active</option>
                                <option value="0">Deactivated</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="AdditionalRatingObjective">{{'LanguageContents.Res_724.Caption'|translate}}</label>
                        <div class="controls">
                            <select ui-select2 ng-model="AdditionalObjective.ngAdditionalRatingObjective">
                                <option ng-repeat="item in ObjectiveRatingsData" value="{{item.Id}}">{{item.Ratings}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="AdditionalRatingObjectiveComments">{{'LanguageContents.Res_723.Caption'|translate}}</label>
                        <div class="controls">
                            <textarea class="small-textarea" rows="3" ng-disabled="IsAdditionalRatingEnableFeedback" ng-model="AdditionalObjective.ngAdditionalRatingObjectiveComments" id="AdditionalRatingObjectiveComments"></textarea>
                        </div>
                    </div>

                </div>
                <div class="span6" style="display:none;">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="updateAdditionalObjective()" ng-model="updateAdditionalObjective" id="updateAdditionalObjective" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
        <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>
</div>
