/*=========================================================================================================
    Layout
  =========================================================================================================*/
#header {
  min-height: 51px;
}
/*#container{
    position: relative;
}*/
#left {
  float: left;
  width: 280px;
  background-color: #F5F5F5;
  height: auto !important;
  border-right: 1px solid #DDDDDD;
  /*position: absolute;
    top: 0;
    bottom: 0;*/
}
#left .title .header {
  list-style: none outside none;
  margin-bottom: 0;
  margin-left: 0;
}
#left .title .header > li > a,
#left .title .header > li > a:hover,
#left .title .header > li > a:focus {
  background-color: #EEEEEE;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  color: #555555;
  cursor: default;
  display: block;
  font-weight: bold;
  padding: 6px 18px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1px;
  box-shadow: 0 1px 1px #DDDDDD;
}
#left .title .header > li > a.big {
  background-color: transparent;
  border-bottom: 2px solid #DDDDDD;
  font-size: 14px;
  padding: 10px 2px 11px 0;
}
#separator {
  min-height: 280px;
  float: left;
  cursor: e-resize;
  border-right: 1px solid #ddd;
  background-color: transparent;
  width: 1px;
  margin-left: -2px;
}
#content {
  margin-left: 280px;
  height: auto !important;
  /* for modern browsers */
}
#left .ActionBtnArea,
#content .contentHeader {
  min-height: 80px;
}
#left .ActionBtnArea .contentHeader-left,
#content .contentHeader .contentHeader-left {
  width: 50%;
  float: left;
}
#left .ActionBtnArea .contentHeader-right,
#content .contentHeader .contentHeader-right {
  margin: 0px;
  width: 50%;
  float: left;
}
#left .ActionBtnArea > .btn {
  padding: 8px 10px;
  font-size: 14px;
  margin: 20px 0 20px 10px;
  border-radius: 2px;
  width: 20px;
  height: 20px;
}
#left .ActionBtnArea > .btn:first-child {
  margin-left: 12px;
}
#left .ActionBtnArea > .btn [class^="icon-"],
#left .ActionBtnArea > .btn [class*=" icon-"] {
  opacity: 0.8;
}
#content .contentHeader h3.title {
  height: 40px;
  line-height: 21px;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  padding: 10px 115px 0 60px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#content .contentHeader h3.title span {
  background-color: #fff;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  left: 20px;
  line-height: 14px;
  margin-right: 5px;
  padding: 8px 0;
  position: absolute;
  top: 6px;
  width: 34px;
  text-align: center;
  height: 14px;
}
#content .ActionBtnHolder {
  margin-top: 30px;
}
#footer {
  clear: both;
  height: 20px;
  background-color: #F8F8F8;
  border-top: 1px solid #DEDEDE;
  color: #777777;
  font-size: 11px;
  padding-bottom: 4px;
  padding-top: 3px;
  padding-left: 10px;
}
html,
body {
  height: 100%;
}
#content .container-nopadding {
  padding-left: 1px;
  padding-right: 0;
}
#content .container-padding {
  padding-left: 20px;
  padding-right: 20px;
}
#content .container-padding-left {
  padding-left: 20px;
}
#content .container-padding-right {
  padding-right: 20px;
}
.postbox {
  position: relative;
  margin-right: 20px;
}
.postbox .avatar {
  position: absolute;
  transition: left 0.2s linear 0s;
}
.postbox .avatar .user {
  display: block;
  position: relative;
  z-index: 100;
}
.postbox .avatar .user img {
  border: 1px solid #F2F2F2;
  display: block;
  height: 36px;
  width: 30px;
}
.postbox .btn {
  margin: -34px -20px 0;
}
.textarea-wrapper:after {
  clear: both;
}
.textarea-wrapper:before,
.textarea-wrapper:after {
  content: "";
  display: table;
  line-height: 0;
}
.textarea-wrapper:before,
.textarea-wrapper:after {
  content: "";
  display: table;
  line-height: 0;
}
.textarea-wrapper {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 0 2px rgba(16, 48, 68, 0.2) inset;
  margin: 0 80px 0 36px;
  padding: 2px;
  position: relative;
}
.textarea-wrapper .textarea {
  border: 0 none;
  color: #3F4549;
  cursor: text;
  display: block;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  height: auto;
  line-height: 1.4;
  margin: 0;
  min-height: 20px;
  max-height: 150px;
  overflow-y: auto;
  padding: 6px 10px 8px;
  resize: none;
  transition: all 0.15s ease-in-out 0s;
}
.textarea-wrapper .textarea .placeholder {
  color: #AAB2B8;
  font-size: 14px;
  line-height: 19px;
  padding-left: 4px;
}
.DefaultMargin {
  margin: 20px;
}
.AdminMargin {
  margin: 10px 15px 15px;
}
a[href="http://canvasjs.com/"] {
  display: none;
}
@media (max-width: 784px) {
  #content .container-padding-right {
    padding-right: 5px;
  }
}
.ui-helper-hidden-accessible {
  display: none;
}
li.DragableItem {
  display: list-item;
  float: none;
  list-style: none outside none;
}
li.DragableItem a {
  background-color: #0088CC;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  /*font-weight: 600;*/
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 3px;
  margin-right: 0;
  margin-top: 2px;
  outline: medium none;
  padding: 8px 12px;
  text-decoration: none;
}
