﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>{{'LanguageContents.Res_4474.Caption'|translate}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="BrandSystems">

  

    <link href="assets/css/mui.css" rel="stylesheet" />
    <link href="assets/css/mui-responsive.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
</head>

<body>


    <div id="ForgetpwdLinkvalidity" class="AdminMargin" style="width: 750px; margin: auto; margin-top: 100px;">
        <div class="header" title="">
            <img alt="BrandSystems" src="assets/img/logo.png" style="height: 45px;">
        </div>
        <div class="box box-noborder">
            <div style="height: 40px;" class="box-header">
                <h3 style="color: rgba(1, 1, 1, 0.3);">
{{'LanguageContents.Res_4742.Caption'|translate}}</h3>
            </div>
            <div class="box-content" style="height: 180px; margin-top: 20px; border: 0px #eee solid; box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.1);">
                
                <div style="margin-top: 7px;" class="span5 box-content-margin">
                    <br>

                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="id_Newpwd">{{'LanguageContents.Res_4501.Caption'|translate}}</label>
                            <div class="controls">
                                <input type="password" name="id_Newpwd" id="id_Newpwd">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="id_Confirmpwd">{{'LanguageContents.Res_4169.Caption'|translate}}</label>
                            <div class="controls">
                                <input type="password" id="id_Confirmpwd">
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <div class="controls">

                                <button onclick="UpdateSetPassword();" type="button" class="btn btn-success">{{'LanguageContents.Res_4871.Caption'|translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/jQuery/jquery-2.0.3.min.js"></script>
    <script src="assets/js/Jquery/Plugin/jquery.cookie.js"></script>
    <script src="assets/js/bootstrap/plugin.js"></script>
    <script src="assets/js/UtilityFramework/bootbox.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var QueryString = location.search.replace('?', '').split('&');
            var Guid = QueryString[0].split('=')[1];
            var resetpwdParams = {
                "Guid": "" + Guid + ""
            }
            var jsonString = JSON.stringify(resetpwdParams);
            $.ajax({
                type: "POST",
                url: "user/IsUserExistsForSetpassword",
                contentType: "application/json",
                data: jsonString,
                success: function (data) {
                    if (data != null && data == true) {
                        $('#SetpwdLinkvalidity').show();
                    }
                    else {
                        $('#SetpwdLinkvalidity').hide();
                        bootbox.alert($translate.instant('LanguageContents.Res_4453.Caption'));
                    }

                },
                error: function (data) {
                    bootbox.alert($translate.instant('LanguageContents.Res_4744.Caption'));
                }
                //async: false
            });
        });


        function UpdateSetPassword() {

            var QueryString = location.search.replace('?', '').split('&');
            var Guid = QueryString[0].split('=')[1];
            if ($("#id_pwd").val() == "") {
                bootbox.alert('Password should not be empty.')
                return;
            }
            if ($("#id_Newpwd").val() == $("#id_Confirmpwd").val()) {
                var Newpwd = $("#id_Newpwd").val();
                var cnfrmpwd = $("#id_Confirmpwd").val();
                var flag = false;
                var pwdresetParams = {
                    "Password": "" + Newpwd + "",
                    "Guid": "" + Guid + "",
                    "OldPassword": "",
                    "Flag": "" + flag + ""
                }

                var jsonString = JSON.stringify(pwdresetParams);

                $.ajax({
                    type: "POST",
                    url: "user/UpdateSetPassword",
                    contentType: "application/json",
                    data: jsonString,
                    success: function (result) {
                        if (result.Response==true) {
                            //bootbox.alert('Reset password successfully done.');
                            window.location.replace("login.html");
                        }
                        else {
                            bootbox.alert($translate.instant('LanguageContents.Res_4453.Caption'));
                        }
                    },

                    error: function (result) {
                        bootbox.alert($translate.instant('LanguageContents.Res_4743.Caption'));
                    },

                    async: false
                });
            }
            else {
                bootbox.alert($translate.instant('LanguageContents.Res_4550.Caption'))
            }
        }
     
    </script>
</body>
</html>
