﻿<div id="Attachments" ng-class="{ 'tab-pane fade in active': ( subview == 'attachment' ) }" ng-controller="mui.planningtool.default.detail.attachmentCtrl">
    <div class="tab-line">
    </div>
    <div class="align-right">
        <input type="text" placeholder="Filter" id="txtAttachFilter" class="">
    </div>
    <div class="pull-right attchmntOptions">
        <a href="JavaScript:void(0);" ng-show="IsLock == false" type="button" class="btn btn-small">{{'LanguageContents.Res_25.Caption'|translate}}</a>
        <a href="#addLinkPopup" role="button" ng-show="attachmentAddIsLock && IsLock == false" class="btn btn-primary btn-small" data-toggle="modal" ng-click="Setlinkfocus()">{{'LanguageContents.Res_1504.Caption'|translate}}</a>
        <a href="#attachmentPopup" ng-show="IsLock == false" role="button" class="btn btn-primary btn-small" data-toggle="modal" ng-click="fnTimeOut();">{{'LanguageContents.Res_1018.Caption'|translate}}</a>
    </div>

    <div id="attachmentDivObj" class="box">
        <div class="box-header">
            <h4>{{'LanguageContents.Res_35.Caption'|translate}}</h4>
            <div class="box-icon" style='display: none;'>
                <a href="JavaScript:void(0);" class="btn btn-small" href="#" onclick="$('#listview').show(); $('#thumnailview').hide();"><i class="icon-reorder"></i></a>
                <a href="JavaScript:void(0);" class="btn btn-small" href="#" onclick="$('#listview').hide(); $('#thumnailview').show();"><i class="icon-th"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <div id="listview">
                    <table class="table table-normal-both" id="AttchmentColumn">
                        <thead>
                            <tr>
                                <th><span>
                                    <label class="checkbox checkbox-custom pull-right">
                                        <input id="RootLevelSelectAll" type="checkbox"><i class="checkbox"></i></label></span></th>
                                <th><span>{{'LanguageContents.Res_12.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_65.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_1501.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_1502.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_31.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_1503.Caption'|translate}}</span></th>
                                <th><span></span></th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-normal-both" id="AttchmentContent">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="attachmentPopup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="filescontainer">
            <div class="attachmentContainer">
                <div id="filelistActivity">
                </div>
            </div>
            <div class="attachment-dragfiles" id="dragActivityfiles">
                <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
                <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
                <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
                <div><a href="JavaScript:void(0);" id="pickfiles" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="attachment-progress pull-left" id="totalActivityAttachProgress"></div>
            <a id="uploadfiles" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a>
            <a id="pickfilesAlternate" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a>
            <a id="clearUploader" href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
    </div>

    <div id="addLinkPopup" class="modal hide fade AddLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H1">{{'LanguageContents.Res_1504.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <table id="LinkContainetTable">
                <thead>
                    <tr>
                        <td>{{'LanguageContents.Res_1.Caption'|translate}}:</td>
                        <td>{{'LanguageContents.Res_619.Caption'|translate}}:</td>
                        <td>{{'LanguageContents.Res_22.Caption'|translate}}:</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" id="txtLinkName" ng-model="txtLinkName" placeholder="Link name">
                        </td>
                        <td class="url">
                            <input type="text" class="http" ng-init="txtprelink='http'" ngfocus="if (this.value == 'http') {this.value=''}" ngblur="if (this.value== '') {this.value='http'}" ngload="{this.value='http'}" id="txtprelink" ng-model="txtprelink" maxlength="5" />
                            ://
                            <input type="text" class="urllink" id="txtLink" ng-model="txtLink" placeholder="URL">
                        </td>
                        <td>
                            <textarea id="txtLinkDesc" ng-model="txtLinkDesc" placeholder="Link Description" rows="1"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a id="addLink" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</a>
            <a href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
    </div>

    <div id="AttachmentVersion" data-width="650" tabindex="-1" class="modal hide fade modal-overflow in attachmentVersionPopup">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>{{'LanguageContents.Res_4112.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div>
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="">{{'LanguageContents.Res_4039.Caption'|translate}}</label>
                            <div class="controls">
                                <input type="text" tabindex="-1" id="" class="select2-focusser select2-offscreen">
                                <div class="select2-drop select2-display-none select2-with-searchbox">
                                    <div class="select2-search">
                                        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input">
                                    </div>
                                    <ul class="select2-results"></ul>
                                </div>
                            </div>
                            <select id="ActiveVersionNo" ui-select2 ng-model="SelectedVersionID">
                                <option ng-repeat="Activeid in AttachmentVersionFileList | unique:'VersionNo'" value="{{Activeid.VersionNo}}">{{Activeid.VersionNo}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="attchmntTable">
                    <table class="table table-list table-normal-right">
                        <thead>
                            <tr>
                                <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_4894.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                <th>{{'LanguageContents.Res_31.Caption'|translate}}</th>
                                <th>{{'LanguageContents.Res_702.Caption'|translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in AttachmentVersionFileList">
                                <td>
                                    <span ng-show="IsLock == false">
                                        <i class="icon-file attachmentIcon-disable"></i>
                                        <a target="_blank" ng-href="download.aspx?FileID={{item.Fileguid}}&amp;FileFriendlyName={{item.Name}}&amp;Ext={{item.Extension}}">{{item.Name}}</a>
                                    </span>
                                    <span ng-show="IsLock == true">{{item.Name}}</span>
                                </td>
                                <td><span>{{item.VersionNo}}</span></td>
                                <td><span>{{item.Description}}</span></td>
                                <td><span>{{item.StrCreatedDate}}</span></td>
                                <td><span>{{item.OwnerName}}</span></td>
                                <td class="col6">
                                    <a class="iconLink">
                                        <i class="icon-remove" ng-click="DeleteAttachmentVersionByID(item.Id,$index,item.ActiveFileVersionID)"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary" type="button" ng-click="SaveActiveVersion()">Save</button>
            <button data-target="#attachmentPopup" data-toggle="modal" class="btn btn-small btn-primary" ng-click="ChangeVersionNo()" type="button">{{'LanguageContents.Res_4.Caption'|translate}}</button>
            <button class="btn btn-small" data-dismiss="modal" type="button">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>

    <ul id="context5" style="display: none;" class="dropdown-menu contexMenu">
        <li id="Li15"><a tabindex="-1" data-toggle="modal" href="#AttachmentVersion" ng-show="showmanageverson" ng-click="ViewAllFiles()">{{'LanguageContents.Res_4007.Caption'|translate}}</a></li>
        <li id="Li16"><a tabindex="-1" data-toggle="modal" href="#attachmentPopup" ng-show="shownewversion" ng-click="ChangeVersionNo()">{{'LanguageContents.Res_4053.Caption'|translate}}</a></li>
        <li id="Li19"><a tabindex="-1" data-toggle="modal" ng-click="DeleteFile($event)">{{'LanguageContents.Res_18.Caption'|translate}}</a></li>
    </ul>
</div>
