﻿<div class="tab-line"></div>
<div id="customtabDiv" class="row-fluid" ng-class="{ 'tab-pane fade in active': ( subview == 'customtab' ) }">
    <div class="span12" ng-show="ShowCustomTabOnLoad">
        <div class="customtab" ng-show="IsCustomTabInObjective">
            <!--{{CustomTab.Selection}}-->
        <iframe id="default-customtab" class="extLink" src="{{CustomTab.Selection}}" frameborder="0"></iframe>
        </div>
        <div ng-show="!IsCustomTabInObjective">
            <div id="AttributeGroupInCustomTab">
                <attribute-group item-pagesize="{{group.PageSize}}" item-predefined="{{group.Ispredefined}}" item-index="{{$index}}" item-imagecrop="getgroupid" item-imagefilename="{{attrgrpImagefileName}}" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupkeyvaluepairTabBlock"></attribute-group>
                <attribute-grouplistganttviewincustomtab item-pagesize="{{group.PageSize}}" item-predefined="{{group.Ispredefined}}" item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupListTabBlock"></attribute-grouplistganttviewincustomtab>
            </div>
        </div>
    </div>
</div>
