﻿<div ng-controller="mui.planningtool.costcentre.detail.detailfilterCtrl">
    <div id="costcentredetailfiltersettings"></div>
    <div class="FilterHolder" style="display: none;" id="filtersettingsdynamic">
        <div class="row-fluid">
            <div class="span12 dynamicContainer">
                <form class="form-float" id="dynamic_Controls"></form>
            </div>
            <div class="span12 actionPanel nomargin">
                <div class="lftButtons">
                    <input type="text" ng-model="ngsaveasfilter" id="ngsaveasfilter" placeholder="Filter name" class="input-small">
                    <a class=" btn btn-primary btn-small" ng-model='ngsaveasfilter' id='A1' ng-show="showSave" ng-click="FilterSave();">{{'LanguageContents.Res_406.Caption'|translate}}</a>
                    <form class="form-inline inline">
                        <label class="control-label" for="attrgroupttype">Group by</label>
                        <select ui-select2 ng-model="attributegroupTypeid" data-placeholder="None" required>
                            <!--<option value="0">None</option>-->
                            <option ng-repeat="dimen in atributeGroupList" value="{{dimen.AttributeId}}">{{dimen.DisplayName}}</option>
                        </select>
                    </form>
                    <a class=" btn btn-primary btn-small" ng-show="showUpdate" ng-click="FilterUpdate();">{{'LanguageContents.Res_407.Caption'|translate}}</a>
                    <button type="button" ng-show="deletefiltershow" ng-click="DeleteFilter();" class="btn btn-danger btn-small ng-pristine ng-valid" ng-model="TrashIcon"><i class="icon-trash icon-large"></i></button>
                </div>
                <div class="rytButtons">
                    <a class="btn btn-small" ng-click="hideFilterSettings()">{{'LanguageContents.Res_415.Caption'|translate}}</a>
                    <a class="btn btn-small" ng-click="ClearFilterAttributes();">{{'LanguageContents.Res_414.Caption'|translate}}</a>
                    <a class="btn btn-primary btn-small" ng-click="ApplyFilter()">{{'LanguageContents.Res_405.Caption'|translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
