﻿<div ng-controller="mui.planningtool.costcentre.detail.listviewCtrl" class="row-fluid">
    <div class="span12" id="CostcentreListView">
        <div class="row-fluid contentHeader">
            <div class="span12">
                <!--/page-header -->
                <div class="ActionBtnHolder pull-right container-padding-right">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="ListContainerHeader">
                    <table class="table table-list" id="ListColumn">
                        <thead></thead>
                    </table>
                </div>
                <div class="list_rightblock" id="ListContainer">
                    <table id="ListHolder" class="table table-list">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
