﻿@model Presentation.Controllers.ViewController.UserAccessModule

@{
    bool overViewPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Overview);
    bool financialPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Financials);
    bool taskPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Task);
    bool workflowPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Workflow);
    bool memberPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Member);
    bool objectivePermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Objective);
    bool attachmentPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Attachments);
    bool presentationPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Presentation);
    var tabActiveClass = "active";
}
<div id="CCSection" class="row-fluid" ng-controller="mui.planningtool.costcentre.detail.sectionCtrl">
    <div class="span12">
        <div class="row-fluid contentHeader">
            <div class="span12">
                <ul class="breadcrumb container-padding-left">
                    <li ng-repeat="item in array">
                        <a ng-if="$index<array.length-1" ng-style="set_color(item.mystyle)" style="color: #{{item.mystyle}};" id="breadcrumlink" data-uniquekey="{{item.UniqueKey}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" data-typeid="{{item.TypeID}}" ng-click="BreadCrumOverview(item.ID)">{{item.Name}}</a>
                        <span ng-if="$index==array.length-1" class="divider">{{item.Name}}</span>
                        <span ng-hide="$index==array.length-1" class="divider">/</span>
                    </li>
                </ul>
                <!--/breadcrumb -->
                <h3 class="title"><span ng-style="set_bgcolor(EntityColorcode)" style="background-color: #{{EntityColorcode}}">{{EntityShortText}}</span> {{RootLevelEntityName}}</h3>
                <!--/page-header -->
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="tabbable tabbable-bordered">
                    <ul class="nav nav-tabs" id="SectionTabs">
                        <li id="{{currentdata.ControleID}}" ng-class="BindClass($index,currentdata.ControleID,currentdata.Id)" ng-repeat="currentdata in TabCollectionsList">
                            <a data-toggle="tab" my-qtip2 qtip-content="{{currentdata.Name}}" ng-click="CustomTabLoad(currentdata.Id,currentdata.ExternalUrl,currentdata.IsSytemDefined,currentdata.ControleID,currentdata.AddEntityID)">{{currentdata.Name}}</a>
                        </li>
                    </ul>
                    <!--/nav-tabs -->
                    <div class="tab-content">
                        <div id="container">
                            <div ui-butterbar></div>
                            <div ui-view></div>
                        </div>

                        @*<div ng-switch="subview">
                            @if (overViewPermission)
                            {
                                <div ng-switch-when="overview">
                                     <div ng-include=" 'api/View/GetCostcentreOverView' "></div>
                                </div>
                            }
                            @if (financialPermission)
                            {
                                <div ng-switch-when="financial">
                                      <div ng-include=" 'api/View/GetCCFinancialView' "></div>
                                </div>
                            }
                            @if (workflowPermission)
                            {
                                <div ng-switch-when="workflow">
                                    <div ng-include=" 'views/mui/planningtool/costcentre/detail/section/workflow.html' "></div>
                                </div>
                            }
                            @if (memberPermission)
                            {
                                <div ng-switch-when="member">
                                    <div ng-include=" 'views/mui/planningtool/costcentre/detail/section/member.html' "></div>
                                </div>
                            }
                            @if (attachmentPermission)
                            {
                                <div ng-switch-when="attachment">
                                    <div ng-include=" 'views/mui/planningtool/default/detail/section/attachment.html' "></div>
                                </div>
                            }
                            @if (presentationPermission)
                            {
                                <div ng-switch-when="presentation">
                                    <div ng-include=" 'views/mui/planningtool/costcentre/detail/section/presentation.html' "></div>
                                </div>
                            }
                            @if (taskPermission)
                            {
                                <div ng-switch-when="task">
                                    <div ng-include=" 'views/mui/planningtool/default/detail/section/Task.html' "></div>
                                </div>
                            }

                            <div ng-switch-when="customtab">
                                <div ng-include=" 'views/mui/planningtool/costcentre/detail/section/customtab.html' "></div>
                            </div>

                        </div>*@
                    </div>
                    <!--/tab-content -->
                </div>
            </div>
        </div>
    </div>
</div>
