﻿<div class="box">
    <div class="box-header">
        <h4>{{itemTitle}}</h4>
    </div>
    <div class="box-content ">
        <div class="box-content-margin">
            <div ng-show="loading" class="loadIcon">
                <img alt="Loading" src="assets/img/loading.gif">
                Loading...
            </div>

            <div ng-hide="loading">
                <form class="form-horizontal nomargin">
                    <div ng-repeat="record in AGRecordList" class="attGrpOvrContent">
                        <a ng-click="AddAttributeValues(undefined,record[0].SortOrder)" href="javascript:void(0);" ng-if="true == grouplocked">
                            <i class="icon-plus-sign" my-qtip2 qtip-content="Add New"></i>
                        </a>
                        <a ng-click="DeleteAttribtueRecord(record[0].AttributeRecordID)" ng-if="true == grouplocked">
                            <i class="icon-remove-sign" my-qtip2 qtip-content="Delete"></i>
                        </a>
                        <div ng-repeat="object in record" class="control-group">
                            <div ng-if="6 != object.TypeID && 12 != object.TypeID">
                                <label class="control-label">{{object.Lable}}</label>
                                <div class="controls">
                                    <a id="{{object.AttributeRecordID}}" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" ng-if="11 != object.TypeID && true == grouplocked" href="javascript:;" class="editable editable-click">{{object.Caption}}</a>
                                    <span ng-if="11 != object.TypeID && false == grouplocked">{{object.Caption}}</span>
                                    <img ng-if="11 == object.TypeID && object.Value == '' && true == grouplocked " src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                    <a ng-if="11 == object.TypeID && object.Value == '' && true == grouplocked" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" href="javascript:;" class="editable editable-click">Select image
                                    </a>
                                    <a ng-if="11 == object.TypeID && object.Value != '' && true == grouplocked" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" href="javascript:;" class="editable editable-click">
                                        <img src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                    </a>
                                    <img ng-if="11 == object.TypeID && false == grouplocked && object.Value == ''" src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                    <img ng-if="11 == object.TypeID && false == grouplocked && object.Value != ''" src="UploadedImages/{{object.Value}}" class="widthauto heightauto entityDetailImgPreview">
                                </div>
                            </div>
                            <div ng-if="6 == object.TypeID">
                                <div ng-repeat="item in object.Lable" class="control-group">
                                    <label class="control-label">{{item.Label}}</label>
                                    <div class="controls">
                                        <a ng-if="true == grouplocked" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" class="editable editable-click">{{object.Value[$index]}}</a>
                                        <span ng-if="false == grouplocked">{{object.Value[$index]}}</span>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="12 == object.TypeID ">
                                <div ng-repeat="item in object.Lable" class="control-group">
                                    <label class="control-label">{{item.Label}}</label>
                                    <div class="controls">
                                        <a ng-if="true == grouplocked" ng-click="EditAttributeValues(object.AttributeRecordID,object.SortOrder)" class="editable editable-click">{{object.Caption[$index]}}</a>
                                        <span ng-if="false == grouplocked">{{object.Caption[$index]}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr ng-hide="$last" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="attrGrpAddShowHide">
        <span ng-show="ShowHideAddAttributeGroupBtn" class="noAttrGrpPresent">{{itemLanguageContent.Res_2051}}</span>
        <a ng-show="ShowHideAddAttributeGroupBtn" ng-click="AddAttributeValues()" href="javascript:void(0);">{{itemLanguageContent.Res_2052}} {{itemTitle}}</a>

        <!--Add new -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="AddAttributesModel{{itemGroupId}}" data-width="500" data-height="360" style="display: none;">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3 id="myModalLabel">{{itemTitle}}
                </h3>
            </div>
            <div class="modal-body manageOverflow">
                <div class="row-fluid margin-left10x" id="AttributeGroup{{itemGroupId}}">
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="SaveCmsAttribtueGroup()" ng-show="ShowHideEditGroup" class="btn btn-small btn-primary savedisable">{{itemLanguageContent.Res_64}}</button>
                <button ng-click="SaveCmsAttribtueGroup()" ng-show="ShowHideSaveGroup" ng-model="SaveAttribtueGroup" class="btn btn-small btn-primary savedisable">{{itemLanguageContent.Res_8}}</button>
                <button data-dismiss="modal" class="btn btn-small">{{itemLanguageContent.Res_14}}</button>
            </div>
        </div>
    </div>
</div>
