﻿.accordion-header {
            background-color: #999999;
            color: #FFFFFF;
            cursor: pointer;
            font-size: 12px;
            /*font-weight: 600;*/ font-weight: bold;
            line-height: 14px;
            margin: 0;
            padding: 10px;
            text-decoration: none;
            position: relative;
        }

            .accordion-header .info {
                display: inline-block;
                position: absolute;
                top: 5px;
                right: 5px;
            }

                .accordion-header .info .count {
                    vertical-align: middle;
                    font-size: 11px;
                    color: #fff;
                }

                .accordion-header .info .separator {
                    display: inline-block;
                    height: 24px;
                    vertical-align: middle;
                    width: 0px;
                    margin-left: 3px;
                    margin-right: 3px;
                    border-left: 1px solid #e2e2e2;
                    border-right: 1px solid #ccc;
                }


            .accordion-header .arrow {
                border-left: 2em solid transparent;
                border-right: 2em solid transparent;
                border-top: 1.5em solid #999999;
                bottom: -18px;
                height: 0;
                left: 0;
                position: absolute;
                width: 0;
            }


            .accordion-header .StepNo {
                float: left;
                font-size: 24px;
                border-right-width: 0px;
                border-left-width: 0px;
                margin-left: 8px;
                margin-top: 6px;
                margin-right: 20px;
            }

        .accordion-container {
            margin: 3px 3px 25px;
        }

        .accordion-header.activated {
            background-color: #EEEEEE;
            color: #0088CC;
        }

            .accordion-header.activated .arrow {
                border-top: 1.5em solid #EEEEEE;
            }

            .accordion-header.activated .info .count {
                color: #999;
            }

            .accordion-header.activated .info .separator {
                border-left: 1px solid #f7f7f7;
                border-right: 1px solid #ddd;
            }

        .accordion-header:hover {
            text-decoration: underline !important;
        }

        .accordion-header.activated:hover {
            text-decoration: underline !important;
        }

        .accordion-container[data-isactivestep="true"] .accordion-pane {
            padding: 25px;
            overflow-y: auto;
            border-left: 2px solid #EEE;
            border-right: 2px solid #EEE;
            border-bottom: 2px solid #EEE;
        }
        .accordion-container[data-isactivestep="false"] .accordion-pane {
            padding: 25px;
            overflow-y: auto;
            border-left: 2px solid #999;
            border-right: 2px solid #999;
            border-bottom: 2px solid #999;
        }