//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
    padding: 8px 2px 0px;
    margin: 0;
    //the following change is done to let Breadcrumb float to its original size when more data is there to shoe
    //by Madhur 19 Dec 2014
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    height: auto;

    > li {
        display: inline;
    }
}
