// Inner for background effects
// Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: none;
    //Hide additional space created by container
    > div {
        padding: 0;
    }
}

// Brand: website or project name
// -------------------------
.navbar .brand {
    font-size: 26px;
    font-weight: 500;

    img {
        height: 36px;
        margin-top: -13px;
        margin-bottom: -10px;
    }
}

// Janky solution for now to account for links outside the .nav
// -------------------------
.navbar-link {
    padding-top: 12px;
    padding-bottom: 11px;
    position: relative;

    .badge {
        padding: 2px 6px;
        left: 30px;
        position: absolute;
        top: 5px;
    }
}

// Dividers in navbar
// -------------------------
.navbar .divider-vertical {
    margin: 0;
}

// Navbar search
// -------------------------
.navbar .navbar-search {
    position: relative;
    float: left;
    //.navbarVerticalAlign(30px); // Vertically center in navbar
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0;

    > input.search-query {
        margin-bottom: 0;
        padding: 4px 14px;
        #font > .sans-serif(13px, normal, 1);
        .border-radius(15px); // redeclare because of specificity of the type attribute
        transition: width 0.3s ease 0s;
        width: 100px;

        &:focus {
            width: 200px;
        }
    }

    i {
        position: absolute;
        right: 10px;
        top: 8px;
    }
        /*For better representation of Search Icon -> Added By Madhur - 29 DEC'14*/
        i.icon-search {
            position: absolute;
            right: 10px;
            top: 7px;
            font-size: 14px;
            color: #AAA;
        }
}

// NAVIGATION
// ----------

// Links
.navbar .nav > li > a.navbar-link {
    padding-bottom: 11px;
    padding-top: 12px;
}

//Main menu dropdown
.navbar .nav > li > .notification {
    background: @dropdownDividerTop;
    border-radius: 0 0 6px 6px;
    margin: 0;
    border: 1px solid #fff;
    right: -2%;
}

    .navbar .nav > li > .notification:before {
        content: '';
        display: inline-block;
        border: none;
        position: absolute;
    }

    .navbar .nav > li > .notification:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0px;
        top: -1px;
        width: 52px;
        /*width: 60px;*/ /*Change By MADHUR - 2 JAN 2014*/
        border-left: none;
        border-right: none;
        border-bottom: 0px solid @dropdownDividerTop;/*Change By MADHUR - 24 APR 2015*/
    }

    .navbar .nav > li > .notification#notifyul:after {/*Change By MADHUR - 24 APR 2015*/
        border-bottom: 1px solid @dropdownDividerTop;
    }

/*.navbar .nav > li > .search{
    background: @dropdownDividerTop;
    border-radius: 0 0 6px 6px;
	margin: 0;
	border: 1px solid #fff;
	right: -2%;
}

    .navbar .nav > li > .search:before {
        content: '';
        display: inline-block;
        border: none;
        position: absolute;
    }

    .navbar .nav > li > .search:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0px;
        top: -1px;
        width: 60px;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid @dropdownDividerTop;
    }*/

.navbar .nav .dropdown-menu > li > a {
    margin: 1px;
    background-color: @white;
}

.navbar .nav .dropdown-menu-header {
    color: @gray;
    display: block;
    /*font-weight: 600;*/ font-weight: bold;
    padding: 3px 20px 5px;
    text-decoration: none;
    text-align: center;
}

.navbar .nav .dropdown-menu-footer {
    color: @gray;
    display: block;
    /*font-weight: 600;*/ font-weight: bold;
    padding: 5px 20px 1px;
    text-decoration: none;
    text-align: center;

    a {
        cursor: pointer;
        text-decoration: none;
    }
}


//Custom User Avatar
.navbar .user-avatar {
    width: 100%;
    position: relative;

    .dropdown-toggle span {
        /*font-weight: 600;*/ font-weight: bold;
    }

    a {
        display: block;

        > span {
            position: relative;
        }

        img {
            height: 40px;
            padding: 2px;
            margin-top: -14px;
            margin-bottom: -13px;
            margin-right: 5px;
            -webkit-box-shadow: 0 1px 3px #1e1e1e;
            -moz-box-shadow: 0 1px 3px #1e1e1e;
            box-shadow: 0 1px 3px #1e1e1e;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
        }

            img#headeruserimg {
                margin-top: -15px;
                width: 35px;
            }
    }
}

// Inverted navbar Modify to achieve slim effect
// -------------------------

.navbar-inverse {

    .navbar-inner {
        //Custom
        min-height: 24px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        //Hide additional space created by container
        > div {
            padding: 0;
        }
    }

    .brand,
    .nav > li > a {
        //Custom
        padding: 2px 15px;
        font-weight: bold;
    }

    .nav > li.selected > a,
    .nav > li.selected > a:focus,
    .nav > li.selected > a:hover {
        #gradient > .vertical(@navbarInverseLinkBackgroundHover, darken(@navbarInverseLinkBackgroundHover, 5%));
        color: @navbarInverseLinkColorHover;
    }

    .nav > li > a:focus,
    .nav > li > a:hover {
        #gradient > .vertical(@navbarInverseLinkBackgroundHover, darken(@navbarInverseLinkBackgroundHover, 5%));
        color: @navbarInverseLinkColorHover;
    }
    // Dividers in navbar
    .divider-vertical {
        border-right-color: @black;
        //Custom
        height: 24px;
        margin: 0;
    }

    .nav li.dropdown > a:hover .caret,
    .nav li.dropdown > a:focus .caret {
        border-top-color: @navbarInverseLinkColorHover;
        border-bottom-color: @navbarInverseLinkColorHover;
    }

    .nav li.dropdown > .dropdown-toggle .caret {
        border-top-color: @navbarInverseText;
        border-bottom-color: @navbarInverseText;
    }
    //Custom dropdown for nav
    /*.nav > li > .dropdown-menu {
        #gradient > .vertical(@navbarInverseBackgroundHighlight, @navbarInverseBackground);
        .box-shadow-reset();
        .border-radius(2px);

        > li > a {
            color: @navbarInverseLinkColor;
            border-bottom: 1px solid @black;
            background-color: transparent;
        }

        &:before {
            border-bottom-color: @dropdownBorder;
        }

        &:after {
            border-bottom: 6px solid @navbarInverseBackground;
        }
    }
    .nav > li > .dropdown-menu > li > a:hover,
    .nav > li > .dropdown-menu > li > a:focus {
      text-decoration: none;
      color: @navbarInverseLinkColorHover;
      #gradient > .vertical(@navbarInverseLinkBackgroundHover, darken(@navbarInverseLinkBackgroundHover, 5%));
    }

    .nav > li > .dropdown-menu > .active > a,
    .nav > li > .dropdown-menu > .active > a:hover,
    .nav > li > .dropdown-menu > .active > a:focus {
      color: @navbarInverseLinkColorActive;
      text-decoration: none;
      outline: 0;
      #gradient > .vertical(lighten(@navbarInverseLinkBackgroundActive, 5%), @navbarInverseLinkBackgroundActive);
   
    }*/
    // Navbar collapse button
    .btn-navbar {
        //Custom
        margin: 1px 5px;
        padding: 4px 10px;
    }
}
