//To match Left Tree woth the right side data
#treeHolder > li[data-page="0"] ul.nav.nav-list {
    margin-top: -1px;
}

// Space them out when they follow another list item (link)
.nav li + .nav-header {
    margin-top: 1px;
}

.nav-list > li > a {
    border-bottom: 1px solid #DDDDDD;
    border-left: 4px solid lighten(@linkColor,45%);
    /*border-top: 1px solid #FFFFFF;*/
    padding: 6px 2px 7px;
    color: @grayDark;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        border-left: 4px solid lighten(@linkColor,35%);
        background-color: lighten(@linkColor,55%);
        #gradient > .vertical(desaturate(lighten(@linkColor,58%),50%),desaturate(lighten(@linkColor,55%),50%));
    }

    &:focus {
        text-decoration: none;
        border-left: 4px solid lighten(@linkColor,35%);
        background-color: lighten(@linkColor,55%);
        #gradient > .vertical(desaturate(lighten(@linkColor,58%),50%),desaturate(lighten(@linkColor,55%),50%));
    }

    .eicon {
        background-color: transparent; //Changed By Madhur 19 Dec'14 as instructed
        border-radius: 2px 2px 2px 2px;
        box-shadow: 0 0 2px #CCCCCC;
        color: #FFFFFF;
        display: inline-block;
        font-size: 9px;
        font-weight: bold;
        height: 17px;
        letter-spacing: 0;
        line-height: 18px;
        margin: 0 6px 0 -1px;
        padding: 0;
        text-align: center;
        width: 19px;
    }

    .over {
        text-decoration: none;
        border-left: 4px solid lighten(@linkColor,35%);
        background-color: lighten(@linkColor,55%);
        #gradient > .vertical(desaturate(lighten(@linkColor,58%),50%),desaturate(lighten(@linkColor,55%),50%));
    }
}

    .nav-list > li > a[data-entitylevel="0"] {
        background-color: #d9d9d9;
    }

    //For GroupBy Filter
    .nav-list > li > a[data-entitylevel="-1"] {
        background-color: #999;
        cursor: default;
        pointer-events: none;
    }

    .nav-list > li > a[data-entitylevel="0"][data-iscostcentre="true"] {
        background-color: #BCBCBC;
    }

    .nav-list > li > a[data-entitylevel="0"][data-isobjective="true"] {
        background-color: #BCBCBC;
    }

    .nav-list > li > a[data-entitylevel="0"][data-iscalender="true"] {
        background-color: #BCBCBC;
    }

.nav-list .nav-header {
    background-color: #444444;
    border-top: 16px solid #FFFFFF;
    color: #FFFFFF;
    margin-right: -16px;
    text-shadow: 0px 1px 1px #ccc;
}

.nav-list > .active > a, .nav-list > .active > a.over,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    background-color: @white !important;
    background-image: url('');
    border-left: 4px solid lighten(@linkColor,15%);
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
    display: inline-block;
    text-align: center;
    width: 14px !important;
}

.nav-list-menu > li > a {
    padding-right: 25px;
    position: relative;

    i.menu {
        //display: none;
        /*Changed to fix issue:
            Issue: The dropdown menu in Left Tree showing on TOP on mouse wave
            Change: "display: none is replace with visibility:hidden"
            By: Madhur on 04 Sep 14*/
        visibility: hidden;
        position: absolute;
        font-size: 14px;
        color: #999999;
        right: 4px;
        top: 8px;
    }
}

    .nav-list-menu > li > a:hover {
        i.menu {
            position: absolute;
            font-size: 14px;
            color: #999999;
            right: 4px;
            top: 8px;
            //display: block;
            visibility: visible;
        }
    }

.nav-list-bold > li > a {
    font-weight: bold;
}

.nav-holder {
    margin: 0;
}

    .nav-holder > li:not([data-page="0"]) > .nav-list > li > a > span[data-name="text"] {
        margin-left: -3px;
    }

// TABS
// ----

// Give the tabs something to sit on
.nav-tabs {
    padding-left: 8px;
    margin-bottom: 0;
}

/*!
 * Tab drop for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */

.nav-tabs,
.nav-pills {
    position: relative;
}

/*For the Ul (nav-staked UL)*/
/*Setting minimum height, as Drag and Drop is not feasible, in case, the UL is empty*/
ul.nav.nav-pills.nav-stacked {
    min-height: 280px;
}
