//additional style
/*=========================================================================================================
    Notification
  =========================================================================================================*/
ul.notification > li > a {
    padding: 10px;
    width: 300px;
}

    ul.notification > li > a:hover {
        background-color: lighten(@linkColor,55%);
        #gradient > .vertical(desaturate(lighten(@linkColor,58%),50%),desaturate(lighten(@linkColor,55%),50%));
        color: #000;
    }

ul.notification li .avatar img {
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 36px;
    border: 1px solid #FFFFFF;
    box-shadow: 0 1px 3px #1E1E1E;
}

ul.notification li .header {
    display: block;
}

    ul.notification li .header .actor {
        font-size: 12px;
        font-weight: bold;
    }

    ul.notification li .header .time {
        font-size: 11px;
        font-style: italic;
        font-weight: bold;
        position: absolute;
        right: 5px;
    }

ul.notification li .content {
    font-size: 11px;
    white-space: pre-line;
    display: inline-block;
    width: 240px;
    word-wrap: break-word;
}

/*=========================================================================================================
    Search
  =========================================================================================================*/
ul.searchs {
    margin-right: 7px;
    min-width: 300px;
}

    ul.searchs > li {
        /*border-bottom: 1px solid #DDDDDD;*/
        > a {
            padding: 10px;
            width: 300px;

            &:hover {
                background-color: lighten(@linkColor,55%);
                #gradient > .vertical(desaturate(lighten(@linkColor,58%),50%),desaturate(lighten(@linkColor,55%),50%));
                color: #000;
            }

            .icon {
                background-color: #0088CC;
                border: 1px solid #FFFFFF;
                border-radius: 3px 3px 3px 3px;
                color: #FFFFFF;
                float: left;
                font-size: 14px;
                left: 20px;
                line-height: 14px;
                margin-right: 10px;
                margin-top: 4px; /*By MADHUR - 16Apr2014 (For appearing Icon vertically in Middle)*/
                padding: 8px;
                top: 6px;
                text-align: center; /*By MADHUR - 7Jan2015 (For managing Icon Width Properly)*/
                min-width: 20px;
                max-width: 25px;
            }
            /*#region Image Preview in Search Results*/
            //Style for Image Preview in Image Search Result
            //By Madhur 11 SEP 2014
            > div.search-imgPrev {
                display: inline-block;
                background-color: #FFF;
                border: 1px solid #EEE;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
                border-radius: 3px 3px 3px 3px;
                color: #FFFFFF;
                float: left;
                left: 20px;
                top: 6px;
                overflow: hidden;
                margin: 4px 10px 0 0;
                padding: 1px;
                height: 26px;
                width: 26px;
                text-align: center;
                vertical-align: middle;

                > .s-ip-container {
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;
                    overflow: hidden;
                    margin: 0;
                    padding: 0;
                    height: 26px;
                    width: 26px;

                    > img {
                        height: auto;
                        width: auto;
                        max-height: 26px;
                        max-width: 26px;
                    }
                }
            }
            /*#endregion*/
        }
    }


    ul.searchs li .header {
        display: block;
        overflow: hidden;

        .name {
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            white-space: normal;
            overflow: hidden;
            word-break: break-all;
            line-height: 15px;
        }
    }


    ul.searchs li .content {
        font-size: 11px;
        white-space: normal;
        display: inline-block;
        width: 240px;
        word-break: break-all;
        line-height: 15px;
        vertical-align: top;
    }

    ul.searchs > li.dropdown-menu-footer {
        background-color: #E5E5E5;
        border-radius: 0 0 5px 5px;
        margin: 8px 1px -4px;
    }
//------------------------------------------
.centerText {
    text-align: center;
}

.leftText {
    text-align: left;
}

.rightText {
    text-align: right;
}

.approved {
    color: #83A94C;
    text-align: left;
    margin-left: 10px;
    cursor: pointer;
}

.rejected {
    color: #CC4036;
    text-align: left;
    margin-left: 10px;
    cursor: pointer;
}

.pending {
    color: #0088cc;
    text-align: left;
    /*margin-left: 10px;*/
    cursor: pointer;
    display: block;
}


.disable {
    color: #A6A6A6;
}

.softText {
    color: #7F7F7F;
}

.ItemNameWithIcon {
    height: 40px;
    line-height: 21px;
    margin-bottom: 0px;
    margin-top: -8px;
    overflow: hidden;
    padding: 10px 0px 0px 40px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    .ItemIcon {
        background-color: #08c;
        border-radius: 3px 3px 3px 3px;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        left: 0px;
        line-height: 14px;
        margin-right: 5px;
        padding: 8px;
        position: absolute;
        top: 6px;
    }
}


.repeter {
    list-style: none outside none;
    margin-left: 0;
}

    .repeter > li {
        margin-bottom: 5px;

        .select2-container,
        input {
            margin: 0 5px;
        }
    }

.step-content #container0 .repeter > li .select2-container {
    margin: 0 2px;
}

.contexMenu {
    display: block;
    position: absolute;
    top: 222px;
    left: 48px;
    width: 228px;

    > li > a {
        padding: 3px 35px 3px 10px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .icon-copy {
        font-weight: bold;
        position: absolute;
        right: 7px;
        margin-top: 0px;
        text-shadow: 0px 1px 2px rgb(255, 255, 255);
        font-size: 16px;
        color: rgb(70, 136, 71) !important;
    }

    .icon-remove {
        position: absolute;
        font-size: 16px;
        color: rgb(200, 48, 37) !important;
        font-weight: bold;
        right: 7px;
        text-shadow: 0px 1px 2px rgb(255, 255, 255);
    }

    .eicon {
        background-color: transparent; //Changed By Madhur 19 Dec'14 as instructed
        border-radius: 2px 2px 2px 2px;
        box-shadow: 0px 0px 2px rgb(204, 204, 204);
        color: rgb(255, 255, 255);
        display: inline-block;
        font-size: 9px;
        font-weight: bold;
        letter-spacing: 0px;
        margin: 0px 6px 0px -1px;
        padding: 0px;
        text-align: center;
        position: absolute;
        right: 0px;
        line-height: 20px;
        min-width: 24px;
        max-width: 32px;
        height: 21px;
    }

    .divider {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}
//Entity Creation
.MetadataBlock {
    border-right-width: 0;
    height: 334px;
    margin: 0 -15px -14px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 15px;
    min-width: 300px;
}

.FinancialBlock {
    overflow-x: hidden;
    overflow-y: auto;
    height: 244px;
    margin-left: -14px;
    margin-right: -15px;
    padding-left: 18px;
    padding-right: 15px;
}

.MemberBlockContainer {
    height: 327px;
}

.MemberBlock {
    height: 260px;
    margin-left: -14px;
    margin-right: -15px;
    margin-top: -1px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 14px;
    padding-right: 15px;
}

    .MemberBlock .table tbody + tbody {
        border-top-width: 1px;
    }

.control-group-textarea {
    margin-bottom: -6px;

    textarea {
        height: 36px;
    }
}


.period {
    margin-bottom: 10px;
}

    .period .inputHolder {
        /*height: 72px;*/
        width: 215px !important;
        min-height: 85px;
        border-radius: 5px;
        border-right: 1px solid #ccc;

        input.sdate {
            width: 83px !important;
            margin-right: 6px !important;
        }

        input.edate {
            width: 83px !important;
        }

        input.dateComment {
            margin-top: 10px !important;
        }
    }
    /*    .period .inputHolder input {
            width: 160px;
        }*/
    .period .buttonHolder {
        height: 72px;
        /*padding-top: 26px;*/
        padding-top: 16px;
    }

        .period .buttonHolder i {
            color: #C83025;
            cursor: pointer;
            font-size: 14px;
        }



.eicon {
    background-color: transparent; //Changed By Madhur 19 Dec'14 as instructed
    overflow: hidden;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 0px 2px #ccc;
    color: white;
    font-size: 9px;
    font-weight: bold;
    height: 17px;
    letter-spacing: 0px;
    margin: 0px 5px 0px 0;
    padding: 0px;
    text-align: center;
    display: inline-block !important;
    width: 19px !important;
    line-height: 17px;
}


.ObjectiveFullFillMent {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 97%;
    margin-top: -14px;
    margin-bottom: -24px;
    height: 183px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F9F9F9;
    border: 1px solid #F2F2F2;
}

.Unread a {
    background-color: lighten(@linkColor,55%);
    #gradient > .vertical(desaturate(lighten(@linkColor,58%),50%),desaturate(lighten(@linkColor,55%),50%));
}

.table-language td {
    line-height: 30px;
}

    .table-language td textarea.success {
        border: 1px solid #00C957;
        box-shadow: 0 0 5px #D9FFDF;
        transition: border 0.3s ease 0s;
    }

    .table-language td blockquote {
        background-color: #F2f2f2;
        border-left: 5px solid #DDDDDD;
        margin: 5px 0;
        padding: 0 0 0 10px;
    }

        .table-language td blockquote p {
            font-size: 11px;
            font-weight: 300;
            line-height: 1;
            margin-bottom: 0;
            padding-top: 4px;
        }


        .table-language td blockquote small:before {
            content: "";
        }

        .table-language td blockquote small {
            color: #777;
            display: block;
            font-size: 10px;
            line-height: 18px;
        }

.control-group.error .controls {
    position: relative;

    .help-inline {
        position: absolute;
        top: 8px;
    }
}

.control-group.error .select2-container .select2-choice {
    border-color: @errorText;
}
// Hide all the error
.notvalidate .control-group.error {
    .formFieldState();
}

    .notvalidate .control-group.error .select2-container .select2-choice {
        border-color: #AAAAAA;
    }

.notvalidate .help-inline {
    display: none;
}
//Validation design for period
.control-group.error .period:nth-child(n) .row-fluid .inputHolder input, .control-group.error .period:nth-child(1) .row-fluid .inputHolder input:nth-child(n) {
    border-color: #CCCCCC;
    color: #555555;
}

.control-group.error .period:nth-child(1) .row-fluid .inputHolder input:nth-child(1),
.control-group.error .period:nth-child(1) .row-fluid .inputHolder input:nth-child(2),
.control-group.error .period:nth-child(1) .row-fluid .inputHolder input:nth-child(3) {
    border-color: #B94A48;
    color: #B94A48;
}

.control-group.error .period:nth-child(n) .row-fluid .inputHolder .help-inline:nth-child(2) {
    display: none;
}

.notvalidate .control-group.error .period:nth-child(1) .row-fluid .inputHolder input:nth-child(1),
.notvalidate .control-group.error .period:nth-child(1) .row-fluid .inputHolder input:nth-child(2),
.notvalidate .control-group.error .period:nth-child(1) .row-fluid .inputHolder input:nth-child(3) {
    border-color: #CCCCCC;
    color: #555555;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -45px;

    .image {
        display: block;
        color: #777777;
        width: 100px;
        left: -50px;
        position: absolute;
        top: -16px;
        font-size: 16px;
        height: 100px;
        padding: 10px;
        border-radius: 22%;
        background-repeat: repeat-x;
    }

    .text {
        position: absolute;
        left: -164px;
        font-size: 24px;
        line-height: inherit;
        color: #666;
        font-weight: 100;
        display: inline-block;
        width: 328px;
        top: 125px;
    }
}

.checked {
    color: #999;
    text-decoration: line-through;
}

.checklist {
    position: relative;
    left: -7px;
}

    .checklist li {
        min-height: 25px;
    }

        .checklist li ul {
            padding-top: 6px;
        }

            .checklist li ul.inline:hover {
                background-color: lighten(@linkColor,55%);
                #gradient > .vertical(desaturate(lighten(@linkColor,58%),50%),desaturate(lighten(@linkColor,55%),50%));
            }

            .checklist li ul li .menuIcon {
                display: none;
            }

            .checklist li ul:hover li .menuIcon {
                display: block;
            }


.bootbox .modal-body {
    color: #555555;
    font-size: 13px;
    font-weight: bold;
    padding: 25px 15px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.bootbox .modal-footer {
    padding: 8px 10px;
}

    .bootbox .modal-footer a {
        margin-top: 0;
        font-size: 11px !important;
        line-height: 20px;
        font-weight: normal;
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        float: none;
    }

.CostCenterContainer {
    padding-right: 16px;
}

.financialDetails {
    padding-right: 17px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .CostCenterContainer {
        padding-right: 14px;
    }

    .financialDetails {
        padding-right: 14px;
    }
}

.user-result td {
    vertical-align: middle;
}

.user-image {
    width: 23px;
}

.user-info {
    /*padding-left: 10px;*/
    vertical-align: top;
}

.user-image img {
    height: 27px;
    width: 23px;
}

.user-title {
    font-size: 1.2em;
    margin-top: -2px;
}

.user-Department {
    font-size: .8em;
    color: #888;
}


form.form-report ul.block {
    margin-left: 0;
    padding-left: 12px;
}

    form.form-report ul.block > li {
        list-style: none;
        border-top: 2px solid #08c;
        border-bottom: 2px solid #08c;
        margin-bottom: 10px;
        background-color: #f8f8f8;
        padding: 5px 0 0 15px;
        width: 460px;
    }


    form.form-report ul.block .closebtn {
        height: 6px;
    }

        form.form-report ul.block .closebtn button {
            margin-right: 5px;
        }

    form.form-report ul.block > li > ul.chartblock > li {
        list-style: none;
        border-top: 2px solid #bbb;
        border-bottom: 2px solid #bbb;
        margin-bottom: 10px;
        background-color: #eee;
        padding: 5px 0 0 15px;
        width: 380px;
        display: inline-block;
    }

form.form-report .addchart {
    padding: 5px 45px 10px;
}

form.form-report .addblock {
    padding: 5px 45px 10px;
    width: 442px;
}

form.form-report .multiCheckBox {
    border: 1px solid #dddddd;
    overflow: auto;
    height: 200px;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    width: 215px;
    margin-left: -7px;
}

    form.form-report .multiCheckBox ul {
        display: inline-block;
        min-width: 100%;
    }


        form.form-report .multiCheckBox ul li {
            width: 200px;
        }

            form.form-report .multiCheckBox ul li a {
                padding-left: 6px;
            }

                form.form-report .multiCheckBox ul li a > input {
                    padding: 0 5px;
                }
