// Typography
// -------------------------
@baseFontSize: 11px;

// Component sizing
// -------------------------
@baseBorderRadius: 2px;
@borderRadiusLarge: 3px;
@borderRadiusSmall: 1px;

// Buttons
// -------------------------
@btnBackground: #F8F8F8;
@btnBackgroundHighlight: darken(#F8F8F8, 10%);
@btnBorder: #ddd;

@btnPrimaryBackgroundHighlight: spin(@btnPrimaryBackground, 10%);

// Forms
// -------------------------
@inputDisabledBackground: #F4F4F4;

// Sprite icons path
// -------------------------
@iconicFontPath: "../font";

// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset: 110px;

// Navbar
// -------------------------
@navbarHeight: 50px;

// Inverted navbar
@navbarInverseLinkColorActive: @linkColor;
@navbarInverseLinkBackgroundHover: #444;
@navbarInverseLinkBackgroundActive: @black;

// Tree
// --------------------------------------------------
@treeBackgroundHover: #DFEEF5;
@treeBackgroundSelect: #B9DFF1;
