﻿<div ng-controller="mui.adminCtrl">
    <div id="left">
        <div class="title">
            <ul class="header">
                <li>
                    <a href="JavaScript: void(0);" class="big">
                        <i class="icon-"></i>
                        <span>{{'LanguageContents.Res_501.Caption'|translate}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="accordion" id="adminTreeMenu">
            <div ng-show="settingsM0" class="accordion-group">
                <div id="SuperAdminTab" class="accordion-heading nav-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adminTreeMenu" href="#collapse0">
                        <i class="icon-gear"></i>
                        Super Admin
                    </a>
                </div>
                <div id="collapse0" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-list nav-list-bold" id="Ul9">
                            <li ui-sref-active="active">
                                <a ui-sref="mui.admin.superadmin" ng-click="ChangeAcive(0)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>Configuration</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="settingsM1" class="accordion-group">
                <div id="GeneralTab" class="accordion-heading nav-header active">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adminTreeMenu" href="#collapse1">
                        <i class="icon-gear"></i>
                        {{'LanguageContents.Res_502.Caption'|translate}}
                    </a>
                </div>
                <div id="collapse1" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <ul class="nav nav-list nav-list-bold" id="treeHolders">
                            <li id="2" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.titlelogo" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_503.Caption'|translate}}</span>
                                </a>
                            </li>
                          <!--  <li id="91" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.userregistrationlogo" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>User registration logo</span>
                                </a>
                            </li>-->
                            <li id="75" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.themesettings" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_195.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="3" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.navigation" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_507.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="4" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.additionalsettings" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_535.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="5" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.languagesettings" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_544.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="7" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.notificationfiltersettings" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4528.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="6" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.newsfeedfiltersettings" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4505.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="8" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.searchengine" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_582.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="9" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.ganttviewheaderbar" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4422.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="10" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.statistics" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4772.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="11" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.broadcastmsg" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4130.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="12" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.tabs" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4819.Caption'|translate}}</span>
                                </a>
                            </li>

                            <li id="14" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.updates" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4876.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="13" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.passwordpolicy" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4551.Caption'|translate}}</span>
                                </a>
                            </li>

                            <li id="15" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.searchcriteria" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_212.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="89" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.attributegrouptooltip" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_5670.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="100" ui-sref-active="active">
                                <a ui-sref="mui.admin.businessdays" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_5654.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="16" ui-sref-active="active">
                                <a ui-sref="mui.admin.cloudsettings" ng-click="ChangeAcive(1)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>Cloud setup</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="settingsM2" class="accordion-group">
                <div id="UserTab" class="accordion-heading nav-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adminTreeMenu" href="#collapse2">
                        <i class="icon-user"></i>
                        {{'LanguageContents.Res_553.Caption'|translate}}
                    </a>
                </div>
                <div id="collapse2" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-list nav-list-bold" id="Ul1">
                            <li id="17" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.user" ng-click="ChangeAcive(2)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_2130.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="18" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.apiusers" ng-click="ChangeAcive(2)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4078.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="76" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.accountlock" ng-click="ChangeAcive(2)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_5554.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="19" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.role" ng-click="ChangeAcive(2)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_37.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="20" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.pendinguser" ng-click="ChangeAcive(2)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_557.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="21" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.module" ng-click="ChangeAcive(2)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_2132.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="22" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.SSO" ng-click="ChangeAcive(2)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4759.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="23" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.assetaccess" ng-click="ChangeAcive(2)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_1160.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="80" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.approvalrole" ng-click="ChangeAcive(2)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_5600.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="82" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.dalimuser" ng-click="ChangeAcive(2)">
                                    <i class="icon-double-angle-right"></i>
                                    {{'LanguageContents.Res_5616.Caption'|translate}}
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="settingsM3" class="accordion-group">
                <div id="PlanningTab" class="accordion-heading nav-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adminTreeMenu" href="#collapse3">
                        <i class="icon-puzzle-piece"></i>
                        {{'LanguageContents.Res_565.Caption'|translate}}
                    </a>
                </div>
                <div id="collapse3" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-list nav-list-bold" id="Ul2">
                            <li id="25" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.listsettings" ng-click="ChangeAcive(3)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_566.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="26" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.treesettings" ng-click="ChangeAcive(3)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_568.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="27" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.ganttviewsettings" ng-click="ChangeAcive(3)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_571.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="28" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.listviewsettings" ng-click="ChangeAcive(3)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_572.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="29" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.rootlevelfiltersettings" ng-click="ChangeAcive(3)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_573.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="30" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.detailfiltersettings" ng-click="ChangeAcive(3)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_577.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="31" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.myworkspacesettings" ng-click="ChangeAcive(3)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4495.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="32" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.plantabsettings" ng-click="ChangeAcive(3)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4560.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="33" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.designlayout" ng-click="ChangeAcive(3)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4459.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="79" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.entitystatus" ng-click="ChangeAcive(3)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>Entity Overall Status</span>
                                </a>
                            </li>
                            <li id="81" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.entitytypehelptext" ng-click="ChangeAcive(3)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_5611.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="88" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.objectivetab" ng-click="ChangeAcive(3)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_5648.Caption'|translate}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="settingsM4" class="accordion-group">
                <div id="FinancialTab" class="accordion-heading nav-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adminTreeMenu" href="#collapse4">
                        <i class="icon-usd"></i>
                        {{'LanguageContents.Res_636.Caption'|translate}}
                    </a>
                </div>
                <div id="collapse4" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-list nav-list-bold" id="Ul3">
                            <li id="35" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.financialforecastsettings" ng-click="ChangeAcive(4)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_1796.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="37" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.financialforecast" ng-click="ChangeAcive(4)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_230.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="38" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.POSettings" ng-click="ChangeAcive(4)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_527.Caption'|translate}}</span>
                                </a>
                            </li>

                            <li id="36" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.Currencyconvertersettings" ng-click="ChangeAcive(4)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4255.Caption'|translate}}</span>
                                </a>
                            </li>

                            <li id="39" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.financialmetadata" ng-click="ChangeAcive(5)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4403.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="40" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.pometadata" ng-click="ChangeAcive(6)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4672.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="41" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.spenttransaction" ng-click="ChangeAcive(7)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4758.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="42" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.Financialhelptext" ng-click="ChangeAcive(7)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_5596.Caption'|translate}}</span>
                                </a>
                            </li>

                            <li id="88" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.Financialview" ng-click="ChangeAcive(7)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_5701.Caption'|translate}}</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="settingsM5" class="accordion-group">
                <div id="DamTab" class="accordion-heading nav-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adminTreeMenu" href="#collapse15">
                        <i class="icon-th-large"></i>
                        {{'LanguageContents.Res_4102.Caption'|translate}}
                    </a>
                </div>
                <div id="collapse15" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-list nav-list-bold" id="Ul8">
                            <li id="43" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.assetcreation" ng-click="ChangeAcive(12)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_2503.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li ng-show="false" ui-sref-active="active">
                                <a ui-sref="mui.admin.Summaryviewsettings" ng-click="ChangeAcive(12)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_2501.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li ng-show="false" ui-sref-active="active">
                                <a ui-sref="mui.admin.Listviewsettings" ng-click="ChangeAcive(12)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_572.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li ng-show="false" ui-sref-active="active">
                                <a ui-sref="mui.admin.Thumbnailviewsettings" ng-click="ChangeAcive(12)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_2502.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="44" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.damviewsettings" ng-click="ChangeAcive(12)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4896.Caption'|translate}}</span>
                                </a>
                            </li>

                            <li id="45" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.ReformatProfilesettings" ng-click="ChangeAcive(12)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_216.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="46" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.optimaker" ng-click="ChangeAcive(12)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4839.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="47" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.assetcategory" ng-click="ChangeAcive(12)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4148.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="48" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.assetTypeFileExtension" ng-click="ChangeAcive(12)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_1193.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="74" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.assetsnippet" ng-click="ChangeAcive(12)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_1192.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="49" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.TemplateEngines" ng-click="ChangeAcive(12)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>Template Engine</span>
                                </a>
                            </li>
                            <li id="90" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.publishaccess" ng-click="ChangeAcive(12)">
                                    <i class="icon-double-angle-right"></i>
                                    Publish access
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="settingsM6" class="accordion-group">
                <div id="DashBoardTab" class="accordion-heading nav-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adminTreeMenu" href="#collapse5">
                        <i class="icon-dashboard"></i>
                        {{'LanguageContents.Res_585.Caption'|translate}}
                    </a>
                </div>
                <div id="collapse5" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-list nav-list-bold" id="Ul4">
                            <li id="50" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.dashboardwidget" ng-click="ChangeAcive(8)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_578.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="51" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.dashboardtemplate" ng-click="ChangeAcive(8)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_580.Caption'|translate}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="settingsM7" class="accordion-group">
                <div id="ObjectiveTab" class="accordion-heading nav-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adminTreeMenu" href="#collapse6">
                        <i class="icon-screenshot"></i>
                        {{'LanguageContents.Res_701.Caption'|translate}}
                    </a>
                </div>
                <div id="collapse6" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-list nav-list-bold" id="Ul5">
                            <li id="53" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.Units" ng-click="ChangeAcive(9)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_5664.Caption'|translate}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="settingsM8" class="accordion-group">
                <div id="TaskTab" class="accordion-heading nav-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adminTreeMenu" href="#collapse7">
                        <i class="icon-tasks"></i>
                        {{'LanguageContents.Res_649.Caption'|translate}}
                    </a>
                </div>
                <div id="collapse7" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-list nav-list-bold" id="Ul6">
                            <li id="55" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.taskflag" ng-click="ChangeAcive(10)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_601.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="1000" ui-sref-active="active">
                                <a ui-sref="mui.admin.approvaltemplate" ng-click="ChangeAcive(10)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_5582.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="56" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.tasklistlibrary" ng-click="ChangeAcive(10)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_602.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="57" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.tasktemplate" ng-click="ChangeAcive(10)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_639.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="58" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.proofhqcredential" ng-click="ChangeAcive(10)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4665.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="77" ui-sref-active="active">
                                <a ui-sref="mui.admin.dalimcredential" ng-click="ChangeAcive(10)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_5598.Caption'|translate}}</span>

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="settingsM9" class="accordion-group">
                <div id="ReportTabe" class="accordion-heading nav-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adminTreeMenu" href="#collapse10">
                        <i class="icon-barcode"></i>
                        {{'LanguageContents.Res_4691.Caption'|translate}}
                    </a>
                </div>
                <div id="collapse10" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-list nav-list-bold" id="Ul7">
                            <li id="60" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.credentialmanagement" ng-click="ChangeAcive(11)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4184.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="61" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.reports" ng-click="ChangeAcive(11)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4691.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="62" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.customview" ng-click="ChangeAcive(11)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4192.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="63" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.financialreportsettings" ng-click="ChangeAcive(11)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4404.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="66" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.tableaureportsettings" ng-click="ChangeAcive(11)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>Tableau Report Settings</span>
                                </a>
                            </li>
                            <li id="64" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.ganttviewreport" ng-click="ChangeAcive(11)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4423.Caption'|translate}}</span>
                                </a>
                            </li>
                            <li id="65" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.customlist" ng-click="ChangeAcive(11)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>{{'LanguageContents.Res_4190.Caption'|translate}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-show="settingsM10" class="accordion-group">
                <div id="CMSTab" class="accordion-heading nav-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#adminTreeMenu" href="#collapse11">
                        <i class="icon-tasks"></i>
                        CMS
                    </a>
                </div>
                <div id="collapse11" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-list nav-list-bold" id="Ul10">
                            <li id="83" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.cmstemplate" ng-click="ChangeAcive(11)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>Html Snippets</span>
                                </a>
                            </li>
                            <li id="84" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.cmscustomfontsettings" ng-click="ChangeAcive(10)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>Custom Font</span>
                                </a>
                            </li>
                            <li id="85" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.cmscustomstylesettings" ng-click="ChangeAcive(10)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>Custom Style</span>
                                </a>
                            </li>
                            <li id="86" ng-show="true" ui-sref-active="active">
                                <a ui-sref="mui.admin.cmstreestylesettings" ng-click="ChangeAcive(10)">
                                    <i class="icon-double-angle-right"></i>
                                    <span>Tree Style</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/.well -->
    </div>
    <!-- #left -->


    <div id="content">
        <div class="container-fluid container-nopadding">
            <div class="row-fluid">
                <div class="span12">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div>
