﻿<div ng-controller="mui.customsearchresultCntrl">
    <div ng-class="{'SearchResults-DetailedView':isExpanded,'SearchResults-DetailedView collapsedFilter':!isExpanded}">
        <!---Use " collapsedFilter" class above for applying the Collapsed Filter Style-->
        <div id="left">
            <div class="sidebar-nav">
                <div class="sr-dv-leftFilter">
                    <div class="sr-dv-expandedFilter" ng-show="isExpanded">
                        <div class="sr-dv-filterHeader" ng-click="isExpanded=!isExpanded">
                            <h2 class="container-padding-left">{{'LanguageContents.Res_240.Caption'|translate}}</h2>
                            <span id="searchFilter-OpenClose" class="searchFilter-OpenClose">
                                <i class="icon-chevron-left icon-large"></i>
                            </span>
                        </div>
                        <div class="sr-dv-filterContent">
                            <div class="filter-Btngroup" ng-show="searchassetlibrary == false">
                                <!--<buttons-radio ng-show="searchassetlibrary == true" data-toggle="buttons-radio" model='searchObject.CurrentSearchType' changeselection="btntypetracker(option)" options='searchObject.SearchAssetLibrary'></buttons-radio>-->
                                <buttons-radio data-toggle="buttons-radio" model='searchObject.CurrentSearchType' changeselection="btntypetracker(option)" options='searchObject.SearchOptions'></buttons-radio>
                            </div>
                            <div ng-show="searchassetlibrary == true" class="sr-dv-filterGroupCollection" id="custom_assettype">
                            </div>
                            <div class="sr-dv-filterGroupCollection" id="customsearch-AssetAttributes">
                            </div>
                        </div>
                    </div>
                    <div class="sr-dv-collapsedFilter" ng-click="isExpanded=!isExpanded" ng-hide="isExpanded">
                        <h3>{{'LanguageContents.Res_240.Caption'|translate}}</h3>
                        <span id="Span1" class="searchFilter-OpenClose">
                            <i class="icon-chevron-right icon-large"></i>
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <div id="content" class="Customsearchresultcontent">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="sr-dv-rigthSection">
                            <div class="sr-dv-Header">
                                <table class="Result-n-Filter">
                                    <tr>
                                        <td class="col1">
                                            <span class="resultCount customsearchresult"></span>
                                        </td>
                                        <td class="col2">
                                            <div class="selectedFilters">
                                                <ul class="filtercategory">
                                                    <li>
                                                        <span class="filtercategory-label">Search</span>
                                                        <ul class="filtercategory-values">
                                                            <li>
                                                                <span class="searchplaceholder">{{CustomSearchText}}</span>
                                                                <i ng-click="RemoveSearchText()" class="icon-remove-sign"></i>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li ng-show="false">
                                                        <span class="filtercategory-label">Type</span>
                                                        <ul class="filtercategory-values">
                                                            <li>
                                                                <span>{{searchObject.SearchText}}</span>
                                                                <i ng-click="RemoveSearchType()" class="icon-remove-sign"></i>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li ng-show="false">
                                                        <span class="filtercategory-label">Tags</span>
                                                        <div class="inlineBlock va-bottom" ng-repeat="item in selectedAttributes | filter:{AttributeTypeID:'17'}">
                                                            <ul class="filtercategory-values">
                                                                <li ng-repeat="attr in item.Values">
                                                                    <span>{{attr}}</span>
                                                                    <i ng-click="RemoveCustomAttributefromFilter(item.AttributeID,attr)" class="icon-remove-sign"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li ng-repeat="item in selectedAttributes | filter:attributewiseoption">
                                                        <span class="filtercategory-label">{{item.AttributeCaption}}</span>
                                                        <ul class="filtercategory-values">
                                                            <li ng-repeat="attr in item.Values">
                                                                <span>{{attr}}</span>
                                                                <i ng-click="RemoveCustomAttributefromFilter(item.AttributeID,attr)" class="icon-remove-sign"></i>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li ng-show="searchassetlibrary == true">
                                                        <span class="filtercategory-label">Asset Type</span>
                                                        <ul class="filtercategory-values">
                                                            <li ng-repeat="attr in selectedAssettypes">
                                                                <span>{{attr.Name}}</span>
                                                                <i ng-click="CustomFilterbyAssettype(attr.Id)" class="icon-remove-sign"></i>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="sr-cw-Content">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <span class="noResultFound" ng-show="isResultEmpty"></span>
                                        <div class="sr-cw-searchResults">
                                            <div class="sr-cw-categorywiseresult sc-productions" ng-show="CountValeObj.Production > 0 && ScrollInputs.Productions.Isdatafired">
                                                <div class="categoryHeader">
                                                    <h3>Productions
                                                        <span ng-show="CountValeObj.Production>1" class="resultCount">({{CountValeObj.Production}} hits)</span>
                                                        <span ng-show="CountValeObj.Production<=1" class="resultCount">({{CountValeObj.Production}} hit)</span>
                                                    </h3>
                                                </div>
                                                <div class="categoryContent">
                                                    <div class="searchblock" id="">
                                                        <ul class="searchcontent" id="productionsearch-results"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sr-cw-categorywiseresult sc-tasks" ng-show="CountValeObj.Task>0 && ScrollInputs.Task.Isdatafired">
                                                <div class="categoryHeader">
                                                    <h3>Tasks
                                                        <span ng-show="CountValeObj.Task>1" class="resultCount">({{CountValeObj.Task}} hits)</span>
                                                        <span ng-show="CountValeObj.Task<=1" class="resultCount">({{CountValeObj.Task}} hit)</span>
                                                    </h3>
                                                </div>
                                                <div class="categoryContent">
                                                    <div class="searchblock" id="Div1">
                                                        <ul class="searchcontent" id="Tasks-results"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sr-cw-categorywiseresult sc-pages" ng-show="CountValeObj.CMS >0 && ScrollInputs.Pages.Isdatafired">

                                                <div class="categoryHeader">
                                                    <h3>Pages
                                                        <span ng-show="CountValeObj.CMS>1" class="resultCount">({{CountValeObj.CMS}} hits)</span>
                                                        <span ng-show="CountValeObj.CMS<=1" class="resultCount">({{CountValeObj.CMS}} hit)</span>
                                                    </h3>
                                                </div>
                                                <div class="categoryContent">
                                                    <div class="searchblock" id="Div3">
                                                        <ul class="searchcontent" id="CMS-results"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sr-cw-categorywiseresult sc-productions" ng-show="CountValeObj.Attachments >0 && ScrollInputs.Assets.Isdatafired">
                                                <div class="categoryHeader">
                                                    <h3>Attachments
                                                        <span ng-show="CountValeObj.Attachments>1" class="resultCount">({{CountValeObj.Attachments}} hits)</span>
                                                        <span ng-show="CountValeObj.Attachments<=1" class="resultCount">({{CountValeObj.Attachments}} hit)</span>
                                                    </h3>
                                                </div>
                                                <div class="categoryContent">
                                                    <div class="searchblock" id="Assets-results">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="sr-cw-categorywiseresult sc-productions" ng-show="CountValeObj.AssetLibrary >0 && ScrollInputs.Assetlibrary.Isdatafired">
                                                <div class="categoryHeader">
                                                    <h3>Assets Library
                                                        <span ng-show="CountValeObj.AssetLibrary>1" class="resultCount">({{CountValeObj.AssetLibrary}} hits)</span>
                                                        <span ng-show="CountValeObj.AssetLibrary<=1" class="resultCount">({{CountValeObj.AssetLibrary}} hit)</span>
                                                    </h3>
                                                </div>
                                                <div class="categoryContent">
                                                    <div class="searchblock" id="Assets-library-results">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul id="customsearchActionMenu" style="display: none;" class="dropdown-menu contexMenu iv-p-contextMenu">
                <!--<li ng-show="IsAttachment"><a ng-click="downloadOriginal()" href="javascript:void(0)">{{'LanguageContents.Res_25.Caption'|translate}}</a></li>-->
                <li><a ng-click="download()" href="javascript:void(0)">Download File</a></li>
                <li><a ng-click="DownloadWithMetadata(false)" href="javascript:void(0)">Download Metadata</a></li>
                <li><a href="javascript:void(0)" ng-click="DownloadWithMetadata(true)">Download Package</a></li>
                <li><a href="javascript:void(0)" ng-click="Addtolightbox()">Add to Lightbox</a></li>
                <li><a href="javascript:void(0)" ng-click="opensendpopup(true)">Send</a></li>
                <li><a href="javascript:void(0)" ng-click="PerformAssetOperation(2)">Copy</a></li>
            </ul>
        </div>

        <div id="sendsearchMailPopup" tabindex="-1" style="display: none;" class="modal sendAssetMailPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="700px">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3 id="H2">Email Assets</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span4">
                        <form>
                            <div class="control-group">
                                <label class="control-label">{{'LanguageContents.Res_4861.Caption'|translate}}</label>
                                <div class="controls">
                                    <input type="hidden" ui-select2="customsendmailOptions" ng-model="customsearch.mailtags" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{'LanguageContents.Res_4776.Caption'|translate}}</label>
                                <div class="controls">
                                    <textarea ng-model="sendMetadatMailSubject" class="small-textarea"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox checkbox-custom color-primary">
                                        <input type="checkbox" id="checkmetadata" ng-click="selectmetadata($event)" />
                                        <i ng-class="{'checkbox checked':includemdata,'checkbox':!includemdata}" ng-click="selectmetadata($event)"></i>
                                        <span style="color: black">Include metadata</span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <span class="InProgress" ng-show="MailprocessMailFlag">
                    <img src="assets/img/loading.gif" />
                    <span>{{'LanguageContents.Res_4738.Caption'|translate}}</span>
                </span>
            </div>
            <div class="modal-footer">
                <button ng-click="SendAssetWitMwtadata()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4736.Caption'|translate}}</button>
                <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            </div>
        </div>

        <div id="searchloadingDownloadPageModel" style="display: none;" class="modal loadingPopup" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
            <div aria-labelledby="myModalLabel" id="Div2">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2>{{'LanguageContents.Res_4220.Caption'|translate}}</h2>
                </div>
                <div class="modal-body">
                    <span id="DamProgressPopup" class="popupContent">
                        <i class="icon-spinner icon-spin icon-large"></i>
                        <span class="headText">{{'LanguageContents.Res_4219.Caption'|translate}}
                        </span>
                        <br />
                        <span class="subText">{{'LanguageContents.Res_4851.Caption'|translate}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

