﻿<div class="relative" id="dam" ng-controller="mui.damCtrl">
    <!--<div class="assetcreation" ng-include=" 'views/mui/DAM/assetcreation.html' "></div>-->
    <!--<div ng-include=" 'views/mui/DAM/blankassetcreation.html' "></div>-->
    <!--div ng-include="'views/mui/DAM/damoptimakertemplate.html'"></div>-->
    <!--<div ng-include="'views/mui/DAM/addfilesfromdam.html'"></div>-->


    <div id="AttachmentsDiv" class="row-fluid">
        <div id="attachmentsFilterDiv" class="btn-toolbar">
            <div class="btn-group">
                <span class="filterName">{{'LanguageContents.Res_4896.Caption'|translate}}</span>
                <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                    {{damviewuilabel}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="FilterByOptionChange(1)" href="javascript:void(0)">{{'LanguageContents.Res_4857.Caption'|translate}}</a></li>
                    <li><a ng-click="FilterByOptionChange(2)" href="javascript:void(0)">{{'LanguageContents.Res_4811.Caption'|translate}}</a></li>
                    <li><a ng-click="FilterByOptionChange(3)" href="javascript:void(0)">{{'LanguageContents.Res_663.Caption'|translate}}</a></li>
                </ul>
            </div>
            <div class="btn-group" style="display: none;">
                <span class="filterName">{{'LanguageContents.Res_4774.Caption'|translate}}</span>
                <select class="multiselect" ng-change="FilterbyStatusChange()" data-placeholder="Status filter" ng-model="DAMStatusFilter" ng-options="item.ID as item.Name for item in AssetStatusObj" multiple="multiple" multiselectpartial></select>
            </div>
            <div class="btn-group">
                <span class="filterName">{{'LanguageContents.Res_4755.Caption'|translate}}</span>
                <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                    {{OrderbyName}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu left40">
                    <li><a ng-click="OrderbyOption(1)" href="javascript:void(0)">{{'LanguageContents.Res_4496.Caption'|translate}}</a></li>
                    <li><a ng-click="OrderbyOption(2)" href="javascript:void(0)">{{'LanguageContents.Res_4497.Caption'|translate}}</a></li>
                    <li><a ng-click="OrderbyOption(3)" href="javascript:void(0)">{{'LanguageContents.Res_4181.Caption'|translate}}</a></li>
                    <li><a ng-click="OrderbyOption(4)" href="javascript:void(0)">{{'LanguageContents.Res_4930.Caption'|translate}}</a></li>
                </ul>
            </div>

            <button class="btn btn-small btn-selectAll" data-toggle="modal" ng-click="selectallassets(0);">
                <i class="icon-unchecked" id="icon_selectassets"></i>
                {{'LanguageContents.Res_4724.Caption'|translate}}
            </button>

            <a href="javascript:void(0)" role="button" ng-show="AssetFilesObj.HideAddFolder && AssetFilesObj.IsLock == false" ng-click="CreateNewRootFolder()" class="btn btn-primary btn-small" data-toggle="modal">{{'LanguageContents.Res_4048.Caption'|translate}}</a>
            <div class="btn-group">
                <a href="javascript:void(0)" role="button" ng-show="AssetFilesObj.HideShowall && AssetFilesObj.IsLock == false" ng-click="Showallassets()" class="btn btn-primary btn-small" data-toggle="modal">{{showhideall}}</a>
            </div>
            <!--<div class="btn-group">
                <a href="javascript:void(0)" role="button" ng-show="AssetFilesObj.HideAddAsset" ng-click="AttachAsset()"  class="btn btn-primary btn-small" data-toggle="modal">Attach From Asset</a>
            </div>-->
            <i id="ActionMenuIcon" class="icon-reorder pull-right menuIcon" ng-click="setdamassetselection()" data-toggle='dropdown' data-role="" contextmenuoptions="ActionMenu"></i>
            <div class="img-Actions pull-right">
                <input type="hidden" id="download_token_value_id" />
                <!--<a href="javascript:void(0)" ng-click="download()" class="btn"><i class="icon-download-alt" my-qtip2 qtip-content="Download"></i></a>-->
                <a href="javascript:void(0)" ng-show="AssetFilesObj.IsLock == false" ng-click="deleteAssets()" class="btn btn-danger">
                    <i class="icon-trash" my-qtip2 qtip-content="Delete"></i></a>
            </div>
            <div class="btn-group downloadBtnGrp pull-right">
                <input type="hidden" id="packagedownload_token_id" />
                <a role="button" ng-show="attachmentAddIsLock && AssetFilesObj.IsLock == false && AssetFilesObj.HideAddAsset" class="btn btn-primary btn-small margin-right5x" data-toggle="modal" ng-click="addassetfromcomputer(0);">{{'LanguageContents.Res_4040.Caption'|translate}}</a>
                <a class="btn btn-small btn-primary dropdown-toggle downloadBtn" data-toggle="dropdown" href="javascript:void()">{{'LanguageContents.Res_25.Caption'|translate}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a ng-click="download()" href="javascript:void(0)">{{'LanguageContents.Res_249.Caption'|translate}}</a></li>
                    <li><a ng-click="DownloadWithMetadata(false)" href="javascript:void(0)">{{'LanguageContents.Res_248.Caption'|translate}}</a></li>
                    <li><a href="javascript:void(o)" ng-click="DownloadWithMetadata(true)">{{'LanguageContents.Res_247.Caption'|translate}}</a></li>
                </ul>
            </div>
        </div>
        <div id="assetview" class="imglistSection span12">
            <div class="foldersTreeSection" id="left_folderTree">
                <div class="expandedLeftSection">
                    <div class="folderTreeFilter">
                        <span class="folderTreeHeader">{{'LanguageContents.Res_1.Caption'|translate}}</span>
                        <span class="option-group">
                            <a ng-class="{true: '', false: ''}[!FolderExpandCollapseObj.Status]" ng-click="FolderExpandCollapseObj.Status = !FolderExpandCollapseObj.Status;FolderExpandCollapseAction(FolderExpandCollapseObj.Status);">
                                <!--<i ng-class="{'icon-expand-alt': !FolderExpandCollapseObj.Status , 'icon-collapse-alt': FolderExpandCollapseObj.Status}"></i>-->
                                {{!FolderExpandCollapseObj.Status && LanguageContents.Res_4939 || LanguageContents.Res_4940}}
                            </a>
                        </span>
                    </div>
                    <div class="foldersTree">
                        <ul id="foldersTreeHolder" class="treeHolderwithFolder">
                            <li data-page="0" class="">
                                <!--<div ng-show="doing_async" class="InProgress">
                                    <img src="assets/img/loading.gif" />
                                    <span>Loading...</span>
                                </div>-->
                                <div id="DamFolder">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="collapsedLeftSection" style="display: none;">
                    <div class="folderTreeFilter">
                        <i class="icon-chevron-right icon-large"></i>
                    </div>
                </div>
                <div id="attachmentseparator"></div>
            </div>
            <div class="imgViewSection" id="right_DamView">
                <ul class="breadcrumb" id="breadcrumul">
                    <li ng-repeat="item in folderpath">
                        <a ng-if="($index<folderpath.length-1)" id="breadcrumlink" ng-click="LoadAssets(item.ID,item.caption)">{{item.caption}}</a>
                        <span ng-if="$index==folderpath.length-1" class="divider">{{item.caption}}</span>
                        <span ng-hide="$index==folderpath.length-1" class="divider">/</span>
                    </li>
                </ul>
                <div ng-switch="subview">
                    <div ng-switch-when="Thumbnail">
                        <div ng-include=" 'views/mui/DAM/assetthumpnailview.html' "></div>
                    </div>
                    <div ng-switch-when="Summary">
                        <div ng-include=" 'views/mui/DAM/assetsummaryview.html' "></div>
                    </div>
                    <div ng-switch-when="List">
                        <div ng-include=" 'views/mui/DAM/assetlist.html' "></div>
                    </div>

                </div>
            </div>
        </div>

        <div ng-switch="showallassetview">
            <div ng-switch-when="showallasset">
                <div ng-include=" 'views/mui/DAM/showallassets.html' "></div>
            </div>
        </div>
    </div>

    <ul id="ActionMenu" style="display: none;" class="dropdown-menu contexMenu">
        <li ng-show="AssetFilesObj.HideEntityAttachment == true && AssetFilesObj.IsLock == false"><a tabindex="-1" ng-click="openpopup()" href="javascript:void(0)">Add asset from entity attachment</a></li>
        <li ng-show="AssetFilesObj.HideCreateTask && AssetFilesObj.IsLock == false"><a tabindex="-1" ng-click="AddFilesFromDAM()" href="javascript:void(0)">{{'LanguageContents.Res_1158.Caption'|translate}}</a></li>
        <li><a tabindex="-1" ng-click="showOptimakerTemplates()" href="javascript:void(0)">{{'LanguageContents.Res_1157.Caption'|translate}}</a></li>
        <li><a tabindex="-1" href="javascript:void(0)" ng-show="AssetFilesObj.HideAddFolder && AssetFilesObj.IsLock == false" ng-click="CreateNewRootFolder()">{{'LanguageContents.Res_4048.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.IsLock == false"><a tabindex="-1" ng-click="Addtolightbox()" href="javascript:void(0)">{{'LanguageContents.Res_4062.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.HideCreateTask && AssetFilesObj.IsLock == false"><a tabindex="-1" ng-click="OpenWorkTask(2)" href="javascript:void(0)">{{'LanguageContents.Res_1009.Caption'|translate}}</a></li>
        <li><a tabindex="-1" href="javascript:void(0)" ng-show="AssetFilesObj.HideShowllMenus && AssetFilesObj.IsLock == false" ng-click="loadlinkassetcreation()">{{'LanguageContents.Res_4177.Caption'|translate}}</a></li>
        <!--<li ng-show="AssetFilesObj.HideAssetApproval && processingsrcobj.processinglock == false"><a tabindex="-1" ng-click="OpenWorkTask(32)" href="javascript:void(0)">Add Approval Task</a></li>-->
        <li ng-show="AssetFilesObj.IsLock == false" class="divider"></li>
        <li ng-show="AssetFilesObj.IsLock == false"><a tabindex="-1" ng-click="Viewlightbox()" href="javascript:void(0)">{{'LanguageContents.Res_4898.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.HidePublishDAM && processingsrcobj.processinglock == false && userpublishaccess" class="divider"></li>
        <li ng-show="AssetFilesObj.HidePublishDAM && processingsrcobj.processinglock == false && userpublishaccess"><a tabindex="-1" ng-click="PublishAssets()" href="javascript:void(0)">{{'LanguageContents.Res_4668.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.HidePublishDAM && processingsrcobj.processinglock == false && userpublishaccess"><a tabindex="-1" ng-click="UnPublishAssets()" href="javascript:void(0)">{{'LanguageContents.Res_245.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.IsLock == false" class="divider"></li>
        <li ng-show="processingsrcobj.processinglock == false"><a tabindex="-1" ng-click="Reformatproces()" href="javascript:void(0)">{{'LanguageContents.Res_246.Caption'|translate}}</a></li>
        <li ng-show="processingsrcobj.processinglock == false"><a tabindex="-1" ng-click="openDamAssetSendpopup()" href="javascript:void(0)">{{'LanguageContents.Res_4736.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.IsLock == false" class="divider"></li>
        <!--<li><a tabindex="-1" ng-click="download()" href="javascript:void(0)">{{'LanguageContents.Res_25.Caption'|translate}}</a></li>-->

        <li ng-show="AssetFilesObj.HideCut && AssetFilesObj.IsLock == false "><a tabindex="-1" href="javascript:void(0)" ng-click="PerformAssetOperation(1)">{{'LanguageContents.Res_4196.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.IsLock == false"><a tabindex="-1" href="javascript:void(0)" ng-click="PerformAssetOperation(2)">{{'LanguageContents.Res_4171.Caption'|translate}}</a></li>
        <li><a tabindex="-1" href="javascript:void(0)" ng-show="AssetFilesObj.HideShowllMenus && AssetFilesObj.IsLock == false && IsPaste == true" ng-click="PerformAssetOperation(3)">{{'LanguageContents.Res_4556.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.IsLock == false" class="divider"></li>
        <li><a tabindex="-1" href="javascript:void(0)" ng-show="AssetFilesObj.IsLock == false" ng-click="selectallassets(1)">{{'LanguageContents.Res_4724.Caption'|translate}}</a></li>
        <li><a tabindex="-1" href="javascript:void(0)" ng-show="AssetFilesObj.IsLock == false" ng-click="Dselectallassets(1)">{{'LanguageContents.Res_1159.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.IsLock == false" class="divider"></li>
        <li ng-show="AssetFilesObj.IsLock == false"><a tabindex="-1" ng-click="DuplicateAssets()" href="javascript:void(0)">{{'LanguageContents.Res_150.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.IsLock == false"><a tabindex="-1" ng-click="deleteAssets()" href="javascript:void(0)">{{'LanguageContents.Res_18.Caption'|translate}}</a></li>
        <li style="display: none;"><a tabindex="-1" href="javascript:void(0)" ng-click="PerformAssetOperation(4)">{{'LanguageContents.Res_4867.Caption'|translate}}</a></li>
        <li style="display: none;" class="divider"><a ng-click="Process()" href="javascript:void(0)"></a></li>
        <li ng-show="AssetFilesObj.IsLock == false" class="divider"></li>
        <li><a ng-click="download()" href="javascript:void(0)">{{'LanguageContents.Res_249.Caption'|translate}}</a></li>
        <li><a ng-click="DownloadWithMetadata(false)" href="javascript:void(0)">{{'LanguageContents.Res_248.Caption'|translate}}</a></li>
        <li><a href="javascript:void(o)" ng-click="DownloadWithMetadata(true)">{{'LanguageContents.Res_247.Caption'|translate}}</a></li>
    </ul>

    <ul id="folderActionMenu" style="display: none;" class="dropdown-menu contexMenu" ng-show="AssetFilesObj.IsLock == false">
        <li><a tabindex="-1" href="javascript:void(0)" ng-click="CreateSameLevelNewFolder()">{{'LanguageContents.Res_4048.Caption'|translate}}<i class="icon-folder-open-alt"></i></a></li>
        <li><a tabindex="-1" ng-click="CreateNewFolder()" href="javascript:void(0)">{{'LanguageContents.Res_4059.Caption'|translate}}<i class="icon-folder-open-alt"></i></a></li>
        <li ng-show="AssetFilesObj.IsLock == false" class="divider"></li>
        <li><a tabindex="-1" ng-click="EditFolder()" ng-show="FolderOption.showAdd" href="javascript:void(0)">{{'LanguageContents.Res_4230.Caption'|translate}}<i class="icon-edit"></i></a></li>
        <li><a tabindex="-1" ng-click="deleteFolder()" ng-show="FolderOption.showAdd" href="javascript:void(0)">{{'LanguageContents.Res_4204.Caption'|translate}}<i class="icon-remove"></i></a></li>
    </ul>

    <div id="addNewFolder" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="350px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 ng-show="addfolder">{{'LanguageContents.Res_4048.Caption'|translate}}</h3>
            <h3 ng-hide="addfolder">{{'LanguageContents.Res_4230.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label ng-show="addfolder" class="control-label align-left">{{'LanguageContents.Res_4407.Caption'|translate}}</label>
                    <label ng-hide="addfolder" class="control-label align-left">{{'LanguageContents.Res_4684.Caption'|translate}}</label>
                    <div class="controls">
                        <input ng-model="NewFolderCaption" id="dam-newfoldername" type="text" placeholder="Name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label align-left">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                    <div class="controls">
                        <input ng-model="NewFolderDescription" type="text" placeholder="Description" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label align-left">{{'LanguageContents.Res_597.Caption'|translate}}</label>
                    <div class="controls">
                        <uicolorpicker ng-model="ColorCodeGlobalObj.colorcode" options="ColorOptions"></uicolorpicker>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button id="btnUpdatefolder" ng-click="UpdateFolder()" ng-hide="addfolder" class="btn btn-small btn-primary">{{'LanguageContents.Res_4871.Caption'|translate}}</button>
            <button id="btnAddfolder" ng-click="CreateNewSublevelfolder()" ng-show="addfolder" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
        </div>
    </div>

    <div id="addRootFolder" class=" addRootFolder modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="350px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 ng-show="addRootfolder">{{'LanguageContents.Res_4048.Caption'|translate}}</h3>
            <h3 ng-hide="addRootfolder">{{'LanguageContents.Res_4230.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label align-left">{{'LanguageContents.Res_4407.Caption'|translate}}</label>
                    <div class="controls">
                        <input ng-model="NewRootFolderCaption" id="dam-newrootfoldername" type="text" placeholder="Name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label align-left">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                    <div class="controls">
                        <input ng-model="NewRootFolderDescription" type="text" placeholder="Description" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label align-left">{{'LanguageContents.Res_597.Caption'|translate}}</label>
                    <div class="controls">
                        <uicolorpicker ng-model="ColorCodeGlobalObj.colorcode" options="ColorOptions"></uicolorpicker>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button id="btnRootUpdatefolder" ng-click="UpdateRootFolder()" ng-hide="addRootfolder" class="btn btn-small btn-primary">{{'LanguageContents.Res_4871.Caption'|translate}}</button>
            <button id="btnRootAddfolder" ng-click="try_adding_a_Root_branch()" ng-show="addRootfolder" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
        </div>
    </div>

    <div id="loadingDownloadPageModel" class="loadingDownloadPageModel modal loadingPopup" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
        <div aria-labelledby="myModalLabel" id="Div1">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2>{{ProgressMsgHeader}}</h2>
            </div>
            <div class="modal-body">
                <span id="DamProgressPopup" class="popupContent">
                    <i class="icon-spinner icon-spin icon-large"></i>
                    <span class="headText">{{ProgressContent}}
                    </span>
                    <br />
                    <span class="subText">{{'LanguageContents.Res_4851.Caption'|translate}}</span>
                </span>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" class="modal" id="loadingDuplicateAssetsPageModel" style="display: none;">
        <div aria-labelledby="myModalLabel" id="Div3">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2>{{ProcessReport}}</h2>
            </div>
            <div class="modal-body">
                <span id="Span1">
                    <i class="icon-spinner icon-spin icon-large"></i>
                    <span class="font20">{{'LanguageContents.Res_4180.Caption'|translate}}...
                    </span>
                    <br />
                    <span class="italic">{{'LanguageContents.Res_4851.Caption'|translate}}</span>
                </span>
            </div>
        </div>
    </div>

    <div class="unknown100">
        <div class="modal-body" id="filescontainer100">
            <button id="pickfiles100" style="visibility: hidden" type="submit"></button>
        </div>
        <div id="UserProfilePic100" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display: none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                &nbsp;
            </div>
            <div class="modal-body">
                <div class="cropContainer">
                    <div class="cropBG">
                        <img src="" id="userpic100" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-small btn-primary" ng-click="UpdateLightBoximage();" href="JavaScript:void(0);">{{'LanguageContents.Res_4714.Caption'|translate}}</a>
                <a aria-hidden="true" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</a>
            </div>
        </div>
    </div>

    <div id="sendDamAssetMailPopup" tabindex="-1" class="modal sendAssetMailPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="700px" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H2">Email Assets</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span4">
                    <form>
                        <div class="control-group">
                            <label class="control-label">{{'LanguageContents.Res_4861.Caption'|translate}}</label>
                            <div class="controls">
                                <!--<tags-input ng-model="AssetToMailAddress"></tags-input>-->
                                <input type="hidden" ui-select2="select2Options" ng-model="AssetToMailAddress" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{'LanguageContents.Res_4776.Caption'|translate}}</label>
                            <div class="controls">
                                <textarea ng-model="sendDamMetadatMailSubject" class="small-textarea"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox checkbox-custom color-primary">
                                    <input type="checkbox" id="checkmetadata" ng-click="selectmetadata($event)" />
                                    <i ng-class="{'checkbox checked':includemdata,'checkbox':!includemdata}" ng-click="selectmetadata($event)"></i>
                                    <span style="color: black">Include metadata</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <span class="InProgress" ng-show="MailprocessMailFlag">
                <img src="assets/img/loading.gif" />
                <span>{{'LanguageContents.Res_4738.Caption'|translate}}</span>
            </span>
        </div>
        <div class="modal-footer">
            <button ng-click="sendDamAssetMail()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4736.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>

    <!--<div ng-include=" 'views/mui/task/TaskCreation.html' "></div>-->
    
<div id="DamAssetVersion" data-width="650" tabindex="-1" class="modal in assetVersionPopup" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" ng-click="closeManageVersion()" class="close" type="button">×</button>
        <h3>{{'LanguageContents.Res_4112.Caption'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <table class="table table-normal assetVersionTable-Header">
                <thead>
                    <tr>
                        <th class="attchmntName"><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_4894.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_4880.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_4881.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_4752.Caption'|translate}}</span></th>

                    </tr>
                </thead>
            </table>
            <div class="assetVersionTable-Content">
                <table class="table table-normal">
                    <tbody>
                        <tr ng-repeat="item in assetfiles" ng-class="{'li-Selection selected':item.Activestatus , 'li-Selection':!item.Activestatus}">
                            <td class="attchmntName">
                                <span>
                                    <label class="radio radio-custom">
                                        <input type="radio" ng-click="SaveFileCheckList(item.ID,item.VersionNo,item.Name,$event)" />
                                        <i class="radio" ng-class="{'radio checked':item.Activestatus , 'radio':!item.Activestatus}"></i>
                                    </label>
                                    <a target="_blank" ng-href="DAMDownload.aspx?FileID={{item.Fileguid}}&amp;FileFriendlyName={{item.Name}}&amp;Ext={{item.Extension}}">{{item.Name}}</a>
                                </span>
                            </td>
                            <td><span>{{item.VersionNo}}</span></td>
                            <td><span>{{item.OwnerName}}</span></td>
                            <td><span>{{item.StrCreatedDateTime}}</span></td>
                            <td><span>{{formatSizeUnits(item.Size)}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div id="uploadaseetversionProgress" class="attachment-progress pull-left"></div>
        <div id="filescontainer_Version" class="filescontainerDiv">
            <a id="pickfiles_Version" href="JavaScript:void(0);" class="btn btn-small btn-primary" type="button">{{'LanguageContents.Res_4053.Caption'|translate}}</a>
        </div>
        <button class="btn btn-small" data-dismiss="modal" ng-click="closeVersionPopup()" type="button">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>
<div id="replaceThumpnailContainer" style="display: none;">
    <button id="replaceThumpnailButton" class="pickFiles" type="submit"></button>
</div>
<div id="fileuploadCrop" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        &nbsp;
    </div>
    <div class="modal-body">
       
        <div class="imgCropperPopup">
            <div>
                <img src="" id="fileuploadCropReportImg" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-small btn-primary" data-dismiss="modal" ng-click="updateThumpnail();" href="JavaScript:void(0);">{{'LanguageContents.Res_15.Caption'|translate}}</a>
        <a aria-hidden="true" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</a>
    </div>
</div>
</div>
