﻿<div ng-controller='mui.dashboardCtrl'>
    <div class='row-fluid' ng-show="wigetvar.addbtn">
        <form class="form-horizontal dashboardTitlePane" name="dashboardForm">
            <h4>{{'LanguageContents.Res_4198.Caption'|translate}}</h4>
            <button class='btn btn-primary btn-small' href="javascript:void(0)" ng-click="Newwidget();">{{'LanguageContents.Res_8.Caption'|translate}}</button>
            <!--<button class='btn btn-primary btn-small' href="#widgetModal" data-toggle="modal" ng-click="Newwidget();">{{'LanguageContents.Res_8.Caption'|translate}}</button>-->
        </form>
    </div>
    <div id="dynamicWidgets">
    </div>

    <!--Raamesh added this div for adding and updating the widget-->
    <div aria-hidden="true" aria-labelledby="myModalLabel1" role="dialog" tabindex="-1" class="modal" style="display:none;" id="widgetModal" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Widget {{wigetvar.Caption}}</h3>
        </div>
        <div class="modal-body">
            <div ng-switch="getCurrentStep()" class="slide-frame">
                <!--<button class='btn btn-primary btn-small dynamicFilterButton' ng-click="LoadDashboardFilter();" ng-show="showfilter" href="#FilterTaskModal" data-toggle="modal">{{'LanguageContents.Res_405.Caption'|translate}}</button>-->
                 <button class='btn btn-primary btn-small dynamicFilterButton' ng-click="LoadDashboardFilter();" ng-show="showfilter" href="javascript:void(0)">{{'LanguageContents.Res_405.Caption'|translate}}</button>

                <div ng-switch-when="DashboardMainPage">
                    <div class="control-group" ng-show="false">
                        <label class="control-label" for="WidgetId">{{'LanguageContents.Res_69.Caption'|translate}}</label>
                        <div class="controls">
                            <input type="text" ng-model="wigetvar.widgetid" id="widgetId" placeholder="ID">
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" for="widgettype">{{'LanguageContents.Res_578.Caption'|translate}}</label>
                        <div class="controls">
                            <select ui-select2 ng-model="wigetvar.widgetType" data-placeholder="Select Widget Type" ng-readonly="wigetvar.widgetTypereadonly" required ng-change="GetDimensionforTypeId();">
                                <option value=""></option>
                                <option ng-repeat="item1 in listofWidgetTypes" value="{{item1.Id}}">{{item1.TypeName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label>
                        <div class="controls">
                            <input type="text" ng-model="wigetvar.caption" id="Caption" placeholder="Caption" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                        <div class="controls">
                            <textarea class="small-textarea" ng-model="wigetvar.description" id="Description" rows="3" placeholder="Description"></textarea>
                        </div>
                    </div>
                   
                    <div class="control-group" ng-show="wigetvar.NoOfItems">
                        <label class="control-label" for="NoOfItem">{{'LanguageContents.Res_607.Caption'|translate}}:</label>
                        <div class="controls">
                            <input type="text" ng-model="wigetvar.noofitem" id="NoOfItem" placeholder="No of Item">
                        </div>
                    </div>
                    <div class="control-group" ng-show="wigetvar.showcntrlforDynamic">
                        <label class="control-label" for="widgettype">{{'LanguageContents.Res_608.Caption'|translate}}</label>
                        <div class="controls">
                            <select ui-select2 ng-model="wigetvar.dimensionid" data-placeholder="Select Dimensions" ng-readonly="wigetvar.wigetdimensionreadonly" required ng-change="GetMatrixfordimensionId();">
                                <option value=""></option>
                                <option ng-repeat="dimen in listofdimensiontypes" value="{{dimen.Id}}">{{dimen.DimensionName}}</option>
                            </select>
                        </div>
                    </div>
                    <div ng-show="wigetvar.showstaticcntrlforDynamic">
                        <div class="control-group">
                            <label class="control-label" for="widgettype">{{'LanguageContents.Res_609.Caption'|translate}}</label>
                            <div class="controls">
                                <select ui-select2 multiple="multiple" ng-model="wigetvar.matrixid" data-placeholder="Select Matrix">
                                    <option ng-repeat="item in MatrixDataForDimension" value="{{item.id}}">{{item.matrixName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="widgettype">{{'LanguageContents.Res_610.Caption'|translate}}</label>
                            <div class="controls">
                                <select ui-select2 ng-model="wigetvar.visualtypeid" data-placeholder="Select Visual Type" required>
                                    <option value=""></option>
                                    <option ng-repeat="visualtype in VisualTypeData" value="{{visualtype.id}}">{{visualtype.visualtypeName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group" ng-show="wigetvar.showcntrlforyear">
                        <label class="control-label" for="year">Year</label>
                        <div class="controls">
                            <select ui-select2 ng-model="wigetvar.noofYear" data-placeholder="Select Year">
                                <option value=""></option>
                                <option ng-repeat="Year in listofYear" value="{{Year.ID}}">{{Year.Value}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group" ng-show="wigetvar.showcntrlforyear">
                        <label class="control-label" for="Month">Month</label>
                        <div class="controls">
                            <select ui-select2 ng-model="wigetvar.noofMonth" data-placeholder="Select Month" ">
                                <option value=" ">
                                </option>
                                <option ng-repeat="Month in listofMonth" value="{{Month.ID}}">{{Month.Value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="DashboardFilterPage">
                    <form>
                        <div class="row-fluid">
                            <div class="modal-header">
                                <h4 class="nomargin">{{'LanguageContents.Res_611.Caption'|translate}}</h4>
                            </div>
                            <div id="dynamic_Filtervalues" class="box-content-margin">
                                <table class="table table-normal-left">
                                    <thead>
                                        <tr>
                                            <th><span></span></th>
                                            <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                                            <th><span>{{'LanguageContents.Res_43.Caption'|translate}}</span></th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="resultfileredvalues in listfilteredEntityOrCostvalues">
                                        <td>
                                            <span>
                                                <input type="checkbox" value="resultfileredvalues.Id" ng-model="resultfileredvalues.Checked" ng-checked="resultfileredvalues.Checked" />
                                            </span>
                                        </td>

                                        <td ng-show="false">
                                            <span>{{resultfileredvalues.EntityId}}</span>
                                        </td>
                                        <td>
                                            <span>{{DecodedTextName(resultfileredvalues.EntityName)}}</span>
                                        </td>
                                        <td>
                                            <span>
                                                <i ng-style="set_color(resultfileredvalues.ColorCode)" style="background-color: #{{resultfileredvalues.ColorCode}}" class="eicon">
                                                    {{DecodedTextName(resultfileredvalues.ShortDescription)}}
                                                </i>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <div class="control-group" ng-show="wigetvar.showcntrlforDynamic">
                                    <label class="control-label" for="widgettype">{{'LanguageContents.Res_609.Caption'|translate}}</label>
                                    <div class="controls">
                                        <select ui-select2 multiple="multiple" ng-model="wigetvar.matrixid" data-placeholder="Select Matrix">
                                            <option ng-repeat="item in MatrixDataForDimension" value="{{item.id}}">{{item.matrixName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="widgettype">{{'LanguageContents.Res_610.Caption'|translate}}</label>
                                    <div class="controls">
                                        <select ui-select2 ng-model="wigetvar.visualtypeid" data-placeholder="Select Visual Type" required>
                                            <option value=""></option>
                                            <option ng-repeat="visualtype in VisualTypeData" value="{{visualtype.id}}">{{visualtype.visualtypeName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="handleNext()" class="btn btn-small btn-primary" ng-disabled="dashboardForm.$invalid">{{getNextLabel()}}</button>
            <a class="btn btn-small" ng-click="handlePrevious()" ng-show="!isFirstStep()">{{'LanguageContents.Res_57.Caption'|translate}}</a>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="FilterTaskModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>{{'LanguageContents.Res_403.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row-fluid">
                    <div class="form-float MetadataBlock" id="dynamic_Controls">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button ng-click="FilterUpdate()" ng-show="Updatefilter" class="btn btn-small btn-primary">{{'LanguageContents.Res_407.Caption'|translate}}</button>
            <button ng-click="FilterSave()" ng-show="Savefilter" class="btn btn-small btn-trash">{{'LanguageContents.Res_406.Caption'|translate}}</button>
            <button ng-click="ApplyFilter()" ng-show="Applyfilter" class="btn btn-small btn-primary">{{'LanguageContents.Res_405.Caption'|translate}}</button>
            <button ng-click="DeleteFilter()" ng-show="Deletefilter" class="btn btn-small btn-trash">{{'LanguageContents.Res_404.Caption'|translate}}</button>
        </div>
    </div>
    
</div>
