﻿<!--<div id="expireaddActions" ng-controller='mui.muiexpireaddActionsCtrl'>
    <div id="expirepopup" class="modal hide fade expirehandlerAddActionsPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="800px">-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CloseExpire()">×</button>
    <h3 id="H3">{{'LanguageContents.Res_5545.Caption'|translate}}</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputPassword">{{SourceAttributename}}:</label>
                <div class="controls">
                    <a ng-click="DateActionObject.editable = 'dueDate';DatepickerShow(DateActionObject.dateExpirevalue,'ExpireDatepicker')" ng-hide="DateActionObject.editable == 'dueDate' || true == EntityLockTask" href="javascript:void(0);">{{DateActionObject.dateExpirevalue}}</a>
                    <span ng-show="DateActionObject.editable == 'dueDate'">
                        <div class="form-inline">
                            <input id="ExpireDatepicker" data-ng-change="changedate()" type="text" class="ng-pristine ng-valid ng-valid-required BlankDatePicker" size="30" name="dueDate" ng-click="Calanderopen($event,calanderopened)" datepicker-popup="{{format}}" is-open="calanderopened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-model="DateActionObject.dateExpirevalue" ng-show="DateActionObject.editable == 'dueDate'">
                        </div>
                    </span>
                </div>
            </div>
            <div class="actionsList">
                <div class="actionList-Header">
                    <div class="actionList-HeaderRow">
                        <div class="row-fluid">
                            <div class="headerTxt span2">
                                <span class="Txt">{{'LanguageContents.Res_4863.Caption'|translate}}</span>
                            </div>
                            <div class="headerTxt span10">
                                <span class="Txt">{{'LanguageContents.Res_5546.Caption'|translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actionList-Content">
                    <!--Unpublish-->
                    <div id="Unpublishpopup" ng-show="showUnpublishpopup" class="actionList-ContentRow">
                        <div class="rowHeader row-fluid">
                            <div class="headerTxt span2">
                                <span class="Txt">{{'LanguageContents.Res_245.Caption'|translate}}</span>
                            </div>
                            <div class="headerTxt span10">
                                <span class="Txt" ng-show="!showUnpublishdayoption">
                                    <span>{{'LanguageContents.Res_5544.Caption'|translate}}: </span>
                                    <span>{{upActionexutedays}}</span>
                                </span>
                                <span class="headerControl" ng-show="showUnpublishdayoption">
                                    <select ui-select2 name="ExecutionDate" ng-model="UpExecutionDate" data-placeholder="Select" ng-change="ValidExpireActionDates(UpExecutionDate,1,-1)">
                                        <option ng-repeat="item in ExecutionDateList" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                </span>
                            </div>
                            <span class="rowHeaderActions">
                                <span ng-show="!showUnpublishdayoption && UpActionId!=0" ng-click="DeleteExpireAction(UpActionId)"><i class="icon-remove"></i></span>
                                <span data-target="#Unpublishpopupbody">
                                    <!--data-toggle="collapse"-->
                                    <span class="expandCollapseIcon" ng-show="ngShowUnpublishpopupbodyopen" ng-click="Actionopen('UPActionopen','')"><i class="icon-chevron-right"></i></span>
                                    <span class="expandCollapseIcon" ng-show="ngShowUnpublishpopupbodyclose" ng-click="Actionopen('UPActionclose','')"><i class="icon-chevron-down"></i></span>
                                </span>
                            </span>
                        </div>
                        <div id="Unpublishpopupbody" ng-show="showUnpublishdayoption" class="expandedSection">
                            <div class="expandedForm">
                                <div class="control-group">
                                    <label class="checkbox-inline">
                                        <input type="radio" name="Unpublishstatus" value="0" ng-model="publishSelection" />
                                        <span>{{'LanguageContents.Res_245.Caption'|translate}}</span>
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="Unpublishstatus" value="1" ng-model="publishSelection" />
                                        <span>{{'LanguageContents.Res_4668.Caption'|translate}}</span>
                                    </label>
                                </div>
                                <div class="expandedForm-Btns">
                                    <button id="ExpireUnpublishbtn" class="btn btn-small btn-primary ng-binding" ng-click="saveupdateactions('1',UpExecutionDate,UpActionId)">{{Upsavecapation}}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Create Task-->
                    <div ng-repeat="item in CreateTaskactionResData" ng-show="ShowCreateTaskpopup" class="actionList-ContentRow">
                        <div class="rowHeader row-fluid">
                            <div class="headerTxt span2">
                                <span class="Txt">{{'LanguageContents.Res_4179.Caption'|translate}}</span>
                            </div>
                            <div class="headerTxt span10">
                                <span class="Txt" ng-show="!item.IsExpaned">
                                    <span>{{'LanguageContents.Res_5544.Caption'|translate}}: </span>
                                    <span>{{retriveTaskValuestodate(item.Id)}}</span>
                                </span>
                                <span class="headerControl" ng-show="item.IsExpaned">
                                    <select ui-select2 name="ExecutionDate" ng-model="TaskcommonObjects.CTExecutionDate" data-placeholder="Select" ng-change="ValidExpireActionDates(TaskcommonObjects.CTExecutionDate,2,-1)">
                                        <option ng-repeat="item1 in ExecutionDateList" value="{{item1.id}}">{{item1.name}}</option>
                                    </select>
                                </span>
                            </div>
                            <span class="rowHeaderActions">
                                <span ng-show="!item.IsExpaned && item.Id!=0" ng-click="DeleteExpireAction(item.Id)"><i class="icon-remove"></i></span>
                                <span data-target="#CreateTaskpopupbody">
                                    <!--data-toggle="collapse"-->
                                    <span class="expandCollapseIcon" ng-show="!item.IsExpaned" ng-click="Actionopen('CTActionopen',item);"><i class="icon-chevron-right"></i></span>
                                    <span class="expandCollapseIcon" ng-show="item.IsExpaned" ng-click="Actionopen('CTActionclose',item)"><i class="icon-chevron-down"></i></span>
                                </span>
                            </span>
                        </div>
                        <div id="item.Id" class="expandedSection" ng-switch="item.Id == CTActionId" ng-show="item.IsExpaned">
                            <div class="expandedForm" ng-switch-when="true">
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_648.Caption'|translate}}</label>
                                    <div class="controls">
                                        <select ui-select2 ng-model="TaskcommonObjects.TaskType" id="TaskType" ng-change="createdynamicControls(TaskcommonObjects.TaskType,0)" ng-disabled="DisableIsAdminTask" name="TaskType" data-placeholder="Select Task Type">
                                            <option ng-repeat="itemtask in TaskTypeList | filter:TaskTypeFilter" value="{{itemtask.Id}}">{{itemtask.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_1.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input id="addtaskcaption" ng-model="TaskcommonObjects.NewTaskName" name="NewTaskName" type="text" placeholder="Name" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                                    <div class="controls">
                                        <textarea class="small-textarea" ng-model="TaskcommonObjects.TaskDescription" name="TaskDescription" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_1173.Caption'|translate}}</label>
                                    <div class="controls">
                                        <textarea class="small-textarea" ng-model="TaskcommonObjects.TaskNote" name="TaskNote" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_23.Caption'|translate}}</label>
                                    <div class="controls">
                                        <select ui-select2 name="dueExecutionDate" ng-model="TaskcommonObjects.CTdueExecutionDate" data-placeholder="Select" ng-change="ValidExpireActionDates(TaskcommonObjects.CTExecutionDate,2,TaskcommonObjects.CTdueExecutionDate)">
                                            <option ng-repeat="itemDuE in DuEExecutionDateList" value="{{itemDuE.id}}">{{itemDuE.name}}</option>
                                        </select>
                                        <span class="iconInfo" my-qtip2 qtip-content="Task Duration"><i class="icon-question-sign"></i></span>
                                    </div>
                                </div>
                                <div id="taskDynamicTaskControls"></div>
                                <!-- <table class="table-noborder" id="Expirememberroles">
                                             <tbody>
                                                 <tr ng-repeat="v in DestinationMemberRoles">
                                                     <td class="align-left">
                                                         <label class="checkbox checkbox-custom pull-left">
                                                             <input type="checkbox" data-expireroleid="{{v.ExpireRoleid}}" data-rolename="{{v.Caption}}"  data-roleid="{{v.Roleid}}"  >
                                                             <i class="checkbox" />
                                                         </label>
                                                         <span>{{v.Caption}}</span>
                                                     </td>
                                                 </tr>
                                             </tbody>
                                         </table>-->
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_1008.Caption'|translate}}</label>
                                    <div class="controls">
                                        <select class="multiselect" data-placeholder="Select filter" name="TaskMembersList" id="TaskMembersList"
                                            ng-model="TaskcommonObjects.TaskMembersList" ng-options="item.Userid as item.UserName for item in EntityDistinctMembers"
                                            multiple="multiple" multiselect-dropdown>
                                        </select>
                                        <span class="iconInfo" my-qtip2 qtip-content="Task Assignee"><i class="icon-question-sign"></i></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" ng-show="ChecklistVisible">{{'LanguageContents.Res_4155.Caption'|translate}}</label>
                                    <div class="controls">
                                        <ul class="repeter" ng-show="ChecklistVisible">
                                            <li ng-repeat="adminCheck in AdminTaskCheckList">
                                                <input type="text" class="chkListBox" ng-model="adminCheck.Name">
                                                <button class="btn" ng-click="AddCheckList($index)"><i class="icon-plus"></i></button>
                                                <button class="btn" ng-click="RemoveCheckList($index,adminCheck.Id)"><i class="icon-remove"></i></button>
                                                <li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="expandedForm-Btns">
                                    <button id="ExpireCreateNewTaskBtn" class="btn btn-small btn-primary ng-binding" ng-click="ExpireCreateNewTaskAction(TaskcommonObjects,'2',TaskcommonObjects.CTExecutionDate,item.Id)">{{CTsavecapation}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Update Metadata-->
                    <div id="UpdateMetadatapopup" ng-show="ShowUpdateMetadatapopup" class="actionList-ContentRow">
                        <div class="rowHeader row-fluid">
                            <div class="headerTxt span2">
                                <span class="Txt">Update Metadata</span>
                            </div>
                            <div class="headerTxt span10">
                                <span class="Txt" ng-show="!showUMdayoption">
                                    <span>{{'LanguageContents.Res_5544.Caption'|translate}}: </span>
                                    <span>{{UMActionexutedays}}</span>
                                </span>
                                <span class="headerControl" ng-show="showUMdayoption">
                                    <select ui-select2 name="ExecutionDate" ng-model="UMExecutionDate" data-placeholder="Select" ng-change="ValidExpireActionDates(UMExecutionDate,3,-1)">
                                        <option ng-repeat="item in ExecutionDateList" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                </span>
                            </div>
                            <span class="rowHeaderActions">
                                <span ng-show="!showUMdayoption && UMActionId!=0" ng-click="DeleteExpireAction(UMActionId)"><i class="icon-remove"></i></span>
                                <span data-target="#UpdateMetadatapopupbody">
                                    <!--data-toggle="collapse"-->
                                    <span class="expandCollapseIcon" ng-show="showUMiconopen" ng-click="Actionopen('UMActionopen','')"><i class="icon-chevron-right"></i></span>
                                    <span class="expandCollapseIcon" ng-show="showUMiconclose" ng-click="Actionopen('UMActionclose','')"><i class="icon-chevron-down"></i></span>
                                </span>
                            </span>
                        </div>
                        <div id="UpdateMetadatapopupbody" ng-show="showUMdayoption" class="expandedSection">
                            <div class="expandedForm noLabel">
                                <div class="control-group">
                                    <div class="controls multiControls" ng-repeat="attr in ExpireEntityMetadataCollection">
                                        <select ui-select2 ng-change="GenerateMetadataControl(attr)" ng-disabled="checkcontent(attr)" ng-model="attr.Id">
                                            <option value="0">{{'LanguageContents.Res_39.Caption'|translate}}</option>
                                            <option ng-repeat="item in ExpireDynamicMetadataSource" value="{{item.AttributeID}}">{{item.AttributeCaption}}</option>
                                        </select>

                                        <div bind-compiled-html="attr.HtmlControl" class="addedcontrol">
                                        </div>
                                        <button ng-show="attr.HtmlControl!=''" ng-click="pushmoreAttribute()" class="btn"><i class="icon-plus"></i></button>
                                        <button ng-show="attr.HtmlControl!=''" ng-click="splicemoreAttribute(attr)" class="btn"><i class="icon-remove"></i></button>
                                    </div>
                                </div>
                                <div class="expandedForm-Btns">
                                    <button id="ExpireUMBtn" class="btn btn-small btn-primary" ng-click="saveexpirehandlerMetadata('3',UMExecutionDate,UMActionId)">{{UMsavecapation}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group dropup">
        <a id="Addactionmain" ng-show="Actionmain" class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">{{'LanguageContents.Res_5545.Caption'|translate}}<span class="caret"></span></a>
        <ul class="dropdown-menu pull-right">
            <li ng-show="UnpublishAction"><a href="javascript:void(0)" ng-click="Actionopen('UPActionopen','')">{{'LanguageContents.Res_245.Caption'|translate}}</a></li>
            <!--<li><a href="#" ng-click="saveaction(4)">Send mail</a></li>-->
            <li ng-show="CreateTaskAction"><a href="javascript:void(0)" ng-click="Actionopen('CTActionopen','')">{{'LanguageContents.Res_4179.Caption'|translate}}</a></li>
            <li ng-show="UpdatemetadataAction"><a href="javascript:void(0)" ng-click="Actionopen('UMActionopen','')">Update metadata</a></li>
        </ul>
    </div>
    <button data-dismiss="modal" class="btn btn-small" ng-click="CloseExpire()">{{'LanguageContents.Res_14.Caption'|translate}}</button>
</div>
<!--    </div>
</div>-->
