﻿<!--<div class="imgCropper" data-ng-controller="mui.fileuploadcontroller">-->
<div class="imgCropper">
    <div class="displayNone">
        <div id="fileuploadcontainer">
            <button id="bsmuipickfiles" type="submit"></button>
            <div id="fileuploadprogress" class="progress progress-striped active">
                <div class="bar"></div>
                <div id="fileuploadbarText">10%</div>
            </div>
        </div>

        <!--<div id="muifileuploadImage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px">-->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="closefileuploadpopup()" aria-hidden="true">×</button>
            &nbsp;
        </div>
        <div class="modal-body">
            <div class="picimgCropperPopup">
                <div class="imgDiv">
                    <img src="" id="fileuploadCropReportImg" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-small btn-primary" data-dismiss="modal" data-ng-click="UploadReportImage();" href="JavaScript:void(0);">{{'LanguageContents.Res_15.Caption'|translate}}</a>
            <a aria-hidden="true" data-dismiss="modal" ng-click="closefileuploadpopup()" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
        <!--</div>-->
    </div>
</div>
<!--</div>-->
