﻿<div id="damUI" ng-controller='mui.muimediabank1Ctrl'>
    <div ng-class="{'SearchResults-DetailedView':isLibraryExpanded,'SearchResults-DetailedView collapsedFilter':!isLibraryExpanded}">
        <!---Use " collapsedFilter" class above for applying the Collapsed Filter Style-->
        <div id="left">
            <div class="sidebar-nav">
                <div class="sr-dv-leftFilter">
                    <div class="sr-dv-expandedFilter" ng-show="isLibraryExpanded">
                        <div class="sr-dv-filterHeader" ng-click="isLibraryExpanded=!isLibraryExpanded">
                            <h2 class="container-padding-left">{{'LanguageContents.Res_240.Caption'|translate}}</h2>
                            <span id="searchFilter-OpenClose" class="searchFilter-OpenClose">
                                <i class="icon-chevron-left icon-large"></i>
                            </span>
                        </div>
                        <div class="sr-dv-filterContent">
                            <div id="damui-Assettypes-quicksearch" class="sr-dv-filterGroupCollection"></div>
                            <div id="damui-Assettypes" class="sr-dv-filterGroupCollection"></div>
                            <div class="sr-dv-filterGroupCollection" id="media-customsearch-AssetAttributes">
                            </div>
                        </div>
                    </div>
                    <div class="sr-dv-collapsedFilter" ng-click="isLibraryExpanded=!isLibraryExpanded" ng-hide="isLibraryExpanded">
                        <h3>{{'LanguageContents.Res_240.Caption'|translate}}</h3>
                        <span id="Span1" class="searchFilter-OpenClose">
                            <i class="icon-chevron-right icon-large"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="mediabankmainUIcontent">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="sr-dv-rigthSection">
                            <div class="sr-dv-Header mediabanksearchresult">
                                <table class="Result-n-Filter">
                                    <tr>
                                        <td class="col1">
                                            <span ng-show="AssetFilesObj_Temp.AssetFiles.length > 0" id="searchPartresultCaption" class="resultCount"></span>
                                        </td>
                                        <td class="col2">
                                            <div class="selectedFilters">
                                                <ul class="filtercategory">
                                                    <li ng-show="selectedAssettypes.length>0">
                                                        <span class="filtercategory-label">{{'LanguageContents.Res_2507.Caption'|translate}}</span>
                                                        <ul class="filtercategory-values">
                                                            <li ng-repeat="type in selectedAssettypes">
                                                                <span>{{type.Name}}</span>
                                                                <i ng-click="RemoveSearchType(type.Id)" class="icon-remove-sign"></i>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="displayNone">
                                                        <span class="filtercategory-label">Tags</span>
                                                        <ul class="filtercategory-values">
                                                            <li>
                                                                <span>Images</span>
                                                                <i class="icon-remove-sign"></i>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>
                                        <td class="col3">
                                            <div id="damUI-FilterDiv" class="btn-toolbar">

                                                <i ng-show="MediaBankSettings.Redirectfromdam && IsMarcomMediabank== false" id="ActionMenuIcon" class="icon-reorder pull-right menuIcon" data-toggle='dropdown' data-role="" contextmenuoptions="AssetDownloadMenu"></i>
                                                <i ng-show="IsMarcomMediabank" id="CustomActionmenuIcon" class="icon-reorder pull-right menuIcon" data-toggle='dropdown' data-role="" contextmenuoptions="thumbnailActionMenu"></i>
                                                <div class="img-Actions pull-right">
                                                    <input type="hidden" id="mediasdownload_token_value_id" />
                                                </div>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="javascript:void()">{{'LanguageContents.Res_25.Caption'|translate}}
                                            <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a ng-click="download()" href="javascript:void(0)">{{'LanguageContents.Res_249.Caption'|translate}}</a></li>
                                                        <li><a ng-click="DownloadWithMetadata(false)" href="javascript:void(0)">{{'LanguageContents.Res_248.Caption'|translate}}</a></li>
                                                        <li><a href="javascript:void(o)" ng-click="DownloadWithMetadata(true)">{{'LanguageContents.Res_247.Caption'|translate}}</a></li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group pull-right">
                                                    <span class="filterName">{{'LanguageContents.Res_4755.Caption'|translate}}</span>
                                                    <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                                                        {{OrderbyName}}<span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu ">
                                                        <li><a ng-click="OrderbyOption(1)" href="javascript:void(0)">{{'LanguageContents.Res_4496.Caption'|translate}}</a></li>
                                                        <li><a ng-click="OrderbyOption(2)" href="javascript:void(0)">{{'LanguageContents.Res_4497.Caption'|translate}}</a></li>
                                                        <li><a ng-click="OrderbyOption(3)" href="javascript:void(0)">{{'LanguageContents.Res_239.Caption'|translate}}</a></li>
                                                        <li><a ng-click="OrderbyOption(4)" href="javascript:void(0)">{{'LanguageContents.Res_238.Caption'|translate}}</a></li>
                                                    </ul>
                                                </div>

                                                <div class="btn-group pull-right">
                                                    <span class="filterName">{{'LanguageContents.Res_4896.Caption'|translate}}</span>
                                                    <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                                                        {{DamViewName}}
                                                      <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a ng-click="FilterByOptionChange(1)" href="javascript:void(0)">{{'LanguageContents.Res_4857.Caption'|translate}}</a></li>
                                                        <li><a ng-click="FilterByOptionChange(2)" href="javascript:void(0)">{{'LanguageContents.Res_4811.Caption'|translate}}</a></li>
                                                        <li><a ng-click="FilterByOptionChange(3)" href="javascript:void(0)">{{'LanguageContents.Res_663.Caption'|translate}}</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="sr-cw-Content">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <span class="noResultFound" ng-show="isResultEmpty"></span>
                                        <div class="sr-cw-searchResults">
                                            <div class="sr-cw-categorywiseresult sc-productions">
                                                <div class="categoryContent">
                                                    <div class="searchblock" id="MediaBank-dv-thumbnail">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sr-cw-categorywiseresult sc-productions">
                                                <div class="categoryContent">
                                                    <div class="searchblock" id="MediaBank-dv-summary">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sr-cw-categorywiseresult sc-productions">
                                                <div class="categoryContent">
                                                    <div class="searchblock" id="MediaBank-dv-listview">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mediasloadingDownloadPageModel" class="modal loadingPopup" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
        <div aria-labelledby="myModalLabel" id="Div1">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2>{{'LanguageContents.Res_4220.Caption'|translate}}</h2>
            </div>
            <div class="modal-body">
                <span id="DamProgressPopup" class="popupContent">
                    <i class="icon-spinner icon-spin icon-large"></i>
                    <span class="headText">{{'LanguageContents.Res_4219.Caption'|translate}}
                    </span>
                    <br />
                    <span class="subText">{{'LanguageContents.Res_4851.Caption'|translate}}</span>
                </span>
            </div>
        </div>
    </div>

    <div id="sendMediabankMailPopup" tabindex="-1" style="display: none;" class="modal sendAssetMailPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="700px">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H2">Email Assets</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span4">
                    <form>
                        <div class="control-group">
                            <label class="control-label">{{'LanguageContents.Res_4861.Caption'|translate}}</label>
                            <div class="controls">
                                <input type="hidden" ui-select2="sendmailOptions" ng-model="mediabank.mailtags" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{'LanguageContents.Res_4776.Caption'|translate}}</label>
                            <div class="controls">
                                <textarea ng-model="sendMetadatMailSubject" class="small-textarea"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox checkbox-custom color-primary">
                                    <input type="checkbox" id="checkmetadata" ng-click="selectmetadata($event)" />
                                    <i ng-class="{'checkbox checked':includemdata,'checkbox':!includemdata}" ng-click="selectmetadata($event)"></i>
                                    <span style="color: black">Include metadata</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <span class="InProgress" ng-show="MailprocessMailFlag">
                <img src="assets/img/loading.gif" />
                <span>{{'LanguageContents.Res_4738.Caption'|translate}}</span>
            </span>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            <button ng-click="SendAssetWitMwtadata()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4736.Caption'|translate}}</button>
        </div>
    </div>

    <ul id="AssetDownloadMenu" style="display: none;" class="dropdown-menu contexMenu">
        <li><a ng-target="javascript:void(0)" ng-click="AddLinkFilesFromDAM()">Copy (as link)</a></li>
        <li><a ng-target="javascript:void(0)" ng-click="AddFilesFromDAM()">Copy (as duplicate)</a></li>
    </ul>
    <ul id="thumbnailActionMenu" style="display: none;" class="dropdown-menu contexMenu">
        <!--<li><a tabindex="-1" ng-click="download()" href="javascript:void(0)">{{'LanguageContents.Res_25.Caption'|translate}}</a></li>-->
        <li><a tabindex="-1" ng-click="Addtolightbox()" href="javascript:void(0)">{{'LanguageContents.Res_4062.Caption'|translate}}</a></li>
        <li ng-show="div" class="divider"></li>
        <li><a tabindex="-1" ng-click="viewlightbox()" href="javascript:void(0)">{{'LanguageContents.Res_4898.Caption'|translate}}</a></li>
        <li ng-show="div" class="divider"></li>
        <li><a tabindex="-1" ng-click="Reformatprocess()" href="javascript:void(0)">{{'LanguageContents.Res_246.Caption'|translate}}</a></li>
        <li><a href="javascript:void(0)" ng-click="openSendAssetMail()">{{'LanguageContents.Res_4736.Caption'|translate}}</a></li>
        <li ng-show="div" class="divider"></li>
        <li><a ng-show="showCopyandLink" ng-target="javascript:void(0)" ng-click="AddLinkFilesFromDAM()">Add to production(as link)</a></li>
        <li><a ng-show="showCopyandLink" ng-target="javascript:void(0)" ng-click="AddFilesFromDAM()">Add to production (as duplicate)</a></li>
        <li ng-show="showCopyandLink" class="divider"></li>
        <li><a ng-click="download()" href="javascript:void(0)">{{'LanguageContents.Res_249.Caption'|translate}}</a></li>
        <li><a ng-click="DownloadWithMetadata(false)" href="javascript:void(0)">{{'LanguageContents.Res_248.Caption'|translate}}</a></li>
        <li><a href="javascript:void(0)" ng-click="DownloadWithMetadata(true)">{{'LanguageContents.Res_247.Caption'|translate}}</a></li>
        <!--<li ng-show="div2" class="divider"></li>-->
        <!--<li ng-show="Reformat"><a href="javascript:void(0)">{{'LanguageContents.Res_246.Caption'|translate}}</a></li>-->
        <!--<li ng-show="Copy"><a tabindex="-1" href="javascript:void(0)" ng-click="PerformAssetOperation(2)">{{'LanguageContents.Res_4171.Caption'|translate}}</a></li>-->
        <!--<li ng-show="unpublish" ng-show="Unpublish"><a href="javascript:void(0)" ng-click="UnPublishAssets()">{{'LanguageContents.Res_245.Caption'|translate}}</a></li>-->

    </ul>
</div>
