﻿<div id="container" ng-controller="mui.metadatasettingsctrl">
    <div class="AdminMargin">
        <div class="box box-noborder">
            <div class="box-header">
                <h4>{{'LanguageContents.Res_650.Caption'|translate}}</h4>
            </div>
            <div class="box-content">
                <div class="box-content-margin">
                    <form class="form-horizontal ng-pristine ng-valid">
                        <div class="ListHeader row-fluid">
                            <div class="span2 padding-left40x">{{'LanguageContents.Res_1.Caption'|translate}}</div>
                            <div class="span4"><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></div>
                            <div class="span1"><span>{{'LanguageContents.Res_82.Caption'|translate}}</span></div>
                            <div class="span5">{{'LanguageContents.Res_662.Caption'|translate}}</div>
                        </div>
                        <ul class="ListHolder">
                            <li>
                                <ul id="loadMetadataVersions"></ul>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="reportSchema-errorMessage">
            <button class="btn btn-warning" id="generateviewsschema" ng-click="ReportServerPushSchema();" data-dismiss="modal">{{'LanguageContents.Res_4428.Caption'|translate}}</button>
        </div>
    </div>

    <div data-width="620px" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="addListItem" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H1">{{localvar.Metadataheader}}</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="control-group" ng-show="localvar.ShowHideVersion">
                    <label class="control-label" for="version">{{'LanguageContents.Res_1502.Caption'|translate}}</label>
                    <div class="controls">
                        <select ui-select2 data-placeholder="Select version" ng-model="localvar.SelectedVersionID" required ng-change="GetMetadataVersionId(localvar.SelectedVersionID);">
                            <option value=""></option>
                            <option ng-repeat="item1 in listOfMetadataVerForPopUp" value="{{item1.ID}}">{{item1.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Caption">{{'LanguageContents.Res_1.Caption'|translate}}</label>
                    <div class="controls">
                        <input type="text" ng-model="localvar.Name" id="Caption" placeholder="Name" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                    <div class="controls">
                        <textarea class="small-textarea" ng-model="localvar.Description" id="Description" rows="3" placeholder="Description"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary" ng-click="SaveNewMetadataVersion();" data-dismiss="modal">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button aria-hidden="true" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>

    <div id="ExportInProgress" class="modal in operationInProgressModal" style="display:none;" tabindex="-1" data-width="450" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div id="Div2" aria-labelledby="myModalLabel">
            <div class="modal-header">
                <h2>Exporting Metadata Settings Xml</h2>
            </div>
            <div class="modal-body">
                <div class="msgContainer">
                    <span class="bgIcon"></span>
                    <div class="mssg">
                        <div class="mssgHeader">
                            <span class="headerIcon">
                                <img src="assets/img/loading.gif" alt="loadingImg" />
                            </span>
                            <span class="headerMsg">Generating XML...</span>
                        </div>
                        <div class="mssgContent">
                            <span class="descMsg">{{'LanguageContents.Res_4851.Caption'|translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ImportInProgress" class="modal in operationInProgressModal" style="display:none;" tabindex="-1" data-width="450" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div id="Div1" aria-labelledby="myModalLabel">
            <div class="modal-header">
                <h2>Importing Metadata Settings Xml</h2>
            </div>
            <div class="modal-body">
                <div class="msgContainer">
                    <span class="bgIcon"></span>
                    <div class="mssg">
                        <div class="mssgHeader">
                            <span class="headerIcon">
                                <img src="assets/img/loading.gif" alt="loadingImg" />
                            </span>
                            <span class="headerMsg">Validating XML...</span>
                        </div>
                        <div class="mssgContent">
                            <span class="descMsg">{{'LanguageContents.Res_4851.Caption'|translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="importMetadataModel" class="modal duplicatePopup importMetadataModel" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" data-width="600" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">Import Metadata</h3>
        </div>
        <div class="modal-body">
            <div class="dupContainer">
                <h4>Select the items to be imported</h4>
                <div class="dupSection">
                    <div class="changeOptions margin-bottom20x">
                        <form class="form-inline">
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox checkbox-custom">
                                            <input type="checkbox" />
                                            <i class="checkbox" ng-class="{'checkbox checked':ItemsToImport.IsEntityType, 'checkbox': !ItemsToImport.IsEntityType}"></i>
                                        </label>
                                    </div>
                                    <label id="entitytype" class="control-label">{{'LanguageContents.Res_42.Caption'|translate}}</label>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox checkbox-custom">
                                            <input type="checkbox" />
                                            <i class="checkbox" ng-class="{'checkbox checked':ItemsToImport.IsAssetType, 'checkbox': !ItemsToImport.IsAssetType}"></i>
                                        </label>
                                    </div>
                                    <label id="Label1" class="control-label">{{'LanguageContents.Res_2507.Caption'|translate}}</label>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox checkbox-custom">
                                            <input type="checkbox" />
                                            <i class="checkbox" ng-class="{'checkbox checked':ItemsToImport.IsTaskType, 'checkbox': !ItemsToImport.IsTaskType}"></i>
                                        </label>
                                    </div>
                                    <label id="Label2" class="control-label">{{'LanguageContents.Res_648.Caption'|translate}}</label>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox checkbox-custom">
                                            <input type="checkbox" />
                                            <i class="checkbox" ng-class="{'checkbox checked':ItemsToImport.IsPageType, 'checkbox': !ItemsToImport.IsPageType}"></i>
                                        </label>
                                    </div>
                                    <label id="Label4" class="control-label">{{'LanguageContents.Res_5104.Caption'|translate}}</label>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox checkbox-custom">
                                            <input type="checkbox" />
                                            <i class="checkbox" ng-class="{'checkbox checked':ItemsToImport.IsAttributeGroup, 'checkbox': !ItemsToImport.IsAttributeGroup}"></i>
                                        </label>
                                    </div>
                                    <label id="Label3" class="control-label">{{'LanguageContents.Res_2053.Caption'|translate}}</label>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox checkbox-custom">
                                            <input type="checkbox" />
                                            <i class="checkbox" ng-class="{'checkbox checked':ItemsToImport.IsAttributes, 'checkbox': !ItemsToImport.IsAttributes}"></i>
                                        </label>
                                    </div>
                                    <label id="Label5" class="control-label">{{'LanguageContents.Res_4117.Caption'|translate}}</label>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox checkbox-custom">
                                            <input type="checkbox" />
                                            <i class="checkbox" ng-class="{'checkbox checked':ItemsToImport.IsUserDetails, 'checkbox': !ItemsToImport.IsUserDetails}"></i>
                                        </label>
                                    </div>
                                    <label id="Label6" class="control-label">{{'LanguageContents.Res_4885.Caption'|translate}}</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <span class="infoTxt">All dependent items will be imported even if they are not selected.</span>
                </div>
            </div>
            <div class="loadIcon-large displayNone">
                <div class="InProgress">
                    <span>
                        <img src="assets/img/loading.gif" />
                        Loading...
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="ImportMetadataSettingsXml()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4437.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
