﻿<div id="container" ng-controller="mui.metadataconfigurationCtrl">
    <div id="left">
        <div class="title">
            <ul class="header">
                <li>
                    <a class="big">
                        <i class="icon-"></i>
                        <span>{{'LanguageContents.Res_501.Caption'|translate}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-nav" id="tree">
            <ul class="nav nav-list nav-list-bold" id="treeHolders">
                <li class="accrdnHdrEffect nav-header">
                    <i class="icon-gears"></i>
                    {{'LanguageContents.Res_600.Caption'|translate}}
                </li>
                <li id="66" ng-show="true" ui-sref-active="active">
                    <a ui-sref="mui.MetadataConfiguration.entitytypeattributerelation">
                        <i class="icon-double-angle-right"></i>
                        <span>{{'LanguageContents.Res_42.Caption'|translate}}</span>
                    </a>
                </li>

                <li id="67" ng-show="true" ui-sref-active="active">
                    <a ui-sref="mui.MetadataConfiguration.Damentitytype">
                        <i class="icon-double-angle-right"></i>
                        <span>{{'LanguageContents.Res_2507.Caption'|translate}}</span>
                    </a>
                </li>
                 <li id="87" ng-show="true" ui-sref-active="active">
                    <a ui-sref="mui.MetadataConfiguration.objectiveentitytype">
                        <i class="icon-double-angle-right"></i>
                        <span>{{'LanguageContents.Res_5681.Caption'|translate}}</span>
                    </a>
                </li>
               <li id="68" ng-show="true" ui-sref-active="active">
                    <a ui-sref="mui.MetadataConfiguration.Taskentitytype">
                        <i class="icon-double-angle-right"></i>
                        <span>{{'LanguageContents.Res_4827.Caption'|translate}}</span>
                    </a>
                </li>
                <li id="69" ng-show="true" ui-sref-active="active">
                    <a ui-sref="mui.MetadataConfiguration.cmspagetypeattributerelation">
                        <i class="icon-double-angle-right"></i>
                        <span>{{'LanguageContents.Res_5104.Caption'|translate}}</span>
                    </a>
                </li>
                <li id="70" ng-show="true" ui-sref-active="active">
                    <a ui-sref="mui.MetadataConfiguration.attributegroup">
                        <i class="icon-double-angle-right"></i>
                        <span>{{'LanguageContents.Res_2053.Caption'|translate}}</span>
                    </a>
                </li>
                <li id="71" ng-show="true" ui-sref-active="active">
                    <a ui-sref="mui.MetadataConfiguration.userdetails">
                        <i class="icon-double-angle-right"></i>
                        <span>{{'LanguageContents.Res_4885.Caption'|translate}}</span>
                    </a>
                </li>
                <li id="72" ng-show="true" ui-sref-active="active">
                    <a ui-sref="mui.MetadataConfiguration.attribute">
                        <i class="icon-double-angle-right"></i>
                        <span>{{'LanguageContents.Res_587.Caption'|translate}}</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="mui.metadatasettings">
                        <i class="icon-reply"></i>
                        <span>{{'LanguageContents.Res_612.Caption'|translate}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.well -->
    </div>
    <!-- #left -->
    <div id="content">
        <div class="container-fluid container-nopadding">
            <div class="row-fluid">
                <div class="span12">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div>
