﻿<div class="dropdown">
    <input type="text" class="control-group widthinput" placeholder='Select Entity Status' value="{{header}}" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
  </input>
  <ul class="dropdown-menu">
    <li>
      <input class="input-block-level" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
    </li>
    <li ng-show="multiple">
      <button class="btn-link btn-small" ng-click="uncheckAll()"><i class="icon-remove"></i> Uncheck all</button>
    </li>
    <li ng-repeat="i in items | filter:searchText">
      <a ng-click="select(i); focus()">
       <i ng-class="{'pull-right icon-ok': i.checked, 'icon-empty': !i.checked}"></i> 
          <span class="eicon" style="background-color: #{{i.model.ColorCode}};">{{i.model.ShortDesc}}</span>
        {{i.model.StatusOptions}}</a>
    </li>
  </ul>
</div>