﻿<div id="myBriefContainer" ng-controller="mui.muimybriefCtrl" class="myBriefsContainer" style="position: relative;">

    <div id="divLoading" class="loadIcon-large">
        <span>
            <img src="assets/img/loading.gif" />
            Loading...
        </span>
    </div>

    <iframe id="externalBriefMiddleware" width="100%" height="100%"></iframe>

</div>
