﻿<div class="myfundingrequest myPage" id="container" ng-controller="mui.myfundrequestCtrl">
    <div class="row-fluid" id="DefaultFundrequests">
        <div class="span11">
            <h2 class="ng-binding" ng-show="ngShowfundingrequests">{{'LanguageContents.Res_231.Caption'|translate}}</h2>
            <div class="btn-toolbar clearfix">
                <div class="btn-group">
                    <span class="filterName">{{'LanguageContents.Res_1803.Caption'|translate}}</span>
                    <button data-toggle="dropdown" class="btn btn-small dropdown-toggle">{{TaskAssignCriteria}}<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" ng-repeat="taskItem in ShowTasksByAssignCriteria" ng-click="ShowtasksChangeVal(taskItem.ID)">{{taskItem.Name}}</a></li>
                    </ul>
                </div>
                <div class="btn-group pull-right">
                    <span class="filterName">{{'LanguageContents.Res_411.Caption'|translate}}</span>
                    <select class="multiselect" ng-change="ShowTaskStatusChangeVal()" data-placeholder="Select filter"
                            ng-model="MulitipleStatus" ng-options="item.ID as item.Name for item in ShowTaskStatus"
                            multiple="multiple" multiselectpartial></select>
                </div>
            </div>
            <div class="myFundingRequestTable">
                <ul class="mfrTableHeader ListHolder inline">
                    <li class="col1"><span>{{'LanguageContents.Res_2101.Caption'|translate}}</span></li>
                    <li class="col2"><span>{{'LanguageContents.Res_4695.Caption'|translate}}</span></li>
                    <li class="col3"><span class="curreny">{{'LanguageContents.Res_1746.Caption'|translate}}</span></li>
                    <li class="col4"><span>{{'LanguageContents.Res_254.Caption'|translate}}</span></li>
                    <li class="col5" ng-show="ngShowDesc"><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></li>
                    <li ng-show="AssignRole==4" class="col6"><span>{{'LanguageContents.Res_4696.Caption'|translate}}</span></li>
                    <li ng-show="AssignRole!=4" class="col6"><span>{{'LanguageContents.Res_1737.Caption'|translate}}</span></li>
                    <li class="col7"><span>{{'LanguageContents.Res_23.Caption'|translate}}</span></li>
                    <li class="col8"><span>{{'LanguageContents.Res_4773.Caption'|translate}}</span></li>
                </ul>
                <ul id="MyFundHolder" class="mfrTableContent ListHolder"></ul>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/.fluid-container-->
</div>
