﻿<div class="myTask myPage" id="container" ng-controller="mui.mynotificationCtrl">
    <div class="row-fluid" id="DefaultTasks">
        <div class="span12">
            <h2 class="ng-binding">{{'LanguageContents.Res_4493.Caption'|translate}}</h2>
            <hr class="titleUnderline">
            <form id="mypagenotification" class="form-horizontal manageOverflow">
                <div id="mypagenotificationinfo" class="feed">
                </div>
            </form>
        </div>
         <!--<div ng-include="'views/mui/task/TaskEdit.html'"></div>-->
    </div>
</div>
