﻿<div id="container" class="userSettings" ng-controller="mui.mypagectrl">
    <div id="left">
        <div class="title">
            <ul class="header">
                <li>
                    <a class="big" href="javascript:void();">
                        <i class="icon-"></i>
                        <span>{{'LanguageContents.Res_1601.Caption'|translate}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="tree" class="sidebar-nav">
            <ul id="treeHolder" class="nav nav-list nav-list-bold">
                <li class="active" id="menupersonalinfo">
                    <a ng-class="{ active: ( subview == 'titlelogo' ) }" href="" ng-click="MenuSelectMyPageSection('Personalinfo')">
                        <i class="icon-"></i>
                        <span>{{'LanguageContents.Res_1602.Caption'|translate}}</span>
                    </a>
                </li>
                <li id="menuApplSettng">
                    <a ng-class="{ active: ( subview == 'module' ) }" href="" ng-click="MenuSelectMyPageSection('applicationseting')">
                        <i class="icon-"></i>
                        <span>{{'LanguageContents.Res_89.Caption'|translate}}</span>
                    </a>
                </li>
                <li id="menuNotificSettng">
                    <a ng-class="{ active: ( subview == 'navigation' ) }" href="" ng-click="MenuSelectMyPageSection('notificatinseting')">
                        <i class="icon-"></i>
                        <span>{{'LanguageContents.Res_1607.Caption'|translate}}</span>
                    </a>
                </li>
                <li id="menuTaskNotificSettng">
                    <a ng-class="{ active: ( subview == 'navigation' ) }" href="" ng-click="MenuSelectMyPageSection('remindersettings')">
                        <i class="icon-"></i>
                        <span>{{'LanguageContents.Res_651.Caption'|translate}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="container-fluid container-nopadding">
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="AdminMargin">
                                <div class="box box-noborder" id="Personalinfo">
                                    <div class="box-header">
                                        <h4>{{'LanguageContents.Res_1602.Caption'|translate}}</h4>
                                    </div>
                                    <div class="box-content">
                                        <div class="box-content-margin">
                                            <div>
                                                <div class="userImage">
                                                    <div class="imgContainer relative">
                                                        <img src="" id="userimg" class="img-polaroid">
                                                        <div id="userImageoadingIcon" ng-show="userImageoadingIcon" class="loadIcon-large">
                                                            <span>
                                                                <img src="assets/img/loading.gif">{{'LanguageContents.Res_5517.Caption'|translate}}...</span>
                                                        </div>
                                                        <div id="filescontainer">
                                                            <a id="pickfiles" href="JavaScript:void(0);" class="btn btn-small btn-block">{{'LanguageContents.Res_4152.Caption'|translate}}</a>
                                                            <div id="uploadprogress" style="display: none;" class="progress progress-striped active">
                                                                <div class="bar"></div>
                                                                <div id="barText" class="BarText">10%</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="userDetails">
                                                    <form class="form-horizontal">
                                                        <div id="mypageuserinfodetails">
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="userPasswordReset" ng-show="hideforssouser">
                                                    <button tabindex="7" type="button" ng-click="ResetPassword();" class="btn btn-primary">{{'LanguageContents.Res_4699.Caption'|translate}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box box-noborder" id="applicationseting">
                                    <div class="box-header">
                                        <h4>{{'LanguageContents.Res_89.Caption'|translate}}</h4>
                                    </div>
                                    <div class="box-content">
                                        <div class="box-content-margin">
                                            <form class="form-horizontal">
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_652.Caption'|translate}}:</label>
                                                    <div class="controls">
                                                        <div id="listofnewsfeed">
                                                            <label ng-repeat="subitems in newsfeedsettings" class="checkbox">
                                                                <input type="checkbox" value="subitems.Id" ng-model="subitems.Checked" ng-checked="subitems.Checked" ng-click="SaveSelectedFeed(subitems,$event);" />{{subitems.Caption}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="label">{{'LanguageContents.Res_653.Caption'|translate}}:</label>
                                                    <div class="controls">
                                                        <select ui-select2 id="ddlSingleSelection" name="ddlSingleSelection" ng-selected="" ng-model="mypagevar.startpageid" ng-change="changemypageStartPage();">
                                                            <option value="">{{'LanguageContents.Res_39.Caption'|translate}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="label">Dimension Units for Asset Library:</label>
                                                    <div class="controls">
                                                        <select ui-select2 id="dimensionunit1" name="dimensionunit" ng-selected="" ng-model="dimensionunitlist" ng-change="changedimensionunit();">
                                                            <option value="dimensionunit.dimensionunitIds">{{dimensionunit.dimensionunitName}}</option>
                                                        </select>
                                                    </div>
                                                </div>


                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="box box-noborder" id="notificatinseting">
                                    <div class="box-header">
                                        <h4>{{'LanguageContents.Res_1607.Caption'|translate}}</h4>
                                    </div>
                                    <div class="box-content">
                                        <div class="box-content-margin">
                                            <form class="form-horizontal">
                                                <div class="control-group">
                                                    <label class="control-label" for="label">where i am member:</label>
                                                    <div class="controls">
                                                        <div id="memberelateddiv" class="multipleOptions">
                                                            <label class="checkbox" ng-model="MemberRelated">
                                                                <input type="checkbox" id="MemberRelated" value="MemberRelated" ng-checked="MemberRelated" ng-click="SaveMemberRelated($event);" />
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--Prabhu: Not needed untill unless we enable Subscription button for entity-->
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_1608.Caption'|translate}}:</label>
                                                    <div class="controls">
                                                        <div id="loadsubscriptionid" class="multipleOptions">
                                                            <label ng-repeat="item in listofsubscriptionbyuseriddata" class="checkbox">
                                                                <input type="checkbox" id="NotificationSubscription" value="item.Id" ng-model="item.Checked" ng-checked="item.Checked" ng-click="SaveSelectedSubscription(item,$event);" />{{item.Caption}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="label">{{'LanguageContents.Res_1609.Caption'|translate}}:</label>
                                                    <div class="controls">
                                                        <div class="btn-group" data-toggle="buttons-checkbox">
                                                            <button ng-click="EnableNotificationEmail();" type="button" class="btn btn-primary margin-top10x">{{mypagevar.mailnotification}}</button>
                                                        </div>
                                                        <span id="notificationmailText" class="info"></span>
                                                    </div>
                                                </div>
                                                <div id="EmailSubscriptionSettings" class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4233.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <div id="Div1" class="multipleOptions">
                                                            <label ng-repeat="item in maillistofsubscriptionbyuseriddata" class="checkbox">
                                                                <input id="MailSubscription" type="checkbox" value="item.Id" ng-model="item.Checked" ng-checked="item.Checked" ng-click="SaveSelectedSubscription(item,$event);" />{{item.Caption}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="showrecapmail">
                                                    <div class="control-group">
                                                        <label class="control-label" for="label">{{'LanguageContents.Res_1610.Caption'|translate}}:</label>
                                                        <div class="controls">
                                                            <div class="btn-group" data-toggle="buttons-checkbox">
                                                                <button ng-click="RecapNotificationEmail();" type="button" class="btn btn-primary margin-top10x">{{mypagevar.recapnotification}}</button>
                                                            </div>
                                                            <span class="info">{{'LanguageContents.Res_1611.Caption'|translate}}.</span>
                                                        </div>
                                                    </div>
                                                    <div id="showRecapAround">
                                                        <div class="control-group">
                                                            <label class="control-label" for="label">{{'LanguageContents.Res_1612.Caption'|translate}}:</label>
                                                            <div class="controls">
                                                                <select ui-select2 id="RecapDatalist" multiple="multiple" ng-model="RecapDatalist" ng-click="changeNotificationRecap();" data-placeholder="Show Recap Around">
                                                                    <option>{{'LanguageContents.Res_1402.Caption'|translate}}</option>
                                                                    <option ng-repeat="item in RecapData" ng-model="item.name" value="{{item.name}}">On-{{item.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label" for="label">{{'LanguageContents.Res_4091.Caption'|translate}}</label>
                                                            <div class="controls">
                                                                <select ui-select2 id="RecapAroundlist" ng-model="RecapAroundlist" ng-click="mailnotifyAround()">
                                                                    <option value="0">-- {{'LanguageContents.Res_39.Caption'|translate}} --</option>
                                                                    <option ng-repeat="item in RecapAround" ng-model="item.name" value="{{item.name}}">{{item.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="remindersettings" class="box box-noborder">
                                    <div class="box-header">
                                        <h4>{{'LanguageContents.Res_651.Caption'|translate}}</h4>
                                    </div>
                                    <div class="box-content">
                                        <div class="box-content-margin">
                                            <form class="form-horizontal ng-pristine ng-valid">
                                                <div class="control-group">
                                                    <label for="label" class="control-label">{{'LanguageContents.Res_1614.Caption'|translate}}:</label>
                                                    <div class="controls">
                                                        <div data-toggle="buttons-checkbox" class="btn-group">
                                                            <button ng-click="RecapTaskNotificationEmail();" type="button" class="btn btn-primary ng-binding">{{recapTasknotification}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="TaskReminderdiv">
                                                    <div class="control-group">
                                                        <label for="label" class="control-label">{{'LanguageContents.Res_1616.Caption'|translate}} :</label>
                                                        <div class="controls">
                                                            <select ng-model="noofdays" ng-change="NumberOfdaysUpdate()">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label for="label" class="control-label">{{'LanguageContents.Res_1617.Caption'|translate}} :</label>
                                                        <div class="controls">
                                                            <select ng-change="mailTasknotifyAround();" ng-model="RecapTaskAroundlist" class="ng-pristine ng-valid">
                                                                <option>{{'LanguageContents.Res_39.Caption'|translate}}</option>
                                                                <option ng-repeat="item in RecapAround">{{item.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="box-header">
                                        <h4>{{'LanguageContents.Res_4837.Caption'|translate}}</h4>
                                    </div>
                                    <div class="box-content">
                                        <div class="box-content-margin">
                                            <form class="form-horizontal ng-pristine ng-valid">
                                                <div class="control-group">
                                                    <label for="label" class="control-label">{{'LanguageContents.Res_2120.Caption'|translate}}:</label>
                                                    <div class="controls">
                                                        <div data-toggle="buttons-checkbox" class="btn-group">
                                                            <button ng-click="UpdateIsEmailAssignedEnable();" type="button" class="btn btn-primary ng-binding">{{taskRemainderByYou}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                </div>
                <!--/.fluid-container-->
            </div>
            <!-- #center -->
        </div>
    </div>


    <div id="UserProfilePic" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display: none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                &nbsp;
            </div>
            <div class="modal-body">
                <div class="imgCropperPopup">
                    <div>
                        <img src="" id="userpic" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-small btn-primary" data-dismiss="modal" ng-click="ChangeUserImage();" href="JavaScript:void(0);">{{'LanguageContents.Res_15.Caption'|translate}}</a>
                <a aria-hidden="true" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</a>
            </div>
    </div>
</div>
