﻿<div class="myTask myPage" id="container" ng-controller="mui.mytaskCtrl">
    <div class="row-fluid" id="DefaultTasks">
        <div class="span6">
            <h2 class="ng-binding" ng-show="ngShowMyTask">{{'LanguageContents.Res_4494.Caption'|translate}}</h2>
            <div class="btn-toolbar clearfix">
                <div class="btn-group">
                    <span class="filterName">{{'LanguageContents.Res_655.Caption'|translate}}</span>
                    <button data-toggle="dropdown" class="btn btn-small dropdown-toggle">
                        {{TaskAssignCriteria}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" ng-repeat="taskItem in ShowTasksByAssignCriteria" ng-click="ShowtasksChangeVal(taskItem.ID)">{{taskItem.Name}}</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <span class="filterName">{{'LanguageContents.Res_1558.Caption'|translate}}</span>
                    <button data-toggle="dropdown" class="btn btn-small dropdown-toggle">
                        {{TaskCriteria}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0)" ng-repeat="taskcriteria in SortByCriteria" ng-click="SelctedCriteriaChangeVal(taskcriteria.ID)">{{taskcriteria.Name}}
                            </a>
                        </li>
                    </ul>
                </div>
                 <div class="btn-group pull-right">
                    <span class="filterName">{{CustomFilterCaption}}</span><select class="multiselect" ng-change="ShowTaskStatusChangeVal()" data-placeholder="Select {{CustomFilterCaption}}"
                        ng-model="CustomMulitipleStatus" ng-options="item.Id as item.Caption for item in ClientCustomStatus"
                        multiple="multiple" multiselectpartial></select>
                </div>
                <div class="btn-group pull-right">
                    <span class="filterName">{{'LanguageContents.Res_411.Caption'|translate}}</span><select class="multiselect" ng-change="ShowTaskStatusChangeVal()" data-placeholder="Select filter"
                        ng-model="MulitipleStatus" ng-options="item.ID as item.Name for item in ShowTaskStatus"
                        multiple="multiple" multiselectpartial></select>
                </div>
            </div>
            <ul class="ListHolder myTaskTable" ng-repeat="Mytaskval in ComplexTaskFilterDataStructure">
                <li>
                    <h4 class="stepHeader" ng-show="true==Mytaskval.DivVisible">
                        <span class="eicon-m" ng-style="set_color(Mytaskval.EntityColorCode)" style="background-color: #{{Mytaskval.EntityColorCode}}">{{Mytaskval.EntityShortDescription}}
                        </span>
                        {{DecodedTaskName(Mytaskval.Header)}}

                    </h4>
                    <br ng-show="false==Mytaskval.DivVisible" />
                    <ul>
                        <li class="ListItem InProgress" ng-class="StatusDivClasses(item.TaskStatus,item.Noofdays,item.IsAdminTask)" ng-repeat="item in Mytaskval.body">
                            <div class="row-fluid">
                                <div class="span6">
                                    <i class="icon-cog ListItemIcon"></i><span ng-style="set_color(item.colorcode)" style="background-color: #{{item.colorcode}};" class="eicon-s ListItem-eIcon">{{item.shortdesc}}
                                    </span>
                                    <div class="mainText">
                                        <a href="#loadtaskedit" data-toggle="modal" class="name" title="{{task.Name}}" my-qtip2 qtip-content="{{TooltipTaskName(item.TaskDescription)}}" ng-click="OpenPopUpMyTask(item.TaskId,item.IsAdminTask,item.TaskTypeId,item,item.TaskStatus,0)">{{DecodedTaskName(item.TaskName)}}</a>
                                    </div>
                                    <div>
                                        <ul class="breadcrumb">
                                            <li class="active" ng-repeat="EntityPath in item.Path">
                                                <a ng-if="$index < item.Path.length-1" ng-click="IsActiveEntity(EntityPath.ID,EntityPath.TypeID)" href="JavaScript: void(0);">{{DecodedTaskName(EntityPath.Name)}}
                                                </a>
                                                <span class="divider" ng-if="$index < (item.Path.length-2)"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div ng-show="item.AssigneesIdArr.length == 1">
                                        <img my-qtip2 qtip-content="{{item.UserName}}" class="user" ng-src="Handlers/UserImage.ashx?id={{item.UserID}}&time={{NewTime}}" /><div my-qtip2 qtip-content="{{item.UserName}}" class="username"><span>{{item.UserName}}</span></div>
                                    </div>
                                    <div ng-hide="item.AssigneesIdArr.length == 1">
                                        <img my-qtip2 qtip-content="{{ShowTaskAssigneeTooltipContent(item.AssigneesIdArr,item.AssigneesName)}}" src="assets/img/Group.png" class="user noShadow" data-toggle="tooltip" /><div class="username"><span>{{'LanguageContents.Res_1578.Caption'|translate}}</span></div>
                                    </div>
                                </div>
                                <div class="span3 text-right">
                                    <div class="statusBlock">
                                        <span ng-bind="AddStatustext(item.TaskStatus ,item.Noofdays,item.IsAdminTask)"></span>
                                        {{item.ProgressCount}}

                                        <i class="icon-status"></i>
                                    </div>
                                    <div class="dateBlock duration" ng-show="manipulatedate(item.DueDate)">
                                        <span ng-bind="CustomDateFormat(item.DueDate,item.Noofdays)"></span>
                                        ({{item.Noofdays}}  {{'LanguageContents.Res_1556.Caption'|translate}})

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
