﻿<div ng-controller="mui.searchresultCntrl">
    <div id="container">
        <div class="searchResults-categoryWise">
            <div class="sr-cw-headerBlock">
                <h4>{{'LanguageContents.Res_657.Caption'|translate}} "{{search}}" (About {{CountObjects.Totalcount}} Result(s))</h4>
            </div>
            <div class="sr-cw-categoryBlock">
                <div class="sr-cw-Header">
                    <span class="resultCount">Production(s) (About {{CountObjects.Production}} Result(s))</span>
                </div>
                <div class="sr-cw-Content">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="sr-cw-searchResults">
                                <div class="searchblock searchresultAvailability" id="resultsearchvaluesproduction">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sr-cw-Footer">
                    <button ng-click="RedirectCustomSearch(1)" class="btn btn-small">View more Results</button>
                    <button class="btn btn-small displayNone">View less Results</button>
                </div>
            </div>
            <div class="sr-cw-categoryBlock">
                <div class="sr-cw-Header">
                    <span class="resultCount">Asset(s) (About {{CountObjects.Asset}} Result(s))</span>
                </div>
                <div class="sr-cw-Content">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="sr-cw-searchResults">
                                  <div class="searchblock searchresultAvailability" id="resultsearchvaluesasset">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sr-cw-Footer">
                    <button ng-click="RedirectCustomSearch(3)" class="btn btn-small">View more Results</button>
                    <button class="btn btn-small displayNone">View less Results</button>
                </div>
            </div>
            <div class="sr-cw-categoryBlock">
                <div class="sr-cw-Header">
                    <span class="resultCount">Task(s) (About {{CountObjects.Task}} Result(s))</span>
                </div>
                <div class="sr-cw-Content">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="sr-cw-searchResults">
                                 <div class="searchblock searchresultAvailability" id="resultsearchvaluestask">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sr-cw-Footer">
                    <button ng-click="RedirectCustomSearch(2)" class="btn btn-small">View more Results</button>
                    <button class="btn btn-small displayNone">View less Results</button>
                </div>
            </div>
        </div>
    </div>
</div>