﻿@model Presentation.Controllers.ViewController.UserAccessModule
@{                                  
    bool addEntityPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Common, Presentation.Controllers.ViewController.UserAccessModule.Feature.Support, Presentation.Controllers.ViewController.UserAccessModule.Operations.Edit);
}

<div id="Support" ng-controller='mui.supportCtrl'>
    <div class="box noBorder">
        <div class="box-content">
            <div class="box-content-margin">
                <h2>{{'LanguageContents.Res_4814.Caption'|translate}}</h2>
                <form class="form-horizontal" name="horizontalform">
                    <div class="box-content-margin">
                        <div id="EditorHolder" ng-bind="EditorHolder" ng-show="showHolder">
                        </div>
                        <div class="box-content" ng-show="showEditor" id="#htmlEditorText">
                            <textarea ng-model="htmlEditorText" aria-multiline="true" redactor></textarea>
                        </div>
                        @if (addEntityPermission)
                        {
                            <div class="box-footer right">
                                <button class="btn btn-small btn-primary ng-binding" ng-click="EditSupport()" class="btn btn-primary btn-small">{{'LanguageContents.Res_20.Caption'|translate}}</button>
                                <button class="btn btn-small btn-primary ng-binding" ng-click="SaveSupportPageContent()" class="btn btn-primary btn-small">save</button>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
