﻿@model Presentation.Controllers.ViewController.UserAccessModule
@{
    //bool financialPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Financials);
    //bool taskPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Task);
    //bool workflowPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Workflow);
    bool addEntityPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Requestplannedamount, Presentation.Controllers.ViewController.UserAccessModule.Operations.Edit);
}
<div id="Financials" ng-class="{ 'tab-pane fade in active': ( subview == 'financial' ) }" ng-controller="mui.planningtool.default.detail.financialCtrl">
    <div class="tab-line"></div>
    <div id="FinancialDiv">
