﻿ <div class="row-fluid" ng-show="FundsRequestVisible">
        <div class="span12">
            <div class="box">
                <div class="box-header">
                    <h4>
                        {{'LanguageContents.Res_1791.Caption'|translate}}
                    </h4>
                </div>
                <div class="box-content">
                    <div id="DynamicFundRequest">
                        <div class="financialBoxesHeader">
                            <table class="table table-normal-right">
                                <thead>
                                    <tr>
                                       <th><span myqtooltip data-tooltipid="attr_12">{{'LanguageContents.Res_1734.Caption'|translate}}</span></th>
									<th><span myqtooltip data-tooltipid="attr_13">{{'LanguageContents.Res_1746.Caption'|translate}}</span></th>
									<th><span myqtooltip data-tooltipid="attr_14">{{'LanguageContents.Res_254.Caption'|translate}}</span></th>
									<th><span myqtooltip data-tooltipid="attr_15">{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
									<th><span myqtooltip data-tooltipid="attr_16">{{'LanguageContents.Res_1736.Caption'|translate}}</span></th>
									<th><span myqtooltip data-tooltipid="attr_17">{{'LanguageContents.Res_1737.Caption'|translate}}</span></th>
									<th><span myqtooltip data-tooltipid="attr_18">{{'LanguageContents.Res_23.Caption'|translate}}</span></th>
									<th><span myqtooltip data-tooltipid="attr_19">{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="FundsRequesttableHolder">
                            <table id="fundrequestTable" class="table table-normal-right">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="965px" role="dialog" tabindex="-1" class="modal hide fade" id="FinancialRequestModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <div class="pull-right">
                <span class="currencyIndicator">{{'LanguageContents.Res_1713.Caption'|translate}}: {{DefaultSettings.CurrencyFormat.Name}}</span>
            </div>
            <h3 id="myModalLabel">{{'LanguageContents.Res_1733.Caption'|translate}} </h3>
        </div>
        <div class="modal-body" id="dynamic_Controls">
            <div>
                <table class="table table-normal" id="fundingrequests">
                    <thead>
                        <tr>
                            <th>{{'LanguageContents.Res_152.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_254.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_1744.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_1745.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_23.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_1204.Caption'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
            <button ng-click="SaveFundingRequest()" ng-show="IsLock == false" id="SaveFundingRequestBtn" ng-model="ApplyFilterSettings" class="btn btn-primary">Send</button>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="500px" role="dialog" tabindex="-1" class="modal hide fade" id="PlannedAmountModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H1">{{'LanguageContents.Res_1741.Caption'|translate}} </h3>
        </div>
        <div class="modal-body" id="PlannedAmountDiv">
            <div>
                <table class="table table-noborder" id="PlannedAmountTable">
                    <thead>
                        <tr>
                            <th>{{'LanguageContents.Res_254.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_1746.Caption'|translate}} </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
            <button ng-click="UpdatePlannedAmount()" ng-show="IsLock == false" id="UpdatePlannedAmountBtn" class="btn btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="750px" role="dialog" tabindex="-1" class="modal hide fade" id="CommitAmountModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H7">{{'LanguageContents.Res_1747.Caption'|translate}} </h3>
        </div>
        <div class="modal-body" id="CommitAmountDiv">
            <div>
                <table class="table table-noborder" id="CommitAmountTable">
                    <thead>
                        <tr>
                            <th>{{'LanguageContents.Res_152.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_1748.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_1749.Caption'|translate}} </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
            <button ng-click="UpdateCommitAmount()" ng-show="IsLock == false" class="btn btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="500px" role="dialog" tabindex="-1" class="modal hide fade" id="SpentAmountModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H8">{{'LanguageContents.Res_1750.Caption'|translate}} </h3>
        </div>
        <div class="modal-body" id="SpentAmountDiv">
            <div>
                <table class="table table-noborder" id="SpentAmountTable">
                    <thead>
                        <tr>
                            <th>{{'LanguageContents.Res_152.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_1748.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_1749.Caption'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <input type="checkbox" id="chkSubStractFromCommited" />
                                {{'LanguageContents.Res_1751.Caption'|translate}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
            <button ng-click="UpdateSpentAmount()" ng-show="IsLock == false" class="btn btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="500px" role="dialog" tabindex="-1" class="modal hide fade" id="QAmountModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H6">{{'LanguageContents.Res_1752.Caption'|translate}} </h3>
        </div>
        <div class="modal-body" id="Div5">
            <div>
                <table class="table table-noborder" id="QAmountTable">
                    <thead>
                        <tr>
                            <th>{{'LanguageContents.Res_254.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_1746.Caption'|translate}} </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
            <button ng-click="UpdateFinancialForecastAmount()" ng-show="IsLock == false" class="btn btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="650px" role="dialog" tabindex="-1" class="modal hide fade" id="AllocationModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H5">{{'LanguageContents.Res_1753.Caption'|translate}}  </h3>
        </div>
        <div class="modal-body" id="Div4">
            <div>
                <table class="table table-noborder" id="AllocationModaltable">
                    <thead>
                        <tr>
                            <th>{{'LanguageContents.Res_254.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_1793.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_1792.Caption'|translate}} </th>
                            @*<th>{{'LanguageContents.Res_1713.Caption'|translate}} </th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
            <button ng-click="UpdateApprovePlannedAmount()" ng-show="IsLock == false" id="UpdateApprovePlannedAmountBtn" class="btn btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="400px" role="dialog" tabindex="-1" class="modal hide fade" id="AddCostCenterModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>

            <h3 id="H2">{{'LanguageContents.Res_1708.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="Div2">
            <div class="row-fluid">
                <div class="span4">
                    <label class="text-label">{{'LanguageContents.Res_254.Caption'|translate}}:</label>
                </div>
                <div class="span6">
                    <select class="multiselect" data-placeholder="Select filter"
                            ng-model="costcentreid" ng-options="item.Id as item.costcentername for item in costCenterList"
                            multiple="multiple" multiselect-dropdown></select>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left" ng-show="showCCtoallsublevel">
                <span>
                    <label class="checkbox checkbox-custom pull-left">
                        <input id="addCCtoallsublevel" ng-checked="addCCtoallsublevel" ng-click="changeCCtoallsublevelplans($event)" ng-model="addCCtoallsublevel" checked="checked" type="checkbox" />
                        <i class="checkbox" ng-class="CheckListSelection()" />
                        Add selected to all sub levels
                    </label>
                </span>
            </div>
            <button data-dismiss="modal" class="btn btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
            <button ng-click="addCostCenter()" ng-show="IsLock == false" id="AddCostCentreBtn" class="btn btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="800px" role="dialog" tabindex="-1" class="modal hide fade" id="ReleaseFundsModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H3">{{'LanguageContents.Res_1706.Caption'|translate}}  </h3>
        </div>
        <div class="modal-body" id="ReleaseFundsHolder">
            <div>
                <table class="table table-noborder" id="Table2">
                    <thead>
                        <tr>
                            <th>{{'LanguageContents.Res_255.Caption'|translate}} </th>
                            <th>{{'LanguageContents.Res_1754.Caption'|translate}} </th>
                            <th>{{'LanguageContents.Res_1755.Caption'|translate}} </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
            <button ng-click="ReleaseFund()" ng-show="IsLock == false" id="ReleaseFundsBtn" class="btn btn-primary">{{'LanguageContents.Res_1801.Caption'|translate}}</button>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" data-width="800px" role="dialog" tabindex="-1" class="modal hide fade" id="MoneyTransferModal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H4">{{'LanguageContents.Res_1707.Caption'|translate}} </h3>
        </div>
        <div class="modal-body" id="Div3">
            <div>
                <div class="row-fluid">
                    <div class="span5 label28">
                        {{'LanguageContents.Res_1756.Caption'|translate}} :
                        <span class="pull-right">
                            <select ui-select2 name="FromCostCenter" id="FromCostCenter" ng-change="selectFromCostCenter()" ng-model="FromCostCenter">
                                <option value="">{{'LanguageContents.Res_1453.Caption'|translate}}</option>
                                <option ng-repeat="item in FromCostcenterLists" value="{{item.CostCenterID}}">{{item.CostCenterName}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="span5 offset1 label28">
                        {{'LanguageContents.Res_1757.Caption'|translate}} :
                        <span class="pull-right">
                            <select ui-select2 name="ToCostCenter" id="ToCostCenter" ng-model="ToCostCenter" ng-change="selectToCostCenter()">
                                <option value="">{{'LanguageContents.Res_1453.Caption'|translate}}</option>
                                <option ng-repeat="item in ToCostcenterLists" value="{{item.CostCenterID}}">{{item.CostCenterName}}</option>
                            </select>
                        </span>
                    </div>
                </div>
                <br />
                <div class="row-fluid">
                    <div class="span5">
                        {{'LanguageContents.Res_1744.Caption'|translate}}
                        <span class="pull-right">{{fromCostCenterObject.PlannedAmount}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                    <div class="span5 offset1">
                        {{'LanguageContents.Res_1744.Caption'|translate}}
                        <span class="pull-right">{{ToCostCenterObject.PlannedAmount}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        {{'LanguageContents.Res_1703.Caption'|translate}}
                        <span class="pull-right">{{fromCostCenterObject.InRequests}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                    <div class="span5 offset1">
                        {{'LanguageContents.Res_1703.Caption'|translate}}
                        <span class="pull-right">{{ToCostCenterObject.InRequests}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        {{'LanguageContents.Res_1758.Caption'|translate}}
                        <span class="pull-right">{{fromCostCenterObject.ApprovedAmount}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                    <div class="span5 offset1">
                        {{'LanguageContents.Res_1758.Caption'|translate}}
                        <span class="pull-right">{{ToCostCenterObject.ApprovedAmount}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        {{'LanguageContents.Res_1794.Caption'|translate}}
                        <span class="pull-right">{{fromCostCenterObject.SubAllocatedAmount}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                    <div class="span5 offset1">
                        {{'LanguageContents.Res_1758.Caption'|translate}}
                        <span class="pull-right">{{ToCostCenterObject.SubAllocatedAmount}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        {{'LanguageContents.Res_1759.Caption'|translate}}
                        <span class="pull-right">{{fromCostCenterObject.UnallocatedAmount}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                    <div class="span5 offset1">
                        {{'LanguageContents.Res_1759.Caption'|translate}}
                        <span class="pull-right">{{ToCostCenterObject.UnallocatedAmount}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        {{'LanguageContents.Res_1760.Caption'|translate}}
                        <span class="pull-right">{{fromCostCenterObject.SubPlanAmount}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                    <div class="span5 offset1">
                        {{'LanguageContents.Res_1760.Caption'|translate}}
                        <span class="pull-right">{{ToCostCenterObject.SubPlanAmount}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        {{'LanguageContents.Res_1761.Caption'|translate}}
                        <span class="pull-right">{{fromCostCenterObject.Availablefortransfer}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                    <div class="span5 offset1">
                        {{'LanguageContents.Res_1761.Caption'|translate}}
                        <span class="pull-right">{{ToCostCenterObject.Availablefortransfer}} {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                    </div>
                    <div class="span5 offset1 label28">
                        {{'LanguageContents.Res_1762.Caption'|translate}}
                        <span class="pull-right">
                            <input type="text" id="transferAmounttxt" ng-model="transferAmount" />
                            {{DefaultSettings.CurrencyFormat.Name}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
                <button ng-click="TransferMoney()" ng-show="IsLock == false" id="TransferFundBtn" class="btn btn-primary">{{'LanguageContents.Res_1795.Caption'|translate}}</button>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="960" tabindex="-1" class="modal hide fade FundingRequestPopup" id="FundingRequestApprovalModal" style="display: none;">
        <div ng-include src="'views/mui/planningtool/costcentre/FundrequestAction.html'" ng-controller="mui.planningtool.costcentre.FundrequestActionCtrl"></div>
    </div>

    <div id="CampaignElementEdit" class="modal hide fade" tabindex="-1" data-width="650">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Campaign Element#</h3>
        </div>
        <div class="modal-body">
            <table class="table table-noborder">
                <thead>
                    <tr>
                        <th>Campaign ID</th>
                        <th>Campaign name</th>
                        <th>{{'LanguageContents.Res_254.Caption'|translate}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8333</td>
                        <td>Testing CC Sunday</td>
                        <td>{{'LanguageContents.Res_1763.Caption'|translate}}</td>
                        <td style="width: 35px; padding-right: 2px; padding-left: 0px;"></td>
                        <td style="width: 35px; padding-left: 2px;"></td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <div style="height: 200px; overflow-x: hidden; overflow-y: auto; overflow-x: hidden; margin-right: -15px; margin-top: -22px; margin-bottom: -15px;">
                <table class="table table-noborder" style="margin-bottom: 0px;">
                    <thead>
                        <tr>
                            <th style="width: 145px;">{{'LanguageContents.Res_1764.Caption'|translate}}</th>
                            <th style="width: 145px;">{{'LanguageContents.Res_261.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_1765.Caption'|translate}}#</th>
                            <th style="width: 35px; padding-right: 2px; padding-left: 0px;"></th>
                            <th style="width: 35px; padding-left: 2px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in CampaignObj">
                            <td style="padding-bottom: 0;">{{item.ISBN}}</td>
                            <td style="padding-bottom: 0;">{{item.Title}}</td>
                            <td style="padding-bottom: 0;">
                                <input type="text" class="input" placeholder="Cost Element#">
                            </td>
                            <td style="width: 35px; padding-right: 2px; padding-left: 0px; padding-bottom: 0;">
                                <button class="btn" ng-show="IsLock == false" ng-click="addNewCampaign()"><i class="icon-plus"></i></button>
                            </td>
                            <td style="width: 35px; padding-left: 2px; padding-bottom: 0;">
                                <button class="btn" ng-show="IsLock == false" ng-click="deleteCampaign()"><i class="icon-remove"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-show="IsLock == false" data-dismiss="modal" class="btn">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            <button type="button" id="btnWizardPrev" ng-show="IsLock == false" class="btn btn-primary">{{'LanguageContents.Res_21.Caption'|translate}}</button>
        </div>
    </div>
    <div id="CommittedSpentDetails" class="modal hide fade" tabindex="-1" data-width="820">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>{{'LanguageContents.Res_1766.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div style="" class="span12">
                    <div style="height: 360px; overflow-x: hidden; overflow-y: auto; overflow-x: hidden; margin: -15px; padding: 15px;">
                        <h2>{{'LanguageContents.Res_1767.Caption'|translate}}</h2>
                        <h3>{{'LanguageContents.Res_1764.Caption'|translate}}#123456</h3>
                        <div style="font-size: 13.75px; font-weight: 600;">Campaign Element# 95432345</div>
                        <span>{{'LanguageContents.Res_1713.Caption'|translate}}: {{DefaultSettings.CurrencyFormat.Name}}</span>
                        <table class="table table-normal">
                            <thead>
                                <tr>
                                    <td><span>PO#</span></td>
                                    <td><span>{{'LanguageContents.Res_1799.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_1744.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_1725.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>95432156</span></td>
                                    <td><span>Agency X</span></td>
                                    <td><span>Description for 95432156</span></td>
                                    <td><span>140.000</span></td>
                                    <td><span>0</span></td>
                                    <td><span>Open</span></td>
                                </tr>
                                <tr>
                                    <td><span>95432154</span></td>
                                    <td><span>Agency Y</span></td>
                                    <td><span>Description for 95432154</span></td>
                                    <td><span>100.000</span></td>
                                    <td><span>50.000</span></td>
                                    <td><span>Open</span></td>
                                </tr>
                                <tr>
                                    <td><span>95432153</span></td>
                                    <td><span>Agency Y</span></td>
                                    <td><span>Description for 95432153</span></td>
                                    <td><span>300.000</span></td>
                                    <td><span>300.000</span></td>
                                    <td><span>{{'LanguageContents.Res_91.Caption'|translate}}</span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><span><b>TOTAL</b></span></td>
                                    <td><span></span></td>
                                    <td><span></span></td>
                                    <td><span><b>540.000</b></span></td>
                                    <td><span><b>350.000</b></span></td>
                                    <td><span></span></td>
                                </tr>
                            </tfoot>
                        </table>
                        <br>
                        <div style="font-size: 13.75px; font-weight: 600;">Campaign Element# 95432154</div>
                        <span>{{'LanguageContents.Res_1713.Caption'|translate}}: {{DefaultSettings.CurrencyFormat.Name}}</span>
                        <table class="table table-normal">
                            <thead>
                                <tr>
                                    <td><span>PO#</span></td>
                                    <td><span>{{'LanguageContents.Res_1799.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_1744.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_1725.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>95432156</span></td>
                                    <td><span>Agency X</span></td>
                                    <td><span>Description for 95432156</span></td>
                                    <td><span>140.000</span></td>
                                    <td><span>0</span></td>
                                    <td><span>Open</span></td>
                                </tr>
                                <tr>
                                    <td><span>95432154</span></td>
                                    <td><span>Agency X</span></td>
                                    <td><span>Description for 95432154</span></td>
                                    <td><span>100.000</span></td>
                                    <td><span>50.000</span></td>
                                    <td><span>Open</span></td>
                                </tr>
                                <tr>
                                    <td><span>95432153</span></td>
                                    <td><span>Agency Y</span></td>
                                    <td><span>Description for 95432153</span></td>
                                    <td><span>300.000</span></td>
                                    <td><span>300.000</span></td>
                                    <td><span>{{'LanguageContents.Res_91.Caption'|translate}}</span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><span>TOTAL</span></td>
                                    <td><span></span></td>
                                    <td><span></span></td>
                                    <td><span>540.000</span></td>
                                    <td><span>350.000</span></td>
                                    <td><span></span></td>
                                </tr>
                            </tfoot>
                        </table>
                        <br>
                        <h3>Cost Centre CDE</h3>
                        <div style="font-size: 13.75px; font-weight: 600;">Campaign Element# 95432156</div>
                        <span>{{'LanguageContents.Res_1713.Caption'|translate}}: {{DefaultSettings.CurrencyFormat.Name}}</span>
                        <table class="table table-normal">
                            <thead>
                                <tr>
                                    <td><span>PO#</span></td>
                                    <td><span>{{'LanguageContents.Res_1799.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_1744.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_1725.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>1231231</span></td>
                                    <td><span>Agency X</span></td>
                                    <td><span>Description for 1231231</span></td>
                                    <td><span>140.000</span></td>
                                    <td><span>0</span></td>
                                    <td><span>Open</span></td>
                                </tr>
                                <tr>
                                    <td><span>1231232</span></td>
                                    <td><span>Agency X</span></td>
                                    <td><span>Description for 1231231</span></td>
                                    <td><span>100.000</span></td>
                                    <td><span>50.000</span></td>
                                    <td><span>Open</span></td>
                                </tr>
                                <tr>
                                    <td><span>1231233</span></td>
                                    <td><span>Agency Y</span></td>
                                    <td><span>Description for 1231231</span></td>
                                    <td><span>300.000</span></td>
                                    <td><span>300.000</span></td>
                                    <td><span>{{'LanguageContents.Res_91.Caption'|translate}}</span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><span>TOTAL</span></td>
                                    <td><span></span></td>
                                    <td><span></span></td>
                                    <td><span>540.000</span></td>
                                    <td><span>350.000</span></td>
                                    <td><span></span></td>
                                </tr>
                            </tfoot>
                        </table>
                        <br>
                        <div style="font-size: 13.75px; font-weight: 600;">{{'LanguageContents.Res_1765.Caption'|translate}}# 12345873</div>
                        <span>{{'LanguageContents.Res_1713.Caption'|translate}}: {{DefaultSettings.CurrencyFormat.Name}}</span>
                        <table class="table table-normal">
                            <thead>
                                <tr>
                                    <td><span>PO#</span></td>
                                    <td><span>{{'LanguageContents.Res_1799.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_1744.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_1725.Caption'|translate}}</span></td>
                                    <td><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>1231231</span></td>
                                    <td><span>Agency X</span></td>
                                    <td><span>Description for 1231231</span></td>
                                    <td><span>140.000</span></td>
                                    <td><span>0</span></td>
                                    <td><span>Open</span></td>
                                </tr>
                                <tr>
                                    <td><span>1231232</span></td>
                                    <td><span>Agency X</span></td>
                                    <td><span>Description for 1231231</span></td>
                                    <td><span>100.000</span></td>
                                    <td><span>50.000</span></td>
                                    <td><span>Open</span></td>
                                </tr>
                                <tr>
                                    <td><span>1231233</span></td>
                                    <td><span>Agency Y</span></td>
                                    <td><span>Description for 1231231</span></td>
                                    <td><span>300.000</span></td>
                                    <td><span>300.000</span></td>
                                    <td><span>{{'LanguageContents.Res_91.Caption'|translate}}</span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><span>TOTAL</span></td>
                                    <td><span></span></td>
                                    <td><span></span></td>
                                    <td><span>540.000</span></td>
                                    <td><span>350.000</span></td>
                                    <td><span></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-show="IsLock == false" data-dismiss="modal" class="btn">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            <button type="button" id="Button1" ng-show="IsLock == false" class="btn btn-primary">{{'LanguageContents.Res_21.Caption'|translate}}</button>
        </div>
    </div>

    <div id="PurchaseOrder" class="modal hide fade" tabindex="-1" data-width="920">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>{{'LanguageContents.Res_1768.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid" id="POHistory">
                <div class="span12">
                    <table id="POOrderTable" ng-show="POOrderHistoryByEntityID.length >= 0" class="table table-normal-both">
                        <thead>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div ng-show="POOrderHistoryByEntityID.length == 0">
                        <span>
                            <label>
                                {{'LanguageContents.Res_1773.Caption'|translate}}
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            <button type="button" ng-show="SelectedEntityObject.IsShowApprove && IsShowApproveforExternalsource && IsLock == false" ng-click="ApprovePurchaseOrders()" class="btn btn-primary">{{'LanguageContents.Res_559.Caption'|translate}}</button>
            <button type="button" ng-show="SelectedEntityObject.IsShowApprove && IsShowRejectforExternalsource && IsLock == false" ng-click="RejectPurchaseOrders()" class="btn btn-primary">{{'LanguageContents.Res_560.Caption'|translate}}</button>
            <button type="button" ng-show="SelectedEntityObject.IsShowApprove && IsShowSendforExternalsource && IsLock == false" ng-click="SendPurchaseOrders()" class="btn btn-primary">Send</button>
            <button type="button" ng-show="IsShowAddnewPO && IsLock == false" ng-click="AddnewPO()" class="btn btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
        </div>
    </div>

    <div id="NewPOCreationModel" class="modal hide fade" tabindex="-1" data-width="920">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>{{'LanguageContents.Res_1798.Caption'|translate}}</h3>
            <!--Purchase Order-->
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span6">
                    <form id="puchaseorderForm" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputPONumber">{{'LanguageContents.Res_1769.Caption'|translate}}</label>
                            <div class="controls">
                                <input type="text" id="inputPONumber" data-toggle="tooltip" title="System will Generate Purchase Order ID" ng-model="inputPONumber" placeholder="" readonly="readonly">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputSupplayer">{{'LanguageContents.Res_1799.Caption'|translate}}</label>
                            <div class="controls">
                                <select ui-select2 id="ddlsupplier" ng-model="ddlsupplier" data-placeholder="Select Supplier">
                                    <option value="">Select Supplier</option>
                                    <option ng-repeat="item in SupplierData" value="{{item.ID}}">{{item.CompanyName}}</option>
                                </select>
                                <button type="button" ng-show="IsLock == false" ng-click="OpenSupplierModal()" class="btn">{{'LanguageContents.Res_1776.Caption'|translate}}</button>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputDescription">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                            <div class="controls">
                                <textarea id="inputDescription" ng-model="inputDescription" rows="3"></textarea>
                            </div>
                        </div>
                        <div id="DynamicPOControlsPO"></div>
                    </form>
                </div>
                <div class="verticalLine"></div>
                <div class="span6" id="CommitPhaseCostCentres">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            <button type="button" ng-click="SavePurchaseOrder()" ng-show="ShowPOSave && IsShowApproveforExternalsource && IsLock == false" class="btn btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button type="button" ng-click="UpdatePurchaseOrder()" ng-show="ShowPOEdit && IsShowApproveforExternalsource && IsLock == false" class="btn btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
        </div>
    </div>

    <div id="Invoice" class="modal hide fade" tabindex="-1" data-width="920">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>{{'LanguageContents.Res_1779.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div id="ExistInvoice" class="row-fluid">
                <div class="span12">
                    <table id="InvoiceListingTable" class="table table-normal">
                        <thead>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div ng-show="InvoiceHistoryByEntityID.length == 0">
                        <span>
                            <label>
                                No Invoice Available
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            <button type="button" ng-click="AddnewInvoive()" ng-show="SelectedEntityObject.IsShowCreateInvoice && IsShowCreateInvoiceforExternalsource && IsLock == false" id="AddnewInvoive" class="btn btn-primary">{{'LanguageContents.Res_1786.Caption'|translate}}</button>
        </div>
    </div>

    <div id="AddSupplayer" class="modal hide fade" tabindex="-1" data-width="720">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>{{'LanguageContents.Res_1776.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    <form class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label for="inputEmail" class="control-label">{{'LanguageContents.Res_78.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" value="" ng-model="CompanyName" id="Text4" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="inputEmail" class="control-label">{{'LanguageContents.Res_260.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" value="" ng-model="Department" id="Text5" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">{{'LanguageContents.Res_79.Caption'|translate}} 1</label>
                                    <div class="controls">
                                        <input type="text" value="" ng-model="Address1" id="Text6" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">{{'LanguageContents.Res_79.Caption'|translate}} 2</label>
                                    <div class="controls">
                                        <input type="text" value="" ng-model="Address2" id="Text7" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">{{'LanguageContents.Res_80.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" ng-model="City" id="Text8" placeholder="City">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">{{'LanguageContents.Res_81.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" ng-model="ZipCode" id="Text9" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">{{'LanguageContents.Res_82.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" ng-model="State" id="Text10" placeholder="State">
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">{{'LanguageContents.Res_1781.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" ng-model="Country" id="Text11" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">{{'LanguageContents.Res_1782.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" ng-model="Vat" id="Text12" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">{{'LanguageContents.Res_83.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" ng-model="Phone" id="Text13" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">{{'LanguageContents.Res_1783.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" ng-model="Email" id="Text14" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">{{'LanguageContents.Res_1784.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" ng-model="Fax" id="Text15" placeholder="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">{{'LanguageContents.Res_1785.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" ng-model="CustomerNumber" id="Text16" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            <button type="button" ng-click="SaveSupplier()" ng-show="IsLock == false" class="btn btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
        </div>
    </div>

    <div id="NewInvoice" class="modal hide fade" tabindex="-1" data-width="920">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>{{'LanguageContents.Res_1786.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span6">
                    <form class="form-horizontal" id="InvoiceCreationForm">
                        <div class="control-group">
                            <label for="inputEmail" class="control-label">{{'LanguageContents.Res_1769.Caption'|translate}}</label>
                            <div class="controls">
                                <select ui-select2 ng-model="ddlPurchaseOrderList" id="ddlPurchaseOrderList" ng-change="PopulatePurchaseOrderDetails()">
                                    <option value="">Select PO</option>
                                    <option value="{{item.Id}}" ng-repeat="item in SentPurchaseOrderList">{{item.PONumber}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Invoicenumber">{{'LanguageContents.Res_1787.Caption'|translate}}</label>
                            <div class="controls">
                                <input type="text" ng-model="Invoicenumber" id="Invoicenumber" placeholder="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPassword">{{'LanguageContents.Res_1799.Caption'|translate}}</label>
                            <div class="controls">
                                <select ui-select2 id="ddlInvoicesupplier" ng-model="ddlInvoicesupplier" data-placeholder="Select Supplier">
                                    <option value="">Select Supplier</option>
                                    <option ng-repeat="item in SupplierData" value="{{item.ID}}">{{item.CompanyName}}</option>
                                </select>
                                <button type="button" ng-click="OpenSupplierModal()" ng-show="IsLock == false" class="btn btn-small">{{'LanguageContents.Res_1776.Caption'|translate}}</button>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPassword">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                            <div class="controls">
                                <textarea ng-model="invoiceDescription" id="invoiceDescription" rows="3"></textarea>
                            </div>
                        </div>
                        <div id="DynamicPOControlsInvoice"></div>
                    </form>
                </div>
                <div class="verticalLine"></div>
                <div class="span6" id="SpentPhaseCostCentres">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            <button type="button" ng-click="SaveInvoice()" ng-show="IsLock == false" class="btn btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
        </div>
    </div>

    <div id="PlanBudge" class="modal hide fade" tabindex="-1" data-width="600">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3>{{'LanguageContents.Res_1741.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    <table id="DynamicFinPlanBudgeHolder" class="table table-condensed table-noborder">
                        <thead>
                            <tr>
                                <th class="col1">Cost Center</th>
                                <th class="col2">Available from parent</th>
                                <th class="col3">Amount</th>
                                <th class="col4"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">Close</button>
            <button type="button" ng-click="UpdatePlannedAmount()" ng-show="IsLock == false" class="btn btn-primary">Update</button>
        </div>
    </div>
</div>
</div>