﻿ <div class="box">
                <div class="box-header">
                    <h4>
                        {{'LanguageContents.Res_1211.Caption'|translate}}
                    </h4>
                    <div class="pull-right">
                        <span class="currencyIndicator">{{'LanguageContents.Res_1713.Caption'|translate}}: {{DefaultSettings.CurrencyFormat.Name}}</span>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div id="financialchart">
                        </div>
                    </div>
                </div>
            </div>