﻿<div class="box">
    <div class="box-header">
        <h4>{{'LanguageContents.Res_1710.Caption'|translate}}
        </h4>
        <div class="pull-right">
            <span class="currencyIndicatorSelect">
                <span>{{'LanguageContents.Res_5700.Caption'|translate}}: </span>
                <select class="currencySelector" ui-select2 ng-model="selectedViewtype" data-placeholder="--Select--">
                    <option ng-repeat="item in SystemSettings.financialSettings" value="{{item.Id}}">{{item.Caption}}</option>
                </select>
            </span>&nbsp;&nbsp;
                        <a href="javascript:void(0);" id="showhidecc"><span>{{'LanguageContents.Res_1712.Caption'|translate}}</span></a>
            <span class="currencyIndicator">{{'LanguageContents.Res_1713.Caption'|translate}}: {{DefaultSettings.CurrencyFormat.Name}}</span>
        </div>
    </div>
    <div class="box-content" id="financialDetails">
        <div id="financialDetailheaderContainer" class="financialDetails financialBoxesHeader">
        </div>
        <div id="financialdetailtableHolder">
            <table class="table table-fin" id="financialdetailtable"></table>
        </div>

    </div>
    <div class="box-footer ">
        <button type="button" ng-show="ApprovedAlloccationBtnControl && IsLock == false" id="ApprovedAlloccationBtn" ng-model="ApprovedAlloccationBtn" ng-click="AdjustApproveAllocation()" class="btn btn-small btn-primary">{{'LanguageContents.Res_1800.Caption'|translate}}</button>
    </div>
</div>
