﻿<div class="box">
        <div class="box-header">
            <h4>{{'LanguageContents.Res_719.Caption'|translate}}</h4>
        </div>
        <div class="box-content">
            <div class="box-content-margin">
                <table class="table  table-condensed objtable noBorder">
                    <thead>
                        <tr>
                            <th><span></span></th>
                            <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_517.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_715.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_716.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_707.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_718.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_708.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                            <th><span></span></th>
                        </tr>
                    </thead>
                    <tbody id="AdditionalObjectivestbody">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer right">
            <a class="btn btn-primary btn-small" id="additionalObjectiveEntity" ng-show="IsLock == false" ng-click="ClearingAdditionalObjectivecontrols()" href="#additionalObjectiveEntityControls" data-toggle="modal">
                <span>{{'LanguageContents.Res_8.Caption'|translate}}</span>
            </a>
        </div>

        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="820" tabindex="-1" class="modal hide fade" id="additionalObjectiveEntityControls" style="display: none;">
            <div ng-include src="'views/mui/planningtool/default/detail/section/additionalobjective.html'"></div>
        </div>
    </div>
