﻿<div id="container" ng-controller="mui.planningtool.default.detailCtrl">
    <div id="plandetailfilter"></div>
    <div id="FilterSettingsModal" ng-include src="'views/mui/planningtool/default/detail/detailfilter.html'"></div>
    <div id="left">
        <div class="ActionBtnArea"><a href="#/mui/planningtool/default/detail/ganttview/{{CurrentTrackingUrl}}" class="btn" my-qtip2 qtip-content="Gantt view"><i class="icon-tasks icon-large"></i></a><a href="#/mui/planningtool/default/detail/listview/{{CurrentTrackingUrl}}" class="btn" my-qtip2 qtip-content="List view"><i class="icon-list icon-large"></i></a><a href="javascript:void(0)" ng-click="ListofReportRecords();" class="btn" my-qtip2 qtip-content="Report"><i class="icon-building icon-large"></i></a><a ng-include="'views/mui/planningtool/calender/calendercreation.html' " class="btn"></a><span id="TreeOpenClose" class="pull-right"><i class="icon-chevron-left icon-large"></i></span></div>
        <div class="title">
            <ul class="header">
                <li><a href="JavaScript: void(0);" class="ng-binding"><i class="icon-"></i><span class="ng-binding">{{'LanguageContents.Res_1.Caption'|translate}}</span><span ng-show="ShowHideExpandAll" ng-click="ExpandAll()" class="btn-link pull-right">{{PlanExpandtext}}</span></a></li>
            </ul>
        </div>
        <div class="sidebar-nav" id="treeSettings">
            <ul id="EntitiesTree" class="nav-holder" role="group"></ul>
        </div>
    </div>
    <div id="separator"></div>
    <div id="content">
        <div class="container-fluid container-nopadding">
            <div id="plandetailfilterdiv">
                <div class="btn-group" id="Filtersettingdiv">
                    <button data-toggle="dropdown" ng-click="filtersettingsreset();" class="btn dropdown-toggle btn-small">{{appliedfilter}}<span class="caret"></span></button><ul class="dropdown-menu pull-right">
                        <li><a ng-click="ApplyFilter(0, 'No filter applied')" href="javascript:void(0);">{{'LanguageContents.Res_401.Caption'|translate}}</a></li>
                        <li ng-repeat="item in filterValues"><a ng-click="ApplyFilter(item.FilterID, item.FilterName,item.IsDetailFilter)" href="javascript:void(0);" data-toggle="modal" data-id="{{item.FilterID}}"><span>{{item.FilterName}}</span></a></li>
                    </ul>
                </div>
                <a class=" btn btn-primary btn-small" ng-click="DetailFilterCreation()" href="javascript:void(0);">{{AddEditFilter}}</a>
            </div>
            <div id="container">
                <div ui-butterbar></div>
                <div ui-view>
                    <img class="gearSmall" src="assets/img/loading.gif" />
                </div>
            </div>
        </div>
    </div>
    <div id="loadingReportPageModel" class="modal operationInProgressModal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
        <div aria-labelledby="myModalLabel" id="Div1">
            <div class="modal-header">
                <h2>{{ProcessReport}}</h2>
            </div>
            <div class="modal-body">
                <div class="msgContainer">
                    <span class="bgIcon"></span>
                    <div id="loadingGantt" class="mssg">
                        <div class="mssgHeader">
                            <span class="headerIcon">
                                <img src="assets/img/loading.gif" alt="loadingImg" /></span><span class="headerMsg">{{'LanguageContents.Res_4430.Caption'|translate}}...</span>
                        </div>
                        <div class="mssgContent"><span class="descMsg">{{'LanguageContents.Res_4851.Caption'|translate}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="650" tabindex="-1" class="modal hide fade" id="ReportPageModel" style="display: none;">
        <div aria-labelledby="myModalLabel" id="Div1">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3>{{'LanguageContents.Res_1301.Caption'|translate}}</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span7">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">{{'LanguageContents.Res_1302.Caption'|translate}}</label><div class="controls">
                                    <select ui-select2 id="ReportType" ng-change="changeReportType()" ng-model="SelectedReport" name="ReportType">
                                        <option value="">{{'LanguageContents.Res_4730.Caption'|translate}}</option>
                                        <option value="-100">{{'LanguageContents.Res_4425.Caption'|translate}}</option>
                                        <option value="-101">{{'LanguageContents.Res_4424.Caption'|translate}}</option>
                                        <option value="-200">{{'LanguageContents.Res_4775.Caption'|translate}}</option>
                                        <option ng-repeat="item in ReportTypes" value="{{item.OID}}">{{DecodedTextName(item.Caption)}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label nopadding" for="inputEditable">{{'LanguageContents.Res_22.Caption'|translate}}</label><div class="controls"><span id="reportDesc">{{reportDescription}}</span></div>
                            </div>
                            <div class="control-group" id="StructuralReportDiv" ng-show="StructuralReportDiv">
                                <div class="controls">
                                    <label class="checkbox checkbox-custom pull-left">
                                        <input type="checkbox" ng-model="chkMetadataDetl"><i class="checkbox checked"></i></label>
                                    {{'LanguageContents.Res_4439.Caption'|translate}}
                                </div>
                                <div class="controls">
                                    <label class="checkbox checkbox-custom pull-left">
                                        <input type="checkbox" ng-model="chkTaskDetl"><i class="checkbox checked"></i></label>
                                    {{'LanguageContents.Res_4446.Caption'|translate}}
                                </div>
                                <div class="controls">
                                    <label class="checkbox checkbox-custom pull-left">
                                        <input type="checkbox" ng-model="chkMemberDetl"><i class="checkbox checked"></i></label>
                                    {{'LanguageContents.Res_4443.Caption'|translate}}
                                </div>
                                <div class="controls">
                                    <label class="checkbox checkbox-custom pull-left">
                                        <input type="checkbox" ng-model="chkFinancialDetl"><i class="checkbox checked"></i></label>
                                    {{'LanguageContents.Res_4441.Caption'|translate}}
                                </div>
                                <div class="controls" ng-show="SelectedEntityCheckDivStr">
                                    <label class="checkbox checkbox-custom pull-left">
                                        <input type="checkbox" ng-model="GanttSelectedEntityCheckStr"><i class="checkbox"></i></label>
                                    {{'LanguageContents.Res_4426.Caption'|translate}}
                                </div>
                                <div class="controls" ng-show="SubLevelsCheckDivStr">
                                    <label class="checkbox checkbox-custom pull-left">
                                        <input type="checkbox" ng-model="GanttAllSubLevelsCheckStr"><i class="checkbox"></i></label>
                                    {{'LanguageContents.Res_4427.Caption'|translate}}
                                </div>
                            </div>
                            <div class="control-group" id="GanttViewReportDiv" ng-show="GanttReportDiv">
                                <div class="control-group">
                                    <label class="control-label" for="inputPeriod">{{'LanguageContents.Res_662.Caption'|translate}}</label><div class="controls">
                                        <input ng-change="AddDefaultEndDate(GanttstartDate)" class="sdate" ng-click="Calanderopen($event,calanderopened)" datepicker-popup="{{format}}" is-open="calanderopened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" id="GanttstartDate" ng-model="GanttstartDate" type="text" required name="GanttstartDate" ng-model="GanttstartDate" placeholder="-- Startdate --" /><input class="edate" id="Ganttenddate" ng-model="Ganttenddate" type="text" required name="Ganttenddate" ng-click="dynCalanderopen($event,Ganttenddate1)" datepicker-popup="{{format}}" is-open="Ganttenddate1" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="-- Enddate --" />
                                    </div>
                                </div>
                                <br />
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_4421.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 id="GanttEntityType" multiple="multiple" ng-change="changeEntityType()" ng-model="GanttEntityType" name="GanttEntityType">
                                            <option ng-repeat="item in GanttEntityTypes" value="{{item.Id}}">{{item.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_4420.Caption'|translate}}</label><div class="controls">
                                        <select ui-select2 id="Ganttoption" multiple="multiple" ng-change="changeoptionType()" ng-model="Ganttoption" name="Ganttoption">
                                            <option ng-repeat="item in Ganttoptions" value="{{item.Field}}">{{item.DisplayName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="control-group chkOptions" ng-show="SelectedEntityCheckDiv">
                                    <label class="checkbox">
                                        <input type="checkbox" class="ng-pristine ng-valid" ng-change="ChangeEntitylevelCheck()" ng-checked="GanttSelectedEntityCheck" ng-model="GanttSelectedEntityCheck" id="GanttSelectedEntityCheck"><span>{{'LanguageContents.Res_4426.Caption'|translate}}</span></label>
                                </div>
                                <div class="control-group chkOptions" ng-show="SubLevelsCheckDiv">
                                    <label class="checkbox">
                                        <input type="checkbox" id="GanttAllSubLevelsCheck" ng-change="ChangeSubLevelsCheck()" ng-checked="GanttAllSubLevelsCheck" ng-model="GanttAllSubLevelsCheck" class="ng-pristine ng-valid"><span>{{'LanguageContents.Res_4427.Caption'|translate}}</span></label>
                                </div>
                            </div>
                            <div class="control-group" id="CustomReportDiv" ng-show="CustomReportDiv">
                                <div class="control-group chkOptions" ng-show="showCustomEntityCheck">
                                    <label class="checkbox">
                                        <input type="checkbox" class="ng-pristine ng-valid" ng-change="CustomChangeEntitylevelCheck()" ng-checked="CustomEntityCheck" ng-model="CustomEntityCheck" id="CustomEntityCheck"><span>{{'LanguageContents.Res_4426.Caption'|translate}}</span></label>
                                </div>
                                <div class="control-group chkOptions" ng-show="showCustomSubLevels">
                                    <label class="checkbox">
                                        <input type="checkbox" id="CustomSubLevelsCheck" ng-change="CustomChangeSubLevelsCheck()" ng-checked="CustomSubLevelsCheck" ng-model="CustomSubLevelsCheck" class="ng-pristine ng-valid"><span>{{'LanguageContents.Res_4427.Caption'|translate}}</span></label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="span5 relative;">
                        <img ng-hide="" src="{{reportPreviewImg}}{{ReportImageURL}}" id="reportPrev">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="btn btn-small btn-primary" target="_parent" ng-show="ReportGanttGenerate" ng-click="hideReportPopup()">{{'LanguageContents.Res_1305.Caption'|translate}}</a><a href="javascript:void(0);" class="btn btn-small btn-primary" target="_parent" ng-show="ReportGenerate" ng-click="hideReportPopup()">{{'LanguageContents.Res_1305.Caption'|translate}}</a><a id="dynamicReportEditor" class="btn btn-small btn-primary ng-binding" href="{{ReportEdit}}" ng-show="ReportEdit">{{'LanguageContents.Res_20.Caption'|translate}}</a>
                <button type="button" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
            </div>
        </div>
    </div>
    <ul class="dropdown-menu contexMenu" style="display: none;" id="moduleContextmenu">
        <li ng-repeat="item in entitytpesdata | orderBy:'Caption'"><a ng-click="CreateSubEntity($event,item)" data-role='EntityCreation' data-caption="{{item.Caption}}" data-id="{{item.Id}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" data-toggle="modal">{{'LanguageContents.Res_8.Caption'|translate}} {{item.Caption}}
                <i class="icon-"></i><span ng-style="set_color(item.ColorCode)" style="background-color: #{{item.ColorCode.trim()}}" class="eicon">{{item.ShortDescription}}</span></a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="JavaScript: void(0);" ng-click="ContextEntityDuplicate()" ng-show="ShowDuplicateOption">{{'LanguageContents.Res_150.Caption'|translate}}<i class="icon-copy"></i></a></li>
        <li><a tabindex="-1" href="JavaScript: void(0);" data-deletepermission="@deletepermission" ng-click="ContextEntityDelete()" ng-show="ShowDeleteOption">{{'LanguageContents.Res_18.Caption'|translate}}<i class="icon-remove"></i></a></li>
    </ul>
</div>
