﻿@model Presentation.Controllers.ViewController.UserAccessModule
@{
    //Guid session1 = new Guid(((string[])(Request.Headers.GetValues("sessioncookie")))[0]);
    //Guid g1 = new Guid(HttpContext.Current.Request.Cookies["sessioncookie"].Value.ToString());
    var _model = new Presentation.Controllers.ViewController.UserAccessModule();
    //Guid g = Guid.NewGuid();
    //_model.UserSessionID = g;
    //_model.UserSessionID = new Guid("0acb24e6-6fea-47d1-92ab-2dd97ad95651");
    bool addEntityPermission = _model.GetCustomAccess("addEntityPermission");
    bool addDuplicatePermission = _model.GetCustomAccess("addDuplicatePermission");
    bool addDeleteEntityPermission = _model.GetCustomAccess("addDeleteEntityPermission");
    bool addGanttViewPermission = _model.GetCustomAccess("addGanttViewPermission");
    bool addEditAllPermission = _model.GetCustomAccess("addEditAllPermission");
    bool addViewAllPermission = _model.GetCustomAccess("addViewAllPermission");
    string GanttList = "listview";

}
@if (addGanttViewPermission)
{
    GanttList = "ganttview";
}
<div ng-controller="mui.planningtool.default.listCtrl">
    <div id="Div_list"></div>
    <div id="FilterSettingsModal" ng-include src="'views/mui/planningtool/filtersettings.html'"></div>
    <div>
        <div id="left">
            <div class="ActionBtnArea">
                <h2 class="container-padding-left floatLeft">{{'LanguageContents.Res_1456.Caption'|translate}}</h2>
            </div>
            <div class="title">
                <ul class="header">
                    <li>
                        <a ng-click="sort('68')" href="javascript:void();">
                            <i class="icon-"></i>
                            <span>{{'LanguageContents.Res_1.Caption'|translate}}</span>
                            <span ng-show="sort_order=='68' && is_desc==true"><i class="icon-arrow-down"></i></span><span ng-show="sort_order=='68' && is_desc==false"><i class="icon-arrow-up"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav">
                <ul id="treeHolder"></ul>
            </div>
        </div>
        <div id="content">
            <div class="container-fluid container-nopadding">
                <div class="row-fluid">
                    <div class="span12" id="fixedHeight">
                        <div class="row-fluid contentHeader">
                            <div class="span12">
                                <div class="ActionBtnHolder pull-right container-padding-right">
                                    @if (addDeleteEntityPermission)
                                    {
                                        <button ng-model="TrashIcon" class="btn btn-danger btn-small" ng-click="DeleteEntity();" type="button"><i class="icon-trash icon-large"></i></button>
                                    }
                                    <a ng-click="DetailFilterCreation()" class=" btn btn-primary btn-small">{{AddEditFilter}}</a>
                                   <div class="btn-group" id="Filtersettingdiv">
                                    <button data-toggle="dropdown" ng-click="filtersettingsreset();" class="btn dropdown-toggle btn-small">{{appliedfilter}}<span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right" id="rootlevelfilterplan">
                                        <li></li>
                                        <li><a ng-click="ApplyFilter(0, 'No filter applied')" href="javascript:void(0);">{{'LanguageContents.Res_401.Caption'|translate}}</a></li>
                                        <li ng-repeat="item in filterValues">
                                            <a ng-click="ApplyFilter(item.FilterID, item.FilterName)" href="javascript:void(0);" data-toggle="modal" data-id="{{item.FilterID}}">
                                                <span>{{item.FilterName}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                    </div>
                                    <button class="btn btn-small" type="button" data-viewtype="@GanttList" id="ViewSelect">{{'LanguageContents.Res_17.Caption'|translate}}</button>
                                    @if (addDuplicatePermission)
                                    {
                                        <button class="btn btn-small" type="button" ng-click="DuplicateRootLevelEntities()" id="DuplicateRootLevelEntities">{{'LanguageContents.Res_150.Caption'|translate}}</button>
                                    }
                                    @if (addEntityPermission)
                                    {
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-small">{{'LanguageContents.Res_4.Caption'|translate}}<span class="caret"></span></button>
                                            <ul class="dropdown-menu pull-right newRootEntity">
                                                <li ng-repeat="item in rootValues">
                                                    <a ng-click="openrootentitycreationpopup(item.Id,item.Caption)" href="#entityMetadataModel" data-role='EntityCreation' data-caption="{{item.Caption}}" data-id="{{item.Id}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" data-toggle="modal" my-qtip2 qtip-content="{{item.Caption}}">
                                                        <span class="caption">{{item.Caption}}</span>
                                                        <span ng-style="set_color(item.ColorCode)" style="background-color: #{{item.ColorCode.trim()}};" class="eicon">{{item.ShortDescription}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                    @if (addViewAllPermission || addEditAllPermission)
                                    {
                                        <div data-toggle="buttons-radio" class="btn-group">
                                            <button id="btnParticipated" ng-disabled="DisablePart" class="btn btn-small" my-qtip2 qtip-content="List Participated" type="button" ng-click="ShowAll(false)">{{'LanguageContents.Res_638.Caption'|translate}}</button>
                                            <button id="btnViewAll" ng-disabled="!DisablePart" class="btn btn-small" my-qtip2 qtip-content="List All" type="button" ng-click="ShowAll(true)">{{'LanguageContents.Res_61.Caption'|translate}}</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="ListContainerHeader">
                                    <table class="table table-list table-list-left2X" id="ListColumn">
                                        <thead>
                                        </thead>
                                    </table>
                                </div>
                                <div ng-show="noData" class="noDataAvailable">
                                    {{'LanguageContents.Res_1451.Caption'|translate}}
                                </div>
                                <div class="list_rightblock" id="ListContainer">
                                    <table class="table table-list table-list-left2X"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
