﻿@model Presentation.Controllers.ViewController.UserAccessModule
@{                                  
    bool addEntityPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Objective, Presentation.Controllers.ViewController.UserAccessModule.Operations.Create);
    bool addDuplicatePermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Duplicate, Presentation.Controllers.ViewController.UserAccessModule.Operations.Create);
    bool addDeleteEntityPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Objective, Presentation.Controllers.ViewController.UserAccessModule.Operations.Delete);
    bool addListViewPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.ListView, Presentation.Controllers.ViewController.UserAccessModule.Operations.Allow);
    bool addEditAllPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.ViewEditAll, Presentation.Controllers.ViewController.UserAccessModule.Operations.Allow);
    bool addViewAllPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.ViewAll, Presentation.Controllers.ViewController.UserAccessModule.Operations.Allow);
    string GanttList = "ganttview";      
}
@if (addListViewPermission)
{
    GanttList = "listview";
}

<div ng-controller="mui.planningtool.objective.listCtrl">
    <div id="Div_Objlist"></div>
    <div id="FilterSettingsModal" ng-include src="'views/mui/planningtool/filtersettings.html'"></div>
    <div>
        <div id="left">
            <div class="ActionBtnArea">
                <h2 class="container-padding-left floatLeft">{{'LanguageContents.Res_717.Caption'|translate}}</h2>
            </div>
            <div class="title">
                <ul class="header">
                    <li><a href="javascript:void();"><i class="icon-"></i><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></a></li>
                </ul>
            </div>
            <div class="sidebar-nav">
                <ul id="treeHolder"></ul>
            </div>
        </div>
        <div id="content">
            <div class="container-fluid container-nopadding">
                <div class="row-fluid">
                    <div class="span12" id="fixedHeight">
                        <div class="row-fluid contentHeader">
                            <div class="span12">
                                <div class="ActionBtnHolder pull-right container-padding-right">
                                    @if (addDeleteEntityPermission)
                                    {
                                        <button ng-model="TrashIcon" class="btn btn-danger btn-small" ng-click="DeleteEntity();" type="button"><i class="icon-trash icon-large"></i></button>
                                    }
                                    <a ng-click="DetailFilterCreation()" class=" btn btn-primary btn-small" href="javascript:void(0);">{{AddEditFilter}}</a><div class="btn-group" id="Filtersettingdiv">
                                        <button data-toggle="dropdown" ng-click="filtersettingsreset();" class="btn dropdown-toggle btn-small">{{appliedfilter}}<span class="caret"></span></button><ul class="dropdown-menu pull-right" id="rootlevelfilterplan">
                                            <li></li>
                                            <li><a ng-click="ApplyFilter(0, 'No filter applied')" href="javascript:void(0);">{{'LanguageContents.Res_401.Caption'|translate}}</a></li>
                                            <li ng-repeat="item in filterValues"><a ng-click="ApplyFilter(item.FilterID, item.FilterName)" href="javascript:void(0);" data-toggle="modal" data-id="{{item.FilterID}}"><span>{{item.FilterName}}</span></a></li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-small" type="button" data-viewtype="@GanttList" id="ViewSelect">{{'LanguageContents.Res_17.Caption'|translate}}</button>
                                    @if (addEntityPermission)
                                    {
                                        @*<a class="btn btn-primary btn-small" id="rootLevelEntity" href="#newObjectiveControls" ng-click="LoadObjectiveControls()" data-toggle="modal">
                                        <span>{{'LanguageContents.Res_4.Caption'|translate}}</span>
                                        </a>*@
                                        <div class="btn-group">
                                            <button ng-show="ObjectiveCreationVar.IsToShowRootObjEntity" data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-small margin-left5x">{{'LanguageContents.Res_4.Caption'|translate}}<span class="caret"></span></button>
                                            <ul class="dropdown-menu pull-right newRootEntity">
                                                <li ng-repeat="item in rootValues">
                                                    <a ng-click="LoadAttributesForObjectiveCreation(item.Id,item.Caption, item.ObjectiveBaseType, item.Id, item.UnitId)" href="javascript:void(0)" data-role='EntityCreation' data-caption="{{item.Caption}}" data-id="{{item.Id}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" data-toggle="modal" my-qtip2 qtip-content="{{item.Caption}}">
                                                        <span class="caption">{{item.Caption}}</span>
                                                        <span ng-style="set_color(item.ColorCode)" style="background-color: #{{item.ColorCode.trim()}};" class="eicon">{{item.ShortDescription}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        @*<div class="btn-group nomargin" ng-include src="'views/mui/planningtool/objective/objectivecreation.html'"></div>*@
                                    }
                                    @if (addViewAllPermission || addEditAllPermission)
                                    {
                                        <div data-toggle="buttons-radio" class="btn-group">
                                            <button id="btnParticipated" ng-disabled="DisablePart" class="btn btn-small" my-qtip2 qtip-content="List Participated" type="button" ng-click="ShowAll(false)">{{'LanguageContents.Res_638.Caption'|translate}}</button>
                                            <button id="btnViewAll" ng-disabled="!DisablePart" class="btn btn-small" my-qtip2 qtip-content="List All" type="button" ng-click="ShowAll(true)">{{'LanguageContents.Res_61.Caption'|translate}}</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="ListContainerHeader">
                                    <table class="table table-list table-list-left2X" id="ListColumn">
                                        <thead></thead>
                                    </table>
                                </div>
                                <div ng-show="noData" class="noDataAvailable">
                                    {{'LanguageContents.Res_732.Caption'|translate}}
                                </div>
                                <div class="list_rightblock" id="ListContainer">
                                    <table class="table table-list table-list-left2X"></table>
                                </div>
                            </div>
                        </div>
                        @*                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="820" tabindex="-1" class="modal hide fade" id="newObjectiveControls" style="display: none;">
                            <div ng-include src="'views/mui/planningtool/objective/objectivecreation.html'"></div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
