﻿<!--<div ng-controller="mui.planningtool.objective.objectivecreationCtrl">-->
<!--<div aria-hidden="true" aria-labelledby="myModalLabel" data-width="900" role="dialog" tabindex="-1" class="modal" id="ObjectiveMetadataModel" style="display: none;">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancelmodel()" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 my-qtip2 qtip-content="{{Objective.ngObjectiveName}}">{{'LanguageContents.Res_730.Caption'|translate}} : {{Objective.ngObjectiveName}}</h3>
</div>
<div class="modal-body">
    <div id="ObjectiveWizard" class="wizard" ng-click="changeTab()">
        <ul class="steps" id="objectiveentitywizardStepClass">
            <li data-target="#step1" ng-click="changeObjectiveTab2($event)" class="active"><span class="badge badge-info">1</span>{{'LanguageContents.Res_38.Caption'|translate}}<span class="chevron"></span></li>
            <li data-target="#step2" ng-click="changeObjectiveTab2($event)"><span class="badge">2</span>{{'LanguageContents.Res_517.Caption'|translate}}<span class="chevron"></span></li>
            <li data-target="#step3" ng-click="changeObjectiveTab2($event)"><span class="badge">3</span>{{'LanguageContents.Res_1221.Caption'|translate}}<span class="chevron"></span></li>
            <li data-target="#step4" ng-click="changeObjectiveTab2($event)"><span class="badge">4</span>{{'LanguageContents.Res_11.Caption'|translate}}<span class="chevron"></span></li>
        </ul>
    </div>
    <div class="step-content">
        <div class="step-pane active" id="step1">
            <form class="MetadataBlock notvalidate" id="ObjectiveTablMetadata">
                <input style="display: none;" type="submit" id="btnTemp" class="ng-scope" invisible>
            </form>
        </div>
        <div class="step-pane" id="step2">
            <div class="MetadataBlock">
                <!-- <form id="ObjectiveTypeTab">
                            <div class="control-group">
                                <label class="control-label" for="ObjectiveType">{{'LanguageContents.Res_703.Caption'|translate}}</label><div class="controls">
                                    <select ng-change="objectiveTypeChange()" ui-select2 ng-model="Objective.ngObjectiveType">
                                        <option ng-selected="true" value="1">{{'LanguageContents.Res_4534.Caption'|translate}}</option>
                                        <option value="2">{{'LanguageContents.Res_4533.Caption'|translate}}</option>
                                        <option value="3">{{'LanguageContents.Res_706.Caption'|translate}}</option>
                                        <option value="4">{{'LanguageContents.Res_707.Caption'|translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </form>-->
                <form id="Numericform" ng-show="numericqunatitativedisplay">
                    <div id="numericQuantitativediv">
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="ObjectiveNumericUnits">{{'LanguageContents.Res_708.Caption'|translate}}</label>
                                    <div class="controls">
                                        <select ui-select2 ng-model="Objective.ngObjectiveNumericUnits" data-placeholder="Select Units">
                                            <option value=""></option>
                                            <option ng-repeat="item in ObjectiveUnitsData" value="{{item.Id}}">{{item.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="checkbox">
                                        <label class="control-label" for="ObjectiveNumericGlobalbaseline">
                                            <input type="checkbox" ng-model="numglobalchecked" id="ObjectiveNumericGlobalbaselineCheck" />
                                            {{'LanguageContents.Res_709.Caption'|translate}}
                                        </label>
                                    </div>
                                    <div class="controls">
                                        <input class="currencyTextbox" type="text" ng-disabled="numglobalchecked==false" ng-model="Objective.ngObjectiveNumericGlobalbaseline" id="ObjectiveNumericGlobalbaseline" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="checkbox">
                                        <label class="control-label" for="ObjectiveNumericGlobaltarget">
                                            <input class="currencyTextbox" type="checkbox" ng-model="numtargetchecked" id="ObjectiveNumericGlobaltargetCheck" />
                                            {{'LanguageContents.Res_710.Caption'|translate}}
                                        </label>
                                    </div>
                                    <div class="controls">
                                        <input class="currencyTextbox" type="text" ng-disabled="numtargetchecked==false" ng-model="Objective.ngObjectiveNumericGlobaltarget" id="ObjectiveNumericGlobaltarget" />
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label class="control-label" for="ObjectiveNumericEnableComments">
                                        <input class="currencyTextbox" type="checkbox" ng-model="Objective.ngObjectiveNumericEnableCommentsCheck" id="ObjectiveNumericEnableCommentsCheck" />
                                        {{'LanguageContents.Res_711.Caption'|translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="span8">
                                <div class="control-group">
                                    <label class="control-label" for="ObjectiveNumericDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                                    <div class="controls">
                                        <textarea class="descBox" rows="3" ng-model="Objective.ngObjectiveNumericDescriptionInstructions" id="ObjectiveNumericDescriptionInstructions"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input style="display: none;" type="submit" id="btnnumeric" class="ng-scope" invisible>
                </form>
                <form id="NonNumericform" ng-show="nonNumericQuantivedisplay">
                    <div id="nonNumericQuantitativediv">
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="ObjectivenonNumericUnits">{{'LanguageContents.Res_708.Caption'|translate}}</label>
                                    <div class="controls">
                                        <select ui-select2 ng-model="Objective.ngObjectivenonNumericUnits" data-placeholder="Select Units">
                                            <option value=""></option>
                                            <option ng-repeat="item in ObjectiveUnitsData" value="{{item.Id}}">{{item.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="checkbox">
                                        <label class="control-label" for="ObjectiveNonNumericGlobalbaseline">
                                            <input type="checkbox" ng-model="nonglobalchecked" id="ObjectiveNonNumericGlobalbaselineCheck" />
                                            {{'LanguageContents.Res_709.Caption'|translate}}
                                        </label>
                                    </div>
                                    <div class="controls">
                                        <input class="currencyTextbox" type="text" ng-disabled="nonglobalchecked==false" ng-model="Objective.ngObjectiveNonNumericGlobalbaseline" id="ObjectiveNonNumericGlobalbaseline" id="Text2" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="checkbox">
                                        <label class="control-label" for="ObjectiveNonNumericGlobaltarget">
                                            <input class="currencyTextbox" type="checkbox" ng-model="nontargetchecked" id="ObjectiveNonNumericGlobaltargetCheck" />
                                            {{'LanguageContents.Res_710.Caption'|translate}}
                                        </label>
                                    </div>
                                    <div class="controls">
                                        <input class="currencyTextbox" type="text" ng-disabled="nontargetchecked==false" ng-model="Objective.ngObjectiveNonNumericGlobaltarget" id="ObjectiveNonNumericGlobaltarget" />
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label class="control-label" for="ObjectivenonNumericEnableComments">
                                        <input type="checkbox" ng-model="Objective.ngObjectivenonNumericEnableCommentsCheck" id="ObjectivenonNumericEnableCommentsCheck" />
                                        {{'LanguageContents.Res_711.Caption'|translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="span8">
                                <div class="control-group">
                                    <label class="control-label" for="ObjectivenonNumericDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                                    <div class="controls">
                                        <textarea class="descBox" rows="3" ng-model="Objective.ngObjectivenonNumericDescriptionInstructions" id="ObjectivenonNumericDescriptionInstructions"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input style="display: none;" type="submit" id="btnnonnumeric" class="ng-scope" invisible>
                </form>
                <form id="Qualitativeform" ng-show="qualitativedisplay">
                    <div id="qualititativediv">
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="ObjectiveQulaitativeDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                                    <div class="controls">
                                        <textarea class="small-textarea" rows="3" ng-model="Objective.ngObjectiveQulaitativeDescriptionInstructions" id="ObjectiveQulaitativeDescriptionInstructions"></textarea>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label class="control-label" for="ObjectiveQulaitativeEnableComments">
                                        <input type="checkbox" ng-model="Objective.ngObjectiveQulaitativeEnableCommentsCheck" id="ObjectiveQulaitativeEnableCommentsCheck">
                                        {{'LanguageContents.Res_711.Caption'|translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="span8"></div>
                        </div>
                    </div>
                    <input style="display: none;" type="submit" id="btnqualitative" class="ng-scope" invisible>
                </form>
                <form id="Ratingform" ng-show="ratingsdisplay">
                    <div id="ratingsdiv">
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="ObjectiveRatingDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                                    <div class="controls">
                                        <textarea class="small-textarea" rows="3" ng-model="Objective.ngObjectiveRatingDescriptionInstructions" id="ObjectiveRatingDescriptionInstructions"></textarea>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label class="control-label" for="ObjectiveRatingEnableComments">
                                        <input type="checkbox" ng-model="Objective.ngObjectiveRatingEnableCommentsCheck" id="ObjectiveRatingEnableCommentsCheck" />
                                        {{'LanguageContents.Res_711.Caption'|translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="span8">
                                <div class="control-group">
                                    <label class="control-label" for="ObjectiveRatings">{{'LanguageContents.Res_729.Caption'|translate}}</label>
                                    <div class="controls">
                                        <table id="tblRatingright">
                                            <tbody id="tblRatingRightbody" noofratingspresent="2"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input style="display: none;" type="submit" id="btnrating" class="ng-scope" invisible>
                </form>
            </div>
        </div>
        <div class="step-pane" id="step3">
            <div class="MetadataBlock">
                <form class="form-inline" id="ObjectiveFulfillTab">
                    <div class="control-group">
                        <label class="control-label" for="ObjectiveDaterange">{{'LanguageContents.Res_802.Caption'|translate}}</label>
                        <div class="controls input-append">
                            <input type="text" id="ObjectiveStatDaterange" ng-model="Objective.ngObjectiveStatDaterange" required="StartDate" ng-click="dynCalanderopen($event,'Objective.ngObjectiveStatDaterange',StartDate)" datepicker-popup="{{format}}" is-open="StartDate" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="--StartDate--" value="">
                            <button type="button" class="btn" ng-click="dynCalanderopen($event,'Objective.ngObjectiveStatDaterange',StartDate)" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                        </div>
                        <div class="controls input-append">
                            <input type="text" id="ObjectiveEndDaterange" ng-model="Objective.ngObjectiveEndDaterange" required="EndDate" ng-click="Calanderopen($event,'Objective.ngObjectiveEndDaterange',EndDate)" datepicker-popup="{{format}}" is-open="EndDate" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="--EndDate--" value="">
                            <button type="button" class="btn" ng-click="Calanderopen($event,Objective.ngObjectiveEndDaterange,EndDate)" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                        </div>
                    </div>
                    <input style="display: none;" type="submit" id="btnTemp3" class="ng-scope" invisible>
                </form>
                <form class="form-inline">
                    <div class="control-group" id="ObjectiveFulfillDateRule">
                        <label class="control-label" for="ObjectiveDaterule">{{'LanguageContents.Res_815.Caption'|translate}}</label>
                        <span>{{'LanguageContents.Res_726.Caption'|translate}}</span>
                        <select ui-select2 ng-model="Objective.ngObjectiveDaterule">
                            <option value="1">{{'LanguageContents.Res_4771.Caption'|translate}}</option>
                            <option value="2">{{'LanguageContents.Res_4087.Caption'|translate}}</option>
                        </select>
                        <span>{{'LanguageContents.Res_727.Caption'|translate}}.</span>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="control-group">
                        <label class="control-label" for="ObjectiveMandatory">{{'LanguageContents.Res_806.Caption'|translate}}</label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="Objective.ngObjectiveMandatoryCheck" id="ObjectiveMandatoryCheck">
                        </label>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="control-group">
                        <div class="ObjectiveFullFillMent">
                            <div id="ObjectiveFulfillmentMetadatatbody" ng-click="LoadObjectiveFulfillmentMetadatatbody($event)">
                                <div id="container0" data-control="main" data-holder="holder" data-uniquekey="container0" data-id="0">
                                    <ul class="repeter">
                                        <li class="form-inline">
                                            <div class=""></div>
                                            <label class="control-label" for="ObjectiveCondition">{{'LanguageContents.Res_810.Caption'|translate}}</label>
                                            <select ui-select2 id="ObjConditionType0" ng-model="dummymodule_ConditionType_0">
                                                <option value="">--{{'LanguageContents.Res_811.Caption'|translate}}--</option>
                                                <option value="1">{{'LanguageContents.Res_813.Caption'|translate}} </option>
                                                <option value="2" ng-selected="true">{{'LanguageContents.Res_812.Caption'|translate}} </option>
                                            </select>
                                            <label>{{'LanguageContents.Res_807.Caption'|translate}}</label>
                                            <select ui-select2 id="ObjEntityType0" ng-model="dummymodule_EntityType_0" data-role="EntityType">
                                                <option value="0">-- {{'LanguageContents.Res_39.Caption'|translate}} --</option>
                                            </select>
                                            <label>{{'LanguageContents.Res_808.Caption'|translate}}</label>
                                            <select ui-select2 id="ObjEntityAttributes0" ng-model="dummymodule_Attributes_0" data-role="Attributes">
                                                <option value="0">-- {{'LanguageContents.Res_39.Caption'|translate}} --</option>
                                            </select>
                                            <label>{{'LanguageContents.Res_809.Caption'|translate}}</label>
                                            <select ui-select2 multiple="multiple" id="ObjAttributeOptions0" ng-model="dummymodule_Options_0" data-role="Equals">
                                                <option value="0">-- {{'LanguageContents.Res_39.Caption'|translate}} --</option>
                                            </select>
                                            <button class="btn" data-role="Add"><i class="icon-plus" data-role="Add"></i></button>
                                            <button class="btn" data-role="Remove"><i class="icon-remove" data-role="Remove"></i></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input style="display: none;" type="submit" id="btnFulfill" class="ng-scope" invisible>
                </form>
            </div>
        </div>
        <div class="step-pane" id="step4">
            <div class="MetadataBlock">
                <div class="MemberBlockContainer">
                    <form class="form-inline">
                        <input type="text" id="Text1" autocomp ng-model="fields.usersID" />
                        <select ng-model="fields.userRoles" ui-select2 id="userRole">
                            <option value="" ng-selected="true">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                            <option value="{{item.ID}}" ng-repeat="item in Roles">{{item.Caption}}</option>
                        </select>
                        <button ng-click="addUsers()" ng-model="fillgrid" class="btn btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                    </form>
                    <table class="table table-normal-both table-normal-both-big-left">
                        <thead>
                            <tr>
                                <th><span></span></th>
                                <th><span>{{'LanguageContents.Res_32.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_259.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_33.Caption'|translate}}</span></th>
                                <td><span>{{QuickInfo1AttributeCaption}}</span></td>
                                <td><span>{{QuickInfo2AttributeCaption}}</span></td>
                                <th><span></span></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="MemberBlock">
                        <table class="table table-normal-both table-normal-both-big-left">
                            <tbody id="Tbody1">
                                <tr ng-repeat="item in OwnerList" userid="{{item.Userid}}">
                                    <td><span>
                                        <img class="avatar" src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="ownerimg" /></span></td>
                                    <td><span>{{item.UserName}}</span></td>
                                    <td><span>{{item.RoleName}}</span></td>
                                    <td><span>{{item.UserEmail}}</span></td>
                                    <td><span>{{item.QuickInfo1}}</span></td>
                                    <td><span>{{item.QuickInfo2}}</span></td>
                                    <td><span></span></td>
                                </tr>
                            </tbody>
                            <tbody id="CreateNewMember">
                                <tr ng-repeat="item in MemberLists" userid="{{item.Userid}}">
                                    <td><span>
                                        <img class="avatar" src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="memberimg" /></span></td>
                                    <td><span>{{item.UserName}}</span></td>
                                    <td><span>{{item.RoleName}}</span></td>
                                    <td><span>{{item.UserEmail}}</span></td>
                                    <td><span>{{item.QuickInfo1}}</span></td>
                                    <td><span>{{item.QuickInfo2}}</span></td>
                                    <td><span><i ng-click="deleteOptions(item)" ng-show="item.FromGlobal==0" class="icon-remove"></i></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="createNewObjective($event)" id="btnWizardFinish" ng-model="saveEntity" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
    <button type="button" id="btnWizardNext" ng-click="changenexttab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_5.Caption'|translate}}</button>
    <button type="button" id="btnWizardPrev" ng-click="changePrevTab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_6.Caption'|translate}}</button>
    <button type="button" ng-click="cancelmodel()" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
</div>
<!--</div>-->
<div id="filescontaineroo" style="display: none;">
    <button id="pickfilesUploaderAttr" class="pickFiles" type="submit"></button>
</div>
<!--</div>-->
