﻿<div id="container" ng-controller="mui.planningtool.myworkspaces.listCtrl">
    <div id="left">
        <div class="ActionBtnArea">
            <h2 class="container-padding-left floatLeft">{{'LanguageContents.Res_4495.Caption'|translate}}</h2>
        </div>
        <div class="title">
            <ul class="header">
                <li>
                    <a href="javascript:void();">
                        <i class="icon-"></i>
                        <span>{{'LanguageContents.Res_1.Caption'|translate}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-nav">
            <ul class="nav-holder" role="group" id="treeHolder"></ul>
        </div>
    </div>
    <!-- #left -->
    <!-- <div id="separator"></div>-->
    <!-- #separator -->
    <div id="content">
        <div class="container-fluid container-nopadding">
            <!-- Here we can put the title-->
            <div class="row-fluid">
                <div class="span12" id="fixedHeight">
                    <div class="row-fluid contentHeader">
                        <div class="span12">
                            <div class="ActionBtnHolder pull-right container-padding-right">
                                <div>
                                    <div class="controls">
                                        <div class="row-fluid ws-filterPane">
                                            <form class="form-inline">
                                                <label for="fields.TextSingleLine_ 309" class="control-label">{{'LanguageContents.Res_662.Caption'|translate}}:</label>
                                                <input type="text" class="sdate" placeholder="-- Start date --" ng-model="filterCntrls.filterstartDate" name="startDate" value="" id="workspacefilterstartDate" ng-click="Calanderopen($event,calanderopened)" datepicker-popup="{{format}}" is-open="calanderopened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" class="ng-valid ng-dirty ng-valid-date">
                                                <input type="text" class="edate" placeholder="-- End date --" ng-model="filterCntrls.filterendDate" id="workspacefilterendDate" name="enddate" value="" ng-click="dynCalanderopen($event,enddate1)" datepicker-popup="{{format}}" is-open="enddate1" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" class="ng-valid ng-dirty ng-valid-date">
                                                <label for="fields.TextSingleLine_ 309" class="control-label">{{'LanguageContents.Res_728.Caption'|translate}}:</label>
                                                <input type="text" class="input-small ng-pristine ng-valid" placeholder="Keyword" ng-model="filterCntrls.filterKeywords">
                                                <div class="btnPane">
                                                    <a class="btn btn-small ng-binding" ng-click="WorkspaceWithoutFilter();">{{'LanguageContents.Res_4161.Caption'|translate}}</a>
                                                    <a class="btn btn-primary btn-small ng-binding" ng-click="ApplyWorkspaceFilter()" href="javascript:void(0);">{{'LanguageContents.Res_405.Caption'|translate}}</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="ListContainerHeader">
                                <table class="table table-list table-list-left2X" id="ListColumn">
                                    <thead>
                                    </thead>
                                </table>
                            </div>
                            <div ng-show="noData" class="noDataAvailable">
                                {{'LanguageContents.Res_1804.Caption'|translate}}
                            </div>
                            <div ng-show="noDataforFilter" class="noDataAvailable">
                                {{'LanguageContents.Res_1805.Caption'|translate}}
                            </div>
                            <div class="list_rightblock" id="ListContainer">
                                <table class="table table-list table-list-left2X"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
