﻿<!--<div id="assetcreation" ng-controller="mui.DAM.assetcreateCtrl">-->
<!--<div id="assetPopup" class="modal hide fade fileUploadPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="1180">-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="closepopupfunction()" aria-hidden="true">×</button>
    <h3 id="H2">{{Assetcaption}}</h3>
</div>
<div class="modal-body" id="assetscontainer">
    <div class="row-fluid">
        <div class="span12">
            <div class="upload_box">
                <div class="attachmentContainer">
                    <div id="assetlistActivity" class="assetlistActivity">
                    </div>
                    <div class="loadIcon-large" ng-show="uploadingInProgress">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="attachment-dragfiles" id="dragActivityassets" ng-show="dragAsset">
        <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
        <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
        <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
        <div><a href="JavaScript:void(0);" id="pickassets" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
    </div>
</div>
<div class="modal-footer">
    <div class="attachment-progress pull-left" id="totalAssetActivityAttachProgress" ng-show="AttachProgress"></div>
    <a id="uploadassets" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{Savecaption}}</a>
    <a id="pickassetsAlternate" href="JavaScript:void(0);" class="btn btn-small btn-primary AssetBrowse"  ng-click="Browsecheck()" ng-show="Browse">{{'LanguageContents.Res_29.Caption'|translate}}</a>
    <a id="createblankAsset" ng-click="createblankAsset()" href="JavaScript:void(0);" class="btn btn-small btn-primary" ng-show="CreateAsset">Create Asset</a>
    <a id="clearAssetUploader" href="JavaScript:void(0);" class="btn btn-small" ng-click="closepopupfunction()" data-dismiss="modal" aria-hidden="true">{{'LanguageContents.Res_14.Caption'|translate}}</a>
</div>
<!--</div>-->

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal dynamicTreePopup" id="AssetCategoryTree" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h3 id="H1">{{'LanguageContents.Res_4734.Caption'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div id="dynamicAssetTypeTree">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true">{{'LanguageContents.Res_14.Caption'|translate}}</a>
    </div>
</div>
<div id="filescontainerooAsset" style="display: none;">
    <button id="pickfilesUploaderAttrAsset" class="pickFiles" type="submit"></button>
</div>
<!--</div>-->
