﻿<div ng-controller="mui.DAM.assettaskCtrl">
    <div id="loadworktask" class="modal hide fade addTaskPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="910">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="Close()">×</button>
            <h3 id="H1">{{TaskActionCaption}}</h3>
        </div>
        <div class="modal-body" ng-switch="TaskType">
            <div class="row-fluid">
                <div class="span4 leftSection">
                    <form id="DamTaskDynamicMetadata">
                        <div class="control-group">
                            <label>{{'LanguageContents.Res_4823.Caption'|translate}}</label>
                            <div>

                                <select ui-select2 ng-model="AssetTaskList" id="TaskList" ng-disabled="freezeTaskList" name="TaskType" data-placeholder="Select Task List">
                                    <option selected value="0">{{'LanguageContents.Res_5552.Caption'|translate}}</option>
                                    <option ng-repeat="item in TaskLibraryList" value="{{item.ID}}">{{item.LibraryName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label>{{'LanguageContents.Res_648.Caption'|translate}}</label>
                            <div ng-switch="ShowDamAssetApprovalType">
                                <div ng-switch-when="0">
                                    <select ui-select2 ng-model="AssetTaskTypeObj.AssetTaskType" id="damTaskType1" ng-change="createdynamicControls(AssetTaskTypeObj.AssetTaskType)" ng-disabled="DisableIsAdminTask" name="TaskType" data-placeholder="Select Task Type">
                                        <!-- <option ng-repeat="item in TaskTypeList | filter:TaskTypeFilter" value="{{item.Id}}">{{item.Caption}}</option>-->

                                        <option ng-repeat="item in TaskTypeList " value="{{item.Id}}">{{item.Caption}}</option>
                                    </select>
                                </div>
                                <div ng-switch-when="1">
                                    <select ui-select2 ng-model="AssetTaskTypeObj.AssetTaskType" id="Select2" ng-change="createdynamicControls(AssetTaskTypeObj.AssetTaskType)" ng-disabled="DisableIsAdminTask" name="TaskType" data-placeholder="Select Task Type">
                                        <option ng-repeat="item in TaskTypeList" value="{{item.Id}}">{{item.Caption}}</option>
                                    </select>
                                </div>
                                <div ng-switch-when="2">
                                    <select ui-select2 ng-model="AssetTaskTypeObj.AssetTaskType" id="Select1" ng-change="createdynamicControls(AssetTaskTypeObj.AssetTaskType)" ng-disabled="DisableIsAdminTask" name="TaskType" data-placeholder="Select Task Type">
                                        <option ng-repeat="item in TaskTypeList" value="{{item.Id}}">{{item.Caption}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label>{{'LanguageContents.Res_1.Caption'|translate}}</label>
                            <input id="addtaskcaption" ng-model="NewTaskName" name="NewTaskName" type="text" placeholder="Name" />
                        </div>
                        <div class="control-group">
                            <label>{{'LanguageContents.Res_22.Caption'|translate}}</label>
                            <textarea ng-model="TaskDescription" name="TaskDescription" rows="3"></textarea>
                        </div>
                        <div class="control-group">
                            <label>{{'LanguageContents.Res_23.Caption'|translate}}</label>
                            <input type="text" ng-model="TaskDueDate" ng-click="dynCalanderopen($event,TaskDueDate1)" datepicker-popup="{{format}}" is-open="TaskDueDate1" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="" />
                        </div>
                        <div id="damtaskDynamicTaskControls"></div>
                        <div class="control-group">
                            <label>{{'LanguageContents.Res_1008.Caption'|translate}}</label>
                            <select class="multiselect" data-placeholder="Select filter" name="TaskMembersList" id="TaskMembersList"
                                ng-model="TaskMembersList" ng-options="item.Userid as item.UserName for item in EntityDistinctMembers"
                                multiple="multiple" multiselect-dropdown>
                            </select>
                        </div>
                        <div class="control-group">
                            <label class="ng-binding" ng-switch-when="2">{{'LanguageContents.Res_4155.Caption'|translate}}</label>
                            <ul class="repeter" ng-switch-when="2">
                                <li ng-repeat="adminCheck in AdminTaskCheckList">
                                    <input type="text" class="chkListBox" ng-model="adminCheck.Name">
                                    <button class="btn" ng-click="AddCheckList($index)"><i class="icon-plus"></i></button>
                                    <button class="btn" ng-click="RemoveCheckList($index,adminCheck.Id)"><i class="icon-remove"></i></button>
                                    <li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="span8 rightSection">
                    <div class="addAssetNewtask-Attachments">
                        <div class="addfromGenAttachments-assettask">
                            <h4 class="addAtt-header" id="addfromGenAttachments-Asset-Task">{{'LanguageContents.Res_4104.Caption'|translate}}</h4>
                            <div class="addAtt-content">
                                <div class="upload_box">
                                    <div class="attachmentContainer" id="Div3">
                                        <div id="assettaskentityattachassetdata" class="assetlistActivity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="CreateUnassignedNewTask()" id="ngDamShowUnassigned" ng-show="ngShowUnassigned" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button ng-click="CreateNewTask()" id="DamCreatedamNewTaskBtn" ng-show="ngShowTaskCreation" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Close()">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
