﻿<div ng-controller="mui.DAM.assetsummaryCtrl">
    <div id="assetsummaryview"></div>
    <ul id="assetsummaryActionMenu" style="display: none;" class="dropdown-menu contexMenu">
        <li ng-show="AssetFilesObj.IsLock == false"><a tabindex="-1" ng-click="CallBackAssetAction(1,0,0)" href="javascript:void(0)">{{'LanguageContents.Res_4062.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.IsLock == false"><a tabindex="-1" ng-click="assetMenuActions('viewlightbox')" href="javascript:void(0)">{{'LanguageContents.Res_4898.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.IsLock == false" style="display: none;"><a tabindex="-1" ng-click="CallBackAssetAction(10,0,0)" href="javascript:void(0)">{{'LanguageContents.Res_4898.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.HideCreateTask && processingsrcobj.processinglock == false"><a tabindex="-1" ng-click="CallBackAssetAction(2,1,2)" href="javascript:void(0)">{{'LanguageContents.Res_1009.Caption'|translate}}</a></li>
        <!-- <li><a tabindex="-1" ng-click="CallBackAssetAction(7,0,0)" href="javascript:void(0)">{{'LangContents.Res_25.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.HideAssetApproval && processingsrcobj.processinglock == false"><a tabindex="-1" ng-click="CallBackAssetAction(3,1,32)" href="javascript:void(0)">{{'LanguageContents.Res_4176.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.HideproofApproval && processingsrcobj.processinglock == false && userisProofInitiator == true"><a tabindex="-1" ng-click="CallBackAssetAction(3,1,36)" href="javascript:void(0)">{{'LanguageContents.Res_4923.Caption'|translate}}</a></li>-->
        <li ng-show="AssetFilesObj.HidePublishDAM && processingsrcobj.processinglock == false && IsPublish && userpublishaccess"><a tabindex="-1" ng-click="CallBackAssetAction(4,0,0)" href="javascript:void(0)">{{'LanguageContents.Res_4668.Caption'|translate}}</a></li>
        <li ng-show="AssetFilesObj.HidePublishDAM && processingsrcobj.processinglock == false && UnPublish"><a tabindex="-1" ng-click="CallBackAssetAction(12,0,0)" href="javascript:void(0)">{{'LanguageContents.Res_245.Caption'|translate}}<</a></li>
        <li ng-show="processingsrcobj.processinglock == false"><a tabindex="-1" ng-click="CallBackAssetAction(13,0,0)" href="javascript:void(0)">{{'LanguageContents.Res_246.Caption'|translate}}</a></li>
        <li ng-show="processingsrcobj.processinglock == false"><a tabindex="-1" ng-click="assetMenuActions('send')" href="javascript:void(0)">{{'LanguageContents.Res_4736.Caption'|translate}}</a></li>

        <li ng-show="processingsrcobj.processinglock == false" class="divider"></li>
        <li ng-show="processingsrcobj.processinglock == false"><a tabindex="-1" href="javascript:void(0)" ng-click="CallBackAssetAction(8,0,0)" ng-click="PerformAssetOperation(1)">{{'LanguageContents.Res_4196.Caption'|translate}}</a></li>
        <li ng-show="processingsrcobj.processinglock == false"><a tabindex="-1" href="javascript:void(0)" ng-click="CallBackAssetAction(9,0,0)" ng-click="PerformAssetOperation(2)">{{'LanguageContents.Res_4171.Caption'|translate}}</a></li>
        <li ng-show="processingsrcobj.processinglock == false" class="divider"></li>
        <li ng-show="processingsrcobj.processinglock == false"><a tabindex="-1" ng-click="CallBackAssetAction(5,0,0)" href="javascript:void(0)">{{'LanguageContents.Res_150.Caption'|translate}}</a></li>
        <li ng-show="processingsrcobj.processinglock == false"><a tabindex="-1" ng-click="CallBackAssetAction(6,0,0)" href="javascript:void(0)">{{'LanguageContents.Res_18.Caption'|translate}}</a></li>
        <li ng-show="Isblankasset"><a ng-click="CallBackAssetAction(7,0,0)" href="javascript:void(0)">{{'LanguageContents.Res_249.Caption'|translate}}</a></li>
        <li><a ng-click="CallBackAssetAction(11,0,0)" href="javascript:void(0)">{{'LanguageContents.Res_248.Caption'|translate}}</a></li>
        <li ng-show="showhidepackage"><a href="javascript:void(o)" ng-click="CallBackAssetAction(11,1,0)">{{'LanguageContents.Res_247.Caption'|translate}}</a></li>
        <li ng-show="processingsrcobj.processinglock == false" class="divider"></li>
        <li ng-show="processingsrcobj.processinglock == false"><a tabindex="-1" ng-click="assetMenuActions('ManageVersion')" href="javascript:void(0)">{{'LanguageContents.Res_4007.Caption'|translate}}</a></li>
        <li ng-show="processingsrcobj.processinglock == false"><a tabindex="-1" ng-click="assetMenuActions('ReplaceThumpnail')" href="javascript:void(0)">{{'LanguageContents.Res_244.Caption'|translate}}</a></li>
    </ul>
</div>
