﻿<div class="modal-header">
    <div class="row-fluid">
        <div class="span7">
            <h2 ng-show="notReadOnly && EntityIsLock== false && LinkedAsset== false ">
                <span class="readOnly" ng-show="showspan || EntityIsLock== true || LinkedAsset== true || Isassetlibrary == true" my-qtip2 qtip-content="{{AssetAccess.AssetName}}">{{AssetAccess.AssetName}}</span>
                <a href="javascript:void(0);" ng-show="DisableEnableforLink && EntityIsLock== false && LinkedAsset== false && Isassetlibrary == false " id="a_editassetname" class="TaskHeader" ng-hide="editable == 'name'" ng-click="editable = 'name';AssetTitleChange(AssetAccess.AssetName)" class="ng-pristine ng-valid ng-binding" my-qtip2 qtip-content="{{AssetAccess.AssetName}}">{{AssetAccess.AssetName}}</a>
                <span ng-show="editable == 'name'">
                    <div class="form-inline editableTaskName">
                        <input type="text" id="AssetNameChange" size="30" name="name" ng:required ng-model="AssetAccess.name">
                        <button class="btn btn-primary editable-submit" ng-click="UpdateAssetDetails('name'); editable = ''"><i class="icon-ok icon-white"></i></button>
                        <button class="btn editable-cancel" ng-click="editable = ''"><i class="icon-remove"></i></button>
                    </div>
                </span>
            </h2>
            <h2 ng-hide="notReadOnly && EntityIsLock== false && LinkedAsset== false" class="readOnly">
                <span my-qtip2 qtip-content="{{AssetAccess.AssetName}}">{{AssetAccess.AssetName}}</span>
            </h2>
        </div>
        <div class="span5">
            <div class="iv-p-assetPath">
                <span class="iv-p-assetPathlabel">{{'LanguageContents.Res_243.Caption'|translate}}</span>
                <ul class="breadcrumb">
                    <li ng-repeat="item in AssetPatharray" my-qtipt2b qtip-content="{{DecodedTaskOwnerName(item.Name, item.ownerfirstname, item.ownerlastname)}}">
                        <a ng-style="set_color(item.mystyle)" style="color: #{{item.mystyle}};" id="A3" data-uniquekey="{{item.UniqueKey}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" data-typeid="{{item.TypeID}}" ng-click="BreadCrumOverview(item.ID,item.TypeID)">{{DecodedTaskName(item.Name)}}</a>
                        <span ng-hide="$index == AssetPatharray.length-1" class="divider">/</span>
                    </li>
                </ul>
            </div>
            <div class="iv-p-HeaderInfo">
                <span class="infoSection">
                    <label class="lft-label">{{'LanguageContents.Res_4093.Caption'|translate}}</label>
                    <label class="ryt-label">{{AssetPreviewObj.AssetId}}</label>
                </span>
                <span class="infoSection">
                    <label class="lft-label">{{'LanguageContents.Res_4458.Caption'|translate}}</label>
                    <label class="ryt-label">{{AssetlastUpdatedOn}}</label>
                </span>
                <span class="infoSection">
                    <span ng-show="AssetPreviewObj.PublisherID==0">
                        <label class="lft-label">{{'LanguageContents.Res_4183.Caption'|translate}}</label>
                        <label class="ryt-label">{{AssetPreviewObj.AssetCeatedOn}}</label>
                    </span>
                    <span ng-show="AssetPreviewObj.PublisherID >0">
                        <label class="lft-label">Published Date:</label>
                        <label class="ryt-label">{{AssetPreviewObj.PublishedOn}}</label>
                    </span>
                </span>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeView()">×</button>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="iv-p-Box">
            <div class="iv-p-l span12">
                <div class="span12">
                    <ul class="nav nav-tabs">
                        <li class="active" id="limetaData"><a href="#metaData" data-toggle="tab">{{'LanguageContents.Res_251.Caption'|translate}}</a></li>
                        <li id="linewsFeeds" ng-show="notReadOnly && Isassetlibrary==false "><a ng-click="LoadAssetNewsFeedBlock(0)" href="#newsFeeds" data-toggle="tab">{{'LanguageContents.Res_1201.Caption'|translate}}</a></li>
                        <li class="active" id="lifilemetaData" ng-hide="true"><a href="#filemetaData" data-toggle="tab">File info</a></li>
                    </ul>
                    <span class="status-iconSet">
                        <i class="icon-ok displayNone"></i>
                        <span ng-show="false"><i data-location="link" data-linkdetails="{{assetEditLinkDetails.linkdetails}}" dampublisheddetailtooltip id="EditLinkicon_'{{OlAssetID}}'" class="icon-link" class="icon-link"></i></span>
                        <span ng-show="AssetPublish && ShowpublishIcon"><i data-location="publish" data-publishedon="{{assetEditLinkDetails.publishedon}}" data-publishedby="{{assetEditLinkDetails.publishedby}}" dampublisheddetailtooltip id="EditPublishicon_'{{OlAssetID}}'" class="icon-arrow-up"></i></span>
                        <span class="iv-p-l-context"><i class="icon-reorder" context="assetOperationsContext"></i></span>
                    </span>
                    <div class="tab-content">
                        <div class="tab-line"></div>
                        <div class="tab-pane active" id="metaData">
                            <div class="tab-pane-wrapper">
                                <div class="iv-p-DtlBox">
                                    <div class="iv-p-Dtl-statusFilter displayNone">
                                        <div class="btn-group">
                                            <span class="filterName">Type</span>
                                            <button class="btn dropdown-toggle btn-small" data-toggle="dropdown" data-assettypeid="{{assettypeidfrbtn}}">
                                                <p>{{AssetTypeCategoryPath}}</p>
                                                <p>{{AssetTypeCaption}}</p>
                                                <span class="caret"></span>
                                            </button>
                                            <ul ng-show="lockmenu" class="dropdown-menu">
                                                <li ng-repeat="ndata in DAMtypeswithExtAssetedit"><a href="javascript:void(0)" ng-hide="ndata.Id == 33 || ndata.Id == 34" ng-click="changeAssetType(ndata)" value="{{ndata.Id}}">{{ndata.damCaption}}</a></li>
                                            </ul>
                                            <span class="btnSet" ng-show="AssetTypechange">
                                                <button type="button" class="btn btn-mini btn-primary" ng-click="savechangedAssetData();"><i class="icon-ok icon-white"></i></button>
                                                <button type="button" class="btn btn-mini" ng-click="KeepexistingAssetData(AssetPreviewObj.AssetId);"><i class="icon-remove"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="control-group assetTypeField">
                                            <label class="control-label">Type</label>
                                            <div class="controls">
                                                <div id="ISshowImageType" ng-hide="notReadOnly">
                                                    <p>{{AssetTypeCategoryPath}}</p>
                                                    <p>{{AssetTypeCaption}}</p>
                                                </div>
                                                <div id="IShideImageType" ng-show="notReadOnly">
                                                    <div class="clickableTypewithPath" ng-hide="AssetTypechange">
                                                        <p class="typePath">{{AssetTypeCategoryPath}}</p>
                                                        <a data-mode="inline" href="javascript:;" attributetypeid="assetType" assetid="OlAssetID" id="assetType_a" data-ng-model="assetType" title="Asset Type" attributename="Asset Type" data-type="Asset Type" class="ng-pristine ng-valid ng-binding editable editable-click" ng-click=" AssetTypechange = true;  changeAssetType(assetType); ">
                                                            <p>{{AssetTypeCaption}}</p>
                                                        </a>
                                                    </div>
                                                    <a ng-show="AssetTypechange" ng-click="AssetTypeTreePopUp(assetType)">
                                                        <p>{{AssetTypeCategoryPath}}</p>
                                                    </a>
                                                    <div class="margin-bottom10x" ng-show="AssetTypechange">
                                                        <input id="ddlChildren" type="hidden" ui-select2="tagAllOptions" ng-model="tempHolder" ng-change="changeAssetType(tempHolder.id)" />
                                                        <span class="imgTypeSection">
                                                            <span class="imgTypeEditIcon" ng-click="AssetTypeTreePopUp(assetType);">
                                                                <img src="assets/img/treeIcon.png" />
                                                            </span>
                                                        </span>
                                                        <span class="btnSet" ng-show="AssetTypechange">
                                                            <button type="button" class="btn btn-primary" ng-click="savechangedAssetData();"><i class="icon-ok icon-white"></i></button>
                                                            <button type="button" class="btn" ng-click="KeepexistingAssetData(AssetPreviewObj.AssetId);"><i class="icon-remove"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Assetdynamicdetail">
                                        </div>
                                        <div id="staticdetail">
                                            <div class="control-group displayNone">
                                                <label class="control-label">{{'LanguageContents.Res_4393.Caption'|translate}}</label>
                                                <div class="controls attachmentBlock">
                                                    <table class="table table-noborder" ng-show="!IsTemplate && assettypeidfrbtn != 34  ">
                                                        <tbody>
                                                            <tr ng-show="assetfiles.length > 0">
                                                                <td position="right" my-qtip2 qtip-content="{{callcontent(ActiveVersion)}}" style="display: none">
                                                                    <span>
                                                                        <i class="icon-file attachmentIcon-active"></i>
                                                                        <a target="_blank" ng-href="DAMDownload.aspx?FileID={{ActiveVersion.Fileguid}}&amp;FileFriendlyName={{ActiveVersion.Name}}&amp;Ext={{ActiveVersion.Extension}}">{{ActiveVersion.Name}}</a>
                                                                    </span>
                                                                </td>
                                                                <td class="td2"><span>{{'LanguageContents.Res_1571.Caption'|translate}}: {{ActiveVersion.StrCreatedDate}}</span></td>
                                                                <td class="td3"><span>{{ActiveVersion.VersionNo}}</span></td>
                                                                <td class="td5"><span><i id="I2" class="icon-reorder" data-toggle='modal' data-fileid="{{file.ID}}" data-activeversion="{{ActiveVersion.ID}}" data-assetid="{{ActiveVersion.AssetID}}" data-extension="{{file.Extension}}" data-fileguid="{{file.Fileguid}}" data-filename="{{file.Name}}" ng-click="loadcontextmenu($event);" context="context5" ng-show="EntityIsLock== false"></i></span></td>
                                                            </tr>
                                                            <tr ng-hide="assetfiles.length > 0">
                                                                <td>
                                                                    <span class="noAttachmentLabel">{{'LanguageContents.Res_624.Caption'|translate}}</span>
                                                                </td>
                                                                <td class="td5">
                                                                    <span>
                                                                        <i id="I3" class="icon-reorder" data-toggle='modal' data-fileid="{{file.ID}}" data-activeversion="{{ActiveVersion.ID}}" data-assetid="{{ActiveVersion.AssetID}}" data-extension="{{file.Extension}}" data-fileguid="{{file.Fileguid}}" data-filename="{{file.Name}}" ng-click="loadcontextmenu($event);" context="context5" ng-show="EntityIsLock == false"></i>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-noborder" ng-show="assettypeidfrbtn == 34 ">
                                                        <tbody>
                                                            <tr ng-show="assetfiles.length > 0">
                                                                <td position="right" my-qtip2 qtip-content="{{callcontent(ActiveVersion)}}">
                                                                    <span>
                                                                        <i class="icon-file attachmentIcon-active"></i>
                                                                        <a target="_blank" ng-href="DAMDownload.aspx?FileID={{ActiveVersion.Fileguid}}&amp;FileFriendlyName={{ActiveVersion.Name}}&amp;Ext={{ActiveVersion.Extension}}">Ver {{ActiveVersion.VersionNo}} - {{AssetAccess.AssetName}}</a>
                                                                    </span>
                                                                </td>
                                                                <td class="td3"><span>{{ActiveVersion.VersionNo}}</span></td>
                                                                <td class="td5"><span><i id="I1" class="icon-reorder" data-toggle='modal' data-fileid="{{file.ID}}" data-activeversion="{{ActiveVersion.ID}}" data-assetid="{{ActiveVersion.AssetID}}" data-extension="{{file.Extension}}" data-fileguid="{{file.Fileguid}}" data-filename="{{file.Name}}" ng-click="loadcontextmenu($event);" context="context_assetType34"></i></span></td>
                                                            </tr>
                                                            <tr ng-hide="assetfiles.length > 0">
                                                                <td>
                                                                    <span class="noAttachmentLabel">{{'LanguageContents.Res_624.Caption'|translate}}</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-noborder" ng-show="IsTemplate">
                                                        <tbody>
                                                            <tr ng-show="assetfiles.length > 0">
                                                                <td position="right" my-qtip2 qtip-content="{{callcontent(ActiveVersion)}}">
                                                                    <span>
                                                                        <i class="icon-file attachmentIcon-active"></i>
                                                                        <a target="_blank" ng-href="DAMDownload.aspx?FileID={{ActiveVersion.Fileguid}}&amp;FileFriendlyName={{ActiveVersion.Name}}&amp;Ext={{ActiveVersion.Extension}}">{{ActiveVersion.Name}}</a>
                                                                    </span>
                                                                </td>
                                                                <td class="td3"><span>{{ActiveVersion.VersionNo}}</span></td>
                                                            </tr>
                                                            <tr ng-hide="assetfiles.length > 0">
                                                                <td>
                                                                    <span class="noAttachmentLabel">{{'LanguageContents.Res_624.Caption'|translate}}</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="control-group" ng-show="Isassetlibrary == false">
                                                <label class="control-label">{{'LanguageContents.Res_4034.Caption'|translate}}</label>
                                                <div class="controls" ng-show="DisableEnableAssetRole || EntityIsLock== true">
                                                    <span ng-show="LinkedAsset==true || EntityIsLock== true">{{AssetRolesCaption}}</span>
                                                    <a href="javascript:void(0);" ng-show="LinkedAsset==false && EntityIsLock == false && AssetAccess.accesrolechange !=1" ng-click="ShowAssesAccesRoles(1)" class="editable ng-pristine ng-valid ng-binding">{{AssetRolesCaption}}</a>
                                                    <span ng-show="AssetAccess.accesrolechange ==1">
                                                        <div class="form-inline editableTaskName">
                                                            <select ui-select2 id="ddlAssetAccessRole" multiple="multiple" ng-model="AssetAccess.ddlGlobalRole" data-placeholder="Select access">
                                                                <option ng-repeat="item in GlobalRoles" value="{{item.ID}}">{{item.Role}}</option>
                                                            </select>
                                                            <button class="btn btn-primary editable-submit" ng-click="ChangeAssesAccesRoles('name'); AssetAccess.accesrolechange = ''"><i class="icon-ok icon-white"></i></button>
                                                            <button class="btn editable-cancel" ng-click="ShowAssesAccesRoles(0)"><i class="icon-remove"></i></button>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="newsFeeds">
                            <div class="tab-pane-wrapper">
                                <div class="iv-p-NewsFeeds">
                                    <div class="newsFeedBlock">
                                        <div class="newsFeedSection">
                                            <div class="newComment">
                                                <div class="userAvatar">
                                                    <span class="user">
                                                        <img src="{{NewUserImgSrc}}" data-role="user-avatar">
                                                    </span>
                                                </div>
                                                <div data-role="textarea" class="textarea-wrapper">
                                                    <div id="Assetfeedcomment" contenteditable="true" class="textarea" tabindex="0" ngfocus="if(document.getElementById('Assetfeedtextholder').innerHTML.replace(/ /g,'').length > 0){setTimeout(function(){document.getElementById('Assetfeedcomment').innerHTML = ''},1)};" ngblur="if(document.getElementById('Assetfeedcomment').innerHTML.replace(/(<([^>]+)>)/ig,'').replace(/ /g,'').length == 0){document.getElementById('Assetfeedcomment').innerHTML = '<span id=\'Assetfeedtextholder\' class=\'placeholder\'>Write a comment...</span>'};">
                                                        <span id="Assetfeedtextholder" class="placeholder">{{'LanguageContents.Res_1202.Caption'|translate}}...</span>
                                                    </div>
                                                </div>
                                                <div class="newsFeedPersonFilter">
                                                    <select class="multiselect" multiple="multiple" multiselect-dropdown ng-options="opt.Userid as opt.UserName for opt in  EntityUserListInAssetEdit" data-placeholder="Select Users" ng-model="PersonalUserIdsInAssetEdit"></select>
                                                </div>
                                                <button class="btn btn-small btn-primary" ng-click="AddNewsFeed()" type="submit">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
                                            </div>
                                            <ul class="mainComment feedSection" id="AssetFeedsdiv"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="filemetaData" ng-hide="true">
                            <div class="tab-pane-wrapper">
                                file info part
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="iv-p-r">
                <div class="iv-p-ImgBox">
                    <div class="iv-p-ImgBlock">
                        <div id="ImgContainer" class="iv-p-ImgContainer">
                            <div ng-switch="ProcessType">
                                <div ng-switch-when="3">
                                    <div id="videoHolder" class="iv-p-videoPlayer embed-responsive embed-responsive-16by9">
                                    </div>
                                </div>
                                <div ng-switch-default>
                                    <img id="asseteditimage" ng-src="{{fileguid}}" fallback-src="{{onerrorfileguid}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="iv-p-ImgInfo displayNone" ng-show="IsImgInfo">
                    <span class="infoBlock" ng-show="IsSize">
                        <span class="left-label">{{'LanguageContents.Res_4752.Caption'|translate}}:</span>
                        <span class="right-label">{{ActiveVersionSize}}</span>
                    </span>
                    <span class="infoBlock" ng-show="IsResolution">
                        <span class="left-label">{{'LanguageContents.Res_4704.Caption'|translate}}</span>
                        <span class="right-label">{{convertWidth}} X {{convertHeight}} {{imageunitshortFormat}}</span>
                    </span>

                    <span class="infoBlock" ng-show="IsDPI">
                        <span class="left-label">{{'LanguageContents.Res_4222.Caption'|translate}}</span>
                        <span class="right-label">{{ActiveVersionDpi}}</span>
                    </span>
                </div>
                <div class="iv-p-ButtonsPanel displayNone" ng-switch="assettypeidfrbtn">
                    <input type="hidden" id="assetdownload_token_value_id" />
                </div>
                <div class="iv-p-ImgInfoTable" ng-show="IsImgInfo">
                    <table class="table table-condensed relative">
                        <thead>
                            <tr>
                                <th>{{'LanguageContents.Res_4390.Caption'|translate}}</th>
                                <th>{{'LanguageContents.Res_4894.Caption'|translate}}</th>
                                <th ng-show="assettypeidfrbtn !=33 ">{{'LanguageContents.Res_4752.Caption'|translate}}</th>
                                <th ng-show="IsDimensioninfo && assettypeidfrbtn !=33 && ProcessType!=2 && ProcessType!=4 && ProcessType!=0  ">{{'LanguageContents.Res_242.Caption'|translate}}</th>
                                <th ng-show="IsDimensioninfo && ProcessType==1">{{'LanguageContents.Res_4704.Caption'|translate}}</th>
                                <th ng-show="IsDimensioninfo && ProcessType==3">{{'LanguageContents.Res_241.Caption'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span my-qtip2 qtip-content="{{ActiveVersion.Name}}">{{ActiveVersion.Name}}</span></td>
                                <td><span>{{ActiveVersion.VersionNo}} ({{AssetPreviewObj.VersionCeatedOn}})</span></td>
                                <td ng-show="assettypeidfrbtn !=33 "><span>{{ActiveVersionSize}}</span></td>
                                <td ng-show="IsDimensioninfo && assettypeidfrbtn !=33 && ProcessType!=2 && ProcessType!=4  && ProcessType!=0 ">
                                    <span>
                                        <span>{{convertWidth}} X {{convertHeight}}</span>
                                        <span>
                                            <a ng-click="SetimgUnitmenu()">{{imageunitshortFormat}}</a>
                                            <div class="popover top imgUnitPopover" ng-show="displayimgUnitmenu" style="display: inline-block;">
                                                <div class="arrow"></div>
                                                <h3 class="popover-title">Resolution Units</h3>
                                                <span class="hidePopover" ng-click="hidePopover()"><i class="icon-remove-sign"></i></span>
                                                <div class="popover-content">
                                                    <select ui-select2 id="dimensionunit1" name="dimensionunit" ng-selected="" ng-model="dimensionunitlist" ng-change="imageunitchange(dimensionunitlist);">
                                                        <option value="{{dimensionunit.dimensionunitIds}}">{{dimensionunit.dimensionunitName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </span>
                                    </span>
                                </td>
                                <td ng-show="IsDimensioninfo && ProcessType==1"><span>{{ActiveVersionDpi}}</span></td>
                                <td ng-show="IsDimensioninfo && ProcessType==3"><span>{{FrameRate}} frames/second</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="iv-p-cropImgOptions displayNone" id="assetEditCropImgOptions">
                    <div class="actionInProgress" ng-show="CropprocessFlag">
                        <span>
                            <img src="assets/img/loading.gif" />
                            {{'LanguageContents.Res_4641.Caption'|translate}}
                        </span>
                    </div>
                    <div class="row-fluid">
                        <form class="form-horizontal">
                            <div class="span9 croppingOptions">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label">{{'LanguageContents.Res_4413.Caption'|translate}}</label>
                                        <div class="controls">
                                            <select ui-select2 name="CropFormat" id="Select1" ng-model="CropFormat" ng-change="changeCropFormat()">
                                                <option value="0" selected="selected">--No Change--</option>
                                                <option value="1">{{'LanguageContents.Res_4660.Caption'|translate}}</option>
                                                <option value="2">{{'LanguageContents.Res_4189.Caption'|translate}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="StaticOptions" class="span12 StaticOptions" ng-show="StaticOptionDiv">
                                    <div class="span12">
                                        <div class="customProfileInfo">
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4907.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <label class="control-label valueLabel" id="x1" ng-model="SWidth">{{corpWidth}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4434.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <label class="control-label valueLabel" id="y1" ng-model="SHeight">{{corpHeight}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="ProfileOptions" class="span12 ProfileOptions" ng-show="ProfileOptionDiv">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label">{{'LanguageContents.Res_4660.Caption'|translate}}</label>
                                            <div class="controls">
                                                <select ui-select2 name="ProfileType" id="Select2" ng-model="ProfileType" ng-change="changeProfileType()">
                                                    <option value="0">{{'LanguageContents.Res_4625.Caption'|translate}}</option>
                                                    <option ng-repeat="item in DamProfileType" value="{{item.ID}}">{{item.Name}}</option>
                                                </select>
                                                <br />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="span12">
                                        <div class="customProfileInfo">
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label">Width (In Pixels):</label>
                                                    <div class="controls">
                                                        <label class="control-label valueLabel" id="ProWidth" ng-model="ProWidth">{{ProfileWidth}}</label>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4389.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <label class="control-label valueLabel" id="ProFileFormat" ng-model="ProFileFormat">{{Profileformate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4434.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <label class="control-label valueLabel" id="ProHeight" ng-model="ProHeight">{{ProfileHeight}}</label>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4222.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <label class="control-label valueLabel" id="ProDpi" ng-model="ProDpi">{{ProfileDpi}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="CustomOptions" class="span12 CustomOptions" ng-show="CustomOptionDiv">
                                    <div class="span12">
                                        <div class="span12">
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4907.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <input type="text" ng-model="CusWidth" id="CusWidth" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4389.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <select ui-select2 name="CusFileFormat" id="CusFileFormat" ng-model="CusFileFormat">
                                                            <option ng-repeat="item in  mimes" value="{{item|lowercase}}">{{item}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4434.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <input type="text" ng-model="CusHeight" id="CusHeight" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4222.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <input type="text" ng-model="CusDpi" id="CusDpi" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ratioBox">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <label class="checkbox checkbox-custom">
                                                        <input type="checkbox" ng-model="Cusratio" id="Cusratio" ng-click="selectCusratio($event)">
                                                        <i id="CusratioIcon" class="checkbox"></i>
                                                        {{'LanguageContents.Res_4191.Caption'|translate}}
                                                    </label>
                                                    <div class="ratioInput" id="Customratiospan" ng-show="Customratiospan">
                                                        <span>
                                                            <input type="text" ng-model="CusRWidth" id="CusRWidth" />
                                                            <span>:</span>
                                                            <input type="text" ng-model="CusRHeight" id="CusRHeight" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bttnPanel">
                                <a class="btn btn-small btn-primary" ng-show="CropApplybtn" ng-click="CropRescalevalue()" href="javascript:void(0)">{{'LanguageContents.Res_4084.Caption'|translate}}</a>
                                <button class="btn btn-small" ng-click="CropCancel()">{{'LanguageContents.Res_7.Caption'|translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="iv-p-customDownloadOptions displayNone" id="assetEditCustomDownloadOptions">
                    <div class="actionInProgress" ng-show="CropprocessFlag">
                        <span>
                            <img src="assets/img/loading.gif" />
                            {{'LanguageContents.Res_4641.Caption'|translate}}
                        </span>
                    </div>
                    <div class="row-fluid">
                        <form class="form-horizontal">
                            <div class="span9 customDownloadOptions">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label">{{'LanguageContents.Res_4413.Caption'|translate}}</label>
                                        <div class="controls">
                                            <select ui-select2 name="CustomdownFormat" id="Select3" ng-model="CustomdownFormat" ng-change="changeCustomdownFormat()">
                                                <option value="0" selected="selected">{{'LanguageContents.Res_4660.Caption'|translate}}</option>
                                                <option value="1">{{'LanguageContents.Res_4189.Caption'|translate}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="ProfileOptions" ng-show="CustomDownloadProfileOptionDiv">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label">{{'LanguageContents.Res_4660.Caption'|translate}}</label>
                                            <div class="controls">
                                                <select ui-select2 name="ProfileType" id="Select4" ng-model="ProfileType" ng-change="changeProfileType()">
                                                    <option value="0">{{'LanguageContents.Res_4625.Caption'|translate}}</option>
                                                    <option ng-repeat="item in DamProfileType" value="{{item.ID}}">{{item.Name}}</option>
                                                </select>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span12">
                                        <div class="customProfileInfo">
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4907.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <label class="control-label valueLabel" id="Label3" ng-model="ProWidth">{{ProfileWidth}}</label>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4389.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <label class="control-label valueLabel" id="Label4" ng-model="ProFileFormat">{{Profileformate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4434.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <label class="control-label valueLabel" id="Label5" ng-model="ProHeight">{{ProfileHeight}}</label>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4222.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <label class="control-label valueLabel" id="Label6" ng-model="ProDpi">{{ProfileDpi}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="CustomdownOption" class="span12 CustomOptions" ng-show="CustomdownOptionDiv">
                                    <div class="span12">
                                        <div class="span12">
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4907.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <input type="text" ng-model="CusWidth" id="CusdownWidth" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4389.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <select ui-select2 name="CusFileFormat" id="Select5" ng-model="CusFileFormat">
                                                            <option ng-repeat="item in  mimes" value="{{item|lowercase}}">{{item}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4434.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <input type="text" ng-model="CusHeight" id="CusdownHeight" />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">{{'LanguageContents.Res_4222.Caption'|translate}}</label>
                                                    <div class="controls">
                                                        <input type="text" ng-model="CusDpi" id="CusdownDpi" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bttnPanel">
                                <a class="btn btn-small btn-primary" ng-show="CustomDownloadbtn" ng-click="Customdownload()" href="javascript:void(0)">{{'LanguageContents.Res_25.Caption'|translate}}</a>
                                <button class="btn btn-small" ng-show="CustomCancelshow" ng-click="CustomCancel()">{{'LanguageContents.Res_7.Caption'|translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="iv-p-sendEmailForm" id="assetEditMailSendFooter" ng-show="IsMailSender">
                    <form class="form-inline">
                        <label class="control-label" for="ddllanguagetype">{{'LanguageContents.Res_4861.Caption'|translate}}</label>
                        <input type="hidden" ui-select2="select2Options" ng-model="SendMail.mailtags" />
                        <label class="control-label" for="ddllanguagetype">{{'LanguageContents.Res_4776.Caption'|translate}}</label>
                        <input type="text" ng-model="sendMailSubject" />
                        <a class="btn btn-small" ng-click="IsMailSender='false';">{{'LanguageContents.Res_14.Caption'|translate}}</a>
                        <button ng-click="sendAssetMail()" id="sendAssetMail" class="btn btn-small btn-primary">{{'LanguageContents.Res_4736.Caption'|translate}}</button>
                        <span class="InProgress" ng-show="MailprocessMailFlag">
                            <img src="assets/img/loading.gif" />
                            <span>{{'LanguageContents.Res_4738.Caption'|translate}}</span>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="iv-p-ImgShuffleIcon-l" ng-click="EditPrevious()" id="diveditPrev">
    <i class="icon-chevron-left"></i>
</div>
<div class="iv-p-ImgShuffleIcon-r" id="diveditNext" ng-click="EditNext()">
    <i class="icon-chevron-right"></i>
</div>
<div class="modal-footer">
    <div id="btnDropdownDynamic" class="btn-group">
        <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="javascript:void()">{{'LanguageContents.Res_25.Caption'|translate}}<span class="caret"></span></a>
        <ul class="dropdown-menu pull-right">
            <li ng-show="IsAttachment && IsTemplate!=true"><a ng-click="downloadOriginal()" href="javascript:void(0)">{{'LanguageContents.Res_249.Caption'|translate}}</a></li>
            <li ng-show="IsTemplate"><a href="javascript:void(0)" ng-click="downloadMediafiles('L')">{{'LanguageContents.Res_5592.Caption'|translate}}</a></li>
            <li ng-show="IsTemplate && TemplateAsset.IsEnableHighResPDF"><a href="javascript:void(0)" ng-click="downloadMediafiles('H')">{{'LanguageContents.Res_5593.Caption'|translate}}</a></li>
            <li ng-show="IsTemplate!=true && ( IsAttachment || IsShow )"><a ng-click="DownloadWithMetadata(false)" href="javascript:void(0)">{{'LanguageContents.Res_248.Caption'|translate}}</a></li>
            <li ng-show="IsAttachment && IsTemplate!=true"><a href="javascript:void(0)" ng-click="DownloadWithMetadata(true)">{{'LanguageContents.Res_247.Caption'|translate}}</a></li>
        </ul>
    </div>
    <button class="btn btn-small" data-dismiss="modal" ng-click="closeView()">{{'LanguageContents.Res_14.Caption'|translate}}</button>
</div>

<div id="AssetVersion" data-width="650" tabindex="-1" class="modal in assetVersionPopup" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" ng-click="closeManageVersion()" class="close" type="button">×</button>
        <h3>{{'LanguageContents.Res_4112.Caption'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <table class="table table-normal assetVersionTable-Header">
                <thead>
                    <tr>
                        <th class="attchmntName"><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_4894.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_4880.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_4881.Caption'|translate}}</span></th>
                        <th><span>{{'LanguageContents.Res_4752.Caption'|translate}}</span></th>
                        <!--<th></th>-->
                    </tr>
                </thead>
            </table>
            <div class="assetVersionTable-Content">
                <table class="table table-normal">
                    <tbody>
                        <tr ng-repeat="item in assetfiles" ng-class="{'li-Selection selected':item.Activestatus , 'li-Selection':!item.Activestatus}">
                            <td class="attchmntName">
                                <span>
                                    <label class="radio radio-custom">
                                        <input type="radio" ng-click="SaveFileCheckList(item.ID,item.VersionNo,item.Name,$event)" />
                                        <i class="radio" ng-class="{'radio checked':item.Activestatus , 'radio':!item.Activestatus}"></i>
                                    </label>
                                    <a target="_blank" ng-href="DAMDownload.aspx?FileID={{item.Fileguid}}&amp;FileFriendlyName={{item.Name}}&amp;Ext={{item.Extension}}">{{item.Name}}</a>
                                </span>
                            </td>
                            <td><span>{{item.VersionNo}}</span></td>
                            <td><span>{{item.OwnerName}}</span></td>
                            <td><span>{{item.StrCreatedDateTime}}</span></td>
                            <td><span>{{formatSizeUnits(item.Size)}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div id="totalAssetActivityAttachProgress_Version" class="attachment-progress pull-left"></div>
        <div id="filescontainer_V_task" class="filescontainerDiv">
            <a id="pickfiles_V_task" href="JavaScript:void(0);" class="btn btn-small btn-primary" type="button">{{'LanguageContents.Res_4053.Caption'|translate}}</a>
        </div>
        <button class="btn btn-small" data-dismiss="modal" ng-click="closeManageVersion()"  type="button">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>

<div id="filePopup" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
    </div>
    <div class="modal-body" id="filescontainer">
        <div class="attachmentContainer">
            <div id="filelistActivity">
            </div>
        </div>
        <div class="attachment-dragfiles" id="dragActivityfiles">
            <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
            <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
            <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
            <div><a href="JavaScript:void(0);" id="pickfiles" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="attachment-progress pull-left" id="totalActivityAttachProgress"></div>
        <a id="uploadfiles" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a>
        <a id="pickfilesAlternate" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a>
        <a id="clearUploader" href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
    </div>
</div>

<ul id="context5" style="display: none;" class="dropdown-menu contexMenu iv-p-contextMenu">
    <li id="Li16">
        <a href="#AssetVersion" data-toggle="modal">Manage Version</a>
    </li>
</ul>

<ul id="context_assetType34" style="display: none;" class="dropdown-menu contexMenu iv-p-contextMenu">
    <li id="Li7">
        <a href="#AssetVersion" data-toggle="modal">{{'LanguageContents.Res_4473.Caption'|translate}}</a>
        <a href="JavaScript:void(0);" ng-click="DownloadAttachment();">{{'LanguageContents.Res_25.Caption'|translate}}</a>
    </li>
</ul>

<ul id="assetOperationsContext" style="display: none;" class="dropdown-menu contexMenu iv-p-contextMenu">
    <li ng-show="(EntityIsLock== false || IsShowInAssetlibrary == true) && addlight && Category==0 "><a ng-click="Addtolightbox()" href="javascript:void(0)">{{'LanguageContents.Res_4062.Caption'|translate}}</a></li>
    <li ng-show="(EntityIsLock== false || IsShowInAssetlibrary == true) && addlight && Category==0 "><a tabindex="-1" ng-click="Viewlightbox()" href="javascript:void(0)">{{'LanguageContents.Res_4898.Caption'|translate}}</a></li>
    <li ng-show="EntityIsLock== false && task && Category==0 && Isassetlibrary== false "><a ng-click="CreateAssetTask()" href="javascript:void(0)">{{'LanguageContents.Res_1009.Caption'|translate}}</a></li>
    <li ng-show="IsAttachment"><a ng-click="downloadOriginal()" href="javascript:void(0)">{{'LanguageContents.Res_249.Caption'|translate}}</a></li>
    <li ng-show=" !IsTemplate  && (IsAttachment || IsShow)  "><a ng-click="DownloadWithMetadata(false)" href="javascript:void(0)">{{'LanguageContents.Res_248.Caption'|translate}}</a></li>
    <li ng-show=" !IsTemplate  && IsAttachment"><a href="javascript:void(0)" ng-click="DownloadWithMetadata(true)">{{'LanguageContents.Res_247.Caption'|translate}}</a></li>
    <li ng-show="EntityIsLock== false && IsAttachment && IsPublish && Isassetlibrary== false && LinkedAsset== false"><a href="javascript:void(0)" ng-click="PublishAssets(true)">{{'LanguageContents.Res_4668.Caption'|translate}}</a></li>

    <li ng-show="(EntityIsLock== false || IsShowInAssetlibrary == true) && !IsTemplate && assettypeidfrbtn != 34 && ProcessType ==1 && Category==0 && Ispdf==0 && ActiveVersion.Status==2 "><a tabindex=" -1" ng-click="ReformatProcess()" href="javascript:void(0)">Reformat</a></li>
    <li ng-show="EntityIsLock== false && IsAttachment && UnPublish && Isassetlibrary== false && LinkedAsset== false"><a href="javascript:void(0)" ng-click="PublishAssets(false)">{{'LanguageContents.Res_245.Caption'|translate}}</a></li>
    <li ng-show="IsAttachment && (EntityIsLock== false && Isassetlibrary== false || IsShowInAssetlibrary == true) && !IsTemplate  && assettypeidfrbtn != 34"><a href="javascript:void(0)" ng-click="openSendAssetMail()">{{'LanguageContents.Res_4736.Caption'|translate}}</a></li>
    <li ng-show="EntityIsLock== false && assettypeidfrbtn != 34 && !IsTemplate && LinkedAsset== false && Isassetlibrary== false "><a href="javascript:void(0)" ng-click="InitializeFileUpload();" data-toggle="modal">{{'LanguageContents.Res_4007.Caption'|translate}}</a></li>
    <li ng-show="EntityIsLock== false && IsTemplate && LinkedAsset== false && Isassetlibrary== false "><a ng-click="downloadMediafiles('J')" data-toggle="modal">{{'LanguageContents.Res_4229.Caption'|translate}}</a></li>

    <li ng-show="EntityIsLock== false && !IsTemplate && assettypeidfrbtn != 34 && LinkedAsset== false && Category==0 && Isassetlibrary== false  "><a tabindex=" -1" ng-click="ChangePreviewProcess()" href="javascript:void(0)">{{'LanguageContents.Res_244.Caption'|translate}}</a></li>
    <li ng-show="EntityIsLock== false  && Isassetlibrary== false && !IsTemplate && assettypeidfrbtn != 34" class="divider"></li>
    <li ng-show="EntityIsLock== false && !IsTemplate && assettypeidfrbtn != 34 && LinkedAsset== false  && Isassetlibrary== false "><a tabindex="-1" href="javascript:void(0)" ng-click="MovePerformAssetOperation(1)">{{'LanguageContents.Res_4196.Caption'|translate}}</a></li>
    <li ng-show="EntityIsLock== false && !IsTemplate && assettypeidfrbtn != 34  && Isassetlibrary== false "><a tabindex="-1" href="javascript:void(0)" ng-click="MovePerformAssetOperation(2)">{{'LanguageContents.Res_4171.Caption'|translate}}</a></li>
    <li ng-show="EntityIsLock== false  && Isassetlibrary== false " class="divider"></li>
    <li ng-show="EntityIsLock== false && Isassetlibrary== false && HideDuplicate"><a tabindex="-1" ng-click="DuplicateAssets()" href="javascript:void(0)">{{'LanguageContents.Res_150.Caption'|translate}}</a></li>
    <li ng-show="EntityIsLock== false && IsShowInAssetlibrary == false"><a tabindex="-1" ng-click="deleteAsset(AssetEditID)" href="javascript:void(0)">{{'LanguageContents.Res_18.Caption'|translate}}</a></li>
    <li ng-show="assettypeidfrbtn == 34 "><a ng-click="downloadEditWordPDF()" href="javascript:void(0)">{{'LanguageContents.Res_4218.Caption'|translate}}</a></li>
    <li ng-show="assettypeidfrbtn == 34 "><a ng-click="editOriginal(ActiveVersion.Fileguid)" href="javascript:void(0)">{{'LanguageContents.Res_20.Caption'|translate}}</a></li>
    <li ng-show="assettypeidfrbtn == 34 "><a ng-click="showOriginal(ActiveVersion.Fileguid)" href="javascript:void(0)">{{'LanguageContents.Res_4896.Caption'|translate}}</a></li>
    <li ng-show="IsTemplate && TemplateAsset.IsEnableHighResPDF "><a ng-click="downloadMediafiles('H')" href="javascript:void(0)">{{'LanguageContents.Res_4436.Caption'|translate}}</a></li>
    <li ng-show="IsTemplate "><a ng-click="downloadMediafiles('L')" href="javascript:void(0)">{{'LanguageContents.Res_4469.Caption'|translate}}</a></li>
    <li ng-show="IsTemplate "><a ng-click="downloadMediafiles('J')" href="javascript:void(0)">Download Jpeg</a></li>

</ul>

<div id="word-iFramePopup" class="modal optiMaker-iFramePopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static" data-width="1200px" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="LoadassetsfrmOptimaker()">×</button>
        <h3 id="H1">{{'LanguageContents.Res_4839.Caption'|translate}}</h3>
    </div>
    <div class="modal-body">
        <iframe id="wordeditiframe" name="iframe" class="optiMaker-iFrame" src="" style="visibility: hidden"></iframe>
    </div>
    <div class="modal-footer">
        <div class="oif-footer-saveWordTemplate" id="optimakerIFrameSaveWordTemplate" style="display: none;">
            <form class="form-inline">
                <button id="btnsve" class="btn btn-primary floatRight" ng-click="SaveEditDoc()">{{'LanguageContents.Res_4714.Caption'|translate}}</button>
                <span class="InProgress" ng-show="processMailFlag">
                    <img src="assets/img/loading.gif" />
                    <span>{{'LanguageContents.Res_4720.Caption'|translate}}</span>
                </span>
            </form>
        </div>
        <button data-dismiss="modal" id="btnwordclosepopup" class="btn btn-small" ng-click="LoadassetsfrmOptimaker()">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>

<div id="sendAssetMailPopup" tabindex="-1" class="modal sendAssetMailPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="700px" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h3 id="H2">Email Assets</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span4">
                <form>
                    <div class="control-group">
                        <label class="control-label">{{'LanguageContents.Res_4861.Caption'|translate}}</label>
                        <div class="controls">
                            <input type="hidden" ui-select2="select2Options" ng-model="SendMailWithMdata.mailtags" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{'LanguageContents.Res_4776.Caption'|translate}}</label>
                        <div class="controls">
                            <textarea ng-model="sendMetadatMailSubject" class="small-textarea"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox checkbox-custom color-primary">
                                <input type="checkbox" id="checkmetadata" ng-click="selectmetadata($event)" />
                                <i ng-class="{'checkbox checked':includemdata,'checkbox':!includemdata}" ng-click="selectmetadata($event)"></i>
                                <span style="color: black">Include metadata</span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="span8" ng-show="Isassetlibrary==false">
                <table class="table table-condensed table-normal-right sendAssetAttachmentsTable">
                    <thead>
                        <tr>
                            <th>Asset Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span>
                                    <i class="icon-file fileTypeicon"></i>
                                    <span class="name">
                                        <a target="_blank" ng-href="DAMDownload.aspx?FileID={{ActiveVersion.Fileguid}}&amp;FileFriendlyName={{ActiveVersion.Name}}&amp;Ext={{ActiveVersion.Extension}}">{{ActiveVersion.Name}}</a>
                                    </span>
                                </span>
                            </td>
                            <td><span><i class="icon-paper-clip"></i></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <span class="InProgress" ng-show="MailprocessMailFlag">
            <img src="assets/img/loading.gif" />
            <span>{{'LanguageContents.Res_4738.Caption'|translate}}</span>
        </span>
    </div>
    <div class="modal-footer">
        <button ng-click="SendAssetWitMwtadata()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4736.Caption'|translate}}</button>
        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>

<div id="asseteditloadingDownloadPageModel" class="modal loadingPopup" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
    <div aria-labelledby="myModalLabel" id="Div5">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2>{{ProgressMsgHeader}}</h2>
        </div>
        <div class="modal-body">
            <span id="DamProgressPopup" class="popupContent">
                <i class="icon-spinner icon-spin icon-large"></i>
                <span class="headText">{{ProgressContent}}
                </span>
                <br />
                <span class="subText">{{'LanguageContents.Res_4851.Caption'|translate}}</span>
            </span>
        </div>
    </div>
</div>

<div id="cropAssetPopup" class="modal cropAssetPopup" aria-hidden="false" aria-labelledby="myModalLabel1" role="dialog" tabindex="-1" data-width="1200" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Crop</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <form class="form-horizontal">
                <div class="span12 croppingForm">
                    <div class="span4">
                        <div class="croppingOptions">
                            <div class="span12">
                                <div class="control-group">
                                    <label class="control-label">File name</label>
                                    <div class="controls">
                                        <label class="control-label">{{AssetAccess.AssetName}}</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Original image size:</label>
                                    <div class="controls">
                                        <span class="valueLable">
                                            <span class="freezeTxt">W:</span>
                                            <span class="value">{{orgWidth}}px</span>
                                            <span class="freezeTxt">X</span>
                                            <span class="freezeTxt">H:</span>
                                            <span class="value">{{orgHeight}}px</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Change Units to:</label>
                                    <div class="controls width1x">
                                        <select ui-select2 name="CropUnit" id="Select6" ng-model="CropUnit" ng-change="changeCropUnit()">
                                            <option value="1">Pixels</option>
                                            <option value="2">Inches</option>
                                            <option value="3">Millimeter</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Format:</label>
                                    <div class="controls">
                                        <select ui-select2 name="CropFormat" id="Select7" ng-model="CropFormat" ng-change="changeCropFormat()">
                                            <option value="0" selected="selected">--No Change--</option>
                                            <option value="1">Profile</option>
                                            <option value="2">Custom</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="Div4" class="span12 StaticOptions" ng-show="StaticOptionDiv">
                                <div class="span12">
                                    <div class="customProfileInfo">
                                        <div class="span6">
                                            <div class="control-group">
                                                <label class="control-label">{{'LanguageContents.Res_4907.Caption'|translate}}</label>
                                                <div class="controls">
                                                    <label class="control-label valueLabel" id="Label9" ng-model="SWidth">{{corpWidth}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="control-group">
                                                <label class="control-label">{{'LanguageContents.Res_4434.Caption'|translate}}</label>
                                                <div class="controls">
                                                    <label class="control-label valueLabel" id="Label10" ng-model="SHeight">{{corpHeight}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="Div1" class="span12 ProfileOptions" ng-show="ProfileOptionDiv">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label">Profile</label>
                                        <div class="controls">
                                            <select ui-select2 name="ProfileType" id="Select8" ng-model="ProfileType" ng-change="changeProfileType()">
                                                <option value="0">{{'LanguageContents.Res_4625.Caption'|translate}}</option>
                                                <option ng-repeat="item in DamProfileType" value="{{item.ID}}">{{item.Name}}</option>
                                            </select>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="span12">
                                    <div class="customProfileInfo">
                                        <div class="span6">
                                            <div class="control-group">
                                                <label class="control-label">Width (In Pixels):</label>
                                                <div class="controls">
                                                    <label class="control-label valueLabel" id="Label1" ng-model="ProWidth">{{ProfileWidth}}</label>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">File Format:</label>
                                                <div class="controls">
                                                    <label class="control-label valueLabel" id="Label2" ng-model="ProFileFormat">{{Profileformate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="control-group">
                                                <label class="control-label">Height (In Pixels):</label>
                                                <div class="controls">
                                                    <label class="control-label valueLabel" id="Label7" ng-model="ProHeight">{{ProfileHeight}}</label>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">DPI:</label>
                                                <div class="controls">
                                                    <label class="control-label valueLabel" id="Label8" ng-model="ProDpi">{{ProfileDpi}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="Div2" class="span12 CustomOptions" ng-show="CustomOptionDiv">
                                <div class="span12">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">Width (In Pixels):</label>
                                            <div class="controls">
                                                <input type="text" ng-model="CusWidth" id="Text1" />
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">File Format:</label>
                                            <div class="controls">
                                                <select ui-select2 name="CusFileFormat" id="Select9" ng-model="CusFileFormat">
                                                    <option ng-repeat="item in  mimes" value="{{item|lowercase}}">{{item}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">Height (In Pixels):</label>
                                            <div class="controls">
                                                <input type="text" ng-model="CusHeight" id="Text2" />
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">DPI:</label>
                                            <div class="controls">
                                                <input type="text" ng-model="CusDpi" id="Text3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Custom ratio:</label>
                                        <div class="controls doubleInput">
                                            <div id="Div3">
                                                <input type="text" ng-model="CusRWidth" id="Text4" />
                                                <span>:</span>
                                                <input type="text" ng-model="CusRHeight" id="Text5" />
                                                <label class="checkbox checkbox-custom">
                                                    <input type="checkbox" ng-model="Cusratio" id="Checkbox1" ng-click="selectCusratio($event)">
                                                    <i id="I4" class="checkbox"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loadIcon-large" ng-show="CropprocessFlag">
                        <span>
                            <img src="assets/img/loading.gif" />
                            {{'LanguageContents.Res_4641.Caption'|translate}}
                        </span>
                    </div>
                </div>
                <div class="croppingImgPreview">
                    <div class="croppingImg-Block">
                        <div id="cropImgContainer" class="croppingImg-Container">
                            <img id="cropasseteditimage" ng-src="{{fileguid}}" alt="cropImage" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group dropup">
            <a id="Cropcalling" class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Crop<span class="caret"></span></a>
            <ul class="dropdown-menu pull-right">
                <li><a href="#" ng-click="CropRescalevalue(1)">{{'LanguageContents.Res_25.Caption'|translate}}</a></li>
                <li><a href="#" ng-click="CropRescalevalue(2)">{{'LanguageContents.Res_4062.Caption'|translate}}</a></li>
            </ul>
        </div>
        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal dynamicTreePopup" id="AssetCategoryInAsstEdit" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" ng-click="CloseAssetCategoryTree()" class="close" type="button">×</button>
        <h3 id="H8">{{'LanguageContents.Res_4734.Caption'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div id="dynamicAssetTypeTreeInAsstEdit">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true">{{'LanguageContents.Res_14.Caption'|translate}}</a>
    </div>
</div>

<div id="clicknextprevious" class="modal loadingPopup" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
    <div aria-labelledby="myModalLabel" id="Div7">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2>{{processname}}</h2>
        </div>
        <div class="modal-body">
            <span id="Span1" class="popupContent">
                <i class="icon-spinner icon-spin icon-large"></i>
                <span class="headText">{{processrequestname}}
                </span>
                <br />
                <span class="subText">{{'LanguageContents.Res_4851.Caption'|translate}}</span>
            </span>
        </div>
    </div>
</div>

<div id="UplaodImagediv" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="H3">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
    </div>
    <div class="modal-body" id="filescontainer_attr">
        <div class="attachmentContainer">
            <div id="filelistfrUploader">
            </div>
        </div>
        <div class="attachment-dragfiles" id="dragfilesfruploader">
            <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
            <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
            <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
            <div><a href="JavaScript:void(o);" id="pickfiles_attr" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="attachment-progress pull-left" id="overViewUploaderTotalProgress"></div>
        <a id="uploadfiles_attr" href="JavaScript:void(o);" class="btn btn-small btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a>
        <a id="pickfilesAlternate_attr" href="JavaScript:void(o);" class="btn btn-small btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a>
        <a id="clearUploader_attr" href="JavaScript:void(o);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
    </div>
</div>
<div id="filescontainerassetEdit" style="display: none;">
    <button id="pickfilesUploaderAssetEdit" class="pickFiles" type="submit"></button>
</div>
<div id="bsmuipickfiles_replace" style="display: none;">
    <button id="bsmuipickfiles" class="pickFiles" type="submit"></button>
</div>
<div id="muifileuploadImage" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        &nbsp;
    </div>
    <div class="modal-body">
       
        <div class="imgCropperPopup">
            <div>
                <img src="" id="fileuploadCropReportImg" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-small btn-primary" data-dismiss="modal" ng-click="UploadReportImage();" href="JavaScript:void(0);">{{'LanguageContents.Res_15.Caption'|translate}}</a>
        <a aria-hidden="true" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</a>
    </div>
</div>
