﻿<!--<div id="blankassetcreation" ng-controller="mui.DAM.blankassetcreateCtrl">
    <div id="blankAssetPopup" class="modal hide fade blankAssetPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="500">-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="H3">{{Assettitle}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal ng-pristine ng-valid notvalidate" name="blankAsset" id="blankAsset">
        <div class="row-fluid">

            <div class="control-group" id="divLinkUrl" ng-show="ShowHideLinkUrl== true">
                <label class="control-label" for="inputUrl">{{'LanguageContents.Res_2512.Caption'|translate}}</label>
                <div class="controls">
                    <input type="text" class="txtbx" ng-model="LinkUrl" id="LinkUrl" placeholder="Asset Link Url" value="">
                </div>

            </div>
            <div class="control-group">
                <label class="control-label">{{'LanguageContents.Res_2507.Caption'|translate}}</label>
                <div class="controls">
                    <select ui-select2 name="AssetType" id="Select1" ng-model="AssetType" ng-change="loadattributes()">
                        <option value="">{{'LanguageContents.Res_2511.Caption'|translate}}</option>
                        <option ng-repeat="item in DAMAssetTypes" value="{{item.Id}}">{{item.Caption}}</option>
                    </select>
                </div>
            </div>
            <div class="control-group" id="AssetName" ng-show="ShowHideAssetName== true">
                <label for="inputAssetName" class="control-label">{{'LanguageContents.Res_4094.Caption'|translate}}</label>
                <div class="controls">
                    <input type="text" class="txtbx" ng-model="AssetName" id="inputAssetName" placeholder="Asset Name" value="">
                </div>
            </div>
            <div id="assetDynhtml"></div>
        </div>
        <input style="display: none" type="submit" id="btnTemp1" class="ng-scope" invisible>
    </form>
</div>
<div class="modal-footer">
    <button id="blankassetsave" ng-click="SaveAssetDetails()" data-target="JavaScript: void(0);" class="btn btn-primary">{{'LanguageContents.Res_4714.Caption'|translate}}</button>
    <button data-dismiss="modal" class="btn" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</button>
</div>
<!--    </div>
</div>-->
