﻿<style>
    .loadingInProgress {
        display: block;
        z-index: 99999;
        position: absolute;
        top: 0;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }

        .loadingInProgress span {
            display: block;
            width: 100%;
            color: #777;
            font-size: 20px;
            font-weight: lighter;
            position: absolute;
            top: 50%;
            left: 0;
            text-align: center;
        }
</style>

<div id="createmediagenasset">
    <div id="loadIframeImg" class="loadingInProgress">
        <span>
            <img src="../../../assets/img/loading.gif" alt="" />{{'LanguageContents.Res_4719.Caption'|translate}} 
        </span>
    </div>
</div>
<script type="text/javascript" src="../../../assets/js/Jquery/jquery-2.0.3.js"></script>
<script type="text/javascript" src="../../../assets/js/Jquery/jquery-2.0.3.min.js"></script>
<script src="assets/js/Jquery/Plugin/jquery.cookie.js"></script>
<script type="text/javascript">
    //DamService.CreateDOCGeneratedAsset($scope.optmakerObjsonDocdetailsj.EntityID, $scope.optmakerObj.FolderID, 34, $scope.optmakerObj.CreatedByID, getQueryStringValue("filename"), getQueryStringValue("assetname"))
    $(document).ready(function () {
        if (getQueryStringValue("Version") == "false") {
            var Docdetails = {
                //"EntityID": window.opener.entityId,
                //"FolderID": window.opener.folderid,
                //"AssetTypeID": 34,
                //"CreatedBy": window.opener.createdbyid,
                "EntityID": window.parent.entityId,
                "FolderID": window.parent.folderid,
                "AssetTypeID": 34,
                "CreatedBy": window.parent.createdbyid,
                "filename": getQueryStringValue("filename"),
                "assetname": getQueryStringValue("productionname")
            };
            var jsonDocdetails = JSON.stringify(Docdetails);
            //window.parent.$('#optimakerTemplatePopup').modal('hide');
            $.ajax({
                type: "POST",
                url: "http://localhost/MarcomV3.5_1/dam/CreateDOCGeneratedAsset",
                contentType: "application/json",
                data: jsonDocdetails,
                success: function (result) {

                    setTimeout(function () { window.parent.$('#btnclosepopup').click(); }, 1000);
                },
                error: function (data) {

                    alert("Please contact Admin.")
                },
            });

        }
        else if (getQueryStringValue("Version") == "true") {
            var versionDocdetails = {

                "EntityID": window.parent.entityId,
                "FolderID": window.parent.folderid,
                "AssetTypeID": 34,
                "CreatedBy": window.parent.createdbyid,
                //"EntityID": window.parent.entityId,
                //"FolderID": window.parent.folderid,
                //"AssetTypeID": 34,
                //"CreatedBy": window.parent.createdbyid,
                "filename": getQueryStringValue("filename"),
                "assetname": getQueryStringValue("productionname"),
                "assetid": window.parent.assetId
            };
            var jsonversionDocdetails = JSON.stringify(versionDocdetails);

            $.ajax({
                type: "POST",
                url: "http://localhost/MarcomV3.5_1/dam/CreateversionDOCGeneratedAsset",
                contentType: "application/json",
                data: jsonversionDocdetails,
                success: function (result) {
                    //window.parent.$('#AssetEditpopup').modal('hide');
                    window.parent.$('#btnwordclosepopup').click();
                    //window.close();
                    if (result != false) {
                       //Redirect to Client SSO site
                        // window.location.replace(result.Response + GetReturnURL());
                    }
                },
                error: function (data) {
                },
            });

        }
        else {

            //var mediaassetdets = {
            //    "DocversionID": getQueryStringValue("docversionid"),
            //    "AssetName": getQueryStringValue("productionname"),
            //    "EntityID": window.opener.entityId,
            //    "FolderID": window.opener.folderid,
            //    "CreatedBy": window.opener.createdbyid,
            //    "AssetTypeID": 33
            //};



            $.ajax({
                type: "POST",
                url: "http://localhost/MarcomV3.5_1/dam/CreateMediaGeneratorAsset",
                contentType: "application/json",
                crossDomain: true,
                data: jsonmediaassetdets,
                success: function (result) {

                    if (result != false) {

                        //Redirect to Client SSO site
                        // window.location.replace(result.Response + GetReturnURL());
                    }
                },
                error: function (data) {
                },
            });


        }

    });

    //var mediaassetdets = {
    //    "DocversionID": 87890,//getQueryStringValue("docversionid"),
    //    "AssetName": 'T1',//getQueryStringValue("productionname"),
    //    "EntityID": 1,//window.opener.entityId,
    //    "FolderID": 1,//window.opener.folderid,
    //    "CreatedBy": 14849,//window.opener.createdbyid,
    //    "AssetTypeID": 33
    //};

    /*
    var mediaassetdets = {
        "DocversionID": getQueryStringValue("docversionid"),
        "AssetName": getQueryStringValue("productionname"),
        "EntityID": window.opener.entityId,
        "FolderID": window.opener.folderid,
        "CreatedBy": window.opener.createdbyid,
        "AssetTypeID": 33
    };
    */

    //var jsonmediaassetdets = JSON.stringify(mediaassetdets);


    function getQueryStringValue(key) {
        return unescape(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + escape(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
    }
</script>

