﻿<div id="damtask" ng-controller="mui.DAM.damassettempCtrl">
    <div id="attachDAMAssetsPopup" class="modal attachDAMAssetsPopup" style="display: none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="1200">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H3">{{'LanguageContents.Res_4042.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div id="attachPopup-FilterDiv" class="btn-toolbar">
                    <div class="btn-group">
                        <span class="filterName">{{'LanguageContents.Res_4896.Caption'|translate}}</span>
                        <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                            {{DamViewName}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="FilterByOptionChange(1)" href="javascript:void(0)">{{'LanguageContents.Res_4857.Caption'|translate}}</a></li>
                            <li><a ng-click="FilterByOptionChange(2)" href="javascript:void(0)">{{'LanguageContents.Res_4811.Caption'|translate}}</a></li>
                            <li><a ng-click="FilterByOptionChange(3)" href="javascript:void(0)">{{'LanguageContents.Res_663.Caption'|translate}}</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <span class="filterName">{{'LanguageContents.Res_4755.Caption'|translate}}</span>
                        <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                            {{OrderbyName}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu ">
                            <li><a ng-click="OrderbyOption(1)" href="javascript:void(0)">{{'LanguageContents.Res_4496.Caption'|translate}}</a></li>
                            <li><a ng-click="OrderbyOption(2)" href="javascript:void(0)">{{'LanguageContents.Res_4497.Caption'|translate}}</a></li>
                            <li><a ng-click="OrderbyOption(3)" href="javascript:void(0)">{{'LanguageContents.Res_4181.Caption'|translate}}</a></li>
                            <li><a ng-click="OrderbyOption(4)" href="javascript:void(0)">{{'LanguageContents.Res_4925.Caption'|translate}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="imglistSection span12">
                    <div class="foldersTree span3" id="left_attach_folderTree">
                        <ul id="attach_foldersTreeHolder" class="treeHolderwithFolder">
                            <li data-page="0" class="">
                                <div id="attachDamFolder">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="imgViewSection span9" id="contentScroll">
                        <div id="assetdata"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="attachdamasset" ng-click="AttachFile()" class="btn btn-small btn-primary">{{'LanguageContents.Res_1572.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
