﻿<div id="damentityselect" ng-controller="mui.DAM.entitydamselectionCtrl">
    <div class="row-fluid">
        <div id="entityPopup-FilterDiv" class="btn-toolbar">
            <div class="btn-group">
                <span class="filterName">{{'LanguageContents.Res_4896.Caption'|translate}}</span>
                <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                    {{DamViewName.viewName}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="FilterByOptionChange(1)" href="javascript:void(0)">{{'LanguageContents.Res_4857.Caption'|translate}}</a></li>
                    <li><a ng-click="FilterByOptionChange(2)" href="javascript:void(0)">{{'LanguageContents.Res_4811.Caption'|translate}}</a></li>
                    <li><a ng-click="FilterByOptionChange(3)" href="javascript:void(0)">{{'LanguageContents.Res_663.Caption'|translate}}</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <span class="filterName">{{'LanguageContents.Res_4755.Caption'|translate}}</span>
                <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                    {{OrderbyName.orderbyname}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu ">
                    <li><a ng-click="OrderbyOption(1)" href="javascript:void(0)">{{'LanguageContents.Res_4496.Caption'|translate}}</a></li>
                    <li><a ng-click="OrderbyOption(2)" href="javascript:void(0)">{{'LanguageContents.Res_4497.Caption'|translate}}</a></li>
                    <li><a ng-click="OrderbyOption(3)" href="javascript:void(0)">{{'LanguageContents.Res_4181.Caption'|translate}}</a></li>
                    <li><a ng-click="OrderbyOption(4)" href="javascript:void(0)">{{'LanguageContents.Res_4926.Caption'|translate}}</a></li>
                </ul>
            </div>
        </div>
        <div class="imglistSection span12">
            <div class="foldersTree span3" id="left_entity_folderTree">
                <ul id="entity_foldersTreeHolder" class="treeHolderwithFolder">
                    <li data-page="0" class="">
                        <div id="entityDamFolder">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="imgViewSection span9" id="entitycontentScroll">
                <div id="entityassetdata">
                </div>
            </div>
        </div>
    </div>
</div>
