﻿<!--<div ng-controller="mui.DAM.lightboxCtrl">-->
<div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" ng-click="closethispopup()" type="button">×</button>
    <h3>{{'LanguageContents.Res_4464.Caption'|translate}}</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div id="entityPopup-FilterDiv" class="btn-toolbar">
            <div class="btn-group">
                <span class="filterName">{{'LanguageContents.Res_4896.Caption'|translate}}</span>
                <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                    {{lightDamViewName.viewName}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="FilterByOptionChange(1)" href="javascript:void(0)">{{'LanguageContents.Res_4857.Caption'|translate}}</a></li>
                    <li><a ng-click="FilterByOptionChange(2)" href="javascript:void(0)">{{'LanguageContents.Res_4811.Caption'|translate}}</a></li>
                    <li><a ng-click="FilterByOptionChange(3)" href="javascript:void(0)">{{'LanguageContents.Res_663.Caption'|translate}}</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <span class="filterName">{{'LanguageContents.Res_4755.Caption'|translate}}</span>
                <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                    {{lightOrderbyName.orderbyname}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="OrderbyOption(1)" href="javascript:void(0)">{{'LanguageContents.Res_4496.Caption'|translate}}</a></li>
                    <li><a ng-click="OrderbyOption(2)" href="javascript:void(0)">{{'LanguageContents.Res_4497.Caption'|translate}}</a></li>
                    <li><a ng-click="OrderbyOption(3)" href="javascript:void(0)">{{'LanguageContents.Res_4181.Caption'|translate}}</a></li>
                    <li><a ng-click="OrderbyOption(4)" href="javascript:void(0)">{{'LanguageContents.Res_4926.Caption'|translate}}</a></li>
                </ul>
            </div>
            <button class="btn btn-small btn-selectAll" data-toggle="modal" ng-click="selectallassets(0);">
                <i ng-class="{'icon-unchecked':!lightboxSelectAllAssetsObj.checkselectall,'icon-check':lightboxSelectAllAssetsObj.checkselectall}" id="icon_lightboxselectassets"></i>
                {{'LanguageContents.Res_4724.Caption'|translate}}
            </button>
            <i id="lightboxactionmenuicon" class="icon-reorder pull-right menuIcon" data-toggle='dropdown' data-role="" contextmenuoptions="Lightboxactionmenu"></i>
        </div>
        <div class="imglistSection span12">
            <div class="lb-assetList" id="lightboxentitycontentScroll">
                <div id="lightboxentityassetdata">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="lb-footer-btnPanel" ng-hide="IsLightBoxMailSender">
        <button data-dismiss="modal" class="btn btn-small" ng-click="closethispopup()">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        <button ng-click="openSendPopup()" class="btn btn-small btn-primary displayNone">{{'LanguageContents.Res_4736.Caption'|translate}}</button>
        <!--<button ng-click="downloadLightboxFiles()" class="btn btn-small btn-primary">{{'LanguageContents.Res_25.Caption'|translate}}</button>-->
        <button ng-click="removefromLightboxFiles()" class="btn btn-small btn-danger displayNone">{{'LanguageContents.Res_4683.Caption'|translate}}</button>
        <div id="btnDropdownDynamic" class="btn-group">
            <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="javascript:void()">{{'LanguageContents.Res_25.Caption'|translate}}<span class="caret"></span></a>
            <ul class="dropdown-menu pull-right">
                <li><a ng-click="downloadLightboxFiles()" href="javascript:void(0)">{{'LanguageContents.Res_249.Caption'|translate}}</a></li>
                <li><a ng-click="DownloadWithMetadata(false)" href="javascript:void(0)">{{'LanguageContents.Res_248.Caption'|translate}}</a></li>
                <li><a href="javascript:void(0)" ng-click="DownloadWithMetadata(true)">{{'LanguageContents.Res_247.Caption'|translate}}</a></li>
            </ul>
        </div>
        <input type="hidden" id="lightboxdownload_token_value_id" />
    </div>
</div>
<!-- <div id="LightBoxPreview" class="modal hide fade modal-overflow in LightBoxPreviewPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-width="1080px">
        
    </div>-->

<div id="lightboxloadingDownloadPageModel" class="modal loadingPopup" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
    <div aria-labelledby="myModalLabel" id="Div1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2>{{ProgressMsgHeader}}</h2>
        </div>
        <div class="modal-body">
            <span id="DamProgressPopup" class="popupContent">
                <i class="icon-spinner icon-spin icon-large"></i>
                <span class="headText">{{ProgressContent}}
                </span>
                <br />
                <span class="subText">{{'LanguageContents.Res_4851.Caption'|translate}}</span>
            </span>
        </div>
    </div>
</div>

<div id="sendlightboxmailPopup" tabindex="-1" class="modal sendAssetMailPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="700px" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h3 id="H2">Email Asset</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span4">
                <form>
                    <div class="control-group">
                        <label class="control-label">{{'LanguageContents.Res_4861.Caption'|translate}}</label>
                        <div class="controls">
                            <!--<tags-input ng-model="LightBox.mailtags"></tags-input>-->
                            <input type="hidden" ui-select2="select2Options" ng-model="LightBox.mailtags" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{'LanguageContents.Res_4776.Caption'|translate}}</label>
                        <div class="controls">
                            <textarea ng-model="mailSubject" class="small-textarea"></textarea>
                            <!--<input type="text" ng-model="mailSubject" />-->
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox checkbox-custom color-primary">
                                <input type="checkbox" id="Checkbox1" ng-click="selectmetadata($event)" />
                                <i ng-class="{'checkbox checked':includemdata,'checkbox':!includemdata}" ng-click="selectmetadata($event)"></i>
                                <span style="color: black">Include metadata</span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <span class="InProgress" ng-show="processMailFlag">
            <img src="assets/img/loading.gif" />
            <span>{{'LanguageContents.Res_4738.Caption'|translate}}</span>
        </span>
    </div>
    <div class="modal-footer">
        <button ng-click="sendMail()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4736.Caption'|translate}}</button>
        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>

<ul id="LightBoxthumbnailActionMenu" style="display: none;" class="dropdown-menu contexMenu">
    <li><a href="javascript:void(0)" ng-click="createAssettask(2)">Add task</a></li>
    <li class="divider"></li>
    <li><a href="javascript:void(0)" ng-click="reformatprocess()">Reformat</a></li>
    <li><a href="javascript:void(0)" ng-click="openSendPopup()">Send</a></li>
    <li class="divider"></li>
    <li><a href="javascript:void(0)" ng-click="PerformAssetOperation(2)">{{'LanguageContents.Res_4171.Caption'|translate}}</a></li>
    <li class="divider"></li>
    <li><a href="javascript:void(0)" ng-click="selectallassets(1)">Select all</a></li>
    <li><a href="javascript:void(0)" ng-click="Dselectallassets()">Deselect all</a></li>
    <li class="divider"></li>
    <li><a href="javascript:void(0)" ng-click="removefromLightboxFiles()">Remove from lightbox</a></li>
    <li class="divider"></li>
    <li><a ng-click="downloadLightboxFiles()" href="javascript:void(0)">Download File</a></li>
    <li><a ng-click="DownloadWithMetadata(false)" href="javascript:void(0)">Download Metadata</a></li>
    <li><a href="javascript:void(0)" ng-click="DownloadWithMetadata(true)">Download Package</a></li>
    <!--<li><a tabindex="-1" ng-click="download()" href="javascript:void(0)">{{'LanguageContents.Res_25.Caption'|translate}}</a></li>-->
    <!--<li><a tabindex="-1" href="javascript:void(0)" ng-click="PerformAssetOperation(2)">{{'LanguageContents.Res_4171.Caption'|translate}}</a></li>-->
    <!--<li><a tabindex="-1" ng-click="Addtolightbox()" href="javascript:void(0)">Add to Light box</a></li>-->
    <!--<li><a ng-click="downloadLightboxFiles()" href="javascript:void(0)">Download File</a></li>
        <li><a ng-click="DownloadWithMetadata(false)" href="javascript:void(0)">Download Metadata</a></li>
        <li><a href="javascript:void(0)" ng-click="DownloadWithMetadata(true)">Download Package</a></li>
        <li><a href="javascript:void(0)" ng-click="openSendPopup()">Send</a></li>-->
    <!--<li><a href="javascript:void(0)">Reformat</a></li>-->
</ul>
<ul id="Lightboxactionmenu" style="display: none;" class="dropdown-menu contexMenu">
    <li><a href="javascript:void(0)" ng-click="createAssettask(2)">Add task</a></li>
    <li class="divider"></li>
    <li><a href="javascript:void(0)" ng-click="reformatprocess()">Reformat</a></li>
    <li><a href="javascript:void(0)" ng-click="openSendPopup()">Send</a></li>
    <li class="divider"></li>
    <li><a href="javascript:void(0)" ng-click="PerformAssetOperation(2)">{{'LanguageContents.Res_4171.Caption'|translate}}</a></li>
    <li class="divider"></li>
    <li><a href="javascript:void(0)" ng-click="selectallassets(1)">Select all</a></li>
    <li><a href="javascript:void(0)" ng-click="Dselectallassets()">Dselect all</a></li>
    <li class="divider"></li>
    <li><a href="javascript:void(0)" ng-click="removefromLightboxFiles()">Remove from lightbox</a></li>
    <li class="divider"></li>
    <li><a ng-click="downloadLightboxFiles()" href="javascript:void(0)">Download File</a></li>
    <li><a ng-click="DownloadWithMetadata(false)" href="javascript:void(0)">Download Metadata</a></li>
    <li><a href="javascript:void(0)" ng-click="DownloadWithMetadata(true)">Download Package</a></li>
</ul>

<!--</div>-->
