﻿<!--<div ng-controller="mui.DAM.damoptimakertemplateCtrl">

    <div id="optimakerTemplatePopup" class="modal hide fade optimakerTemplatePopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static" data-width="1200">-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="closeoptiTemplatePopup()" aria-hidden="true">×</button>
    <h3 id="H3">{{'LanguageContents.Res_4733.Caption'|translate}}</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span12">
            <div class="tabbable tabbable-bordered">
                <ul class="nav nav-tabs" id="SectionTabs">

                    <li class="active"><a href="#Suggested" ng-click="SetCurrentTabID('optiMakerTreeHoldersuggested')" data-toggle="tab">{{'LanguageContents.Res_4809.Caption'|translate}}</a></li>
                    <li><a href="#Library" ng-click="SetCurrentTabID('optiMakerTreeHolderLibrary')" data-toggle="tab">{{'LanguageContents.Res_4462.Caption'|translate}}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-line"></div>
                    <div class="tab-pane active" id="Suggested">
                        <div id="optimakerTemplates" class="optimakerTemplates">
                            <div class="span12">
                                <div class="optiMakerTree span3">
                                    <div id="optiMakerTreeHoldersuggested" class="treeHolderforOptiMaker">
                                    </div>
                                </div>
                                <div class="optimakerTemplatesBlock span9">
                                    <div id="opti-FilterDiv" class="btn-toolbar opti-FilterDiv">
                                        <div class="btn-group">
                                            <span class="filterName">{{'LanguageContents.Res_4896.Caption'|translate}}</span>
                                            <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                                                {{'LanguageContents.Res_4857.Caption'|translate}}
                                                        <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">{{'LanguageContents.Res_4857.Caption'|translate}}</a></li>
                                                <li><a href="#">{{'LanguageContents.Res_4811.Caption'|translate}}</a></li>
                                                <li><a href="#">{{'LanguageContents.Res_663.Caption'|translate}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="DetailsSuggested" class="optimakerTemplatesSection">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="Library">
                        <div id="" class="optimakerTemplates">
                            <div class="span12">
                                <div class="optiMakerTree span3">
                                    <div id="optiMakerTreeHolderLibrary" class="treeHolderforOptiMaker">
                                    </div>
                                </div>
                                <div class="optimakerTemplatesBlock span9">
                                    <div id="DetailsLibrary" class="optimakerTemplatesSection">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button data-dismiss="modal" ng-click="closeoptiTemplatePopup()" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
</div>
<!--</div>-->
<div id="TemplatePdfGeneratingPageModel" class="modal hide fade loadingPopup" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
    <div aria-labelledby="myModalLabel" id="Div5">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2>{{'LanguageContents.Res_5586.Caption'|translate}}</h2>
        </div>
        <div class="modal-body">
            <span id="DamProgressPopup" class="popupContent">
                <i class="icon-spinner icon-spin icon-large"></i>
                <span class="headText">{{'LanguageContents.Res_5587.Caption'|translate}}
                </span>
                <br />
                <span class="subText">{{'LanguageContents.Res_5588.Caption'|translate}}</span>
            </span>
        </div>
    </div>
</div>
<!--</div>-->
<script>
    $(document).ready(function () { setPopupSize(); });

    $(window).resize(function () { setPopupSize(); });

    function setPopupSize() {
        function getWindowWidth() { return $(window).width(); }
        function getWindowHeight() { return $(window).height(); }

        var popUpHeight = getWindowHeight() - 150;
        var popUpWidth = getWindowWidth() - 75;
        var inTabContentHeight = popUpHeight - 33;

        //Setting Width
        $('#optimakerTemplatePopup').attr("data-width", popUpWidth + 'px');
        $('#optimakerTemplatePopup').css("width", popUpWidth + 'px');
        //Setting Height
        $('#optimakerTemplatePopup div.modal-body').css("height", popUpHeight + 'px');
        $('#optimakerTemplatePopup div.modal-body .optimakerTemplates .optiMakerTree').css("min-height", inTabContentHeight + 'px');
        $('#optimakerTemplatePopup div.modal-body .optimakerTemplates .optimakerTemplatesBlock .optimakerTemplatesSection').css("height", inTabContentHeight + 'px');
    }
</script>
