﻿<!--<div id="damentityselect" class="relative" ng-controller="mui.DAM.taskentitydamselectionCtrl">-->
<!--<a data-toggle="modal" class="drpD-Link" ng-click="openpopup();">Add from entity attachment ok</a>-->
<!--  <a data-toggle="modal" ng-show="AssetEditTask  && processingsrcobj.processinglock == false" class="btn btn-small btn-primary btn-attchFrom" ng-click="openpopup();">{{'LanguageContents.Res_4049.Caption'|translate}}</a>-->
<!--    <a data-toggle="modal" ng-show="AssetaddTask && processingsrcobj.processinglock == false" class="drpD-Link" ng-click="openpopup();">{{'LanguageContents.Res_4049.Caption'|translate}}</a>
    <div id="attachfromdam" class="modal hide fade fileUploadPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="1180">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="closedamselectionpopup()" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="H2">{{'LanguageContents.Res_35.Caption'|translate}}</h3>
</div>
<div class="modal-body" id="assetscontainerattach">
    <div class="row-fluid">
        <div id="entityPopup-FilterDiv" class="btn-toolbar">
            <div class="btn-group">
                <span class="filterName">{{'LanguageContents.Res_4896.Caption'|translate}}</span>
                <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                    {{DamViewName.viewName}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="FilterByOptionChange(1)" href="javascript:void(0)">{{'LanguageContents.Res_4857.Caption'|translate}}</a></li>
                    <li><a ng-click="FilterByOptionChange(2)" href="javascript:void(0)">{{'LanguageContents.Res_4811.Caption'|translate}}</a></li>
                    <li><a ng-click="FilterByOptionChange(3)" href="javascript:void(0)">{{'LanguageContents.Res_663.Caption'|translate}}</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <span class="filterName">{{'LanguageContents.Res_4755.Caption'|translate}}</span>
                <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
                    {{OrderbyName.orderbyname}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu ">
                    <li><a ng-click="OrderbyOption(1)" href="javascript:void(0)">{{'LanguageContents.Res_4496.Caption'|translate}}</a></li>
                    <li><a ng-click="OrderbyOption(2)" href="javascript:void(0)">{{'LanguageContents.Res_4497.Caption'|translate}}</a></li>
                    <li><a ng-click="OrderbyOption(3)" href="javascript:void(0)">{{'LanguageContents.Res_4181.Caption'|translate}}</a></li>
                    <li><a ng-click="OrderbyOption(4)" href="javascript:void(0)">{{'LanguageContents.Res_4927.Caption'|translate}}</a></li>
                </ul>
            </div>
        </div>
        <div class="imglistSection span12">
            <div class="foldersTree span3" id="left_entity_folderTree">
                <ul id="entity_foldersTreeHolder" class="treeHolderwithFolder">
                    <li data-page="0" class="">
                        <div id="taskentityDamFolder">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="imgViewSection span9" id="entitycontentScroll">
                <div id="taskentityassetdata" class="taskentityassetdatadiv">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a id="save" href="JavaScript:void(0);" ng-click="SaveAttach();" class="btn btn-small btn-primary">{{AsseTaskoption}}</a>
</div>
<!--   </div>
</div>-->
