﻿<div class="tab-line"></div>
<div id="customtabDiv" class="row-fluid" ng-class="{ 'tab-pane fade in active': ( subview == 'customtab' ) }">
    <div class="span12">
        <div class="customtab">
            <!--{{CustomTab.Selection}}-->
            <iframe id="default-customtab" class="extLink" src="{{CustomTab.Selection}}" frameborder="0"></iframe>
        </div>
    </div>
</div>
