﻿<div class="tab-pane fade active in" id="Members" ng-class="{ 'tab-pane fade in active': ( subview == 'member' ) }" ng-controller="mui.planningtool.calender.detail.memberCtrl">
    <div class="tab-line"></div>
    <div class="pull-right">
        <a class="btn btn-primary btn-small" ng-show="IsLock == false" ng-click="addMember()">
            <span>{{'LanguageContents.Res_8.Caption'|translate}}</span>
        </a>
        <button type="button" ng-show="ShowGlobalAccess && IsLock == false" ng-click="toggleAutoUserAccess()" id="showautouser" class="btn btn-small">{{GlobalAccessStatus.GlobalText}}</button>
    </div>
    <!-- BEGIN: Outer ngRepeat. -->
    <div class="box box-noborder" ng-repeat="group in groups">
        <div class="box-header">
            <h4>{{ group.rolename }}</h4>
        </div>
        <!-- BEGIN: Inner ngRepeat. -->
        <div id="membersDivObj" class="box-content">
            <div class="box-content-margin">
                <div userid="friend.Userid" class="memberBlock" ng-repeat="friend in group.friends">
                    <div class="member">
                        <div class="row-fluid">
                            <div class="span3">
                                <img src="Handlers/UserImage.ashx?id={{friend.Userid}}&time={{DefaultImageSettings.ImageSpan}}" alt="no image" class="avatar" />
                            </div>
                            <div class="span9">
                                <div class="name">{{ friend.UserName }}</div>
                                <div class="info">{{ DecodedTextName(friend.QuickInfo1) }}</div>
                                <div class="">{{ DecodedTextName(friend.QuickInfo2) }}</div>
                            </div>
                        </div>
                    </div>
                    <a class="CloseIcon"><i ng-hide="((friend.BackendRoleID ==1)|| (friend.BackendRoleID ==8)||(friend.InheritedFromEntityid >0))" ng-click="deleteEntityMember(friend.Id, friend.UserName)" class="icon-remove"></i></a>
                </div>
            </div>
        </div>
        <!-- END: Inner ngRepeat. -->
    </div>
    <!-- END: Outer ngRepeat. -->

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="memberModal" style="display: none;">
        <div class="modal-header">
            <button ng-click="CloseAddmember()" aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">{{'LanguageContents.Res_1651.Caption'|translate}}</h3>
        </div>
        <br />
        <div class="modal-body">
            <form class="form-inline">
                <input type="text" id="ddluser" autocomp ng-model="ddlUser" />
                <select ui-select2 name="ddlrole" id="Objddlrole" ng-model="ddlrole">
                    <!--ng-options="item as item.Caption for item in Roles"-->
                    <option value="">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                    <option ng-repeat="item in Roles" value="{{item.ID}}">{{item.Caption}}</option>
                </select>
                <a id="addObjmemberID" class="btn btn-primary" ng-click="addEntityMember()">{{'LanguageContents.Res_8.Caption'|translate}}</a>
            </form>
            <div>
                <table class="table table-normal-both table-normal-both-big-left" ng-show="memberList.length > 0">
                    <thead>
                        <tr>
                            <th><span></span></th>
                            <th><span>{{'LanguageContents.Res_32.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_259.Caption'|translate}}</span></th>
                            <!--<th><span>{{LanguageContents.Res_70}}</span></th>
                            <th><span>{{LanguageContents.Res_261}}</span></th>-->
                            <th><span>{{'LanguageContents.Res_33.Caption'|translate}}</span></th>
                            <th><span>{{QuickInfo1AttributeCaption}}</span></th>
                            <th><span>{{QuickInfo2AttributeCaption}}</span></th>
                            <th><span></span></th>
                        </tr>
                    </thead>
                </table>
                <div class="MemberBlock">
                    <table class="table table-normal-both table-normal-both-big-left" ng-show="memberList.length > 0">
                        <tbody id="CreateNewMember">
                            <tr ng-show="item.IsInherited==false" ng-repeat="item in memberList" userid="{{item.Userid}}">
                                <td>
                                    <span>
                                        <img class="avatar" src="Handlers/UserImage.ashx?id={{item.Userid}}" id="memberimg">
                                    </span>
                                </td>
                                <td><span>{{item.UserName}}</span></td>
                                <td><span>{{item.Role}}</span></td>
                                <!--<td><span>{{item.DepartmentName}}</span></td>
                                <td><span>{{item.Title}}</span></td>-->
                                <td><span>{{item.UserEmail}}</span></td>
                                <td><span>{{item.QuickInfo1}}</span></td>
                                <td><span>{{item.QuickInfo2}}</span></td>
                                <td>
                                    <span>
                                        <span><i ng-click="deleteOptions(item)" ng-show="item.FromGlobal==0" class="icon-remove icon-remove-app font14"></i></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="CloseAddmember()" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
