﻿<div id="Overview" ng-class="{ 'tab-pane fade in active': ( subview == 'overview' ) }" ng-controller="mui.planningtool.calender.detail.overviewCtrl">
    <div class="tab-line"></div>
    <div id="CalenderOverviewDiv" class="row-fluid">
        <div class="span7">
            <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_1201.Caption'|translate}}</h4>
                    <div class="pull-right">
                        <div class="btn-group nomargin">
                            <span class="filterName">{{'LanguageContents.Res_411.Caption'|translate}}</span>
                            <select class="multiselect" ng-change="FeedgroupFilterByOptionChange()" data-placeholder="Select filter" ng-model="Newsfilter.FeedgroupMulitipleFilterStatus" ng-options="item.ID as item.Name for item in Feedglist" multiple="multiple" multiselectpartial></select>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="newsFeedBlock">
                            <div class="newsFeedSection">
                                <div class="newComment">
                                    <div class="userAvatar">
                                        <img src="{{NewUserImgSrc}}" data-role="user-avatar">
                                    </div>
                                    <div data-role="textarea" class="textarea-wrapper">
                                        <div id="feedcomment" contenteditable="true" class="textarea" tabindex="0" ngfocus="if(document.getElementById('feedtextholder').innerHTML.replace(/ /g,'').length > 0){setTimeout(function(){document.getElementById('feedcomment').innerHTML = ''},1)};" ngblur="if(document.getElementById('feedcomment').innerHTML.replace(/(<([^>]+)>)/ig,'').replace(/ /g,'').length == 0){document.getElementById('feedcomment').innerHTML = '<span id=\'feedtextholder\' class=\'placeholder\'>Write a comment...</span>'};">
                                            <span id="feedtextholder" class="placeholder">{{'LanguageContents.Res_1202.Caption'|translate}}...</span>
                                        </div>
                                    </div>
                                    <div class="newsFeedPersonFilter">
                                        <select class="multiselect" multiple="multiple" multiselect-dropdown ng-options="opt.Userid as opt.UserName for opt in  EntityUserListInCalender" data-placeholder="Select Users" ng-model="PersonalUserIdsInCalender"></select>
                                    </div>
                                    <button class="btn btn-small btn-primary" ng-click="AddNewsFeed()" type="submit">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
                                </div>
                                <ul class="mainComment" id="CalenderFeedsdiv"></ul>
                                <div id="FeedContentdiv"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span5">
            <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_4136.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin" id="calendersAssignmentstypeDiv">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">{{'LanguageContents.Res_4669.Caption'|translate}}</label>
                                <div class="controls">
                                    <input type="text" class="dateBox" ng-model="CalenderDetails.PublishedOn" value="" ng-click="Calanderopen($event,'calanderopened')" is-open="calanderopened" datepicker-popup="{{format}}" datepicker-options="dateOptions" close-text="Close" />
                                </div>
                            </div>
                            <div class="control-group period">
                                <label class="control-label" for="Calendervisperiod">{{'LanguageContents.Res_4902.Caption'|translate}}</label>
                                <div class="controls">
                                    <input type="text" class="dateTbx" ng-model="CalenderDetails.VisibilityPeriod" id="CalenderVisPeriod" />
                                    <select ui-select2 ng-model="CalenderDetails.Visibilitytype" data-placeholder="--Select--">
                                        <option value="0" ng-selected="true">{{'LanguageContents.Res_4201.Caption'|translate}}</option>
                                        <option value="1">{{'LanguageContents.Res_4904.Caption'|translate}}</option>
                                        <option value="2">{{'LanguageContents.Res_4489.Caption'|translate}}</option>
                                        <option value="3">{{'LanguageContents.Res_4914.Caption'|translate}}</option>
                                    </select>
                                </div>
                            </div>
                          <!--  <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox checkbox-custom inlineBlock" for="CalenderisExternal">
                                        <input type="checkbox" ng-checked="CalenderDetails.IsExternal"><i ng-class="isexternalselect(CalenderDetails.IsExternal);" ng-click="checkIsExternal(CalenderDetails.IsExternal,$event);" id="CalenderisExternal" ng-model="CalenderDetails.IsExternal"></i>
                                       
                                        <span>{{'LanguageContents.Res_4454.Caption'|translate}}</span>
                                    </label>
                                </div>
                            </div>-->
                            <div class="newCalender-step1-options">
                                <h4 class="heading">Tabs</h4>
                                <ul>
                                    <li ng-repeat="item in TabCollectionsList">
                                        <label class="checkbox checkbox-custom ">

                                            <input type="checkbox" id="{{item.Id}}" data-exturl="{{item.ExternalUrl}}"><i id="tabscheckbox_{{item.Id}}"></i>
                                            <span>{{item.Name}}</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer right">
                    <button ng-click="CalenderDetEdit();" ng-show="IsLock == false" ng-model="CalenderDetEdit" class="btn btn-small btn-primary">{{'LanguageContents.Res_4714.Caption'|translate}}</button>
                </div>
            </div>

            <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_1221.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" id="fulfillmentDiv"></form>
                    </div>
                </div>
                <div class="box-footer right">
                    <button ng-click="CalenderFulfillEdit()" ng-show="IsLock == false" ng-model="CalenderFulfillEdit" class="btn btn-small btn-primary">{{'LanguageContents.Res_20.Caption'|translate}}</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_38.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div ng-show="detailsLoader" class="loadIcon-small">
                        <img alt="Loading" src="assets/img/loading.gif" />
                        <span>{{'LanguageContents.Res_68.Caption'|translate}}...</span>
                    </div>
                    <div class="box-content-margin" ng-show="detailsData">
                        <form class="form-horizontal" id="caldetailsDiv"></form>
                    </div>
                </div>
            </div>

            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal editCalenderModal" data-width="820" id="EditCalenderFulfillment" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3>{{'LanguageContents.Res_1224.Caption'|translate}}</h3>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="control-group">
                            <div class="CalenderFullFillMent">
                                <div id="CalenderFulfillmentMetadatatbody">
                                </div>
                            </div>
                            <div class="align-right">
                                <button ng-click="getEntities()" class="btn btn-primary align-right">Get entities</button>
                            </div>
                            <div class="CalenderFullFillMent-EntitiesTable">
                                <h4>Available Entities</h4>
                                <table class="table table-normal-left tableheader">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="checkbox checkbox-custom">
                                                    <input id="Checkbox2" type="checkbox" ng-click="selectAllEntities($event);">
                                                    <i class="checkbox" id="iconselectallentities"></i>
                                                </label>
                                            </th>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Owner</th>
                                            <th class="last"></th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="tablecontent">
                                    <table class="table table-normal-left">
                                        <tbody>
                                            <tr ng-repeat="item in FulfillEntites">
                                                <td>
                                                    <label class="checkbox checkbox-custom">
                                                        <input type="checkbox" ng-click="selectEntity(item.EntityID,$event);">
                                                        <i id="CalSelEntity_{{item.EntityID}}"></i>
                                                    </label>
                                                </td>
                                                <td>{{item.EntityID}}</td>
                                                <td>{{item.Name}}</td>
                                                <td>{{item.OwnerName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="fullfilmentbtn" ng-show="IsLock == false" ng-click="updateCalenderFulFillment()" ng-model="updateCalenderFulFillment" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                    <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
