﻿<div id="Presentation" ng-class="{ 'tab-pane fade in active': ( subview == 'presentation' ) }" ng-controller="mui.planningtool.calender.detail.presentationCtrl">
    <div class="tab-line"></div>
    <div id="PresentationObj" class="row-fluid">
        <div class="span12">
            <div class="box box-noborder ng-scope">
                <div class="box-header heightauto">
                    <div class="row-fluid">
                        <div class="span6">
                            <form class="form-inline">
                                <label class="control-label margin-top5x">{{'LanguageContents.Res_1476.Caption'|translate}}:</label>
                                <label class="checkbox">
                                    <input name="AddLanguageCode" ng-model="chkpublish" type="checkbox" id="chkpublish" ng-click="toggledate()" placeholder="Ready to publish:">
                                </label>
                                <span ng-show="isDateteVisible">
                                    <input type="text" data-date-format="dd-mm-yyyy" ng-click="Calanderopen($event,calanderopened)" datepicker-popup="{{format}}" is-open="calanderopened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-model="date2" />
                                </span>
                            </form>
                        </div>
                        <div class="span6">
                            <div class="filterBtnPane pull-right">
                                <a class="btn btn-small" ng-click="addUser()" href="#userModal" data-toggle="modal">{{'LanguageContents.Res_1477.Caption'|translate}}</a>
                                <button ng-click="SaveEntityPresentationContent()" class="btn btn-primary btn-small">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                                <button ng-click="editPage()" class="btn btn-primary btn-small">{{'LanguageContents.Res_20.Caption'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div id="EditorHolder" ng-show="showHolder"></div>
                        <div ng-show="showEditor">
                            <textarea ng-model="htmlEditorText" redactor></textarea>
                        </div>

                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="userModal" style="display: none;">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                                <h3>{{'LanguageContents.Res_1479.Caption'|translate}}</h3>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" name="horizontalform">
                                    <label class="checkbox">
                                        <input type="checkbox"><span><b>{{'LanguageContents.Res_86.Caption'|translate}}</b></span>
                                    </label>
                                    <div class="control-group ClearListStyle">
                                        <choice-tree ng-model="myTree"></choice-tree>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="SaveEntityPresentationContent()" ng-model="UpdateUser" ng-show="SelectionList.length > 0" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                                <button ng-click="saveUser()" ng-model="AddUser" ng-show="EnableAdd" class="btn btn-small btn-primary" ng-disabled="horizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                                <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
