﻿<style>
    #cmsLinksContainer p {
        margin-bottom: 1px;
    }
</style>
<div class="row-fluid">
    <div class="span8">
        <div id="cmsSnippetsContainer" class="span12 row clearfix">
            <div class="container">
                <!-- Jumbotron -->
                <div class="jumbotron">
                    <h1>Marketing stuff!</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                </div>
                <hr>
                <!-- Example row of columns -->
                <div class="row-fluid">
                    <div class="span4">
                        <h2>Heading</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                    <div class="span4">
                        <h2>Heading</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                    <div class="span4">
                        <h2>Heading</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                    </div>
                </div>
                <hr>
                <div class="footer">
                </div>
            </div>
        </div>
    </div>
    <div class="span4 margin-left0x">
        <div id="cmsLinksContainer">
            <div class="border1x padding5x nomargin min-heighthalfx">
                <div class="nomargin border-bottom1x">
                    <h4 class="nomargin">Related links</h4>
                </div>
                <div class="padding2x nomargin"></div>
            </div>
            <div class="border1x padding5x margin-top20x min-heighthalfx">
                <div class="nomargin border-bottom1x">
                    <h4 class="nomargin">Attachment links</h4>
                </div>
                <div class="padding2x nomargin"></div>
            </div>
        </div>
    </div>
</div>
