﻿            <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_1222.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal" id="objectiveAssignmentssummaryDiv"></form>
                    </div>
                </div>
                <div class="box-footer right">
                    <button ng-click="ObjectiveSummaryEdit()" ng-show="IsLock == false" ng-model="ObjectiveSummaryEdit" href="#EditObjectiveSummary" data-toggle="modal" class="btn btn-primary">{{'LanguageContents.Res_20.Caption'|translate}}</button>
                </div>
            </div>