﻿           <div class="box">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_38.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div ng-show="detailsLoader" class="loadingInProgress">
                        <img src="assets/img/loading.gif" />
                        <span>Loading...</span>
                    </div>
                    <div class="box-content-margin" ng-show="detailsData">
                        <form class="form-horizontal" id="detailsDiv"></form>
                    </div>
                </div>
            </div>