﻿ <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="EditObjectiveSummary" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3>{{'LanguageContents.Res_1220.Caption'|translate}}</h3>
                </div>
                <div class="modal-body">
                    <div id="numericQuantitativediv" ng-show="numericqunatitativedisplay">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="ObjectiveNumericUnits">{{'LanguageContents.Res_708.Caption'|translate}}:</label>
                                    <div class="controls">
                                        <select ui-select2 ng-model="Objective.ngObjectiveNumericUnits" data-placeholder="Select Units">
                                            <option value=""></option>
                                            <option ng-repeat="item in ObjectiveUnitsData" value="{{item.Id}}">{{item.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ObjectiveNumericUnits">{{'LanguageContents.Res_709.Caption'|translate}}:</label>
                                    <div class="controls">
                                        <input class="currencyTextbox" type="text" ng-model="Objective.ngObjectiveNumericGlobalbaseline" id="ObjectiveNumericGlobalbaseline" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ObjectiveNumericUnits">{{'LanguageContents.Res_710.Caption'|translate}}:</label>
                                    <div class="controls">
                                        <input class="currencyTextbox" type="text" ng-model="Objective.ngObjectiveNumericGlobaltarget" id="ObjectiveNumericGlobaltarget" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ObjectiveNumericDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                                    <div class="controls">
                                        <textarea class="small-textarea" rows="3" ng-model="Objective.ngObjectiveNumericDescriptionInstructions" id="Textarea1"></textarea>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label class="control-label" for="ObjectiveNumericEnableComments">
                                        <input type="checkbox" ng-model="Objective.ngObjectiveNumericEnableCommentsCheck" id="ObjectiveNumericEnableCommentsCheck" />
                                        {{'LanguageContents.Res_711.Caption'|translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="span6"></div>
                        </div>
                    </div>
                    <div id="nonNumericQuantitativediv" ng-show="nonNumericQuantivedisplay">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="ObjectivenonNumericUnits">{{'LanguageContents.Res_708.Caption'|translate}}:</label>
                                    <div class="controls">
                                        <select ui-select2 ng-model="Objective.ngObjectivenonNumericUnits" data-placeholder="Select Units">
                                            <option value=""></option>
                                            <option ng-repeat="item in ObjectiveUnitsData" value="{{item.Id}}">{{item.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ObjectivenonNumericDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                                    <div class="controls">
                                        <textarea class="small-textarea" rows="3" ng-model="Objective.ngObjectivenonNumericDescriptionInstructions" id="Textarea2"></textarea>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label class="control-label" for="ObjectivenonNumericEnableComments">
                                        <input type="checkbox" ng-model="Objective.ngObjectivenonNumericEnableCommentsCheck" id="Checkbox1" />
                                        {{'LanguageContents.Res_711.Caption'|translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="span6"></div>
                        </div>
                    </div>
                    <div id="qualititativediv" ng-show="qualitativedisplay">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="ObjectiveQulaitativeDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                                    <div class="controls">
                                        <textarea class="small-textarea" rows="3" ng-model="Objective.ngObjectiveQulaitativeDescriptionInstructions" id="ObjectiveQulaitativeDescriptionInstructions"></textarea>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label class="control-label" for="ObjectiveQulaitativeEnableComments">
                                        <input type="checkbox" ng-model="Objective.ngObjectiveQulaitativeEnableCommentsCheck" id="ObjectiveQulaitativeEnableCommentsCheck" />
                                        {{'LanguageContents.Res_711.Caption'|translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="span6"></div>
                        </div>
                    </div>
                    <div id="ratingsdiv" ng-show="ratingsdisplay">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="ObjectiveRatingDescriptionInstructions">{{'LanguageContents.Res_712.Caption'|translate}}:</label>
                                    <div class="controls">
                                        <textarea class="small-textarea" rows="3" ng-model="Objective.ngObjectiveRatingDescriptionInstructions" id="ObjectiveRatingDescriptionInstructions"></textarea>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label class="control-label" for="ObjectiveRatingEnableComments">
                                        <input type="checkbox" ng-model="Objective.ngObjectiveRatingEnableCommentsCheck" id="ObjectiveRatingEnableCommentsCheck" />
                                        {{'LanguageContents.Res_711.Caption'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="" data-dismiss="modal" class="btn">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    <button ng-click="updateObjectiveSummary()" ng-show="IsLock == false" ng-model="UpdateObjectiveSummary" class="btn btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                </div>
            </div>

            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" data-width="820" id="EditObjectiveFulfillment" style="display: none;">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3>{{'LanguageContents.Res_1224.Caption'|translate}}</h3>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="control-group">
                            <label class="control-label" for="ObjectiveDaterange">{{'LanguageContents.Res_802.Caption'|translate}}</label>
                            <div class="controls input-append">
                                <input type="text" id="ObjectiveStatDaterange" ng-model="Objective.ngObjectiveStatDaterange" required="StartDate" placeholder="--StartDate--" value="" bs-datepicker>
                                <button type="button" ng-show="IsLock == false" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                            </div>
                            <div class="controls input-append">
                                <input type="text" id="ObjectiveEndDaterange" ng-model="Objective.ngObjectiveEndDaterange" required="EndDate" placeholder="--EndDate--" value="" bs-datepicker>
                                <button type="button" ng-show="IsLock == false" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                            </div>
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="control-group">
                            <label class="control-label" for="ObjectiveDaterule">{{'LanguageContents.Res_815.Caption'|translate}}:</label>
                            <span>{{'LanguageContents.Res_726.Caption'|translate}}</span>
                            <select ui-select2 ng-model="Objective.ngObjectiveDaterule">
                                <option value="1">starts & ends</option>
                                <option value="2">are active</option>
                            </select>
                            <span>{{'LanguageContents.Res_727.Caption'|translate}}.</span>
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="control-group">
                            <label class="control-label" for="ObjectiveMandatory">{{'LanguageContents.Res_806.Caption'|translate}}:</label>
                            <label class="checkbox">
                                <input type="checkbox" ng-model="Objective.ngObjectiveMandatoryCheck" id="ObjectiveMandatoryCheck">
                            </label>
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="control-group">
                            <div class="ObjectiveFullFillMent">
                                <div id="ObjectiveFulfillmentMetadatatbody">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="" data-dismiss="modal" class="btn">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                    <button id="fullfilmentbtn" ng-show="IsLock == false" ng-click="updateObjectiveFulFillment()" ng-model="updateObjectiveFulFillment" class="btn btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>