﻿<div class="feed" ng-controller="mui.DashBoardWidget.DownloadedAssetsWidgetCtrl">
    <div class="newsFeedBlock AssetWidget">
        <div class="newsFeedSection">
            <ul class="mainComment" id="{{DownloadedAssetFeedsdivID}}">
                <!--<li>
                    <div class="newsFeed">
                        <div class="userAvatar">
                            <div class="AssetImgContainer">
                                <img src="../../UserImage/Pics/ImgH.jpg" />
                            </div>
                        </div>
                        <div class="cmnt">
                            <div class="cmntHeader">
                                <h5>Madhur Goyal</h5>
                            </div>
                            <div class="cmntContent">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodtincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <div class="cmntFooter">
                                <span class="cmntTime">10 Hour(s) Ago</span>
                            </div>
                        </div>
                    </div>
                </li>-->
            </ul>
            <div id="{{DownloadedAssetFeedsContentdivID}}">
            </div>
        </div>
    </div>
</div>
