<ul id="dashboardBlock">
    <li on-repeat-last='$parent.initGrid()'
        ng-repeat='this_widget in widgets'
        widget='this_widget'
        remove='removeWidget(this_widget)'
        editwid='editWidget(this_widget)'
        data-class="pending"
        data-widget-id='{{this_widget.id}}'
        data-widget-realid='{{this_widget.WidgetRealid}}'
        data-widget-typeid='{{this_widget.Typeid}}'
        data-widget-iddynamic='{{this_widget.IsDynamic}}'
        data-widget-matrixid='{{this_widget.MatrixID}}'
        data-widget-dimensionid='{{this_widget.DimensionID}}'
        data-widget-visualtype='{{this_widget.VisualType}}'
        data-widget-noofitem='{{this_widget.NoOfItem}}'
        data-widget-noofYear='{{this_widget.NoOfYear}}'
        data-widget-noofMonth='{{this_widget.NoOfMonth}}'
        data-col='{{this_widget.grid.col}}'
        data-row='{{this_widget.grid.row}}'
        data-sizex='{{this_widget.grid.sizex}}'
        data-sizey='{{this_widget.grid.sizey}}' class="box">
        <div class="box-header move widgetHeader">
            <h4 class="move widgetHeaderText">{{this_widget.title}}</h4>
            <div class="box-icon">
                <!--<a href="JavaScript:void(0);" class="btn btn-small move"><i class="icon-move move"></i></a>-->
                <a href="JavaScript:void(0);" class="btn btn-small" ng-click="editWidget(this_widget)"><i class="icon-cog"></i></a>
                <a href="JavaScript:void(0);" class="btn btn-small" ng-click="removeWidget(this_widget)"><i class="icon-remove" ng-click="removeWidget(this_widget)"></i></a>
            </div>
        </div>
        <div class="box-content scrollable widgetGridster">
            <div class="box-content-margin">
            </div>
            <div class="InProgress InProgressForMyTask">
                <img src="assets/img/loading.gif">
            </div>
        </div>
    </li>
</ul>
