﻿<div ng-controller="mui.DashBoardWidget.MilestoneWidgetCtrl">
    <div id="{{MilestonedivID}}">
        <table class="table table-normal">
            <thead>
                <tr>
                    <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                    <th><span>{{'LanguageContents.Res_23.Caption'|translate}}</span></th>
                    <th><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                    <th><span>{{'LanguageContents.Res_2101.Caption'|translate}}</span></th>
                </tr>
            </thead>
            <tr ng-repeat="milestone in milestones">
                <td>
                    <span>{{DecodedTextName(milestone.Name)}}</span>
                </td>
                <td>
                    <span>{{ duedateFormatforMilestone(milestone["DueDate"])}}   {{ duedateFormatforMilestone(milestone["Duedate"])}}</span>
                </td>
                <td>
                    <span>{{DecodedTextName(milestone.Status)}}</span>
                </td>
                <td>
                    <a href="#mui/planningtool/default/detail/section/{{milestone.ParentEntityId}}/overview">
                        <span class="header">
                            <i ng-style="set_color(milestone.ParentEntityTypeColorCode)" style="background-color: #{{milestone.ParentEntityTypeColorCode}}" class="eicon">{{DecodedTextName(milestone.ParentEntityTypeShortDescription)}}
                            </i>
                            {{DecodedTextName(milestone.ParentEntityName)}}
                        </span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
