﻿<div class="feed" ng-controller="mui.DashBoardWidget.NewsFeedWidgetCtrl">
    <div class="newsFeedBlock">
        <div class="newsFeedSection">
            <ul class="mainComment" id="{{EntityFeedsdivID}}">
            </ul>
            <div id="{{FeedContentdivID}}">
            </div>
        </div>
    </div>
   <!-- <div ng-include=" 'views/mui/task/TaskEdit.html' "></div>-->
</div>
