﻿<div class="feed" ng-controller="mui.DashBoardWidget.NotificationWidgetCtrl">
    <div id="{{NotificationWidgetContentID}}">
        <div class="feed">
            <ul id="EntityFeedsdiv" class="feedcontent heightauto overflowHide" ng-repeat="item in Allnotifications">
                <li><span class="avatar">
                    <img alt="Avatar" ng-src="Handlers/UserImage.ashx?id={{item.UserId}}" />
                </span>
                    <div data-parent="parentforcomment" class="block">
                        <div class="arrow-left"></div>
                        <span class="header">
                            <a href="">{{item.UserName}}</a>
                        </span>
                        <span class="body" compile="item.NotificationText"></span>
                        <span class="footer"><span class="time">{{item.NotificationHappendTime}}</span>
                        </span>
                    </div>
                </li>
            </ul>
            <div id="FeedContentdiv">
            </div>
        </div>
    </div>
</div>
