﻿<div ng-controller="mui.DashBoardWidget.TopxMyTaskWidgetCtrl">
    <div id="{{TopxMyTaskdivID}}">
        <table class="table table-normal" id="topMytaskCollection">
            <thead>
                <tr>
                    <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                    <th><span>{{'LanguageContents.Res_23.Caption'|translate}}</span></th>
                    <th colspan="2"><span>{{'LanguageContents.Res_1551.Caption'|translate}}</span></th>
                    <th><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="MyTask in TopxMyTasks">
                    <td><span>
                        <a href="javascript:void(0);" ng-click="OpenPopUpAction(MyTask.TaskID,MyTask.Typeid,MyTask.Typename,MyTask.PEnityname,MyTask.PEnityTypename,MyTask.PEntityId)">{{DecodedTextName(MyTask.Name)}}</a>
                        </span></td>
                    <!-- <td>
                         <span>{{MyTask.Name}}</span>
                    </td>-->
                    <td>
                        <span>{{MyTask.Duedate}}</span>
                    </td>
                    <td colspan="2">
                        <span class="menu-avatar">
                            <img ng-src="Handlers/UserImage.ashx?id={{MyTask.Assignedby}}" alt="no image" class="dashUsrImg" /><span>{{DecodedTextName(MyTask.Assignedname)}}</span>
                        </span>
                    </td>
                    <td>
                        <span>{{MyTask.Status}}</span>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <div id="WorkTaskModal" class="modal hide fade FundingRequestPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="900px">
        <div class="modal-header">
            <div class="row-fluid">
                <div class="span6">
                    <h3>{{TaskBriefDetails.taskTypeName}}</h3>
                </div>
                <div class="span5">
                    <div class="pull-right">
                        <span class="softText">From {{TaskBriefDetails.PEnityTypename}}</span><br>
                        <b>{{TaskBriefDetails.PEnityname}}</b>
                    </div>
                </div>
                <div class="span1">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    <div class="tabbable tabbable-bordered">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#TaskOverview">{{'LanguageContents.Res_9.Caption'|translate}}</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#ActiveTaskAttachments">{{'LanguageContents.Res_35.Caption'|translate}}</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#ActiveTaskMembers">{{'LanguageContents.Res_11.Caption'|translate}}</a>
                            </li>
                        </ul>
                        <!--/nav-tabs -->
                        <div class="tab-content">
                            <div id="TaskOverview" class="tab-pane fade in active">
                                <div class="tab-line"></div>
                                <div class="row-fluid row-desktop">
                                    <div class="span8">
                                        <div class="row-fluid" ng-repeat="item in TaskBriefDetails.taskmembersList">
                                            <div class="span2">
                                                <img ng-src="Handlers/UserImage.ashx?id={{item.ownerId}}" alt="no image" class="userimg">
                                            </div>
                                            <div class="span2">
                                                <span class="softText">{{'LanguageContents.Res_1016.Caption'|translate}}</span><br />
                                                <a href="JavaScript: void(0);">{{item.UserName}}</a>
                                            </div>
                                            <div class="span2">
                                                <span class="softText">{{'LanguageContents.Res_260.Caption'|translate}}</span><br />
                                                <span>{{item.DepartmentName}}</span>
                                            </div>
                                            <div class="span2">
                                                <span class="softText">{{'LanguageContents.Res_261.Caption'|translate}}</span><br />
                                                <span>{{item.Title}}</span>
                                            </div>
                                        </div>
                                        <div class="row-fluid" class="detailBlock">
                                            <div class="span3">
                                                <span class="softText">{{'LanguageContents.Res_1007.Caption'|translate}}</span><br />
                                                <span class="{{Property.Status}}">{{TaskBriefDetails.dueIn}} {{'LanguageContents.Res_1556.Caption'|translate}}</span>
                                            </div>
                                            <div class="span3">
                                                <span class="softText">{{'LanguageContents.Res_23.Caption'|translate}}</span><br />
                                                <span>{{TaskBriefDetails.dueDate}}</span>
                                            </div>
                                            <div class="span3">
                                                <span class="softText">{{'LanguageContents.Res_73.Caption'|translate}}</span><br />
                                                <span>{{TaskBriefDetails.status}}</span>
                                            </div>
                                            <div class="span3">
                                                <span class="softText">{{'LanguageContents.Res_74.Caption'|translate}}</span><br />
                                                <a href="JavaScript: void(0);">{{TaskBriefDetails.taskOwner}}</a>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row-fluid" class="detailBlock">
                                            <div class="span12">
                                                <span class="softText">{{'LanguageContents.Res_22.Caption'|translate}}</span><br />
                                                {{TaskBriefDetails.Description}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="feedBlock">
                                            <div class="feed">
                                                <div class="postbox">
                                                    <div class="avatar">
                                                        <span class="user">
                                                            <img ng-src="Handlers/UserImage.ashx?id={{OwnerID}}" data-role="user-avatar">
                                                        </span>
                                                    </div>
                                                    <div data-role="textarea" class="textarea-wrapper">
                                                        <div id="fundingreqfeedcomment" contenteditable="true" class="textarea" tabindex="0" ngfocus="if(document.getElementById('feedtextholder').innerHTML.replace(/ /g,'').length > 0){document.getElementById('feedcomment').innerHTML = ''};" ngblur="if(document.getElementById('feedcomment').innerHTML.replace(/(<([^>  ]+)>)/ig,'').replace(/ /g,'').length == 0){document.getElementById('feedcomment').innerHTML = '<span id=\'feedtextholder\' class=\'placeholder\'>Write a comment...</span>'};">
                                                            <span id="feedtextholder" class="placeholder">{{'LanguageContents.Res_1202.Caption'|translate}}...</span>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="submit" ng-click="AddfundingreqNewsFeed()">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
                                                </div>
                                                <hr>
                                                <ul class="feedcontent height3x manageOverflow" id="fundingrequestfeeddiv"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ActiveTaskAttachments" class="tab-pane fade">
                                <div class="tab-line"></div>
                                <div class="box">
                                    <div class="box-header">
                                        <h4>{{'LanguageContents.Res_35.Caption'|translate}}</h4>
                                        <div class="box-icon" style='display: none;'>
                                            <a href="JavaScript:void(0);" class="btn btn-small" href="#" onclick="$('#listview').show(); $('#thumnailview').hide();"><i class="icon-reorder"></i></a>
                                            <a href="JavaScript:void(0);" class="btn btn-small" href="#" onclick="$('#listview').hide(); $('#thumnailview').show();"><i class="icon-th"></i></a>
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        <div class="box-content-margin">
                                            <div id="Div1">
                                                <table class="table table-normal-both" id="AttchmentColumn">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <span>
                                                                    <label class="checkbox checkbox-custom pull-right">
                                                                        <input id="RootLevelSelectAll" type="checkbox"><i class="checkbox"></i>
                                                                    </label>
                                                                </span>
                                                            </th>
                                                            <th>
                                                                <span>
                                                                    <img src="" />{{'LanguageContents.Res_1.Caption'|translate}}
                                                                </span>
                                                            </th>
                                                            <th><span>{{'LanguageContents.Res_65.Caption'|translate}}</span></th>
                                                            <th><span>{{'LanguageContents.Res_517.Caption'|translate}}</span></th>
                                                            <th><span>{{'LanguageContents.Res_1502.Caption'|translate}}</span></th>
                                                            <th><span>{{'LanguageContents.Res_31.Caption'|translate}}</span></th>
                                                            <th><span>{{'LanguageContents.Res_1503.Caption'|translate}}</span></th>
                                                            <th><span></span></th>

                                                        </tr>
                                                    </thead>
                                                </table>
                                                <table class="table table-normal-both" id="AttchmentContent">
                                                    <tbody>
                                                        <tr data-id="{{filesattch.Fileguid}}" ng-repeat="filesattch in attachedFiles">
                                                            <td>
                                                                <span>
                                                                    <label class='checkbox checkbox-custom pull-right'>
                                                                        <input type='checkbox'><i class='checkbox'></i>
                                                                    </label>
                                                                </span>
                                                            </td>
                                                            <td><span>
                                                                <a target="_blank" ng-href="download.aspx?FileID={{filesattch.Fileguid}}&amp;FileFriendlyName={{filesattch.Name}}&amp;Ext={{filesattch.Extension}}">{{filesattch.Name}}</a>
                                                                </span></td>
                                                            <td><span>{{filesattch.Size}}</span></td>
                                                            <td><span>{{filesattch.MimeType}}</span></td>
                                                            <td><span>{{filesattch.VersionNo}}</span></td>
                                                            <td><span>{{filesattch.CreatedOn.Year}}-{{filesattch.CreatedOn.Month}}-{{filesattch.CreatedOn.Day}}</span></td>
                                                            <td><span>{{filesattch.Ownerid}}</span></td>
                                                            <td><span><i class='icon-remove' data-role='delete'></i></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ActiveTaskMembers" class="tab-pane fade">
                                <div class="tab-line"></div>
                                <div class="row-fluid row-desktop">
                                    <div class="box box-noborder" ng-repeat="group in TaskMembergroups">
                                        <div class="box-header">
                                            <h4>{{ group.rolename }}</h4>
                                        </div>
                                        <!-- BEGIN: Inner ngRepeat. -->
                                        <div class="box-content">
                                            <div class="box-content-margin">
                                                <div userid="friend.Userid" class="memberBlock" ng-repeat="friend in group.friends">
                                                    <div class="member">
                                                        <div class="row-fluid">
                                                            <div class="span3">
                                                                <img ng-src="Handlers/UserImage.ashx?id={{friend.Userid}}" alt="no image" class="avatar" />
                                                            </div>
                                                            <div class="span9">
                                                                <div class="name">{{ friend.UserName }}</div>
                                                                <div class="info">{{ friend.DepartmentName }}</div>
                                                                <div class="">{{ friend.Title }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="CloseIcon"><i ng-hide="((friend.Roleid ==1)||(friend.InheritedFromEntityid >0))" ng-click="deleteEntityMember(friend.Id,friend.UserName)" class="icon-remove"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END: Inner ngRepeat. -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,65)" id="withdrawtask" ng-show="ShowWithdrawBtn" ng-model="WithdrawTask" class="btn btn-small btn-primary">{{'LanguageContents.Res_76.Caption'|translate}}</button>
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,10)" id="unabletocomplete" ng-show="ShowUnabletoCompleteBtn" ng-model="UnabletoComplete" class="btn btn-small btn-primary">{{'LanguageContents.Res_84.Caption'|translate}}</button>
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,11)" id="ApproveTask" ng-show="ShowApproveBtn" ng-model="ApproveTask" class="btn btn-small btn-primary">{{'LanguageContents.Res_559.Caption'|translate}}</button>
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,12)" id="rejectRequest" ng-show="ShowRejectedBtn" ng-model="rejectRequest" class="btn btn-small btn-primary">{{'LanguageContents.Res_560.Caption'|translate}}</button>
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,9)" id="approveRequest" ng-show="ShowCompleteBtn" ng-model="approveRequest" class="btn btn-small btn-primary">{{'LanguageContents.Res_75.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
