﻿<div ng-controller="mui.DashBoardWidget.TopxActivityWidgetCtrl">
    <div id="{{TopxActivitydivID}}">
        <table class="table table-normal">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                    <th><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                    <th colspan="2"><span>{{'LanguageContents.Res_1740.Caption'|translate}}</span></th>
                    <th><span>{{'LanguageContents.Res_1725.Caption'|translate}}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Activity in TopxActivitys">
                    <td ng-if="Activity.TypeId != 5" >
                        <a href="#mui/planningtool/default/detail/section/{{Activity.ActivityID}}/overview">
                            <span class="header">
                                <i ng-style="set_color(Activity.ColorCode)" style="background-color: #{{Activity.ColorCode}}" class="eicon">{{DecodedTextName(Activity.ShortDescription)}}
                                </i>
                                {{DecodedTextName(Activity.ActivityName)}}
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="#mui/planningtool/costcentre/detail/section/{{Activity.ActivityID}}/overview">
                            <span class="header">
                                <i ng-style="set_color(Activity.ColorCode)" style="background-color: #{{Activity.ColorCode}}" class="eicon">{{DecodedTextName(Activity.ShortDescription)}}
                                </i>
                                {{DecodedTextName(Activity.ActivityName)}}
                            </span>
                        </a>
                    </td>
                    <td>
                        <span>{{Activity.Status}}</span>
                    </td>
                    <td colspan="2">
                        <span>{{Activity.ApprovedAllocatedAmount.formatMoney(0, ' ', ' ')}} {{CurrencyFormat}}</span>
                    </td>
                    <td>
                        <span>{{Activity.Spent.formatMoney(0, ' ', ' ')}} {{CurrencyFormat}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
