﻿<div ng-controller="mui.DashBoardWidget.WorkspaceWidgetCtrl">
    <div id="{{WorkspacedivID}}">
        <table class="table table-normal">
            <thead>
                <tr>
                    <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                    <th><span>{{'LanguageContents.Res_629.Caption'|translate}}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Workspace in Workspaces">
                    <td>
                        <a href="#mui/planningtool/default/detail/section/{{Workspace.EntityID}}/overview">
                            <span class="header">
                                <i ng-style="set_color(Workspace.ColorCode)" style="background-color: #{{Workspace.ColorCode}}" class="eicon">{{DecodedTextName(Workspace.ShortDescription)}}
                                </i>{{DecodedTextName(Workspace.EntityName)}}
                            </span>
                        </a>
                    </td>
                    <td>
                        <span class="body">{{DecodedTextName(Workspace.RoleName)}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
