// General improvements on form styling for Landscape phone to desktop/tablet
// --------------------------------------------------------------------------

@media (max-width: 480px) {
    // Move over all input controls and content
    .form-horizontal .controls,
    .form-horizontal .well .controls,
    .small-labels .controls {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .form-horizontal .form-actions {
        padding-left: 18px;
    }
}
