// General improvements on form styling for Tablet to desktop
// ----------------------------------------------------------

@media (min-width: 768px) and (max-width: 979px) {
    .form-horizontal {
        .control-label {
            width: 100px;
        }

        .controls {
            margin-left: 110px;
        }

        .form-actions {
            padding-left: 110px;
        }
    }

        .form-horizontal .well {
            .control-label {
                width: 80px;
            }

            .controls {
                margin-left: 90px;
            }
        }

    .small-labels {
        .control-group > label {
            width: 50px;
        }

        .controls {
            margin-left: 60px;
        }

        .form-actions {
            padding-left: 60px;
        }
    }
}
