// General improvements on form styling for large desktop and up
// -------------------------------------------------------------

@media (min-width: 1200px) {
    .small-labels {
        .control-group > label {
            width: 80px;
        }

        .controls {
            margin-left: 100px;
        }

        .form-actions {
            padding-left: 100px;
        }
    }
}
