﻿.box {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 2px solid #EEEEEE;
    margin-bottom: 20px;
}

.box-header {
    background: none repeat scroll 0 0 #EEEEEE;
    box-shadow: none;
    height: 16px;
    padding: 8px 6px;
    box-sizing: content-box !important;
}

    .box-header h4 {
        float: left;
        font-size: 12px;
        /*font-weight: 600;*/ font-weight: bold;
        margin-top: -2px;
        color: #555555;
    }

        .box-header h4 i {
            margin: 0 3px 0 4px;
            opacity: 0.8;
            color: #111111;
        }

    .box-header .break {
        border-left: 1px solid #ffffff;
        margin: 0 8px 0 4px;
        padding: 10px 0;
    }

    .box-header .box-icon {
        float: right;
    }

        .box-header .box-icon a {
            color: #333333;
            text-decoration: none;
            margin-top: -10px;
        }

            .box-header .box-icon a i {
                opacity: 0.8;
                font-size: 12px;
                transition: all 0.1s ease-in-out 0s;
            }

        .box-header .box-icon i:hover {
            opacity: 1;
        }

    .box-header .btn-group {
        margin-left: 9px;
        margin-top: -6px;
    }

.box-content {
    background: none repeat scroll 0 0 #FFFFFF !important;
    position: relative;
    width: 100%;

    .box-content-margin {
        padding: 10px;

        .form-horizontal {
            .control-label {
                text-align: left;
                color: #999999;
            }

            .control-group {
                margin-bottom: 10px;

                .info {
                    font-style: italic;
                    margin-left: 110px;
                    display: inline-block;
                    color: #555;
                    margin-bottom: 5px;
                }

                .controls .info {
                    margin-left: 0;
                }
            }
        }
    }
}

    .box-content.scrollable {
        display: inline-block;
        margin-top: -4px;
        margin-bottom: -7px;
        overflow-x: hidden;
        overflow-y: auto;
    }


.box-footer {
    background-color: #EEEEEE;
    border-top: 1px solid #EEEEEE;
    padding: 5px;
}

form .box-footer {
    margin: 20px -10px -30px !important;
}

.box-footer.right {
    text-align: right;
}

.box-footer:before, .form-footer:after {
    content: "";
    display: table;
    line-height: 0;
}

.box-footer:after {
    clear: both;
}


//Border less box
.box-noborder {
    border: medium none;

    > .box-header {
        background: none repeat scroll 0% 0% transparent;
        border-bottom: 2px solid #eee;
    }

    > .box-content {
        margin-top: 0px;
    }

    > .box-footer.right {
        background: none repeat scroll 0% 0% #fff;
        text-align: left;
        border-top: 2px solid #eee;
    }
}
