﻿/*#region CMS - CONTENT MANAGEMENT SYSTEM*/

/*#region CONTENT PAGES*/
#cmsContainer,
#cmsDetailsContainer {
    .cmsHomeTitle {
        /*border-bottom: 1px solid #DDD;*/
        padding: 10px !important;

        h1, h2, h3, h4, h5, h6 {
            .nomargin;
        }
    }

    .cmsEmptyHome {
        padding: 10px;
    }

    .cmsEmptyPageContent {
        text-align: center;
        position: absolute;
        width: 98%;
        height: 80px;
        top: 50%;
        margin-top: -40px;
    }

    .cmsContentArea {
        padding: 0 10px 0 30px;
        margin: 10px 0 20px 0;
        min-height: 300px;

        .contentHeader {
            min-height: 0px !important;

            h3.title {
                height: 40px;
                line-height: 21px;
                margin-bottom: 0;
                margin-top: 0;
                overflow: hidden;
                padding: 10px 115px 0 60px;
                position: relative;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;

                span {
                    background-color: #fff;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    color: #FFFFFF;
                    display: inline-block;
                    font-size: 14px;
                    left: 20px;
                    line-height: 14px;
                    margin-right: 5px;
                    padding: 8px 0;
                    position: absolute;
                    top: 6px;
                    width: 34px;
                    text-align: center;
                    height: 14px;
                }
            }

            .breadcrumb {
                padding: 0 10px !important;

                > li > .divider:first-child {
                    padding-left: 0;
                }
            }

            h1, h2, h3, h4, h5, h6 {
                .nomargin;
            }

            .title {
                padding: 6px 100px 0 50px;

                span {
                    left: 10px;
                }
            }
        }

        .logoPlacementSection {
            width: 50%;
        }

        .contentEditorSection {
            .tabbable {
                .nopadding;

                .tab-content {
                    padding: 10px !important;
                    /*overflow: hidden;*/
                    .tab-line {
                        margin: -10px -10px 10px !important;
                    }
                }

                .nav-tabs > li > a {
                    padding: 3px 12px !important;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-radius: 0;
                }
            }
        }
        //Content Tab
        #cmsContentTab {
            .contentTabDiv {
                .relative;
                /*.border1x;*/
                .btnPane {
                    display: inline-block;
                    position: absolute;
                    top: -62px;
                    right: 0;
                    z-index: 9;
                }

                .redactor_box {
                    min-height: inherit;
                    .noBorder;

                    .redactor_editor {
                        background: none !important;
                        min-height: 150px;
                        /*width: 56%;*/
                        p > img {
                            width: auto;
                            height: auto;
                            max-width: inherit !important;
                        }
                    }
                }

                .rightWrapper {
                    width: 40%;
                    position: absolute;
                    right: 10px;
                    top: 50px;
                }
            }

            .redactorFooter {
                margin-top: 5px;
                background: none repeat scroll 0% 0% rgb(238, 238, 238);
                padding: 5px;
            }
        }
        //Settings Tab
        .settingsTabDiv {
            .box {
                .box-header .btn-group {
                    margin-top: -6px !important;
                }

                form {
                    .nomargin;

                    .control-group {
                        margin-bottom: 0 !important;
                    }
                }

                .newsFeedBlock {
                    #CmsEntityFeedsdiv {
                        .manageOverflow;
                    }
                }
            }

            .pageAccessBox {
                .relative;

                .box-content {
                    .AccessList {
                        .nomargin;
                        list-style: none;
                        display: inline-block;
                        width: 100%;
                        height: 100px;
                        .manageOverflow;

                        > li {
                            float: left;
                            width: 48%;
                            padding-left: 5px;
                            line-height: 18px;

                            .checkbox-custom {
                                display: inline-block;
                                .manageTextOverflow;
                            }
                        }
                    }
                }
            }
        }
    }
}

.fullPageContent {
    //Full Page CMS Template
    padding: 10px 0;
}

/*#endregion*/

/*#region Context Menus*/

#cmsContextmenu {
    i {
        position: absolute;
        right: 7px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 0px;
        text-shadow: 0px 1px 2px #ffffff;
        color: #555;

        &.icon-copy {
            color: #468847;
        }

        &.icon-remove {
            color: #c83025;
        }
    }

    >li {
        ul.subContextMenu {
            min-width: 175px;

            > li > a {
                padding: 3px 35px 3px 10px;
                white-space: normal;
                -ms-word-break: break-all;
                word-break: break-all;
            }
        }
    }
}

.dropdown-menu.contexMenu {
    li.dropdown-submenu {
        > a {
            padding-right: 23px !important;
        }
    }
}

/*#endregion*/

/*#region CMS LEFT TREE STRUCTURE*/
#cmsDetailsContainer #left {
    background-color: #FFF;
    border: none !important;

    ul.cmsTreeHolder {
        background-color: #FFF;
        list-style: none;
        min-height: 300px;
        .font12;
        .nomargin;

        .nav-list {
            margin-top: 0px;

            > li {
                > a {
                    border-left: 4px solid rgba(255, 255, 255, 1);
                    height: 20px;
                    position: relative;
                    padding: 6px;

                    i.icon- {
                        width: 10px !important;
                    }

                    i.menuIcon {
                        display: none;
                        font-size: 14px;
                        position: absolute;
                        right: 4px;
                        top: 8px;
                        color: #999;
                    }

                    span {
                        vertical-align: middle;
                        color: #555;
                        width: 90%;
                        .manageTextOverflow;
                    }

                    &:hover {
                        border-left: 4px solid rgba(0, 136, 204, 0.5);

                        i.menuIcon {
                            display: block;
                        }
                    }
                }

                &.selected a,
                &.active a {
                    border-left: 4px solid rgba(255, 255, 255, 1);
                    background-color: #F5F5F5 !important;
                    font-weight: bolder !important;
                }
            }
        }
    }
}
/*#endregion*/

/*#region POPUPS*/

.addCMSEntityModel {
    .modal-body {
        .nopadding;

        .wizard {
            margin: 0;
        }

        .step-content {
            height: 350px;
            .manageOverflow;
            padding-top: 20px;

            .MemberBlockContainer {
                padding: 0 10px;
            }
        }
    }
}

/*#region Period Control*/
.CMS-PublishedOn-DT-Picker {
    margin-bottom: 0;

    input {
        width: 83px !important;

        &:first-child {
            margin-right: 5px;
        }
    }

    select,
    .select2-container {
        width: 97px !important;
    }

    .dateTime {
        margin-right: 3px !important;
    }

    &:last-child {
        .nomargin;
    }
}
/*#endregion*/

/*#region HTML Snippet Template Preview Popup - Admin Side*/
.generateHTMLTemplatePreview {
    .modal-body {
        min-height: 150px;

        .row {
            .nomargin;
        }
    }
}
/*#endregion*/

/*#endregion*/

/*#region TEMPLATES */

/*#region Thumbnails in Popup*/
.cmsTemplates {
    padding: 0 10px;

    .cmsTemp-Box {
        display: inline-block;
        width: 150px;
        height: 180px;
        margin: 0 10px 10px 0;
        padding: 0;
        position: relative;
        border: 1px solid #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        overflow: visible;

        .cmsTemp-Selection {
            display: inline-block;
            width: 140px;
            height: 170px;
            padding: 5px;
            margin: 0px;
            position: relative;
            border: 1px solid #DDD;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;

            .cmsTemp-ImgBlock {
                width: 140px;
                height: 170px;
                margin: 0px;
                overflow: hidden;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;

                .cmsTemp-ImgContainer {
                    display: table-cell;
                    width: 140px;
                    height: 170px;
                    margin: 0px;
                    overflow: hidden;
                    text-align: center;
                    vertical-align: middle;

                    img {
                        max-width: 134px;
                        max-height: 163px;
                        width: auto;
                        height: auto;
                        cursor: pointer;
                    }
                }
            }
            //For adding class while template is selected
            &.selected {
                border-color: rgba(0, 136, 204, 0.5);
                -webkit-box-shadow: 0 0 5px rgba(0, 214, 255, 0.1);
                -moz-box-shadow: 0 0 5px rgba(0, 214, 255, 0.1);
                box-shadow: 0 0 5px rgba(0, 214, 255, 0.1);
            }
        }

        &:hover .cmsTemp-Selection {
            border-color: rgba(0, 136, 204, 0.5);
            -webkit-box-shadow: 0 0 5px rgba(0, 214, 255, 0.1);
            -moz-box-shadow: 0 0 5px rgba(0, 214, 255, 0.1);
            box-shadow: 0 0 5px rgba(0, 214, 255, 0.1);
        }
    }
}
/*#endregion*/

/*#region Templates Style*/
.tmpltPage {
    color: #404040 !important;
    font-size: 12px;

    .tmplt-pageHeader {
        margin-bottom: 10px;
        min-height: 30px;
        line-height: 50px;
        font-size: 45px !important;
        font-weight: bold;
        text-align: left;
        -ms-word-break: break-all;
        word-break: break-all;

        h1, h2, h3, h4, h5, h6 {
            .nomargin;
        }
    }

    .tmplt-subHeader {
        margin-bottom: 10px;
        font-size: 25px !important;
        font-weight: bold;
        min-height: 20px;
        line-height: 30px;
        -ms-word-break: break-all;
        word-break: break-all;

        h1, h2, h3, h4, h5, h6 {
            .nomargin;
        }
    }

    .tmplt-inlineText {
        border: 1px dashed #DDD;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 5px 10px;
        min-height: 20px;
    }

    .tmplt-paraText {
        min-height: 100px;
        text-align: justify;
    }

    img {
        width: auto;
        height: auto;
        max-width: inherit;
    }

    .tmplt-Img {
        //display: table-cell;
        //width: 1048px;
        background-color: #FFF;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        min-height: 200px;
        height: auto;
        position: relative;
        padding-bottom: 15px;

        > img {
            width: auto;
            height: auto;
            max-width: 100% !important;
        }

        .tmplt-ImgOptions {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 200px;
            width: 100%;
            z-index: 99;
            margin-bottom: 15px;

            .btnbrowse {
                display: none;
                width: 150px;
                position: absolute;
                top: 160px;
                left: 50%;
                margin-left: -75px;
                z-index: 99;
                -webkit-user-modify: read-only;
                -moz-user-modify: read-only;
                -ms-user-modify: read-only;
                -o-user-modify: read-only;
                user-modify: read-only;
            }
        }

        &:hover {
            .tmplt-ImgOptions > .btnbrowse {
                display: block;
            }
        }
    }

    .tmplt-ImgUpload {
        display: block;
        position: relative;
        .box-size-border;
        margin: 0;
        padding: 20px;
        border: 1px solid #AAA !important;
        background-color: #EEE !important;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 200px;

        div {
            vertical-align: middle;
            text-align: center;
            color: #999;
        }

        .tmplt-ImgUpload-Icon {
            margin: 0 0 5px !important;

            > img {
                display: inline-block;
                text-align: center;
            }

            > i {
                display: block;
                text-align: center;
                font-size: 75px;
                color: #999;
            }
        }

        .tmplt-ImgUpload-Heading {
            font-size: 20px;
            margin: 0 0 5px !important;
        }

        .tmplt-ImgUpload-Text {
            font-size: 14px;
            .nomargin;
        }

        .tmplt-ImgUpload-Links {
            .nomargin;

            > button,
            a {
                width: 150px;
            }
        }
    }

    .tmplt-ImgText-r,
    .tmplt-ImgText-l {
        .tmplt-ImgContainer {
            background-color: #ccc;
        }

        p {
            min-height: 100px;
        }
    }

    .tmplt-video {
        text-align: center;

        > video {
            max-width: 80%;
        }
    }

    .columnWrapper {
        display: block;
        margin: 10px 0;
        width: 100%;
        overflow: hidden;

        &:before,
        &:after {
            display: table;
            content: "";
            line-height: 0;
        }

        &:after {
            clear: both;
        }

        [class*="col"] {
            display: block;
            width: 100%;
            float: left;
            margin-left: 2%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            &:first-child {
                .nomargin;
            }
        }

        .col1 {
            width: 15% !important;
        }

        .col2 {
            width: 32% !important;
        }

        .col3 {
            width: 49% !important;
        }

        .col4 {
            width: 66% !important;
        }

        .col5 {
            width: 83% !important;
        }

        .col6 {
            width: 100% !important;
        }
    }
}
/*#endregion*/

/*#region CMS DRAG n DROP TEMPLATE PLUGIN*/

/*@import url('../icons/css/fontello.css');*/

/*#region RESETTING DEFAULT STYLE OF TEMPLATE PLUGIN*/
//For Template List bar
#divTool {
    top: 193px !important;
    height: 65% !important;
    margin-right: 10px;
    background: #FFF;

    #divSnippetList {
        height: 98% !important;
    }
}
//For Hiding Zooming Bar
#divRange {
    display: none;
}
//For Template FontStyle Bar
#rte-toolbar {
    padding: 18px !important;
    height: 75px !important;
    background: rgba(0, 0, 0, 0.6) !important;

    a {
        font-size: 13px !important;
    }
}
/*#endregion*/

.contentBuilder-TemplateStyle {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    font-size: 16px;
    line-height: 1.7;
    //For ui-draggable Div Options (which got hidden due to overflor:hidden of the container div
    .row-tool {
        left: 0 !important;
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    #CmsContentEditablePage {
        .heightauto; /*To Overwrite the height getting calculated from somewhere*/
    }
    /*#region GENERAL CSS*/
    .ui-draggable {
        h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
        }

        h1 {
            font-size: 2.37em;

            span {
                font-size: 2.37em;
                line-height: 1.7;
            }
        }

        h2 {
            font-size: 1.83em;

            span {
                font-size: 1.83em;
                line-height: 1.7;
            }
        }

        h3 {
            font-size: 1.39em;

            span {
                font-size: 1.39em;
                line-height: 1.7;
            }
        }

        h4 {
            font-size: 1.1em;

            span {
                font-size: 1.1em;
                line-height: 1.7;
            }
        }

        h5 {
            font-size: 0.98em;

            span {
                font-size: 0.98em;
                line-height: 1.7;
            }
        }

        h6 {
            font-size: 0.85em;

            span {
                font-size: 0.85em;
                line-height: 1.7;
            }
        }

        hr {
            border: none;
            border-top: rgba(0, 0, 0, 0.18) 1px solid;
            margin-top: 2em;
            margin-bottom: 2em;
        }

        img {
            max-width: 100%;
        }

        figure {
            margin: 0;
        }
        /* FIX: Preventing Chrome from wrapping text with span-style (when editing) */
        .display {
            h1 {
                font-weight: 800;
                font-size: 2.8em;
                line-height: 1.4;
                text-transform: uppercase;

                span {
                    font-size: 2.8em;
                    line-height: 1.4;
                }
            }

            p {
                font-size: 1.5em;
                font-style: italic;

                span {
                    font-size: 1.5em;
                    line-height: 1.7;
                }
            }
        }

        p span {
            font-size: 14px;
            line-height: 1.7;
        }

        li span {
            font-size: 14px;
            line-height: 1.7;
        }

        .btn {
            padding: 10px 30px;
            font-size: 1.3em;
            line-height: 2em;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            &.btn-primary {
                color: #ffffff;
                background-color: #08c9b9;

                &:hover {
                    color: #ffffff;
                    background-color: #07b0a2;
                    border-color: #07b0a2;
                }
            }

            &.btn-default {
                color: #333333;
                background-color: #d3d3d3;

                &:hover {
                    color: #111;
                    background-color: #ccc;
                    border-color: #ccc;
                }
            }
        }
    }
    /*#endregion*/
    /*#region Grid*/
    .container {
        margin: 0 auto;
        /*max-width: 1050px;*/
        width: 100%;
    }

    @media (min-width: 33rem) { /* 40rem */
        .column {
            float: left;
            padding-left: 1.32rem; /* 1rem */
            padding-right: 1.32rem;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            &.full {
                width: 100%;
            }

            &.two-third {
                width: 66.7%;
            }

            &.two-fourth {
                width: 75%;
            }

            &.two-fifth {
                width: 80%;
            }

            &.two-sixth {
                width: 83.3%;
            }

            &.half {
                width: 50%;
            }

            &.third {
                width: 33.3%;
            }

            &.fourth {
                width: 25%;
            }

            &.fifth {
                width: 20%;
            }

            &.sixth {
                width: 16.6%;
            }

            &.flow-opposite {
                float: right;
            }
        }
    }

    .clearfix {
        *zoom: 1;

        &:before,
        &:after {
            content: " ";
            display: table;
        }

        &:after {
            clear: both;
        }
    }
    /*#endregion*/
    /*#region Elements*/
    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    .left {
        text-align: left;
    }

    img.circle {
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
        border-radius: 500px;
        margin-top: 0;
    }

    img.bordered {
        border: #ccc 1px solid;
    }

    .embed-responsive {
        position: relative;
        display: inline-block;
        padding: 0;
        overflow: hidden;
        height: auto;
        width: 100%;
        margin: 10px 0;

        &.embed-responsive-16by9 {
            padding-bottom: 56.25%;
        }

        &.embed-responsive-4by3 {
            padding-bottom: 75%;
        }

        iframe {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    .column > img,
    .column > figure,
    .column > .embed-responsive {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .list {
        position: relative;
        margin: 1.5em 0;

        > i {
            position: absolute;
            left: -3px;
            top: -3px;
            font-size: 2em;
        }

        > h2, .list > h3 {
            margin: 0 0 0 50px;
        }

        > p {
            margin: 0 0 0 50px;
        }
    }

    .quote {
        position: relative;
        margin: 1.5em 0;

        > i {
            position: absolute;
            top: -10px;
            left: -7px;
            font-size: 2em;
            color: rgba(51,51,51,0.44);
        }

        > small {
            margin-left: 50px;
            opacity: 0.7;
            font-size: 1em;
        }

        > p {
            margin-left: 50px;
            font-size: 1.5em;
        }
    }

    .social a {
        > i {
            text-decoration: none;
            color: #333;
            font-size: 1.5em;
            margin: 0 5px 0 0;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }

        &:hover > i {
            color: #08c9b9;
        }
    }
    /*#endregion*/
    /*#region Header Image with Caption*/
    figure {
        &.hdr {
            position: relative;
            width: 100%;
            overflow: hidden;
            background-color: #000;

            img {
                position: relative;
                display: block;
                width: 100%;
                opacity: 0.8;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                -moz-transition: opacity 0.35s, transform 0.35s;
                -o-transition: opacity 0.35s, transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -o-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }

            &:hover img {
                opacity: 0.5;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }

            figcaption {
                position: absolute;
                top: auto;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 60%;
                padding: 0 2.5em;
                color: #fff;
                font-size: 1.55em;
                text-align: center;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                z-index: 1;
            }
            /*#region Text */
            h2 {
                font-weight: 300;
                text-transform: uppercase;

                span {
                    font-weight: 800;
                }
            }

            p {
                letter-spacing: 1px;
                font-size: 68.5%;
                text-transform: uppercase;
            }

            h2,
            p {
                margin: 0;
                z-index: 10000;
            }
            /*#endregion*/
            /*#region Cosmetic*/
            div {
                height: 100%;
                z-index: 0;

                &::before,
                &::after {
                    position: absolute;
                    content: '';
                }
            }
            /*#endregion*/
        }
        /*#region ONE*/
        &.one {
            div::before {
                top: 50px;
                right: 30px;
                bottom: 50px;
                left: 30px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
            }

            div::after {
                top: 30px;
                right: 50px;
                bottom: 30px;
                left: 50px;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
            }
        }
        /*#endregion*/
        /*#region TWO*/
        &.two {
            div::before {
                top: 30px;
                right: 30px;
                bottom: 30px;
                left: 30px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
            }

            div::after {
                top: 30px;
                right: 30px;
                bottom: 30px;
                left: 30px;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
            }
        }
        /*#endregion*/
        /*#region THREE*/
        &.three {
            figcaption {
                height: 70%;
            }

            p {
                margin: 1em 0 0;
                padding: 2em;
                border: 1px solid #fff;
            }
        }
        /*#endregion*/
        /*#region FOUR*/
        &.four {
            figcaption {
                height: 60%;
                text-align: left;
            }

            p {
                position: absolute;
                right: 50px;
                bottom: 50px;
                left: 50px;
                padding: 2em;
                border: 7px solid #fff;
            }
        }
        /*#endregion*/
        /*#region FIVE*/
        &.five {
            figcaption {
                height: 100%;
                text-align: right;
            }

            h2 {
                position: absolute;
                left: 50px;
                right: 50px;
                top: 10%;
                border-bottom: 5px solid #fff;
            }

            p {
                position: absolute;
                right: 50px;
                bottom: 10%;
            }
        }
        /*#endregion*/
        /*#region SIX*/
        &.six {
            figcaption {
                height: 70%;
            }

            h2 {
                padding-bottom: 3%;
                border-bottom: 1px solid #fff;
            }

            p {
                padding-top: 6%;
            }
        }
        /*#endregion*/
        /*#region SEVEN*/
        &.seven {
            figcaption {
                height: 90%;
                text-align: left;
            }

            h2 {
                border-bottom: 3px solid #fff;
            }

            p {
                padding-top: 1em;
            }
        }
        /*#endregion*/
        /*#region EIGHT*/
        &.eight {
            figcaption {
                height: 100%;
                text-align: right;
            }

            h2 {
                position: absolute;
                left: 50%;
                right: 50px;
                bottom: 10%;
            }

            p {
                position: absolute;
                left: 50px;
                right: 50%;
                top: 10%;
                padding-right: 0.5em;
                border-right: 1px solid #fff;
            }
        }
        /*#endregion*/
    }
    /*#endregion*/
    /*#region Printing */
    @page {
        size: auto; /* auto is the current printer page size */
        margin: 20mm 0; /* this affects the margin in the printer settings */
    }
    /*#endregion*/
    /*#region ATTRIBUTE GROUP EDIT TEMPLATE*/
    .attGrp-editTemplate {
        border: 5px solid #EEE;
        padding: 0;

        .attGrp-header {
            text-align: center;
            background-color: #EEE;
            margin: 0;

            h1, h2, h3, h4, h5, h6 {
                margin: 0;
            }
        }

        p {
            padding: 10px;
        }
    }
    /*#endregion*/
}

/*#region Attribute group Template preview*/
.attrGrp-tempPreview {
    display: block;
    width: 100%;
    max-width: 194px;
    height: 65px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
    background-color: #fff !important;
    border: 3px solid #EEE;
    text-align: center;

    > .attG-prev-header {
        margin: 0;
        background: #EEE;
        text-align: center;
        padding: 3px;
    }
}
/*#endregion*/

/*#region Attribute group Non-editable View */
.attGrpOvrContent {
    > .attG-wrapper {
        border: 5px solid #EEE;
    }

    .header {
        background-color: #EEE;
        margin: 0;
        padding: 0 10px;
    }

    form {
        padding: 10px;
        margin: 0;

        .control-group {
            > .control-label {
                vertical-align: middle;
                text-align: left;
                width: 20%;
                font-size: 14px;
                color: #AAA;
            }

            > .controls {
                margin-left: 21%;

                > span {
                    padding: 0 !important;
                    vertical-align: middle;
                }
            }
        }
    }
}
/*#endregion*/

/*#endregion*/

/*#endregion*/

/*#region GENERAL STYLE*/

#cmssectionview {
    #OverviewDiv {
        .popover {
            .popover-content {
                .control-group {
                    margin-bottom: 5px !important;

                    .control-label {
                        width: 80px;
                    }

                    .controls {
                        margin-left: 90px;
                    }
                }
            }
        }

        #CmsPageFeedsdiv {
            height: 200px;
            .manageOverflow;
        }
    }
}

/*#endregion*/

/*#endregion*/
