﻿.FilterHolder {
    position: relative;

    .dynamicContainer {
        border-bottom: 1px solid #ddd;
        background-color: #fafafa;
        margin: 0px;
        padding: 5px 0px 0px 10px;

        form {
            margin: 0px;

            .control-group {
                margin-bottom: 0px;

                > span { /*Added By MADHUR - 7th JAN 2014*/
                    display: block;
                }
                /*Added By MADHUR - 20th AUG 2015*/
                .tbxDropdownBtnGroup {
                    .tbxDropdown {
                        max-height: 60px;
                        overflow: hidden;
                        overflow-y: auto;
                    }
                }
            }
    }
}

    .actionPanel {
        background-color: #F8F8F8;
        border-bottom: 1px solid #DDDDDD;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        margin: 0;
        padding: 5px 10px;

        input {
            margin-bottom: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
}
