﻿.FundingRequestPopup {
    .modal-header {
        border: medium none;

        .entityInfo {
            overflow: hidden;
            width: 100%;
            float: right;
            text-align: right;
            margin-right: 25px;

            .rootLevelEntityName {
                display: block;
                word-break: break-all;
            }
        }

        button.close {
            position: absolute;
            top: 10px;
            right: 20px;
            margin: 0;
            padding: 0;
        }
    }

    .tabbable {
        margin: -15px -35px -35px;

        .tab-content {
           border: medium none;
		   overflow: hidden;
		   overflow-y: auto;
           height: 350px;

            .userimg {
                box-shadow: 0px 1px 3px #1e1e1e;
                width: 48px;
                border: 2px solid #ffffff;
                margin: 0px 0px 12px;
            }

            .requestBlock {
                border-bottom: 1px solid #d2d2d2;
                font-size: 13px;
                font-weight: bold;
                padding: 15px 0px 5px;
                border-top: 1px solid #d2d2d2;

                .softText {
                    font-size: 12px;
                    font-weight: 100;
                }
            }

                .requestBlock + .requestBlock {
                    border-top: none;
                    margin-bottom: 10px;
                    padding-top: 5px;
                }

            .detailBlock {
                padding: 10px 0px 0px;
            }

            .feedBlock {
                height: 400px;
                margin-right: -20px;
                margin-top: -20px;
                margin-bottom: -35px;
                overflow-x: hidden;
                padding: 20px 10px 35px 0px;
                overflow-y: auto;
            }
        }
    }
}
