﻿div.ganttview-header-main,
div.ganttview-header-sub,
div.ganttview-grid,
div.ganttview-grid-row-cell
{
    float: left;
}

div.ganttview-header-main,
div.ganttview-header-sub
{
    text-align: center;
    width: inherit;
}

    div.ganttview-grid-row-cell.last,
    div.ganttview-header-sub.last,
    div.ganttview-header-main.last
    {
        border-right: none;
    }

div.ganttview
{
    position: relative;
}

div.ganttview-left
{
    position: relative;
    float: left;
    display: block;
    margin-left: 0px;
    min-height: 30px;
    width: 0px;
}

div.ganttview-right
{
    position: relative;
    display: block;
    margin-left: 0px;
    min-height: 30px;
}

/* Header */
div.ganttview-header-main
{
    background-color: #EEEEEE;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    color: #555555;
    font-weight: bold;
    height: 15px;
    line-height: 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    width: 60px;
}

div.ganttview-header-sub
{
    background-color: #EEEEEE;
    border-bottom: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    border-top: 1px solid #DDDDDD;
    color: #444444;
    height: 16px;
    line-height: 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    width: 29px;
}

    div.ganttview-header-sub.ganttview-odd
    {
        background-color: #F9F9F9;
    }

/* Slider */
div.ganttview-slide-container
{
    overflow: hidden;
    width: 100%;
    border-left: 1px solid #DDDDDD;
    margin-left: -1px;
    position: absolute;
}

/* Grid */
div.ganttview-grid-row
{
    width: inherit;
    height: inherit;
}

div.ganttview-grid-row-cell
{
    width: 29px;
    height: inherit;
    border-right: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    position: relative;
    z-index: -1;
}

    div.ganttview-grid-row-cell.ganttview-odd
    {
        background-color: #F9F9F9;
    }

/* Blocks */
div.ganttview-data
{
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 0px;
    margin-top: 35px;
}

div.ganttview-data-blocks
{
}

div.ganttview-data-block-container
{
    border-bottom: 1px solid #F0F0F0;
    height: 28px;
    padding-bottom: 2px;
    padding-top: 3px;
    position: relative;

    &:hover
    {
        background-color: lighten(@linkColor,55%);
        #gradient > .vertical(desaturate(lighten(@linkColor,58%),50%),desaturate(lighten(@linkColor,55%),50%));
    }

    .reached
    {
        position: absolute;
        color: #00cc66;
        margin-left: -100px;
        text-shadow: 0px 0px 2px #fff;
        font-size: 16px;
        margin-top: 3px;
    }

    .notreached
    {
        position: absolute;
        color: #cc0000;
        margin-left: -100px;
        text-shadow: 0px 0px 2px #fff;
        font-size: 16px;
        margin-top: 3px;
    }
}

div.ganttview-data-block
{
    position: absolute !important;
    height: 25px;
    background-color: #F0F0F0;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div.ganttview-data-block-text
{
    color: #999999;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
    display: none;
}

/* Adjustments for jQuery UI Styling */

div.ganttview-data-block div.ui-resizable-handle.ui-resizable-s
{
    bottom: -0;
}

div.ganttview-data-block .ui-resizable-e
{
    cursor: e-resize;
    height: 100%;
    right: -5px;
    top: 0;
    width: 7px;
}

div.ganttview-data-block .ui-resizable-w
{
    cursor: w-resize;
    height: 100%;
    left: -5px;
    top: 0;
    width: 7px;
}

div.ganttview-data-block .ui-resizable-handle
{
    display: block;
    font-size: 0.1px;
    position: absolute;
    z-index: 99999;
}

div.ganttview-data-block.ui-draggable
{
    cursor: move;
}

div.ganttview-list
{
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.table-gantt td
{
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    max-width: 0;
    padding: 7px 5px 6px;
    border-right: 1px solid #EEEEEE;

    [data-entitylevel="0"]
    {
        background-color: #d9d9d9;
    }
}

.table-gantt > thead > tr > th, .table-gantt > thead > tr:first-child
{
    background-color: #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    color: #555555;
    font-weight: bold;
    max-width: 0;
    padding: 6px 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

    .table-gantt > thead > tr > th > span, .table-gantt > tbody > tr > td > span
    {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        min-height: 20px;
    }

.table-gantt > tbody > tr:hover > td
{
    background-color: lighten(@linkColor,55%);
    #gradient > .vertical(desaturate(lighten(@linkColor,58%),50%),desaturate(lighten(@linkColor,55%),50%));
}

.table-gantt
{
    margin-bottom: 0;
    width: 100%;
}

    .table-gantt tbody + tbody
    {
        border-top: 0 none;
    }
