﻿.memberBlock {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 270px;
    margin: 2px 12px 7px 2px;

    &:hover {
        border: 2px solid #D0D0D0;
        margin: 0 10px 5px 0px;
    }

    .CloseIcon {
        display: none;
    }

    &:hover .CloseIcon {
        position: absolute;
        right: 6px;
        color: #AAAAAA;
        top: 0px;
        font-size: 13px;
        display: block;
    }

    .member {
        width: auto;
        background-color: #f9f9f9;
        border: 1px solid #D0D0D0;

        .avatar {
            border-right: 1px solid #D0D0D0;
            height: 72px;
            width: 62px;
        }

        .block {
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;
            width: 200px;
            color: #777;
            font-weight: bold;
        }

        .name {
            display: block;
            font-weight: bold;
            font-size: 13px;
            line-height: 13px;
            padding-top: 2px;
            color: #0088CC;
            margin-right: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .info {
            font-size: 12px;
            font-style: italic;
            color: #777777;
            line-height: 17px;
            margin-right: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

    .memberBlock.global {
        cursor: default;
        box-shadow: none;

        &:hover {
            margin: 2px 12px 7px 2px;
            border: none;
        }

        .member {
            background-color: #FAFAFA;
            border: 1px dashed #d0d0d0;
        }

        .CloseIcon {
            display: none;
        }
    }
