@media (max-width: 767px) {
    .table-responsive tr {
        display: block;
        padding: 8px;
    }

    .table-bordered.table-responsive tr {
        border: 1px solid #DDD;
        border-top: 0;
        border-right: 0;
    }

    .table-responsive td, .table-responsive th {
        display: block;
        padding: 0;
        border: none;
        font-weight: normal;
    }

    .table-responsive th {
        font-style: italic;
    }

    .responsive-strong {
        font-weight: bold;
    }

    .responsive-em {
        font-style: italic;
    }

    .responsive-soft {
        color: #999;
    }
}
