﻿/*All those classes which are meant to declare some style in a particular manner for the whole application*/

/*#region Overflow*/

.overflowHide {
    overflow: hidden !important;
}

.overflowAuto {
    overflow: auto !important;
}

.overflowScroll {
    overflow: scroll !important;
}

//For giving a vertical scroll to a div
.manageOverflow {
    overflow: hidden;
    overflow-y: auto;
}

//For giving a text block, the ellipsis effect
.manageTextOverflow {
    display: inline-block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*#endregion Overflow*/

/*#region Margins*/
.nomargin {
    margin: 0px !important;
}

.automargin {
    margin: auto !important;
}

.margin1x {
    margin: 1px !important;
}

.margin2x {
    margin: 2px !important;
}

.margin5x {
    margin: 5px !important;
}

.margin10x {
    margin: 10px !important;
}

.margin20x {
    margin: 20px !important;
}

.margin30x {
    margin: 30px !important;
}

.margin40x {
    margin: 40px !important;
}

.margin50x {
    margin: 50px !important;
}

.margin100x {
    margin: 100px !important;
}

/*NEGATIVE*/
.margin1x-n {
    margin: -1px !important;
}

.margin2x-n {
    margin: -2px !important;
}

.margin5x-n {
    margin: -5px !important;
}

.margin10x-n {
    margin: -10px !important;
}

.margin20x-n {
    margin: -20px !important;
}

.margin30x-n {
    margin: -30px !important;
}

.margin40x-n {
    margin: -40px !important;
}

.margin50x-n {
    margin: -50px !important;
}

.margin100x-n {
    margin: -100px !important;
}

/*#region Margin-TOP*/
.margin-top0x {
    margin-top: 0px !important;
}

.margin-top1x {
    margin-top: 1px !important;
}

.margin-top2x {
    margin-top: 2px !important;
}

.margin-top5x {
    margin-top: 5px !important;
}

.margin-top10x {
    margin-top: 10px !important;
}

.margin-top20x {
    margin-top: 20px !important;
}

.margin-top30x {
    margin-top: 30px !important;
}

.margin-top40x {
    margin-top: 40px !important;
}

.margin-top50x {
    margin-top: 50px !important;
}

.margin-top100x {
    margin-top: 100px !important;
}

/*NEGATIVE*/
.margin-n-top1x {
    margin-top: 1px !important;
}

.margin-n-top2x {
    margin-top: 2px !important;
}

.margin-n-top5x {
    margin-top: -5px !important;
}

.margin-n-top10x {
    margin-top: -10px !important;
}

.margin-n-top20x {
    margin-top: -20px !important;
}

.margin-n-top30x {
    margin-top: -30px !important;
}

.margin-n-top40x {
    margin-top: -40px !important;
}

.margin-n-top50x {
    margin-top: -50px !important;
}

.margin-n-top100x {
    margin-top: -100px !important;
}
/*#endregion Margin-TOP*/

/*#region Margin-BOTTOM*/
.margin-bottom0x {
    margin-bottom: 0px !important;
}

.margin-bottom1x {
    margin-bottom: 1px !important;
}

.margin-bottom2x {
    margin-bottom: 2px !important;
}

.margin-bottom5x {
    margin-bottom: 5px !important;
}

.margin-bottom10x {
    margin-bottom: 10px !important;
}

.margin-bottom20x {
    margin-bottom: 20px !important;
}

.margin-bottom30x {
    margin-bottom: 30px !important;
}

.margin-bottom40x {
    margin-bottom: 40px !important;
}

.margin-bottom50x {
    margin-bottom: 50px !important;
}

.margin-bottom100x {
    margin-bottom: 100px !important;
}

/*NEGATIVE*/
.margin-n-bottom1x {
    margin-bottom: -1px !important;
}

.margin-n-bottom2x {
    margin-bottom: -2px !important;
}

.margin-n-bottom5x {
    margin-bottom: -5px !important;
}

.margin-n-bottom10x {
    margin-bottom: -10px !important;
}

.margin-n-bottom20x {
    margin-bottom: -20px !important;
}

.margin-n-bottom30x {
    margin-bottom: -30px !important;
}

.margin-n-bottom40x {
    margin-bottom: -40px !important;
}

.margin-n-bottom50x {
    margin-bottom: -50px !important;
}

.margin-n-bottom100x {
    margin-bottom: -100px !important;
}
/*#endregion Margin-BOTTOM*/

/*#region Margin-LEFT*/
.margin-left0x {
    margin-left: 0px !important;
}

.margin-left1x {
    margin-left: 1px !important;
}

.margin-left2x {
    margin-left: 2px !important;
}

.margin-left5x {
    margin-left: 5px !important;
}

.margin-left10x {
    margin-left: 10px !important;
}

.margin-left20x {
    margin-left: 20px !important;
}

.margin-left30x {
    margin-left: 30px !important;
}

.margin-left40x {
    margin-left: 40px !important;
}

.margin-left50x {
    margin-left: 50px !important;
}

.margin-left100x {
    margin-left: 100px !important;
}

/*NEGATIVE*/
.margin-n-left1x {
    margin-left: -1px !important;
}

.margin-n-left2x {
    margin-left: -2px !important;
}

.margin-n-left5x {
    margin-left: -5px !important;
}

.margin-n-left10x {
    margin-left: -10px !important;
}

.margin-n-left20x {
    margin-left: -20px !important;
}

.margin-n-left30x {
    margin-left: -30px !important;
}

.margin-n-left40x {
    margin-left: -40px !important;
}

.margin-n-left50x {
    margin-left: -50px !important;
}

.margin-n-left100x {
    margin-left: -100px !important;
}
/*#endregion Margin-LEFT*/

/*#region Margin-RIGHT*/
.margin-right0x {
    margin-right: 0px !important;
}

.margin-right1x {
    margin-right: 1px !important;
}

.margin-right2x {
    margin-right: 2px !important;
}

.margin-right5x {
    margin-right: 5px !important;
}

.margin-right10x {
    margin-right: 10px !important;
}

.margin-right20x {
    margin-right: 20px !important;
}

.margin-right30x {
    margin-right: 30px !important;
}

.margin-right40x {
    margin-right: 40px !important;
}

.margin-right50x {
    margin-right: 50px !important;
}

.margin-right100x {
    margin-right: 100px !important;
}

/*NEGATIVE*/
.margin-n-right1x {
    margin-right: -1px !important;
}

.margin-n-right2x {
    margin-right: -2px !important;
}

.margin-n-right5x {
    margin-right: -5px !important;
}

.margin-n-right10x {
    margin-right: -10px !important;
}

.margin-n-right20x {
    margin-right: -20px !important;
}

.margin-n-right30x {
    margin-right: -30px !important;
}

.margin-n-right40x {
    margin-right: -40px !important;
}

.margin-n-right50x {
    margin-right: -50px !important;
}

.margin-n-right100x {
    margin-right: -100px !important;
}
/*#endregion Margin-RIGHT*/

/*#endregion Margins*/

/*#region Paddings*/
.nopadding {
    padding: 0px !important;
}

.padding1x {
    padding: 1px !important;
}

.padding2x {
    padding: 2px !important;
}

.padding5x {
    padding: 5px !important;
}

.padding10x {
    padding: 10px !important;
}

.padding20x {
    padding: 20px !important;
}

.padding30x {
    padding: 30px !important;
}

.padding40x {
    padding: 40px !important;
}

.padding50x {
    padding: 50px !important;
}

.padding100x {
    padding: 100px !important;
}

/*#region Padding-TOP*/
.padding-top0x {
    padding-top: 0px !important;
}

.padding-top1x {
    padding-top: 1px !important;
}

.padding-top2x {
    padding-top: 2px !important;
}

.padding-top5x {
    padding-top: 5px !important;
}

.padding-top10x {
    padding-top: 10px !important;
}

.padding-top20x {
    padding-top: 20px !important;
}

.padding-top30x {
    padding-top: 30px !important;
}

.padding-top40x {
    padding-top: 40px !important;
}

.padding-top50x {
    padding-top: 50px !important;
}

.padding-top100x {
    padding-top: 100px !important;
}
/*#endregion Padding-TOP*/

/*#region Padding-BOTTOM*/
.padding-bottom0x {
    padding-bottom: 0px !important;
}

.padding-bottom1x {
    padding-bottom: 1px !important;
}

.padding-bottom2x {
    padding-bottom: 2px !important;
}

.padding-bottom5x {
    padding-bottom: 5px !important;
}

.padding-bottom10x {
    padding-bottom: 10px !important;
}

.padding-bottom20x {
    padding-bottom: 20px !important;
}

.padding-bottom30x {
    padding-bottom: 30px !important;
}

.padding-bottom40x {
    padding-bottom: 40px !important;
}

.padding-bottom50x {
    padding-bottom: 50px !important;
}

.padding-bottom100x {
    padding-bottom: 100px !important;
}
/*#endregion Padding-BOTTOM*/

/*#region Padding-LEFT*/
.padding-left0x {
    padding-left: 0px !important;
}

.padding-left1x {
    padding-left: 1px !important;
}

.padding-left2x {
    padding-left: 2px !important;
}

.padding-left5x {
    padding-left: 5px !important;
}

.padding-left10x {
    padding-left: 10px !important;
}

.padding-left20x {
    padding-left: 20px !important;
}

.padding-left30x {
    padding-left: 30px !important;
}

.padding-left40x {
    padding-left: 40px !important;
}

.padding-left50x {
    padding-left: 50px !important;
}

.padding-left100x {
    padding-left: 100px !important;
}
/*#endregion Padding-LEFT*/

/*#region Padding-RIGHT*/
.padding-right0x {
    padding-right: 0px !important;
}

.padding-right1x {
    padding-right: 1px !important;
}

.padding-right2x {
    padding-right: 2px !important;
}

.padding-right5x {
    padding-right: 5px !important;
}

.padding-right10x {
    padding-right: 10px !important;
}

.padding-right20x {
    padding-right: 20px !important;
}

.padding-right30x {
    padding-right: 30px !important;
}

.padding-right40x {
    padding-right: 40px !important;
}

.padding-right50x {
    padding-right: 50px !important;
}

.padding-right100x {
    padding-right: 100px !important;
}
/*#endregion Padding-RIGHT*/

/*#endregion Paddings*/

/*#region Borders*/
.noBorder {
    border: 0 none !important;
}

.borderTransparent {
    border: 1px solid transparent !important;
}

.borderhalfx {
    border: 0.5px solid #cccccc !important;
}

.border1x {
    border: 1px solid #cccccc !important;
}

.border1halfx {
    border: 1.5px solid #cccccc !important;
}

.border2x {
    border: 2px solid #cccccc !important;
}

.border2halfx {
    border: 2.5px solid #cccccc !important;
}

.border3x {
    border: 3px solid #cccccc !important;
}

.border3halfx {
    border: 3.5px solid #cccccc !important;
}

.border4x {
    border: 4px solid #cccccc !important;
}

.border4halfx {
    border: 4.5px solid #cccccc !important;
}

.border5x {
    border: 5px solid #cccccc !important;
}

.border5halfx {
    border: 5.5px solid #cccccc !important;
}

/*#region Border-TOP*/
.border-tophalfx {
    border-top: 0.5px solid #cccccc !important;
}

.border-top1x {
    border-top: 1px solid #cccccc !important;
}

.border-top1halfx {
    border-top: 1.5px solid #cccccc !important;
}

.border-top2x {
    border-top: 2px solid #cccccc !important;
}

.border-top2halfx {
    border-top: 2.5px solid #cccccc !important;
}

.border-top3x {
    border-top: 3px solid #cccccc !important;
}

.border-top3halfx {
    border-top: 3.5px solid #cccccc !important;
}

.border-top4x {
    border-top: 4px solid #cccccc !important;
}

.border-top4halfx {
    border-top: 4.5px solid #cccccc !important;
}

.border-top5x {
    border-top: 5px solid #cccccc !important;
}

.border-top5halfx {
    border-top: 5.5px solid #cccccc !important;
}
/*#endregion Border-TOP*/

/*#region Border-BOTTOM*/
.border-bottomhalfx {
    border-bottom: 0.5px solid #cccccc !important;
}

.border-bottom1x {
    border-bottom: 1px solid #cccccc !important;
}

.border-bottom1halfx {
    border-bottom: 1.5px solid #cccccc !important;
}

.border-bottom2x {
    border-bottom: 2px solid #cccccc !important;
}

.border-bottom2halfx {
    border-bottom: 2.5px solid #cccccc !important;
}

.border-bottom3x {
    border-bottom: 3px solid #cccccc !important;
}

.border-bottom3halfx {
    border-bottom: 3.5px solid #cccccc !important;
}

.border-bottom4x {
    border-bottom: 4px solid #cccccc !important;
}

.border-bottom4halfx {
    border-bottom: 4.5px solid #cccccc !important;
}

.border-bottom5x {
    border-bottom: 5px solid #cccccc !important;
}

.border-bottom5halfx {
    border-bottom: 5.5px solid #cccccc !important;
}
/*#endregion Border-BOTTOM*/

/*#region Border-LEFT*/
.border-lefthalfx {
    border-left: 0.5px solid #cccccc !important;
}

.border-left1x {
    border-left: 1px solid #cccccc !important;
}

.border-left1halfx {
    border-left: 1.5px solid #cccccc !important;
}

.border-left2x {
    border-left: 2px solid #cccccc !important;
}

.border-left2halfx {
    border-left: 2.5px solid #cccccc !important;
}

.border-left3x {
    border-left: 3px solid #cccccc !important;
}

.border-left3halfx {
    border-left: 3.5px solid #cccccc !important;
}

.border-left4x {
    border-left: 4px solid #cccccc !important;
}

.border-left4halfx {
    border-left: 4.5px solid #cccccc !important;
}

.border-left5x {
    border-left: 5px solid #cccccc !important;
}

.border-left5halfx {
    border-left: 5.5px solid #cccccc !important;
}
/*#endregion Border-LEFT*/

/*#region Border-RIGHT*/
.border-righthalfx {
    border-right: 0.5px solid #cccccc !important;
}

.border-right1x {
    border-right: 1px solid #cccccc !important;
}

.border-right1halfx {
    border-right: 1.5px solid #cccccc !important;
}

.border-right2x {
    border-right: 2px solid #cccccc !important;
}

.border-right2halfx {
    border-right: 2.5px solid #cccccc !important;
}

.border-right3x {
    border-right: 3px solid #cccccc !important;
}

.border-right3halfx {
    border-right: 3.5px solid #cccccc !important;
}

.border-right4x {
    border-right: 4px solid #cccccc !important;
}

.border-right4halfx {
    border-right: 4.5px solid #cccccc !important;
}

.border-right5x {
    border-right: 5px solid #cccccc !important;
}

.border-right5halfx {
    border-right: 5.5px solid #cccccc !important;
}
/*#endregion Border-RIGHT*/

/*#region Border Radius*/

.b-radiusNone {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.b-radius1 {
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important;
}

.b-radius2 {
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}

.b-radius3 {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}

.b-radius4 {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.b-radius5 {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.b-radius6 {
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important;
}

.b-radius7 {
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    border-radius: 7px !important;
}

.b-radius8 {
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
}

.b-radius9 {
    -webkit-border-radius: 9px !important;
    -moz-border-radius: 9px !important;
    border-radius: 9px !important;
}

.b-radius10 {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}

.b-radius20 {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
}

.b-radius30 {
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    border-radius: 30px !important;
}

.b-radius50 {
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
}

.b-radius100 {
    -webkit-border-radius: 100px !important;
    -moz-border-radius: 100px !important;
    border-radius: 100px !important;
}

/*#endregion*/

/*#endregion Borders*/

/*#region Box-Shadow*/

.noBoxShadow {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/*#endregion Box-Shadow*/

/*#region Box-Shadow*/

.box-size-padding {
    -webkit-box-sizing: padding-box !important;
    -moz-box-sizing: padding-box !important;
    box-sizing: padding-box !important;
}

.box-size-content {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.box-size-border {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

/*#endregion Box-Shadow*/

/*#region heights*/
.noheight {
    height: 0px !important;
}

.heightauto {
    height: auto !important;
}

.heightcent {
    height: 100% !important;
}

.heightInherit {
    height: inherit !important;
}

/*#region min-height*/
.no-minheight {
    min-height: 0 !important;
}

.min-heightInherit {
    min-height: inherit !important;
}

.min-heighthalfx {
    min-height: 50px !important;
}

.min-height1x {
    min-height: 100px !important;
}

.min-height1halfx {
    min-height: 150px !important;
}

.min-height2x {
    min-height: 200px !important;
}

.min-height2halfx {
    min-height: 250px !important;
}

.min-height3x {
    min-height: 300px !important;
}

.min-height3halfx {
    min-height: 350px !important;
}

.min-height4x {
    min-height: 400px !important;
}

.min-height4halfx {
    min-height: 450px !important;
}

.min-height5x {
    min-height: 500px !important;
}

.min-height5halfx {
    min-height: 550px !important;
}

.min-height6x {
    min-height: 600px !important;
}

.min-height6halfx {
    min-height: 650px !important;
}

.min-height7x {
    min-height: 700px !important;
}

.min-height7halfx {
    min-height: 750px !important;
}

.min-height8x {
    min-height: 800px !important;
}

.min-height8halfx {
    min-height: 850px !important;
}

.min-height9x {
    min-height: 900px !important;
}

.min-height9halfx {
    min-height: 950px !important;
}

.min-height10x {
    min-height: 1000px !important;
}
/*#endregion*/

/*#region max-height*/
.no-maxheight {
    max-height: 0 !important;
}

.max-heightInherit {
    max-height: inherit !important;
}

.max-heighthalfx {
    max-height: 50px !important;
}

.max-height1x {
    max-height: 100px !important;
}

.max-height1halfx {
    max-height: 150px !important;
}

.max-height2x {
    max-height: 200px !important;
}

.max-height2halfx {
    max-height: 250px !important;
}

.max-height3x {
    max-height: 300px !important;
}

.max-height3halfx {
    max-height: 350px !important;
}

.max-height4x {
    max-height: 400px !important;
}

.max-height4halfx {
    max-height: 450px !important;
}

.max-height5x {
    max-height: 500px !important;
}

.max-height5halfx {
    max-height: 550px !important;
}

.max-height6x {
    max-height: 600px !important;
}

.max-height6halfx {
    max-height: 650px !important;
}

.max-height7x {
    max-height: 700px !important;
}

.max-height7halfx {
    max-height: 750px !important;
}

.max-height8x {
    max-height: 800px !important;
}

.max-height8halfx {
    max-height: 850px !important;
}

.max-height9x {
    max-height: 900px !important;
}

.max-height9halfx {
    max-height: 950px !important;
}

.max-height10x {
    max-height: 1000px !important;
}
/*#endregion*/

.heighthalfx {
    height: 50px !important;
}

.height1x {
    height: 100px !important;
}

.height1halfx {
    height: 150px !important;
}

.height2x {
    height: 200px !important;
}

.height2halfx {
    height: 250px !important;
}

.height3x {
    height: 300px !important;
}

.height3halfx {
    height: 350px !important;
}

.height4x {
    height: 400px !important;
}

.height4halfx {
    height: 450px !important;
}

.height5x {
    height: 500px !important;
}

.height5halfx {
    height: 550px !important;
}

.height6x {
    height: 600px !important;
}

.height6halfx {
    height: 650px !important;
}

.height7x {
    height: 700px !important;
}

.height7halfx {
    height: 750px !important;
}

.height8x {
    height: 800px !important;
}

.height8halfx {
    height: 850px !important;
}

.height9x {
    height: 900px !important;
}

.height9halfx {
    height: 950px !important;
}

.height10x {
    height: 1000px !important;
}
/*#endregion heights*/

/*#region widths*/
.nowidth {
    width: 0px !important;
}

.widthauto {
    width: auto !important;
}

.widthcent {
    width: 100% !important;
}

.widthInherit {
    width: inherit !important;
}

/*#region min-widths*/
.no-minwidth {
    min-width: 0 !important;
}

.min-widthInherit {
    min-width: inherit !important;
}

.min-widthhalfx {
    min-width: 50px !important;
}

.min-width1x {
    min-width: 100px !important;
}

.min-width1halfx {
    min-width: 150px !important;
}

.min-width2x {
    min-width: 200px !important;
}

.min-width2halfx {
    min-width: 250px !important;
}

.min-width3x {
    min-width: 300px !important;
}

.min-width3halfx {
    min-width: 350px !important;
}

.min-width4x {
    min-width: 400px !important;
}

.min-width4halfx {
    min-width: 450px !important;
}

.min-width5x {
    min-width: 500px !important;
}

.min-width5halfx {
    min-width: 550px !important;
}

.min-width6x {
    min-width: 600px !important;
}

.min-width6halfx {
    min-width: 650px !important;
}

.min-width7x {
    min-width: 700px !important;
}

.min-width7halfx {
    min-width: 750px !important;
}

.min-width8x {
    min-width: 800px !important;
}

.min-width8halfx {
    min-width: 850px !important;
}

.min-width9x {
    min-width: 900px !important;
}

.min-width9halfx {
    min-width: 950px !important;
}

.min-width10x {
    min-width: 1000px !important;
}
/*#endregion*/

/*#region max-widths*/
.no-maxwidth {
    max-width: 0 !important;
}

.max-widthInherit {
    max-width: inherit !important;
}

.max-widthhalfx {
    max-width: 50px !important;
}

.max-width1x {
    max-width: 100px !important;
}

.max-width1halfx {
    max-width: 150px !important;
}

.max-width2x {
    max-width: 200px !important;
}

.max-width2halfx {
    max-width: 250px !important;
}

.max-width3x {
    max-width: 300px !important;
}

.max-width3halfx {
    max-width: 350px !important;
}

.max-width4x {
    max-width: 400px !important;
}

.max-width4halfx {
    max-width: 450px !important;
}

.max-width5x {
    max-width: 500px !important;
}

.max-width5halfx {
    max-width: 550px !important;
}

.max-width6x {
    max-width: 600px !important;
}

.max-width6halfx {
    max-width: 650px !important;
}

.max-width7x {
    max-width: 700px !important;
}

.max-width7halfx {
    max-width: 750px !important;
}

.max-width8x {
    max-width: 800px !important;
}

.max-width8halfx {
    max-width: 850px !important;
}

.max-width9x {
    max-width: 900px !important;
}

.max-width9halfx {
    max-width: 950px !important;
}

.max-width10x {
    max-width: 1000px !important;
}
/*#endregion*/

.widthhalfx {
    width: 50px !important;
}

.width1x {
    width: 100px !important;
}

.width1halfx {
    width: 150px !important;
}

.width2x {
    width: 200px !important;
}

.width2halfx {
    width: 250px !important;
}

.width3x {
    width: 300px !important;
}

.width3halfx {
    width: 350px !important;
}

.width4x {
    width: 400px !important;
}

.width4halfx {
    width: 450px !important;
}

.width5x {
    width: 500px !important;
}

.width5halfx {
    width: 550px !important;
}

.width6x {
    width: 600px !important;
}

.width6halfx {
    width: 650px !important;
}

.width7x {
    width: 700px !important;
}

.width7halfx {
    width: 750px !important;
}

.width8x {
    width: 800px !important;
}

.width8halfx {
    width: 850px !important;
}

.width9x {
    width: 900px !important;
}

.width9halfx {
    width: 950px !important;
}

.width10x {
    width: 1000px !important;
}

.widthinput {
    width: 186px !important;
}
/*#endregion widths*/

/*#region Horizontal Ruler*/
.hr1x {
    margin: 0px;
    background-color: #d9d9d9;
    height: 1px !important;
}

.hr2x {
    margin: 0px;
    background-color: #d9d9d9;
    height: 2px !important;
}

.hr3x {
    margin: 0px;
    background-color: #d9d9d9;
    height: 3px !important;
}

.hr4x {
    margin: 0px;
    background-color: #d9d9d9;
    height: 4px !important;
}

.hr5x {
    margin: 0px;
    background-color: #d9d9d9;
    height: 5px !important;
}
/*#endregion Horizontal Ruler*/

/*#region Font Weights*/
.lighter {
    font-weight: lighter !important;
}

.bold {
    font-weight: bold !important;
}

.bolder {
    font-weight: bolder !important;
}
/*#endregion Font Weights*/

/*#region Font-Sizes*/
/*#region PIXELS*/
.font6 {
    font-size: 6px !important;
}

.font8 {
    font-size: 8px !important;
}

.font9 {
    font-size: 9px !important;
}

.font10 {
    font-size: 10px !important;
}

.font11 {
    font-size: 11px !important;
}

.font12 {
    font-size: 12px !important;
}

.font13 {
    font-size: 13px !important;
}

.font14 {
    font-size: 14px !important;
}

.font15 {
    font-size: 15px !important;
}

.font16 {
    font-size: 16px !important;
}

.font18 {
    font-size: 18px !important;
}

.font20 {
    font-size: 20px !important;
}
/*#endregion*/

/*#region EM*/
.font-p1em {
    font-size: 0.1em !important;
}

.font-p2em {
    font-size: 0.2em !important;
}

.font-p3em {
    font-size: 0.3em !important;
}

.font-p4em {
    font-size: 0.4em !important;
}

.font-p5em {
    font-size: 0.5em !important;
}

.font-p6em {
    font-size: 0.6em !important;
}

.font-p7em {
    font-size: 0.7em !important;
}

.font-p8em {
    font-size: 0.8em !important;
}

.font-p9em {
    font-size: 0.9em !important;
}

.font1em {
    font-size: 1em !important;
}

.font1Halfem {
    font-size: 1.5em !important;
}

.font2em {
    font-size: 2em !important;
}

.font2Halfem {
    font-size: 2.5em !important;
}

.font3em {
    font-size: 3em !important;
}

.font3Halfem {
    font-size: 3.5em !important;
}

.font4em {
    font-size: 4em !important;
}

.font4Halfem {
    font-size: 4.5em !important;
}

.font5em {
    font-size: 5em !important;
}

.font5Halfem {
    font-size: 5.5em !important;
}

.font6em {
    font-size: 6em !important;
}

.font6Halfem {
    font-size: 6.5em !important;
}

.font7em {
    font-size: 7em !important;
}

.font7Halfem {
    font-size: 7.5em !important;
}

.font8em {
    font-size: 8em !important;
}

.font8Halfem {
    font-size: 8.5em !important;
}

.font9em {
    font-size: 9em !important;
}

.font9Halfem {
    font-size: 9.5em !important;
}

.font10em {
    font-size: 10em !important;
}

.font10Halfem {
    font-size: 10.5em !important;
}


/*#endregion*/
/*#endregion Font-Sizes*/

/*#region Text Cases*/
.capitalize {
    text-transform: capitalize !important;
}

.upper {
    text-transform: uppercase !important;
}

.lower {
    text-transform: lowercase !important;
}
/*#endregion Text Cases*/

/*#region Font-Styles*/
//Font Styles

.italic {
    font-style: italic !important;
}

/*#endregion Font-Styles*/

/*#region Text Alignments*/
.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-justify {
    text-align: center !important;
}
/*#endregion Text alignments*/

/*#region Display*/
.displayNone {
    display: none !important;
}

.inline {
    display: inline !important;
}

.inlineBlock {
    display: inline-block !important;
}

.block {
    display: block !important;
}
/*#endregion Display*/

/*#region Float*/
.floatNone {
    float: none !important;
}

.floatLeft {
    float: left !important;
}

.floatRight {
    float: right !important;
}

/*#endregion Float*/

/*#region Clear*/
.clearNone {
    clear: none !important;
}

.clearBoth {
    clear: both !important;
}

.clearLeft {
    clear: left !important;
}

.clearRight {
    clear: right !important;
}
/*#endregion Clear*/

/*#region Positions*/
.static {
    position: static !important;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.fixed {
    position: fixed !important;
}
/*#endregion Positions*/

/*#region Position Specifics*/

/*#region LEFT*/

.left1 {
    left: 1px !important;
}

.left2 {
    left: 2px !important;
}

.left3 {
    left: 3px !important;
}

.left5 {
    left: 5px !important;
}

.left10 {
    left: 10px !important;
}

.left15 {
    left: 15px !important;
}

.left20 {
    left: 20px !important;
}

.left25 {
    left: 25px !important;
}

.left30 {
    left: 30px !important;
}

.left35 {
    left: 35px !important;
}

.left40 {
    left: 40px !important;
}

.left45 {
    left: 45px !important;
}

.left50 {
    left: 50px !important;
}

.left55 {
    left: 55px !important;
}

.left60 {
    left: 60px !important;
}

.left65 {
    left: 65px !important;
}

.left70 {
    left: 70px !important;
}

.left75 {
    left: 75px !important;
}

.left80 {
    left: 80px !important;
}

.left85 {
    left: 85px !important;
}

.left90 {
    left: 90px !important;
}

.left95 {
    left: 95px !important;
}

.left100 {
    left: 100px !important;
}

/*#endregion LEFT*/

/*#region RIGHT*/

.right1 {
    right: 1px !important;
}

.right2 {
    right: 2px !important;
}

.right3 {
    right: 3px !important;
}

.right5 {
    right: 5px !important;
}

.right10 {
    right: 10px !important;
}

.right15 {
    right: 15px !important;
}

.right20 {
    right: 20px !important;
}

.right25 {
    right: 25px !important;
}

.right30 {
    right: 30px !important;
}

.right35 {
    right: 35px !important;
}

.right40 {
    right: 40px !important;
}

.right45 {
    right: 45px !important;
}

.right50 {
    right: 50px !important;
}

.right55 {
    right: 55px !important;
}

.right60 {
    right: 60px !important;
}

.right65 {
    right: 65px !important;
}

.right70 {
    right: 70px !important;
}

.right75 {
    right: 75px !important;
}

.right80 {
    right: 80px !important;
}

.right85 {
    right: 85px !important;
}

.right90 {
    right: 90px !important;
}

.right95 {
    right: 95px !important;
}

.right100 {
    right: 100px !important;
}

/*#endregion RIGHT*/

/*#region TOP*/

.top1 {
    top: 1px !important;
}

.top2 {
    top: 2px !important;
}

.top3 {
    top: 3px !important;
}

.top5 {
    top: 5px !important;
}

.top10 {
    top: 10px !important;
}

.top15 {
    top: 15px !important;
}

.top20 {
    top: 20px !important;
}

.top25 {
    top: 25px !important;
}

.top30 {
    top: 30px !important;
}

.top35 {
    top: 35px !important;
}

.top40 {
    top: 40px !important;
}

.top45 {
    top: 45px !important;
}

.top50 {
    top: 50px !important;
}

.top55 {
    top: 55px !important;
}

.top60 {
    top: 60px !important;
}

.top65 {
    top: 65px !important;
}

.top70 {
    top: 70px !important;
}

.top75 {
    top: 75px !important;
}

.top80 {
    top: 80px !important;
}

.top85 {
    top: 85px !important;
}

.top90 {
    top: 90px !important;
}

.top95 {
    top: 95px !important;
}

.top100 {
    top: 100px !important;
}

/*#endregion TOP*/

/*#region BOTTOM*/

.bottom1 {
    bottom: 1px !important;
}

.bottom2 {
    bottom: 2px !important;
}

.bottom3 {
    bottom: 3px !important;
}

.bottom5 {
    bottom: 5px !important;
}

.bottom10 {
    bottom: 10px !important;
}

.bottom15 {
    bottom: 15px !important;
}

.bottom20 {
    bottom: 20px !important;
}

.bottom25 {
    bottom: 25px !important;
}

.bottom30 {
    bottom: 30px !important;
}

.bottom35 {
    bottom: 35px !important;
}

.bottom40 {
    bottom: 40px !important;
}

.bottom45 {
    bottom: 45px !important;
}

.bottom50 {
    bottom: 50px !important;
}

.bottom55 {
    bottom: 55px !important;
}

.bottom60 {
    bottom: 60px !important;
}

.bottom65 {
    bottom: 65px !important;
}

.bottom70 {
    bottom: 70px !important;
}

.bottom75 {
    bottom: 75px !important;
}

.bottom80 {
    bottom: 80px !important;
}

.bottom85 {
    bottom: 85px !important;
}

.bottom90 {
    bottom: 90px !important;
}

.bottom95 {
    bottom: 95px !important;
}

.bottom100 {
    bottom: 100px !important;
}

/*#endregion BOTTOM*/

/*#endregion Position Specifics*/

/*#region Verical-Alignments*/
.va-auto {
    vertical-align: auto !important;
}

.va-top {
    vertical-align: top !important;
}

.va-middle {
    vertical-align: middle !important;
}

.va-bottom {
    vertical-align: bottom !important;
}

.va-texttop {
    vertical-align: text-top !important;
}

.va-textbottom {
    vertical-align: text-bottom !important;
}

.va-baseline {
    vertical-align: baseline !important;
}

.va-sub {
    vertical-align: sub !important;
}

.va-super {
    vertical-align: super !important;
}
/*#endregion Verical-Alignments*/

/*#region Cursors*/
.cursor-pointer {
    cursor: pointer !important;
}

.cursor-move {
    cursor: move !important;
}

.cursor-auto {
    cursor: auto !important;
}

.cursor-default {
    cursor: default !important;
}
/*#endregion Cursors*/

/*#region color codes*/
.color-info {
    color: @btnInfoBackground !important;
}

.color-primary {
    color: @btnPrimaryBackground !important;
}

.color-warning- {
    color: @btnWarningBackground !important;
}

.color-danger {
    color: rgb(200, 48, 37) !important;
}

.color-success {
    color: @btnSuccessBackground !important;
}

.color-white {
    color: #FFF !important;
}
/*#endregion color codes*/

/*#region Backgrounds*/
//For Background Color

.nobackground {
    background: none !important;
}

.bgWhite {
    background: #FFF !important;
}

.bgBlack {
    background: #000 !important;
}

.bgTransparent {
    background: transparent !important;
}

/*#endregion Backgrounds*/

/*#region List Type*/
.listType-None {
    list-style: none outside none !important;
}

.listType-Square {
    list-style-type: square !important;
}

.listType-Disc {
    list-style-type: disc !important;
}

.listType-Circle {
    list-style-type: circle !important;
}
/*#endregion List Type*/

/*#region Alternate Color*/
.oddcolor {
    background: #F3F3F3;
}

.evencolor {
    background: #FDFDFD;
}

/*#endregion Alternate Color*/

/*#region Word Breaks*/
.breakWord {
    -ms-word-break: break-all !important;
    word-break: break-all !important;
}
/*#endregion*/

/*#region White Space*/

.normal-ws {
    white-space: normal !important;
}

.noWrap-ws {
    white-space: nowrap !important;
}

.pre-ws {
    white-space: pre !important;
}

.preWrap-ws {
    white-space: pre-wrap !important;
}

/*#endregion*/

/*#region Pointer Event*/

.read-only {
    pointer-events: none !important;
}

.read-only-disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
}

.point-all {
    pointer-events: all !important;
}

/*#endregion*/

/*#region OPACITY*/

.opaque-full {
    opacity: 1 !important;
}

.opaque-none {
    opacity: 0 !important;
}

.opaque1 {
    opacity: 0.1 !important;
}

.opaque2 {
    opacity: 0.2 !important;
}

.opaque3 {
    opacity: 0.3 !important;
}

.opaque4 {
    opacity: 0.4 !important;
}

.opaque5 {
    opacity: 0.5 !important;
}

.opaque6 {
    opacity: 0.6 !important;
}

.opaque7 {
    opacity: 0.7 !important;
}

.opaque8 {
    opacity: 0.8 !important;
}

.opaque9 {
    opacity: 0.9 !important;
}

/*#endregion*/
