﻿.subcriptionBlock1 {
    border-bottom: 1px solid #d2d2d2;
    padding: 0px 0px 5px;
    margin-bottom: 5px;

    .radiobtn {
        vertical-align: text-bottom;
    }

    .name {
        margin-left: 5px;

        .desc {
            margin-left: 22px;
        }
    }
}

.subcriptionBlock2 {

    .radiobtn {
        vertical-align: text-bottom;
    }

    .name {
        margin-left: 5px;

        .desc {
            margin-left: 22px;
        }
    }

    .hiligther {
        border-left: 20px solid #d2d2d2;
        margin-bottom: 10px;
        padding: 5px 8px;
        background: none repeat scroll 0px 0px #f8f8f8;
        display: inline-block;
        margin-left: 22px;
        min-width: 674px;
        margin-top: 10px;

        .item {
            display: inline-block;
            float: left;
            padding: 5px;
            width: 200px;

            input[type="checkbox"] {
                float: left;
                margin-top: 2px;
            }

            .icon {
                background-color: #08c;
                border-radius: 2px 2px 2px 2px;
                box-shadow: 0px 0px 2px #ccc;
                color: white;
                font-size: 9px; /*font-weight: 600;*/
                font-weight: bold;
                height: 17px;
                letter-spacing: 0px;
                margin: 0px 0px 0px 5px;
                padding: 0px;
                text-align: center;
                display: inline-block;
                width: 19px;
                float: left;
                line-height: 17px;
            }

            .name {
                float: left;
                margin-left: 5px;
                line-height: 17px;
                vertical-align: text-bottom; /*font-weight: 600;*/
                font-weight: bold;
            }
        }
    }
}
