﻿.TaskPopup .form-horizontal .control-label {
    color: #999;
    text-align: left;
    width: 80px !important;
}

.TaskPopup .form-horizontal .controls {
    margin-left: 85px;
    -ms-word-break: break-all;
    word-break: break-all;
}

.TaskPopup .editable-input .oltreelis .oltreelis-child {
    /*margin-left: 85px;*/
}

.TaskPopup .form-horizontal .control-group .controls .control-label {
    color: #666;
    text-align: left;
}

/*.TaskPopup .form-horizontal > .control-group > .controls > a {
    padding: 4px 0;
    padding-top: 5px;
}*/

.TaskPopup .TaskHeader {
    Overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    width: 470px;
    white-space: nowrap;
}

.TaskPopup table {
    color: #666;
}

.TaskPopup .icon-status {
    font-size: 14px;
    float: left;
    color: rgb(0, 136, 204);
    margin-top: 2px;
    -webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    margin-right: 4px;
}

.TaskPopup.Unassigned .icon-status:before {
    content: "\f111";
    color: #AAAAAA;
}

.TaskPopup.Inprogress .icon-status:before {
    color: #0088cc;
    content: "\f061";
}

.TaskPopup.Completed .icon-status:before {
    content: "\f111";
    color: #83A94C;
}

.TaskPopup.NotApplicable .icon-status:before {
    content: "\f04d";
    color: #AAAAAA;
}

.TaskPopup.Approved .icon-status:before {
    content: "\f00c";
    color: #83A94C;
}

.TaskPopup.Rejected .icon-status:before {
    content: "\f00d";
    color: #CC4036;
}

.TaskPopup.Unabletocomplete .icon-status:before {
    content: "\f111";
    color: #ffff00;
    text-shadow: 0 0px 2px #CC4036;
    margin-left: 1px;
}


.TaskPopup .assigneeBlock .assignee {
    color: #999;
    width: 100%;
    display: inline-block;
    margin-bottom: 6px;
}

    .TaskPopup .assigneeBlock .assignee img {
        margin-right: 4px;
        height: 27px;
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        padding: 1px;
        display: inline-block;
    }

    .TaskPopup .assigneeBlock .assignee .assigneeName {
        max-width: 190px;
        .manageTextOverflow;
        vertical-align: middle;
    }

    .TaskPopup .assigneeBlock .assignee .menuIcon {
        font-size: 14px;
        color: #999;
        cursor: pointer;
        margin-left: 10px;
        vertical-align: middle;
        display: none;
    }

    .TaskPopup .assigneeBlock .assignee:hover .menuIcon {
        display: inline-block;
    }

    .TaskPopup .assigneeBlock .assignee .statusHolder {
        margin-top: 4px;
        margin-left: 0px;
    }

        .TaskPopup .assigneeBlock .assignee .statusHolder .status {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            display: inline-block;
            font-size: 14px;
            margin-top: -2px;
            padding: 1px;
            vertical-align: top;
            height: 15px;
            width: 15px;
            text-align: center;
            font-family: fontawesome;
            font-style: normal;
            line-height: 14px;
        }

            .TaskPopup .assigneeBlock .assignee .statusHolder .status.InProgress:before {
                color: #0088cc;
                content: "\f061";
            }

            .TaskPopup .assigneeBlock .assignee .statusHolder .status.Completed:before {
                content: "\f111";
                color: #83A94C;
            }

            .TaskPopup .assigneeBlock .assignee .statusHolder .status.Unassigned:before {
                content: "\f111";
                color: #AAAAAA;
            }

            .TaskPopup .assigneeBlock .assignee .statusHolder .status.NotApplicable:before {
                content: "\f04d";
                color: #AAAAAA;
            }

            .TaskPopup .assigneeBlock .assignee .statusHolder .status.Approved:before {
                content: "\f00c";
                color: #83A94C;
            }

            .TaskPopup .assigneeBlock .assignee .statusHolder .status.Rejected:before {
                content: "\f00d";
                color: #CC4036;
            }

            .TaskPopup .assigneeBlock .assignee .statusHolder .status.UnableToComplete:before {
                content: "\f111";
                color: #ffff00;
                text-shadow: 0 0px 2px #CC4036;
            }


.TaskPopup .assigneeBlock .approvalRoundHolder {
    list-style-type: none;
    margin-left: 0px;
    margin-top: 6px;
}

    .TaskPopup .assigneeBlock .approvalRoundHolder > li {
        margin-bottom: 10px;
    }

    .TaskPopup .assigneeBlock .approvalRoundHolder li .approvalRound {
        color: #99999B;
        font-weight: bold;
    }

    .TaskPopup .assigneeBlock .approvalRoundHolder > li hr {
        margin: 0px;
        margin-bottom: 10px;
    }

.TaskPopup .attachmentBlock .icon-reorder {
    display: none;
}

.TaskPopup .attachmentBlock table tbody tr:hover .icon-reorder {
    display: inline-block;
}


/*Emended by Madhur*/
.TaskPopup .form-horizontal .control-group .controls .control-label.long {
    width: 320px !important;
}

.TaskPopup {
    .modal-header {
        ul.breadcrumb {
            padding-top: 1px;
            margin-right: 20px;
            max-width: 250px;

            li {
                //max-width: 29%;
                vertical-align: top;
                .manageTextOverflow;
            }
        }

        span.taskPathlabel {
            margin-right: 5px;
            color: rgb(102, 102, 102);
            padding-top: 1px;
        }

        .editableTaskName {
            margin-bottom: 7px;

            > div.select2-container,
            > input[type="text"],
            > .btn {
                float: left;
                margin-right: 5px;
            }
        }
    }

    .modal-body {
        height: 443px;
        position: static;
        .manageOverflow;

        .icon-status {
            margin-left: 0 !important;

            &.unassigned {
                color: #AAAAAA;
            }

            &.inprogress {
                color: #0088cc;
            }

            &.completed {
                color: #83A94C;
            }

            &.notapplicable {
                color: #AAAAAA;
            }

            &.approved {
                color: #83A94C;
            }

            &.rejected {
                color: #CC4036;
            }

            &.unabletocomplete {
                color: #ffff00;
                text-shadow: 0 0px 2px #CC4036;
            }
        }


        .leftSection {
            min-height: 400px;
            .border-right1x;
            .padding-right10x;

            .control-group {
                .controls {
                    .assigneeApprovalStatus {
                        .relative;
                        bottom: 4px;

                        .editableDesc {
                            .height3x;
                        }
                    }

                    > a {
                        width: auto;
                        word-break: break-all !important;
                    }

                    > span {
                        display: inline-block;
                        margin-top: 5px;
                        word-break: break-all !important;
                    }

                    > .control-label {
                        .widthauto;
                    }
                }

                .attachementBlock {
                    ul {
                        .nomargin;

                        li ul {
                            .inlineBlock;
                            padding: 6px 6px 0 6px;
                            max-width: 95%;

                            &.noChecklistUL {
                                padding: 0px;

                                li label.noChecklistLabel {
                                    color: rgb(153, 153, 153);
                                    padding-left: 2px;
                                    .inlineBlock;
                                    margin-top: 5px;
                                    width: 250px;
                                }
                            }
                        }
                    }

                        ul[id^="NonEditableCL"], ul[id*="NonEditableCL"] {
                            .inlineBlock;

                            li {
                                vertical-align: top;
                                .nopadding;

                                .icon-reorder {
                                    font-size: 14px;
                                    color: #666;
                                    margin-top: 3px;
                                }
                            }

                                li.nonEditableCLName {
                                    width: 270px;
                                    .manageTextOverflow;

                                    > label {
                                        overflow: hidden;
                                        -ms-text-overflow: ellipsis;
                                        -o-text-overflow: ellipsis;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }

                                li:last-child {
                                    padding: 0px 5px !important;
                                }
                        }

                        ul[id^="EditableCL"], ul[id*="EditableCL"] {
                            textarea {
                                height: 64px;
                                min-height: 40px;
                                //width: 602px;
                                //min-width: 50%;
                                min-width: 150px;
                                max-height: 40px;
                                max-width: 70%;
                            }

                            button {
                                vertical-align: bottom;
                            }
                        }

                    li.optionsIcon {
                        .inlineBlock;
                        .margin-left10x;
                        margin-top: 8px;
                        .floatRight;

                        i.icon-reorder {
                            font-size: 14px;
                            color: #666;
                        }
                    }

                    label.noChecklistLabel {
                        color: rgb(153, 153, 153);
                        padding-left: 2px;
                        .inlineBlock;
                        margin-top: 5px;
                    }
                }

                .attachmentBlock {
                    .table {
                        color: #999999;
                        margin-left: -10px;
                        .relative;
                        font-size: 10px;
                        table-layout: fixed;
                        margin-bottom: 0px;

                        > tbody > tr {
                            td {
                                span > i.attachmentIcon-active {
                                    margin-right: 8px !important;
                                    margin-left: 3px !important;
                                    vertical-align: top !important;
                                }

                                a {
                                    .manageTextOverflow;
                                    .inlineBlock;
                                    width: 125px;
                                }

                                > span > i.icon-reorder {
                                    font-size: 14px;
                                    vertical-align: middle;
                                }
                            }

                            .td1 {
                                width: 155px;
                            }

                            .td2 {
                                width: 100px;
                            }

                            .td3 {
                                width: 10px;
                            }

                            .td4 {
                                width: 10px;
                            }

                            .td5 {
                                width: 1px;
                            }

                            .noAttachmentLabel {
                                font-size: 11px;
                                color: rgb(153, 153, 153);
                                margin-left: 2px;
                                .relative;
                            }
                        }
                    }
                }
            }

            .targetPricingList {
                .popover {
                    .popover-content {
                        .editable-input {
                            display: inline-block;
                            padding-right: 25px;
                            /*max-height: 250px;
                            .manageOverflow;*/
                        }

                        .oltreelis {
                            > li .oltreelis-child {
                                .control-group .controls {
                                    margin-left: 146px !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .rightSection {
            .feedSection {
                min-height: 300px;
                .manageOverflow;
            }
        }
    }
}

.TaskPopupTabbed {
    .modal-header {
        min-height: 40px;
        border: none;
        overflow: visible;
        z-index: 999;
        padding-bottom: 0 !important;

        .taskPath {
            .align-right;
            margin-right: 25px;

            ul.breadcrumb {
                .inline;
                .nopadding;
                .nomargin;
                max-width: 0 !important;
                white-space: normal;

                li {
                    white-space: normal;

                    a {
                        white-space: normal;
                        -ms-word-break: break-all;
                        word-break: break-all;
                    }
                }
            }
        }

        .close {
            float: none;
            .nomargin;
            .nopadding;
            position: absolute;
            top: 10px;
            right: 20px;
        }

        .taskPopup-AssetCount {
            display: inline-block;
            float: right;
            margin-right: 25px;
            height: 20px;

            span {
                color: #BBB;
                margin-left: 5px;

                &:first-child {
                    margin: 0;
                }
            }
        }
    }

    .modal-body {
        height: 443px;
        padding: 5px !important;
        overflow: hidden;
        padding-top: 0 !important;

        .form-horizontal .control-group,
        .form-horizontal .dynamicmetadataHolder .control-group {
            margin-bottom: 0 !important;
        }
        //For Task popups
        form#TaskDynamicMetadata,
        form#taskDynamicTaskControls {
            .select2-container,
            .treeNodeSearchBox {
                margin-bottom: 10px;
            }

            > .control-group {
                margin-bottom: 0 !important;

                .controls {
                    > a.editable.editable-click {
                        display: inline-block;
                        -ms-word-break: break-all;
                        word-break: break-all;
                    }

                    > span {
                        display: inline-block;
                        -ms-word-break: break-all;
                        word-break: break-all;
                        margin-top: 5px;
                    }
                }
            }
        }
        //For Admin Side Task popup
        form#adminTaskDynamicMetadata,
        ftransform#admintaskDynamicTaskControls {
            .select2-container,
            .treeNodeSearchBox {
                margin-bottom: 10px;
            }

            > .control-group,
            > #adminTaskDynamic-metadata > .control-group,
            > #admintaskDynamicTaskControls > .control-group {
                margin-bottom: 0 !important;

                .controls {
                    > a.editable.editable-click {
                        margin-bottom: 10px;
                        display: inline-block;
                        -ms-word-break: break-all;
                        word-break: break-all;
                    }

                    > span {
                        display: inline-block;
                        -ms-word-break: break-all;
                        word-break: break-all;
                        margin: 5px 0 10px;
                    }
                }
            }
        }

        .nav-tabs, .nav-pills {
            background: #FFF;
            border-right: 2px solid #FFF;
            margin: 0 -5px;
        }

            .nav-tabs > li > a {
                line-height: 15px;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
            }

        .tab-content {
            border: none;
            padding: 5px 10px;
            margin: 0 -5px 10px;
            height: 409px;
            .manageOverflow;

            .tab-line {
                margin: -5px -10px 5px;
                padding: 2px 5px;
            }

            .tab-pane {
                height: auto;

                &.assetsTab {
                    height: 410px;
                    margin: 0 -10px -10px;
                    overflow: hidden;

                    .assetcreation {
                        right: 160px;
                    }
                    /*Hack for ie11*/ /* IE10+ specific styles go here */
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        .assetcreation {
                            right: 157px;
                        }
                    }
                    /*Hack for ie10*/
                    .ie10 .assetcreation {
                        right: 157px;
                    }
                    /*#region Attach form Attachments Button*/
                    .btn-attchFrom {
                        right: 236px;
                    }
                    /*BROWSER SPECIFIC STYLING*/
                    /*FOR CHROME*/
                    @media screen and (-webkit-min-device-pixel-ratio:0) {
                        .btn-attchFrom {
                            right: 242px;
                        }
                    }
                    /*Hack for ie11*/ /* IE10+ specific styles go here */
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        .btn-attchFrom {
                            right: 239px;
                        }
                    }
                    /*Hack for ie10*/
                    .ie10 .btn-attchFrom {
                        right: 239px;
                    }
                    /*#endregion*/
                    #AttachmentsDiv {
                        #attachmentsFilterDiv {
                            padding: 0 10px 10px;
                            margin-bottom: 5px;
                        }

                        .imglistSection {
                            .imgViewSection {
                                height: 372px !important;
                                margin-top: -5px !important;
                                padding: 5px;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                .manageOverflow;

                                #assetthumbnail {
                                    padding-top: 3px;
                                }

                                #assetsummaryview {
                                    padding-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .oltreelis > li .form-horizontal .oltreelis-child .control-group {
            margin-bottom: 5px !important;
        }
    }
}
