﻿<!-- Planning tool will not have specific html. it will just load the appropriate content-->
<div ng-controller="mui.planningtool.costcentreCtrl">
    <div id="container">
        <div ui-butterbar></div>
        <div ui-view></div>
    </div>
    <!--<div ng-switch="subview">
        <div ng-switch-when="list">
             <div ng-include=" 'api/View/GetCostcentreListView' "></div>
        </div>
        <div ng-switch-when="detail">
             <div ng-include=" 'api/View/GetCostcentreDetailView' "></div>
        </div>
    </div>-->
</div>
