﻿<div class="btn-group" id="Filtersettingdiv">
    <button data-toggle="dropdown" ng-click="filtersettingsreset();" class="btn dropdown-toggle btn-small">{{appliedfilter}}<span class="caret"></span></button>
    <ul class="dropdown-menu pull-right">
        <li><a data-toggle="modal" href="#FilterSettingsModal">{{'LanguageContents.Res_402.Caption'|translate}}</a></li>
        <li><a ng-click="ApplyFilter(0, 'No filter applied')" href="javascript:void(0);">{{'LanguageContents.Res_401.Caption'|translate}}</a></li>
        <li class="filterli" ng-repeat="item in filterValues">
            <a ng-click="ApplyFilter(item.FilterID, item.FilterName)" href="javascript:void(0);" data-toggle="modal" data-id="{{item.FilterID}}">
                <span>{{item.FilterName}}</span>
                <i href="#FilterSettingsModal" ng-click="LoadFilterSettingsByFilterID(item.FilterID,item.TypeID);" data-typeid="17" data-toggle="modal" class="icon-reorder menu" data-role="Overview"></i>
            </a>
        </li>
    </ul>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" data-width="760" role="dialog" tabindex="-1" class="modal hide fade" id="FilterSettingsModal" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h3 id="myModalLabel">{{'LanguageContents.Res_403.Caption'|translate}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-float MetadataBlock" id="dynamic_Controls"></form>
    </div>
    <div class="modal-footer">
        <button ng-click="FilterUpdate()" ng-show="Updatefilter" class="btn btn-small btn-primary">{{'LanguageContents.Res_407.Caption'|translate}}</button>
        <button ng-click="FilterSave()" ng-show="Savefilter" class="btn btn-small btn-trash">{{'LanguageContents.Res_406.Caption'|translate}}</button>
        <button ng-click="ApplyFilter()" ng-show="Applyfilter" class="btn btn-small btn-primary">{{'LanguageContents.Res_405.Caption'|translate}}</button>
        <button ng-click="DeleteFilter()" ng-show="Deletefilter" class="btn btn-small btn-trash">{{'LanguageContents.Res_404.Caption'|translate}}</button>
    </div>
</div>
