﻿<div id="myBriefContainer" ng-controller="mui.planningtool.iframeCtrl" class="myBriefsContainer" style="position: relative;">


    <div id="divLoading" class="loading gear loadingsystem">
        <span class="image loading">
            <div id="briefuispinner"></div>
        </span>
        <script>
            var opts = { lines: 10, length: 7, width: 3, radius: 10, corners: 1, rotate: 0, color: '#000', speed: 3.5, trail: 60, shadow: false, className: 'spinner', zIndex: 2e9, top: 25, left: 25 };
            var target = document.getElementById('briefuispinner'), spinner = new Spinner(opts).spin(target);
        </script>
    </div>

    <iframe id="externallink" width="100%" height="100%"></iframe>

</div>
