﻿<div id="workspacecontainer" ng-controller="mui.planningtool.myworkspacesCtrl">
    <div id="container">
        <div ui-butterbar></div>
        <div ui-view></div>
    </div>
    <!--<div ng-switch="subview">
        <div ng-switch-when="list">
            <div ng-include=" 'views/mui/planningtool/workspaces/list.html' "></div>
        </div>
    </div>-->

</div>
