﻿<div ng-controller="mui.planningtool.notificationCtrl">
    <div class="feed">
        <hr>
        <h2 id="nonotificationforviewall">{{'LanguageContents.Res_87.Caption'|translate}}.</h2>
        <ul id="EntityFeedsdiv" class="feedcontent height1x" ng-repeat="item in Allnotifications">
            <li><span class="avatar">
                <img alt="Avatar" src="Handlers/UserImage.ashx?id={{item.UserId}}">
            </span>
                <div data-parent="parentforcomment" class="block">
                    <div class="arrow-left"></div>
                    <span class="header"><a href="mailto:{{item.UserEmail}}">{{item.UserName}}</a></span>
                    <span class="body">{{item.NotificationText}}</span>
                    <span class="footer"><span class="time">{{item.NotificationHappendTime}}</span>
                    </span>
                </div>
            </li>
        </ul>
        <div id="FeedContentdiv">
        </div>
    </div>
</div>