﻿<!-- Planning tool will not have specific html. it will just load the appropriate content-->
<div ng-controller="mui.planningtool.objectiveCtrl">

    <div id="container">
        <div ui-butterbar></div>
        <div ui-view></div>
    </div>

</div>
