﻿<!--<div ng-controller="mui.planningtool.RootEntityTypeCreationCtrl">-->


<!--<div aria-hidden="true" aria-labelledby="myModalLabel" data-width="760" role="dialog" tabindex="-1" class="modal hide fade rootEntityTypeCreationModel" id="entityMetadataModel" style="display: none;">-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="Closeentitycreationpopup()" aria-hidden="true">×</button>
    <h3 my-qtip2 qtip-content="{{fields.TextSingleLine_68}}">{{'LanguageContents.Res_250.Caption'|translate}} {{rootEntityCaption}}: {{fields.TextSingleLine_68}}</h3>
</div>
<div class="modal-body">
    <div id="MyWizard" class="wizard" ng-click="changeTab($event)">
        <ul class="steps" id="RootentitywizardStepClass">
            <li data-target="#step1" class="active"><span class="badge badge-info">{{metadatano}}</span>{{'LanguageContents.Res_251.Caption'|translate}}<span class="chevron"></span></li>
            <li ng-repeat="grpname in DynamicAttributeGroupTabs" data-target="#step4" ng-click="attributeGroupDetailAsTab.length = 0; attributeGroupDetailAsTab.push(grpname); changeTab2($event) ;">
                <span class="badge badge-info">{{$index + 2}}</span>
                {{grpname.Caption}}
                        <span class="chevron"></span>
            </li>
            <li data-target="#step2" ng-click="changeTab2($event)" ng-show="ShowFinancial"><span class="badge">{{financialno}}</span>{{'LanguageContents.Res_10.Caption'|translate}}<span class="chevron"></span></li>
            <li data-target="#step3" ng-click="changeTab2($event)"><span class="badge">{{memberno}}</span>{{'LanguageContents.Res_11.Caption'|translate}}<span class="chevron"></span></li>
        </ul>
    </div>
    <div class="step-content">
        <div class="step-pane active" id="step1">
            <form id="EntityMetadata" class="form-horizontal MetadataBlock notvalidate"></form>
        </div>
        <div class="step-pane" id="step2" ng-show="ShowFinancial">
            <div class="MetadataBlock">
                <form class="form-horizontal">
                    <div class="control-group nomargin">
                        <label class="control-label">{{'LanguageContents.Res_1453.Caption'|translate}}:</label>
                        <div class="controls relative">
                            <div id="dynamicCostCentreTreeOnRootEntity" class="dynamicCostCentreTreeInPlan inlineBlock"></div>
                            <span class="margin-left5x"><a class="btn btn-small btn-primary" ng-click="addcostCentre()">{{'LanguageContents.Res_8.Caption'|translate}}</a></span>
                        </div>
                    </div>
                </form>
                <div>
                    <table class="table table-normal-right">
                        <thead>
                            <tr>
                                <th><span>{{'LanguageContents.Res_255.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_256.Caption'|translate}}</span></th>
                                <th><span></span></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="FinancialBlock">
                        <table class="table table-normal-right">
                            <tbody id="Tbody2">
                                <tr ng-repeat="item in costcemtreObject" costcenterid="{{item.Id}}">
                                    <td><span>{{DecodedTextName(item.costcentername)}}</span></td>
                                    <td><span>{{item.OwnerName}}</span></td>
                                    <td>
                                        <span><i ng-click="deleteCostCentre(item)" class="icon-remove"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-pane" id="step3">
            <div class="MetadataBlock">
                <div class="MemberBlockContainer">
                    <form class="form-inline">
                        <input type="text" id="Text1" autocomp ng-model="fields.usersID" />
                        <select ng-model="fields.userRoles" ui-select2 id="userRole">
                            <option value="" ng-selected="true">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                            <option ng-repeat="item in Roles" value="{{item.ID}}" ng-selected="true">{{item.Caption}}</option>
                        </select>
                        <button ng-click="addUsers()" ng-model="fillgrid" class="btn btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                    </form>
                    <table class="table table-normal-both table-normal-both-big-left">
                        <thead>
                            <tr>
                                <th><span></span></th>
                                <th><span>{{'LanguageContents.Res_32.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_259.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_33.Caption'|translate}}</span></th>
                                <td><span>{{QuickInfo1AttributeCaption}}</span></td>
                                <td><span>{{QuickInfo2AttributeCaption}}</span></td>
                                <th><span></span></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="MemberBlock">
                        <table class="table table-normal-both table-normal-both-big-left">
                            <tbody id="Tbody1">
                                <tr ng-repeat="item in OwnerList" userid="{{item.Userid}}">
                                    <td>
                                        <span>
                                            <img class="avatar" src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="ownerimg">
                                        </span>
                                    </td>
                                    <td><span>{{item.UserName}}</span></td>
                                    <td><span>{{item.RoleName}}</span></td>
                                    <td><span>{{item.UserEmail}}</span></td>
                                    <td><span>{{item.QuickInfo1}}</span></td>
                                    <td><span>{{item.QuickInfo2}}</span></td>
                                    <td><span></span></td>
                                </tr>
                            </tbody>
                            <tbody id="CreateNewMember">
                                <tr ng-repeat="item in MemberLists" userid="{{item.Userid}}">
                                    <td>
                                        <span>
                                            <img class="avatar" src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="memberimg">
                                        </span>
                                    </td>
                                    <td><span>{{item.UserName}}</span></td>
                                    <td><span>{{item.RoleName}}</span></td>
                                    <td><span>{{item.UserEmail}}</span></td>
                                    <td><span>{{item.QuickInfo1}}</span></td>
                                    <td><span>{{item.QuickInfo2}}</span></td>
                                    <td>
                                        <span>
                                            <span><i ng-click="deleteOptions(item)" ng-show="item.FromGlobal==0" class="icon-remove"></i></span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="DynamicAttributeGroupTabs.length > 0" class="step-pane active" id="step4">
            <form id="AttributeGroup" class="form-horizontal MetadataBlock notvalidate">
                <attributegroup-intabcreation item-addedattrgrps="attributeGroupAddedValues" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-predefined="{{group.Ispredefined}}" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-language-content="LanguageContent" ng-repeat="group in attributeGroupDetailAsTab"></attributegroup-intabcreation>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="btnWizardNext" ng-click="changenexttab($event)" class="btn btn-small btn-primary">{{'LanguageContents.Res_5.Caption'|translate}}</button>
    <button type="button" id="btnWizardPrev" ng-click="changePrevTab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_6.Caption'|translate}}</button>
    <button ng-click="saveRootEnt()" id="btnWizardFinishEnt" ng-model="saveEntity" class="btn btn-small btn-primary">{{'LanguageContents.Res_252.Caption'|translate}}</button>
    <button type="button" data-dismiss="modal" ng-click="Closeentitycreationpopup()" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
</div>
<!--</div>-->
<div id="filescontaineroo" style="display: none;">
    <button id="pickfilesUploaderAttr" class="pickFiles" type="submit"></button>
</div>
<!--</div>-->
