﻿<!--<div ng-controller="mui.planningtool.SubEntityCreationCtrl">-->
<!--<div aria-labelledby="myModalLabel" id="entityMetadataModel" class="SubEntityCreationModal">-->
<div class="modal-header">
    <button type="button" ng-click="OnPageClose()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" my-qtip2 qtip-content="{{fields.TextSingleLine_68}}">{{'LanguageContents.Res_250.Caption'|translate}} {{subEntityName}}: {{fields.TextSingleLine_68}}</h3>
</div>
<div class="modal-body">
    <div id="SubentityMyWizard" class="wizard" ng-click="changeTab()">
        <ul class="steps" id="SubentitywizardStepClass"></ul>
    </div>
    <div class="step-content">
        <div class="step-pane active" id="step1">
            <form id="EntityMetadata" class="form-horizontal MetadataBlock"></form>
        </div>
        <div class="step-pane" id="step2" ng-show="ShowFinancial">
            <div class="MetadataBlock">
                <form class="form-horizontal">
                    <div class="control-group nomargin">
                        <label class="control-label">{{'LanguageContents.Res_1453.Caption'|translate}}:</label>
                        <!--<select ui-select2 name="costcentreid" id="costcentreid" ng-model="costcentreid">
                            <option value="">{{LanguageContents.Res_1453}}</option>
                            <option ng-repeat="item in costCenterList" value="{{item.Id}}">{{DecodedTextName(item.costcentername)}}</option>
                            </select>-->
                        <div class="controls relative">
                            <div id="dynamicCostCentreTreeOnSubEntity" class="dynamicCostCentreTreeInPlan inlineBlock"></div>
                            <span class="margin-left5x"><a class="btn btn-small btn-primary" ng-click="addcostCentre()">{{'LanguageContents.Res_8.Caption'|translate}}</a></span>
                        </div>
                    </div>
                </form>
                <div>
                    <table class="table table-normal-right">
                        <thead>
                            <tr>
                                <th><span>{{'LanguageContents.Res_255.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_256.Caption'|translate}}</span></th>
                                <th><span></span></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="FinancialBlock">
                        <table class="table table-normal-right">
                            <tbody id="Tbody2">
                                <tr ng-repeat="item in costcemtreObject" costcenterid="{{item.Id}}">
                                    <td><span>{{DecodedTextName(item.costcentername)}}</span></td>
                                    <td><span>{{item.OwnerName}}</span></td>
                                    <td>
                                        <span><i ng-click="deleteCostCentre(item)" class="icon-remove"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-pane" id="step3" ng-show="ShowObjective">
            <div class="MetadataBlock">
                <div id="NoObjectivediv" ng-show="ngNoObjectivediv">
                    <h4>{{'LanguageContents.Res_1454.Caption'|translate}}.</h4>
                </div>
                <div id="ObjectiveDivHolder" ng-show="ngObjectiveDivHolder">
                    <h4>{{'LanguageContents.Res_721.Caption'|translate}}.</h4>
                    <table class="table table-normal-left">
                        <thead>
                            <tr>
                                <th class="widthauto">
                                    <span>
                                        <label class="checkbox checkbox-custom pull-right">
                                            <input id="SelectAllObjectives" ng-model="SelectAllObjectives" type="checkbox" />
                                            <i class="checkbox"></i>
                                        </label>
                                    </span>
                                </th>
                                <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_712.Caption'|translate}} </span></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="obj-subEntity">
                        <div class="objCategoryHeader">{{'LanguageContents.Res_806.Caption'|translate}}</div>
                        <table class="table table-normal-left">
                            <tbody id="MandatoryObjectiveBody">
                                <tr ng-repeat="item in MandatoryEntityObjectives">
                                    <td objectiveid="{{item.ObjectiveId}}" class="widthauto">
                                        <span>
                                            <label class="checkbox checkbox-custom pull-right">
                                                <input ng-disabled="true" ng-change="MandatoryObjSelect({{item.ObjectiveId}})" id="MandatoryObjChecked" ng-model="MandatoryObjChecked" type="checkbox" />
                                                <i class="checkbox checked"></i>
                                            </label>
                                        </span>
                                    </td>
                                    <td><span>{{DecodedTextName(item.ObjectiveName)}}</span></td>
                                    <td><span>{{DecodedTextName(item.ObjectiveDescription)}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="objCategoryHeader">{{'LanguageContents.Res_1455.Caption'|translate}}</div>
                        <table class="table table-normal-left">
                            <tbody id="nonMandatoryObjectiveBody">
                                <tr ng-repeat="item in entityObjectiveList">
                                    <td objectiveid="{{item.ObjectiveId}}" class="widthauto">
                                        <span>
                                            <label class="checkbox checkbox-custom pull-right">
                                                <input ng-change="EntityObjSelect({{item.ObjectiveId}})" id="EntityObjChecked" ng-model="EntityObjChecked" type="checkbox" />
                                                <i class="checkbox"></i>
                                            </label>
                                        </span>
                                    </td>
                                    <td><span>{{DecodedTextName(item.ObjectiveName)}}</span></td>
                                    <td><span>{{DecodedTextName(item.ObjectiveDescription)}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-pane" id="step4">
            <div class="MetadataBlock">
                <div class="MemberBlockContainer">
                    <form class="form-inline">
                        <input type="text" id="memberauto" autocomp ng-model="fields.usersID" />
                        <select ng-model="fields.userRoles" ui-select2 id="userRole">
                            <option value="" ng-selected="true">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                            <option ng-repeat="item in Roles" value="{{item.ID}}" ng-selected="true">{{item.Caption}}</option>
                        </select>
                        <button ng-click="addUsers()" ng-model="fillgrid" class="btn btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                    </form>
                    <table class="table table-normal-both table-normal-both-big-left">
                        <thead>
                            <tr>
                                <th><span></span></th>
                                <th><span>{{'LanguageContents.Res_32.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_259.Caption'|translate}}</span></th>
                                <!--<th><span>{{LanguageContents.Res_260}}</span></th>
                                    <th><span>{{LanguageContents.Res_261}}</span></th>-->
                                <th><span>{{'LanguageContents.Res_33.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_263.Caption'|translate}}</span></th>
                                <td><span>{{QuickInfo1AttributeCaption}}</span></td>
                                <td><span>{{QuickInfo2AttributeCaption}}</span></td>
                                <th><span></span></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="MemberBlock">
                        <table class="table table-normal-both table-normal-both-big-left">
                            <tbody id="Tbody1">
                                <tr ng-repeat="item in OwnerList" userid="{{item.Userid}}">
                                    <td>
                                        <span>
                                            <img class="avatar" src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="ownerimg" />
                                        </span>
                                    </td>
                                    <td><span>{{item.UserName}}</span></td>
                                    <td><span>{{item.RoleName}}</span></td>
                                    <!--<td><span>{{item.DepartmentName}}</span></td>
                                        <td><span>{{item.Title}}</span></td>-->
                                    <td><span>{{item.UserEmail}}</span></td>
                                    <td><span>{{item.InheritedFromEntityName}}</span></td>
                                    <td><span>{{item.QuickInfo1}}</span></td>
                                    <td><span>{{item.QuickInfo2}}</span></td>
                                    <td><span></span></td>
                                </tr>
                            </tbody>
                            <tbody id="CreateNewMember">
                                <tr ng-show="item.FromGlobal==0" ng-repeat="item in MemberLists" userid="{{item.Userid}}">
                                    <td>
                                        <span>
                                            <img class="avatar" src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="memberimg" />
                                        </span>
                                    </td>
                                    <td><span>{{item.UserName}}</span></td>
                                    <td><span>{{item.RoleName}}</span></td>
                                    <!--<td><span>{{item.DepartmentName}}</span></td>
                                        <td><span>{{item.Title}}</span></td>-->
                                    <td><span>{{item.UserEmail}}</span></td>
                                    <td><span>{{item.InheritedFromEntityName}}</span></td>
                                    <td><span>{{item.QuickInfo1}}</span></td>
                                    <td><span>{{item.QuickInfo2}}</span></td>
                                    <td>
                                        <span>
                                            <i ng-click="deleteOptions(item)" ng-show="item.FromGlobal==0" class="icon-remove"></i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-pane damAttachmentStep" id="step5">
            <div ng-include=" 'views/mui/DAM/damentityselection.html' "></div>
        </div>
        <div class="step-pane active" id="step6">
            <form id="AttributeGroup" class="form-horizontal MetadataBlock notvalidate">
                <attributegroup-intabcreation item-attributerecordid="{{group.AttributeGroupID}}" item-parentid="{{Parentid}}" item-isinherit="{{group.IsAttrGrpInheritFromParent}}" item-addedattrgrps="attributeGroupAddedValues" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-predefined="{{group.Ispredefined}}" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-language-content="LanguageContent" ng-repeat="group in attributeGroupDetailAsTab"></attributegroup-intabcreation>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="btnWizardNext" ng-click="changenexttab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_5.Caption'|translate}}</button>
    <button type="button" id="btnWizardPrev" ng-click="changePrevTab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_6.Caption'|translate}}</button>
    <button ng-click="saveEntity()" id="btnWizardFinish" ng-model="saveEntity" class="btn btn-small btn-primary">{{'LanguageContents.Res_252.Caption'|translate}}</button>
    <button type="button" data-dismiss="modal" ng-click="OnPageClose()" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    <!--<button type="button" ng-show="IsentityCreation" id="addassetfromentitycreate" ng-model="addassetfromentitycreate" ng-click="addassetfromentitycreation(0);" class="btn btn-small btn-primary pull-left">{{'LanguageContents.Res_4040.Caption'|translate}}</button>-->
</div>

<div id="EntityCreationUplaodImagediv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="ngEntityCreationUplaodImagediv" data-width="1080px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="H1">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
    </div>
    <div class="modal-body" id="filescontainer">
        <div class="attachmentContainer">
            <div id="filelist">
            </div>
        </div>
        <div class="attachment-dragfiles" id="dragfiles">
            <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
            <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
            <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
            <div><a href="JavaScript:void(0);" id="pickfiles" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="attachment-progress pull-left" id="UploaderTotalProgres"></div>
        <a id="uploadfiles" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a>
        <a id="pickfilesAlternate" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a>
        <a id="clearUploader" href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
    </div>
</div>
<!--</div>-->
<div id="filescontainerooSub" style="display: none;">
    <button id="pickfilesUploaderAttrSub" class="pickFiles" type="submit"></button>
</div>
<!--</div>-->
