﻿<div class="btn-group" ng-show="false" id="Subscriptiondiv" class="btn-group ng-scope">
    <!--presentation10 ppt collited Mail Date is 21-01-2014-->
    <button class="btn btn-small" data-ng-click="SingleLevelSubscription()" ng-model="Suscibetext">{{Suscibetext}}</button>
    <button data-toggle="dropdown" class="btn dropdown-toggle btn-small"><span class="caret"></span></button>
    <ul class="dropdown-menu  pull-right">
        <li><a data-toggle="modal" href="#subscriptionmodal">{{'LanguageContents.Res_88.Caption'|translate}}</a></li>
    </ul>
</div>
<div data-width="760" tabindex="-1" class="modal hide fade in modal-overflow" id="subscriptionmodal" style="display: none;" aria-hidden="false">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h3>{{'LanguageContents.Res_903.Caption'|translate}}</h3>
    </div>
    <div class="modal-body">
        <h3 class="ItemNameWithIcon">
            <span ng-style="set_color(subscribedEntityColorcode)" style="background-color: #{{subscribedEntityColorcode}};" class="ItemIcon">{{subscribedEntityShortText}}</span>
            {{subscribedrootlevelname}}
        </h3>
        <div class="row-fluid">
            <div class="span12">
                <div class="subcriptionBlock1">
                    <span class="radiobtn">
                        <input ng-model="MultilevelSubscriptionSelect" id="singlesubid" value="singlelevel" ng-check="singlelevel" type="radio" name="Subscribe">
                    </span>
                    <span class="name">
                        <b>{{'LanguageContents.Res_912.Caption'|translate}}</b>
                        <br>
                        <span class="desc">{{'LanguageContents.Res_905.Caption'|translate}}.</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 subcriptionBlock2">
                <span class="radiobtn">
                    <input ng-model="MultilevelSubscriptionSelect" id="multisubid" value="multilevel" ng-check="multilevel" type="radio" name="Subscribe">
                </span>
                <span class="name">
                    <b>{{'LanguageContents.Res_906.Caption'|translate}}.</b>
                    <br>
                    <span class="desc">{{'LanguageContents.Res_907.Caption'|translate}}..</span>
                </span>
                <div class="hiligther">
                    <div id="MultiLevelCategory_17" ng-repeat="item in subentity" class="item">
                        <input type="checkbox" data-id="{{item.Id}}" value="{{item.ID}}" ng-checked="item.Checked" ng-model="item.Checked" />
                        <span class="icon" ng-style="set_color(item.ColorCode)" style="background-color: #{{item.ColorCode}}">{{item.ShortDescription}}</span>
                        <span cname="Activity List" cid="17" class="name">{{item.Caption}}</span>
                    </div>
                </div>
                <div class="hiligther">
                    <b>{{'LanguageContents.Res_908.Caption'|translate}}</b>
                    <br>
                    <span>{{'LanguageContents.Res_909.Caption'|translate}}</span>
                    <select ui-select2 id="FilterOption" ng-model="FilterOption">
                        <option value="0">{{'LanguageContents.Res_910.Caption'|translate}}</option>
                        <option ng-repeat="item in Roles" value="{{item.Id}}">am {{item.Caption}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-small btn-primary" id="Button1" type="button" ng-model="Finish" ng-click="MultiLevelSubscription()">{{'LanguageContents.Res_21.Caption'|translate}}</button>
        <button class="btn btn-small btn-primary" id="btnUnsub" type="button" ng-show="isVisible" ng-model="Unsubscribe" ng-click="Unsbscribe()">{{'LanguageContents.Res_911.Caption'|translate}}</button>
        <button class="btn btn-small" data-dismiss="modal" type="button">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>
