﻿<div id="cmsDetailsContainer" ng-controller="mui.cms.default.detailCtrl">
    <div class="cmsEmptyHome" ng-show="ShowAddPage">
        <div class="cmsEmptyPageContent">
            <div class="noData">
                <span class="noDataText">{{'LanguageContents.Res_5105.Caption'|translate}}</span>
            </div>
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-small">{{'LanguageContents.Res_4.Caption'|translate}}<span class="caret"></span></button>
                <ul class="dropdown-menu newRootEntity align-left">
                    <li ng-repeat="item in rootValues">
                        <a ng-click="DetailOpenPopupForPageCreation(item.Id,item.Caption)" href="javascript:void(0);" data-role='EntityCreation' data-caption="{{item.Caption}}" data-id="{{item.Id}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" data-toggle="modal" my-qtip2 qtip-content="{{item.Caption}}">
                            <span class="caption">{{item.Caption}}</span>
                            <span ng-style="set_color(item.ColorCode)" style="background-color: #{{item.ColorCode.trim()}};" class="eicon">{{item.ShortDescription}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="cmsContent" ng-show="!ShowAddPage">
        <div id="left">
            <div class="sidebar-nav">
                <div class="cmsHomeTitle">
                    <h3>{{GlobalNavigationCaption}}</h3>
                </div>
                <ul id="cmsTreeHolder" class="cmsTreeHolder">
                    <li data-page="0">
                        <ul class="nav nav-list" id="CmsListHolder">
                            <li ng-repeat="item in CmsItemCollections" id="cmsentity_{{item.ID}}" class="{{AddClass(item.UniqueKey);}}">
                                <a data-id="{{item.ID}}" data-role="anchor" href="#/mui/cms/default/list/{{item.ID}}" data-over="true">
                                    <i class="icon-" ng-show="!item.IsChildrenPresent"></i>
                                    <i class="icon-" ng-repeat="r in ADDSpace(item.Level) track by $index"></i>
                                    <i class="icon-caret-down" data-role="arrow" ng-show="item.IsChildrenPresent" data-uniqueid="{{ADDUniqueID(item.UniqueKey)}}"></i>
                                    <span data-id="{{item.ID}}" data-role="text">
                                        {{item.Name}}
                                    </span>
                                    <i ng-show="IsEditFeatureEnabled" id="context5copy_{{item.ID}}" data-role="menureorder" data-parentid="{{item.ID}}" data-uniquekey="{{item.UniqueKey}}" data-level="{{item.Level}}" class="icon-reorder pull-right menuIcon" data-toggle='modal' context="cmsContextmenu" ng-click="ContextmenuClick(item.ID,item.ParentID,item.UniqueKey,item.Level,$index,item.Permission);"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <ul id="cmsContextmenu" style="display: none;" role="menu" class="dropdown-menu contexMenu">
                <li class="dropdown-submenu">
                    <a data-toggle='modal'>{{'LanguageContents.Res_5100.Caption'|translate}}</a>
                    <ul tabindex="-1" id="cmsContext-Submenu1" class="dropdown-menu subContextMenu">
                        <li ng-repeat="item in PageEntityType | orderBy:'Caption'"><a href="javascript:void(0);" ng-click="DetailOpenPopupForPageCreation(item.Id,item.Caption)" data-role='RootPageCreation' data-caption="{{item.Caption}}" data-id="{{item.Id}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" >{{'LanguageContents.Res_8.Caption'|translate}} {{item.Caption}}<i class="icon-"></i><span style="background-color: #{{item.ColorCode.trim()}}" class="eicon">{{item.ShortDescription}}</span></a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a data-toggle='modal'>{{'LanguageContents.Res_5101.Caption'|translate}}</a>
                    <ul tabindex="-1" id="Ul1" class="dropdown-menu subContextMenu">
                        <li ng-repeat="item in PageEntityType | orderBy:'Caption'"><a href="javascript:void(0);" ng-click="DetailOpenPopupForSubPageCreation(item.Id,item.Caption)" data-role='SubPageCreation' data-caption="{{item.Caption}}" data-id="{{item.Id}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" >{{'LanguageContents.Res_8.Caption'|translate}} {{item.Caption}}<i class="icon-"></i><span style="background-color: #{{item.ColorCode.trim()}}" class="eicon">{{item.ShortDescription}}</span></a></li>
                    </ul>
                </li>
                <li ng-show="IsEditDeleteEnabled < 3"><a ng-click="OpenCmsEntityContent();">{{'LanguageContents.Res_5102.Caption'|translate}}<i class="icon-pencil"></i></a></li>
                <li ng-show="IsEditDeleteEnabled < 3" class="divider"></li>
                <li ng-show="IsEditDeleteEnabled < 3"><a data-toggle="modal" ng-click="ContextEntityDuplicate()" data-target="#duplicatePageModel">{{'LanguageContents.Res_150.Caption'|translate}}<i class="icon-copy"></i></a></li>
                <li ng-show="IsEditDeleteEnabled < 3"><a ng-click="DeleteCmsEntity();">{{'LanguageContents.Res_18.Caption'|translate}}<i class="icon-remove"></i></a></li>
            </ul>
        </div>
        <!--<div id="separator"></div>-->
        <div id="content">
            <div class="container-fluid container-nopadding">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="cmsContentArea">
                            <div id="container">
                                <div ui-butterbar></div>
                                <div ui-view></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" data-width="600" class="modal duplicatePopup" id="duplicatePageModel" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">{{'LanguageContents.Res_150.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="dupContainer">
                <h4>{{'LanguageContents.Res_2059.Caption'|translate}}</h4>
                <div class="dupSection">
                    <div class="changeOptions">
                        <form class="form-inline">
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input id="chkentitytype" ng-model="varDuplicate.IsEntity" ng-checked="varDuplicate.IsEntity" type="checkbox" />
                                        </label>
                                    </div>
                                    <label id="entitytype" class="control-label">{{'LanguageContents.Res_5107.Caption'|translate}}</label>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input id="chktasktype" ng-model="varDuplicate.IsTasks" ng-checked="varDuplicate.IsTasks" type="checkbox" />
                                        </label>
                                    </div>
                                    <label id="tasktype" class="control-label">{{'LanguageContents.Res_4836.Caption'|translate}}</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="changeSection" id="duplicatPageeentity">
                        <span class="changeSectionTitle">{{'LanguageContents.Res_5108.Caption'|translate}}</span>
                        <form class="form-horizontanl">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsEntity" ng-model="varDuplicate.IsEntityStatus" type="checkbox" />
                                                {{'LanguageContents.Res_1214.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsEntity" id="DiscardChildDuplicate" ng-model="DiscardChildDuplicate" type="checkbox" />
                                                {{'LanguageContents.Res_4445.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsEntity" ng-model="varDuplicate.IsAttachments" ng-checked="varDuplicate.IsAttachments" type="checkbox" />
                                                {{'LanguageContents.Res_35.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsEntity" ng-model="varDuplicate.IsMember" type="checkbox" />
                                                {{'LanguageContents.Res_11.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="changeSection" id="duplicatepagetask">
                        <span class="changeSectionTitle">{{'LanguageContents.Res_2061.Caption'|translate}}</span>
                        <form class="form-horizontanl">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsTasks" ng-model="varDuplicate.IsTaskAttachment" type="checkbox" />
                                                {{'LanguageContents.Res_4838.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input ng-disabled="!varDuplicate.IsTasks" ng-model="varDuplicate.IsTaskCheckList" type="checkbox" />
                                                {{'LanguageContents.Res_4155.Caption'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="dupSection" id="noofpagetimes">
                    <span class="dupSectionTitle">{{'LanguageContents.Res_2063.Caption'|translate}}</span>
                    <form class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group">
                                    <label class="control-label">{{'LanguageContents.Res_2064.Caption'|translate}}</label>
                                    <div class="controls">
                                        <input type="text" id="duplicateTimes" ng-model="duplicateTimes" />
                                    </div>
                                </div>
                                <div id="duplicatePageEnitynames" class="control-group"></div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="saving" id="showhidepageprogress" style="display: none">
                <div class="InProgress">
                    <img src="assets/img/loading.gif" />
                    <span>{{'LanguageContents.Res_4720.Caption'|translate}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left"></div>
            <button ng-click="CreateDuplicateEntity()" id="Button1" ng-model="DuplicateEntity" class="btn btn-small btn-primary">{{'LanguageContents.Res_21.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
