﻿<div id="cmsContainer" ng-controller="mui.cms.default.fullcmspageCtrl">
    <div class="cmsEmptyHome" ng-show="ShowFullPageAdd">
        <div class="cmsEmptyPageContent">
            <div class="noData">
                <span class="noDataText">{{'LanguageContents.Res_5105.Caption'|translate}}</span>
            </div>
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-small">{{'LanguageContents.Res_4.Caption'|translate}}<span class="caret"></span></button>
                <ul class="dropdown-menu newRootEntity align-left">
                    <li ng-repeat="item in rootValues">
                        <a ng-click="OpenPopupForPageCreation(item.Id,item.Caption)" href="javascript:void(0);" data-role='EntityCreation' data-caption="{{item.Caption}}" data-id="{{item.Id}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" data-toggle="modal" my-qtip2 qtip-content="{{item.Caption}}">
                            <span class="caption">{{item.Caption}}</span>
                            <span ng-style="set_color(item.ColorCode)" style="background-color: #{{item.ColorCode.trim()}};" class="eicon">{{item.ShortDescription}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid container-nopadding">
            <div class="row-fluid">
                <div class="span12">
                    <div id="fullpagecontent" class="cmsContentArea">
                        <div id="container">
                            <div ui-butterbar></div>
                            <div ui-view></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
