﻿<div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" ng-click="ClosePagecreationPopup()" type="button">×</button>
    <h3 class="ng-binding">{{'LanguageContents.Res_5106.Caption'|translate}} {{CmsEntityName}}</h3>
</div>
<div class="modal-body">
    <div class="wizard" id="MyWizard" ng-click="changeTab()">
        <ul class="steps">
            <li data-target="#step1" class="active"><span class="badge badge-info">{{metadatano}}</span>{{'LanguageContents.Res_251.Caption'|translate}}<span class="chevron"></span></li>
            <li data-target="#step2" class="complete" ng-click="changeSubentityTab2($event)"><span class="badge ng-binding badge-success">2</span>{{'LanguageContents.Res_4839.Caption'|translate}}<span class="chevron"></span></li>
            <li data-target="#step3" ng-click="changeTab2($event)"><span class="badge">{{memberno}}</span>{{'LanguageContents.Res_11.Caption'|translate}}<span class="chevron"></span></li>
        </ul>
    </div>
    <div class="step-content">
        <div class="step-pane active" id="step1">
            <form id="EntityMetadata" class="form-horizontal MetadataBlock notvalidate"></form>
        </div>
        <div id="step2" class="step-pane">
            <div class="cmsTemplates">
                <div class="cmsTemp-Box">
                    <div id="" class="cmsTemp-Selection">
                        <div class="cmsTemp-ImgBlock">
                            <div class="cmsTemp-ImgContainer">
                                <img src="Handlers/ImageUploadedPath.ashx?Path=CMSFiles/Templates/&name=/CMSTemplate-1.png" alt="template1" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-pane" id="step3">
            <div class="MemberBlockContainer">
                <form class="form-inline">
                    <input type="text" id="Text1" autocomp ng-model="fields.usersID" />
                    <select ng-model="fields.userRoles" ui-select2 id="userRole">
                        <option value="" ng-selected="true">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                        <option ng-repeat="item in Roles" value="{{item.ID}}" ng-selected="true">{{item.Caption}}</option>
                    </select>
                    <button ng-click="addUsers()" ng-model="fillgrid" class="btn btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                </form>
                <table class="table table-normal-both table-normal-both-big-left">
                    <thead>
                        <tr>
                            <th><span></span></th>
                            <th><span>{{'LanguageContents.Res_32.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_259.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_33.Caption'|translate}}</span></th>
                            <td><span>{{QuickInfo1AttributeCaption}}</span></td>
                            <td><span>{{QuickInfo2AttributeCaption}}</span></td>
                            <th><span></span></th>
                        </tr>
                    </thead>
                </table>
                <div class="MemberBlock">
                    <table class="table table-normal-both table-normal-both-big-left">
                        <tbody id="Tbody1">
                            <tr ng-repeat="item in OwnerList" userid="{{item.Userid}}">
                                <td>
                                    <span>
                                        <img class="avatar" src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="ownerimg">
                                    </span>
                                </td>
                                <td><span>{{item.UserName}}</span></td>
                                <td><span>{{item.RoleName}}</span></td>
                                <td><span>{{item.UserEmail}}</span></td>
                                <td><span>{{item.QuickInfo1}}</span></td>
                                <td><span>{{item.QuickInfo2}}</span></td>
                                <td><span></span></td>
                            </tr>
                        </tbody>
                        <tbody id="CreateNewMember">
                            <tr ng-repeat="item in MemberLists" userid="{{item.Userid}}">
                                <td>
                                    <span>
                                        <img class="avatar" src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="memberimg">
                                    </span>
                                </td>
                                <td><span>{{item.UserName}}</span></td>
                                <td><span>{{item.RoleName}}</span></td>
                                <td><span>{{item.UserEmail}}</span></td>
                                <td><span>{{item.QuickInfo1}}</span></td>
                                <td><span>{{item.QuickInfo2}}</span></td>
                                <td>
                                    <span>
                                        <span><i ng-click="deleteOptions(item)" ng-show="item.FromGlobal==0" class="icon-remove"></i></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="btnRootWizardNext" ng-click="changenexttab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_5.Caption'|translate}}</button>
    <button type="button" id="btnRootWizardPrev" ng-click="changePrevTab()" class="btn btn-small btn-primary">{{'LanguageContents.Res_6.Caption'|translate}}</button>
    <button id="btnRootWizardCmsFin" ng-click="saveCmsRootPageEntity()" ng-model="saveEntity" class="btn btn-small btn-primary">{{'LanguageContents.Res_252.Caption'|translate}}</button>
    <button type="button" data-dismiss="modal" ng-click="ClosePagecreationPopup()" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
</div>
<div id="filescontaineroo" style="display: none;">
    <button id="pickfilesCMSUploaderAttr" class="pickFiles" type="submit"></button>
</div>