﻿<div id="Financials" ng-class="{ 'tab-pane fade in active': ( subview == 'financial' ) }" ng-controller="mui.planningtool.costcentre.detail.section.financialCtrl">
    <div class="tab-line"></div>
    <div class="box">
        <div class="box-header">
            <h4>{{'LanguageContents.Res_1738.Caption'|translate}} </h4>
        </div>
        <div id="CostCenterFinancialHolder" class="box-content">
            <div class="box-content-margin">
                <div class="box-content">
                    <div id="CostcentreFinancialHolderdiv"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="Financialforecastvisible">
     
        <div class="box financialForecastBox">
            <div class="box-header">
                <h4>{{'LanguageContents.Res_1727.Caption'|translate}}
                </h4>
                <div class="pull-right">
                    <a href="javascript:void(0);" id="showhidefcc"><span>{{'LanguageContents.Res_1712.Caption'|translate}}</span></a>
                    <span class="currencyIndicator">{{'LanguageContents.Res_1713.Caption'|translate}}: {{DefaultSettings.CurrencyFormat.Name}}</span>
                </div>
            </div>
            <div class="box-content">
                <div class="financialDetails financialBoxesHeader">
                    <table class="table table-fin">
                        <thead>
                            <tr class="main">
                                <th colspan="3"><span>{{'LanguageContents.Res_589.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_1728.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_1729.Caption'|translate}}</span></th>
                                <th colspan="{{ForecastMainColspan}}"><span>{{ForeCastHeaderText}}</span></th>
                            </tr>
                             <tr class="sub">
                                <th colspan="3"><span myqtooltip data-tooltipid="attr_1">{{'LanguageContents.Res_261.Caption'|translate}}</span></th>
                                <th><span myqtooltip data-tooltipid="{{forecastbasis}}">{{forecastbasis}}</span></th>
                                <th><span myqtooltip data-tooltipid="attr_11">{{'LanguageContents.Res_1731.Caption'|translate}}</span></th>
                                <th ng-repeat="divitem in ForeCastDivisionColumns" colspan="{{ForecastSubColspan}}"><span myqtooltip data-tooltipid="{{divitem}}">{{divitem}}</span></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="financialforecasttableHolder">
                    <table class="table table-fin" id="financialforecasttable"></table>
                </div>
            </div>
            <div class="box-footer ">
                <button type="button" ng-show="AutpforeCastBtn && IsLock == false" ng-model="AutoForeCast" ng-click="AutoForeCast()" class="btn btn-small btn-primary">{{'LanguageContents.Res_1732.Caption'|translate}}</button>
             
            </div>
        </div>
    </div>
</div>
