﻿<div id="Objectives" ng-class="{ 'tab-pane fade in active': ( subview == 'objective' ) }" ng-controller="mui.planningtool.costcentre.detail.objectiveCtrl">
    <div class="tab-line"></div>
    <div class="hero-unit">
        <h1>{{'LanguageContents.Res_713.Caption'|translate}}</h1>
    </div>
</div>
