gridster *,
.gridster *,
[gridster] * {
  box-sizing: border-box; }
gridster ul li,
.gridster ul li,
[gridster] ul li {
  list-style: none;
  overflow: hidden;
  -webkit-transform: perspective(500px);
  -moz-transform: perspective(500px);
  -o-transform: perspective(500px);
  -ms-transform: perspective(500px);
  transform: perspective(500px);
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important; }
  gridster ul li.preview-holder,
  .gridster ul li.preview-holder,
  [gridster] ul li.preview-holder {
    background: rgba(0, 0, 0, 0.5); }
  gridster ul li .ui-resizable-handle,
  .gridster ul li .ui-resizable-handle,
  [gridster] ul li .ui-resizable-handle {
    z-index: 200; }
    gridster ul li .ui-resizable-handle.ui-resizable-e,
    .gridster ul li .ui-resizable-handle.ui-resizable-e,
    [gridster] ul li .ui-resizable-handle.ui-resizable-e {
      right: -2px; }
    gridster ul li .ui-resizable-handle.ui-resizable-s,
    .gridster ul li .ui-resizable-handle.ui-resizable-s,
    [gridster] ul li .ui-resizable-handle.ui-resizable-s {
      bottom: -2px; }
  gridster ul li[widget],
  .gridster ul li[widget],
  [gridster] ul li[widget] {
    background: gray;
    cursor: pointer; }
    gridster ul li[widget] header,
    .gridster ul li[widget] header,
    [gridster] ul li[widget] header {
      padding: 5px; }
      gridster ul li[widget] header h1, gridster ul li[widget] header h2, gridster ul li[widget] header h3, gridster ul li[widget] header h4, gridster ul li[widget] header h5,
      .gridster ul li[widget] header h1,
      .gridster ul li[widget] header h2,
      .gridster ul li[widget] header h3,
      .gridster ul li[widget] header h4,
      .gridster ul li[widget] header h5,
      [gridster] ul li[widget] header h1,
      [gridster] ul li[widget] header h2,
      [gridster] ul li[widget] header h3,
      [gridster] ul li[widget] header h4,
      [gridster] ul li[widget] header h5 {
        display: inline-block;
        margin-top: 0; }
  gridster ul li.dragging,
  .gridster ul li.dragging,
  [gridster] ul li.dragging {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: perspective(500px) rotateX(-20deg);
    -moz-transform: perspective(500px) rotateX(-20deg);
    -o-transform: perspective(500px) rotateX(-20deg);
    -ms-transform: perspective(500px) rotateX(-20deg);
    transform: perspective(500px) rotateX(-20deg); }
  gridster ul li .content,
  .gridster ul li .content,
  [gridster] ul li .content {
    transition: height 0.2s linear;
    overflow-y: auto;
    padding: 5px; }



   .ui-resizable {
            position: relative;
        }

        .ui-resizable-e {
            cursor: e-resize;
            height: 100%;
            right: -5px;
            top: 0;
            width: 7px;
        }

        .ui-resizable-s {
            bottom: -5px;
            cursor: s-resize;
            height: 7px;
            left: 0;
            width: 100%;
        }

        .ui-resizable-handle {
            display: block;
            font-size: 0.1px;
            position: absolute;
        }

        .ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
            display: none;
        }

        .ui-resizable-se {
            bottom: 1px;
            cursor: se-resize;
            height: 12px;
            right: 1px;
            width: 12px;
        }