/* 
   abn-tree.css

   style for the angular-bootstrap-nav-tree
   for both Bootstrap 2 and Bootstrap 3

*/



/* ------------------------------------------
AngularJS Animations...

The first selector is for Angular 1.1.5
The second selector is for Angular 1.2.0

*/
.abn-tree-animate-enter,
li.abn-tree-row.ng-enter {
    transition: 200ms linear all;
    position: relative;
    display: block;
    opacity: 0;
    max-height: 0px;
}

    .abn-tree-animate-enter.abn-tree-animate-enter-active,
    li.abn-tree-row.ng-enter-active {
        opacity: 1;
        max-height: 30px;
    }

.abn-tree-animate-leave,
li.abn-tree-row.ng-leave {
    transition: 200ms linear all;
    position: relative;
    display: block;
    height: 30px;
    max-height: 30px;
    opacity: 1;
}

    .abn-tree-animate-leave.abn-tree-animate-leave-active,
    li.abn-tree-row.ng-leave-active {
        height: 0px;
        max-height: 0px;
        opacity: 0;
    }


/* 
------------------------------------------
Angular 1.2.0 Animation 
*/


.abn-tree-animate.ng-enter {
}

.abn-tree-animate.ng-enter {
}




/*
   end animation stuff
-----------------------------------------
   begin normal css stuff
*/
ul.abn-tree li.abn-tree-row {
    padding: 0px;
    margin: 0px;
}

    ul.abn-tree li.abn-tree-row a {
        padding: 3px 10px;
    }

ul.abn-tree i.indented {
    padding: 2px;
}

.abn-tree {
    cursor: pointer;
    background: none !important;
}

    .abn-tree > li > a,
    .abn-tree > li > div.categoryLink a {
        background: none !important;
        border: none !important;
    }

    .abn-tree > li.active > a,
    .abn-tree > li.active > a:hover,
    .abn-tree > li.active > a:focus,
    .abn-tree > li.active > div.categoryLink a,
    .abn-tree > li.active > div.categoryLink a:hover,
    .abn-tree > li.active > div.categoryLink a:focus {
        color: #000;
        background: none !important;
        border: none !important;
    }

    .abn-tree > li:hover,
    .abn-tree > li:focus {
        background: #FAFAFA !important;
    }

ul.nav.abn-tree li span.indented {
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.nav.abn-tree .level-1 .indented {
    position: relative;
    left: 0px;
}

ul.nav.abn-tree label.radio.radio-custom {
    vertical-align: top;
}

    ul.nav.abn-tree label.radio.radio-custom i {
        background-position: 0 -16px;
        padding-top: 3px;
    }

        ul.nav.abn-tree label.radio.radio-custom i.checked {
            background-position: -48px -16px;
        }

    ul.nav.abn-tree label.radio.radio-custom:hover i {
        background-position: -16px -16px;
    }

        ul.nav.abn-tree label.radio.radio-custom:hover i.checked {
            background-position: -32px -16px;
        }

ul.nav.abn-tree .level-1 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-1 label.radio {
    position: relative;
    left: 0px;
}

ul.nav.abn-tree .level-2 .indented {
    position: relative;
    left: 20px;
}

ul.nav.abn-tree .level-2 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-2 label.radio {
    position: relative;
    left: 20px;
}

ul.nav.abn-tree .level-3 .indented {
    position: relative;
    left: 40px;
}

ul.nav.abn-tree .level-3 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-3 label.radio {
    position: relative;
    left: 40px;
}

ul.nav.abn-tree .level-4 .indented {
    position: relative;
    left: 60px;
}

ul.nav.abn-tree .level-4 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-4 label.radio {
    position: relative;
    left: 60px;
}


ul.nav.abn-tree .level-5 .indented {
    position: relative;
    left: 80px;
}

ul.nav.abn-tree .level-5 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-5 label.radio {
    position: relative;
    left: 80px;
}

ul.nav.abn-tree .level-6 .indented {
    position: relative;
    left: 100px;
}

ul.nav.abn-tree .level-6 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-6 label.radio {
    position: relative;
    left: 100px;
}

ul.nav.nav-list.abn-tree .level-7 .indented {
    position: relative;
    left: 120px;
}

ul.nav.abn-tree .level-7 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-7 label.radio {
    position: relative;
    left: 120px;
}

ul.nav.nav-list.abn-tree .level-8 .indented {
    position: relative;
    left: 140px;
}

ul.nav.abn-tree .level-8 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-8 label.radio {
    position: relative;
    left: 140px;
}

ul.nav.nav-list.abn-tree .level-9 .indented {
    position: relative;
    left: 160px;
}

ul.nav.abn-tree .level-9 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-9 label.radio {
    position: relative;
    left: 160px;
}
/* 
   abn-tree.css

   style for the angular-bootstrap-nav-tree
   for both Bootstrap 2 and Bootstrap 3

*/

/* ------------------------------------------
AngularJS Animations...

The first selector is for Angular 1.1.5
The second selector is for Angular 1.2.0

*/
.abn-tree-animate-enter,
li.abn-tree-row.ng-enter {
    transition: 200ms linear all;
    position: relative;
    display: block;
    opacity: 0;
    max-height: 0px;
}

    .abn-tree-animate-enter.abn-tree-animate-enter-active,
    li.abn-tree-row.ng-enter-active {
        opacity: 1;
        max-height: 30px;
    }

.abn-tree-animate-leave,
li.abn-tree-row.ng-leave {
    transition: 200ms linear all;
    position: relative;
    display: block;
    height: 30px;
    max-height: 30px;
    opacity: 1;
}

    .abn-tree-animate-leave.abn-tree-animate-leave-active,
    li.abn-tree-row.ng-leave-active {
        height: 0px;
        max-height: 0px;
        opacity: 0;
    }

/* 
------------------------------------------
Angular 1.2.0 Animation 
*/

.abn-tree-animate.ng-enter {
}

.abn-tree-animate.ng-enter {
}

/*
   end animation stuff
-----------------------------------------
   begin normal css stuff
*/
ul.abn-tree li.abn-tree-row {
    padding: 0px;
    margin: 0px;
}

    ul.abn-tree li.abn-tree-row a {
        padding: 6px;
    }

ul.abn-tree i.indented {
    padding: 2px;
}

.abn-tree {
    cursor: pointer;
    background: none !important;
    font-size: 12px;
    padding: 0px;
}

    .abn-tree > li > a,
    .abn-tree > li > div.categoryLink a {
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #EFEFEF;
        height: 22px;
        position: relative;
        list-style: none;
        margin: 0px !important;
        text-decoration: none;
    }

ul.nav.abn-tree li span.indented {
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*#region INDENTATION*/

ul.nav.abn-tree .level-1 .indented {
    position: relative;
    left: 0px;
}

ul.nav.abn-tree .level-2 .indented {
    position: relative;
    left: 20px;
}

ul.nav.abn-tree .level-3 .indented {
    position: relative;
    left: 40px;
}

ul.nav.abn-tree .level-4 .indented {
    position: relative;
    left: 60px;
}

ul.nav.abn-tree .level-5 .indented {
    position: relative;
    left: 80px;
}

ul.nav.abn-tree .level-6 .indented {
    position: relative;
    left: 100px;
}

ul.nav.nav-list.abn-tree .level-7 .indented {
    position: relative;
    left: 120px;
}

ul.nav.nav-list.abn-tree .level-8 .indented {
    position: relative;
    left: 140px;
}

ul.nav.nav-list.abn-tree .level-9 .indented {
    position: relative;
    left: 160px;
}

ul.nav.nav-list.abn-tree .level-10 .indented {
    position: relative;
    left: 180px;
}

ul.nav.nav-list.abn-tree .level-11 .indented {
    position: relative;
    left: 200px;
}

ul.nav.nav-list.abn-tree .level-12 .indented {
    position: relative;
    left: 220px;
}

ul.nav.nav-list.abn-tree .level-13 .indented {
    position: relative;
    left: 240px;
}

ul.nav.nav-list.abn-tree .level-14 .indented {
    position: relative;
    left: 260px;
}

ul.nav.nav-list.abn-tree .level-15 .indented {
    position: relative;
    left: 280px;
}

ul.nav.nav-list.abn-tree .level-16 .indented {
    position: relative;
    left: 300px;
}

ul.nav.nav-list.abn-tree .level-17 .indented {
    position: relative;
    left: 320px;
}

ul.nav.nav-list.abn-tree .level-18 .indented {
    position: relative;
    left: 340px;
}

ul.nav.nav-list.abn-tree .level-19 .indented {
    position: relative;
    left: 360px;
}

ul.nav.nav-list.abn-tree .level-20 .indented {
    position: relative;
    left: 380px;
}

ul.nav.nav-list.abn-tree .level-21 .indented {
    position: relative;
    left: 400px;
}

ul.nav.nav-list.abn-tree .level-22 .indented {
    position: relative;
    left: 420px;
}

ul.nav.nav-list.abn-tree .level-23 .indented {
    position: relative;
    left: 440px;
}

ul.nav.nav-list.abn-tree .level-24 .indented {
    position: relative;
    left: 460px;
}

ul.nav.nav-list.abn-tree .level-25 .indented {
    position: relative;
    left: 480px;
}

/*#endregion*/

/*#region For INDENTATION for Attachment Tab -> Inner Tree*/

ul.nav.abn-tree .level-1 span.indentedSpan {
    margin-left: 0px;
}

ul.nav.abn-tree .level-2 span.indentedSpan {
    margin-left: 10px;
}

ul.nav.abn-tree .level-3 span.indentedSpan {
    margin-left: 20px;
}

ul.nav.abn-tree .level-4 span.indentedSpan {
    margin-left: 30px;
}

ul.nav.abn-tree .level-5 span.indentedSpan {
    margin-left: 40px;
}

ul.nav.abn-tree .level-6 span.indentedSpan {
    margin-left: 50px;
}

ul.nav.nav-list.abn-tree .level-7 span.indentedSpan {
    margin-left: 60px;
}

ul.nav.nav-list.abn-tree .level-8 span.indentedSpan {
    margin-left: 70px;
}

ul.nav.nav-list.abn-tree .level-9 span.indentedSpan {
    margin-left: 80px;
}

ul.nav.nav-list.abn-tree .level-10 span.indentedSpan {
    margin-left: 90px;
}

ul.nav.nav-list.abn-tree .level-11 span.indentedSpan {
    margin-left: 100px;
}

ul.nav.nav-list.abn-tree .level-12 span.indentedSpan {
    margin-left: 110px;
}

ul.nav.nav-list.abn-tree .level-13 span.indentedSpan {
    margin-left: 120px;
}

ul.nav.nav-list.abn-tree .level-14 span.indentedSpan {
    margin-left: 130px;
}

ul.nav.nav-list.abn-tree .level-15 span.indentedSpan {
    margin-left: 140px;
}

ul.nav.nav-list.abn-tree .level-16 span.indentedSpan {
    margin-left: 150px;
}

ul.nav.nav-list.abn-tree .level-17 span.indentedSpan {
    margin-left: 160px;
}

ul.nav.nav-list.abn-tree .level-18 span.indentedSpan {
    margin-left: 170px;
}

ul.nav.nav-list.abn-tree .level-19 span.indentedSpan {
    margin-left: 180px;
}

ul.nav.nav-list.abn-tree .level-20 span.indentedSpan {
    margin-left: 190px;
}

ul.nav.nav-list.abn-tree .level-21 span.indentedSpan {
    margin-left: 200px;
}

ul.nav.nav-list.abn-tree .level-22 span.indentedSpan {
    margin-left: 210px;
}

ul.nav.nav-list.abn-tree .level-23 span.indentedSpan {
    margin-left: 220px;
}

ul.nav.nav-list.abn-tree .level-24 span.indentedSpan {
    margin-left: 230px;
}

ul.nav.nav-list.abn-tree .level-25 span.indentedSpan {
    margin-left: 240px;
}

/*#endregion*/

/*#region OLD CODE*/
/*.abn-tree > li.active {
            background-color: #0088CC !important;
            color: #FFF !important;
            border-radius: 5px;
        }

            .abn-tree > li.active > a {
                color: #FFF !important;
            }

        .abn-tree > li > a {
            background: none !important;
            border: none !important;
        }

    .abn-tree > li.active > a,
    .abn-tree > li.active > a:hover,
    .abn-tree > li.active > a:focus {
        color: #000;
        background: none !important;
        border: none !important;
    }

    .abn-tree > li:hover,
    .abn-tree > li:focus {
        background: #FFF;
    }*/
/*#endregion*/
