﻿/*Hack for ie11*/
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #EntitiesTree .nav-list {
        margin-top: -20px !important;
    }
}
 /*Hack for ie10*/
.ie10 #EntitiesTree .nav-list {
    margin-top: -20px !important;
}
/*Hack for ie9*/
#EntitiesTree .nav-list {
    margin-top: -20px\9\0 !important;
}

/*#endregion*/
