body {
    padding: 0;
    /*background-image: url(../img/body-bg-02.jpg);*/ /*Commented Default Login Background*/
    vertical-align: middle;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
}

label a,
.btn,
input,
label {
    font-size: 14px !important;
}

form {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 350px;
}

fieldset {
    padding: 20px;
    border: 2px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
    height: 235px;
}

input[type=text],
input[type=password] {
    height: 30px;
    margin-bottom: 5px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    padding: 0 5px;
    width: 279px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

    input[type=text]:focus,
    input[type=password]:focus {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    /*#region CLEARFILED - IE*/
    /*For the "X" mark appearing in IE for every Textbox*/
    input[type=text]::-ms-clear {
        display: none;
    }
/*#endregion*/

label,
label a:hover {
    color: #777;
}

    label a {
        font-size: 12px !important;
        color: #666;
    }

.btn {
    margin: 20px 0 0 0;
    line-height: 26px;
    border: none;
}

a.header {
    display: inline-block;
    margin: 10px;
}

    a.header:hover {
        text-decoration: none;
    }

    a.header img {
        display: block;
    }

    a.header img,
    a.header span {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

    a.header:hover img,
    a.header:hover span {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
    /* Animations */
    input[type=text],
    input[type=password],
    a.header img,
    a.header span {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

.loginBlock, .forgotPasswordBlock {
    height: 400px;
    width: 350px;
    position: relative;
    overflow: hidden;
}

.bsiLogo {
    margin: 10px 0px;
}

    .bsiLogo > img {
        height: 45px;
    }

.leftside {
    position: absolute;
    transition: left 1s cubic-bezier(0, 1, 0.5, 1);
}

    .leftside .rememberme {
        display: block;
        margin: 0px 0px 10px;
    }

        .leftside .rememberme input {
            margin: -5px 0px 0px 0px;
        }

        .leftside .rememberme label {
            display: inline-block;
            margin: 0px 1px;
        }

.rightside {
    position: absolute;
    transition: left 1s cubic-bezier(0, 1, 0.5, 1);
}

    .rightside h4 {
        margin: 0px;
        color: rgb(102, 102, 102);
    }

    .rightside p {
        display: inline-block;
        line-height: 24px;
        font-size: 13px;
        padding-bottom: 8px;
        text-align: left;
        padding-top: 8px;
        color: rgb(102, 102, 102);
    }

    .rightside .btnBlock > .btn:first-child {
        color: rgb(102, 102, 102);
    }

.loginBlock .leftside {
    left: 0px;
}

.loginBlock .rightside {
    left: 350px;
}

.forgotPasswordBlock, .leftside {
    left: -350px;
}

.forgotPasswordBlock, .rightside {
    left: 0px;
}
