/*#region LOGIN THEME*/

body {
    background-color: #E5E6EB;
}

/*#region LOGIN THEME*/
.loginThemed .loginBlock,
.loginThemed .forgotPasswordBlock {
    height: 350px;
    width: 330px;
    padding: 10px;
}

    .loginThemed .loginBlock.logoIn,
    .loginThemed .forgotPasswordBlock.logoIn {
        height: 334px;
        border: 6px solid rgba(255, 255, 255, 0.6);
        background-color: rgba(255, 255, 255, 0.4);
    }

        .loginThemed .loginBlock.logoIn .header,
        .loginThemed .forgotPasswordBlock.logoIn .header {
            text-align: center;
        }

        .loginThemed .loginBlock.logoIn fieldset,
        .loginThemed .forgotPasswordBlock.logoIn fieldset {
            background-color: transparent;
            border-color: transparent;
            border-radius: 0 !important;
            box-shadow: none;
        }

    .loginThemed .loginBlock.logoOut,
    .loginThemed .forgotPasswordBlock.logoOut {
        border-color: transparent;
        background-color: transparent;
    }

        .loginThemed .loginBlock.logoOut .header,
        .loginThemed .forgotPasswordBlock.logoOut .header {
            text-align: left;
        }
/*#endregion*/

/*#endregion*/
