.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .multiselect-container .input-group {
        margin: 5px;
    }

    .multiselect-container > li {
        padding: 0;
    }

    .multiselect-container > li > a {
        padding-left: 8px;
    }

        .multiselect-container > li > a.multiselect-all label {
            font-weight: bold;
        }

        .multiselect-container > li > label.multiselect-group {
            margin: 0;
            padding: 3px 20px 3px 20px;
            height: 100%;
            font-weight: bold;
        }

        .multiselect-container > li > a > label {
            margin: 0;
            height: 100%;
            cursor: pointer;
            font-weight: normal;
        }

            .multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
                margin: 0;
            }

            .multiselect-container > li > a > label > input[type="checkbox"] {
                margin-bottom: 5px;
            }

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn.multiselect {

    min-width: 162px;
}
/* Put your css in here */

multiselect {
    display:block;
}
multiselect .btn {
    width: 100%;
    background-color: #FFF;
}
multiselect .btn.error{
    border: 1px solid #da4f49 !important;
}
multiselect .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
multiselect .dropdown-menu {
    width: 72%;
    box-sizing: border-box;
    padding: 2px;
}
multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}
/*! X-editable - v1.4.4 
* In-place editing with Twitter Bootstrap, jQuery UI or pure jQuery
* http://github.com/vitalets/x-editable
* Copyright (c) 2013 Vitaliy Potapov; Licensed MIT */

.editableform {
    margin-bottom: 0; /* overwrites bootstrap margin */
}

    .editableform .control-group {
        margin-bottom: 0; /* overwrites bootstrap margin */
        white-space: nowrap; /* prevent wrapping buttons on new line */
        line-height: 20px; /* overwriting bootstrap line-height. See #133 */
    }

.editable-buttons {
    display: inline-block; /* should be inline to take effect of parent's white-space: nowrap */
    vertical-align: top;
    margin-left: 5px;
    /* inline-block emulation for IE7*/
    zoom: 1;
    *display: inline;
}

    .editable-buttons.editable-buttons-bottom {
        display: block;
        margin-top: 7px;
        margin-left: 0;
    }

.editable-input {
    vertical-align: top;
    display: inline-block; /* should be inline to take effect of parent's white-space: nowrap */
    width: auto; /* bootstrap-responsive has width: 100% that breakes layout */
    white-space: normal; /* reset white-space decalred in parent*/
    /* display-inline emulation for IE7*/
    zoom: 1;
    *display: inline;
}

.editable-buttons .editable-cancel {
    margin-left: 5px;
}

/*for jquery-ui buttons need set height to look more pretty*/
.editable-buttons button.ui-button-icon-only {
    height: 24px;
    width: 30px;
}

.editableform-loading {
    background: url('../img/loading.gif') center center no-repeat;
    height: 25px;
    width: auto;
    min-width: 25px;
}

.editable-inline .editableform-loading {
    background-position: left 5px;
}

.editable-error-block {
    max-width: 300px;
    margin: 5px 0 0 0;
    width: auto;
    white-space: normal;
}

    /*add padding for jquery ui*/
    .editable-error-block.ui-state-error {
        padding: 3px;
    }

.editable-error {
    color: red;
}

/* ---- For specific types ---- */

.editableform .editable-date {
    padding: 0;
    margin: 0;
    float: left;
}

/* move datepicker icon to center of add-on button. See https://github.com/vitalets/x-editable/issues/183 */
.editable-inline .add-on .icon-th {
    margin-top: 3px;
    margin-left: 1px;
}


/* checklist vertical alignment */
.editable-checklist label input[type="checkbox"],
.editable-checklist label span {
    vertical-align: middle;
    margin: 0;
}

.editable-checklist label {
    white-space: nowrap;
}

/* set exact width of textarea to fit buttons toolbar */
.editable-wysihtml5 {
    width: 566px;
    height: 250px;
}

/* clear button shown as link in date inputs */
.editable-clear {
    clear: both;
    font-size: 0.9em;
    text-decoration: none;
    text-align: right;
}

/* IOS-style clear button for text inputs */
.editable-clear-x {
    background: url('../img/clear.png') center center no-repeat;
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    opacity: 0.6;
    z-index: 100;
    top: 50%;
    right: 6px;
    margin-top: -6px;
}

    .editable-clear-x:hover {
        opacity: 1;
    }

.editable-container.editable-popup {
    max-width: none !important; /* without this rule poshytip/tooltip does not stretch */
}

.editable-container.popover {
    width: auto; /* without this rule popover does not stretch */
}

.editable-container.editable-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    /* inline-block emulation for IE7*/
    zoom: 1;
    *display: inline;
}

.editable-container.ui-widget {
    font-size: inherit; /* jqueryui widget font 1.1em too big, overwrite it */
}

.editable-click,
a.editable-click,
a.editable-click:hover {
    text-decoration: none;
    cursor: pointer;
    /*border-bottom: dashed 1px #0088cc;*/
}

    .editable-click.editable-disabled,
    a.editable-click.editable-disabled,
    a.editable-click.editable-disabled:hover {
        color: #585858;
        cursor: default;
        border-bottom: none;
    }

.editable-empty, .editable-empty:hover, .editable-empty:focus {
    font-style: italic;
    color: #DD1144;
    /* border-bottom: none; */
    text-decoration: none;
}

.editable-unsaved {
    font-weight: bold;
}

    .editable-unsaved:after {
        /*    content: '*'*/
    }

/*see https://github.com/vitalets/x-editable/issues/139 */
.form-horizontal .editable {
    padding-top: 5px;
    display: inline-block;
}

.form-horizontal .control-label > .editable {
    padding-top: 0px;
    display: inline-block;
}



/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
    /*.dow {
		border-top: 1px solid #ddd !important;
	}*/
}

.datepicker-inline {
    width: 220px;
}

.datepicker.datepicker-rtl {
    direction: rtl;
}

    .datepicker.datepicker-rtl table tr td span {
        float: right;
    }

.datepicker-dropdown {
    top: 0;
    left: 0;
}

    .datepicker-dropdown:before {
        content: '';
        display: inline-block;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-top: 0;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        position: absolute;
    }

    .datepicker-dropdown:after {
        content: '';
        display: inline-block;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-top: 0;
        position: absolute;
    }

    .datepicker-dropdown.datepicker-orient-left:before {
        left: 6px;
    }

    .datepicker-dropdown.datepicker-orient-left:after {
        left: 7px;
    }

    .datepicker-dropdown.datepicker-orient-right:before {
        right: 6px;
    }

    .datepicker-dropdown.datepicker-orient-right:after {
        right: 7px;
    }

    .datepicker-dropdown.datepicker-orient-top:before {
        top: -7px;
    }

    .datepicker-dropdown.datepicker-orient-top:after {
        top: -6px;
    }

    .datepicker-dropdown.datepicker-orient-bottom:before {
        bottom: -7px;
        border-bottom: 0;
        border-top: 7px solid #999;
    }

    .datepicker-dropdown.datepicker-orient-bottom:after {
        bottom: -6px;
        border-bottom: 0;
        border-top: 6px solid #ffffff;
    }

.datepicker > div {
    display: none;
}

.datepicker.days div.datepicker-days {
    display: block;
}

.datepicker.months div.datepicker-months {
    display: block;
}

.datepicker.years div.datepicker-years {
    display: block;
}

.datepicker table {
    margin: 0;
}

.datepicker td,
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}

.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
    background-color: transparent;
}

.datepicker table tr td.day:hover {
    background: #eeeeee;
    cursor: pointer;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #999999;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: none;
    color: #999999;
    cursor: default;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-color: #fde19a;
    background-repeat: repeat-x;
    color: #000 !important;
    background-image: linear-gradient(top, #fdd49a, #fdf59a);
    border-left-color: #fdf59a;
    border-right-color: #fdf59a;
    border-top-color: #fdf59a;
    border-bottom-color: #fbed50;
}

    .datepicker table tr td.today:hover,
    .datepicker table tr td.today:hover:hover,
    .datepicker table tr td.today.disabled:hover,
    .datepicker table tr td.today.disabled:hover:hover,
    .datepicker table tr td.today:active,
    .datepicker table tr td.today:hover:active,
    .datepicker table tr td.today.disabled:active,
    .datepicker table tr td.today.disabled:hover:active,
    .datepicker table tr td.today.active,
    .datepicker table tr td.today:hover.active,
    .datepicker table tr td.today.disabled.active,
    .datepicker table tr td.today.disabled:hover.active,
    .datepicker table tr td.today.disabled,
    .datepicker table tr td.today:hover.disabled,
    .datepicker table tr td.today.disabled.disabled,
    .datepicker table tr td.today.disabled:hover.disabled,
    .datepicker table tr td.today[disabled],
    .datepicker table tr td.today:hover[disabled],
    .datepicker table tr td.today.disabled[disabled],
    .datepicker table tr td.today.disabled:hover[disabled] {
        background-color: #fdf59a;
    }

        .datepicker table tr td.today:active,
        .datepicker table tr td.today:hover:active,
        .datepicker table tr td.today.disabled:active,
        .datepicker table tr td.today.disabled:hover:active,
        .datepicker table tr td.today.active,
        .datepicker table tr td.today:hover.active,
        .datepicker table tr td.today.disabled.active,
        .datepicker table tr td.today.disabled:hover.active {
            background-color: #fbf069 \9;
        }

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-color: #006dcc;
    background-repeat: repeat-x;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    border-left-color: #0044cc;
    border-right-color: #0044cc;
    border-top-color: #0044cc;
    border-bottom-color: #002a80;
}

    .datepicker table tr td.active:hover,
    .datepicker table tr td.active:hover:hover,
    .datepicker table tr td.active.disabled:hover,
    .datepicker table tr td.active.disabled:hover:hover,
    .datepicker table tr td.active:active,
    .datepicker table tr td.active:hover:active,
    .datepicker table tr td.active.disabled:active,
    .datepicker table tr td.active.disabled:hover:active,
    .datepicker table tr td.active.active,
    .datepicker table tr td.active:hover.active,
    .datepicker table tr td.active.disabled.active,
    .datepicker table tr td.active.disabled:hover.active,
    .datepicker table tr td.active.disabled,
    .datepicker table tr td.active:hover.disabled,
    .datepicker table tr td.active.disabled.disabled,
    .datepicker table tr td.active.disabled:hover.disabled,
    .datepicker table tr td.active[disabled],
    .datepicker table tr td.active:hover[disabled],
    .datepicker table tr td.active.disabled[disabled],
    .datepicker table tr td.active.disabled:hover[disabled] {
        background-color: #0044cc;
    }

        .datepicker table tr td.active:active,
        .datepicker table tr td.active:hover:active,
        .datepicker table tr td.active.disabled:active,
        .datepicker table tr td.active.disabled:hover:active,
        .datepicker table tr td.active.active,
        .datepicker table tr td.active:hover.active,
        .datepicker table tr td.active.disabled.active,
        .datepicker table tr td.active.disabled:hover.active {
            background-color: #003399 \9;
        }

.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .datepicker table tr td span:hover {
        background: #eeeeee;
    }

    .datepicker table tr td span.disabled,
    .datepicker table tr td span.disabled:hover {
        background: none;
        color: #999999;
        cursor: default;
    }

    .datepicker table tr td span.active,
    .datepicker table tr td span.active:hover,
    .datepicker table tr td span.active.disabled,
    .datepicker table tr td span.active.disabled:hover {
        background-color: #006dcc;
        background-repeat: repeat-x;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-image: linear-gradient(top, #0088cc, #0044cc);
        border-left-color: #0044cc;
        border-right-color: #0044cc;
        border-top-color: #0044cc;
        border-bottom-color: #002a80;
    }

        .datepicker table tr td span.active:hover,
        .datepicker table tr td span.active:hover:hover,
        .datepicker table tr td span.active.disabled:hover,
        .datepicker table tr td span.active.disabled:hover:hover,
        .datepicker table tr td span.active:active,
        .datepicker table tr td span.active:hover:active,
        .datepicker table tr td span.active.disabled:active,
        .datepicker table tr td span.active.disabled:hover:active,
        .datepicker table tr td span.active.active,
        .datepicker table tr td span.active:hover.active,
        .datepicker table tr td span.active.disabled.active,
        .datepicker table tr td span.active.disabled:hover.active,
        .datepicker table tr td span.active.disabled,
        .datepicker table tr td span.active:hover.disabled,
        .datepicker table tr td span.active.disabled.disabled,
        .datepicker table tr td span.active.disabled:hover.disabled,
        .datepicker table tr td span.active[disabled],
        .datepicker table tr td span.active:hover[disabled],
        .datepicker table tr td span.active.disabled[disabled],
        .datepicker table tr td span.active.disabled:hover[disabled] {
            background-color: #0044cc;
        }

            .datepicker table tr td span.active:active,
            .datepicker table tr td span.active:hover:active,
            .datepicker table tr td span.active.disabled:active,
            .datepicker table tr td span.active.disabled:hover:active,
            .datepicker table tr td span.active.active,
            .datepicker table tr td span.active:hover.active,
            .datepicker table tr td span.active.disabled.active,
            .datepicker table tr td span.active.disabled:hover.active {
                background-color: #003399 \9;
            }

    .datepicker table tr td span.old {
        color: #999999;
    }

.datepicker th.switch {
    width: 145px;
}

.datepicker thead tr:first-child th,
.datepicker tfoot tr:first-child th {
    cursor: pointer;
}

    .datepicker thead tr:first-child th:hover,
    .datepicker tfoot tr:first-child th:hover {
        background: #eeeeee;
    }

.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
}

.datepicker thead tr:first-child th.cw {
    cursor: default;
    background-color: transparent;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

/* 
   abn-tree.css

   style for the angular-bootstrap-nav-tree
   for both Bootstrap 2 and Bootstrap 3

*/



/* ------------------------------------------
AngularJS Animations...

The first selector is for Angular 1.1.5
The second selector is for Angular 1.2.0

*/
.abn-tree-animate-enter,
li.abn-tree-row.ng-enter {
    transition: 200ms linear all;
    position: relative;
    display: block;
    opacity: 0;
    max-height: 0px;
}

    .abn-tree-animate-enter.abn-tree-animate-enter-active,
    li.abn-tree-row.ng-enter-active {
        opacity: 1;
        max-height: 30px;
    }

.abn-tree-animate-leave,
li.abn-tree-row.ng-leave {
    transition: 200ms linear all;
    position: relative;
    display: block;
    height: 30px;
    max-height: 30px;
    opacity: 1;
}

    .abn-tree-animate-leave.abn-tree-animate-leave-active,
    li.abn-tree-row.ng-leave-active {
        height: 0px;
        max-height: 0px;
        opacity: 0;
    }


/* 
------------------------------------------
Angular 1.2.0 Animation 
*/


.abn-tree-animate.ng-enter {
}

.abn-tree-animate.ng-enter {
}




/*
   end animation stuff
-----------------------------------------
   begin normal css stuff
*/
ul.abn-tree li.abn-tree-row {
    padding: 0px;
    margin: 0px;
}

    ul.abn-tree li.abn-tree-row a {
        padding: 3px 10px;
    }

ul.abn-tree i.indented {
    padding: 2px;
}

.abn-tree {
    cursor: pointer;
    background: none !important;
}

    .abn-tree > li > a,
    .abn-tree > li > div.categoryLink a {
        background: none !important;
        border: none !important;
    }

    .abn-tree > li.active > a,
    .abn-tree > li.active > a:hover,
    .abn-tree > li.active > a:focus,
    .abn-tree > li.active > div.categoryLink a,
    .abn-tree > li.active > div.categoryLink a:hover,
    .abn-tree > li.active > div.categoryLink a:focus {
        color: #000;
        background: none !important;
        border: none !important;
    }

    .abn-tree > li:hover,
    .abn-tree > li:focus {
        background: #FAFAFA !important;
    }

ul.nav.abn-tree li span.indented {
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.nav.abn-tree .level-1 .indented {
    position: relative;
    left: 0px;
}

ul.nav.abn-tree label.radio.radio-custom {
    vertical-align: top;
}

    ul.nav.abn-tree label.radio.radio-custom i {
        background-position: 0 -16px;
        padding-top: 3px;
    }

        ul.nav.abn-tree label.radio.radio-custom i.checked {
            background-position: -48px -16px;
        }

    ul.nav.abn-tree label.radio.radio-custom:hover i {
        background-position: -16px -16px;
    }

        ul.nav.abn-tree label.radio.radio-custom:hover i.checked {
            background-position: -32px -16px;
        }

ul.nav.abn-tree .level-1 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-1 label.radio {
    position: relative;
    left: 0px;
}

ul.nav.abn-tree .level-2 .indented {
    position: relative;
    left: 20px;
}

ul.nav.abn-tree .level-2 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-2 label.radio {
    position: relative;
    left: 20px;
}

ul.nav.abn-tree .level-3 .indented {
    position: relative;
    left: 40px;
}

ul.nav.abn-tree .level-3 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-3 label.radio {
    position: relative;
    left: 40px;
}

ul.nav.abn-tree .level-4 .indented {
    position: relative;
    left: 60px;
}

ul.nav.abn-tree .level-4 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-4 label.radio {
    position: relative;
    left: 60px;
}


ul.nav.abn-tree .level-5 .indented {
    position: relative;
    left: 80px;
}

ul.nav.abn-tree .level-5 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-5 label.radio {
    position: relative;
    left: 80px;
}

ul.nav.abn-tree .level-6 .indented {
    position: relative;
    left: 100px;
}

ul.nav.abn-tree .level-6 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-6 label.radio {
    position: relative;
    left: 100px;
}

ul.nav.nav-list.abn-tree .level-7 .indented {
    position: relative;
    left: 120px;
}

ul.nav.abn-tree .level-7 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-7 label.radio {
    position: relative;
    left: 120px;
}

ul.nav.nav-list.abn-tree .level-8 .indented {
    position: relative;
    left: 140px;
}

ul.nav.abn-tree .level-8 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-8 label.radio {
    position: relative;
    left: 140px;
}

ul.nav.nav-list.abn-tree .level-9 .indented {
    position: relative;
    left: 160px;
}

ul.nav.abn-tree .level-9 label.checkbox.checkbox-custom,
ul.nav.abn-tree .level-9 label.radio {
    position: relative;
    left: 160px;
}
/* 
   abn-tree.css

   style for the angular-bootstrap-nav-tree
   for both Bootstrap 2 and Bootstrap 3

*/

/* ------------------------------------------
AngularJS Animations...

The first selector is for Angular 1.1.5
The second selector is for Angular 1.2.0

*/
.abn-tree-animate-enter,
li.abn-tree-row.ng-enter {
    transition: 200ms linear all;
    position: relative;
    display: block;
    opacity: 0;
    max-height: 0px;
}

    .abn-tree-animate-enter.abn-tree-animate-enter-active,
    li.abn-tree-row.ng-enter-active {
        opacity: 1;
        max-height: 30px;
    }

.abn-tree-animate-leave,
li.abn-tree-row.ng-leave {
    transition: 200ms linear all;
    position: relative;
    display: block;
    height: 30px;
    max-height: 30px;
    opacity: 1;
}

    .abn-tree-animate-leave.abn-tree-animate-leave-active,
    li.abn-tree-row.ng-leave-active {
        height: 0px;
        max-height: 0px;
        opacity: 0;
    }

/* 
------------------------------------------
Angular 1.2.0 Animation 
*/

.abn-tree-animate.ng-enter {
}

.abn-tree-animate.ng-enter {
}

/*
   end animation stuff
-----------------------------------------
   begin normal css stuff
*/
ul.abn-tree li.abn-tree-row {
    padding: 0px;
    margin: 0px;
}

    ul.abn-tree li.abn-tree-row a {
        padding: 6px;
    }

ul.abn-tree i.indented {
    padding: 2px;
}

.abn-tree {
    cursor: pointer;
    background: none !important;
    font-size: 12px;
    padding: 0px;
}

    .abn-tree > li > a,
    .abn-tree > li > div.categoryLink a {
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #EFEFEF;
        height: 22px;
        position: relative;
        list-style: none;
        margin: 0px !important;
        text-decoration: none;
    }

ul.nav.abn-tree li span.indented {
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*#region INDENTATION*/

ul.nav.abn-tree .level-1 .indented {
    position: relative;
    left: 0px;
}

ul.nav.abn-tree .level-2 .indented {
    position: relative;
    left: 20px;
}

ul.nav.abn-tree .level-3 .indented {
    position: relative;
    left: 40px;
}

ul.nav.abn-tree .level-4 .indented {
    position: relative;
    left: 60px;
}

ul.nav.abn-tree .level-5 .indented {
    position: relative;
    left: 80px;
}

ul.nav.abn-tree .level-6 .indented {
    position: relative;
    left: 100px;
}

ul.nav.nav-list.abn-tree .level-7 .indented {
    position: relative;
    left: 120px;
}

ul.nav.nav-list.abn-tree .level-8 .indented {
    position: relative;
    left: 140px;
}

ul.nav.nav-list.abn-tree .level-9 .indented {
    position: relative;
    left: 160px;
}

ul.nav.nav-list.abn-tree .level-10 .indented {
    position: relative;
    left: 180px;
}

ul.nav.nav-list.abn-tree .level-11 .indented {
    position: relative;
    left: 200px;
}

ul.nav.nav-list.abn-tree .level-12 .indented {
    position: relative;
    left: 220px;
}

ul.nav.nav-list.abn-tree .level-13 .indented {
    position: relative;
    left: 240px;
}

ul.nav.nav-list.abn-tree .level-14 .indented {
    position: relative;
    left: 260px;
}

ul.nav.nav-list.abn-tree .level-15 .indented {
    position: relative;
    left: 280px;
}

ul.nav.nav-list.abn-tree .level-16 .indented {
    position: relative;
    left: 300px;
}

ul.nav.nav-list.abn-tree .level-17 .indented {
    position: relative;
    left: 320px;
}

ul.nav.nav-list.abn-tree .level-18 .indented {
    position: relative;
    left: 340px;
}

ul.nav.nav-list.abn-tree .level-19 .indented {
    position: relative;
    left: 360px;
}

ul.nav.nav-list.abn-tree .level-20 .indented {
    position: relative;
    left: 380px;
}

ul.nav.nav-list.abn-tree .level-21 .indented {
    position: relative;
    left: 400px;
}

ul.nav.nav-list.abn-tree .level-22 .indented {
    position: relative;
    left: 420px;
}

ul.nav.nav-list.abn-tree .level-23 .indented {
    position: relative;
    left: 440px;
}

ul.nav.nav-list.abn-tree .level-24 .indented {
    position: relative;
    left: 460px;
}

ul.nav.nav-list.abn-tree .level-25 .indented {
    position: relative;
    left: 480px;
}

/*#endregion*/

/*#region For INDENTATION for Attachment Tab -> Inner Tree*/

ul.nav.abn-tree .level-1 span.indentedSpan {
    margin-left: 0px;
}

ul.nav.abn-tree .level-2 span.indentedSpan {
    margin-left: 10px;
}

ul.nav.abn-tree .level-3 span.indentedSpan {
    margin-left: 20px;
}

ul.nav.abn-tree .level-4 span.indentedSpan {
    margin-left: 30px;
}

ul.nav.abn-tree .level-5 span.indentedSpan {
    margin-left: 40px;
}

ul.nav.abn-tree .level-6 span.indentedSpan {
    margin-left: 50px;
}

ul.nav.nav-list.abn-tree .level-7 span.indentedSpan {
    margin-left: 60px;
}

ul.nav.nav-list.abn-tree .level-8 span.indentedSpan {
    margin-left: 70px;
}

ul.nav.nav-list.abn-tree .level-9 span.indentedSpan {
    margin-left: 80px;
}

ul.nav.nav-list.abn-tree .level-10 span.indentedSpan {
    margin-left: 90px;
}

ul.nav.nav-list.abn-tree .level-11 span.indentedSpan {
    margin-left: 100px;
}

ul.nav.nav-list.abn-tree .level-12 span.indentedSpan {
    margin-left: 110px;
}

ul.nav.nav-list.abn-tree .level-13 span.indentedSpan {
    margin-left: 120px;
}

ul.nav.nav-list.abn-tree .level-14 span.indentedSpan {
    margin-left: 130px;
}

ul.nav.nav-list.abn-tree .level-15 span.indentedSpan {
    margin-left: 140px;
}

ul.nav.nav-list.abn-tree .level-16 span.indentedSpan {
    margin-left: 150px;
}

ul.nav.nav-list.abn-tree .level-17 span.indentedSpan {
    margin-left: 160px;
}

ul.nav.nav-list.abn-tree .level-18 span.indentedSpan {
    margin-left: 170px;
}

ul.nav.nav-list.abn-tree .level-19 span.indentedSpan {
    margin-left: 180px;
}

ul.nav.nav-list.abn-tree .level-20 span.indentedSpan {
    margin-left: 190px;
}

ul.nav.nav-list.abn-tree .level-21 span.indentedSpan {
    margin-left: 200px;
}

ul.nav.nav-list.abn-tree .level-22 span.indentedSpan {
    margin-left: 210px;
}

ul.nav.nav-list.abn-tree .level-23 span.indentedSpan {
    margin-left: 220px;
}

ul.nav.nav-list.abn-tree .level-24 span.indentedSpan {
    margin-left: 230px;
}

ul.nav.nav-list.abn-tree .level-25 span.indentedSpan {
    margin-left: 240px;
}

/*#endregion*/

/*#region OLD CODE*/
/*.abn-tree > li.active {
            background-color: #0088CC !important;
            color: #FFF !important;
            border-radius: 5px;
        }

            .abn-tree > li.active > a {
                color: #FFF !important;
            }

        .abn-tree > li > a {
            background: none !important;
            border: none !important;
        }

    .abn-tree > li.active > a,
    .abn-tree > li.active > a:hover,
    .abn-tree > li.active > a:focus {
        color: #000;
        background: none !important;
        border: none !important;
    }

    .abn-tree > li:hover,
    .abn-tree > li:focus {
        background: #FFF;
    }*/
/*#endregion*/

.notifications {
    position: fixed;
    z-index: 50000;
}

    .notifications.top-right {
        right: 10px;
        top: 80px;
    }

    .notifications.top-left {
        left: 10px;
        top: 25px;
    }

    .notifications.bottom-left {
        left: 10px;
        bottom: 25px;
    }

    .notifications.bottom-right {
        right: 10px;
        bottom: 25px;
    }

    .notifications > div {
        position: relative;
        z-index: 9999;
        margin: 5px 0px;
    }

    .notifications.center {
        top: 48%;
        left: 0;
        width: 100%;
    }

        .notifications.center > div {
            margin: 5px auto;
            width: 20%;
            text-align: center;
        }

/*
 * qTip2 - Pretty powerful tooltips - v2.1.1
 * http://qtip2.com
 *
 * Copyright (c) 2013 Craig Michael Thompson
 * Released under the MIT, GPL licenses
 * http://jquery.org/license
 *
 * Date: Thu Jul 11 2013 02:03 GMT+0100+0100
 * Plugins: tips modal viewport svg imagemap ie6
 * Styles: basic css3
 */
.qtip {
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;
    /*max-width: 280px;*/
    min-width: 50px;
    font-size: 12px;
    line-height: 16px;
    direction: ltr;
    box-shadow: none;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.qtip-content {
    position: relative;
    padding: 5px 9px;
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
    /*height: 100px;
    overflow: auto;*/
}

.qtip-titlebar {
    position: relative;
    padding: 5px 35px 5px 10px;
    overflow: hidden;
    border-width: 0 0 1px;
    font-weight: bold;
    display: none;
}

    .qtip-titlebar + .qtip-content {
        border-top-width: 0 !important;
    }

/* Default close button class */
.qtip-close {
    position: absolute;
    right: -9px;
    top: -9px;
    cursor: pointer;
    outline: medium none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.qtip-titlebar .qtip-close {
    right: 4px;
    top: 50%;
    margin-top: -9px;
}

* html .qtip-titlebar .qtip-close {
    top: 16px;
}
/* IE fix */

.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon {
    display: block;
    text-indent: -1000em;
    direction: ltr;
}

.qtip-icon, .qtip-icon .ui-icon {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}

    .qtip-icon .ui-icon {
        width: 18px;
        height: 14px;
        line-height: 14px;
        text-align: center;
        text-indent: 0;
        font: normal bold 10px/13px Tahoma,sans-serif;
        color: inherit;
        background: transparent none no-repeat -100em -100em;
    }

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.qtip-focus {
}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.qtip-hover {
}

/* Default tooltip style */
.qtip-default {
    border-width: 1px;
    border-style: solid;
    border-color: #F1D031;
    background-color: #FFFFA3;
    color: #555;
}

    .qtip-default .qtip-titlebar {
        background-color: #FFEF93;
    }

    .qtip-default .qtip-icon {
        border-color: #CCC;
        background: #F1F1F1;
        color: #777;
    }

    .qtip-default .qtip-titlebar .qtip-close {
        border-color: #AAA;
        color: #111;
    }



/*! Light tooltip style */
.qtip-light {
    background-color: white;
    border-color: #E2E2E2;
    color: #454545;
}

    .qtip-light .qtip-titlebar {
        background-color: #f1f1f1;
    }


/*! Dark tooltip style */
.qtip-dark {
    background-color: #505050;
    border-color: #303030;
    color: #f3f3f3;
    opacity: 0.4;
}

    .qtip-dark .qtip-titlebar {
        background-color: #404040;
    }

    .qtip-dark .qtip-icon {
        border-color: #444;
    }

    .qtip-dark .qtip-titlebar .ui-state-hover {
        border-color: #303030;
    }


/*! Cream tooltip style */
.qtip-cream {
    background-color: #FBF7AA;
    border-color: #F9E98E;
    color: #A27D35;
}

    .qtip-cream .qtip-titlebar {
        background-color: #F0DE7D;
    }

    .qtip-cream .qtip-close .qtip-icon {
        background-position: -82px 0;
    }


/*! Red tooltip style */
.qtip-red {
    background-color: #F78B83;
    border-color: #D95252;
    color: #912323;
}

    .qtip-red .qtip-titlebar {
        background-color: #F06D65;
    }

    .qtip-red .qtip-close .qtip-icon {
        background-position: -102px 0;
    }

    .qtip-red .qtip-icon {
        border-color: #D95252;
    }

    .qtip-red .qtip-titlebar .ui-state-hover {
        border-color: #D95252;
    }


/*! Green tooltip style */
.qtip-green {
    background-color: #CAED9E;
    border-color: #90D93F;
    color: #3F6219;
}

    .qtip-green .qtip-titlebar {
        background-color: #B0DE78;
    }

    .qtip-green .qtip-close .qtip-icon {
        background-position: -42px 0;
    }


/*! Blue tooltip style */
.qtip-blue {
    background-color: #E5F6FE;
    border-color: #ADD9ED;
    color: #5E99BD;
}

    .qtip-blue .qtip-titlebar {
        background-color: #D0E9F5;
    }

    .qtip-blue .qtip-close .qtip-icon {
        background-position: -2px 0;
    }



.qtip-shadow {
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

/* Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.qtip-rounded,
.qtip-tipsy,
.qtip-bootstrap {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .qtip-rounded .qtip-titlebar {
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

/*#region QTIP for Description in TASKS LIST*/

.qtip-desc {
    max-width: 400px;
}

/*#endregion*/

/* Youtube tooltip style */
.qtip-youtube {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px #333;
    -moz-box-shadow: 0 0 3px #333;
    box-shadow: 0 0 3px #333;
    color: white;
    border-width: 0;
    background: #4A4A4A;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4A4A4A),color-stop(100%,black));
    background-image: -webkit-linear-gradient(top,#4A4A4A 0,black 100%);
    background-image: -moz-linear-gradient(top,#4A4A4A 0,black 100%);
    background-image: -ms-linear-gradient(top,#4A4A4A 0,black 100%);
    background-image: -o-linear-gradient(top,#4A4A4A 0,black 100%);
}

    .qtip-youtube .qtip-titlebar {
        background-color: #4A4A4A;
        background-color: rgba(0,0,0,0);
    }

    .qtip-youtube .qtip-content {
        padding: .75em;
        font: 12px arial,sans-serif;
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);";
    }

    .qtip-youtube .qtip-icon {
        border-color: #222;
    }

    .qtip-youtube .qtip-titlebar .ui-state-hover {
        border-color: #303030;
    }


/* jQuery TOOLS Tooltip style */
.qtip-jtools {
    background: #232323;
    background: rgba(0, 0, 0, 0.7);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#717171), to(#232323));
    background-image: -moz-linear-gradient(top, #717171, #232323);
    background-image: -webkit-linear-gradient(top, #717171, #232323);
    background-image: -ms-linear-gradient(top, #717171, #232323);
    background-image: -o-linear-gradient(top, #717171, #232323);
    border: 2px solid #ddd;
    border: 2px solid rgba(241,241,241,1);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 12px #333;
    -moz-box-shadow: 0 0 12px #333;
    box-shadow: 0 0 12px #333;
}

    /* IE Specific */
    .qtip-jtools .qtip-titlebar {
        background-color: transparent;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)";
    }

    .qtip-jtools .qtip-content {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)";
    }

    .qtip-jtools .qtip-titlebar,
    .qtip-jtools .qtip-content {
        background: transparent;
        color: white;
        border: 0 dashed transparent;
    }

    .qtip-jtools .qtip-icon {
        border-color: #555;
    }

    .qtip-jtools .qtip-titlebar .ui-state-hover {
        border-color: #333;
    }


/* Cluetip style */
.qtip-cluetip {
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    background-color: #D9D9C2;
    color: #111;
    border: 0 dashed transparent;
}

    .qtip-cluetip .qtip-titlebar {
        background-color: #87876A;
        color: white;
        border: 0 dashed transparent;
    }

    .qtip-cluetip .qtip-icon {
        border-color: #808064;
    }

    .qtip-cluetip .qtip-titlebar .ui-state-hover {
        border-color: #696952;
        color: #696952;
    }


/* Tipsy style */
.qtip-tipsy {
    background: black;
    background: rgba(0, 0, 0, .87);
    color: white;
    border: 0 solid transparent;
    font-size: 11px;
    font-family: 'Lucida Grande', sans-serif;
    font-weight: bold;
    line-height: 16px;
    text-shadow: 0 1px black;
}

    .qtip-tipsy .qtip-titlebar {
        padding: 6px 35px 0 10px;
        background-color: transparent;
    }

    .qtip-tipsy .qtip-content {
        padding: 6px 10px;
    }

    .qtip-tipsy .qtip-icon {
        border-color: #222;
        text-shadow: none;
    }

    .qtip-tipsy .qtip-titlebar .ui-state-hover {
        border-color: #303030;
    }


/* Tipped style */
.qtip-tipped {
    border: 3px solid #959FA9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #F9F9F9;
    color: #454545;
    font-weight: normal;
    font-family: serif;
}

    .qtip-tipped .qtip-titlebar {
        border-bottom-width: 0;
        color: white;
        background: #3A79B8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#3A79B8), to(#2E629D));
        background-image: -webkit-linear-gradient(top, #3A79B8, #2E629D);
        background-image: -moz-linear-gradient(top, #3A79B8, #2E629D);
        background-image: -ms-linear-gradient(top, #3A79B8, #2E629D);
        background-image: -o-linear-gradient(top, #3A79B8, #2E629D);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)";
    }

    .qtip-tipped .qtip-icon {
        border: 2px solid #285589;
        background: #285589;
    }

        .qtip-tipped .qtip-icon .ui-icon {
            background-color: #FBFBFB;
            color: #555;
        }


/**
 * Twitter Bootstrap style.
 *
 * Tested with IE 8, IE 9, Chrome 18, Firefox 9, Opera 11.
 * Does not work with IE 7.
 */
.qtip-bootstrap {
    /** Taken from Bootstrap body */
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 16px;
    color: #333333;
    /** Taken from Bootstrap .popover */
    padding: 1px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

    .qtip-bootstrap .qtip-titlebar {
        /** Taken from Bootstrap .popover-title */
        padding: 8px 14px;
        margin: 0;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        background-color: #f7f7f7;
        border-bottom: 1px solid #ebebeb;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

        .qtip-bootstrap .qtip-titlebar .qtip-close {
            /**
     * Overrides qTip2:
     * .qtip-titlebar .qtip-close{
     *   [...]
     *   right: 4px;
     *   top: 50%;
     *   [...]
     *   border-style: solid;
     * }
     */
            right: 11px;
            top: 45%;
            border-style: none;
        }

    .qtip-bootstrap .qtip-content {
        /** Taken from Bootstrap .popover-content */
        padding: 9px 14px;
    }

    .qtip-bootstrap .qtip-icon {
        /**
     * Overrides qTip2:
     * .qtip-default .qtip-icon {
     *   border-color: #CCC;
     *   background: #F1F1F1;
     *   color: #777;
     * }
     */
        background: transparent;
    }

        .qtip-bootstrap .qtip-icon .ui-icon {
            /**
     * Overrides qTip2:
     * .qtip-icon .ui-icon{
     *   width: 18px;
     *   height: 14px;
     * }
     */
            width: auto;
            height: auto;
            /* Taken from Bootstrap .close */
            float: right;
            font-size: 20px;
            font-weight: bold;
            line-height: 13px;
            color: #000000;
            text-shadow: 0 1px 0 #ffffff;
            opacity: 0.2;
            filter: alpha(opacity=20);
        }

            .qtip-bootstrap .qtip-icon .ui-icon:hover {
                /* Taken from Bootstrap .close:hover */
                color: #000000;
                text-decoration: none;
                cursor: pointer;
                opacity: 0.4;
                filter: alpha(opacity=40);
            }


/* IE9 fix - removes all filters */
.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar {
    filter: none;
    -ms-filter: none;
}



.qtip .qtip-tip {
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
}

/* Opera bug #357 - Incorrect tip position
https://github.com/Craga89/qTip2/issues/367 */
x:-o-prefocus, .qtip .qtip-tip {
    visibility: hidden;
}

    .qtip .qtip-tip,
    .qtip .qtip-tip .qtip-vml,
    .qtip .qtip-tip canvas {
        position: absolute;
        color: #123456;
        background: transparent;
        border: 0 dashed transparent;
    }

        .qtip .qtip-tip canvas {
            top: 0;
            left: 0;
        }

        .qtip .qtip-tip .qtip-vml {
            behavior: url(#default#VML);
            display: inline-block;
            visibility: visible;
        }

#qtip-overlay {
    position: fixed;
    left: -10000em;
    top: -10000em;
}

    /* Applied to modals with show.modal.blur set to true */
    #qtip-overlay.blurs {
        cursor: pointer;
    }

    /* Change opacity of overlay here */
    #qtip-overlay div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.7;
        filter: alpha(opacity=70);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    }

.qtipmodal-ie6fix {
    position: absolute !important;
}


/*#region Qtip Table*/
/*For the Table structure inside Qtip*/

.qtipLoader {
    min-width: 200px;
    text-align: center;
}

.noRecord {
    display: inline-block;
    text-align: center;
    width: 200px;
}

.qtipTable {
    width: 100%;
    border: 1px solid #333;
}

    .qtipTable thead {
        background-color: #333;
        color: #FFF;
        border-bottom: 1px solid #333;
    }

    .qtipTable th,
    .qtipTable td {
        padding: 2px 5px;
        border-right: 1px solid #333;
    }

        .qtipTable th:last-child,
        .qtipTable td:last-child {
            border-right: none;
        }

.qtipTable-blue {
    width: 100%;
    border: 1px solid #ADD9ED;
}

    .qtipTable-blue thead {
        background-color: #5E99BD;
        color: #E5F6FE;
        border-bottom: 1px solid #ADD9ED;
    }

    .qtipTable-blue th,
    .qtipTable-blue td {
        padding: 2px 5px;
        border-right: 1px solid #ADD9ED;
    }

        .qtipTable-blue th:last-child,
        .qtipTable-blue td:last-child {
            border-right: none;
        }

ul.qtipList {
    border: 2px solid #212121;
    border-radius: 5px;
    background-color: #333;
    color: #FFF;
}

    ul.qtipList li {
        display: inline-block;
        width: 100%;
        padding: 2px 5px;
        margin-bottom: 3px;
    }

        ul.qtipList li > .label-left {
            display: inline-block;
            margin-right: 5px;
            width: 40%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bold;
        }

        ul.qtipList li > .label-right {
            display: inline-block;
            min-width: 50px;
            width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

/*#endregion*/

/*
Version: 3.4.2 Timestamp: Mon Aug 12 15:04:12 PDT 2013
*/
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    width: 200px;/*Added by Prabhu*/
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
}

.select2-container .select2-choice {
    display: block;
    height: 28px;/*Added by Prabhu   height: 26px;*/
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;

    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 28px;/*Added by Prabhu   line-height: 26px;*/
    color: #444;
    text-decoration: none;

    border-radius: 2px;/*Added by Prabhu  border-radius: 4px;*/

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -o-linear-gradient(bottom, #eee 0%, #fff 50%);
    background-image: -ms-linear-gradient(top, #fff 0%, #eee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #fff 0%, #eee 50%);
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;

    border-radius: 0 0 4px 4px;

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
    background-image: -o-linear-gradient(bottom, #eee 0%, #fff 90%);
    background-image: -ms-linear-gradient(top, #eee 0%, #fff 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    background-image: linear-gradient(top, #eee 0%, #fff 90%);
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;
}

.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('../img/select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
    display: inline-block;
}

.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    /* styles required for IE to work */
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
}

.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;

    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;

    border-radius: 0 0 4px 4px;

    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.select2-drop-auto-width {
    border-top: 1px solid #aaa;
    width: auto;
}

.select2-drop-auto-width .select2-search {
    padding-top: 4px;
}

.select2-drop.select2-drop-above {
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;

    border-radius: 4px 4px 0 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-drop-active {
    border: 1px solid #5897fb;
    border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #5897fb;
}

.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    border-left: 1px solid #aaa;
    border-radius: 0 4px 4px 0;

    background-clip: padding-box;

    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
    background-image: -ms-linear-gradient(top, #ccc 0%, #eee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: linear-gradient(top, #ccc 0%, #eee 60%);
}

.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/select2.png') no-repeat 0 1px;
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;
    font-family: sans-serif;
    font-size: 1em;

    border: 1px solid #aaa;
    border-radius: 0;

    -webkit-box-shadow: none;
            box-shadow: none;

    background: #fff url('../img/select2.png') no-repeat 100% -22px;
    background: url('../img/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('../img/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../img/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../img/select2.png') no-repeat 100% -22px, -o-linear-gradient(bottom, #fff 85%, #eee 99%);
    background: url('../img/select2.png') no-repeat 100% -22px, -ms-linear-gradient(top, #fff 85%, #eee 99%);
    background: url('../img/select2.png') no-repeat 100% -22px, linear-gradient(top, #fff 85%, #eee 99%);
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}

.select2-search input.select2-active {
    background: #fff url('../img/select2-spinner.gif') no-repeat 100%;
    background: url('../img/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('../img/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../img/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('../img/select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, #fff 85%, #eee 99%);
    background: url('../img/select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #fff 85%, #eee 99%);
    background: url('../img/select2-spinner.gif') no-repeat 100%, linear-gradient(top, #fff 85%, #eee 99%);
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid rgba(82,168,236,0.8);
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
            box-shadow: 0 1px 0 #fff inset;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
    background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
    background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(bottom, #fff 0%, #eee 50%);
    background-image: -ms-linear-gradient(top, #fff 0%, #eee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
    background-image: linear-gradient(top, #fff 0%, #eee 50%);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid rgba(82,168,236,0.8);
    border-top-color: transparent;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
    background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
    background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -ms-linear-gradient(bottom, #fff 0%, #eee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
    background-image: linear-gradient(bottom, #fff 0%, #eee 50%);
}

.select2-dropdown-open .select2-choice .select2-arrow {
    background: transparent;
    border-left: none;
    filter: none;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}

/* results */
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label { padding-left: 20px }
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px }

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    word-break: break-all;      /*Added By Madhur for Long Values (without Spaces) - 12 JAN'15*/

    min-height: 1em;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: #fff;
    color: #000;
}


.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('../img/select2-spinner.gif') no-repeat 100%;
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none;
}


/* multiselect */

.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;

    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;

    background-color: #fff;
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -o-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -ms-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: linear-gradient(top, #eee 1%, #fff 15%); */
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid rgba(82,168,236,0.8);
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 3px 5px;
    margin: 1px 0;

    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('../img/select2-spinner.gif') no-repeat 100% !important;
}

.select2-default {
    color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;

    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;

    border-radius: 3px;

    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}

.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;

    font-size: 1px;
    outline: none;
    background: url('../img/select2.png') right top no-repeat;
}

.select2-container-multi .select2-search-choice-close {
    left: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {    display: none;
    background: none;
}
/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}
/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)  {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
      background-image: url('../img/select2x2.png') !important;
      background-repeat: no-repeat !important;
      background-size: 60px 40px !important;
  }
  .select2-search input {
      background-position: 100% -21px !important;
  }
}

/* jquery.Jcrop.css v0.9.12 - MIT License */
/*
  The outer-most container in a typical Jcrop instance
  If you are having difficulty with formatting related to styles
  on a parent element, place any fixes here or in a like selector

  You can also style this element if you want to add a border, etc
  A better method for styling can be seen below with .jcrop-light
  (Add a class to the holder and style elements for that extended class)
*/
.jcrop-holder {
  direction: ltr;
  text-align: left;
}
/* Selection Border */
.jcrop-vline,
.jcrop-hline {
  background: #ffffff url("/img/Jcrop.gif");
  font-size: 0;
  position: absolute;
}
.jcrop-vline {
  height: 100%;
  width: 1px !important;
}
.jcrop-vline.right {
  right: 0;
}
.jcrop-hline {
  height: 1px !important;
  width: 100%;
}
.jcrop-hline.bottom {
  bottom: 0;
}
/* Invisible click targets */
.jcrop-tracker {
  height: 100%;
  width: 100%;
  /* "turn off" link highlight */
  -webkit-tap-highlight-color: transparent;
  /* disable callout, image save panel */
  -webkit-touch-callout: none;
  /* disable cut copy paste */
  -webkit-user-select: none;
}
/* Selection Handles */
.jcrop-handle {
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px;
}
.jcrop-handle.ord-n {
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}
.jcrop-handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px;
}
.jcrop-handle.ord-e {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 50%;
}
.jcrop-handle.ord-w {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%;
}
.jcrop-handle.ord-nw {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}
.jcrop-handle.ord-ne {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 0;
}
.jcrop-handle.ord-se {
  bottom: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  right: 0;
}
.jcrop-handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px;
}
/* Dragbars */
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
  height: 7px;
  width: 100%;
}
.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
  height: 100%;
  width: 7px;
}
.jcrop-dragbar.ord-n {
  margin-top: -4px;
}
.jcrop-dragbar.ord-s {
  bottom: 0;
  margin-bottom: -4px;
}
.jcrop-dragbar.ord-e {
  margin-right: -4px;
  right: 0;
}
.jcrop-dragbar.ord-w {
  margin-left: -4px;
}
/* The "jcrop-light" class/extension */
.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline {
  background: #ffffff;
  filter: alpha(opacity=70) !important;
  opacity: .70!important;
}
.jcrop-light .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 3px;
}
/* The "jcrop-dark" class/extension */
.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline {
  background: #000000;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}
.jcrop-dark .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 3px;
}
/* Simple macro to turn off the antlines */
.solid-line .jcrop-vline,
.solid-line .jcrop-hline {
  background: #ffffff;
}
/* Fix for twitter bootstrap et al. */
.jcrop-holder img,
img.jcrop-preview {
  max-width: none;
}

