
.pace {
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    background-clip: padding-box;
    height: 15px;
    left: 0;
    margin: auto;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2000;
}
.pace .pace-progress {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #0088cc;
    color: #000000;
    font-family: Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 3px;
    line-height: 18px;
    position: absolute;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
    z-index: 2000;
}
.pace .pace-progress:after {
    display: inline-block;
    color: #fff;
}
.pace.pace-inactive {
    display: none;
}
.pace-activity {
    font-size: 12px;
    top: 4px;
    left: 0px;
    text-align: center;
    margin-left: -5px;
    width: 100px;
    position: absolute;
}
.pace-activity:after {
    color: #ddd;
    content: "Loading...";
    display: inline-block;
}