/*
* Pick-a-Color CSS v1.1.4
* Copyright 2013 Lauren Sperber and Broadstreet Ads
* https://github.com/lauren/pick-a-color/blob/master/LICENSE
*/
div.pick-a-color-markup {
    margin: 0;
    padding: 0;
}

    div.pick-a-color-markup .hex-pound {
        display: inline-block;
        height: 20px;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        text-shadow: 0 1px 0 #fff;
        background-color: #eee;
        border: 1px solid #ccc;
        margin-right: -1px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
        padding: 4px 5px;
        vertical-align: top;
    }

@media screen and (max-width:979px) {
    div.pick-a-color-markup .hex-pound {
        padding: 8px 5px 0 5px;
        min-height: 30px;
        vertical-align: middle;
    }
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .add-on {
        padding: 8px 5px 0 5px;
    }
}

div.pick-a-color-markup .color-text-input {
    text-align: left;
    width: 118px; /*124px;*/
    vertical-align: middle;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .color-text-input {
        min-width: 200px;
        font-size: 16px;
        padding: 9px;
    }
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup #appendedDropdownButton {
        height: 40px;
    }
}

div.pick-a-color-markup .btn-group {
    vertical-align: top;
}

    div.pick-a-color-markup .btn-group .color-dropdown {
        height: 30px;
        padding: 3px 5px;
    }

        div.pick-a-color-markup .btn-group .color-dropdown.no-hex {
            -webkit-border-top-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-bottomleft: 4px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

@media screen and (max-width:979px) {
    div.pick-a-color-markup .btn-group .color-dropdown {
        height: 40px;
    }
}

div.pick-a-color-markup .color-preview {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.07);
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.07);
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
}

    div.pick-a-color-markup .color-preview.current-color {
        margin-bottom: 1px;
        margin-right: 3px;
    }

@media screen and (max-width:979px) {
    div.pick-a-color-markup .color-preview {
        height: 30px;
        width: 30px;
    }
}

div.pick-a-color-markup .caret {
    vertical-align: bottom;
    margin-bottom: 15px;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .caret {
        margin-bottom: 20px;
    }
}

div.pick-a-color-markup .color-menu {
    text-align: left;
    padding: 5px 0;
    width: 330px;
    font-size: 14px;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .color-menu {
        left: -239px;
        width: 293px;
    }
}

div.pick-a-color-markup .color-menu.small {
    width: 100px;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .color-menu.small {
        left: -105px;
    }
}

div.pick-a-color-markup .color-menu.no-hex {
    left: 0;
}

div.pick-a-color-markup .color-menu ul {
    padding: 0;
    margin: 0;
}

div.pick-a-color-markup .color-menu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.pick-a-color-markup .color-menu .color-preview {
    vertical-align: middle;
    margin: 0;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .color-menu .color-preview {
        height: 35px;
        width: 35px;
    }
}

div.pick-a-color-markup .color-menu .color-preview.current-color, div.pick-a-color-markup .color-menu .color-preview.white {
    background-color: #fff;
}

div.pick-a-color-markup .color-menu .color-preview.red {
    background-color: red;
}

div.pick-a-color-markup .color-menu .color-preview.orange {
    background-color: #f60;
}

div.pick-a-color-markup .color-menu .color-preview.yellow {
    background-color: #ff0;
}

div.pick-a-color-markup .color-menu .color-preview.green {
    background-color: #008000;
}

div.pick-a-color-markup .color-menu .color-preview.blue {
    background-color: #00f;
}

div.pick-a-color-markup .color-menu .color-preview.indigo {
    background-color: #4a0080;
}

div.pick-a-color-markup .color-menu .color-preview.violet {
    background-color: #ee81ee;
}

div.pick-a-color-markup .color-menu .color-preview.purple {
    background-color: #80007f;
}

div.pick-a-color-markup .color-menu .color-preview.black {
    background-color: #000;
}

div.pick-a-color-markup .color-menu .basicColors-content li > a, div.pick-a-color-markup .color-menu .savedColors-content li > a {
    padding: 5px 15px 3px 15px;
    cursor: default;
    min-height: 25px;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .color-menu .basicColors-content li > a, div.pick-a-color-markup .color-menu .savedColors-content li > a {
        min-height: 40px;
    }
}

div.pick-a-color-markup .color-menu .basicColors-content li:hover a, div.pick-a-color-markup .color-menu .savedColors-content li:hover a {
    background-color: #eee;
    -webkit-transition: background-color .5s ease-in;
    -moz-transition: background-color .5s ease-in;
    -o-transition: background-color .5s ease-in;
    transition: background-color .5s ease-in;
    color: #333;
    background-image: none;
    filter: none;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .color-menu .basicColors-content li:hover a, div.pick-a-color-markup .color-menu .savedColors-content li:hover a {
        background-color: #fff;
    }
}

div.pick-a-color-markup .color-menu .btn.color-select {
    margin: 0 5px;
    height: 22px;
    padding: 0 5px;
    margin-top: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .color-menu .btn.color-select {
        height: 37px;
    }
}

div.pick-a-color-markup .color-menu-instructions, div.pick-a-color-markup .advanced-instructions {
    text-align: center;
    padding: 0 6px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

@media screen and (min-width:979px) {
    div.pick-a-color-markup .color-menu-instructions, div.pick-a-color-markup .advanced-instructions {
        display: none;
    }
}

div.pick-a-color-markup .color-label {
    vertical-align: middle;
    margin: 0;
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .color-label {
        margin-left: 8px;
    }
}

div.pick-a-color-markup .color-box {
    height: 20px;
    width: 200px;
    position: absolute;
    left: 115px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.07);
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.07);
    cursor: pointer;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .color-box {
        width: 160px;
        height: 35px;
    }
}

div.pick-a-color-markup .black .highlight-band-stripe {
    background-color: #fff;
}

div.pick-a-color-markup .spectrum-white {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(1,#808080));
    background-image: -moz-linear-gradient(left center,#fff 0,#808080 100%);
    background-image: -webkit-linear-gradient(left,#fff,#808080);
    background-image: -o-linear-gradient(left,#fff,#808080);
    background-image: linear-gradient(to right,#fff,#808080);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ff808080',GradientType=1);
}

    div.pick-a-color-markup .spectrum-white .highlight-band {
        left: 0;
    }

div.pick-a-color-markup .spectrum-red {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(0.5,#f00),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#fff 0,#f00 50%,#000 100%);
    background-image: -webkit-linear-gradient(left,#fff 0,#f00 50%,#000 100%);
    background-image: -o-linear-gradient(left,#fff 0,#f00 50%,#000 100%);
    background-image: linear-gradient(to right,#fff 0,#f00 50%,#000 100%);
    background-repeat: repeat-x;
}

div.pick-a-color-markup .spectrum-orange {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(0.5,#f60),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#fff 0,#f60 50%,#000 100%);
    background-image: -webkit-linear-gradient(left,#fff 0,#f60 50%,#000 100%);
    background-image: -o-linear-gradient(left,#fff 0,#f60 50%,#000 100%);
    background-image: linear-gradient(to right,#fff 0,#f60 50%,#000 100%);
    background-repeat: repeat-x;
}

div.pick-a-color-markup .spectrum-yellow {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(0.5,#ff0),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#fff 0,#ff0 50%,#000 100%);
    background-image: -webkit-linear-gradient(left,#fff 0,#ff0 50%,#000 100%);
    background-image: -o-linear-gradient(left,#fff 0,#ff0 50%,#000 100%);
    background-image: linear-gradient(to right,#fff 0,#ff0 50%,#000 100%);
    background-repeat: repeat-x;
}

div.pick-a-color-markup .spectrum-green {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#80ff80),color-stop(0.5,#008000),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#80ff80 0,#008000 50%,#000 100%);
    background-image: -webkit-linear-gradient(left,#80ff80 0,#008000 50%,#000 100%);
    background-image: -o-linear-gradient(left,#80ff80 0,#008000 50%,#000 100%);
    background-image: linear-gradient(to right,#80ff80 0,#008000 50%,#000 100%);
    background-repeat: repeat-x;
}

div.pick-a-color-markup .spectrum-blue {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(0.5,#00f),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#fff 0,#00f 50%,#000 100%);
    background-image: -webkit-linear-gradient(left,#fff 0,#00f 50%,#000 100%);
    background-image: -o-linear-gradient(left,#fff 0,#00f 50%,#000 100%);
    background-image: linear-gradient(to right,#fff 0,#00f 50%,#000 100%);
    background-repeat: repeat-x;
}

div.pick-a-color-markup .spectrum-purple {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#ff80ff),color-stop(0.5,#80007f),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#ff80ff 0,#80007f 50%,#000 100%);
    background-image: -webkit-linear-gradient(left,#ff80ff 0,#80007f 50%,#000 100%);
    background-image: -o-linear-gradient(left,#ff80ff 0,#80007f 50%,#000 100%);
    background-image: linear-gradient(to right,#ff80ff 0,#80007f 50%,#000 100%);
    background-repeat: repeat-x;
}

div.pick-a-color-markup .spectrum-black {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#000),color-stop(1,#808080));
    background-image: -moz-linear-gradient(left center,#000 0,#808080 100%);
    background-image: -webkit-linear-gradient(left,#000,#808080);
    background-image: -o-linear-gradient(left,#000,#808080);
    background-image: linear-gradient(to right,#000,#808080);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000',endColorstr='#ff808080',GradientType=1);
}

    div.pick-a-color-markup .spectrum-black .highlight-band {
        left: 0;
        border: 1px solid gray;
    }

div.pick-a-color-markup .ie-spectrum {
    height: 20px;
    width: 100px;
    display: inline-block;
    top: -1;
}

    div.pick-a-color-markup .ie-spectrum.hue {
        width: 50.5px;
    }

@media screen and (max-width:979px) {
    div.pick-a-color-markup .ie-spectrum.hue {
        width: 45.5px;
    }
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .ie-spectrum {
        width: 80px;
        height: 35px;
    }
}

div.pick-a-color-markup .red-spectrum-0, div.pick-a-color-markup .lightness-spectrum-0 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(1,#f00));
    background-image: -moz-linear-gradient(left center,#fff 0,#f00 100%);
    background-image: -webkit-linear-gradient(left,#fff,#f00);
    background-image: -o-linear-gradient(left,#fff,#f00);
    background-image: linear-gradient(to right,#fff,#f00);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffff0000',GradientType=1);
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

div.pick-a-color-markup .red-spectrum-1, div.pick-a-color-markup .lightness-spectrum-1 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#f00),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#f00 0,#000 100%);
    background-image: -webkit-linear-gradient(left,#f00,#000);
    background-image: -o-linear-gradient(left,#f00,#000);
    background-image: linear-gradient(to right,#f00,#000);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0000',endColorstr='#ff000000',GradientType=1);
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.pick-a-color-markup .lightness-spectrum-0, div.pick-a-color-markup .lightness-spectrum-1 {
    width: 150px;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .lightness-spectrum-0, div.pick-a-color-markup .lightness-spectrum-1 {
        width: 135px;
    }
}

div.pick-a-color-markup .orange-spectrum-0 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(1,#f60));
    background-image: -moz-linear-gradient(left center,#fff 0,#f60 100%);
    background-image: -webkit-linear-gradient(left,#fff,#f60);
    background-image: -o-linear-gradient(left,#fff,#f60);
    background-image: linear-gradient(to right,#fff,#f60);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffff6600',GradientType=1);
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

div.pick-a-color-markup .orange-spectrum-1 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#f60),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#f60 0,#000 100%);
    background-image: -webkit-linear-gradient(left,#f60,#000);
    background-image: -o-linear-gradient(left,#f60,#000);
    background-image: linear-gradient(to right,#f60,#000);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff6600',endColorstr='#ff000000',GradientType=1);
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.pick-a-color-markup .yellow-spectrum-0 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(1,#ff0));
    background-image: -moz-linear-gradient(left center,#fff 0,#ff0 100%);
    background-image: -webkit-linear-gradient(left,#fff,#ff0);
    background-image: -o-linear-gradient(left,#fff,#ff0);
    background-image: linear-gradient(to right,#fff,#ff0);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffffff00',GradientType=1);
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

div.pick-a-color-markup .yellow-spectrum-1 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#ff0),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#ff0 0,#000 100%);
    background-image: -webkit-linear-gradient(left,#ff0,#000);
    background-image: -o-linear-gradient(left,#ff0,#000);
    background-image: linear-gradient(to right,#ff0,#000);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff00',endColorstr='#ff000000',GradientType=1);
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.pick-a-color-markup .green-spectrum-0 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#80ff80),color-stop(1,#008000));
    background-image: -moz-linear-gradient(left center,#80ff80 0,#008000 100%);
    background-image: -webkit-linear-gradient(left,#80ff80,#008000);
    background-image: -o-linear-gradient(left,#80ff80,#008000);
    background-image: linear-gradient(to right,#80ff80,#008000);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff80ff80',endColorstr='#ff008000',GradientType=1);
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

div.pick-a-color-markup .green-spectrum-1 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#008000),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#008000 0,#000 100%);
    background-image: -webkit-linear-gradient(left,#008000,#000);
    background-image: -o-linear-gradient(left,#008000,#000);
    background-image: linear-gradient(to right,#008000,#000);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008000',endColorstr='#ff000000',GradientType=1);
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.pick-a-color-markup .blue-spectrum-0 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(1,#00f));
    background-image: -moz-linear-gradient(left center,#fff 0,#00f 100%);
    background-image: -webkit-linear-gradient(left,#fff,#00f);
    background-image: -o-linear-gradient(left,#fff,#00f);
    background-image: linear-gradient(to right,#fff,#00f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ff0000ff',GradientType=1);
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

div.pick-a-color-markup .blue-spectrum-1 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#00f),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#00f 0,#000 100%);
    background-image: -webkit-linear-gradient(left,#00f,#000);
    background-image: -o-linear-gradient(left,#00f,#000);
    background-image: linear-gradient(to right,#00f,#000);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000ff',endColorstr='#ff000000',GradientType=1);
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.pick-a-color-markup .purple-spectrum-0 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#ff80ff),color-stop(1,#80007f));
    background-image: -moz-linear-gradient(left center,#ff80ff 0,#80007f 100%);
    background-image: -webkit-linear-gradient(left,#ff80ff,#80007f);
    background-image: -o-linear-gradient(left,#ff80ff,#80007f);
    background-image: linear-gradient(to right,#ff80ff,#80007f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff80ff',endColorstr='#ff80007f',GradientType=1);
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

div.pick-a-color-markup .purple-spectrum-1 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#80007f),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#80007f 0,#000 100%);
    background-image: -webkit-linear-gradient(left,#80007f,#000);
    background-image: -o-linear-gradient(left,#80007f,#000);
    background-image: linear-gradient(to right,#80007f,#000);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff80007f',endColorstr='#ff000000',GradientType=1);
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.pick-a-color-markup .saturation-spectrum-0 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#808080),color-stop(1,#bf4040));
    background-image: -moz-linear-gradient(left center,#808080 0,#bf4040 100%);
    background-image: -webkit-linear-gradient(left,#808080,#bf4040);
    background-image: -o-linear-gradient(left,#808080,#bf4040);
    background-image: linear-gradient(to right,#808080,#bf4040);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff808080',endColorstr='#ffbf4040',GradientType=1);
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 150px;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .saturation-spectrum-0 {
        width: 135px;
    }
}

div.pick-a-color-markup .saturation-spectrum-1 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#bf4040),color-stop(1,#f00));
    background-image: -moz-linear-gradient(left center,#bf4040 0,#f00 100%);
    background-image: -webkit-linear-gradient(left,#bf4040,#f00);
    background-image: -o-linear-gradient(left,#bf4040,#f00);
    background-image: linear-gradient(to right,#bf4040,#f00);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf4040',endColorstr='#ffff0000',GradientType=1);
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 150px;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .saturation-spectrum-1 {
        width: 135px;
    }
}

div.pick-a-color-markup .hue-spectrum-0 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#f00),color-stop(1,#ff0));
    background-image: -moz-linear-gradient(left center,#f00 0,#ff0 100%);
    background-image: -webkit-linear-gradient(left,#f00,#ff0);
    background-image: -o-linear-gradient(left,#f00,#ff0);
    background-image: linear-gradient(to right,#f00,#ff0);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0000',endColorstr='#ffffff00',GradientType=1);
}

div.pick-a-color-markup .hue-spectrum-1 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#ff0),color-stop(1,#0f0));
    background-image: -moz-linear-gradient(left center,#ff0 0,#0f0 100%);
    background-image: -webkit-linear-gradient(left,#ff0,#0f0);
    background-image: -o-linear-gradient(left,#ff0,#0f0);
    background-image: linear-gradient(to right,#ff0,#0f0);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff00',endColorstr='#ff00ff00',GradientType=1);
}

div.pick-a-color-markup .hue-spectrum-2 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#0f0),color-stop(1,#0ff));
    background-image: -moz-linear-gradient(left center,#0f0 0,#0ff 100%);
    background-image: -webkit-linear-gradient(left,#0f0,#0ff);
    background-image: -o-linear-gradient(left,#0f0,#0ff);
    background-image: linear-gradient(to right,#0f0,#0ff);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff00',endColorstr='#ff00ffff',GradientType=1);
    left: -1px;
    position: relative;
}

div.pick-a-color-markup .hue-spectrum-3 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#0ff),color-stop(1,#00f));
    background-image: -moz-linear-gradient(left center,#0ff 0,#00f 100%);
    background-image: -webkit-linear-gradient(left,#0ff,#00f);
    background-image: -o-linear-gradient(left,#0ff,#00f);
    background-image: linear-gradient(to right,#0ff,#00f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ffff',endColorstr='#ff0000ff',GradientType=1);
    left: -1px;
    position: relative;
}

div.pick-a-color-markup .hue-spectrum-4 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#00f),color-stop(1,#f0f));
    background-image: -moz-linear-gradient(left center,#00f 0,#f0f 100%);
    background-image: -webkit-linear-gradient(left,#00f,#f0f);
    background-image: -o-linear-gradient(left,#00f,#f0f);
    background-image: linear-gradient(to right,#00f,#f0f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000ff',endColorstr='#ffff00ff',GradientType=1);
    left: -1px;
    position: relative;
}

div.pick-a-color-markup .hue-spectrum-5 {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#f0f),color-stop(1,#f00));
    background-image: -moz-linear-gradient(left center,#f0f 0,#f00 100%);
    background-image: -webkit-linear-gradient(left,#f0f,#f00);
    background-image: -o-linear-gradient(left,#f0f,#f00);
    background-image: linear-gradient(to right,#f0f,#f00);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00ff',endColorstr='#ffff0000',GradientType=1);
    left: -2px;
    position: relative;
}

div.pick-a-color-markup .highlight-band {
    border: 1px solid #262626;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 1px #333;
    -moz-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;
    height: 19px;
    width: 11px;
    display: inline-block;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    position: absolute;
    top: -1px;
    left: 94.5px;
    text-align: center;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .highlight-band {
        width: 21px;
        left: 69.5px;
        height: 34px;
    }
}

div.pick-a-color-markup .highlight-band-stripe {
    min-height: 80%;
    min-width: 1px;
    background-color: #000;
    opacity: .40;
    margin: 2px 1px;
    display: inline-block;
    -webkit-box-shadow: 1px 0 2px 0 #fff;
    -moz-box-shadow: 1px 0 2px 0 #fff;
    box-shadow: 1px 0 2px 0 #fff;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .highlight-band-stripe {
        margin: 4px 2px;
    }
}

div.pick-a-color-markup .color-menu-tabs {
    padding: 5px 3px 3px 10px;
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

    div.pick-a-color-markup .color-menu-tabs .tab {
        padding: 5px;
        margin: 5px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        cursor: pointer;
        background-color: #fff;
    }

        div.pick-a-color-markup .color-menu-tabs .tab:hover {
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            -webkit-box-shadow: inset 0 0 rgba(0,0,0,0.075);
            -moz-box-shadow: inset 0 0 rgba(0,0,0,0.075);
            box-shadow: inset 0 0 rgba(0,0,0,0.075);
        }

    div.pick-a-color-markup .color-menu-tabs a {
        color: #333;
        text-decoration: none;
    }

    div.pick-a-color-markup .color-menu-tabs .tab-active {
        border-bottom: 3px solid #fff;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        -webkit-box-shadow: inset 0 0 rgba(0,0,0,0.075);
        -moz-box-shadow: inset 0 0 rgba(0,0,0,0.075);
        box-shadow: inset 0 0 rgba(0,0,0,0.075);
    }

div.pick-a-color-markup .active-content {
    display: block;
}

div.pick-a-color-markup .inactive-content {
    display: none;
}

div.pick-a-color-markup .savedColors-content {
    padding: 5px 15px;
    white-space: normal;
}

    div.pick-a-color-markup .savedColors-content li.color-item > a {
        margin-left: 7px;
        padding-left: 8px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
    }

div.pick-a-color-markup .saved-color-col {
    position: relative;
    left: -15px;
    float: left;
    width: 150px;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .saved-color-col {
        width: 125px;
    }
}

div.pick-a-color-markup .advanced-content ul {
    margin-top: 10px;
}

div.pick-a-color-markup .advanced-content li {
    padding: 5px 15px 3px 15px;
    cursor: default;
    min-height: 25px;
    height: 50px;
    position: relative;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .advanced-content li {
        min-height: 70px;
    }
}

div.pick-a-color-markup .advanced-content .color-preview {
    height: 50px;
    width: 300px;
    float: left;
    margin: 0 0 10px 0;
    background-color: red;
    text-align: center;
}

    div.pick-a-color-markup .advanced-content .color-preview .color-select.btn.advanced {
        margin-top: 15px;
        display: none;
    }

@media screen and (max-width:979px) {
    div.pick-a-color-markup .advanced-content .color-preview .color-select.btn.advanced {
        display: inline;
        margin-top: 7px;
    }
}

div.pick-a-color-markup .advanced-content .color-preview:hover .color-select.btn.advanced {
    display: inline;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .advanced-content .color-preview {
        width: 270px;
        margin-left: -10px;
    }
}

div.pick-a-color-markup .advanced-content .spectrum-hue {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,#f00),color-stop(17%,#ff0),color-stop(34%,#0f0),color-stop(51%,#0ff),color-stop(68%,#00f),color-stop(85%,#f0f),color-stop(100%,#f00));
    background-image: -moz-linear-gradient(left center,#f00 0,#ff0 17%,#0f0 24%,#0ff 51%,#00f 68%,#f0f 85%,#f00 100%);
    background-image: -webkit-linear-gradient(left,#f00 0,#ff0 17%,#0f0 24%,#0ff 51%,#00f 68%,#f0f 85%,#f00 100%);
    background-image: -o-linear-gradient(left,#f00 0,#ff0 17%,#0f0 24%,#0ff 51%,#00f 68%,#f0f 85%,#f00 100%);
    background-image: linear-gradient(to right,#f00 0,#ff0 17%,#0f0 24%,#0ff 51%,#00f 68%,#f0f 85%,#f00 100%);
    background-repeat: repeat-x;
}

    div.pick-a-color-markup .advanced-content .spectrum-hue .highlight-band {
        left: 0;
    }

div.pick-a-color-markup .advanced-content .spectrum-lightness {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(0.5,#f00),color-stop(1,#000));
    background-image: -moz-linear-gradient(left center,#fff 0,#f00 50%,#000 100%);
    background-image: -webkit-linear-gradient(left,#fff 0,#f00 50%,#000 100%);
    background-image: -o-linear-gradient(left,#fff 0,#f00 50%,#000 100%);
    background-image: linear-gradient(to right,#fff 0,#f00 50%,#000 100%);
    background-repeat: repeat-x;
}

div.pick-a-color-markup .advanced-content .spectrum-saturation {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#808080),color-stop(0.5,#f00),color-stop(1,#f00));
    background-image: -moz-linear-gradient(left center,#808080 0,#f00 50%,#f00 100%);
    background-image: -webkit-linear-gradient(left,#808080 0,#f00 50%,#f00 100%);
    background-image: -o-linear-gradient(left,#808080 0,#f00 50%,#f00 100%);
    background-image: linear-gradient(to right,#808080 0,#f00 50%,#f00 100%);
    background-repeat: repeat-x;
}

    div.pick-a-color-markup .advanced-content .spectrum-saturation .highlight-band {
        left: 287px;
    }

@media screen and (max-width:979px) {
    div.pick-a-color-markup .advanced-content .spectrum-saturation .highlight-band {
        left: 247px;
    }
}

div.pick-a-color-markup .advanced-content .spectrum-lightness .highlight-band {
    left: 143.5px;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .advanced-content .spectrum-lightness .highlight-band {
        left: 123.5px;
    }
}

div.pick-a-color-markup .advanced-content .lightness-text, div.pick-a-color-markup .advanced-content .hue-text, div.pick-a-color-markup .advanced-content .saturation-text, div.pick-a-color-markup .advanced-content .preview-text {
    vertical-align: middle;
    text-align: center;
    display: block;
}

div.pick-a-color-markup .advanced-content .color-box {
    left: 15px;
    top: 25px;
    width: 300px;
}

@media screen and (max-width:979px) {
    div.pick-a-color-markup .advanced-content .color-box {
        width: 270px;
        left: 5px;
    }
}

div.pick-a-color-markup .advanced-content .preview-item {
    height: 80px;
}
