/*! X-editable - v1.4.4 
* In-place editing with Twitter Bootstrap, jQuery UI or pure jQuery
* http://github.com/vitalets/x-editable
* Copyright (c) 2013 Vitaliy Potapov; Licensed MIT */

.editableform {
    margin-bottom: 0; /* overwrites bootstrap margin */
}

    .editableform .control-group {
        margin-bottom: 0; /* overwrites bootstrap margin */
        white-space: nowrap; /* prevent wrapping buttons on new line */
        line-height: 20px; /* overwriting bootstrap line-height. See #133 */
    }

.editable-buttons {
    display: inline-block; /* should be inline to take effect of parent's white-space: nowrap */
    vertical-align: top;
    margin-left: 5px;
    /* inline-block emulation for IE7*/
    zoom: 1;
    *display: inline;
}

    .editable-buttons.editable-buttons-bottom {
        display: block;
        margin-top: 7px;
        margin-left: 0;
    }

.editable-input {
    vertical-align: top;
    display: inline-block; /* should be inline to take effect of parent's white-space: nowrap */
    width: auto; /* bootstrap-responsive has width: 100% that breakes layout */
    white-space: normal; /* reset white-space decalred in parent*/
    /* display-inline emulation for IE7*/
    zoom: 1;
    *display: inline;
}

.editable-buttons .editable-cancel {
    margin-left: 5px;
}

/*for jquery-ui buttons need set height to look more pretty*/
.editable-buttons button.ui-button-icon-only {
    height: 24px;
    width: 30px;
}

.editableform-loading {
    background: url('../img/loading.gif') center center no-repeat;
    height: 25px;
    width: auto;
    min-width: 25px;
}

.editable-inline .editableform-loading {
    background-position: left 5px;
}

.editable-error-block {
    max-width: 300px;
    margin: 5px 0 0 0;
    width: auto;
    white-space: normal;
}

    /*add padding for jquery ui*/
    .editable-error-block.ui-state-error {
        padding: 3px;
    }

.editable-error {
    color: red;
}

/* ---- For specific types ---- */

.editableform .editable-date {
    padding: 0;
    margin: 0;
    float: left;
}

/* move datepicker icon to center of add-on button. See https://github.com/vitalets/x-editable/issues/183 */
.editable-inline .add-on .icon-th {
    margin-top: 3px;
    margin-left: 1px;
}


/* checklist vertical alignment */
.editable-checklist label input[type="checkbox"],
.editable-checklist label span {
    vertical-align: middle;
    margin: 0;
}

.editable-checklist label {
    white-space: nowrap;
}

/* set exact width of textarea to fit buttons toolbar */
.editable-wysihtml5 {
    width: 566px;
    height: 250px;
}

/* clear button shown as link in date inputs */
.editable-clear {
    clear: both;
    font-size: 0.9em;
    text-decoration: none;
    text-align: right;
}

/* IOS-style clear button for text inputs */
.editable-clear-x {
    background: url('../img/clear.png') center center no-repeat;
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    opacity: 0.6;
    z-index: 100;
    top: 50%;
    right: 6px;
    margin-top: -6px;
}

    .editable-clear-x:hover {
        opacity: 1;
    }

.editable-container.editable-popup {
    max-width: none !important; /* without this rule poshytip/tooltip does not stretch */
}

.editable-container.popover {
    width: auto; /* without this rule popover does not stretch */
}

.editable-container.editable-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    /* inline-block emulation for IE7*/
    zoom: 1;
    *display: inline;
}

.editable-container.ui-widget {
    font-size: inherit; /* jqueryui widget font 1.1em too big, overwrite it */
}

.editable-click,
a.editable-click,
a.editable-click:hover {
    text-decoration: none;
    cursor: pointer;
    /*border-bottom: dashed 1px #0088cc;*/
}

    .editable-click.editable-disabled,
    a.editable-click.editable-disabled,
    a.editable-click.editable-disabled:hover {
        color: #585858;
        cursor: default;
        border-bottom: none;
    }

.editable-empty, .editable-empty:hover, .editable-empty:focus {
    font-style: italic;
    color: #DD1144;
    /* border-bottom: none; */
    text-decoration: none;
}

.editable-unsaved {
    font-weight: bold;
}

    .editable-unsaved:after {
        /*    content: '*'*/
    }

/*see https://github.com/vitalets/x-editable/issues/139 */
.form-horizontal .editable {
    padding-top: 5px;
    display: inline-block;
}

.form-horizontal .control-label > .editable {
    padding-top: 0px;
    display: inline-block;
}



/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
    /*.dow {
		border-top: 1px solid #ddd !important;
	}*/
}

.datepicker-inline {
    width: 220px;
}

.datepicker.datepicker-rtl {
    direction: rtl;
}

    .datepicker.datepicker-rtl table tr td span {
        float: right;
    }

.datepicker-dropdown {
    top: 0;
    left: 0;
}

    .datepicker-dropdown:before {
        content: '';
        display: inline-block;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-top: 0;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        position: absolute;
    }

    .datepicker-dropdown:after {
        content: '';
        display: inline-block;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-top: 0;
        position: absolute;
    }

    .datepicker-dropdown.datepicker-orient-left:before {
        left: 6px;
    }

    .datepicker-dropdown.datepicker-orient-left:after {
        left: 7px;
    }

    .datepicker-dropdown.datepicker-orient-right:before {
        right: 6px;
    }

    .datepicker-dropdown.datepicker-orient-right:after {
        right: 7px;
    }

    .datepicker-dropdown.datepicker-orient-top:before {
        top: -7px;
    }

    .datepicker-dropdown.datepicker-orient-top:after {
        top: -6px;
    }

    .datepicker-dropdown.datepicker-orient-bottom:before {
        bottom: -7px;
        border-bottom: 0;
        border-top: 7px solid #999;
    }

    .datepicker-dropdown.datepicker-orient-bottom:after {
        bottom: -6px;
        border-bottom: 0;
        border-top: 6px solid #ffffff;
    }

.datepicker > div {
    display: none;
}

.datepicker.days div.datepicker-days {
    display: block;
}

.datepicker.months div.datepicker-months {
    display: block;
}

.datepicker.years div.datepicker-years {
    display: block;
}

.datepicker table {
    margin: 0;
}

.datepicker td,
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}

.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
    background-color: transparent;
}

.datepicker table tr td.day:hover {
    background: #eeeeee;
    cursor: pointer;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #999999;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: none;
    color: #999999;
    cursor: default;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-color: #fde19a;
    background-repeat: repeat-x;
    color: #000 !important;
    background-image: linear-gradient(top, #fdd49a, #fdf59a);
    border-left-color: #fdf59a;
    border-right-color: #fdf59a;
    border-top-color: #fdf59a;
    border-bottom-color: #fbed50;
}

    .datepicker table tr td.today:hover,
    .datepicker table tr td.today:hover:hover,
    .datepicker table tr td.today.disabled:hover,
    .datepicker table tr td.today.disabled:hover:hover,
    .datepicker table tr td.today:active,
    .datepicker table tr td.today:hover:active,
    .datepicker table tr td.today.disabled:active,
    .datepicker table tr td.today.disabled:hover:active,
    .datepicker table tr td.today.active,
    .datepicker table tr td.today:hover.active,
    .datepicker table tr td.today.disabled.active,
    .datepicker table tr td.today.disabled:hover.active,
    .datepicker table tr td.today.disabled,
    .datepicker table tr td.today:hover.disabled,
    .datepicker table tr td.today.disabled.disabled,
    .datepicker table tr td.today.disabled:hover.disabled,
    .datepicker table tr td.today[disabled],
    .datepicker table tr td.today:hover[disabled],
    .datepicker table tr td.today.disabled[disabled],
    .datepicker table tr td.today.disabled:hover[disabled] {
        background-color: #fdf59a;
    }

        .datepicker table tr td.today:active,
        .datepicker table tr td.today:hover:active,
        .datepicker table tr td.today.disabled:active,
        .datepicker table tr td.today.disabled:hover:active,
        .datepicker table tr td.today.active,
        .datepicker table tr td.today:hover.active,
        .datepicker table tr td.today.disabled.active,
        .datepicker table tr td.today.disabled:hover.active {
            background-color: #fbf069 \9;
        }

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-color: #006dcc;
    background-repeat: repeat-x;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    border-left-color: #0044cc;
    border-right-color: #0044cc;
    border-top-color: #0044cc;
    border-bottom-color: #002a80;
}

    .datepicker table tr td.active:hover,
    .datepicker table tr td.active:hover:hover,
    .datepicker table tr td.active.disabled:hover,
    .datepicker table tr td.active.disabled:hover:hover,
    .datepicker table tr td.active:active,
    .datepicker table tr td.active:hover:active,
    .datepicker table tr td.active.disabled:active,
    .datepicker table tr td.active.disabled:hover:active,
    .datepicker table tr td.active.active,
    .datepicker table tr td.active:hover.active,
    .datepicker table tr td.active.disabled.active,
    .datepicker table tr td.active.disabled:hover.active,
    .datepicker table tr td.active.disabled,
    .datepicker table tr td.active:hover.disabled,
    .datepicker table tr td.active.disabled.disabled,
    .datepicker table tr td.active.disabled:hover.disabled,
    .datepicker table tr td.active[disabled],
    .datepicker table tr td.active:hover[disabled],
    .datepicker table tr td.active.disabled[disabled],
    .datepicker table tr td.active.disabled:hover[disabled] {
        background-color: #0044cc;
    }

        .datepicker table tr td.active:active,
        .datepicker table tr td.active:hover:active,
        .datepicker table tr td.active.disabled:active,
        .datepicker table tr td.active.disabled:hover:active,
        .datepicker table tr td.active.active,
        .datepicker table tr td.active:hover.active,
        .datepicker table tr td.active.disabled.active,
        .datepicker table tr td.active.disabled:hover.active {
            background-color: #003399 \9;
        }

.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .datepicker table tr td span:hover {
        background: #eeeeee;
    }

    .datepicker table tr td span.disabled,
    .datepicker table tr td span.disabled:hover {
        background: none;
        color: #999999;
        cursor: default;
    }

    .datepicker table tr td span.active,
    .datepicker table tr td span.active:hover,
    .datepicker table tr td span.active.disabled,
    .datepicker table tr td span.active.disabled:hover {
        background-color: #006dcc;
        background-repeat: repeat-x;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-image: linear-gradient(top, #0088cc, #0044cc);
        border-left-color: #0044cc;
        border-right-color: #0044cc;
        border-top-color: #0044cc;
        border-bottom-color: #002a80;
    }

        .datepicker table tr td span.active:hover,
        .datepicker table tr td span.active:hover:hover,
        .datepicker table tr td span.active.disabled:hover,
        .datepicker table tr td span.active.disabled:hover:hover,
        .datepicker table tr td span.active:active,
        .datepicker table tr td span.active:hover:active,
        .datepicker table tr td span.active.disabled:active,
        .datepicker table tr td span.active.disabled:hover:active,
        .datepicker table tr td span.active.active,
        .datepicker table tr td span.active:hover.active,
        .datepicker table tr td span.active.disabled.active,
        .datepicker table tr td span.active.disabled:hover.active,
        .datepicker table tr td span.active.disabled,
        .datepicker table tr td span.active:hover.disabled,
        .datepicker table tr td span.active.disabled.disabled,
        .datepicker table tr td span.active.disabled:hover.disabled,
        .datepicker table tr td span.active[disabled],
        .datepicker table tr td span.active:hover[disabled],
        .datepicker table tr td span.active.disabled[disabled],
        .datepicker table tr td span.active.disabled:hover[disabled] {
            background-color: #0044cc;
        }

            .datepicker table tr td span.active:active,
            .datepicker table tr td span.active:hover:active,
            .datepicker table tr td span.active.disabled:active,
            .datepicker table tr td span.active.disabled:hover:active,
            .datepicker table tr td span.active.active,
            .datepicker table tr td span.active:hover.active,
            .datepicker table tr td span.active.disabled.active,
            .datepicker table tr td span.active.disabled:hover.active {
                background-color: #003399 \9;
            }

    .datepicker table tr td span.old {
        color: #999999;
    }

.datepicker th.switch {
    width: 145px;
}

.datepicker thead tr:first-child th,
.datepicker tfoot tr:first-child th {
    cursor: pointer;
}

    .datepicker thead tr:first-child th:hover,
    .datepicker tfoot tr:first-child th:hover {
        background: #eeeeee;
    }

.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
}

.datepicker thead tr:first-child th.cw {
    cursor: default;
    background-color: transparent;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .multiselect-container .input-group {
        margin: 5px;
    }

    .multiselect-container > li {
        padding: 0;
    }

    .multiselect-container > li > a {
        padding-left: 8px;
    }

        .multiselect-container > li > a.multiselect-all label {
            font-weight: bold;
        }

        .multiselect-container > li > label.multiselect-group {
            margin: 0;
            padding: 3px 20px 3px 20px;
            height: 100%;
            font-weight: bold;
        }

        .multiselect-container > li > a > label {
            margin: 0;
            height: 100%;
            cursor: pointer;
            font-weight: normal;
        }

            .multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
                margin: 0;
            }

            .multiselect-container > li > a > label > input[type="checkbox"] {
                margin-bottom: 5px;
            }

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn.multiselect {

    min-width: 162px;
}
/* Put your css in here */

multiselect {
    display:block;
}
multiselect .btn {
    width: 100%;
    background-color: #FFF;
}
multiselect .btn.error{
    border: 1px solid #da4f49 !important;
}
multiselect .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
multiselect .dropdown-menu {
    width: 72%;
    box-sizing: border-box;
    padding: 2px;
}
multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}
/*
 * qTip2 - Pretty powerful tooltips - v2.1.1
 * http://qtip2.com
 *
 * Copyright (c) 2013 Craig Michael Thompson
 * Released under the MIT, GPL licenses
 * http://jquery.org/license
 *
 * Date: Thu Jul 11 2013 02:03 GMT+0100+0100
 * Plugins: tips modal viewport svg imagemap ie6
 * Styles: basic css3
 */
.qtip {
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;
    /*max-width: 280px;*/
    min-width: 50px;
    font-size: 12px;
    line-height: 16px;
    direction: ltr;
    box-shadow: none;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.qtip-content {
    position: relative;
    padding: 5px 9px;
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
    /*height: 100px;
    overflow: auto;*/
}

.qtip-titlebar {
    position: relative;
    padding: 5px 35px 5px 10px;
    overflow: hidden;
    border-width: 0 0 1px;
    font-weight: bold;
    display: none;
}

    .qtip-titlebar + .qtip-content {
        border-top-width: 0 !important;
    }

/* Default close button class */
.qtip-close {
    position: absolute;
    right: -9px;
    top: -9px;
    cursor: pointer;
    outline: medium none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.qtip-titlebar .qtip-close {
    right: 4px;
    top: 50%;
    margin-top: -9px;
}

* html .qtip-titlebar .qtip-close {
    top: 16px;
}
/* IE fix */

.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon {
    display: block;
    text-indent: -1000em;
    direction: ltr;
}

.qtip-icon, .qtip-icon .ui-icon {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}

    .qtip-icon .ui-icon {
        width: 18px;
        height: 14px;
        line-height: 14px;
        text-align: center;
        text-indent: 0;
        font: normal bold 10px/13px Tahoma,sans-serif;
        color: inherit;
        background: transparent none no-repeat -100em -100em;
    }

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.qtip-focus {
}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.qtip-hover {
}

/* Default tooltip style */
.qtip-default {
    border-width: 1px;
    border-style: solid;
    border-color: #F1D031;
    background-color: #FFFFA3;
    color: #555;
}

    .qtip-default .qtip-titlebar {
        background-color: #FFEF93;
    }

    .qtip-default .qtip-icon {
        border-color: #CCC;
        background: #F1F1F1;
        color: #777;
    }

    .qtip-default .qtip-titlebar .qtip-close {
        border-color: #AAA;
        color: #111;
    }



/*! Light tooltip style */
.qtip-light {
    background-color: white;
    border-color: #E2E2E2;
    color: #454545;
}

    .qtip-light .qtip-titlebar {
        background-color: #f1f1f1;
    }


/*! Dark tooltip style */
.qtip-dark {
    background-color: #505050;
    border-color: #303030;
    color: #f3f3f3;
    opacity: 0.4;
}

    .qtip-dark .qtip-titlebar {
        background-color: #404040;
    }

    .qtip-dark .qtip-icon {
        border-color: #444;
    }

    .qtip-dark .qtip-titlebar .ui-state-hover {
        border-color: #303030;
    }


/*! Cream tooltip style */
.qtip-cream {
    background-color: #FBF7AA;
    border-color: #F9E98E;
    color: #A27D35;
}

    .qtip-cream .qtip-titlebar {
        background-color: #F0DE7D;
    }

    .qtip-cream .qtip-close .qtip-icon {
        background-position: -82px 0;
    }


/*! Red tooltip style */
.qtip-red {
    background-color: #F78B83;
    border-color: #D95252;
    color: #912323;
}

    .qtip-red .qtip-titlebar {
        background-color: #F06D65;
    }

    .qtip-red .qtip-close .qtip-icon {
        background-position: -102px 0;
    }

    .qtip-red .qtip-icon {
        border-color: #D95252;
    }

    .qtip-red .qtip-titlebar .ui-state-hover {
        border-color: #D95252;
    }


/*! Green tooltip style */
.qtip-green {
    background-color: #CAED9E;
    border-color: #90D93F;
    color: #3F6219;
}

    .qtip-green .qtip-titlebar {
        background-color: #B0DE78;
    }

    .qtip-green .qtip-close .qtip-icon {
        background-position: -42px 0;
    }


/*! Blue tooltip style */
.qtip-blue {
    background-color: #E5F6FE;
    border-color: #ADD9ED;
    color: #5E99BD;
}

    .qtip-blue .qtip-titlebar {
        background-color: #D0E9F5;
    }

    .qtip-blue .qtip-close .qtip-icon {
        background-position: -2px 0;
    }



.qtip-shadow {
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

/* Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.qtip-rounded,
.qtip-tipsy,
.qtip-bootstrap {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .qtip-rounded .qtip-titlebar {
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

/*#region QTIP for Description in TASKS LIST*/

.qtip-desc {
    max-width: 400px;
}

/*#endregion*/

/* Youtube tooltip style */
.qtip-youtube {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px #333;
    -moz-box-shadow: 0 0 3px #333;
    box-shadow: 0 0 3px #333;
    color: white;
    border-width: 0;
    background: #4A4A4A;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4A4A4A),color-stop(100%,black));
    background-image: -webkit-linear-gradient(top,#4A4A4A 0,black 100%);
    background-image: -moz-linear-gradient(top,#4A4A4A 0,black 100%);
    background-image: -ms-linear-gradient(top,#4A4A4A 0,black 100%);
    background-image: -o-linear-gradient(top,#4A4A4A 0,black 100%);
}

    .qtip-youtube .qtip-titlebar {
        background-color: #4A4A4A;
        background-color: rgba(0,0,0,0);
    }

    .qtip-youtube .qtip-content {
        padding: .75em;
        font: 12px arial,sans-serif;
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);";
    }

    .qtip-youtube .qtip-icon {
        border-color: #222;
    }

    .qtip-youtube .qtip-titlebar .ui-state-hover {
        border-color: #303030;
    }


/* jQuery TOOLS Tooltip style */
.qtip-jtools {
    background: #232323;
    background: rgba(0, 0, 0, 0.7);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#717171), to(#232323));
    background-image: -moz-linear-gradient(top, #717171, #232323);
    background-image: -webkit-linear-gradient(top, #717171, #232323);
    background-image: -ms-linear-gradient(top, #717171, #232323);
    background-image: -o-linear-gradient(top, #717171, #232323);
    border: 2px solid #ddd;
    border: 2px solid rgba(241,241,241,1);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 12px #333;
    -moz-box-shadow: 0 0 12px #333;
    box-shadow: 0 0 12px #333;
}

    /* IE Specific */
    .qtip-jtools .qtip-titlebar {
        background-color: transparent;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)";
    }

    .qtip-jtools .qtip-content {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)";
    }

    .qtip-jtools .qtip-titlebar,
    .qtip-jtools .qtip-content {
        background: transparent;
        color: white;
        border: 0 dashed transparent;
    }

    .qtip-jtools .qtip-icon {
        border-color: #555;
    }

    .qtip-jtools .qtip-titlebar .ui-state-hover {
        border-color: #333;
    }


/* Cluetip style */
.qtip-cluetip {
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    background-color: #D9D9C2;
    color: #111;
    border: 0 dashed transparent;
}

    .qtip-cluetip .qtip-titlebar {
        background-color: #87876A;
        color: white;
        border: 0 dashed transparent;
    }

    .qtip-cluetip .qtip-icon {
        border-color: #808064;
    }

    .qtip-cluetip .qtip-titlebar .ui-state-hover {
        border-color: #696952;
        color: #696952;
    }


/* Tipsy style */
.qtip-tipsy {
    background: black;
    background: rgba(0, 0, 0, .87);
    color: white;
    border: 0 solid transparent;
    font-size: 11px;
    font-family: 'Lucida Grande', sans-serif;
    font-weight: bold;
    line-height: 16px;
    text-shadow: 0 1px black;
}

    .qtip-tipsy .qtip-titlebar {
        padding: 6px 35px 0 10px;
        background-color: transparent;
    }

    .qtip-tipsy .qtip-content {
        padding: 6px 10px;
    }

    .qtip-tipsy .qtip-icon {
        border-color: #222;
        text-shadow: none;
    }

    .qtip-tipsy .qtip-titlebar .ui-state-hover {
        border-color: #303030;
    }


/* Tipped style */
.qtip-tipped {
    border: 3px solid #959FA9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #F9F9F9;
    color: #454545;
    font-weight: normal;
    font-family: serif;
}

    .qtip-tipped .qtip-titlebar {
        border-bottom-width: 0;
        color: white;
        background: #3A79B8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#3A79B8), to(#2E629D));
        background-image: -webkit-linear-gradient(top, #3A79B8, #2E629D);
        background-image: -moz-linear-gradient(top, #3A79B8, #2E629D);
        background-image: -ms-linear-gradient(top, #3A79B8, #2E629D);
        background-image: -o-linear-gradient(top, #3A79B8, #2E629D);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)";
    }

    .qtip-tipped .qtip-icon {
        border: 2px solid #285589;
        background: #285589;
    }

        .qtip-tipped .qtip-icon .ui-icon {
            background-color: #FBFBFB;
            color: #555;
        }


/**
 * Twitter Bootstrap style.
 *
 * Tested with IE 8, IE 9, Chrome 18, Firefox 9, Opera 11.
 * Does not work with IE 7.
 */
.qtip-bootstrap {
    /** Taken from Bootstrap body */
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 16px;
    color: #333333;
    /** Taken from Bootstrap .popover */
    padding: 1px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

    .qtip-bootstrap .qtip-titlebar {
        /** Taken from Bootstrap .popover-title */
        padding: 8px 14px;
        margin: 0;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        background-color: #f7f7f7;
        border-bottom: 1px solid #ebebeb;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

        .qtip-bootstrap .qtip-titlebar .qtip-close {
            /**
     * Overrides qTip2:
     * .qtip-titlebar .qtip-close{
     *   [...]
     *   right: 4px;
     *   top: 50%;
     *   [...]
     *   border-style: solid;
     * }
     */
            right: 11px;
            top: 45%;
            border-style: none;
        }

    .qtip-bootstrap .qtip-content {
        /** Taken from Bootstrap .popover-content */
        padding: 9px 14px;
    }

    .qtip-bootstrap .qtip-icon {
        /**
     * Overrides qTip2:
     * .qtip-default .qtip-icon {
     *   border-color: #CCC;
     *   background: #F1F1F1;
     *   color: #777;
     * }
     */
        background: transparent;
    }

        .qtip-bootstrap .qtip-icon .ui-icon {
            /**
     * Overrides qTip2:
     * .qtip-icon .ui-icon{
     *   width: 18px;
     *   height: 14px;
     * }
     */
            width: auto;
            height: auto;
            /* Taken from Bootstrap .close */
            float: right;
            font-size: 20px;
            font-weight: bold;
            line-height: 13px;
            color: #000000;
            text-shadow: 0 1px 0 #ffffff;
            opacity: 0.2;
            filter: alpha(opacity=20);
        }

            .qtip-bootstrap .qtip-icon .ui-icon:hover {
                /* Taken from Bootstrap .close:hover */
                color: #000000;
                text-decoration: none;
                cursor: pointer;
                opacity: 0.4;
                filter: alpha(opacity=40);
            }


/* IE9 fix - removes all filters */
.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar {
    filter: none;
    -ms-filter: none;
}



.qtip .qtip-tip {
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
}

/* Opera bug #357 - Incorrect tip position
https://github.com/Craga89/qTip2/issues/367 */
x:-o-prefocus, .qtip .qtip-tip {
    visibility: hidden;
}

    .qtip .qtip-tip,
    .qtip .qtip-tip .qtip-vml,
    .qtip .qtip-tip canvas {
        position: absolute;
        color: #123456;
        background: transparent;
        border: 0 dashed transparent;
    }

        .qtip .qtip-tip canvas {
            top: 0;
            left: 0;
        }

        .qtip .qtip-tip .qtip-vml {
            behavior: url(#default#VML);
            display: inline-block;
            visibility: visible;
        }

#qtip-overlay {
    position: fixed;
    left: -10000em;
    top: -10000em;
}

    /* Applied to modals with show.modal.blur set to true */
    #qtip-overlay.blurs {
        cursor: pointer;
    }

    /* Change opacity of overlay here */
    #qtip-overlay div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.7;
        filter: alpha(opacity=70);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    }

.qtipmodal-ie6fix {
    position: absolute !important;
}


/*#region Qtip Table*/
/*For the Table structure inside Qtip*/

.qtipLoader {
    min-width: 200px;
    text-align: center;
}

.noRecord {
    display: inline-block;
    text-align: center;
    width: 200px;
}

.qtipTable {
    width: 100%;
    border: 1px solid #333;
}

    .qtipTable thead {
        background-color: #333;
        color: #FFF;
        border-bottom: 1px solid #333;
    }

    .qtipTable th,
    .qtipTable td {
        padding: 2px 5px;
        border-right: 1px solid #333;
    }

        .qtipTable th:last-child,
        .qtipTable td:last-child {
            border-right: none;
        }

.qtipTable-blue {
    width: 100%;
    border: 1px solid #ADD9ED;
}

    .qtipTable-blue thead {
        background-color: #5E99BD;
        color: #E5F6FE;
        border-bottom: 1px solid #ADD9ED;
    }

    .qtipTable-blue th,
    .qtipTable-blue td {
        padding: 2px 5px;
        border-right: 1px solid #ADD9ED;
    }

        .qtipTable-blue th:last-child,
        .qtipTable-blue td:last-child {
            border-right: none;
        }

ul.qtipList {
    border: 2px solid #212121;
    border-radius: 5px;
    background-color: #333;
    color: #FFF;
}

    ul.qtipList li {
        display: inline-block;
        width: 100%;
        padding: 2px 5px;
        margin-bottom: 3px;
    }

        ul.qtipList li > .label-left {
            display: inline-block;
            margin-right: 5px;
            width: 40%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bold;
        }

        ul.qtipList li > .label-right {
            display: inline-block;
            min-width: 50px;
            width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

/*#endregion*/

