/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.layout-Draggable ul[dnd-list],
.layout-Draggable ul[dnd-list] > li {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.layout-Draggable ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
    margin: 0;
}

    /**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
    .layout-Draggable ul[dnd-list] .dndDraggingSource {
        display: none;
    }

    /**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
    .layout-Draggable ul[dnd-list] .dndPlaceholder {
        display: block;
        background-color: #ddd;
        min-height: 42px;
    }

    /**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
    .layout-Draggable ul[dnd-list] li {
        /*background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;*/
    }

        /**
 * Show selected elements in green
 */
        .layout-Draggable ul[dnd-list] li.selected {
            background-color: #dff0d8;
            color: #3c763d;
        }

.layout-Draggable .layout-DraggableRow {
    display: block;
    height: 330px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0;
}

    .layout-Draggable .layout-DraggableRow .layout-DraggableRowHeader {
        display: inline-block;
        width: 100%;
        min-height: 30px;
        padding: 5px;
        margin-bottom: 10px;
        background-color: #EFEFEF;
    }

        .layout-Draggable .layout-DraggableRow .layout-DraggableRowHeader .layout-DraggableRowHeader-Buttons {
            display: inline-block;
            margin: 2px 10px;
            float: right;
        }

            .layout-Draggable .layout-DraggableRow .layout-DraggableRowHeader .layout-DraggableRowHeader-Buttons button {
                margin-left: 5px;
            }

    .layout-Draggable .layout-DraggableRow .Layout-BoxContainer .draggableContainer {
        height: 250px !important;
        overflow: hidden;
    }

        .layout-Draggable .layout-DraggableRow .Layout-BoxContainer .draggableContainer .Layout-BoxContainer-Header {
            margin-bottom: 5px;
            padding-bottom: 5px;
        }

            .layout-Draggable .layout-DraggableRow .Layout-BoxContainer .draggableContainer .Layout-BoxContainer-Header .select2-container {
                width: 100%;
            }

        .layout-Draggable .layout-DraggableRow .Layout-BoxContainer .draggableContainer .Layout-BoxContainer-Content {
            height: 196px;
            padding-right: 5px;
            overflow: hidden;
            overflow-y: auto;
        }
