﻿<!--<div class="newsFeedBlock" ng-controller="mui.task.TaskNewFeedCtrl">
    <div class="newsFeedSection">
        <div class="newComment">
            <div class="userAvatar">
                <img ng-src="Handlers/UserImage.ashx?id={{OwnerID}}&time={{NewTime}}" data-role="user-avatar" />
            </div>
            <input type="text" class="textarea-wrapper" id="feedtextholderworktaskedit" ng-model="CommentText" placeholder="{{'LanguageContents.Res_1202.Caption'|translate}}..." />
            <button class="btn btn-primary" ng-click="AddApprovalTaskNewsFeedforedit(TaskID)" type="submit">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
        </div>
        <ul class="mainComment" id="feeddivforworktaskedit"></ul>
    </div>
</div>-->

<div class="newsFeedBlock" ng-controller="mui.task.TaskNewFeedCtrl">
    <div class="newsFeedSection" ng-controller="mui.task.TaskNewFeedCtrl">
        <div class="newComment">
            <div class="userAvatar">
                <img ng-src="Handlers/UserImage.ashx?id={{OwnerID}}&time={{NewTime}}" data-role="user-avatar" />
            </div>
            <input type="text" class="textarea-wrapper" id="feedtextholderworktaskedit" ng-model="CommentText" placeholder="{{'LanguageContents.Res_1202.Caption'|translate}}..." />
            <div class="newsFeedPersonFilter">
                <select class="multiselect" multiple="multiple" multiselect-dropdown ng-options="opt.Userid as opt.UserName for opt in  EntityUserList" data-placeholder="Select Users" ng-model="PersonalUserIds"></select>
            </div>
            <button class="btn btn-small btn-primary" ng-click="AddApprovalTaskNewsFeedforedit(TaskID)" type="submit">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
        </div>
        <ul class="mainComment" id="feeddivforworktaskedit"></ul>
    </div>
</div>
