﻿<div class="modal-header">
    <button ng-click="CloseAddTask()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="H1">{{TaskActionCaption}}</h3>
</div>
<div class="modal-body" ng-switch="TaskTypeObject.TaskType">
    <div class="row-fluid">
        <div id="lftSideForm" class="span4 leftSection">
            <form id="TaskDynamicMetadata" class="notvalidate">
                <div class="control-group" ng-show="freezeTaskList">
                    <label>{{'LanguageContents.Res_4823.Caption'|translate}}</label>
                    <div>
                        <select ui-select2 ng-model="TaskTypeObject.AssetTaskList" id="TaskList" name="TaskType" data-placeholder="Select Task List">
                            <option selected value="0">{{'LanguageContents.Res_5552.Caption'|translate}}</option>
                            <option ng-repeat="item in TaskLibraryList" value="{{item.ID}}">{{item.LibraryName}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label>{{'LanguageContents.Res_648.Caption'|translate}}</label>

                    <input ui-select2="tagAllOptionsTasktypelist" id="TaskType" data-ng-model="TaskTypeObject.TaskType" ng-click="createdynamicControls(TaskTypeObject.TaskType)" ng-disabled="DisableIsAdminTask" name="TaskType" />
                </div>
                <div class="control-group">
                    <label>{{'LanguageContents.Res_1.Caption'|translate}}</label>
                    <input id="addtaskcaption" ng-model="TaskTypeObject.NewTaskName" name="NewTaskName" type="text" placeholder="Name" />
                </div>
                <div class="control-group">
                    <label>{{'LanguageContents.Res_22.Caption'|translate}}</label>
                    <textarea class="small-textarea" ng-model="TaskTypeObject.TaskDescription" name="TaskDescription" rows="3"></textarea>
                </div>
                <div class="control-group">
                    <label>{{'LanguageContents.Res_5624.Caption'|translate}}</label>
                    <textarea class="small-textarea" ng-model="TaskTypeObject.TaskNote" name="TaskNote" rows="3"></textarea>
                </div>
                <div class="control-group">
                    <label>{{'LanguageContents.Res_23.Caption'|translate}}</label>
                    <input id="TaskDueDate" type="text" ng-model="TaskTypeObject.TaskDueDate" ng-change="setTimeout(changeduedate_changed(TaskTypeObject.TaskDueDate,TaskDueDateMinValue,TaskDueDateMaxValue,''),1000)" ng-click="Calanderopen($event,'IsTaskDueDate')" datepicker-popup="{{format}}" is-open="IsTaskDueDate" min-date="TaskDueDateMinValue" max-date="TaskDueDateMaxValue" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" placeholder="" />

                </div>
                <div id="DynamicTaskControlsAttributies" class="taskDynamicTaskControls"></div>
                <!--<div class="control-group">
                            <label>{{'LanguageContents.Res_1008.Caption'|translate}}</label>
                            <select class="multiselect" data-placeholder="Select filter" name="TaskMembersList" id="TaskMembersList"
                                ng-model="TaskMembersList" ng-options="item.Userid as item.UserName for item in EntityDistinctMembers"
                                multiple="multiple" multiselect-dropdown>
                            </select>
                        </div>-->
                <div class="control-group">
                    <label class="ng-binding" ng-show="ChecklistVisible">{{'LanguageContents.Res_4158.Caption'|translate}}</label>
                    <ul class="repeter" ng-show="ChecklistVisible">
                        <li ng-repeat="adminCheck in AdminTaskCheckList">
                            <input type="text" class="chkListBox" ng-model="adminCheck.Name">
                            <button class="btn" ng-click="AddCheckList($index)"><i class="icon-plus"></i></button>
                            <button class="btn" ng-click="RemoveCheckList($index,adminCheck.Id)"><i class="icon-remove"></i></button>
                            <li>
                    </ul>
                </div>
                <button type="button" ng-show="templateData.PhaseData.AllPhaseList.length==0" class="btn btn-small" ng-click="addAdditionalMemberforTask(0,0)">{{'LanguageContents.Res_5583.Caption'|translate}}</button>
                <input style="display: none" type="submit" id="tskbtnTemp" class="ng-scope" invisible>
            </form>
        </div>
        <div id="rytSideAttachments" class="span8 rightSection">
            <div class="inlineBlock widthcent border-bottom1x">
                <div ng-show="IscontextAssetAttachmentsInTaskPopup" class="btn-toolbar nomargin margin-bottom10x pull-right">
                    <button data-toggle="dropdown" class="btn btn-small btn-primary dropdown-toggle" context="contextAssetAttachmentsInTaskcreationPopup" data-toggle='modal' ng-show="EntityLockTask == false" data-role="TaskFileAttachmentMenuOption">
                        {{'LanguageContents.Res_1572.Caption'|translate}}
                            <span class="caret"></span>
                    </button>
                </div>
                <!--<div ng-show="AddGlobalMemberforTask" class="optBtnpane pull-right margin-right5x widthauto">
                            <button type="button" class="btn btn-small" ng-click="addAdditionalMemberforTask(0,0)">Add members</button>
                        </div>-->
                <div ng-show="AddTemplateFromDalim && DalimTaskFlowList.length>0" class="optBtnpane dd-heightAdjust pull-right margin-right5x widthauto">
                    <select ui-select2 name="TemplFlowName" id="DalimTemplFlow" ng-model="myObjtasktemplate.selectedItems" ng-change="getphasewithstepforDalim(myObjtasktemplate.selectedItems)">
                        <option value="0">{{'LanguageContents.Res_5584.Caption'|translate}}</option>
                        <option ng-repeat="task in DalimTaskFlowList" value="{{task.TemplateFlow.ID}}">{{task.TemplateFlow.Caption}}</option>
                    </select>
                </div>
                <div ng-show="rytSideApprovalButtonPane && ApprTaskFlowList.length>0" id="rytSideApprovalButtonPane" class="optBtnpane dd-heightAdjust pull-right margin-right5x widthauto">
                    <button type="button" class="btn btn-small" ng-hide="IsTemplateFlow||true" ng-click="OpenCreateTaskTemplatePhasePopup()">{{'LanguageContents.Res_5578.Caption'|translate}}</button>
                    <!--<button type="button" ng-show="templateData.PhaseData.AllPhaseList.length==0" class="btn btn-small" ng-click="addAdditionalMemberforTask(0,0)">Add members</button>-->
                    <select ui-select2 name="TemplFlowName" id="ApprTemplFlow" ng-model="myObjtasktemplate.selectedItems" ng-change="getphasewithstepofTemplate(myObjtasktemplate.selectedItems)">
                        <option value="0">{{'LanguageContents.Res_5584.Caption'|translate}}</option>
                        <option ng-repeat="task in ApprTaskFlowList" value="{{task.ID}}">{{task.Name}}</option>
                    </select>
                </div>
            </div>
            <div ng-hide="TaskMemberLists.length==0||templateData.PhaseData.AllPhaseList.length>0" class="membersList">
                <table class="table table-normal">
                    <thead>
                        <tr>
                            <!--<th></th>-->
                            <th><span>{{'LanguageContents.Res_1570.Caption'|translate}}</span></th>
                            <!-- <th class="colSmall"><span>Role</span></th>-->
                            <th class="colDelete"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="mem in TaskMemberLists">
                            <!--<td>
                                        <label class="checkbox checkbox-custom">
                                            <input type="checkbox" /><i class="checkbox"></i></label>
                                    </td>-->
                            <td>
                                <span>
                                    <span>
                                        <img class="avatar avatar-sm" ng-src="Handlers/UserImage.ashx?id={{mem.Userid}}&key={{Timestamp}}" alt="" /></span>
                                    <span>{{mem.UserName}}</span>
                                </span>
                            </td>
                            <!-- <td class="colSmall"><span>{{mem.ApprovalRoleName }}</span></td>-->
                            <td class="colDelete" ng-click="deleteglobaltaskmember(mem.Userid)">
                                <a class="iconLink"><i class="icon-remove"></i></a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div ng-show="templateData.PhaseData.AllPhaseList.length>0" class="layout-Draggable">
                <div class="taskPhase-block addTaskBlock dropzone widthcent">
                    <ul class="phaseList" dnd-list="templateData.PhaseData.AllPhaseList" dnd-allowed-types="['containerType']" dnd-external-sources="true"
                        dnd-dragover="dragoverCallback(event, index, external, type)"
                        dnd-drop="dropCallback(event, index, item, external, type, 'containerType')">
                        <li ng-repeat="phase in templateData.PhaseData.AllPhaseList || templateData.PhaseData.AllPhaseList" dnd-draggable="phase"
                            dnd-type="'containerType'"
                            dnd-effect-allowed="copyMove"
                            dnd-dragstart="logEvent('Started to drag a container', event)"
                            dnd-moved="templateData.PhaseData.AllPhaseList.splice($index, 1); logEvent('Container moved', event)"
                            dnd-copied="logEvent('Container copied', event)">
                            <div class="phase-block">
                                <div class="phase-header">
                                    <div class="phsName">
                                        <span class="nm">{{phase.Name}}</span>
                                        <span class="dur">({{phase.maxduration}} {{'LanguageContents.Res_1556.Caption'|translate}})</span>
                                    </div>
                                    <button ng-hide="IsTemplateFlow" ng-click="AddNewStep(phase.ID)" type="button" class="btn btn-mini btn-primary">{{'LanguageContents.Res_5576.Caption'|translate}}</button>
                                </div>
                                <ul class="phaseStepList" dnd-list="phase.StepsData"
                                    dnd-allowed-types="['itemType']"
                                    dnd-horizontal-list="true"
                                    dnd-external-sources="true"
                                    dnd-dragover="dragoverCallback(event, index, external, type)"
                                    dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"
                                    class="itemlist">
                                    <li ng-repeat="step in phase.StepsData"
                                        dnd-draggable="step"
                                        dnd-type="'itemType'"
                                        dnd-effect-allowed="copyMove"
                                        dnd-dragstart="logEvent('Started to drag an item', event)"
                                        dnd-moved="phase.StepsData.splice($index, 1); logEvent('Item moved', event)"
                                        dnd-copied="logEvent('Item copied', event)">
                                        <div ng-class="{'phaseStep-block selected':step.isopened,'phaseStep-block':!step.isopened}">
                                            <div class="phaseStep-header cursor-pointer">
                                                <h3 ng-click="step.isopened=!step.isopened" class="headText">{{step.Name}}</h3>
                                                <div class="durText">

                                                    <span>{{'LanguageContents.Res_5636.Caption'|translate}}: </span>
                                                    <span>{{step.EsitimatedDelivery}}</span>
                                                    <span>|</span>
                                                    <span>{{'LanguageContents.Res_196.Caption'|translate}}</span>
                                                    <span>{{step.Duration}} {{'LanguageContents.Res_1556.Caption'|translate}}</span>
                                                </div>
                                                <div class="approvalRoleDiv">{{step.RoleName}}</div>
                                                <span class="IcnSet">
                                                    <span class="edtIcon" ng-hide="IsTemplateFlow" ng-click="UpdateStep(step.ID,phase.ID)"><i class="icon-edit"></i></span>
                                                    <span class="rmvIcon" ng-hide="IsTemplateFlow" ng-click="DeleteStep(step.ID,phase.ID)"><i class="icon-remove"></i></span>
                                                </span>
                                            </div>
                                            <div class="phaseStep-content">
                                                <div class="phsStep-btnPane">
                                                    <button type="button" ng-click="addAdditionalMemberforTask(step.ID,phase.ID)" class="btn btn-small btn-primary">{{'LanguageContents.Res_5583.Caption'|translate}}</button>
                                                </div>
                                                <div class="membersList" ng-show="step.MemberList.length>0">
                                                    <table class="table table-normal">
                                                        <thead>
                                                            <tr>
                                                                <!--<th>
                                                                            <label class="checkbox checkbox-custom">
                                                                                <input type="checkbox" /><i class="checkbox"></i></label>
                                                                        </th>-->
                                                                <th><span>{{'LanguageContents.Res_554.Caption'|translate}}</span></th>
                                                                <!--  <th class="colSmall"><span>Approval role</span></th>-->
                                                                <th class="colDelete"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="user in step.MemberList track by user.Userid">
                                                                <!--<td>
                                                                            <label class="checkbox checkbox-custom">
                                                                                <input type="checkbox" /><i class="checkbox"></i></label>
                                                                        </td>-->
                                                                <td>
                                                                    <span>
                                                                        <span>
                                                                            <img class="avatar avatar-sm" ng-src="Handlers/UserImage.ashx?id={{user.Userid}}&key={{Timestamp}}" alt="" /></span>
                                                                        <span>{{user.FirstName}} {{user.LastName}}</span>
                                                                    </span>
                                                                </td>
                                                                <!--  <td class="colSmall"><span>{{ user.ApprovalRoleName}}</span></td>-->
                                                                <td class="colDelete" ng-click="deleteStepmember(step.ID,phase.ID,user.Userid)">
                                                                    <a class="iconLink"><i class="icon-remove"></i></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="IsAttachmentPresent" class="margin-top20x border-top1x">
                <div class="addAssetNewtask-Attachments">
                    <div class="addfromGenAttachments-assettask">
                        <h4 ng-show="IsaddAssetsfromComputer" class="addAtt-header" id="addfromGenAttachments-Asset-Task">{{'LanguageContents.Res_4103.Caption'|translate}}</h4>
                        <div class="addAtt-content">
                            <div class="upload_box">
                                <div class="attachmentContainer" id="filescontainerofTask">
                                    <!--<div class="attachmentContainer" id="assetscontainerTaskCreation">-->
                                    <div id="assetassettaskentityattachassetdata" class="assetlistActivity">
                                    </div>
                                    <div id="assetfromattachment" class="assetlistActivity">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="attachment-progress pull-left" id="totalAssetActivityAttachProgresstask" ng-show="addfromComputer"></div>
    <button id="tempTaskCreation" ng-show="ngShowtempTaskCreation" class="btn btn-small btn-primary"></button>
    <button ng-click="CreateUnassignedNewTask()" id="ngShowUnassigned" ng-show="ngShowUnassigned" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
    <button ng-click="CreateNewTask()" id="CreateNewTaskBtn" ng-show="ngShowTaskCreation" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
    <button ng-click="CloseAddTask()" class="btn btn-small" data-dismiss="modal" aria-hidden="true">{{'LanguageContents.Res_14.Caption'|translate}}</button>
</div>

<ul id="contextAssetAttachmentsInTaskcreationPopup" style="display: none;" class="dropdown-menu contexMenu">
    <li ng-hide="TaskBriefDetails.taskTypeId == 32 || TaskBriefDetails.taskTypeId == 36 ||taskTypeId==32||taskTypeId==36">
        <a id="pickfilesforTask" href="JavaScript:void(0);">{{'LanguageContents.Res_4040.Caption'|translate}}</a></li>
    <li ng-show="processingsrcobj.processinglock == false" ng-click="addfromattachment()">
        <a id="addassetsfromattachment" href="JavaScript:void(0);">{{'LanguageContents.Res_4049.Caption'|translate}}</a></li>
    <!--<li ng-hide="TaskBriefDetails.taskTypeId == 32 || TaskBriefDetails.taskTypeId == 36 ||taskTypeId==32||taskTypeId==36"><a id="pickassetinTaskCreation" href="JavaScript:void(0);">{{'LanguageContents.Res_4040.Caption'|translate}}</a></li>-->
    <!--<li>
            <a>
                <div id="divAssetTaskentityselection">
                    <div ng-include=" 'views/mui/DAM/damtaskentityselection.html' "></div>
                </div>
            </a>
    </li>-->
</ul>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="NewTaskTemplatePhase" style="display: none;">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h3 id="H11">{{'LanguageContents.Res_5581.Caption'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="tasktemplatename">{{'LanguageContents.Res_1.Caption'|translate}}:</label>
                    <div class="controls">
                        <input type="text" ng-model="Phasename" id="Text5" placeholder="Name" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="tasktemplatedesc">{{'LanguageContents.Res_22.Caption'|translate}}:</label>
                    <div class="controls">
                        <textarea class="small-textarea" ng-model="Phasedescription" id="Textarea6" placeholder="Description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="AddNewPhase()" ng-model="addtasktemplatephase" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
        <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="NewTaskTemplateStep" style="display: none;">
    <div class="modal-header">
        <button ng-click="CloseAddTask()" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="H12">{{stepPopupName}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label align-left">{{'LanguageContents.Res_1.Caption'|translate}}:</label>
                    <div class="controls">
                        <input id="Text7" ng-model="TaskTemplateStepName" name="NewTaskName" type="text" placeholder="Name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label align-left">{{'LanguageContents.Res_22.Caption'|translate}}:</label>
                    <div class="controls">
                        <textarea class="small-textarea" ng-model="TaskTemplateStepDescription" name="TaskDescription" placeholder="Description" rows="3"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label align-left">{{'LanguageContents.Res_196.Caption'|translate}}:</label>
                    <div class="controls">
                        <select ui-select2 ng-model="TaskTemplateStepduration">
                            <option value="">{{'LanguageContents.Res_5585.Caption'|translate}}</option>
                            <option ng-repeat="dur in PhaseDuration" value="{{dur.ID}}">{{dur.Caption}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label align-left">{{'LanguageContents.Res_5618.Caption'|translate}}:</label>
                    <div class="controls">
                        <select ui-select2 ng-model="TaskTemplateStepMinApproval">
                            <option value="">{{'LanguageContents.Res_5619.Caption'|translate}}</option>
                            <option ng-repeat="i in PhaseMinApproval">{{i}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label align-left">{{'LanguageContents.Res_37.Caption'|translate}}:</label>
                    <div class="controls">
                        <select ui-select2 ng-model="TaskTemplateSteproles">
                            <option ng-repeat="role in templateData.UserRoles" value="{{role.Id}}">{{role.Caption}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group" ng-hide="true">
                    <label class="control-label align-left">{{'LanguageContents.Res_5620.Caption'|translate}}:</label>
                    <div class="controls">
                        <label class="checkbox checkbox-custom inlineBlock">
                            <input type="checkbox" ng-model="TaskTemplateIsMandatory" name="TaskTemplateIsMandatory" id="Checkbox4"><i class="checkbox" ng-class="{'checkbox checked':TaskTemplateIsMandatory, 'checkbox': !TaskTemplateIsMandatory}"></i>
                            <span class="va-middle10x">{{'LanguageContents.Res_5621.Caption'|translate}}</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-small btn-primary" ng-hide="isAddStep" ng-click="UpdateExistingStep()">{{'LanguageContents.Res_15.Caption'|translate}}</button>
        <button type="button" class="btn btn-small btn-primary" ng-show="isAddStep" ng-click="AddStep(1)">{{'LanguageContents.Res_15.Caption'|translate}}</button>
        <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">{{'LanguageContents.Res_14.Caption'|translate}}</button>
    </div>
</div>

<div id="AddTaskMemberModalPopup" class="modal memberPopup" data-width="750px" aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="H3">{{'LanguageContents.Res_11.Caption'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div ng-switch="addTaskMemberfromGlobal">
            <div class="row-fluid" ng-switch-when="1">
                <div class="blockContainer margin-bottom20x">
                    <span class="block margin-bottom10x font12">{{'LanguageContents.Res_4481.Caption'|translate}}</span>
                    <table class="table table-condensed table-normal AdditionalTaskMembers" id="AdditionalTaskMembers">
                        <thead>
                            <tr>
                                <th><span>{{'LanguageContents.Res_1651.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_5623.Caption'|translate}}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="v in ApprovalTaskGlobalUsers.EntityUser">
                                <td>
                                    <label class="checkbox checkbox-custom pull-left">
                                        <input type="checkbox" ng-click="v.ischecked=!v.ischecked">
                                        <i class="checkbox" />
                                        <span class="font11">{{v.UserName}}</span>
                                    </label>
                                </td>
                                <td><span>{{v.EntityRole}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="ApprovalTaskGlobalUsers.EntityUser.length == 0">
                        <span>
                            <label>{{'LanguageContents.Res_1017.Caption'|translate}}</label></span>
                    </div>
                </div>
                <div class="blockContainer addMemberForm">
                    <div>
                        <span class="block margin-bottom10x font12">{{'LanguageContents.Res_4159.Caption'|translate}}</span>
                        <form class="form-inline">
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                            <input type="text" id="taskGlobaluserforTaskcreation" userautocomplete ng-model="taskGlobaluserforTaskcreation" />
                            <select ui-select2 name="ddltasklobalrole" id="ddlrole" ng-model="AutoCompleteSelectedUserObj.userrole">
                                <option value="">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                                <option ng-repeat="item in Roles" value="{{item.ID}}">{{item.Caption}}</option>
                            </select>
                            <button class="btn btn-primary" ng-model="fillgrid" ng-click="addUsers()">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                        </form>
                    </div>
                    <div class="globalMemberTable">
                        <div class="globalMemberTableHeader">
                            <table class="table table-condensed widthcent">
                                <thead>
                                    <tr>
                                        <th class="col1"></th>
                                        <th class="col2">{{'LanguageContents.Res_32.Caption'|translate}}</th>
                                        <th class="col3">{{'LanguageContents.Res_5623.Caption'|translate}}</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="globalMemberTableContent">
                            <table class="table table-condensed widthcent AdditionalTaskGlobalMembers" id="AdditionalTaskGlobalMembers">
                                <tbody>
                                    <tr ng-repeat="member in ApprovalTaskGlobalUsers.globalUser">
                                        <td class="col1">
                                            <label class="checkbox checkbox-custom pull-left">
                                                <input type="checkbox" ng-class="{'checkbox checked':member.ischecked,'checkbox':!member.ischecked}" ng-click="member.ischecked=!member.ischecked">
                                                <i ng-class="{'checkbox checked':member.ischecked,'checkbox':!member.ischecked}" class="checkbox" />
                                            </label>
                                        </td>
                                        <td class="col2">
                                            <span>{{member.FirstName}} {{member.LastName}}</span>
                                        </td>
                                        <td class="col3">
                                            <span>{{member.EntityRoleforGlobalUser || member.ApprovalRoleName}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid" ng-switch-when="2">
                <div class="blockContainer margin-bottom20x">
                    <span class="block margin-bottom10x font12">{{'LanguageContents.Res_4481.Caption'|translate}}</span>
                    <table class="table table-condensed table-normal AdditionalTaskMembers" id="AdditionalTaskMembers1">
                        <thead>
                            <tr>
                                <th><span>{{'LanguageContents.Res_1651.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_5623.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_5601.Caption'|translate}}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="memb in ApprovalTaskGlobalUsers.EntityUser">
                                <td>
                                    <label class="checkbox checkbox-custom pull-left">
                                        <input type="checkbox" ng-click="memb.ischecked=!memb.ischecked">
                                        <i class="checkbox" />
                                        <span class="font11">{{memb.FirstName}} {{memb.LastName}}</span>
                                    </label>
                                </td>
                                <td>
                                    <span>{{memb.EntityRole}}</span>
                                </td>
                                <td>
                                    <select ui-select2 name="ApprovalRoleforEntityUser" id="Select1" ng-model="memb.ApprovalRoleforEntityUser">
                                        <option value="">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                                        <option ng-repeat="item in memb.Approvalroles" value="{{item.ID}}">{{item.Name}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="ApprovalTaskGlobalUsers.EntityUser.length == 0">
                        <span>
                            <label>{{'LanguageContents.Res_1017.Caption'|translate}}</label></span>
                    </div>
                </div>
                <div class="blockContainer addMemberForm">
                    <div>
                        <span class="block margin-bottom10x font12">{{'LanguageContents.Res_4159.Caption'|translate}}</span>
                        <form class="form-inline">
                            <div class="searchBox inlineBlock">
                                <input id="Text2" ng-model="userfilterdata" type="text" placeholder="Filter" />
                                <i href="#clear" class="icon-remove-circle clear-userFilter" ng-click="clearUserFilter()"></i>
                            </div>
                            <select ui-select2 name="ddltasklobalrole1" id="Select4" ng-model="ddltasklobalrole1">
                                <option value="">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                                <option ng-repeat="item in templateData.UserRoles" value="{{item.Id}}">{{item.Caption}}</option>
                            </select>
                            <!--<button class="btn btn-primary" ng-model="fillgrid" ng-click="addUsers()">{{'LanguageContents.Res_8.Caption'|translate}}</button>-->
                        </form>
                    </div>
                    <div class="globalMemberTable">
                        <div class="globalMemberTableHeader">
                            <table class="table table-condensed widthcent">
                                <thead>
                                    <tr>
                                        <th class="col1"></th>
                                        <th class="col2">{{'LanguageContents.Res_32.Caption'|translate}}</th>
                                        <th class="colControl">{{'LanguageContents.Res_4711.Caption'|translate}}</th>
                                        <th class="col3">{{'LanguageContents.Res_5601.Caption'|translate}}</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="globalMemberTableContent">
                            <table class="table table-condensed widthcent AdditionalTaskGlobalMembers" id="Table2">
                                <tbody>
                                    <tr ng-repeat="member in ApprovalTaskGlobalUsers.globalUser | filter:{UserName:userfilterdata}">
                                        <td class="col1">
                                            <label class="checkbox checkbox-custom pull-left">
                                                <input type="checkbox" ng-click="member.ischecked=!member.ischecked">
                                                <i class="checkbox" />
                                            </label>
                                        </td>
                                        <td class="col2">
                                            <span>{{member.FirstName}} {{member.LastName}}</span>
                                        </td>
                                        <td class="col3">
                                            <select ui-select2 name="EntityRoleforGlobalUser" id="Select5" ng-model="member.EntityRoleforGlobalUser">
                                                <option value="">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                                                <option ng-repeat="item in Roles" value="{{item.ID}}">{{item.Caption}}</option>
                                            </select>
                                        </td>
                                        <td class="colControl">
                                            <select ui-select2 name="ApprovalRoleforGlobalUser" id="Select2" ng-model="member.ApprovalRoleforGlobalUser">
                                                <option value="">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                                                <option ng-repeat="v in member.Approvalroles" value="{{v.ID}}">{{v.Name}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-small btn-primary" ng-show="AddUnAssign && (RemainMembers.length > 0 || globalEntityMemberLists.length > 0)" ng-click="AddUnAssignedTaskAdditionalMembers()" id="ngAddUnassignTaskMember" ng-model="ngAddTaskMember_CreatingTask" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
        <button ng-show="!AddUnAssign && (ApprovalTaskGlobalUsers.EntityUser.length > 0 || ApprovalTaskGlobalUsers.globalUser.length > 0)" ng-click="HandlingMembers()" id="ngAddTaskMember_CreatingTask" ng-model="ngAddTaskMember_CreatingTask" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
        <button class="btn btn-small" data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
    </div>
</div>

<div class="saving" id="taskcreating" style="display: none">
    <div class="InProgress">
        <img src="assets/img/loading.gif" />
        <span>{{'LanguageContents.Res_5622.Caption'|translate}}...</span>
    </div>
</div>

