﻿<div class="row-fluid" ng-controller="mui.cms.default.detail.listCtrl">
    <!--<div ng-switch="subview">
        <div ng-switch-when="entitycontent">
            <div ng-include=" 'views/mui/cms/default/detail/section/entitycontent.html' "></div>
        </div>
    </div>-->
    <div id="container">
        <div ui-butterbar></div>
        <div ui-view></div>
    </div>
</div>
