﻿@model Presentation.Controllers.ViewController.UserAccessModule
@{                                  
    bool overViewPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Overview);
    bool taskPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Task);
    bool memberPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Member);
    bool attachmentPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Attachments);
    bool presentationPermission = Model.GetAccess(Presentation.Controllers.ViewController.UserAccessModule.Module.Planning, Presentation.Controllers.ViewController.UserAccessModule.Feature.Presentation);
    var tabActiveClass = "active";
}

<div id="cmsSection" class="row-fluid" ng-controller="mui.cms.default.detail.sectionCtrl">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid contentHeader">
                <div class="span12">
                    <ul class="breadcrumb " id="breadcrumul">
                        <li ng-repeat="item in CmsBreadCrumData">
                            <a ng-show="($index<CmsBreadCrumData.length-1 && IsEditFeatureEnabled==true)" style="color: #{{item.mystyle}};" id="breadcrumlink" data-uniquekey="{{item.UniqueKey}}" ng-click="BreadCrumCMSOverview(item.ID)">{{item.Name}}</a>
                            <span ng-show="($index==CmsBreadCrumData.length-1 || IsEditFeatureEnabled==false)" class="divider">{{item.Name}}</span>
                            <span ng-hide="$index==CmsBreadCrumData.length-1" class="divider">/</span>
                        </li>
                    </ul>
                    <h3 class="title"><span style="background-color: #{{cmspageColorcode}}">{{CmsBreadCrumData[CmsBreadCrumData.length-1]["ShortDescription"]}}</span>{{CmsBreadCrumData[CmsBreadCrumData.length-1]["Name"]}}</h3>
                </div>
            </div>
            <div class="row-fluid contentEditorSection">
                <div class="span12">
                    <div class="tabbable tabbable-bordered">
                        <ul class="nav nav-tabs" id="CmsSectionTabs">
                            <li class="@tabActiveClass" id="CmsContent"><a data-toggle="tab" ng-click="LoadTab('content')">Content</a></li>
                            <li id="{{currentdata.ControleID}}" ng-class="BindClass($index,currentdata.ControleID,currentdata.Id)" ng-repeat="currentdata in TabCollectionsList">
                                <a data-toggle="tab" my-qtip2 qtip-content="{{currentdata.ExternalUrl}}" ng-click="CustomTabLoad(currentdata.Id,currentdata.ExternalUrl,currentdata.IsSytemDefined,currentdata.ControleID,currentdata.AddEntityID,currentdata.AttributeGroupID)">{{currentdata.Name}}</a>
                            </li>
                        </ul>
                        <div id="cmssectionview" class="tab-content">
                            <div id="container">
                                <div ui-butterbar></div>
                                <div ui-view></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
