﻿<div aria-labelledby="myModalLabel" id="ReportPageModel" ng-controller="mui.planningtool.default.reportCtrl">
    <div class="modal-header">
        <div class="row-fluid">
            <div class="box-header">
                <h4>{{'LanguageContents.Res_1306.Caption'|translate}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span8">
                <form class="form-horizontal" id="Reg">
                    <div class="control-group">
                        <label class="control-label" for="TemplateID">{{'LanguageContents.Res_1307.Caption'|translate}}</label>
                        <div class="controls">
                            <select ui-select2 id="ReportType" ng-change="changeReportType()" ng-model="ReportType" name="ReportType">
                                <option value="">----{{'LanguageContents.Res_39.Caption'|translate}}----</option>
                                <option value="1">{{'LanguageContents.Res_4144.Caption'|translate}}</option>
                                <option value="2">{{'LanguageContents.Res_4135.Caption'|translate}}</option>
                                <option value="3">{{'LanguageContents.Res_4451.Caption'|translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="LastName">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                        <div class="controls">
                            <span id="reportDesc">{{'LanguageContents.Res_1304.Caption'|translate}}.</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="span4">
                <img width="246px" height="268px" style="border: 1px solid rgb(165, 165, 165);" src="images/CampaignreportPromo(2)-1.png" id="reportPrev">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        <a href="{{ReportUrl}}" class="btn btn-small btn-primary" target="_blank">{{'LanguageContents.Res_1301.Caption'|translate}}</a>
    </div>
</div>
