﻿<div id="planSection" class="row-fluid" ng-controller="mui.planningtool.default.detail.sectionCtrl">
    <div class="span12">
        <div class="row-fluid contentHeader">
            <div class="span12">
                <ul class="breadcrumb container-padding-left" id="breadcrumul">
                    <li ng-repeat="item in array">
                        <a ng-if="($index<array.length-1)" ng-style="set_color(item.mystyle)" style="color: #{{item.mystyle}};" id="breadcrumlink" data-uniquekey="{{item.UniqueKey}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" data-typeid="{{item.TypeID}}" ng-click="BreadCrumOverview(item.ID)">{{item.Name}}</a><span ng-if="$index==array.length-1" class="divider">{{item.Name}}</span><span ng-hide="$index==array.length-1" class="divider">/</span>
                    </li>
                </ul>
                <h3 class="title"><span ng-style="set_bgcolor(EntityColorcode)" style="background-color: #{{EntityColorcode}}">{{EntityShortText}}</span> {{RootLevelEntityName}}</h3>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="tabbable tabbable-bordered">
                    <ul class="nav nav-tabs" id="SectionTabs">
                        <li id="{{currentdata.ControleID}}" ng-class="BindClass($index,currentdata.ControleID,currentdata.Id)" ng-repeat="currentdata in TabCollectionsList">
                            <a data-toggle="tab" my-qtip2 qtip-content="{{currentdata.Name}}" ng-click="CustomTabLoad(currentdata.Id,currentdata.ExternalUrl,currentdata.IsSytemDefined,currentdata.ControleID,currentdata.AddEntityID,currentdata.AttributeGroupID)">{{currentdata.Name}}</a>
                        </li>
                    </ul>
                    <div id="divOvervieww" class="tab-content">
                        <div id="container">
                            <div ui-butterbar></div>
                            <div ui-view></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
