﻿<div ng-controller="mui.planningtool.default.detail.section.additionalobjectiveCtrl">
    <div aria-labelledby="myModalLabel" id="ObjectiveMetadataModel">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="createadditionalobjectivepopupClose()" aria-hidden="true">×</button>
            <h3 my-qtip2 qtip-content="{{AdditionalObjective.ngObjectiveName}}">{{'LanguageContents.Res_714.Caption'|translate}} : {{AdditionalObjective.ngObjectiveName}}</h3>
        </div>
        <div class="modal-body">
            <div id="AdditionalObjectiveWizard" class="wizard" ng-click="changeObjTab()">
                <ul class="stepsObj">
                    <li data-target="#step11" class="active">{{'LanguageContents.Res_38.Caption'|translate}}<span class="chevron"></span></li>
                </ul>
            </div>
            <div id="stepcont" class="step-content">
                <form class="nomargin" id="AdditionalObjectiveTablMetadata">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label" for="ObjectiveName">{{'LanguageContents.Res_1.Caption'|translate}}</label>
                                <div class="controls">
                                    <input type="text" ng-model="AdditionalObjective.ngObjectiveName" id="AdditionalObjectiveName">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="ObjectiveOwner">{{'LanguageContents.Res_702.Caption'|translate}}</label>
                                <div class="controls">
                                    <input type="text" dirownernameautopopulate ng-model="AdditionalObjective.ngObjectiveOwner" id="ObjectiveOwner">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="ObjectiveStatus">{{'LanguageContents.Res_24.Caption'|translate}}</label>
                                <div class="controls">
                                    <select ui-select2 ng-model="AdditionalObjective.ngObjectiveStatus" data-placeholder="--Select--">
                                        <option value="">--{{'LanguageContents.Res_39.Caption'|translate}}--</option>
                                        <option value="1" ng-selected="true">{{'LanguageContents.Res_4038.Caption'|translate}}</option>
                                        <option value="0">{{'LanguageContents.Res_4202.Caption'|translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="span8">
                            <div class="control-group">
                                <label class="control-label" for="ObjectiveDescription">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                                <div class="controls">
                                    <textarea rows="3" ng-model="AdditionalObjective.ngObjectiveDescription" id="AdditionalObjectiveDescription"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input style="display: none;" type="submit" id="btnTempadditionalobj" class="ng-scope" invisible>
                </form>
                <div class="control-group">
                    <label class="control-label" for="ObjectiveType">{{'LanguageContents.Res_703.Caption'|translate}}</label>
                    <div class="controls">
                        <select ng-change="additionalAbjectiveTypeChange()" ui-select2 ng-model="AdditionalObjective.ngObjectiveType">
                            <option value="2" ng-selected="true">{{'LanguageContents.Res_4533.Caption'|translate}}</option>
                            <option value="3">{{'LanguageContents.Res_706.Caption'|translate}}</option>
                            <option value="4">{{'LanguageContents.Res_707.Caption'|translate}}</option>
                        </select>
                    </div>
                </div>
                <div id="nonNumericQuantitativediv" ng-show="nonNumericQuantivedisplay">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="checkbox control-group">
                                <label class="control-label" for="ObjectivenonNumericEnableComments">
                                    <input type="checkbox" ng-model="AdditionalObjective.ngObjectivenonNumericEnableCommentsCheck" id="ObjectivenonNumericEnableCommentsCheck" />
                                    {{'LanguageContents.Res_711.Caption'|translate}}
                                </label>
                            </div>
                        </div>
                        <div class="span8 nonNumeric">
                            <form class="form-float">
                                <div class="control-group">
                                    <div class="checkbox">
                                        <label class="control-label" for="AdditionalNonNumPlannedtarget">
                                            <input class="currencytextbox" type="checkbox" ng-model="AdditionalObjective.ngObjectivePlannedTargetCheck" id="ngObjectivePlannedTargetCheck" />
                                            {{'LanguageContents.Res_715.Caption'|translate}}
                                        </label>
                                    </div>
                                    <div class="controls">
                                        <input class="currencytextbox" type="text" ng-disabled="AdditionalObjective.ngObjectivePlannedTargetCheck==false" ng-model="AdditionalObjective.ngObjectivePlannedTarget" id="ngObjectivePlannedTarget" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="checkbox">
                                        <label class="control-label" for="AdditionalNonNumObjectiveTargetoutcome">
                                            <input type="checkbox" ng-model="AdditionalObjective.ngObjectiveTargetoutcomeCheck" id="ngObjectiveTargetoutcomeCheck" />
                                            {{'LanguageContents.Res_716.Caption'|translate}}
                                        </label>
                                    </div>
                                    <div class="controls">
                                        <input type="text" ng-disabled="AdditionalObjective.ngObjectiveTargetoutcomeCheck==false" ng-model="AdditionalObjective.ngObjectiveTargetoutcome" id="ngObjectiveTargetoutcome" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="ObjectivenonNumericUnits">{{'LanguageContents.Res_708.Caption'|translate}}</label>
                                    <div class="controls">
                                        <select ui-select2 ng-model="AdditionalObjective.ngObjectivenonNumericUnits" data-placeholder="Select Units">
                                            <option value="0">{{'LanguageContents.Res_39.Caption'|translate}}</option>
                                            <option ng-repeat="item in ObjectiveUnitsData" value="{{item.Id}}">{{item.Caption}}</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="qualititativediv" ng-show="qualitativedisplay">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="checkbox control-group">
                                <label class="control-label" for="ObjectiveQulaitativeEnableComments">
                                    <input type="checkbox" ng-model="AdditionalObjective.ngObjectiveQulaitativeEnableCommentsCheck" id="ObjectiveQulaitativeEnableCommentsCheck" />
                                    {{'LanguageContents.Res_711.Caption'|translate}}
                                </label>
                            </div>
                        </div>
                        <!--<div class="span6">
                        </div>-->
                    </div>
                </div>
                <div id="ratingsdiv" ng-show="ratingsdisplay">
                    <div class="row-fluid inlineBlock">
                        <div class="span4">
                            <div class="checkbox control-group">
                                <label class="control-label" for="ObjectiveRatingEnableComments">
                                    <input type="checkbox" ng-model="AdditionalObjective.ngObjectiveRatingEnableCommentsCheck" id="ObjectiveRatingEnableCommentsCheck" />
                                    {{'LanguageContents.Res_711.Caption'|translate}}
                                </label>
                            </div>
                        </div>
                        <div class="span5 ratings">
                            <div class="control-group">
                                <label class="control-label" for="ObjectiveRatings">{{'LanguageContents.Res_729.Caption'|translate}}</label>
                                <div class="controls">
                                    <table id="tblRatingright">
                                        <tbody id="tblAdditionalRatingbody" noofratingspresent="2"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="saveAdditionalobjectiveEntity()" id="AdditionalObjectiveWizardSave" ng-model="saveEntity" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button type="button" data-dismiss="modal" ng-click="createadditionalobjectivepopupClose()" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
