﻿<div id="Attachments" ng-class="{ 'tab-pane fade in active': ( subview == 'attachment' ) }" ng-controller="mui.planningtool.default.detail.attachmentCtrl">
    <div class="tab-line"></div>
    <div class="attachmentHolder" ng-include=" 'views/mui/dam.html' "></div>
    <!--<div ng-include="'views/mui/task/TaskCreation.html'"></div>-->
</div>
