﻿<div id="AttributegroupInTab" class="attGrpInTab">
    <div>
        <div class="btn-toolbar attGrpInTab-FilterPanel">
            <button class="btn btn-small">{{'LanguageContents.Res_1554.Caption'|translate}}</button>
            <div class="btn-group">
                <span class="filterName">{{'LanguageContents.Res_4900.Caption'|translate}}</span>
                <select class="multiselect" data-placeholder="Select filter" multiple="multiple" multiselectpartial></select>
            </div>
            <div class="btnPanelRight">
                <button class="btn btn-small" data-toggle="modal" data-target="#attrGrpImportDataPopup">Import Data</button>
                <button class="btn btn-primary btn-small">Add</button>
            </div>
        </div>
        <div class="attGrpInTabContent">
            <span class="noDataAvailable">{{'LanguageContents.Res_4515.Caption'|translate}}</span>
        </div>
    </div>

    <div id="attrGrpImportDataPopup" class="modal hide fade attrGrpImportDataPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="500">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H3">{{'LanguageContents.Res_4438.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="imD-HeaderMessage">
                    <span class="imD-h-noDataSource displayNone">{{'LanguageContents.Res_4640.Caption'|translate}}</span>
                    <div class="imD-h-dataSource">
                        <span class="imD-h-label">{{'LanguageContents.Res_4200.Caption'|translate}}:</span>
                        <span class="imD-h-invalid displayNone">{{'LanguageContents.Res_4452.Caption'|translate}}</span>
                        <span class="imD-h-ds-Name">{{'LanguageContents.Res_4830.Caption'|translate}}</span>
                    </div>
                </div>
                <div class="imd-Form">
                    <form class="form-horizontal">
                        <div class="control-group imd-Form-Header">
                            <label class="control-label">{{'LanguageContents.Res_587.Caption'|translate}}</label>
                            <div class="controls">
                                <label class="control-label align-left">{{'LanguageContents.Res_4258.Caption'|translate}}</label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{'LanguageContents.Res_1.Caption'|translate}}</label>
                            <div class="controls">
                                <select ui-select2 ng-model="" id="" data-placeholder="Task Name" ng-click="()">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{'LanguageContents.Res_23.Caption'|translate}}</label>
                            <div class="controls">
                                <select ui-select2 ng-model="" id="" data-placeholder="Date" ng-click="()">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{'LanguageContents.Res_4657.Caption'|translate}}</label>
                            <div class="controls">
                                <select ui-select2 ng-model="" id="" data-placeholder="Fill with" ng-click="()">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <input type="text" class="margin-top5x" placeholder="Value" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary">{{'LanguageContents.Res_4437.Caption'|translate}}</button>
            <button class="btn btn-small btn-primary">{{'LanguageContents.Res_4878.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
