﻿<div class="tab-pane fade active in" id="Members" ng-class="{ 'tab-pane fade in active': ( subview == 'member' ) }" ng-controller="mui.planningtool.default.detail.memberCtrl">
    <div id="membsersDiv" class="tab-line"></div>
    <div class="pull-right">
        <a class="btn btn-primary btn-small" ng-show="MemberAddIsLock && IsLock == false" ng-click="addMember()" href="javascript:void(0)">
            <span>{{'LanguageContents.Res_8.Caption'|translate}}</span>
        </a>
        <button type="button" ng-show="ShowGlobalAccess" ng-click="toggleAutoUserAccess()" id="showautouser" class="btn btn-small">{{GlobalAccessStatus.GlobalText}}</button>
    </div>
    <!-- BEGIN: Outer ngRepeat. -->
    <div class="box box-noborder" ng-repeat="newgroup in groups">
        <h3 class="stepHeader" ng-show="ShowMemberEntityHeader">
            <span ng-style="set_color(newgroup.ColorCode)" style="background-color: #{{newgroup.ColorCode}};" class="EntityShortText ng-binding">
                {{newgroup.ShortText}}
            </span>
            {{ newgroup.Name }}
        </h3>
        <div class="box box-noborder" ng-repeat="group in newgroup.Groups">
            <div class="box-header">
                <h4>{{ group.rolename }}</h4>
            </div>
            <!-- BEGIN: Inner ngRepeat. -->
            <div class="box-content">
                <div class="box-content-margin">
                    <div userid="friend.Userid" ng-class="{'memberBlock global': friend.IsInherited, 'memberBlock': !friend.IsInherited}" ng-repeat="friend in group.friends">
                        <div class="member">
                            <div class="row-fluid">
                                <div class="span3">
                                    <img ng-src="Handlers/UserImage.ashx?id={{friend.Userid}}&time={{DefaultImageSettings.ImageSpan}}" alt="no image" class="avatar" />
                                </div>
                                <div class="span9">
                                    <div class="block"><span class="name">{{ friend.UserName }}</span><span data-toggle="tooltip" my-qtip2 qtip-content="{{DecodedTextName(friend.InheritedFromEntityName)}}" ng-show="friend.IsInherited">({{ DecodedTextName(friend.InheritedFromEntityName) }})</span></div>
                                    <div class="info">{{ DecodedTextName(friend.QuickInfo1) }}</div>
                                    <div class="">{{  DecodedTextName(friend.QuickInfo2) }}</div>
                                </div>
                            </div>
                        </div>
                        <a class="CloseIcon"><i ng-hide="((friend.BackendRoleID ==1) || (friend.BackendRoleID ==8)||(friend.InheritedFromEntityid >0))" ng-click="deleteEntityMember(friend.Id, friend.UserName)" class="icon-remove"></i></a>
                    </div>
                </div>
            </div>
            <!-- END: Inner ngRepeat. -->
        </div>
    </div>

    <div class="box box-noborder" ng-repeat="group in groups1" ng-show="false">
        <div class="box-header">
            <h4>{{ group.EntityName }}</h4>
        </div>
        <div class="box-header">
            <h4>{{ group.rolename }}</h4>
        </div>
        <!-- BEGIN: Inner ngRepeat. -->
        <div class="box-content">
            <div class="box-content-margin">
                <div userid="friend.Userid" ng-class="{'memberBlock global': friend.IsInherited, 'memberBlock': !friend.IsInherited}" ng-repeat="friend in group.friends">
                    <div class="member">
                        <div class="row-fluid">
                            <div class="span3">
                                <img ng-src="Handlers/UserImage.ashx?id={{friend.Userid}}&time={{DefaultImageSettings.ImageSpan}}" alt="no image" class="avatar" />
                            </div>
                            <div class="span9">
                                <div class="block"><span class="name">{{ friend.UserName }}</span><span data-toggle="tooltip" my-qtip2 qtip-content="{{friend.InheritedFromEntityName}}" ng-show="friend.IsInherited">({{ friend.InheritedFromEntityName }})</span></div>
                                <div class="info">{{  DecodedTextName(friend.QuickInfo1) }}</div>
                                <div class="">{{ DecodedTextName(friend.QuickInfo2) }}</div>
                            </div>
                        </div>
                    </div>
                    <a class="CloseIcon"><i ng-hide="((friend.BackendRoleID ==1) || (friend.BackendRoleID ==8)||(friend.InheritedFromEntityid >0))" ng-click="deleteEntityMember(friend.Id, friend.UserName)" class="icon-remove"></i></a>
                </div>
            </div>
        </div>
        <!-- END: Inner ngRepeat. -->
    </div>
    <!-- END: Outer ngRepeat. -->

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="memberModal" style="display: none;">
        <div class="modal-header">
            <button ng-click="CloseAddmember()" aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">{{'LanguageContents.Res_11.Caption'|translate}}</h3>
        </div>
        <br />
        <div class="modal-body">
            <form class="form-inline">
                <input type="text" id="ddluser" autocomp ng-model="ddlUser" />
                <select ui-select2 name="ddlrole" id="ddlrole" ng-model="ddlrole">
                    <option value="">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                    <option ng-repeat="item in Roles" value="{{item.ID}}">{{item.Caption}}</option>
                </select>
                <a id="addentitymemberID" class="btn btn-primary" ng-click="addEntityMember()">{{'LanguageContents.Res_8.Caption'|translate}}</a>
            </form>
            <div>
                <table class="table table-normal-both table-normal-both-big-left" ng-show="memberList.length > 0">
                    <thead>
                        <tr>
                            <th><span></span></th>
                            <th><span>{{'LanguageContents.Res_32.Caption'|translate}}</span></th>
                            <th><span>{{'LanguageContents.Res_259.Caption'|translate}}</span></th>
                            <!--<th><span>{{'LanguageContents.Res_70}}</span></th>
                            <th><span>{{'LanguageContents.Res_261}}</span></th>-->
                            <th><span>{{'LanguageContents.Res_33.Caption'|translate}}</span></th>
                            <th><span>{{QuickInfo1AttributeCaption}}</span></th>
                            <th><span>{{QuickInfo2AttributeCaption}}</span></th>
                            <th><span></span></th>

                        </tr>
                    </thead>
                </table>
                <div class="MemberBlock">
                    <table class="table table-normal-both table-normal-both-big-left" ng-show="memberList.length > 0">
                        <tbody id="CreateNewMember">
                            <tr ng-show="item.IsInherited==false" ng-repeat="item in memberList" userid="{{item.Userid}}">
                                <td>
                                    <span>
                                        <img class="avatar" ng-src="Handlers/UserImage.ashx?id={{item.Userid}}&time={{DefaultImageSettings.ImageSpan}}" id="memberimg">
                                    </span>
                                </td>
                                <td><span>{{item.UserName}}</span></td>
                                <td><span>{{item.Role}}</span></td>
                                <!--<td><span>{{item.DepartmentName}}</span></td>
                                <td><span>{{item.Title}}</span></td>-->
                                <td><span>{{item.UserEmail}}</span></td>
                                <td><span>{{item.QuickInfo1}}</span></td>
                                <td><span>{{item.QuickInfo2}}</span></td>
                                <td>
                                    <span>
                                        <span><i ng-click="deleteOptions(item)" ng-show="item.FromGlobal==0" class="icon-remove icon-remove-app font14"></i></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="CloseAddmember()" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
