﻿<div id="Overview" ng-class="{ 'tab-pane fade in active': ( subview == 'overview' ) }" ng-controller="mui.planningtool.default.detail.overviewCtrl">
    <div class="tab-line"></div>
    <div id="OverviewDiv" class="row-fluid">
        <div class="span7">
            <div class="box" id="newsfeedDiv">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_1201.Caption'|translate}}</h4>
                    <div class="pull-right">
                        <div class="btn-group"><span class="filterName">{{'LanguageContents.Res_411.Caption'|translate}}</span><select class="multiselect" ng-change="FeedgroupFilterByOptionChange()" data-placeholder="Select filter" ng-model="Newsfilter.FeedgroupMulitipleFilterStatus" ng-options="item.ID as item.Name for item in Feedglist" multiple="multiple" multiselectpartial></select></div>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div class="newsFeedBlock">
                            <div class="newsFeedSection">
                                <div class="newComment">
                                    <div class="userAvatar"></div>
                                    <div data-role="textarea" class="textarea-wrapper">
                                        <div id="feedcomment" contenteditable="true" class="textarea" tabindex="0" ngfocus="if(document.getElementById('feedtextholder').innerHTML.replace(/ /g,'').length > 0){setTimeout(function(){document.getElementById('feedcomment').innerHTML = ''},1)};" ngblur="if(document.getElementById('feedcomment').innerHTML.replace(/(<([^>]+)>)/ig,'').replace(/ /g,'').length == 0){document.getElementById('feedcomment').innerHTML = '<span id=\'feedtextholder\' class=\'placeholder\'>Write a comment...</span>'};">
                                            <span id="feedtextholder" class="placeholder">{{'LanguageContents.Res_1202.Caption'|translate}}...</span>
                                        </div>
                                    </div>
                                    <div class="newsFeedPersonFilter">
                                        <select class="multiselect" multiple="multiple" multiselect-dropdown ng-options="opt.Userid as opt.UserName for opt in  EntityUserList" data-placeholder="Select Users" ng-model="PersonalUserIds"></select>
                                    </div>
                                    <button class="btn btn-small btn-primary" ng-click="AddNewsFeed()" type="submit">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
                                </div>
                                <ul class="mainComment" id="EntityFeedsdiv"></ul>
                                <div id="FeedContentdiv"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span5">
            <div class="box" id="StatusDiv">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_24.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <div ng-hide="LoadStatusblock" class="loadIcon-small">
                            <img alt="Loading" src="assets/img/loading.gif" /><span>{{'LanguageContents.Res_68.Caption'|translate}}...</span>
                        </div>
                        <form ng-show="LoadStatusblock" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputCountry">{{'LanguageContents.Res_1214.Caption'|translate}}</label><div class="controls">
                                    <select ui-select2 id="OverAllEntityStats" ng-model="OverAllEntityStatus" name="OverAllEntityStatus" data-placeholder="Entity Status" ng-click="UpdateEntityOverAllStatus();">
                                        <option ng-repeat="Aitem in EntityStatusResult" value="{{Aitem.ID}}">{{Aitem.StatusOptions}}</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-repeat="item in StatusAttributeData">
                                <div class="control-group">
                                    <label class="control-label" for="intimestatus">{{item.levelcaption}}</label><div class="controls">
                                        <div class="btn-group">
                                            <button id="btn_{{item.levelid}}" ng-disabled="updatecommnet==false" ng-click="getSelectedOptionvalue(item.levelid,item.selectvalue,item.selectid,item.optioncolorcode)" type="button" style="background-color: #{{item.optioncolorcode}} !important; border-color: #{{item .optioncolorcode; }} !important;" class="btn dropdown-toggle btn-small onTimeStatus-Btn" data-toggle="dropdown">
                                                {{item.selectvalue}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="option in item.leveloptions"><a class="onTimeStatus-Btn" href="javascript:void(0)" ng-click="changestatusoption(item.attributeid,option.Id,option.Caption,item.optioncomment,option.Level,'option',item.levelid,option.ColorCode)" style="background-color: #{{option.ColorCode}} !important; border-color: #{{item .optioncolorcode; }} !important;">{{option.Caption}} </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputCountryMultiSelect">{{item.levelcaption}} {{'LanguageContents.Res_1204.Caption'|translate}}</label><div class="controls">
                                        <div ng-show="updatecommnet==true"><a class="ng-pristine ng-valid ng-binding editable editable-click" ng-href="javascript:void(0);" ng-click="setfocusonComment(item.levelid,item.optioncomment);editable = 'name'" ng-hide="editable == 'name'">{{item.optioncomment}}</a></div>
                                        <div ng-hide="updatecommnet==true">
                                            <label class="control-label">{{item.optioncomment}}</label>
                                        </div>
                                        <span ng-show="editable == 'name'">
                                            <div class="form-inline">
                                                <input id="statuscomment_{{item.levelid}}" type="text" ng-model="item.optioncomment" name="name" size="30" class="ng-valid ng-valid-required ng-dirty overview1TimeComment-editable">
                                                <button ng-show="updatecommnet" class="btn btn-primary editable-submit" ng-click="changestatusoption(item.attributeid,item.selectid,item.selectvalue,item.optioncomment,2,'comment',item.levelid,item.optioncolorcode); editable = ''"><i class="icon-ok icon-white"></i></button>
                                                <button ng-show="cancelcommnet" class="btn editable-cancel" ng-click="ClearEntityComment(item.attributeid,item.levelid,'comment');editable = ''"><i class="icon-remove"></i></button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box" id="tasksSummary">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_1213.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin" ng-show="ShowLoadedTaskSummary">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1217.Caption'|translate}}</label><div class="controls">
                                    <div class="stripe">
                                        <span id="taskinprg"></span>
                                        {{TasksInprgress}}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1218.Caption'|translate}}</label><div class="controls">
                                    <div class="stripe">
                                        <span id="unassign"></span>
                                        {{Unassigned}}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="inputEditable" class="control-label">{{'LanguageContents.Res_1219.Caption'|translate}}</label><div class="controls">
                                    <div class="stripe">
                                        <span id="overduetask"></span>
                                        {{Overduetasks}}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="inputEditable" class="control-label">{{'LanguageContents.Res_84.Caption'|translate}}</label><div class="controls">
                                    <div class="stripe">
                                        <span id="unabletocomplete"></span>
                                        {{Unabletocomplete}}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-content-margin" ng-show="ShowEmptyTaskSummary">
                        {{'LanguageContents.Res_1223.Caption'|translate}}
                    </div>
                </div>
            </div>
            <div class="box" id="MilestonesDiv">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_1206.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div class="box-content-margin" id="MileStoneHolderUnLock">
                        <table class="table table-normal-right">
                            <thead>
                                <tr>
                                    <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_23.Caption'|translate}}</span></th>
                                    <th ng-show="false"><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                                    <th><span></span></th>
                                </tr>
                            </thead>
                            <tr ng-repeat="milestone in milestones">
                                <td my-qtip2 qtip-content="{{DecodedText(milestone.Name)}}"><span><a data-toggle="modal" ng-click="GetMilestoneByID(milestone)">{{DecodedText(milestone.Name)}}</a></span></td>
                                <td><span>{{ milestone["Due Date"]}}  {{ milestone["Due date"]}}</span></td>
                                <td ng-show="false"><span>{{DecodedText(milestone["Shortdescription"])}}</span></td>
                                <td><span><a xeditablemilestone href="javascript:;" id="person_name" data-type="milestonestatus" attributename="milestonestatus" data-pk="1" data-name="person_name" milestoneid="{{milestone.MileStoneId}}" milestonename="{{milestone.Name}}" milestoneduedate="{{milestone.DueDate2}}" milestoneshortdescription="{{milestone.Shortdescription}}" data-ng-model="person_name" data-placement="top" data-placeholder="Required" data-showbuttons="true" data-original-title="Status" class="editable editable-click">{{milestone.Status}}</a></span></td>
                                <td><span><a data-toggle="modal" ng-show="MilestoneIsLock" ng-click="DeleteMilestone(this)" href="#" data-toggle="modal"><i class="icon-remove"></i></a></span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="box-content-margin" id="MileStoneHolderLock">
                        <table class="table table-normal-right">
                            <thead>
                                <tr>
                                    <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_23.Caption'|translate}}</span></th>
                                    <th ng-show="false"><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                    <th><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                                    <th><span></span></th>
                                </tr>
                            </thead>
                            <tr ng-repeat="milestone in milestones">
                                <td><span>{{DecodedText(milestone.Name)}}</span></td>
                                <td><span>{{ milestone["Due Date"]}}  {{ milestone["Due date"]}}</span></td>
                                <td ng-show="false"><span>{{DecodedText(milestone["Shortdescription"])}}</span></td>
                                <td><span>{{milestone.Status}}</span></td>
                                <td><span></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="box-footer right">
                    <a class="btn btn-small btn-primary" ng-show="MilestoneIsLock" ng-click="AddMilestone()" href="javascript:void(0);">{{'LanguageContents.Res_8.Caption'|translate}}</a>
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="AddMilestoneModel" style="display: none;">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3 id="myModalLabel">{{'LanguageContents.Res_1212.Caption'|translate}}</h3>
                        </div>
                        <div class="modal-body">
                            <form class="notvalidate" name="EnityMilestone" id="EnityMilestone">
                                <div class="row-fluid" id="milestoneDataDiv"></div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button ng-click="update()" ng-model="UpdateAddMilestone" ng-show="EnableUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_1210.Caption'|translate}}</button>
                            <button ng-click="saveMilestone()" ng-model="AddMilestone" ng-show="EnableAdd" class="btn btn-small btn-primary" ng-disabled="horizontalform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
                            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="FinancialSumryDiv">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_1211.Caption'|translate}}</h4>
                    <div class="pull-right">
                        <span class="currencyIndicatorSelect"><span>{{'LanguageContents.Res_1713.Caption'|translate}}: </span>
                            <select class="currencySelector" ui-select2 ng-model="SelectedCostCentreCurrency.TypeId" ng-click="ChangeCostCentreCurrencyType();" data-placeholder="--Select--">
                                <option ng-repeat="item in CurrencyFormatsList" value="{{item.Id}}">{{item.ShortName}}</option>
                            </select></span>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content-margin">
                        <form class="form-horizontal">
                            <div class="control-group" id="financialchart"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="UsrGlobalAccss_entity" ng-show="IsGlobalAccessToShow">
                <div class="box">
                    <div class="box-header">
                        Shared Entity Access
                    </div>
                    <div class="box-content">
                        <div class="box-content-margin">
                            <div class="row-fluid">
                                <form class="form-horizontal">
                                    <div class="conrtol-group">
                                        <label class="control-label">Global role</label><div class="controls">
                                            <select id="entityGlobalAccess" ui-select2 id="ddlGlobalRole" multiple="multiple" ng-model="entityGlobalRole" ng-click="InsertUpdateEntityGlobalRole();" data-placeholder="Select Global Role">
                                                <option ng-repeat="item in listglobalrolesdata" value="{{item.Id}}">{{item.Caption}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box" id="DetailsDiv">
                <div class="box-header">
                    <h4>{{'LanguageContents.Res_38.Caption'|translate}}</h4>
                </div>
                <div class="box-content">
                    <div ng-show="detailsLoader" class="loadIcon-small">
                        <img alt="Loading" src="assets/img/loading.gif" /><span>{{'LanguageContents.Res_68.Caption'|translate}}...</span>
                    </div>
                    <div class="box-content-margin" ng-show="detailsData">
                        <form class="form-horizontal" id="overviewDetialblock">
                            <div class="control-group" id="dynamicdetail"></div>
                            <div>
                                <attributegroup-indetailblock item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupDetailBlock"></attributegroup-indetailblock>

                                <attribute-grouplistviewindetail item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupListDetailBlock"></attribute-grouplistviewindetail>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <attribute-group item-index="{{$index}}" item-imagecrop="getgroupid" item-imagefilename="{{attrgrpImagefileName}}" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupNotDetailBlock"></attribute-group>
            <attribute-grouplistview item-index="{{$index}}" item-imagefilename="{{attrgrpImagefileName}}" item-imagecrop="getgroupid" item-processed="processed.index" item-group-id="{{group.ID}}" item-title="{{group.Caption}}" item-is-lock="{{AttrLock}}" item-language-content="LanguageContent" ng-repeat="group in agroupListNotDetailBlock"></attribute-grouplistview>
        </div>
    </div>
    <div id="overviewUplaodImagediv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="ngUplaodImagediv" data-width="750px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H1">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="filescontainer">
            <div class="attachmentContainer">
                <div id="filelistoveruploader"></div>
            </div>
            <div class="attachment-dragfiles" id="dragfilesoveruploader">
                <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
                <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
                <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
                <div><a href="JavaScript:void(o);" id="pickfiles" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="attachment-progress pull-left" id="overViewUploaderTotalProgress"></div>
            <a id="uploadfiles" href="JavaScript:void(o);" class="btn btn-small btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a>
            <a id="pickfilesAlternate" href="JavaScript:void(o);" class="btn btn-small btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a>
            <a id="clearUploader" href="JavaScript:void(o);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
    </div>
    <div class="unknown100">
        <div class="modal-body" id="filescontainer100">
            <button id="pickfiles100" style="visibility: hidden" type="submit"></button>
        </div>
        <div id="UserProfilePic100" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                &nbsp;
            </div>
            <div class="modal-body">
                <div class="cropContainer">
                    <div class="cropBG">
                        <img src="" id="userpic100" />
                    </div>
                </div>
            </div>
            <div class="modal-footer"><a class="btn btn-small btn-primary" data-dismiss="modal" ng-click="SaveUploadedImage100();" href="JavaScript:void(0);">{{'LanguageContents.Res_4714.Caption'|translate}}</a><a aria-hidden="true" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</a></div>
        </div>
    </div>
    <div id="filescontaineroo" style="display: none;">
        <button id="pickfilesUploaderAttr" class="pickFiles" type="submit"></button>
    </div>
</div>

