﻿<div id="task" ng-class="{ 'tab-pane fade in active': ( subview == 'task' ) }" ng-controller="mui.planningtool.default.detail.taskCtrl">
    <!--<div ng-include="'views/mui/task/TaskCreation.html'"></div>-->
    <div class="tab-line"></div>
    <div id="taskDiv" class="btn-toolbar">
        <div class="btn-group">
            <span class="filterName">{{'LanguageContents.Res_411.Caption'|translate}}</span>
            <select class="multiselect" ng-change="FilterByOptionChange()" data-placeholder="Select filter" ng-model="GlobalTaskFilterStatusObj.MulitipleFilterStatus" ng-options="item.ID as item.Name for item in TaskStatusFilterObj.TaskStatusObj" multiple="multiple" multiselectpartial></select>
        </div>
        <div class="btn-group">
            <a data-toggle="modal" class="btn btn-small" ng-click="AllowTaskListSorting()" ng-show="IsLock == false" role="button" href="javascript:void(0)">{{TaskOrderListObj.TaskSortingStatus}}</a>
        </div>
        <div class="btn-group">
            <a data-toggle="modal" ng-show="IsLock == false" ng-click="addTaskList()" class="btn btn-small btn-primary" role="button">{{'LanguageContents.Res_1559.Caption'|translate}}</a>
        </div>
        <i class="icon-reorder pull-right menuIcon" id="tasklistOptionsMenuListIcon" data-toggle='modal' data-role="tasklistExportMenuholder" context="tasklistOptionsMenuList"></i>
        <button class="btn btn-link btn-small margin-left5x pull-right" ng-show="EntityTypeID!=5 && EntityTypeID!=10" ng-click="GetTaskFromSubLevel()" type="button">{{SubLevelEnableObject.SublevelText}}</button>
        <button id="Button2" ng-show="ngExpandCollapseStatus.ngExpandAll" class="btn btn-link btn-small pull-right" ng-click="ExpandAllTasks()" type="button">{{'LanguageContents.Res_4939.Caption'|translate}}</button>
        <button id="Button8" ng-show="!ngExpandCollapseStatus.ngExpandAll" class="btn btn-link btn-small pull-right" ng-click="CollapseAllTasks()" type="button">{{'LanguageContents.Res_4940.Caption'|translate}}</button>
    </div>
    <ul class="ListHolder nestedsorting maintask" id="ListHolderID">
        <h3 class="stepHeader" ng-show="SubLevelEnableObject.SublevelTextStatus == '0'">
            <span ng-style="set_bgcolor(EntityColorcode)" class="EntityShortText" style="background-color: #{{EntityColorcode}};">{{EntityShortText}}</span>
            {{DecodedTaskName(RootLevelEntityName)}}
        </h3>
        <li ng-repeat="item in groups" id="{{item.ID}}" class="TaskGroups TaskEntityList" data-entityid="{{item.EntityParentID}}" data-tlid="TL_{{item.ID}}" data-tasklistid="{{item.ID}}" data-expandstatus="{{item.IsExpanded}}" data-isparententity="true">
            <h4 data-isexpandparent="{{item.IsExpanded}}" data-ischildupdated="{{item.IsGetTasks}}" class="stepHeader">
                <i ng-class="{'icon-caret-down': item.IsExpanded, 'icon-caret-right': !item.IsExpanded}" data-name="IconChange_{{item.ID}}" id="ExpandICO_{{item.ID}}" data-entityid="{{item.EntityParentID}}" data-tasklistid="{{item.ID}}" data-tlid="TL_{{item.ID}}" data-expandcollapse="ExpandCollapse" data-isexapnd="{{item.IsExpanded}}"></i>
                <span class="libraryName" data-entityid="{{item.EntityParentID}}" data-tasklistid="{{item.ID}}" data-tlid="TL_{{item.ID}}" data-expandcollapse="ExpandCollapse" data-name="NameToggle" data-isexapnd="{{list.IsExpanded}}" data-handle="{{TaskOrderListObj.TaskOrderHandle}}" my-qtip2 qtip-content="{{TooltipTaskName(item.LibraryDescription)}}">{{DecodedTaskName(item.LibraryName)}}</span>
                <span id="ListName_{{item.ID}}"></span>
                <i class="icon-reorder pull-right menuIcon" data-toggle='modal' data-role="TaskListMenuOption" ng-show="IsLock == false" data-entityid="0" context="context1" ng-click="GetTaskListID(item.ID)" data-menuid="{{item.ID}}"></i>
                <a ng-click="addNewTask(item.ID)" ng-show="IsLock == false" role="button" class="btn btn-mini btn-primary pull-right" data-toggle="modal">{{'LanguageContents.Res_1009.Caption'|translate}}</a>
                <span id="TaskCountHolder_{{item.ID}}">( {{item.TaskCount}} tasks)</span>
            </h4>
            <ul id="TaskListHolderID_{{item.ID}}" data-role="TaskListHolder" class="TL_{{item.ID}} {{IsLock?'':'nestedsorting'}}" ng-show="item.IsExpanded">
                <li ng-class="StatusDivClasses(task.TaskStatus,task.totalDueDays,task.EntityTaskListID,task.TaskType)" class="" id="{{task.Id}}" ng-repeat="task in item.TaskList" ng-show="EnableDisableTask(task.TaskStatus,item.ID,task.TaskType) && item.TaskCount>0 && task.Name.length>0" data-entityid="{{item.EntityParentID}}" data-taskid="{{task.Id}}" data-tasklistid="{{task.TaskListID}}" data-tasktype="{{task.TaskType}}" data-isunassigned="{{task.TaskStatus}}" data-isparententity="true" data-order="{{$index}}">
                    <div class="row-fluid">
                        <div class="span5">
                            <i data-handle="true" class="icon-cog ListItemIcon"></i>
                            <span ng-style="set_bgcolor(task.colorcode)" style="background-color: #{{task.colorcode}};" class="eicon ListItem-eIcon">{{task.shortdesc}}</span>
                            <a my-qtip2 qtip-content="{{TooltipTaskName(task.Description)}}" class="name" href="javascript:void(0);" ng-click="populateTaskEditPopup(task.Id,task.EntityTaskListID,task.TaskType,task,task.TaskStatus, task.AssetId);">{{DecodedTaskName(task.Name)}}</a>
                        </div>
                        <div class="span2 taskStatus"><i class="icon-status"></i><span class="statusTxt">{{task.StatusName}} {{task.ProgressCount}}</span></div>
                        <div ng-show="task.strDate !=''" class="span2">
                            <span ng-show="task.totalDueDays !=0" class="duration">{{DueDateFormat(task.strDate)}} ({{task.totalDueDays}} {{'LanguageContents.Res_1556.Caption'|translate}})</span>
                            <span ng-hide="task.totalDueDays !=0" class="duration">{{DueDateFormat(task.strDate)}} {{'LanguageContents.Res_4002.Caption'|translate}}</span>
                        </div>
                        <div ng-hide="task.strDate !=''" class="span2"><span class="duration"></span></div>
                        <div class="span2" ng-hide="task.EntityTaskListID == 0">
                            <div></div>
                        </div>
                        <div class="span2" ng-show="task.EntityTaskListID == 0">
                            <div ng-show="task.taskAssigness !=null && task.TaskStatus!=0">
                                <div ng-show="task.taskAssigness.length == 1 ">
                                    <img my-qtip2 qtip-content="{{task.AssigneeName}}" ng-src="Handlers/UserImage.ashx?id={{task.AssigneeID}}&time={{NewTime}}" class="user" />
                                    <div my-qtip2 qtip-content="{{task.AssigneeName}}" class="username"><span>{{task.AssigneeName}}</span></div>
                                </div>
                                <div ng-hide="task.taskAssigness.length == 1 && task.TaskStatus!=0">
                                    <img my-qtip2 qtip-content="{{ShowTaskAssigneeTooltipContent(task.taskAssigness)}}" src="assets/img/Group.png" class="user noShadow" data-toggle="tooltip" />
                                    {{'LanguageContents.Res_1578.Caption'|translate}}
                                </div>
                            </div>
                            <div ng-hide="task.taskAssigness !=null ">
                                <div></div>
                            </div>
                        </div>
                        <div class="span1">
                            <span ng-show="IsShowTaskFlag && IsLock == false">
                                <i ng-hide="(task.EntityTaskListID == 0 && (task.TaskStatus > 0 && task.TaskStatus < 7))" class="icon-flag flag"></i>
                                <i ng-show="(task.EntityTaskListID == 0 && (task.TaskStatus > 0 && task.TaskStatus < 7))" data-role="TaskFlagOption" data-taskid="{{task.Id}}" data-entityid="{{task.EntityID}}" data-tasklist="{{item.ID}}" context="context3" ng-style="set_color(FlagColorOption(task))" style="color: #{{FlagColorOption(task)}};" class="icon-flag flag"></i>
                            </span>
                            <i class="icon-reorder menuIcon" data-toggle='modal' data-role="TaskMenuOption" ng-show="IsLock == false" data-taskstatus="{{task.TaskStatus}}" data-taskid="{{task.Id}}" data-entityid="{{task.EntityID}}" data-tasklist="{{item.ID}}" context="context2" data-tasktypeid="{{task.TaskType}}"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="ListHolder subtask" id="SubListHolderID">
        <li ng-repeat="sub in groupbySubLevelTaskObj">
            <h3 class="stepHeader">
                <span class="EntityShortText" ng-style="set_bgcolor(sub.EntityTypeColorCode)" style="background-color: #{{sub.EntityTypeColorCode}};">{{sub.EntityTypeShortDescription}}</span>
                {{DecodedTaskName(sub.EntityName)}}
            </h3>
            <ul id="SubTaskListHolderID" class="ListHolder" ng-repeat="list in sub.TaskListGroup">
                <li id="{{list.ID}}" class="SubTaskGroups TaskEntityList" data-tasklistid="{{list.ID}}" data-tlid="TL_{{list.ID}}" data-entityid="{{sub.EntityID}}" data-expandstatus="{{list.IsExpanded}}" data-isparententity="false">
                    <h4 data-isexpandparent="{{list.IsExpanded}}" data-ischildupdated="{{list.IsGetTasks}}" class="stepHeader">
                        <i ng-class="{'icon-caret-down': list.IsExpanded, 'icon-caret-right': !list.IsExpanded}" data-entityid="{{sub.EntityID}}" data-tasklistid="{{list.ID}}" data-tlid="TL_{{list.ID}}" data-expandcollapse="ExpandCollapse" data-isexapnd="{{list.IsExpanded}}"></i>
                        <span class="libraryName" data-entityid="{{sub.EntityID}}" data-tasklistid="{{list.ID}}" data-tlid="TL_{{list.ID}}" data-expandcollapse="ExpandCollapse" data-name="NameToggle" data-isexapnd="{{list.IsExpanded}}" data-handle="{{TaskOrderListObj.TaskOrderHandle}}" my-qtip2 qtip-content="{{DecodedTaskName(list.LibraryDescription)}}">{{DecodedTaskName(list.LibraryName)}}</span>
                        <span id="ListIcon_{{list.ID}}"></span>
                        <i class="icon-reorder pull-right menuIcon" data-toggle='modal' ng-show="IsLock == false" data-role="TaskListMenuOption" context="context1" data-entityid="{{sub.EntityID}}" data-menuid="{{list.ID}}"></i>
                        <a ng-click="addNewTaskfromSublevel(list.ID,sub.EntityID)" ng-show="IsLock == false" role="button" class="btn btn-mini btn-primary pull-right" data-toggle="modal">{{'LanguageContents.Res_1009.Caption'|translate}}</a><span id="SubTaskCountHolder_{{list.ID}}">( {{list.TaskCount}} tasks)</span>
                    </h4>
                    <ul class="TL_{{list.ID}} {{IsLock?'':'nestedsorting'}}" data-role="SubTaskListHolder" id="SubTaskListHolderID_{{list.ID}}" style="display: none;">
                        <li ng-class="StatusDivClasses(task.TaskStatus,task.totalDueDays,task.EntityTaskListID,task.TaskType)" class="" id="Li{{$index}}" ng-repeat="task in list.TaskList" ng-show="EnableDisableTask(task.TaskStatus,list.ID,task.TaskType) && list.TaskCount >0 && task.Name.length>0" data-entityid="{{sub.EntityID}}" data-taskid="{{task.Id}}" data-tasklistid="{{task.TaskListID}}" data-tasktype="{{task.TaskType}}" data-isunassigned="{{task.TaskStatus}}" data-isparententity="false">
                            <div class="row-fluid">
                                <div class="span5">
                                    <i data-handle="true" class="icon-cog ListItemIcon"></i>
                                    <span ng-style="set_bgcolor(task.colorcode)" style="background-color: #{{task.colorcode}};" class="eicon ListItem-eIcon">{{task.shortdesc}}</span>
                                    <a my-qtip2 qtip-content="{{TooltipTaskName(task.Description)}}" class="name" href="javascript:void(0);" data-toggle="tooltip" my-qtip2 qtip-content="{{task.Name}}" ng-click="OpenSublevelTaskPopUpAction(task.Id,task.EntityTaskListID,task.TaskType,task,task.TaskStatus,task.EntityID)">{{DecodedTaskName(task.Name)}}</a>
                                </div>
                                <div class="span2 taskStatus"><i class="icon-status"></i><span class="statusTxt">{{task.StatusName}} {{task.ProgressCount}}</span></div>
                                <div ng-show="task.strDate !=''" class="span2">
                                    <span ng-show="task.totalDueDays !=0" class="duration">{{DueDateFormat(task.strDate)}} ({{task.totalDueDays}} {{'LanguageContents.Res_1556.Caption'|translate}})</span>
                                    <span ng-hide="task.totalDueDays !=0" class="duration">{{DueDateFormat(task.strDate)}} {{'LanguageContents.Res_4002.Caption'|translate}}</span>
                                </div>
                                <div ng-hide="task.strDate !=''" class="span2"><span class="duration"></span></div>
                                <div class="span2" ng-hide="task.EntityTaskListID == 0">
                                    <div></div>
                                </div>
                                <div class="span2" ng-show="task.EntityTaskListID == 0">
                                    <div ng-show="task.taskAssigness !=null ">
                                        <div ng-show="task.taskAssigness.length == 1 ">
                                            <img position="right" my-qtip2 qtip-content="{{task.AssigneeName}}" ng-src="Handlers/UserImage.ashx?id={{task.AssigneeID}}&time={{NewTime}}" class="user" data-toggle="tooltip">
                                            <div class="username" my-qtip2 qtip-content="{{task.AssigneeName}}"><span>{{task.AssigneeName}}</span></div>
                                        </div>
                                        <div ng-hide="task.taskAssigness.length == 1">
                                            <img position="right" my-qtip2 qtip-content="{{task.AssigneeName}}" ng-src="assets/img/Group.png" class="user noShadow" data-toggle="tooltip">
                                            {{'LanguageContents.Res_1578.Caption'|translate}}
                                        </div>
                                    </div>
                                    <div ng-hide="task.taskAssigness !=null ">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span1" ng-show="IsLock == false">
                                    <i ng-hide="task.EntityTaskListID == 0 && (task.TaskStatus > 0 && task.TaskStatus < 7)" class="icon-flag flag"></i>
                                    <i ng-show="task.EntityTaskListID == 0 && (task.TaskStatus > 0 && task.TaskStatus < 7)" data-role="TaskFlagOption" data-taskid="{{task.Id}}" data-entityid="{{task.EntityID}}" data-tasklist="{{list.ID}}" context="context3" ng-style="set_color(FlagColorOption(task))" style="color: #{{FlagColorOption(task)}};" class="icon-flag flag"></i>
                                    <i class="icon-reorder menuIcon" data-toggle='modal' data-role="TaskMenuOption" ng-show="IsLock == false" data-taskstatus="{{task.TaskStatus}}" data-taskid="{{task.Id}}" data-entityid="{{task.EntityID}}" data-tasklist="{{list.ID}}" context="context2" data-tasktypeid="{{task.TaskType}}"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <div id="TaskattachmentPopup" class="modal attachmentVersionPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="filescontainer">
            <div class="attachmentContainer">
                <div id="TaskfilelistWorkFlow"></div>
            </div>
            <div class="attachment-dragfiles" id="TaskdragfilesAttachment">
                <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
                <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
                <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
                <div><a href="JavaScript:void(0);" id="pickfiles" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="attachment-progress pull-left" id="totalProgress"></div>
            <a id="uploadfiles" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a>
            <a id="pickfilesAlternate" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a>
            <a id="clearUploader" href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
    </div>

    <div id="AttachmentVersion" data-width="650" tabindex="-1" class="modal modal-overflow in attachmentVersionPopup" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>{{'LanguageContents.Res_4112.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div>
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="">{{'LanguageContents.Res_4039.Caption'|translate}}</label>
                            <div class="controls">
                                <input type="text" tabindex="-1" id="" class="select2-focusser select2-offscreen">
                                <div class="select2-drop select2-display-none select2-with-searchbox">
                                    <div class="select2-search">
                                        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input">
                                    </div>
                                    <ul class="select2-results"></ul>
                                </div>
                            </div>
                            <select id="ActiveVersionNo" ui-select2 ng-model="SelectedVersionID">
                                <option ng-repeat="Activeid in TaskVersionFileList | unique:'VersionNo'" value="{{Activeid.VersionNo}}">{{Activeid.VersionNo}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="attchmntTable">
                    <table class="table table-list table-normal-right">
                        <thead>
                            <tr>
                                <th><span>{{'LanguageContents.Res_1.Caption'|translate}}]</span></th>
                                <th><span>{{'LanguageContents.Res_4894.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_22.Caption'|translate}}</span></th>
                                <th>{{'LanguageContents.Res_31.Caption'|translate}}</th>
                                <th>{{'LanguageContents.Res_702.Caption'|translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in TaskVersionFileList">
                                <td>
                                    <span ng-show="IsLock == false">
                                        <i class="icon-file attachmentIcon-disable"></i>
                                        <a target="_blank" ng-href="download.aspx?FileID={{item.Fileguid}}&amp;FileFriendlyName={{item.Name}}&amp;Ext={{item.Extension}}">{{item.Name}}</a>
                                    </span><span ng-show="IsLock == true">{{item.Name}}</span>
                                </td>
                                <td><span>{{item.VersionNo}}</span></td>
                                <td><span>{{item.Description}}</span></td>
                                <td><span>{{item.StrCreatedDate}}</span></td>
                                <td><span>{{item.OwnerName}}</span></td>
                                <td class="col6">
                                    <a class="iconLink">
                                        <i class="icon-remove" ng-click="DeleteAttachmentVersionByID(item.Id,$index,item.ActiveFileVersionID)"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary" type="button" ng-click="SaveActiveVersion()">{{'LanguageContents.Res_4714.Caption'|translate}}</button>
            <button data-target="#TaskattachmentPopup" data-toggle="modal" class="btn btn-small btn-primary" ng-click="ChangeVersionNo()" type="button">{{'LanguageContents.Res_4.Caption'|translate}}</button>
            <button class="btn btn-small" data-dismiss="modal" type="button">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>

    <ul id="tasklistOptionsMenuList" style="display: none;" class="dropdown-menu contexMenu">
        <li><a tabindex="-1" href="javascript:void(0);" ng-click="ExportTasklisttoExcel('true')">{{'LanguageContents.Res_4256.Caption'|translate}}</a></li>
    </ul>

    <ul id="context1" style="display: none;" class="dropdown-menu contexMenu">
        <li><a tabindex="-1" href="javascript:void(0);" ng-click="GetTaskByID()">{{'LanguageContents.Res_1563.Caption'|translate}}</a></li>
        <li><a tabindex="-1" href="javascript:void(0);" ng-click="DuplicateEntityTaskListWithTasks()">{{'LanguageContents.Res_1562.Caption'|translate}}</a></li>
        <li><a tabindex="-1" href="javascript:void(0);" ng-click="DeleteEntityTaskList()">{{'LanguageContents.Res_4205.Caption'|translate}}</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="javascript:void(0);" ng-click="addNewTask(currentTaskListID)">{{'LanguageContents.Res_1009.Caption'|translate}}</a></li>
        <li style="display: none;"><a tabindex="-1" ng-click="OpenWorkTask(32,currentTaskListID)" href="javascript:void(0)">{{'LanguageContents.Res_4041.Caption'|translate}}</a></li>
        <li><a tabindex="-1" href="javascript:void(0);" ng-click="ExportTasklisttoExcel('false')">{{'LanguageContents.Res_4256.Caption'|translate}}</a></li>
        <li><a tabindex="-1" href="javascript:void(0);" ng-click="FetchUnassignedTasktoAssign()">{{'LanguageContents.Res_4491.Caption'|translate}}</a></li>
    </ul>

    <ul id="context2" style="display: none;" class="dropdown-menu contexMenu">
        <li id="TM1"><a tabindex="-1" href="javascript:void(0);" ng-click="SetToCompleteUnassignedTask()">{{'LanguageContents.Res_4745.Caption'|translate}}</a></li>
        <li id="TM2"><a tabindex="-1" href="javascript:void(0);" ng-click="DuplicateEntityTask()">{{'LanguageContents.Res_1564.Caption'|translate}}</a></li>
        <li id="TM3"><a tabindex="-1" href="javascript:void(0);" ng-click="UpdateTaskStatusNotApplicableUnassigned()">{{taskMenuOptionText}}</a></li>
        <li id="TM4"><a tabindex="-1" href="javascript:void(0);" ng-click="DeleteEntityTask()">{{'LanguageContents.Res_18.Caption'|translate}}</a></li>
    </ul>

    <ul id="context4" style="display: none;" class="dropdown-menu contexMenu">
        <li id="Li2"><a tabindex="-1" href="javascript:void(0);" ng-click="SendReminderNotification()">{{'LanguageContents.Res_1568.Caption'|translate}}</a></li>
        <li id="Li3"><a tabindex="-1" href="javascript:void(0);" ng-click="DeleteTaskMembers()">{{'LanguageContents.Res_1567.Caption'|translate}}</a></li>
    </ul>

    <ul id="context3" style="display: none;" class="dropdown-menu contexMenu">
        <li ng-show="TaskFlagList.length > 0" ng-repeat="item in TaskFlagList">
            <a href="javascript:void(0);" ng-click="flag(item.ColorCode)">{{item.Caption}}<i class="icon-large icon-flag" ng-style="set_color(item.ColorCode)" style="color: #{{item.ColorCode}};"></i></a>
        </li>
        <li ng-show="TaskFlagList.length == 0">
            <span>
                <label>
                    {{'LanguageContents.Res_4513.Caption'|translate}}
                </label>
            </span>
        </li>
    </ul>

    <ul id="context6" style="display: none;" class="dropdown-menu contexMenu">
        <li id="Li6">
            <a tabindex="-1" href="javascript:void(0);" ng-show="TaskBriefDetails.taskCheckList.length!=0" ng-click="DeleteEntityChecklists()">
                {{'LanguageContents.Res_4203.Caption'|translate}}
            </a>
        </li>
        <li id="Li7"><a tabindex="-1" href="javascript:void(0);" ng-click="AddCheckListNext()">{{'LanguageContents.Res_4045.Caption'|translate}}</a></li>
    </ul>

    <ul id="context5" style="display: none;" class="dropdown-menu contexMenu iv-p-contextMenu">
        <li id="Li12"><a tabindex="-1" data-toggle="modal" ng-click="CopytoGeneralAttachments($event);">{{'LanguageContents.Res_4172.Caption'|translate}}</a></li>
        <li id="Li13"><a tabindex="-1" href="javascript:void(0);" ng-click="addNewTaskfromEntity(MainSelectedTaskListId,TaskBriefDetails.taskAttachmentsList)">{{'LanguageContents.Res_4063.Caption'|translate}}</a></li>
        <li id="Li14"><a tabindex="-1" data-toggle="modal" ng-click="FillListoftasks(TaskBriefDetails.taskID)">{{'LanguageContents.Res_4061.Caption'|translate}}</a></li>
        <li id="Li15"><a tabindex="-1" data-toggle="modal" href="#AttachmentVersion" ng-show="showmanageverson" ng-click="ViewAllFiles()">{{'LanguageContents.Res_4473.Caption'|translate}}</a></li>
        <li id="Li16" ng-show="showattachbtninassetapproval"><a tabindex="-1" data-toggle="modal" href="#TaskattachmentPopup" ng-show="shownewversion" ng-click="ChangeVersionNo()">{{'LanguageContents.Res_4053.Caption'|translate}}</a></li>
        <li id="Li4" ng-hide="showattachbtninassetapproval">
            <div id="filescontainer_V">
                <a id="pickfiles_V" href="JavaScript:void(0);" ng-click="ChangeVersionNo();">{{'LanguageContents.Res_4053.Caption'|translate}}</a>
            </div>
        </li>
        <li id="Li17"><a tabindex="-1" data-toggle="modal" ng-click="ChangeFileFriendlyName()">{{'LanguageContents.Res_20.Caption'|translate}}</a></li>
        <li id="Li19"><a tabindex="-1" data-toggle="modal" ng-click="DeleteFile($event)">{{'LanguageContents.Res_18.Caption'|translate}}</a></li>
    </ul>

    <ul id="contextAttach" style="display: none;" class="dropdown-menu contexMenu">
        <li><a data-toggle="modal" ng-click="AddNewLinktoTask()">{{'LanguageContents.Res_1573.Caption'|translate}}</a></li>
        <li ng-hide="TaskBriefDetails.taskTypeId == 32 ||taskTypeId==32"><a href="#TaskattachmentPopup" data-toggle="modal" ng-click="addAditionalattachments();">{{'LanguageContents.Res_1580.Caption'|translate}}</a></li>
        <li><a href="#generalattachmentsPopup" data-toggle="modal" ng-click="openattachment();">{{'LanguageContents.Res_1574.Caption'|translate}}</a></li>
    </ul>

    <ul id="contextAssetAttachmentsInTaskPopup" style="display: none;" class="dropdown-menu contexMenu">
        <li ng-hide="TaskBriefDetails.taskTypeId == 32 || TaskBriefDetails.taskTypeId == 36 ||taskTypeId==32||taskTypeId==36"><a id="pickassetsAlternatetask" href="JavaScript:void(0);">{{'LanguageContents.Res_4040.Caption'|translate}}</a></li>
        <li>
            <a>
                <div ng-switch="AssetTaskentityselection">
                    <div ng-switch-when="task" id="divAssetTaskentityselection">
                        <!--<div ng-include=" 'views/mui/DAM/damtaskentityselection.html' "></div>-->
                    </div>
                </div>
            </a>
        </li>
    </ul>



    <div id="AddTaskMemberModal" class="modal memberPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="550px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H5">{{'LanguageContents.Res_11.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="Div4">
            <div class="memberList">
                <span class="infoText">{{'LanguageContents.Res_4481.Caption'|translate}}</span>
                <div class="memberTable">
                    <table class="table-noborder" id="AdditionalTaskMembers">
                        <tbody>
                            <tr ng-repeat="v in RemainMembers">
                                <td class="align-left">
                                    <label class="checkbox checkbox-custom pull-left">
                                        <input type="checkbox" data-userid="{{ v.Userid}}" data-roleid="{{v.Roleid}}" data-taskid="{{ TaskBriefDetails.taskID}}" data-username="{{v.UserName}}" data-departmentname="{{ v.DepartmentName}}" data-id="{{v.Id}}" data-role="{{v.Role}}" data-title="{{v.Title}}" data-useremail="{{v.UserEmail}}">
                                        <i class="checkbox" />
                                    </label>
                                    <span>{{v.UserName}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="RemainMembers.length == 0">
                        <span>
                            <label>
                                {{'LanguageContents.Res_1017.Caption'|translate}}
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="addMemberForm">
                <span class="infoText">{{'LanguageContents.Res_4159.Caption'|translate}}</span>
                <form class="form-inline">
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                    <input type="text" id="taskGlobaluser" autocomp ng-model="taskGlobaluser" />
                    <select ui-select2 name="ddltasklobalrole" id="ddlrole" ng-model="ddltasklobalrole">
                        <option value="">{{'LanguageContents.Res_71.Caption'|translate}}</option>
                        <option ng-repeat="item in Roles" value="{{item.ID}}">{{item.Caption}}</option>
                    </select>
                    <button class="btn btn-primary" ng-model="fillgrid" ng-click="addUsers()">{{'LanguageContents.Res_8.Caption'|translate}}</button>
                </form>

                <div class="globalMemberTable">
                    <div class="globalMemberTableHeader">
                        <table class="table  table-condensed">
                            <thead>
                                <tr>
                                    <th class="col1"></th>
                                    <th class="col2">{{'LanguageContents.Res_32.Caption'|translate}}</th>
                                    <th class="col3">{{'LanguageContents.Res_4711.Caption'|translate}}</th>
                                    <th class="col4"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="globalMemberTableContent">
                        <table class="table table-condensed">
                            <tbody>
                                <tr ng-repeat="member in globalEntityMemberLists">
                                    <td class="col1">
                                        <label class="checkbox checkbox-custom pull-left">
                                            <input disabled="disabled" type="checkbox" />
                                            <i class="checkbox checked" />
                                        </label>
                                    </td>
                                    <td class="col2">
                                        <span>{{member.UserName}}</span>
                                    </td>
                                    <td class="col3">
                                        <span>{{member.RoleName}}</span>
                                    </td>
                                    <td class="col4">
                                        <span>
                                            <a class="iconLink"><i class="icon-remove" ng-click="deleteGlobalTaskMembers(member)"></i></a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button ng-show="AddUnAssign && (RemainMembers.length > 0 || globalEntityMemberLists.length > 0)" ng-click="AddUnAssignedTaskAdditionalMembers()" id="ngAddUnassignTaskMember" ng-model="ngAddTaskMember" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
            <button ng-show="!AddUnAssign && (RemainMembers.length > 0 || globalEntityMemberLists.length > 0)" ng-click="AddTaskAdditionalMembers()" id="ngAddTaskMember" ng-model="ngAddTaskMember" class="btn btn-small btn-primary">{{'LanguageContents.Res_8.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
        </div>
    </div>

    <div id="TaskCreationModal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>{{'LanguageContents.Res_604.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="bs-docs-example">
                <div id="myTabRole">
                    <div ng-model="TaskListAddEdit" id="TaskListTab" class="tab-pane fade active in">
                        <div class="control-group">
                            <label class="control-label" for="Caption">{{'LanguageContents.Res_44.Caption'|translate}}</label>
                            <div class="controls">
                                <input name="inputcaption" ng-model="Caption" type="text" id="Caption" placeholder="Caption" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Description">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                            <div class="controls">
                                <textarea class="small-textarea" name="inputdescription" ng-model="Description" id="Textarea1" rows="3" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <span ng-show="itemform.inputcaption.$dirty && itemform.inputcaption.$error.required"></span>
                        <span ng-show="itemform.inputdescription.$dirty && itemform.inputdescription.$error.required"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="SaveTaskList()" id="UpdateTaskLibrary" ng-model="UpdateTaskLibrary" ng-show="EnableTaskListUpdate" class="btn btn-small btn-primary">{{'LanguageContents.Res_64.Caption'|translate}}</button>
            <button ng-click="SaveTaskList()" id="AddTaskLibrary" ng-model="AddTaskLibrary" ng-show="EnableTaskListAdd" class="btn btn-small btn-primary" ng-disabled="itemform.$invalid">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>


    <div id="TaskFileUpdateModal" class="modal fileUpdatePopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="600px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H6">{{FileWizardHeader}}</h3>
        </div>
        <div class="modal-body">
            <table class="table table-noborder" id="TaskFileControls">
                <tbody></tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a id="changeLinkFriendlyName" ng-show="LinkChange" href="JavaScript:void(0);" ng-click="SaveLinkObject()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</a>
            <a id="changeFriendlynameLink" ng-show="FileChange" href="JavaScript:void(0);" ng-click="SaveFileObject()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</a>
            <a href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
    </div>

    <div id="TaskaddLinkPopup" class="modal addLinkPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="400px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H7">{{HidecfnTitle}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group linkURL">
                    <label class="control-label">{{'LanguageContents.Res_1576.Caption'|translate}}</label>
                    <div class="controls">
                        <input type="text" id="TasktxtLinkName" ng-model="TasktxtLinkName" placeholder="Link Name" class="linkName" />
                        <select class="linkType" ui-select2 ng-model="linkType" id="tskdrplinktype" name="LinkType" data-placeholder="Select link Type">
                            <option ng-repeat="item in DefaultSettings.LinkTypes" value="{{item.Id}}">{{item.Type}}</option>
                        </select>
                        <br />
                        <input class="URLString" type="text" id="TasktxtLink" ng-model="TasktxtLinkURL" placeholder="URL" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a id="EditLink" href="JavaScript:void(0);" ng-click="EditAttachLink()" ng-show="EditLink" class="btn btn-small btn-primary">{{'LanguageContents.Res_4714.Caption'|translate}}</a>
            <a id="addLink" href="JavaScript:void(0);" ng-click="AttachLink()" ng-show="SaveLink" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</a>
            <a href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
    </div>

    <div id="TaskCheckListPopup" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="500px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H2">{{'LanguageContents.Res_4045.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <table class="table table-normal" id="Table1">
                <tbody>
                    <tr>
                        <td>{{'LanguageContents.Res_1.Caption'|translate}}</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="txtCheckListName" ng-model="txtCheckListName" placeholder="Checklist name">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a id="a4" href="JavaScript:void(0);" ng-click="SaveTaskCheckList()" class="btn btn-small btn-primary">{{'LanguageContents.Res_4714.Caption'|translate}}</a>
            <a href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_7.Caption'|translate}}</a>
        </div>
    </div>

    <div id="generalattachmentsPopup" data-width="650" tabindex="-1" class="modal modal-overflow in generalAttachmentsPopup" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>{{'LanguageContents.Res_411O.Caption'|translate}}</h3>
        </div>
        <div id="Div1" class="modal-body">
            <div class="row-fluid">
                <table class="table table-striped table-normal-left">
                    <thead>
                        <tr>
                            <th>
                                <span>
                                    <label class="checkbox checkbox-custom">
                                        <input type="checkbox" ng-click="attachmentid($event)" data-id="{{attachment.Id}}" data-extension="{{attachment.Extension}}">
                                        <i class="checkbox"></i>
                                    </label>
                                </span>
                            </th>
                            <th>{{'LanguageContents.Res_4390.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_4392.Caption'|translate}}</th>
                            <th>{{'LanguageContents.Res_702.Caption'|translate}}</th>
                        </tr>
                    </thead>
                </table>
                <div class="attchmntContainer">
                    <table id="attchmentListContainer" class="table table-striped table-normal-left">
                        <tbody>
                            <tr ng-repeat="attachment in GetAttachmentResponse">
                                <td>
                                    <span>
                                        <label class="checkbox checkbox-custom">
                                            <input type="checkbox" ng-click="attachmentid($event)" data-id="{{attachment.Id}}" data-extension="{{attachment.Extension}}">
                                            <i class="checkbox"></i>
                                        </label>
                                    </span>
                                </td>
                                <td><span class="color-primary">{{attachment.Name}}</span></td>
                                <td><span ng-bind="parseSize(attachment.Size)"></span></td>
                                <td><span></span>{{attachment.OwnerName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="noAttachment" ng-show="GetAttachmentResponse.length == 0">
                    <span>{{'LanguageContents.Res_4509.Caption'|translate}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary" data-dismiss="modal" ng-show="GetAttachmentResponse.length > 0" ng-click="SaveAttachfile()" type="button">{{'LanguageContents.Res_411O.Caption'|translate}}</button>
            <button class="btn btn-small btn-danger" data-dismiss="modal" type="button">{{'LanguageContents.Res_7.Caption'|translate}}</button>
        </div>
    </div>

    <div id="AddtoExistingTaskPopup" data-width="650" tabindex="-1" class="modal modal-overflow in" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>{{'LanguageContents.Res_4061.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <ul class="unstyled" ng-repeat="entity in ListofTasks" id="ExistingTaskPopupHolder">
                    <li>
                        <h3 class="stepHeader">
                            <span class="entityName" ng-style="set_bgcolor(entity.EntityTypeColorCode)" style="background-color: #{{entity.EntityTypeColorCode}};">{{entity.EntityTypeShortDescription}}</span>
                            {{DecodedTaskName(entity.EntityName)}}
                        </h3>
                        <ul class="unstyled" ng-repeat="list in entity.TaskListGroup">
                            <li>
                                <h4>{{list.LibraryName}}</h4>
                                <table class="table  table-normal-left">
                                    <tbody>
                                        <tr ng-repeat="task in list.TaskList" id="TaskListContainer">
                                            <td>
                                                <span>
                                                    <label class="checkbox checkbox-custom">
                                                        <input type="checkbox" ng-click="GetSelectedTasks(task,$event)" data-taskid="{{task.TaskID}}" data-id="{{task.Id}}">
                                                        <i class="checkbox"></i>
                                                    </label>
                                                </span>
                                            </td>
                                            <td><span>{{task.TaskName}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-primary" data-dismiss="modal" ng-click="SaveAttachfiletoSelectedTasks()" type="button">{{'LanguageContents.Res_1572.Caption'|translate}}</button>
            <button class="btn btn-small btn-danger" data-dismiss="modal" type="button">{{'LanguageContents.Res_7.Caption'|translate}}</button>
        </div>
    </div>


    <div id="multiassignTask" class="modal modal-overflow in TaskPopup TaskPopupTabbed" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="820px" style="display: none;">
        <div class="modal-header">
            <div class="row-fluid">
                <div class="span7">
                    <h3 id="H4">
                        <i class="icon-cog taskIcon"></i>
                        <a href="javascript:void(0);">{{'LanguageContents.Res_4490.Caption'|translate}}</a>
                    </h3>
                </div>
                <div class="span5">
                    <div class="taskPath">
                        <span class="taskPathlabel">{{'LanguageContents.Res_4831.Caption'|translate}}</span>
                        <ul class="breadcrumb">
                            <li ng-repeat="item in array" my-qtip2 qtip-content="{{DecodedTaskName(item.Name)}}">
                                <a ng-style="set_color(item.mystyle)" style="color: #{{item.mystyle}};" id="A6" data-uniquekey="{{item.UniqueKey}}" data-colorcode="{{item.ColorCode}}" data-shortdesc="{{item.ShortDescription}}" data-typeid="{{item.TypeID}}" ng-click="BreadCrumOverview(item.ID,item.TypeID)">{{DecodedTaskName(item.Name)}}</a>
                                <span ng-hide="$index == array.length-1" class="divider">/</span>
                            </li>
                        </ul>
                    </div>
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span7 leftSection">
                    <table class="table table-condensed table-noborder">
                        <thead>
                            <tr>
                                <th>
                                    <span>
                                        <label class="checkbox checkbox-custom pull-left">
                                            <input type="checkbox" ng-model="selectedAllunassignedtasks" ng-click="checkAllunassignedtasks($event)" id="Checkbox2" />
                                            <i class="checkbox" ng-class="{'checkbox checked':selectedAllunassignedtasks, 'checkbox': !selectedAllunassignedtasks}"></i>
                                        </label>
                                    </span>
                                </th>
                                <th><span class="ng-binding"><b>{{'LanguageContents.Res_4832.Caption'|translate}}</b></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in ListUnassignedTasks">
                                <td>
                                    <span>
                                        <label class="checkbox checkbox-custom pull-left">
                                            <input id="Checkbox1" type="checkbox" ng-click="RemoveCheckallUnassignedTaskSelection(list,$event)" ng-model="list.Selected" />
                                            <i class="checkbox" ng-class="{'checkbox checked':list.Selected, 'checkbox': !list.Selected}"></i>
                                        </label>
                                    </span>
                                </td>
                                <td><span>{{DecodedTaskName(list.TaskName)}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span5 rightSection">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label for="inputPassword" class="control-label">{{'LanguageContents.Res_4109.Caption'|translate}}</label>
                            <div class="controls">
                                <input id="UnassignedTaskMembersList" ng-change="showDialog(UnassignedTaskMembersList)" type="hidden" ui-select2="tagAllOptions" ng-model="UnassignedTaskMembersList" />
                            </div>
                        </div>
                        <div class="control-group margin-top5x">
                            <label class="control-label" for="inputPassword">{{'LanguageContents.Res_23.Caption'|translate}}:</label>
                            <div class="controls">
                                <a ng-click="editable = 'ListUnassignedTasksDueObjects.Duedate';DatepickerShow(ListUnassignedTasksDueObjects.Duedate,'ReassignedAssignedDatepicker')" ng-hide="editable == 'ListUnassignedTasksDueObjects.Duedate' || true == IsLock" href="javascript:void(0);">{{ListUnassignedTasksDueObjects.TaskDueDate}}<span ng-show="ListUnassignedTasksDueObjects.dueIn > 0">({{ListUnassignedTasksDueObjects.dueIn}} {{'LanguageContents.Res_1556.Caption'|translate}})</span><span ng-show="ListUnassignedTasksDueObjects.dueIn == 0 && ListUnassignedTasksDueObjects.Duedate!='-'">{{'LanguageContents.Res_4002.Caption'|translate}}</span><span ng-show="ListUnassignedTasksDueObjects.dueIn < 0 && ListUnassignedTasksDueObjects.Duedate!='-'">({{ListUnassignedTasksDueObjects.dueIn}} {{'LanguageContents.Res_1556.Caption'|translate}})</span></a>
                                <span ng-show="IsLock == true">{{ListUnassignedTasksDueObjects.TaskDueDate}}<span ng-show="ListUnassignedTasksDueObjects.dueIn > 0">({{ListUnassignedTasksDueObjects.dueIn}} {{'LanguageContents.Res_1556.Caption'|translate}})</span><span ng-show="ListUnassignedTasksDueObjects.dueIn == 0 && ListUnassignedTasksDueObjects.Duedate!='-'">{{'LanguageContents.Res_4002.Caption'|translate}}</span><span ng-show="ListUnassignedTasksDueObjects.dueIn < 0 && ListUnassignedTasksDueObjects.Duedate!='-'">({{ListUnassignedTasksDueObjects.dueIn}} {{'LanguageContents.Res_1556.Caption'|translate}})</span></span>
                                <span ng-show="editable == 'ListUnassignedTasksDueObjects.Duedate'">
                                    <div class="form-inline">
                                        <input id="ReassignedAssignedDatepicker" type="text" class="ng-pristine ng-valid ng-valid-required BlankDatePicker" ng-click="Calanderopen($event,calanderopened)" datepicker-popup="{{format}}" is-open="calanderopened" min-date="TaskDueDateMinValue" max-date="TaskDueDateMaxValue" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" size="30" name="dueDate" data-ng-change="reassignchangedate()" ng-model="ListUnassignedTasksDueObjects.Duedate" ng-show="editable == 'ListUnassignedTasksDueObjects.Duedate'" />
                                    </div>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="AssignUnassignTasktoMembers()" id="btnmultiassigntasks" class="btn btn-small btn-primary">{{'LanguageContents.Res_4106.Caption'|translate}}</button>
            <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>

    <div id="ExportTasklistReportPageModel" class="modal operationInProgressModal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
        <div aria-labelledby="myModalLabel" id="Div2">
            <div class="modal-header">
                <h2>{{'LanguageContents.Res_4257.Caption'|translate}}</h2>
            </div>
            <div class="modal-body">
                <div class="msgContainer">
                    <span class="bgIcon"></span>
                    <div id="exportTasklist" class="mssg">
                        <div class="mssgHeader">
                            <span class="headerIcon">
                                <img src="assets/img/loading.gif" alt="loadingImg" />
                            </span>
                            <span class="headerMsg">{{'LanguageContents.Res_4430.Caption'|translate}}...</span>
                        </div>
                        <div class="mssgContent">
                            <span class="descMsg">{{'LanguageContents.Res_4851.Caption'|translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="PopUpMembersToMoveTask" class="modal memberPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="550px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CancelDragDropPopup();">×</button>
            <h3 id="H3">{{'LanguageContents.Res_4051.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="Div5">
            <div class="movetask-memberList">
                <span class="infoText">{{'LanguageContents.Res_4481.Caption'|translate}}</span>
                <div class="movetask-memberTable">
                    <table class="table table-noborder memberImgTable" id="SourceMemberTable">
                        <thead>
                            <tr>
                                <th class="col1"></th>
                                <th class="col2">{{'LanguageContents.Res_32.Caption'|translate}}</th>
                                <th class="col3">{{'LanguageContents.Res_4711.Caption'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="srcItem in SourceCommonMembers">
                                <td>
                                    <label class="checkbox checkbox-custom pull-left">
                                        <input type="checkbox" data-userid="{{ srcItem.UserID}}" data-roleid="{{srcItem.RoleID}}" ng-disabled="srcItem.IstaskOwner">
                                        <i class="checkbox checked {{srcItem.IstaskOwner?'disabled':''}}" data-index="{{$index}}" />
                                    </label>
                                </td>
                                <td>
                                    <span>
                                        <span class="user-Avatar">
                                            <img ng-src="Handlers/UserImage.ashx?id={{srcItem.UserID}}&time={{NewTime}}" />
                                        </span>
                                        {{srcItem.UserName}}
                                    </span>
                                </td>
                                <td>

                                    <span>{{srcItem.RoleName}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span class="infoText">
                    {{'LanguageContents.Res_4859.Caption'|translate}}
                    {{'LanguageContents.Res_4929.Caption'|translate}}
                </span>
                <div class="movetask-memberTable">
                    <table class="table table-noborder" id="TargetMemberTable">
                        <tbody>
                            <tr ng-repeat="destItem in SourceExtraMembers">
                                <td>
                                    <label class="checkbox checkbox-custom pull-left">
                                        <input type="checkbox" data-userid="{{ destItem.UserID}}" ng-checked="destItem.Status" data-roleid="{{destItem.RoleID}}" ng-disabled="destItem.IstaskOwner">
                                        <i class="checkbox {{(destItem.Status || srcItem.IstaskOwner)?'checked':''}}  {{destItem.IstaskOwner?'disabled':''}}" data-index="{{$index}}" />
                                    </label>
                                </td>
                                <td>
                                    <span>
                                        <span class="user-Avatar">
                                            <img ng-src="Handlers/UserImage.ashx?id={{destItem.UserID}}&time={{NewTime}}" alt="User Image" />
                                        </span>
                                        {{destItem.UserName}}
                                    </span>
                                </td>
                                <td>
                                    <select id="Select1" ui-select2 ng-model="destItem.RoleID">
                                        <option ng-repeat="item in DestinationMemberRoles" value="{{item.ID}}">{{item.Caption}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-model="ngAddEntityTaskMember" ng-click="SaveDragandDropMember()" class="btn btn-small btn-primary">{{'LanguageContents.Res_15.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small btn-trash" ng-click="CancelDragDropPopup();">{{'LanguageContents.Res_7.Caption'|translate}}</button>
        </div>

    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal dynamicTreePopup" id="AssetCategoryTreeInTask" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="H8">{{'LanguageContents.Res_4734.Caption'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div id="dynamicAssetTypeTreeInTask">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
    </div>

    <div id="UplaodImagedivTask" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H9">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="filescontainertask">
            <div class="attachmentContainer">
                <div id="filelistfrUploadertask">
                </div>
            </div>
            <div class="attachment-dragfiles" id="dragfilesfruploadertask">
                <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
                <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
                <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
                <div><a href="JavaScript:void(o);" id="pickfilestask" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="attachment-progress pull-left" id="overViewUploaderTotalProgress"></div>
            <a id="uploadfilestask" href="JavaScript:void(o);" class="btn btn-small btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a>
            <a id="pickfilesAlternatetask" href="JavaScript:void(o);" class="btn btn-small btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a>
            <a id="clearUploadertask" href="JavaScript:void(o);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
    </div>

    <div id="filescontainerfrTask" style="display: none;">
        <button id="pickfilesUploaderAttrTask" class="pickFiles" type="submit"></button>
    </div>
    <div id="filescontainerooTaskCreate" style="display: none;">
        <button id="pickfilesUploaderAttrTaskCreate" class="pickFiles" type="submit"></button>
    </div>
    <div id="TemplateTaskApprovePageModel" class="modal loadingPopup" aria-hidden="true" aria-labelledby="TemplateTaskApprovePageModel" role="dialog" data-width="450" tabindex="-1" style="display: none;">
        <div aria-labelledby="TemplateTaskApprovePageModel" id="Div6">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2>{{'LanguageContents.Res_5590.Caption'|translate}}</h2>
            </div>
            <div class="modal-body">
                <span id="DamProgressPopup" class="popupContent">
                    <i class="icon-spinner icon-spin icon-large"></i>
                    <span class="headText">
                        {{'LanguageContents.Res_5591.Caption'|translate}}
                    </span>
                    <br />
                    <span class="subText">{{'LanguageContents.Res_5588.Caption'|translate}}</span>
                </span>
            </div>
        </div>
    </div>


</div>
