﻿<div id="Workflow" ng-class="{ tab-pane fade in active: ( subview == 'workflow' ) }" ng-controller="mui.planningtool.default.detail.workflowCtrl">
    <div id="workflowDiv" class="tab-line"></div>
    <div id="angular-accordion-container">
        <div>
            <button ng-click="workflowenablestatus()" ng-show="workflowlock" data-toggle="button" class="btn btn-primary btn-big ng-binding" type="button">{{workflowtoggle}}</button>
        </div>
        <div data-angular-accordion id="temptest" ng-show="ngworkflowenabledisable">
            <div data-angular-accordion-pane data-rownumber="{{group.RowNo}}" data-currentstepid="{{group.StepID}}" data-activetext="{{group.ActiveText}}" data-activetasks="{{group.TotalActiveTasks}}" data-title="{{group.title}}" data-isactivestep="{{group.isAct}}" data-isworkflowlocked="{{group.IsWorkFlowLocked}}" ng-repeat="group in groups">
                <div id="DynAccordionPanel">
                    <table class="table table-normal">
                        <thead>
                            <tr>
                                <th><span>{{'LanguageContents.Res_1005.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_24.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_1006.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_1007.Caption'|translate}}</span></th>
                                <th><span>{{'LanguageContents.Res_1008.Caption'|translate}}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in group.content">
                                <td><span><a href="javascript:void(0);" ng-click="OpenPopUpAction(item.ID,item.IsPredefined,item.PredefinedTaskID,group.StepID,item.Taskname,item.TaskTypeID,item.TaskTypeName)">{{item.Taskname}}</a></span></td>
                                <td>
                                    <span>
                                        {{item.Status}}
                                        <button id="{{item.ID}}" ng-click="SendUnassignedTask(item.ID,item.IsPredefined,item.PredefinedTaskID,group.StepID,group.title,item.Taskname,item.TaskTypeID,item.TaskTypeName)" ng-show="item.IsDoneShow" class="btn btn-mini btn-primary">{{'LanguageContents.Res_4215.Caption'|translate}}</button>
                                    </span>
                                </td>
                                <td><span>{{item.Deadline}}</span></td>
                                <td><span>{{item.Duein}} {{'LanguageContents.Res_1556.Caption'|translate}}</span></td>
                                <td><span><a data-toggle="tooltip" my-qtip2 qtip-content="{{item.GroupMembersNames}}" href="javascript:void(0);">{{item.Assignedto}}</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div class="row-fluid">
                        <div class="span2">
                            <button class="btn btn-primary btn-small" ng-show="AddTaskIsLock" ng-click="Callthis(group.StepID,group.title)">{{'LanguageContents.Res_1009.Caption'|translate}}</button>
                        </div>
                        <div class="span9"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-angular-accordion id="disableworkflowdiv" ng-show="ngworkflowdisable">
            <div class="Left"><span>{{'LanguageContents.Res_1002.Caption'|translate}}</span></div>
            <div class="Left">
                <span>
                    {{'LanguageContents.Res_1003.Caption'|translate}}
                    <br>
                    {{'LanguageContents.Res_1019.Caption'|translate}}.
                </span>
            </div>
        </div>
    </div>

    <div id="attachmentPopup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="750px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{'LanguageContents.Res_26.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="filescontainer">
            <div class="attachmentContainer">
                <div id="filelistWorkFlow">
                </div>
            </div>
            <div class="attachment-dragfiles" id="dragfilesAttachment">
                <div class="attachment-dragfiles-icon"><i class="icon-file"></i></div>
                <div class="attachment-dragfiles-Heading"><span>{{'LanguageContents.Res_27.Caption'|translate}}</span></div>
                <div class="attachment-dragfiles-text">- {{'LanguageContents.Res_813.Caption'|translate}} -</div>
                <div><a href="JavaScript:void(0);" id="pickfiles" class="btn">{{'LanguageContents.Res_28.Caption'|translate}}</a></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="attachment-progress pull-left" id="totalProgress"></div>
            <a id="uploadfiles" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_30.Caption'|translate}}</a>
            <a id="pickfilesAlternate" href="JavaScript:void(0);" class="btn btn-small btn-primary">{{'LanguageContents.Res_29.Caption'|translate}}</a>
            <a id="clearUploader" href="JavaScript:void(0);" class="btn btn-small" data-dismiss="modal" aria-hidden="true" ng-click="Clear();">{{'LanguageContents.Res_14.Caption'|translate}}</a>
        </div>
    </div>

    <div id="AddTaskContainerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="500px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H1">{{'LanguageContents.Res_1009.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="AddTaskContainer">
            <div class="control-group">
                <label class="control-label" for="TemplateID">{{'LanguageContents.Res_1010.Caption'|translate}}</label>
                <div class="controls">
                    <select ui-select2 id="TaskType" ng-change="OpenTaskPopUp()" ng-model="TaskType" name="TaskType" ng-options="item as item.Caption for item in tasksOptions">
                        <option value="">{{'LanguageContents.Res_1010.Caption'|translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
        </div>
    </div>

    <div id="TaskAddModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="500px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H2">{{'LanguageContents.Res_8.Caption'|translate}} {{CurrentTaskName}}</h3>
        </div>
        <div class="modal-body" id="TaskAddDiv">
            <div class="control-group">
                <label class="control-label" for="NewTaskName">{{'LanguageContents.Res_1005.Caption'|translate}}</label>
                <div class="controls">
                    <input type="text" ng-model="NewTaskName" id="NewTaskName" placeholder="Task Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="TaskDueDate">{{'LanguageContents.Res_23.Caption'|translate}}</label>
                <div class="controls">
                    <input type="text" data-date-format="dd-mm-yyyy" ng-click="Calanderopen($event,calanderopened)" datepicker-popup="{{format}}" is-open="calanderopened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-model="TaskDueDate" id="NewDueDate" placeholder="Due Date">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="TaskMembers">{{'LanguageContents.Res_1008.Caption'|translate}}</label>
                <div class="controls">
                    <select ui-select2 multiple="true" id="TaskMembersList" ng-model="TaskMembersList" name="TaskMembersList" ng-options="item as item.UserName + ' (' +item.Role+ ')' for item in EntityMemberList">
                        <option value="">{{'LanguageContents.Res_85.Caption'|translate}}</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="TaskDescription">{{'LanguageContents.Res_22.Caption'|translate}}</label>
                <div class="controls">
                    <input type="text" ng-model="TaskDescription" id="TaskDescription" placeholder="Description">
                </div>
            </div>
            <div class="control-group">
                <div class="box-content">
                    <div class="box-content-margin">
                        <div id="Div2">
                            <table class="table table-normal-right" id="Table1">
                                <thead>
                                    <tr>
                                        <th><span>{{'LanguageContents.Res_1.Caption'|translate}}</span></th>
                                        <th><span>{{'LanguageContents.Res_65.Caption'|translate}}</span></th>
                                        <th><span></span></th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-normal-right" id="Table2">
                                <tbody>
                                    <tr data-id="{{filesattch.Fileguid}}" ng-repeat="filesattch in AttachmentFilename">
                                        <td><span><a href="javascript:void(0);">{{filesattch.FileName}}</a></span></td>
                                        <td><span>{{filesattch.Size}}</span></td>
                                        <td><span><i class='icon-remove' ng-click="deleteAttachedFiles(filesattch)" data-role='delete'></i></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#attachmentPopup" role="button" class="btn btn-primary btn-small" data-toggle="modal" ng-click="fnTimeOut();">{{'LanguageContents.Res_67.Caption'|translate}}</a>
        </div>
        <div class="modal-footer">
            <button ng-click="SendTask()" id="SendTask" ng-model="SendTask" class="btn btn-small btn-primary">{{'LanguageContents.Res_1014.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
        </div>
    </div>

    <div id="WorkTaskModal" class="modal hide fade FundingRequestPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="960">
        <div class="modal-header">
            <div class="row-fluid">
                <div class="span6">
                    <h3>{{TaskBriefDetails.taskTypeName}}</h3>
                </div>
                <div class="span5">
                    <div class="pull-right">
                        <span class="softText">{{'LanguageContents.Res_4415.Caption'|translate}} {{EntityBreadCrumTypeName}}</span><br>
                        <b>{{RootLevelEntityName}}</b>
                    </div>
                </div>
                <div class="span1">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    <div class="tabbable tabbable-bordered">
                        <ul class="nav nav-tabs" id="TaskTabslist">
                            <li class="active"><a data-toggle="tab" href="#TaskOverview">{{'LanguageContents.Res_9.Caption'|translate}}</a></li>
                            <li class=""><a data-toggle="tab" href="#ActiveTaskAttachments">{{'LanguageContents.Res_35.Caption'|translate}}</a></li>
                            <li class=""><a data-toggle="tab" href="#ActiveTaskMembers">{{'LanguageContents.Res_11.Caption'|translate}}</a></li>
                        </ul>
                        <!--/nav-tabs -->
                        <div class="tab-content">
                            <div id="TaskOverview" class="tab-pane fade in active">
                                <div class="tab-line"></div>
                                <div class="row-fluid row-desktop">
                                    <div class="span8">
                                        <div class="row-fluid" ng-repeat="item in TaskBriefDetails.taskmembersList">
                                            <div class="span2">
                                                <img src="Handlers/UserImage.ashx?id={{item.Userid}}" alt="no image" class="userimg">
                                            </div>
                                            <div class="span2">
                                                <span class="softText">{{'LanguageContents.Res_1016.Caption'|translate}}</span><br />
                                                <a href="JavaScript: void(0);">{{item.UserName}}</a>
                                            </div>
                                            <div class="span2">
                                                <span class="softText">{{'LanguageContents.Res_260.Caption'|translate}}</span><br />
                                                <span>{{item.DepartmentName}}</span>
                                            </div>
                                            <div class="span2">
                                                <span class="softText">{{'LanguageContents.Res_261.Caption'|translate}}</span><br />
                                                <span>{{item.Title}}</span>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row-fluid requestBlock" ng-show="ShowFundBlock">
                                            <div class="span6">
                                                <div>{{'LanguageContents.Res_1703.Caption'|translate}}:</div>
                                            </div>
                                            <div class="span6">
                                                <div class="pull-right ng-binding">{{TaskBriefDetails.InRequests}} {{CurrencyFormat}}</div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row-fluid" class="detailBlock">
                                            <div class="span3">
                                                <span class="softText">{{'LanguageContents.Res_1007.Caption'|translate}}</span><br />
                                                <span class="{{Property.Status}}">{{TaskBriefDetails.dueIn}} {{'LanguageContents.Res_1556.Caption'|translate}}</span>
                                            </div>
                                            <div class="span3">
                                                <span class="softText">{{'LanguageContents.Res_23.Caption'|translate}}</span><br />
                                                <span>{{TaskBriefDetails.dueDate}}</span>
                                            </div>
                                            <div class="span3">
                                                <span class="softText">{{'LanguageContents.Res_73.Caption'|translate}}</span><br />
                                                <span>{{TaskBriefDetails.status}}</span>
                                            </div>
                                            <div class="span3">
                                                <span class="softText">{{'LanguageContents.Res_74.Caption'|translate}}</span><br />
                                                <a href="JavaScript: void(0);">{{TaskBriefDetails.taskOwner}}</a>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row-fluid" class="detailBlock">
                                            <div class="span12">
                                                <span class="softText">{{'LanguageContents.Res_22.Caption'|translate}}</span><br />
                                                {{TaskBriefDetails.Description}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="feedBlock">
                                            <div class="feed">
                                                <div class="postbox">
                                                    <div class="avatar">
                                                        <span class="user">
                                                            <img src="Handlers/UserImage.ashx?id={{OwnerID}}" data-role="user-avatar">
                                                        </span>
                                                    </div>
                                                    <div data-role="textarea" class="textarea-wrapper">
                                                        <div id="fundingreqfeedcomment" contenteditable="true" class="textarea" tabindex="0" ngfocus="if(document.getElementById('feedtextholder').innerHTML.replace(/ /g,'').length > 0){document.getElementById('fundingreqfeedcomment').innerHTML = ''};" ngblur="if(document.getElementById('fundingreqfeedcomment').innerHTML.replace(/(<([^>]+)>)/ig,'').replace(/ /g,'').length == 0){document.getElementById('fundingreqfeedcomment').innerHTML = '<span id=\'feedtextholder\' class=\'placeholder\'>Write a comment...</span>'};">
                                                            <span id="feedtextholder" class="placeholder">{{'LanguageContents.Res_1202.Caption'|translate}}...</span>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="submit" ng-click="AddfundingreqNewsFeed()">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
                                                </div>
                                                <hr>
                                                <ul class="feedcontent" id="fundingrequestfeeddiv"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ActiveTaskAttachments" class="tab-pane fade">
                                <div class="tab-line"></div>
                                <br>
                                <br>
                                <div class="box">
                                    <div class="box-header">
                                        <h4>{{'LanguageContents.Res_35.Caption'|translate}}</h4>
                                        <div class="pull-right">
                                            <a href="#attachmentPopup" role="button" class="btn btn-primary btn-small" data-toggle="modal" ng-click="addAditionalattachments();"><span>{{'LanguageContents.Res_4047.Caption'|translate}}</span></a>
                                        </div>
                                        <div class="box-icon" style='display: none;'>
                                            <a href="JavaScript:void(0);" class="btn btn-small" href="#" onclick="$('#listview').show(); $('#thumnailview').hide();"><i class="icon-reorder"></i></a>
                                            <a href="JavaScript:void(0);" class="btn btn-small" href="#" onclick="$('#listview').hide(); $('#thumnailview').show();"><i class="icon-th"></i></a>
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        <div class="box-content-margin">
                                            <div id="Div1">
                                                <table class="table table-normal-both" id="AttchmentColumn">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <span>
                                                                    <label class="checkbox checkbox-custom pull-right">
                                                                        <input id="RootLevelSelectAll" type="checkbox"><i class="checkbox"></i>
                                                                    </label>
                                                                </span>
                                                            </th>
                                                            <th>
                                                                <span>
                                                                    <img src="">{{'LanguageContents.Res_1.Caption'|translate}}
                                                                </span>
                                                            </th>
                                                            <th><span>{{'LanguageContents.Res_65.Caption'|translate}}</span></th>
                                                            <th><span>{{'LanguageContents.Res_517.Caption'|translate}}</span></th>
                                                            <th><span>{{'LanguageContents.Res_1502.Caption'|translate}}</span></th>
                                                            <th><span>{{'LanguageContents.Res_31.Caption'|translate}}</span></th>
                                                            <th><span>{{'LanguageContents.Res_1503.Caption'|translate}}</span></th>
                                                            <th><span></span></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <table class="table table-normal-both" id="AttchmentContent">
                                                    <tbody>
                                                        <tr data-id="{{filesattch.Id}}" ng-repeat="filesattch in attachedFiles">
                                                            <td>
                                                                <span>
                                                                    <label class='checkbox checkbox-custom pull-right'>
                                                                        <input type='checkbox'><i class='checkbox'></i>
                                                                    </label>
                                                                </span>
                                                            </td>
                                                            <td><span><a target="_blank" ng-href="download.aspx?FileID={{filesattch.Fileguid}}&amp;FileFriendlyName={{filesattch.Name}}&amp;Ext={{filesattch.Extension}}">{{filesattch.Name}}</a></span></td>
                                                            <td><span>{{filesattch.Size}}</span></td>
                                                            <td><span>{{filesattch.MimeType}}</span></td>
                                                            <td><span>{{filesattch.VersionNo}}</span></td>
                                                            <td><span>{{filesattch.CreatedOn.Year}}-{{filesattch.CreatedOn.Month}}-{{filesattch.CreatedOn.Day}}</span></td>
                                                            <td><span>{{RetrieveName(filesattch.Ownerid)}}</span></td>
                                                            <td><span><i class='icon-remove' data-role='delete'></i></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ActiveTaskMembers" class="tab-pane fade">
                                <div class="tab-line"></div>
                                <div class="pull-left">
                                    <a class="btn btn-primary btn-small" ng-click="addMember()" href="#AddTaskMemberModal" data-toggle="modal">
                                        <span>{{'LanguageContents.Res_8.Caption'|translate}}</span>
                                    </a>
                                </div>
                                <br>
                                <br>
                                <div class="row-fluid row-desktop">
                                    <div class="box box-noborder" ng-repeat="group in TaskMembergroups">
                                        <div class="box-header">
                                            <h4>{{ group.rolename }}</h4>
                                        </div>
                                        <!-- BEGIN: Inner ngRepeat. -->
                                        <div class="box-content">
                                            <div class="box-content-margin">
                                                <div userid="friend.Userid" class="memberBlock" ng-repeat="friend in group.friends">
                                                    <div class="member">
                                                        <div class="row-fluid">
                                                            <div class="span3">
                                                                <img src="Handlers/UserImage.ashx?id={{friend.Userid}}" alt="no image" class="avatar" />
                                                            </div>
                                                            <div class="span9">
                                                                <div class="name">{{ friend.UserName }}</div>
                                                                <div class="info">{{ friend.DepartmentName }}</div>
                                                                <div class="">{{ friend.Title }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="CloseIcon"><i ng-hide="((friend.Roleid ==1)||(friend.InheritedFromEntityid >0))" ng-click="deleteEntityMember(friend.Id, friend.UserName)" class="icon-remove"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END: Inner ngRepeat. -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,65)" id="withdrawtask" ng-show="ShowWithdrawBtn" ng-model="WithdrawTask" class="btn btn-small btn-danger">{{'LanguageContents.Res_76.Caption'|translate}}</button>
            </div>
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,10)" id="unabletocomplete" ng-show="ShowUnabletoCompleteBtn" ng-model="UnabletoComplete" class="btn btn-small">{{'LanguageContents.Res_84.Caption'|translate}}</button>
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,11)" id="ApproveTask" ng-show="ShowApproveBtn" ng-model="ApproveTask" class="btn btn-small btn-primary">{{'LanguageContents.Res_559.Caption'|translate}}</button>
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,12)" id="rejectRequest" ng-show="ShowRejectedBtn" ng-model="rejectRequest" class="btn btn-small btn-danger">{{'LanguageContents.Res_560.Caption'|translate}}</button>
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,9)" id="approveRequest" ng-show="ShowCompleteBtn" ng-model="approveRequest" class="btn btn-small btn-primary">{{'LanguageContents.Res_75.Caption'|translate}}</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>

    <div id="AddTaskMemberModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-width="450px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H3">{{'LanguageContents.Res_11.Caption'|translate}}</h3>
        </div>
        <div class="modal-body" id="memberDiv">
            <table class="table table-normal-both" id="AdditionalTaskMembers">
                <tbody ng-repeat="v in RemainMembers">
                    <tr>
                        <td>
                            <!--<span>-->
                            <label class="checkbox checkbox-custom pull-left">
                                <input type="checkbox" data-userid="{{ v.Userid}}" data-roleid="{{v.Roleid}}" data-taskid="{{ TaskBriefDetails.taskID}}" data-username="{{v.UserName}}" data-departmentname="{{ v.DepartmentName}}" data-id="{{v.Id}}" data-role="{{v.Role}}" data-title="{{v.Title}}" data-useremail="{{v.UserEmail}}">
                                <i class="checkbox" />
                            </label>
                            <span>{{v.UserName}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="RemainMembers.length == 0">
                <span>
                    <label>
                        {{'LanguageContents.Res_1017.Caption'|translate}}
                    </label>
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="AddTaskAdditionalMembers()" id="ngAddTaskMember" ng-show="RemainMembers.length > 0" ng-model="ngAddTaskMember" class="btn btn-small btn-primary">{{'LanguageContents.Res_1014.Caption'|translate}}</button>
            <button data-dismiss="modal" class="btn btn-small btn-trash">{{'LanguageContents.Res_7.Caption'|translate}}</button>
        </div>
    </div>

    <div id="FundingRequestApprovalModal" tabindex="-1" role="dialog" class="modal hide fade FundingRequestPopup" aria-labelledby="myModalLabel" aria-hidden="true" data-width="960">
        <div class="modal-header">
            <div class="row-fluid">
                <div class="span6">
                    <h3>{{TaskBriefDetails.taskTypeName}}</h3>
                </div>
                <div class="span5">
                    <div class="pull-right">
                        <span class="softText">{{'LanguageContents.Res_4415.Caption'|translate}} {{EntityBreadCrumTypeName}}</span><br>
                        <b>{{RootLevelEntityName}}</b>
                    </div>
                </div>
                <div class="span1">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>

            </div>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    <div class="tabbable tabbable-bordered">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#FinancialTaskOverview">{{'LanguageContents.Res_9.Caption'|translate}}</a></li>
                            <li class=""><a data-toggle="tab" href="#FinancialActiveTaskMembers">{{'LanguageContents.Res_11.Caption'|translate}}</a></li>
                        </ul>
                        <!--/nav-tabs -->
                        <div class="tab-content">
                            <div id="FinancialTaskOverview" class="tab-pane fade in active">
                                <div class="tab-line"></div>
                                <div class="row-fluid row-desktop">

                                    <div class="span7">
                                        <div class="row-fluid" ng-repeat="item in TaskBriefDetails.taskmembersList">
                                            <div class="span2">
                                                <img src="Handlers/UserImage.ashx?id={{item.Userid}}" alt="no image" class="userimg">
                                            </div>
                                            <div class="span5">
                                                <span class="softText">{{'LanguageContents.Res_1016.Caption'|translate}}</span><br />
                                                <a href="JavaScript: void(0);">{{item.UserName}}</a>
                                            </div>
                                            <div class="span5">
                                                <span class="softText">{{'LanguageContents.Res_1101.Caption'|translate}}</span><br />
                                                <span>{{TaskBriefDetails.CostCentreName}}</span>
                                            </div>
                                        </div>
                                        <div class="row-fluid requestBlock">
                                            <div class="span6">
                                                <div>{{'LanguageContents.Res_1703.Caption'|translate}}:</div>
                                                <div ng-show="TaskBriefDetails.IsCCOwner" class="softText">{{'LanguageContents.Res_1106.Caption'|translate}}</div>
                                                <div ng-show="TaskBriefDetails.IsCCOwner" class="softText">{{'LanguageContents.Res_1107.Caption'|translate}}</div>
                                            </div>
                                            <div class="span6">
                                                <div>{{TaskBriefDetails.InRequests}} {{CurrencyFormat}}</div>
                                                <div ng-show="TaskBriefDetails.IsCCOwner" class="align-right softText">{{TaskBriefDetails.TotalApprovedForthis}} {{CurrencyFormat}}</div>
                                                <div ng-show="TaskBriefDetails.IsCCOwner" class="align-right softText">{{TaskBriefDetails.TotalEntittApproveAmount}} {{CurrencyFormat}}</div>
                                            </div>
                                        </div>
                                        <div ng-show="TaskBriefDetails.IsCCOwner" class="row-fluid requestBlock">
                                            <div class="span6">
                                                <div class="softText">{{'LanguageContents.Res_1109.Caption'|translate}}:</div>
                                                <div class="softText">{{'LanguageContents.Res_72.Caption'|translate}}:</div>
                                                <div>{{'LanguageContents.Res_1108.Caption'|translate}}:</div>
                                            </div>
                                            <div class="span6">
                                                <div class="align-right softText">{{TaskBriefDetails.CCAvailable}} {{CurrencyFormat}}</div>
                                                <div class="align-right softText">-{{TaskBriefDetails.InRequests}} {{CurrencyFormat}}</div>
                                                <div class="align-right ng-binding">{{TaskBriefDetails.AfterApproval}} {{CurrencyFormat}}</div>
                                            </div>
                                        </div>
                                        <div class="row-fluid" class="detailBlock">
                                            <div class="span2">
                                                <span class="softText">{{'LanguageContents.Res_1007.Caption'|translate}}</span><br />
                                                <span class="{{Property.Status}}">{{TaskBriefDetails.dueIn}} {{'LanguageContents.Res_1556.Caption'|translate}}</span>
                                            </div>
                                            <div class="span2">
                                                <span class="softText">{{'LanguageContents.Res_23.Caption'|translate}}</span><br />
                                                <span>{{TaskBriefDetails.dueDate}}</span>
                                            </div>
                                            <div class="span3">
                                                <span class="softText">{{'LanguageContents.Res_73.Caption'|translate}}</span><br />
                                                <span>{{TaskBriefDetails.status}}</span>
                                            </div>
                                            <div class="span3">
                                                <span class="softText">{{'LanguageContents.Res_1736.Caption'|translate}}</span><br />
                                                <a href="JavaScript: void(0);">{{TaskBriefDetails.taskOwner}}</a>
                                            </div>
                                            <div class="span2">
                                                <span class="softText">{{'LanguageContents.Res_1734.Caption'|translate}}</span><br />
                                                <span>{{TaskBriefDetails.RequestDate}}</span>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="row-fluid" class="detailBlock">
                                            <div class="span12">
                                                <span class="softText">{{'LanguageContents.Res_22.Caption'|translate}}</span><br />
                                                {{TaskBriefDetails.Description}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span5">
                                        <div class="feedBlock">
                                            <div class="feed">
                                                <div class="postbox">
                                                    <div class="avatar">
                                                        <span class="user">
                                                            <img src="Handlers/UserImage.ashx?id={{OwnerID}}" data-role="user-avatar">
                                                        </span>
                                                    </div>
                                                    <div data-role="textarea" class="textarea-wrapper">
                                                        <div id="Financialfundingreqfeedcomment" contenteditable="true" class="textarea" tabindex="0" ngfocus="if(document.getElementById('financialfeedtextholder').innerHTML.replace(/ /g,'').length > 0){document.getElementById('Financialfundingreqfeedcomment').innerHTML = ''};" ngblur="if(document.getElementById('Financialfundingreqfeedcomment').innerHTML.replace(/(<([^>]+)>)/ig,'').replace(/ /g,'').length == 0){document.getElementById('Financialfundingreqfeedcomment').innerHTML = '<span id=\'feedtextholder\' class=\'placeholder\'>Write a comment...</span>'};">
                                                            <span id="financialfeedtextholder" class="placeholder">{{'LanguageContents.Res_1202.Caption'|translate}}...</span>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="submit" ng-click="AddfundingreqTaskNewsFeed()">{{'LanguageContents.Res_1204.Caption'|translate}}</button>
                                                </div>
                                                <hr>
                                                <ul class="feedcontent" id="finicialfundingrequestfeeddiv"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="FinancialActiveTaskMembers" class="tab-pane fade">
                                <div class="tab-line"></div>
                                <div class="pull-left">
                                    <a class="btn btn-primary btn-small" ng-click="addMember()" href="#AddTaskMemberModal" data-toggle="modal">
                                        <span>{{'LanguageContents.Res_8.Caption'|translate}}</span>
                                    </a>
                                </div>
                                <br>
                                <br>
                                <div class="row-fluid row-desktop">
                                    <div class="box box-noborder" ng-repeat="group in TaskMembergroups">
                                        <div class="box-header">
                                            <h4>{{ group.rolename }}</h4>
                                        </div>
                                        <!-- BEGIN: Inner ngRepeat. -->
                                        <div class="box-content">
                                            <div class="box-content-margin">
                                                <div userid="friend.Userid" class="memberBlock" ng-repeat="friend in group.friends">
                                                    <div class="member">
                                                        <div class="row-fluid">
                                                            <div class="span3">
                                                                <img src="Handlers/UserImage.ashx?id={{friend.Userid}}" alt="no image" class="avatar" />
                                                            </div>
                                                            <div class="span9">
                                                                <div class="name">{{ friend.UserName }}</div>
                                                                <div class="info">{{ friend.DepartmentName }}</div>
                                                                <div class="">{{ friend.Title }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="CloseIcon"><i ng-hide="((friend.Roleid ==1)||(friend.InheritedFromEntityid >0))" ng-click="deleteEntityMember(friend.Id, friend.UserName)" class="icon-remove"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END: Inner ngRepeat. -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,65)" id="Button5" ng-show="ShowWithdrawBtn" ng-model="WithdrawTask" class="btn btn-small btn-danger">{{'LanguageContents.Res_76.Caption'|translate}}</button>
            </div>
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,10)" id="Button4" ng-show="ShowUnabletoCompleteBtn" ng-model="UnabletoComplete" class="btn btn-small">{{'LanguageContents.Res_84.Caption'|translate}}</button>
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,11)" id="Button3" ng-show="ShowApproveBtn" ng-model="ApproveTask" class="btn btn-small btn-primary">{{'LanguageContents.Res_559.Caption'|translate}}</button>
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,12)" id="Button2" ng-show="ShowRejectedBtn" ng-model="rejectRequest" class="btn btn-small btn-danger">{{'LanguageContents.Res_560.Caption'|translate}}</button>
            <button ng-click="UpdateTaskStatus(TaskBriefDetails.taskID,9)" id="Button1" ng-show="ShowCompleteBtn" ng-model="approveRequest" class="btn btn-small btn-primary">{{'LanguageContents.Res_75.Caption'|translate}}</button>
            <button ng-click="" data-dismiss="modal" class="btn btn-small">{{'LanguageContents.Res_14.Caption'|translate}}</button>
        </div>
    </div>
</div>
